
<body class="">
<div class="warpper-inner">
    <div class="content-inside">
        <custom-header></custom-header>
        <div *ngIf="isLoader">
            <div class="loading-dialog"></div>
        </div>
    </div>
</div>
<custom-footer></custom-footer>

</body>