<!--<body class="dashboard">
    <div class="warpper-inner e-commerce">
      <div class="content-inside">
   <mini-header></mini-header>
   </div>
   <h1>Payment Unsucessfull !</h1>
   </div>
</body>-->



<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>

<body class="login loginBg">
  <div class="warpper-inner paypal">
    <div class="content-inside">
      <section class="steps">
        <div class="container">
          <div id="row">
            <div class="signUpBox">
              <div class="logo cancel">
                <img alt="" class="img-responsive" src="asset/img/logo.jpg">
              </div>
              <table class="thanku-wrapper thankuTable cancel" width="80%" align="center">
                <tr>
                  <td align="center" class="trthanks">
                    <h1 class="text-danger">Payment unsucessfull</h1>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div class="thankyou-msg">
                      Payment unsuccessfull. Please try again.
                    </div>
                    <p class="mt-20">
                      <a id="" [routerLink]="['/e-commerce-home']" class="btn btn-success  gotoHomePage" target="_self">GO TO HOME PAGE</a>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>