.CompanyMappingBody {
    margin-top: 12px !important; padding: 12px !important;
    width: 30%;
    background: #fff;
    margin-right:21px;
}

.ResetBtn {
  height: 30px;
  font-weight: normal;
  margin-bottom: 15px;
}
