<body class="" *ngIf="userCredential && userDetail">
    <div class="warpper-inner">
        <div class="content-inside">
            <custom-header></custom-header>
            <div *ngIf="isLoader">
                <div class="loading-dialog"></div>
            </div>
            <section class="breadcrum_bg wBg">
                <div class="container-fluid">
                    <p>
                        <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
                        <img src="asset/img/angle-right.png">
                        <a> ADMIN </a>
                        <img src="asset/img/angle-right.png"> Company Mapping
                    </p>

                </div>
            </section>
            <section class="">

                <div class="col-md-12 nodadding" style="display: flex;margin-bottom: 12px;">
                    <div class="CompanyMappingBody">
                        <div class="modelInput" style="margin-bottom: 0px">
                            <label for="UserName">Category</label>
                            <select name="" [(ngModel)]="selectedCategory" class="SlectBox" (change)="categoryChange()" placeholder="Select a Category">
                                <option value="0" selected disabled>--Select Business Category--</option>
                                <option value="1">Testing</option>
                                <option value="2">Inspection</option>
                                <option value="3">FCAI</option>
                            </select>
                        </div>
                        <div class="inputDesign modelInput autoComplete">
                            <label for="UserName">Select Company</label>
                            <div class="custom_box modelSelect">
                                <input auto-complete [(ngModel)]="inputCompany" (ngModelChange)="getCompanyVendors(inputCompany)" [ngModelOptions]="{standalone: true}"
                                    [source]="companyList" placeholder="Company Name" display-property-name="CompanyName" value-property-name=null
                                    [list-formatter]="renderCompany" close-on-focusout="true" />
                            </div>
                        </div>
                        <div class="modelInput Modalmultiselectcheck" style="margin-bottom: 20px;font-size: 14px;margin-top: 20px;">
                            <label for="UserName">Select Vendor </label>
                            <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="mappingModal.VendorId" [options]="vendors" [texts]="vendorText"></ss-multiselect-dropdown>

                        </div>
                        <div class="modelInput Modalmultiselectcheck" style="margin-bottom: 20px;font-size: 14px;margin-top: 20px;">
                            <label for="UserName">Select Manufacturer </label>
                            <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="mappingModal.ManufactureId" [options]="manufacturers" [texts]="manufacturerText"></ss-multiselect-dropdown>
                        </div>

                        <div class="modelInput Modalmultiselectcheck" style="margin-bottom: 20px;font-size: 14px;margin-top: 20px;">
                            <label for="UserName">Select Agent </label>
                            <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="mappingModal.AgentId" [options]="agents" [texts]="agentText"></ss-multiselect-dropdown>
                        </div>

                        <button type="button" class="btn btn-primary" (click)="saveCompanyMapping()">Submit</button>
                        <button type="button" class="btn btn-default" (click)="removeMapping()">Reset</button>
                        <!-- <button type="button" class="btn btn-primary" *ngIf="!EnableMatrixMapping"  style="float: right;" (click)="EnableMatrixMapping='true'">Add Matrix Mapping</button> -->
                        <button type="button" class="btn btn-primary" *ngIf="EnableMatrixMapping" style="float: right;" (click)="showHideButton('false')">Show Client Mapping</button>
                        <button type="button" class="btn btn-primary" *ngIf="!EnableMatrixMapping" style="float: right;" (click)="getMatrixMapping()">Add Matrix Mapping</button>
                    </div>

                    <div class="filter" style="margin-top: 12px;height:auto !important;width:70%">

                        <div *ngIf="EnableMatrixMapping">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="row  inputDesign modelInput autoComplete" style="margin-bottom: 0px!important;">
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <select name="" class="SlectBox" [(ngModel)]="SelectedBusinessId" class="SlectBox" (change)="BusinesscategoryChange()"
                                                    placeholder="Select Business Category">
                                                    <option value=0>Select Business Category</option>
                                                    <option value=1>Testing</option>
                                                    <option value=2>Inspection</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="mappedClient" [ngModelOptions]="{standalone: true}" [source]="CompnayListArray.mappingCompanyClientList"
                                                        (ngModelChange)="onCompnayListChange('Client')" placeholder="Client Name"
                                                        display-property-name="CompanyName" value-property-name=null [list-formatter]="renderCompany"
                                                        close-on-focusout="true" />
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="mappedAgent" [ngModelOptions]="{standalone: true}" [source]="CompnayListArray.mappingAgentList"
                                                        placeholder="Agent Name" (ngModelChange)="onCompnayListChange('Agent')"
                                                        display-property-name="CompanyName" value-property-name=null [list-formatter]="renderCompany"
                                                        close-on-focusout="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row  inputDesign modelInput autoComplete" style="margin-bottom: 0px!important;">
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="mappedVendors" [ngModelOptions]="{standalone: true}" [source]="CompnayListArray.mappingVendorList"
                                                        placeholder="Vendor Name" (ngModelChange)="onCompnayListChange('Vendor')"
                                                        display-property-name="CompanyName" value-property-name=null [list-formatter]="renderCompany"
                                                        close-on-focusout="true" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="mappedManufacturer" [ngModelOptions]="{standalone: true}" [source]="CompnayListArray.mappingManufacturerList"
                                                        placeholder="Manufacturer Name" display-property-name="CompanyName" value-property-name=null
                                                        [list-formatter]="renderCompany" close-on-focusout="true" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn-primary-one searchBtn"     style="min-width: 90px;" (click)="addCompanymapping()"> Submit</button>
                                                <button type="button" class="btn btn-default ResetBtn" style="min-width: 90px;"(click)="ResetCompanyMatrix()"> Reset</button>
                                                <!-- <button type="button" *ngIf="MatrixMappingArray?.length>0" class="btn btn-primary searchBtn " style=" float: right;" (click)="SaveCompanyMappingMatrix()"> Save Mapping</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section class="DataGrid">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 nodadding">
                                            <div class="table-responsive">
                                                <table class="table manageUserTable">
                                                    <thead class="head">
                                                        <tr>
                                                            <th>Category Name </th>
                                                            <th>Company Name </th>
                                                            <th>Agent Name</th>
                                                            <th>Vendor Name </th>
                                                            <th>Manufacturer Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <tr *ngFor="let client of configurationList.clientConfigurationList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem};let i= index"> -->
                                                        <tr *ngFor="let Company of AllMatrixMappingArray;let i= index">
                                                            <td>
                                                                <span *ngIf="Company.BusinessCategoryId =='1'"> Testing </span>
                                                                <span *ngIf="Company.BusinessCategoryId =='2'"> Inspection </span>
                                                            </td>
                                                            <td>{{Company.ClientCompanyName}}</td>
                                                            <td>{{Company.AgentName}}</td>
                                                            <td>{{Company.VendorName}}</td>
                                                            <td>{{Company.ManufacturerName}}</td>
                                                            <td>
                                                                <i (click)="RemoveMappingMatrix(Company.MatrixId,i)" style="cursor: pointer;color: red;font-size: 19px;" class="fa fa-trash"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- <section class="DataGrid" *ngIf="MatrixMappingArray?.length>0">
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12" style=" float: right;">
                                    <button type="button" class="btn btn-primary searchBtn " style=" float: right;" (click)="SaveCompanyMappingMatrix()"> Save Mapping</button>                              
                                </div>
                            </section> -->
                        </div>

                        <div *ngIf="!EnableMatrixMapping">
                            <tabset>
                                <tab title="Vendor List" id="tab1">
                                    <section class="DataGrid">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12 nodadding">
                                                    <div class="table-responsive">
                                                        <table class="table manageUserTable">
                                                            <thead class="head">
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Company Name </th>
                                                                    <th>Company Email </th>
                                                                    <th>Company Adress</th>
                                                                    <th>Contact N0. </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let Company of clientVendorList;let i= index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{Company.CompanyName}}</td>
                                                                    <td>{{Company.Email}}</td>
                                                                    <td>{{Company.CompanyAddress}}</td>
                                                                    <td>{{Company.ContactNo}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>


                                </tab>
                                <tab title="Manufacturer List">
                                    <section class="DataGrid">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12 nodadding">
                                                    <div class="table-responsive">
                                                        <table class="table manageUserTable">
                                                            <thead class="head">
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Company Name </th>
                                                                    <th>Company Email </th>
                                                                    <th>Company Adress</th>
                                                                    <th>Contact N0. </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let Company of clientManufacturerList;let i= index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{Company.CompanyName}}</td>
                                                                    <td>{{Company.Email}}</td>
                                                                    <td>{{Company.CompanyAddress}}</td>
                                                                    <td>{{Company.ContactNo}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </tab>
                                <tab title="Agent List">
                                    <section class="DataGrid">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12 nodadding">
                                                    <div class="table-responsive">
                                                        <table class="table manageUserTable">
                                                            <thead class="head">
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Company Name </th>
                                                                    <th>Company Email </th>
                                                                    <th>Company Adress</th>
                                                                    <th>Contact N0. </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let Company of clientAgentList;let i= index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{Company.CompanyName}}</td>
                                                                    <td>{{Company.Email}}</td>
                                                                    <td>{{Company.CompanyAddress}}</td>
                                                                    <td>{{Company.ContactNo}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </tab>
                            </tabset>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <custom-footer></custom-footer>

</body>