<body class="" *ngIf="userDetail && userCredential">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> MY Order </a>
            <img src="asset/img/angle-right.png" /> Product Disposition
          </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <form id="Filterbtn" class="collapse in">
                <div class="row form inputMatrial">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <div class="custom_Date">
                      <my-date-range-picker [placeholder]="'Booking Date'" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="custom_Date">
                      <my-date-range-picker class="date-pick" [placeholder]="'Report Issue Date'" [options]="myDateRangePickerOptions" (dateRangeChanged)="logoutonDateRangeChanged($event)">
                      </my-date-range-picker>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <md-input type="text" [(ngModel)]="searchParam.SearchText[0].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Report #"></md-input>
                  </div>
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[1].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Style No"></md-input>
                                  </div>-->

                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[2].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Sample Description"></md-input>
                                  </div>-->

                </div>
                <div class="row form inputMatrial">
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[2].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Sample Description"></md-input>
                                  </div>-->
                  <div *ngFor="let dColumns of dynamicSearchColumns" class="col-md-3 col-lg-3 col-sm-3 col-xs-12 test">
                    <md-input type="text" [(ngModel)]="dColumns.ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="{{dColumns.ColumnDataValue}}"></md-input>
                  </div>
                </div>
                <div>
                  <div class="row inputDesign" *ngFor="let searchC of additionalSearch;let i = index; let last = last">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" *ngIf="i > 0">
                      <select name="" class="SlectBox resetSelect" [(ngModel)]="searchC.LogicalOperator" [ngModelOptions]="{standalone: true}">
                        <option value="">Select LogicalOperator</option>
                        <option value="AND">And </option>
                        <option value="OR">Or </option>
                      </select>
                    </div>
                    <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                      <select class="SlectBox" [(ngModel)]="searchC.ColumnName" [ngModelOptions]="{standalone: true}">
                        <option value="">Select Column</option>
                        <option [value]="column.ColumnName" *ngFor="let column of columnList">{{column.ColumnDataValue}}</option>
                      </select>
                    </div>
                    <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                      <select class="SlectBox" [(ngModel)]="searchC.Operator" [ngModelOptions]="{standalone: true}">
                        <option value="">Select Operator</option>
                        <option value="5">Contains</option>
                        <option value="1">Equal </option>
                        <option value="2">Not Equal </option>
                        <option value="3">Starts With </option>
                        <option value="4">Ends With </option>
                      </select>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                      <input type="text" placeholder="Keyword" [(ngModel)]="searchC.ColumnValue" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                      <button type="button" class="btn btn-danger searchBtnIcon" (click)="removeSearch(i)">
                        <i class="fa fa-minus"></i>
                      </button>
                      <button type="button" style="margin-right: 10px;" *ngIf="last" class="btn btn-primary searchBtnIcon" (click)="addSearch()">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button type="button" *ngIf="last" class="btn btn-success searchBtn " (click)="search(1)"> Search</button>
                      <button type="button" *ngIf="last" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="exportcontainer">
        <span>
          <button type="button" class="btn btn-primary btn-sm " (click)="batchReview()">Batch Review</button>
          <button type="button" class="btn btn-success export-excel" (click)="search(2)">Export to Excel</button>
        </span>

        <div class="form-group" style="float:right">
          <label>Page Size : </label>
          <select class="SlectBox resetSelect sizedropdown" (change)="selectSize()" [(ngModel)]="PageSizeDynamic" [ngModelOptions]="{standalone: true}">
            <!-- <option value="10">Select Size</option> -->
            <option value="10">10 </option>
            <option value="30">30 </option>
            <option value="50">50 </option>
            <option value="100">100 </option>
            <option value="500">500 </option>

          </select>
        </div>

      </div>
      <section class="DataGrid ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="table-responsive">
                <table class="table" id="productDecomposition">
                  <thead class="head">
                    <tr>
                      <th class="textCenter"></th>
                      <th class="textCenter" (click)="sorting('ReportNo')" style="min-width:100px;">Report #
                        <!--<a href="">Report # <span class="caret"></span></a> -->
                      </th>
                      <!-- <th class="textCenter" (click)="sorting('StyleNo')" style="min-width:100px;">Style #</th> -->
                      <!--<th class="textCenter noPointer" style="min-width:100px;">Style #</th>-->
                      <!-- <th class="textCenter" (click)="sorting('SKUNo')" style="min-width:60px;">SKU #</th> -->
                      <!--<th class="textCenter noPointer" style="min-width:60px;">SKU #</th>-->
                      <!--<th class="textCenter minwidth" (click)="sorting('LogInTime')" style="min-width:100px;">Date In</th>-->
                      <!--<th class="textCenter minwidth" (click)="sorting('DueDate')" style="min-width:100px;">Due Date</th>-->

                      <!--<th class="textCenter minwidth" (click)="sorting('LabInTime')" style="min-width:100px;">LAB IN</th>-->
                      <!--<th class="textCenter minwidth" (click)="sorting('LogoutTime')" style="min-width:100px;">Logout</th>-->
                      <!--<th class="textCenter" (click)="sorting('ClientName')">BUYER</th>-->
                      <!--<th class="textCenter" (click)="sorting('ApplicantName')">APPLICANT</th>-->
                      <th class="textCenter" *ngFor="let dColumns of dynamicGridColumns" (click)="sorting(dColumns.ColumnName)">{{dColumns.ColumnDataValue}}</th>
                      <!--<th class="textCenter" (click)="sorting('ReportRating')">Rating</th>-->
                      <!-- <th class="textCenter" (click)="sorting('ReportStatus')"style="min-width:100px;">Status</th> -->
                      <!--<th class="textCenter" (click)="sorting('ClientRating')">Client Rating</th>-->
                      <th class="textCenter" (click)="sorting('ReviewStatus')">Review Status</th>
                      <!-- <th class="textCenter">TRF</th> -->
                      <th class="textCenter">Report</th>
                      <!-- <th class="textCenter" *ngIf="userCredential.UserPermission.DownloadInvoice">Invoice</th> -->
                      <th class="textCenter" *ngIf="userCredential.UserPermission.OverrideRating">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orderList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                      <td class="textCenter tech">
                        <input type="checkbox" name="reportSelect" value="{{order.ReportNo}}" id={{i}} [checked]="this.checkedReportArr.indexOf(order.ReportNo)>= 0"
                          [disabled]="order.ReviewStatus=='Reviewed'|| order.ReviewStatus=='ReInspection'" (change)="handleCheckboxCheck($event, order.ReportNo)">
                      </td>
                      <td class="textCenter tech">{{order.ReportNo}}</td>
                      <!--<td class="textCenter tech">{{order.StyleNo}}</td>-->
                      <!--<td class="textCenter tech">{{order.SKUNo}}</td>-->
                      <!--<td class="textCenter tech">{{order.LogInTime | date:"MM/dd/yyyy"}} </td>-->
                      <!--<td class="textCenter tech">{{order.DueDate}}</td>                           -->
                      <!--<td class="textCenter tech">{{order.LabInTime}}</td>-->
                      <!--<td class="textCenter">{{order.LogoutTime}} </td>-->
                      <!--<td class="textCenter tech" style="word-break: normal">{{order.ClientName}}</td>-->
                      <!--<td class="textCenter">{{order.ApplicantName}} </td>-->
                      <td class="textCenter" *ngFor="let dColumns of dynamicGridColumns">{{order[dColumns.ColumnName]}} </td>
                      <!--<td class="colorRed textCenter"><button type="button" class="btn-small btn-link {{order.ReportRating}}" style="text-transform: uppercase;"
                                                  *ngIf="order.ReportRating" (click)="viewFailHistory(order)">{{order.ReportRating}}</button></td>-->
                      <!-- <td class="logoutColor textCenter">{{order.ReportStatus}}</td> -->
                      <!--<td class="textCenter">{{order.ClientRating}}</td>-->
                      <td class="textCenter">{{order.ReviewStatus?order.ReviewStatus:'Not Reviewed'}}</td>
                      <!-- <td class="pdfUploadIcon textCenter">
                                              <i tooltip={{order.TRF}} placement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" *ngIf="order.TRF" (click)="download(order,'TRF')"></i>                                                </td> -->
                      <td class="pdfUploadIcon textCenter">
                        <div *ngIf="order.Report">
                          <span class="pdfUploadIcon" *ngFor="let reportFile of order.Report.split('ÿ')">
                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" (click)="download(reportFile,'Report',order.ReportNo)"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{reportFile}}</div>
                            </tooltip-content>
                          </span>
                        </div>
                      </td>
                      <!-- <td *ngIf="userCredential.UserPermission.DownloadInvoice" class="textCenter">
                                              <div *ngIf="order.Invoice">
                                                  <span class="pdfUploadIcon" *ngFor="let invoice of order.Invoice.split(',')">
                  <i tooltip={{invoice}} placement="top" class="fa fa-file-pdf-o " (click)="download(order,invoice)">
                                      </i>&nbsp;
                    </span>
                                              </div>

                                          </td> -->
                      <!--<td class="textLeft"><a href="" data-toggle="modal" data-target="#Overriderating" class="btn btn-primary btn-sm"> Override rating</a> </td>-->
                      <td *ngIf="userCredential.UserPermission.OverrideRating" class="textCenter">
                        <button [disabled]="order.ReviewStatus=='Reviewed' || order.ReviewStatus=='ReInspection'" (click)="overRideRating(order)"
                          class="btn btn-primary btn-sm"> Override rating</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!orderList" (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <custom-footer></custom-footer>
  <!-- Modal -->
  <div class="modal fade" id="confirmDialog" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm " style="top:30%">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div style=" text-align: center;">
            <h4>Do you want to Override?</h4>
          </div>
        </div>
        <div class="modal-footer" style=" text-align: center;">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reviewRating('true')">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reviewRating('false')">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="ViewFail" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg ">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Test Result</h4>
        </div>
        <div class="modal-body">
          <div class="row ">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 resultStatus">
              <span>
                <b>Report # :</b> {{reportNo}}</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="table-responsive">
                <table class="table modalTable">
                  <thead class="head">
                    <tr>
                      <th width="55%">Test Name</th>
                      <th>Client Rating</th>
                      <th>Failure Code</th>
                      <!--<th>Description</th>-->
                      <th>Category</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of viewHistoryList">
                      <td>{{history.TestName}}</td>
                      <td>{{history.ClientRating}}</td>
                      <td>{{history.FailCode}}</td>
                      <!--<td>{{history.FailCodeDescription}}</td>-->
                      <td>{{history.FailCategory}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="Overriderating" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md OverrideratingModel">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Product Disposition </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign modalInput">
            <label style="float: right;padding-right: 15px;">*Note:- Add more email IDs with comma separated.</label>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="modelRedioCheck">
                <label class="control control-radio modelLabel">ReInspection
                  <input type="radio" id="" (click)="reviewRadioType('ReInspection')" value="ReInspection" name="rating" [(ngModel)]="reviewRadio"
                    checked>
                  <div class="control__indicator_radio"></div>
                </label>
                <label class="control control-radio modelLabel">Override
                  <input type="radio" id="" (click)="reviewRadioType('Override')" value="Override" name="rating" [(ngModel)]="reviewRadio">
                  <div class="control__indicator_radio"></div>
                </label>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Email to Vendor</label>
              <input type="text" name="" [disabled]="false" [(ngModel)]="overRideRatingObj.VendorEmailId" placeholder="Enter Email to Vendor"
              />
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Email to Manufacturer</label>
              <input type="text" name="" [disabled]="false" [(ngModel)]="overRideRatingObj.ManufacturerEmailId" placeholder="Enter Email to Manufacturer"
              />
            </div>
            <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                          <label>Email to Laboratory</label>
                          <input type="text" name="" [disabled]="false" [(ngModel)]="overRideRatingObj.LaboratoryEmailId" placeholder="Enter Email to Laboratory"
                          />
                      </div>-->

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>CC</label>
              <input type="text" name="" [disabled]="false" [(ngModel)]="overRideRatingObj.cc" placeholder="CC" />
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Subject</label>
              <input type="text" name="" [disabled]="false" [(ngModel)]="overRideRatingObj.Subject" placeholder="Subject" />
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Web Link</label>
              <input type="text" name="" [maxLength]="200" [(ngModel)]="overRideRatingObj.WebLink" placeholder="Enter Web Link" />
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Comments</label>
              <textarea rows="2" [(ngModel)]="overRideRatingObj.ClientRemarks" placeholder="Enter Comments"></textarea>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <!--<label>Comments</label>-->
              <div class="input-group inputFile" id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" #fileUpload (click)="reset()" accept=".pdf,.doc,.docx,.xls,.xlsx" (change)="onChange($event)" [(ngModel)]="overRideRatingObj.File"
                  class="inputValue" id="inputValue" value="">
                <p class="inputValueShow"> {{overRideRatingObj.FileName}} </p>
              </div>
            </div>
            <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " [hidden]="reviewRadio!='Override'">
                          <div class="table-responsive">
                              <table class="table modalTable">
                                  <thead class="head">
                                      <tr>
                                          <th style="min-width:100px;">Test Name</th>
                                          <th style="min-width:100px;word-wrap: normal;">Failure Code</th>
                                          <th style="min-width:100px;word-wrap: normal">Category</th>
                                          <th style="min-width:100px;word-wrap: normal">Result</th>
                                          <th style="min-width:100px;word-wrap: normal">Client Rating</th>
                                          <th style="min-width:110px;word-wrap: normal; display: inline-flex;">
                                              <label class="control control-checkbox " style="width:15px;margin-left: 8px; margin-top: -3px; position: relative;right: 9px;">
                                              <input  id="checkOverride" (click)="selectAll()" type="checkbox" ><div class="control__indicator_checkbox"></div>
                                          </label><span style="position: relative;right: 9px;">OverRide</span>                                                </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let history of viewHistoryList; let i = index">

                                          <td>{{history.TestName}}</td>
                                          <td>{{history.FailCode}}</td>
                                          <td>{{history.FailCategory}}</td>
                                          <td>{{history.TestResult}}</td>
                                          <td>{{history.ClientRating}}</td>
                                          <td>
                                              <label class="control control-checkbox " style="width:15px;">
                                      <input [disabled]="history.ClientRating=='PASS'" (click)="selectCheck(i)"  [(ngModel)]="history.Active" type="checkbox"><div class="control__indicator_checkbox"></div>
                                  </label>

                                          </td>
                                      </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>-->
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="sendComment()">Submit</button>
        </div>
      </div>

    </div>
  </div>
  <!--    modal for download file     -->


  <div class="modal fade" id="DownloadFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <!--<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl"><span><b>Report # : </b>{{this.ReportNo}}</span></div>-->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div>
                <input type="checkbox" class="check CheckPop" id="showDownload" (change)="showDownload()" />
                <label for="showDownload">Send Mail</label>
              </div>

              <div *ngIf="showDownloadFiles">

                <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                </app-bulk-email>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadFile()">{{showDownloadFiles? 'Send' : 'Download'}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>

</body>