<div class="stepsContentHeader row">
  <div class="col-md-3 col-xs-12 text-left">
    <a href="" class="btn btn-success trackOrderbtn" [routerLink]=" ['/online-etrf']">Track Your Orders</a>
  </div>
  <div class="col-md-6 col-xs-12 text-center">
    <h1>Select Service</h1>
    <p>Select services from the list below</p>
  </div>
  <div class="col-md-3 col-xs-12 text-right">
    <div class="btn btn-success enquiryBtn" (click)="openUserManual()">User Guide
      <i class="fa fa-download marginleft"></i>
    </div>
    <div class="btn btn-success enquiryBtn" data-toggle="tooltip" title="Need more help/ information?" data-toggle="modal" data-target="#EnquiryForm">Enquiry</div>
  </div>
</div>

<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div class="stepsContentBody SelectService">
  <div class="serviceType">
    <div *ngFor="let group of serviceGroups;let i=index" class="panel-group" id="accordion">
      <app-services-group [data]="data" [group]="group" [offerDescriptionIndex]="i" (groupSelected)="groupSelectedHandler($event)"></app-services-group>
    </div>

  </div>

</div>

<div id="EnquiryService" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enquiry</h4>
      </div>
      <div class="modal-body">
        <div class="row inputDesign">
          <div class="">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <h4>Please use this enquiry form to send us an enquiry.</h4>
              <h5 style="color: #337ab7">Tell us your Product Requirement</h5>
              <label>Subject</label>
              <input type="text" [maxLength]="200" id="Enquirysubject" [(ngModel)]="subjectModal" placeholder="Enter Subject" />
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Comments</label>
              <textarea rows="6" [maxLength]="1000" id="Enquirycomments" [(ngModel)]="commentsModal" placeholder="Enter Comments"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendEnquiry()">Send</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ecomm-user-manual" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Guide</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 10px;">
          <b>You can download the below user guide.</b>
        </div>
        <div style="margin-top: 5px;" *ngFor="let manual of userManuals;let i = index">
          <a style="cursor: pointer;" (click)="downloadManual(manual)"> {{manual}}
            <i class="fa fa-download marginleft"></i>
          </a>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>