<div>
  <div *ngIf="isLoader">
    <div class="loading-dialog"></div>
  </div>
  <section id="etrf-filter" class="filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <h3>Search</h3>
          <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
          <form id="Filterbtn" class="collapse in">
            <div>
              <div class="row form inputMatrial">
                <div *ngIf="
                          userCredential?.UserPermission?.ViewFCAIOnlineAdmin
                        "
                  class="col-md-3" style="margin-top: 10px;">
                  <md-select placeholder="Applicant Company Name" [(ngModel)]="applicant" [ngModelOptions]="{ standalone: true }"
                    (change)="searchModelChange('applicant')">
                    <md-option *ngFor="let appl of ApplicantCompanyList" [value]="appl">{{ appl }}</md-option>
                  </md-select>
                </div>

                <div *ngIf="
                          userCredential?.UserPermission?.ViewFCAIOnlineAdmin
                        "
                  class="col-md-3" style="margin-top: 10px;">
                  <md-select placeholder="Vendor Company Name" [(ngModel)]="vendor" [ngModelOptions]="{ standalone: true }"
                    (change)="searchModelChange('vendor')">
                    <md-option *ngFor="let vend of VendorCompanyList" [value]="vend">{{ vend }}</md-option>
                  </md-select>
                </div>

                <div class="col-md-3" style="margin-top: 10px;">
                  <md-select placeholder="Factory Company Name" [(ngModel)]="factory" [ngModelOptions]="{ standalone: true }"
                    (change)="searchModelChange('factory')">
                    <md-option *ngFor="let fact of FactoryCompanyList" [value]="fact">{{ fact }}</md-option>
                  </md-select>
                </div>

                <div class="col-md-3">
                  <md-input-container>
                    <input mdInput placeholder="Product Description" [(ngModel)]="productDescription" [ngModelOptions]="{ standalone: true }"
                      (keyup)="searchModelChange('productDescription')" />
                  </md-input-container>
                </div>

                <div class="col-md-3">
                  <md-input-container>
                    <input mdInput placeholder="Item Number" [(ngModel)]="skuNumber" [ngModelOptions]="{ standalone: true }"
                      (keyup)="searchModelChange('skuNumber')" />
                  </md-input-container>
                </div>

                <div class="col-md-3">
                  <md-input-container>
                    <input mdInput placeholder="PO No." [(ngModel)]="poNumber" [ngModelOptions]="{ standalone: true }"
                      (keyup)="searchModelChange('poNumber')" />
                  </md-input-container>
                </div>

                <div class="col-md-3 date-owl">
                  <label>From Date</label>
                  <owl-date-time [(ngModel)]="dateFrom" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM-DD-YYYY'"
                    (ngModelChange)="searchModelChange('dateFrom')" [ngModelOptions]="{ standalone: true }" [locale]="en"
                    [autoClose]="true" [type]="'calendar'">
                  </owl-date-time>
                </div>

                <div class="col-md-3 date-owl">
                  <label>To Date</label>
                  <owl-date-time [(ngModel)]="dateTo" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM-DD-YYYY'"
                    (ngModelChange)="searchModelChange('dateTo')" [ngModelOptions]="{ standalone: true }" [locale]="en"
                    [autoClose]="true" [type]="'calendar'">
                  </owl-date-time>
                </div>
                <div *ngIf="
                          userCredential?.UserPermission?.ViewFCAIOnlineAdmin
                        "
                  style="width: 100%;clear: both; float: left;"></div>

                <div class="col-md-3" *ngIf="userCredential?.UserPermission?.ViewECommerce">
                  <md-input-container>
                    <input mdInput placeholder="e-TRF No./ Booking Form No." [(ngModel)]="etrfNumber" [ngModelOptions]="{ standalone: true }"
                      (keyup)="searchModelChange('etrfNumber')" />
                  </md-input-container>
                </div>
                <div class="col-md-3" *ngIf="!userCredential?.UserPermission?.ViewECommerce">
                  <md-input-container>
                    <input mdInput placeholder="Booking Form No" [(ngModel)]="etrfNumber" [ngModelOptions]="{ standalone: true }"
                      (change)="searchModelChange('etrfNumber')" />
                  </md-input-container>
                </div>

                <div class="col-md-3" style="margin-top: 10px;">
                  <md-select placeholder="Select Status" [(ngModel)]="Status" [ngModelOptions]="{ standalone: true }"
                    (change)="searchModelChange('Status')">
                    <!-- <md-option value="Placed">Placed</md-option>
                          <md-option value="Received">Received</md-option>
                          <md-option value="Processing">Processing</md-option> -->
                    <md-option value="C">Cancelled</md-option>
                  </md-select>
                </div>
                <div class="col-md-12" style="text-align: right; margin-bottom: 10px;margin-top: 10px;">
                  <button class="btn btn-success" style="line-height: 22px;margin-bottom: 0px;width: 100px;" (click)="search()">
                    Search
                  </button>
                  <button class="btn btn-primary" style="width:100px;" (click)="reset()">
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="DataGrid config">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 pl-0 pr-0">
          <div class="col-md-12" class="textRight addLink">
            <span *ngIf="userCredential.UserPermission.ViewECommerce" [routerLink]="['/e-commerce']">
              <button class="btn btn-primary">{{ buttonText }}</button>
            </span>
            <span *ngIf="userCredential.UserPermission.AddNewETRF">
              <button (click)="addNewETRF($event)" class="btn btn-primary">
                Add New Booking Request
              </button>
            </span>
          </div>
        </div>

        <div class="col-md-12 nodadding">

          <div class="table-responsive">
            <table *ngIf="!isCancelled" class="table e-trfOnline">
              <thead class="head">
                <tr>
                  <th class="textLeft">Booking Form Number</th>
                  <th class="textLeft">Request Inspection Date</th>
                  <th class="textLeft">Factory Name</th>
                  <th class="textLeft">Product Description</th>
                  <th class="textLeft">Item/Style/SKU No.</th>
                  <th class="textLeft">Order Status</th>
                  <th class="textLeft">Preview</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="savedETRFList.length == 0">
                  <td colspan="6" style="text-align: center;">
                    No Record Found
                  </td>
                </tr>
                <tr *ngFor="
                          let data of (savedETRFList
                            | paginate
                              : {
                                  id: 'server',
                                  itemsPerPage: itemPerPage,
                                  currentPage: p,
                                  totalItems: totalItem
                                })
                        ">
                  <!-- <td class="btn-small btn-link textLeft" style="min-width: 150px">
                    {{ data.E_TRFID }}{{data.Revision}}
                  </td> -->
                  <td *ngIf="data.Status == 'Placed'" class="textLeft" style="min-width: 150px">
                    <div class="btn-small btn-link" style="cursor: pointer;" (click)="openPreviousEtrfRevisions(data.E_TRFID)">{{
                      data.E_TRFID
                      }}{{data.Revision}}</div>
                  </td>
                  <td *ngIf="data.Status != 'Placed'" class="textLeft" style="min-width: 150px">
                    <div class="margin-right: 10px;">{{data.E_TRFID }}{{data.Revision}}</div>
                  </td>
                  <td class="textLeft" style="min-width: 100px">
                    {{ data.ModifiedOn }}
                  </td>
                  <td class="textLeft">{{ data.E_TRF_Factory }}</td>
                  <td class="textLeft">
                    {{ data.E_TRF_SampleDescription }}
                  </td>
                  <td class="textLeft">{{ data.E_TRF_SKU_Number }}</td>
                  <td class="textLeft" style="min-width: 65px;">
                      {{ data.Status }}
                    </td>
                  <td class="textCenter" align="center" width="15%">
                    <span *ngIf="userCredential.UserPermission.EditETRF">
                      <button class="btn btn-warning btn-sm" *ngIf="
                                data.OldStatus != 'old' &&
                                data.ClientID != '10000' &&
                                data.Status != 'Canceled'
                              "
                        [routerLink]="[
                                '/online-etrf/edit-etrf',
                                data.E_TRFID
                              ]">
                        Edit
                      </button>
                    </span>

                    <span>
                      <button class="btn btn-success btn-sm" *ngIf="
                                data.OldStatus != 'old' &&
                                data.ClientID != '10000' &&
                                data.Status != 'Canceled'
                              "
                        (click)="CopyEtrf(data.E_TRFID)">
                        Copy
                      </button>
                    </span>
                    <span>
                      <button class="btn btn-danger btn-sm" *ngIf="data.WorkingStatus != 'C'" (click)="CancelEtrf(data.E_TRFID)">
                        Cancel
                      </button>
                    </span>

                    <span>
                      <button class="btn btn-primary btn-sm" *ngIf="
                                (userCredential.UserPermission.PrintETrfPDF ||
                                  userDetail.Status == 'Pending') &&
                                data.ClientID == '10000'
                              "
                        (click)="GetPDFList(data.E_TRFID)">
                        Print TRF
                      </button>
                      <button class="btn btn-primary btn-sm" *ngIf="
                                (userCredential.UserPermission.PrintETrfPDF ||
                                  userDetail.Status == 'Pending') &&
                                data.ClientID != '10000'
                              "
                        (click)="GetPDFList(data.E_TRFID + data.Revision)">
                        Print PDF
                      </button>
                    </span>

                    <!-- <span>
                      <button class="btn btn-primary btn-sm" *ngIf="data.ClientID == '10000'" (click)="PrintInvoice(data.E_TRFID)">
                        Print Invoice
                      </button>
                    </span> -->
                  </td>
                </tr>
              </tbody>
            </table>

            <table *ngIf="isCancelled" class="table e-trfOnline">
              <thead class="head">
                <tr>
                  <th class="textLeft">Booking Form Number</th>
                  <th class="textLeft">Cancel Inspection Date</th>
                  <th class="textLeft">Reason For Cancellation</th>
                  <th class="textLeft">Remark</th>
                  <th class="textLeft">Order Status</th>
                  <th class="textLeft">Preview</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="savedETRFList.length == 0">
                  <td colspan="6" style="text-align: center;">
                    No Record Found
                  </td>
                </tr>
                <tr *ngFor="
                            let data of (savedETRFList
                              | paginate
                                : {
                                    id: 'server',
                                    itemsPerPage: itemPerPage,
                                    currentPage: p,
                                    totalItems: totalItem
                                  })
                          ">
                  <td class="textLeft" style="min-width: 150px">
                    {{ data.E_TRFID }}{{data.Revision}}
                  </td>
                  <td class="textLeft" style="min-width: 100px">
                    {{ data.ModifiedOn }}
                  </td>
                  <td class="textLeft">{{ data.Reason_For_Cancellation }}</td>
                  <td class="textLeft">{{ data.Remark }}</td>
                  <td class="textLeft" style="min-width: 65px;">
                      {{ data.Status }}
                  </td>
                  <td class="textCenter" align="center" width="15%">
                    <span *ngIf="userCredential.UserPermission.EditETRF">
                      <button class="btn btn-warning btn-sm" *ngIf="
                                  data.OldStatus != 'old' &&
                                  data.ClientID != '10000' &&
                                  data.Status != 'Canceled'
                                "
                        [routerLink]="[
                                  '/online-etrf/edit-etrf',
                                  data.E_TRFID
                                ]">
                        Edit
                      </button>
                    </span>

                    <span>
                      <button class="btn btn-success btn-sm" *ngIf="
                                  data.OldStatus != 'old' &&
                                  data.ClientID != '10000' &&
                                  data.Status != 'Canceled'
                                "
                        (click)="CopyEtrf(data.E_TRFID)">
                        Copy
                      </button>
                    </span>
                    <span>
                      <button class="btn btn-danger btn-sm" *ngIf="data.WorkingStatus != 'C'" (click)="CancelEtrf(data.E_TRFID)">
                        Cancel
                      </button>
                    </span>

                    <span>
                      <button class="btn btn-primary btn-sm" *ngIf="
                                  (userCredential.UserPermission.PrintETrfPDF ||
                                    userDetail.Status == 'Pending') &&
                                  data.ClientID == '10000'
                                "
                        (click)="GetPDFList(data.E_TRFID)">
                        Print TRF
                      </button>
                      <button class="btn btn-primary btn-sm" *ngIf="
                                  (userCredential.UserPermission.PrintETrfPDF ||
                                    userDetail.Status == 'Pending') &&
                                  data.ClientID != '10000'
                                "
                        (click)="GetPDFList(data.E_TRFID)">
                        Print PDF
                      </button>
                    </span>

                    <!-- <span>
                      <button class="btn btn-primary btn-sm" *ngIf="data.ClientID == '10000'" (click)="PrintInvoice(data.E_TRFID)">
                        Print Invoice
                      </button>
                    </span> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div>
    </div>
  </section>
  <div><img id="result" src="" /></div>

  <div id="etrfList" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Select e-TRF</h4>
        </div>

        <div class="modal-body">
          <ul class="etrf-listing" *ngIf="etrfList.length > 0">
            <li *ngFor="let list of etrfList">
              <a href="" (click)="clickETRF(list.FormId, $event)">
                {{ list.FormName }}
              </a>
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="invoiceList" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Select Invoice</h4>
        </div>

        <div class="modal-body">
          <ul class="etrf-listing" *ngIf="invoiceList.length > 0">
            <div *ngFor="let invoice of invoiceList; let i = index">
              <input type="radio" name="{{i}}" [value]="i" [(ngModel)]="selectedIndex" />
              {{ invoice }}
            </div>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadInvoice()">
            Download
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <div id="serviceSelection" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content" style="width: 550px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="selectedFcaiServiceProduct = 2">
            &times;
          </button>
          <h4 class="modal-title">
            Factory Compliance Audit & Inspection Online Booking
          </h4>
        </div>

        <div class="modal-body">
          <div class="card card-margin">
            <div class="div-style">
              <span class="span-left">Commodity Inspection</span>
              <span class="span-right">
                <a class="cs-btn cs-btn-primary" (click)="getSelectedService(selectedFcaiServiceProduct)">Next</a></span>
            </div>
            <div class="card-body">
              <!-- <div class="cs-radio">
                <input type="radio" name="optradio" [value]="1" [(ngModel)]="selectedFcaiServiceProduct" [checked]="selectedFcaiServiceProduct == 1" /><span
                  class="cs-margin-left">Fabric</span>
              </div> -->

              <div class="cs-radio">
                <input type="radio" name="optradio" [value]="2" [(ngModel)]="selectedFcaiServiceProduct" [checked]="selectedFcaiServiceProduct == 2" /><span
                  class="cs-margin-left">General Products(Hardlines/ Softline)</span>
              </div>
            </div>
          </div>

          <div class="card card-margin">
            <div class="div-style">
              <span class="span-left">Factory Compliance Audit</span>
              <span class="span-right">
                <a class="cs-btn cs-btn-primary" (click)="getSelectedService(3)">Next</a></span>
            </div>
          </div>

          <div class="card card-margin">
            <div class="div-style">
              <span class="span-left">Loading Supervision</span>
              <span class="span-right">
                <a class="cs-btn cs-btn-primary" (click)="getSelectedService(4)">Next</a></span>
            </div>
          </div>

          <div class="card card-margin">
            <div class="div-style">
              <span class="span-left">Sample Pick Up</span>
              <span class="span-right">
                <a class="cs-btn cs-btn-primary" (click)="getSelectedService(5)">Next</a></span>
            </div>
          </div>

          <div *ngIf="isInspection" class="card card-margin">
            <div class="div-style">
              <span class="span-left">Inspection Service</span>
              <span class="span-right">
                <a class="cs-btn cs-btn-primary" (click)="getSelectedService(0)">Next</a></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="selectedFcaiServiceProduct = 2">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelEtrf" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="resetCancelEtrfPopup()">
            &times;
          </button>
          <h4 class="modal-title">Reason For Cancellation</h4>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="reasonForCancellation">Reason For Cancellation</label>
              <textarea type="text" class="form-control" id="reasonForCancellation" name="reasonForCancellation"
                [(ngModel)]="cancelEtrfObject.Reason_For_Cancellation" placeholder="Enter Reason For Cancellation"></textarea>
            </div>
            <div class="form-group">
              <label for="remark">Remark</label>
              <textarea type="text" class="form-control" id="remark" name="remark" [(ngModel)]="cancelEtrfObject.Remark"
                placeholder="Enter Remark"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveCancelEtrfInfo()" [disabled]="!(cancelEtrfObject.Reason_For_Cancellation.trim() != '' && cancelEtrfObject.Remark.trim() != '')">
            Submit
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetCancelEtrfPopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="previousEtrfRevisions" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg analysisDetailsModel">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Last Change Booking Details</h4>
        </div>
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="table-responsive_iiji">
                <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                  <thead class="head">
                    <tr>
                      <th class="textLeft">Booking Form Number</th>
                      <th class="textLeft">Booking Submission Date</th>
                      <th class="textLeft">Service Type</th>
                      <th class="textLeft">Inspection Type</th>
                      <th class="textLeft">Applicant Name</th>
                      <th class="textLeft">Applicant Contact Person</th>
                      <th class="textLeft">Applicant Tel</th>
                      <th class="textLeft">Applicant Fax</th>
                      <th class="textLeft">Applicant EMail</th>
                      <th class="textLeft">Applicant Address</th>
                      <th class="textLeft">Applicant City</th>
                      <th class="textLeft">Applicant Province</th>
                      <th class="textLeft">Applicant Postal Code</th>
                      <th class="textLeft">Applicant Country</th>
                      <th class="textLeft">Report Send To</th>
                      <th class="textLeft">Report CCTo</th>
                      <th class="textLeft">Invoice Send To</th>
                      <th class="textLeft">Invoice Send To Other</th>
                      <th class="textLeft">Previous TRF No</th>
                      <th class="textLeft">Vendor Name</th>
                      <th class="textLeft">Vendor Contact Person</th>
                      <th class="textLeft">Vendor Tel</th>
                      <th class="textLeft">Vendor Fax</th>
                      <th class="textLeft">Vendor EMail</th>
                      <th class="textLeft">Vendor Address</th>
                      <th class="textLeft">Vendor City</th>
                      <th class="textLeft">Vendor Province</th>
                      <th class="textLeft">Vendor Postal Code</th>
                      <th class="textLeft">Vendor Country</th>
                      <th class="textLeft">Factory Name</th>
                      <th class="textLeft">Factory Contact Person</th>
                      <th class="textLeft">Factory Tel</th>
                      <th class="textLeft">Factory Fax</th>
                      <th class="textLeft">Factory EMail</th>
                      <th class="textLeft">Factory Address</th>
                      <th class="textLeft">Address in Local Language</th>
                      <th class="textLeft">Factory City</th>
                      <th class="textLeft">Factory Province</th>
                      <th class="textLeft">Factory Postal Code</th>
                      <th class="textLeft">Factory Country</th>
                      <th class="textLeft">Desired Audit Inspection</th>
                      <th class="textLeft">Product Description</th>
                      <th class="textLeft">Costco Item No</th>
                      <th class="textLeft">Country of Destination</th>
                      <th class="textLeft">PO Number</th>
                      <th class="textLeft">DEPT Number</th>
                      <th class="textLeft">Ship Qty</th>
                      <th class="textLeft">Sample Method</th>
                      <th class="textLeft">Inspection Level</th>
                      <th class="textLeft">Inspection AQL Critical</th>
                      <th class="textLeft">Inspection AQL Major</th>
                      <th class="textLeft">Inspection AQL Minor</th>
                      <th class="textLeft">Remarks</th>
                      <th class="textLeft">Country Code Vendor</th>
                      <th class="textLeft">Country Code Factory</th>
                      <th class="textLeft">Buyer Name</th>
                      <th class="textLeft">Buyer Contact Person</th>
                      <th class="textLeft">Buyer Tel</th>
                      <th class="textLeft">Buyer Fax</th>
                      <th class="textLeft">Buyer EMail</th>
                      <th class="textLeft">Buyer Address</th>
                      <th class="textLeft">Buyer City</th>
                      <th class="textLeft">Buyer Province</th>
                      <th class="textLeft">Buyer Postal Code</th>
                      <th class="textLeft">Buyer Country</th>
                      <th class="textLeft">Service Contact Person</th>
                      <th class="textLeft">No Workers employed</th>
                      <th class="textLeft">Total Factory Area</th>
                      <th class="textLeft">Normal Work Days & Hours</th>
                      <th class="textLeft">Total Number of Buildings</th>
                      <th class="textLeft">Number of Production Buildings</th>
                      <th class="textLeft">Number of Warehouse Buildings</th>
                      <th class="textLeft">Number of Dormitory Buildings</th>
                      <th class="textLeft">Number of Other Buildings</th>
                      <th class="textLeft">Key Production Processes</th>
                      <th class="textLeft">Major Product</th>
                      <th class="textLeft">Season</th>
                      <th class="textLeft">Group</th>
                      <th class="textLeft">Factory produces</th>
                      <th class="textLeft">Yarn Count</th>
                      <th class="textLeft">Thread Count</th>
                      <th class="textLeft">Weight</th>
                      <th class="textLeft">Cuttable Width</th>
                      <th class="textLeft">Sample Method Other</th>
                      <th class="textLeft">No Of Container Checked</th>
                      <th class="textLeft">Factory Mobile No</th>
                      <th class="textLeft">Applicant Mobile No</th>
                      <th class="textLeft">Vendor Mobile No</th>
                      <!-- <th class="textLeft">Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let revision of previousRevisionList">
                      <td class="textLeft" style="min-width: 150px">
                        <div class="btn-small btn-link" style="cursor: pointer;" (click)="GetPDFList(revision.TRF_No + revision.TRF_Version)">
                          {{revision.TRF_No}}{{revision.TRF_Version}}
                        </div>
                      </td>
                      <!-- <td class="textLeft">{{revision.TRF_No}}{{revision.TRF_version}}</td> -->
                      <td class="textLeft">{{revision.TRF_Creation_Date | date:'short'}}</td>
                      <td class="textLeft">{{revision.TRF_Service_Type}}</td>
                      <td class="textLeft">{{revision.TRF_Inspection_Type}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Name}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Contact_Person}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Tel}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Fax}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_eMail}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Address}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_City}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Province}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Postal_Code}}</td>
                      <td class="textLeft">{{revision.TRF_Applicant_Country}}</td>
                      <td class="textLeft">{{revision.TRF_Report_SendTo}}</td>
                      <td class="textLeft">{{revision.TRF_Report_CCTo}}</td>
                      <td class="textLeft">{{revision.TRF_Invoice_Send_To}}</td>
                      <td class="textLeft">{{revision.TRF_Invoice_Send_To_Other}}</td>
                      <td class="textLeft">{{revision.TRF_Previous_TRF_No}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Name}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Contact_Person}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Tel}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Fax}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_eMail}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Address}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_City}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Province}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Postal_Code}}</td>
                      <td class="textLeft">{{revision.TRF_Vendor_Country}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Name}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Contact_Person}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Tel}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Fax}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_eMail}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Address}}</td>
                      <td class="textLeft">{{revision.Address_Local_Language}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_City}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Province}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Postal_Code}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_Country}}</td>
                      <td class="textLeft">{{revision.TRF_Desired_Audit_Inspection}}</td>
                      <td class="textLeft">{{revision.TRF_Product_Description}}</td>
                      <td class="textLeft">{{revision.TRF_Costco_Item_No}}</td>
                      <td class="textLeft">{{revision.TRF_Country_of_Destination}}</td>
                      <td class="textLeft">{{revision.TRF_PO_Number}}</td>
                      <td class="textLeft">{{revision.TRF_DEPT_Number}}</td>
                      <td class="textLeft">{{revision.TRF_Ship_Qty}}</td>
                      <td class="textLeft">{{revision.TRF_Sample_Method}}</td>
                      <td class="textLeft">{{revision.TRF_Inspection_Level}}</td>
                      <td class="textLeft">{{revision.TRF_Inspection_AQL_Critical}}</td>
                      <td class="textLeft">{{revision.TRF_Inspection_AQL_Major}}</td>
                      <td class="textLeft">{{revision.TRF_Inspection_AQL_Minor}}</td>
                      <td class="textLeft">{{revision.TRF_Remarks}}</td>
                      <!-- <td class="textLeft">{{revision.TRF_Country_Code_Applicant}}</td> -->
                      <td class="textLeft">{{revision.TRF_Country_Code_Vendor}}</td>
                      <td class="textLeft">{{revision.TRF_Country_Code_Factory}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Name}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Contact_Person}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Tel}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Fax}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_eMail}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Address}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_City}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Province}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Postal_Code}}</td>
                      <td class="textLeft">{{revision.TRF_Buyer_Country}}</td>
                      <td class="textLeft">{{revision.TRF_Service_Contact_Person}}</td>
                      <td class="textLeft">{{revision.TRF_No_Workers_employed}}</td>
                      <td class="textLeft">{{revision.TRF_Total_Factory_Area}}</td>
                      <td class="textLeft">{{revision.No_of_Work_Days}}</td>
                      <td class="textLeft">{{revision.Total_Number_of_Building}}</td>
                      <td class="textLeft">{{revision.Number_of_Production_Buildings}}</td>
                      <td class="textLeft">{{revision.Number_of_Warehouse_Buildings}}</td>
                      <td class="textLeft">{{revision.Number_of_Dormitory_Buildings}}</td>
                      <td class="textLeft">{{revision.Number_of_Other_Buildings}}</td>
                      <td class="textLeft">{{revision.Key_Production_Processes}}</td>
                      <td class="textLeft">{{revision.TRF_Major_Product}}</td>
                      <td class="textLeft">{{revision.TRF_Season}}</td>
                      <td class="textLeft">{{revision.TRF_Group}}</td>
                      <td class="textLeft">{{revision.TRF_Factory_produces}}</td>
                      <td class="textLeft">{{revision.TRF_Yarn_Count}}</td>
                      <td class="textLeft">{{revision.TRF_Thread_Count}}</td>
                      <td class="textLeft">{{revision.TRF_Weight}}</td>
                      <td class="textLeft">{{revision.TRF_Cuttable_Width}}</td>
                      <td class="textLeft">{{revision.TRF_SampleMethod_Other}}</td>
                      <td class="textLeft">{{revision.TRF_NoOfContainerChecked}}</td>
                      <td class="textLeft">{{revision.TRF_MobileNo}}</td>
                      <td class="textLeft">{{revision.TRF_MobileNo_Application}}</td>
                      <td class="textLeft">{{revision.TRF_MobileNo_Vendor}}</td>
                      <!-- <td class="textLeft">
                        <button class="btn btn-primary btn-sm" (click)="GetPDFList(revision.TRF_No + revision.TRF_Version)">Print PDF</button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>