.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    /* justify-content: flex-end; */
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 15px;
    /* font-size: 20px; */
    min-width: 47%;
    min-height: 40%;
    border-radius: 20px;
    border: 1px solid;
    background-color: lightgrey;
}

.text-color-setting {
    font-size: 23px;
    color: black;
}



.div-style{
    height: 50px;
    padding: 10px;
    background: #efefef;
    font-weight: 600;
}


 .card-margin{
    margin-bottom: 10px;
 }

 .span-left{
    float: left;
    color: #2e6da4;
    font-size: 17px;
    font-weight: bold;
 }

 .span-right{
    float: right;
}

.cs-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.cs-btn {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.cs-radio{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cs-margin-left{
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}