<body class="dashboard">
  <div class="warpper-inner e-commerce">
    <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
    </div>
    <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
    </div>
    <div class="content-inside">
      <app-e-commerce-header></app-e-commerce-header>
      <section class="steps">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <div class="stepsContainer">
                <!-- end of stepsContent-->

                <div class="stepsContent active" id="ReviewOrder">
                  <div *ngIf="isLoader">
                    <div class="loading-dialog"></div>
                  </div>

                  <div class="stepsContentHeader row">
                    <div class="col-md-3 col-xs-12 text-left">
                      <a style="display: none;" href="" class="btn btn-success trackOrderbtn" [routerLink]=" ['/online-etrf']">Track Your Orders</a>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                      <h1>Order Review</h1>
                      <p></p>
                    </div>
                    <div class="col-md-3 col-xs-12 text-right">
                      <a href="" class="btn btn-success enquiryBtn" data-toggle="tooltip" title="Need more help/ information?" data-toggle="modal"
                        data-target="#EnquiryForm">Enquiry</a>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-md-8 col-xs-12 applicantDetails" *ngIf="!!orderReviewInformation.ApplicantInfo">
                      <p>
                        <b style="color:#4c7fb7;">Review your order</b>
                      </p>
                      <p> {{orderReviewInformation.ApplicantInfo.Name}}</p>
                      <p>{{orderReviewInformation.ApplicantInfo.CompanyName}}</p>
                      <p> {{orderReviewInformation.ApplicantInfo.Address1}}{{orderReviewInformation.ApplicantInfo.Address2}}</p>
                      <p>Mob - {{orderReviewInformation.ApplicantInfo.Phone}}</p>
                      <p>Email - {{orderReviewInformation.ApplicantInfo?.Email}}</p>
                    </div>
                    <div class="col-md-4 col-xs-12 pull-right text-left shippingAddress" *ngIf="!!orderReviewInformation.LabInfo">
                      <p>
                        <b>Lab Location</b>
                      </p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Name">{{orderReviewInformation.LabInfo?.Name}}</p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Address1 || orderReviewInformation.LabInfo?.Address2">{{orderReviewInformation.LabInfo?.Address1}} {{ orderReviewInformation.LabInfo?.Address2}}</p>
                      <p *ngIf="orderReviewInformation.LabInfo?.CityStateCountry || orderReviewInformation.LabInfo?.CountryCode || orderReviewInformation.LabInfo?.ZipCode">{{orderReviewInformation.LabInfo?.CityStateCountry}}, {{orderReviewInformation.LabInfo?.CountryCode}}
                        <span *ngIf="orderReviewInformation.LabInfo?.ZipCode">- </span>{{ orderReviewInformation.LabInfo?.ZipCode}}
                      </p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Phone">
                        Phone - {{ orderReviewInformation.LabInfo?.Phone}}</p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Fax">Fax - {{ orderReviewInformation.LabInfo?.Fax}}</p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Mob">Mob - {{ orderReviewInformation.LabInfo?.Mob}}</p>
                      <p *ngIf="orderReviewInformation.LabInfo?.Email">Email - {{ orderReviewInformation.LabInfo?.Email}}</p>
                    </div>
                  </div>

                  <div class="stepsContentBody ReviewOrder">
                    <div *ngIf="!!orderReviewInformation?.TestItems && orderReviewInformation?.TestItems.length > 0" class="table-responsive">
                      <table class="table" id="ReviewOrderTable">
                        <thead>
                          <tr>
                            <th>Service</th>
                            <th>{{headerText}}</th>
                            <th></th>
                            <th>Pkg.Qty</th>
                            <th>{{priceText}}</th>
                            <th *ngIf="colorText != ''">{{colorText}}</th>
                            <th *ngIf="colorText != ''">Remove Color</th>
                            <!-- <th width="5%">Remove</th> -->
                            <th>Price (USD)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!--<tr class="service"><td>{{dataService.selectedService.name}} </td> <td></td> <td></td><td ></td></tr>								-->
                          <tr *ngFor="let package of orderReviewInformation.TestItems" class="package">
                            <td>{{orderReviewInformation.ServiceName}}</td>
                            <td>{{package.Name}} </td>
                            <td></td>
                            <td>
                              <input type="number" min="1" max="100" [(ngModel)]="package.Quantity" disabled>
                            </td>
                            <td>${{package.Price}}</td>
                            <td *ngIf="colorText != ''">{{(package.ColorwayQty==0)?"":package.ColorwayQty}} {{(package.ColorwayQty==0)?"":" X $" + package.ColorwayPrice}}</td>
                            <td *ngIf="package.ColorwayQty != 0">
                              <a class="close" (click)="deleteColorwayQty($event,package)" data-hide="package" href="javascript:void(0)"></a>
                            </td>
                            <td *ngIf="package.ColorwayQty == 0 && colorText != ''"></td>
                            <!-- <td><a class="close" (click)="deletePackage($event,package)" data-hide="package" href="javascript:void(0)"></a></td> -->
                            <td class="price">${{package.FinalPrice |number:'1.2-2'}} </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="colorText != ''"></td>
                            <td *ngIf="colorText != ''"></td>
                            <td> Total </td>
                            <td class="price">${{total |number:'1.2-2'}}</td>
                          </tr>
                          <tr class="youPay">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="colorText != ''"></td>
                            <td *ngIf="colorText != ''"></td>
                            <td class="bt bb">You Pay</td>
                            <td class="bt bb price">${{grandTotal |number:'1.2-2'}}</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <div class="TermsAndConditions">
                      <h2> REFUND POLICY</h2>
                      <ol id="refundPolicy" style="border-right: 1px solid #ddd;">
                        <li>
                          <b>Refund up to 90% before sample received</b>
                          <br> After an order is placed and before sample(s) received by MTS lab, the Client can ask for a refund
                          up to 90%. Refund will be done through the original method of payment.
                        </li>
                        <li>
                          <b>Refund After 60 Days</b>
                          <br> Even samples are not arrived yet in Lab, the payment shall be non-refundable.
                        </li>
                        <li>
                          <b>Refund after sample received</b>
                          <br> If the sample(s) has been received and Services has been initiated by MTS, then the Client may
                          not cancel the test request and the paid testing fees shall be non-refundable.
                        </li>
                        <p>* If the Client requests that all sample(s) for the cancelled test request be shipped back to the
                          Client, the Client shall be fully responsible for any handling/shipping costs incurred by MTS.</p>
                      </ol>
                    </div>
                    <div class="TermsAndConditions">
                      <h2> ONLINE TESTING TERMS AND CONDITIONS</h2>

                      <ol id="flux">
                        <p>
                          Modern Testing Services (Global) Limited, its subsidiaries, and its affiliates (collectively, “MTS”) will provide its testing
                          services (“Services”) subject to the terms and conditions herein contained (“Terms”). The Terms
                          are the only conditions upon which MTS is prepared to deal with the Client, and they shall govern
                          this contract to the entire exclusion of any other expressed or implied conditions. The Terms may
                          only be modified by a variation expressed specifically in writing signed by a duly authorized representative
                          of MTS.
                        </p>
                        <li>
                          <b> ACCEPTANCE OF SERVICES.</b> All orders for any Services are subject to acceptance by MTS, and a
                          binding commitment shall not be made unless MTS accepts the order by writing or the issuance of
                          a written test report (“Report”). The risk and property of the goods shall remain with the Client
                          at all times. In the event that a sample is submitted with an unsigned Test Request Form (“TRF)
                          and is accepted by MTS in writing or by the issuance of a Report, the Terms shall govern the contract
                          to the entire exclusion of any other expressed or implied conditions. MTS’ acceptance of a sample
                          submitted with an unsigned TRF shall in no way be treated as a waiver of the Terms, and the Client
                          agrees that any Services provided by MTS shall be subject to the Terms.
                        </li>
                        <li>
                          <b>EMAIL TRANSMISSIONS.</b> MTS acknowledges that the Client may request to access the ordered Reports
                          by means of e-mail communication. If the Client requests to access its ordered Reports by e-mail
                          transmission, the Client acknowledges that such transmissions will not be encrypted and will no
                          longer be confidential. The Client further acknowledges that such transmissions may be intercepted
                          by third parties and modified inadvertently. MTS disclaims any and all liability arising out of
                          or in connection with e-mail transmissions of Reports.


                        </li>
                        <li>
                          <b>REPRODUCTION OF REPORTS AND PUBLICITY.</b> Reports shall not be reproduced in full unless prior
                          written authorization from MTS has been attained. Reports prepared by MTS are issued subject to
                          the condition that they are not to be made public or used in connection with or for the purpose
                          of any advertising, promotional, or publicity undertaking or material whatsoever without the prior
                          expressed consent in writing of MTS thereto.


                        </li>
                        <li>
                          <b>DISCLAIMER.</b> Any testing is carried out to the best of the knowledge and capability of MTS.
                          The Report reflects the findings of MTS at the time and place of testing and does not relieve sellers
                          or manufacturers from their contractual liabilities or prejudice buyers’ right for compensation
                          for any apparent and/or hidden defects during the testing carried out by MTS or occurring thereafter.
                          Any Report results are not a recommendation for any specific course of action.
                          <br/>
                          <br/> It shall be the responsibility of the Client to ascertain and notify MTS of the standards with
                          which any sample submitted must comply in any country or territory in which such sample is intended
                          to be sold. In absence of specific instructions, MTS will adopt the test methods and standards,
                          which in its sole and absolute discretion, are considered appropriate.
                          <br/>
                          <br/> A Report issued by MTS shall refer only to the sample actually tested and shall not refer or be
                          deemed to refer to the bulk from which such sample may be said to have been obtained. In the event
                          that MTS is requested to survey and test any bulk quantity of samples against contract description
                          or sample, MTS shall, in the absence of contrary written instructions, cause a random sampling
                          of bulk for testing purposes. The Client shall notify MTS by advance notice in writing if they
                          require a specific percentage of the bulk to be tested. In no circumstances shall MTS’s responsibility
                          extend beyond testing and reporting upon the samples actually drawn from bulk and tested by MTS
                          and any inference to be drawn from the result of such testing shall be entirely in the discretion
                          and the responsibility of the Client. MTS shall have no obligation to update the Reports after
                          its issuance.
                          <br/>
                          <br/> MTS will, subject to the Client’s requirements, test any sample submitted to it or sampled by
                          MTS from bulk (the quantity of the bulk from which the sample shall be taken and the sample shall
                          be agreed between the Client and MTS) to ascertain its conformity or otherwise with contract description
                          or sample (such contract description or sample are to be provided by the client). In no circumstances
                          will MTS render any opinion as to the description, quantity, or the fitness of any sample for the
                          purpose of which it is said to be intended unless in any specific case MTS is required to do so
                          and agrees to do so in writing.



                        </li>
                        <li>
                          <b>TURNOVER TIMES.</b> Unless otherwise agreed in writing with the Client, any time periods specified
                          by MTS on the face hereof for performing the Services are business estimates only and MTS will
                          not be liable to the Client for any loss or damage whatsoever sustained by the Client, including
                          but not limited to additional air freight charges incurred by the Client as a result of MTS’ failure
                          to comply with such times.
                        </li>
                        <li>
                          <b>DISCLOSURE OF REPORT.</b> In the event that any Report issued by MTS is required for use in connection
                          with or for evidence in any Court or Arbitration proceeding by the Client, MTS will render all
                          assistance and explanations reasonably required in connection therewith but all costs and expenses
                          incurred by MTS in giving such assistance, including court appearance, expert testimony, or explanations
                          shall be charged to the account of the Client.
                        </li>
                        <li>
                          <b>RELATIONSHIP OF PARTIES.</b> Nothing herein shall be construed to create a partnership, joint venture,
                          or agency between the parties. Neither party has the authority to bind the other or incur any obligation
                          on the other party’s behalf.
                        </li>
                        <li>
                          <b>WARRANTY.</b> MTS warrants solely to the Client that the Report will be free of any material error
                          or omission caused by the negligence of MTS or its servants or agents. Any claim for breach of
                          such warranty shall be made in writing to MTS within sixty (60) days after the date of issuance
                          of the Report, and the Client waives any and all claims for breach of such warranty unless a timely
                          written claim to MTS is made within the sixty (60) day period. In the event that a timely written
                          claim has been made by the Client, MTS, at its sole discretion, may either redo the testing to
                          fix the deficiency without charge to the Client or refund the Client in the amount of the fee paid,
                          free of interest.
                        </li>
                        <li>
                          <b>INDEMNIFICATION.</b> In the event that MTS shall suffer any loss or damage as a result of MTS and/or
                          its servants and/or its agents carrying out or providing the Services to the Client or on goods
                          supplied by or at the direction of the Client other than as a result of its error, negligence or
                          willful default, then the Client shall indemnify MTS and compensate MTS for such amount of loss
                          or damage suffered.
                          <br/>
                          <br/> MTS PROVIDES REPORTS, RECOMMENDATIONS, AND ADVICE RELYING ON THE INFORMATION PROVIDED BY THE CLIENT
                          AND ITS AFFILIATES. MTS SHALL NOT BE HELD LIABLE FOR ANY CLAIMS DIRECTLY OR INDIRECTLY ARISING
                          OUT OF SERVICES PERFORMED IN CONSIDERATION OF THE INCORRECT OR INCOMPLETE INFORMATION AND INSTRUCTIONS
                          RECEIVED FROM THE CLIENT OR ITS AFFILIATES. IN ANY EVENT THAT MTS IS HELD LIABLE FOR ANY CLAIMS
                          DIRECTLY OR INDIRECTLY ARISING OUT OF SERVICES PERFORMED IN CONSIDERATION OF THE INCORRECT OR INCOMPLETE
                          INFORMATION AND INSTRUCTIONS RECEIVED FROM THE CLIENT OR ITS AFFILIATES, THE CLIENT SHALL FULLY
                          GUARANTEE AND INDEMNIFY MTS FOR ANY LOSSES, DAMAGES, OR EXPENSES SUFFERED FROM SUCH CLAIMS, INCUDING
                          BUT NOT LIMITED TO ATTORNEY’S FEES.

                        </li>
                        <li>
                          <b>LIMITED LIABILITY.</b> TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL MTS, ITS AFFILIATES,
                          OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT, INCIDENTAL,
                          SPECIAL, PUNITIVE, COVER OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST
                          PROFITS, REVENUE, GOODWILL, USE OR CONTENT) HOWEVER CAUSED, UNDER ANY THEORY OF LIABILITY, EVEN
                          IF MTS HAS BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES.
                          <br/>
                          <br/> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE AGGREGATE LIABILITY OF MTS AND ITS AFFILIATES,
                          OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS, RELATING TO THE SERVICES SHALL BE LIMITED
                          TO AN AMOUNT EQUAL TO FIVE (5) TIMES THE TESTING COST OF THE PARTICULAR SERVICE PERFORMED WHICH
                          GIVES RISE TO SUCH LIABILITY. THE LIMITATIONS AND EXCLUSIONS ALSO APPLY IF THIS REMEDY DOES NOT
                          FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL PURPOSE.
                          <br/>
                          <br/> In the event that MTS is found liable for any loss, damage, or destruction of the goods that are
                          subject to be tested by MTS caused by the error, negligence, or willful default or act of MTS or
                          its servants or agents, then, in any such case, the liability of MTS shall be limited to the lesser
                          of: (i) the invoice price of the goods or (ii) five (5) times the fee paid in relation to the Services
                          provided by MTS, free of any interest.

                        </li>
                        <li>
                          <b>DISPOSAL OF SAMPLES.</b> Without prejudice to MTS’s lien and other rights under Clause 14 hereof,
                          samples not destroyed in course of testing may at the sole discretion of MTS deemed abandoned and/or
                          destroyed at the expiration of a period of thirty (30) days from the date of the Report unless
                          special arrangements have been made in advance with the Client in writing in regards to the disposal
                          thereof.
                        </li>
                        <li>
                          <b> PAYMENT.</b> In the event that the payment terms are not established or negotiated between MTS
                          and the Client, MTS’ standard rates (which are subject to change) and all applicable taxes shall
                          govern as the payment terms for MTS’ services.
                          <br/>
                          <br/> Client agrees to make prompt payment within thirty (30) days from the invoice date or within such
                          other period as may be established by MTS as the “Due Date.” In the event that the Client owes
                          payment under any overdue invoices, MTS reserves the right to suspend all further performance of
                          its Services and withhold the issuance of any Reports until payment of all sums owing to MTS under
                          the aforesaid invoice(s) together with interest at the rate of 1.5% per month thereon. The Client
                          agrees to reimburse MTS for any costs it incurs in collecting overdue payment, including but not
                          limited to court costs and fees and attorney expenses and collection agencies. Client shall not
                          be entitled to retain or defer payment of any sums due to MTS on account of dispute, counterclaim,
                          or set off which it may allege against MTS.
                          <br/>
                          <br/> In any event that the Client requests invoices for Services to be issued to third parties, including
                          but not limited to, agents, vendors, and factories, the invoiced third party must meet local credit
                          requirements for the country where the invoice is issued, which may include partial or full prepayment.
                          Payment of invoices issued to the requested third parties shall remain the responsibility of the
                          Client and shall be reissued to the Client in any event that the invoices remain unpaid for longer
                          than sixty (60) days. MTS reserves the right to suspend Services and/or change payment terms to
                          full prepayment for Clients with overdue invoices of ninety (90) days or more.

                        </li>
                        <li>
                          <b>ARBITRATION AND CHOICE OF LAW.</b> Any dispute, difference or claim arising out of or in connection
                          with the Terms, or the breach, terminations or invalidity thereof if not settled between the parties
                          shall be settled by arbitration. The parties hereto may agree to the appointment of an arbitrator
                          or, failing agreement within fourteen (14) days after either party has given to the other a written
                          request to concur in the appointment of an arbitration, either party may request the Hong Kong
                          International Arbitration Centre (“HKIAC”) to appoint an arbitrator. The place of arbitration shall
                          be in Hong Kong SAR at HKIAC. There shall be only one arbitrator. The language to be used in the
                          arbitral proceedings shall be English.
                          <br/>
                          <br/> The arbitration award shall be given in writing and shall be final and binding on the parties,
                          not subject to any appeal, and shall deal with the question of costs of arbitration and all matters
                          thereto. Judgment upon the award rendered may be entered into any court having jurisdiction or
                          application may be made to such court for a judicial recognition of the award or an order of enforcement
                          thereof, as the case may be.
                          <br/>
                          <br/> The agreements and contracts to which these Terms apply shall be construed in accordance with
                          and governed by the laws of Hong Kong Special Administrative Region, and for the purpose of legal
                          proceedings, this agreement shall be deemed to have been executed in Hong Kong and to be performed
                          there.


                        </li>
                        <li>
                          <b>MTS’ RIGHTS UNDER NON-PAYMENT.</b> Without prejudice to all or any right MTS may have at Common
                          Law, MTS has the following rights in the event of non-repayment or otherwise as set forth below.
                          <br/>
                          <br/>
                          <ul style="list-style-type: none;">
                            <li> (a) MTS has a general and particular lien over all samples delivered to be tested for all claims
                              and money owing by the client to MTS under any contract whatsoever and in any other way whatsoever.</li>
                            <li> (b) Until the contract sums together with interest has been received, during the currency of
                              the said lien, MTS is entitled to be paid reasonable storage charges for samples retained in
                              MTS’s custody.</li>
                            <li> (c) In case any lien not satisfied within a reasonable time from the date upon which MTS first
                              gave notice of the exercise of their lien to the client, the samples in its custody may be
                              sold and the proceeds of sale may be applied to the satisfaction of every such lien and all
                              interest, other charges and expenses in relation thereto.</li>
                          </ul>
                        </li>
                        <li>
                          <b> FORCE MAJEURE.</b> MTS shall not be liable for any loss or damage caused by delay in the performance
                          or non-performance of any of its obligations hereunder where the same is occasioned by any cause
                          whatsoever that is beyond MTS’ control including but not limited to an Act of God, war, civil disturbance,
                          requisitioning, governmental or parliamentary restrictions of any kind, import or export regulations,
                          strike lockout or trade dispute (whether involving its own employees or those of any other persons),
                          difficulties in obtaining workmen, breakdown of machinery, and fire or accident. Should any such
                          events occur, MTS may cancel or suspend the contract in question without incurring any liability
                          whatsoever for any loss or damage thereby occasioned.
                          <br/>
                          <br/> In the event that MTS is prevented by any reason whatsoever outside MTS’ control from performing
                          and completing its Services for an order made by the Client, the Client agrees to pay MTS the amount
                          of all abortive expenditures incurred and a percentage of the agreed fee equal to the percentage
                          of the service actually performed. In such event MTS shall be discharged from all responsibility
                          for any and all non-performance of the ordered Services.
                          <br/>
                          <br/> In the event that any unforeseeable time or costs are incurred in the course of performing its
                          services, MTS shall be entitled to render the additional charges to the Client to reasonably reflect
                          the extra time and costs incurred.

                        </li>
                        <li>
                          <b> DELEGATION OF PERFORMANCE.</b> MTS, at its discretion, shall be entitled to delegate the performance
                          of the whole or any part of the Services contracted for with the Client to any agent or subcontractor.
                          <li>
                            <b> SEVERABILITY AND ENTIRETY.</b> These Terms apply to the maximum extent permitted by relevant
                            law. If a court holds that we cannot enforce a part of these Terms as written, MTS and Client
                            will replace those terms with similar terms to the extent enforceable under the relevant law,
                            but the rest of these Terms will remain in effect. This is the entire contract between MTS and
                            the Client regarding the Services. The Terms supersede any prior contract or oral or written
                            statements regarding the Services.


                          </li>
                          <li>
                            <b>WAIVER. </b> The failure of either party to insist upon or enforce strict performance of any
                            of the provisions of these Terms or to exercise any rights or remedies under these Terms will
                            not be construed as a waiver or relinquishment to any extent of such party's right to assert
                            or rely upon any such provision, right or remedy in that or any other instance; rather, the same
                            will remain in full force and effect.
                          </li>
                      </ol>
                    </div>

                  </div>

                  <div class="stepsContentFooter">
                    <span class="pull-left checkboxMTS checkboxMTS-primary termsConditionCheck">
                      <input id="termsCondition" type="checkbox" class="textLeft" (change)="termsClick($event)" [disabled]="true">
                      <label for="termsCondition" class="termsConditionLink" style="color:red!important;" (change)="termsClick($event)">Please review the entirety of the Terms and Conditions and click on the box to agree</label>
                      <!-- <span style="color:red"> (*Please review the entirety of the Terms and Conditions and click on the box to agree)</span> -->
                    </span>
                    <!--<a href="javascript:void(0)" class="pull-left termsConditionLink" > I agree to above terms & conditions</a>-->
                    <!--(click)="openTerms()"-->
                    <button clickOnce id="" class="btn btn-payPal continuePayPalBtn" data-target="MakePayment" (click)="InitiatePayment()" data-hide="ReviewOrder"
                      [disabled]="disablePayment"></button>
                    <!-- <button (click)="backClick()" id="backReview" class="btn btn-default backBtn" data-target="RequestForm" data-hide="ReviewOrder">Back</button> -->
                  </div>
                </div>
                <!-- end of stepsContent-->


                <div class="stepsContent" id="MakePayment">
                  <div class="stepsContentHeader">
                    <h1>Thank you </h1>
                    <p>Your order has been submitted.</p>
                  </div>
                  <div class="stepsContentBody MakePayment">
                    <div class="orderSubmitted">
                      <div class="OrderDetails">
                        <h4>Order Details</h4>
                        <ul>
                          <li>Order number:</li>
                          <li class="value">77845487</li>
                          <li>Order total:</li>
                          <li class="value">$30</li>
                          <li>Order date:</li>
                          <li class="value">07/12/2017</li>
                        </ul>
                        <h5 class="printIcon">Print receipt</h5>
                      </div>
                      <div class="hr">
                        <hr/>
                      </div>
                      <div class="AccountDetails">
                        <h4>Account Details</h4>
                        <ul>
                          <li>Name:</li>
                          <li class="value">Joye Thomas</li>
                          <li>Address:</li>
                          <li class="value">1600, Amphitheatre Parkway
                            <br/> Mountains View,
                            <br/> CA 94043 United States</li>
                          <li>Contact #:</li>
                          <li class="value">9858 58 4548</li>
                        </ul>
                      </div>
                    </div>
                    <div class="needHelp">
                      <p class="text">Need help?</p>
                      <p class="moNo">+91 (0120) 65 111 60</p>
                      <p class="date">Monday to Friday, 10AM to 7PM </p>
                    </div>


                  </div>
                  <div class="stepsContentFooter">
                    <button id="" class="btn btn-success  gotoHomePage" data-target="SelectService" data-hide="MakePayment">GO TO HOME PAGE</button>
                  </div>
                </div>
                <!-- end of stepsContent-->

              </div>
              <div id="EtrfModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 300px;">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">ETRF Saved Successfully</h4>
                    </div>
                    <div class="modal-body " style="min-height:25px;">
                      <div class="">ETRF ID : {{etrfIdOnSave}}</div>
                    </div>
                    <div class="modal-footer ">
                      <!--<button class="btn btn-success" (click)="proceed()">Proceed</button>-->
                      <button (click)="calculateOrderTotal()" id="" class="btn btn-success continueBtn" data-target="ReviewOrder" data-dismiss="EtrfModal"
                        data-hide="RequestForm">CONTINUE &nbsp;
                        <i class="fa fa-caret-down fa-rotate-270"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>


              <div id="EnquiryForm" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 600px;">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        <span></span>ENQUIRY FOR SERVICES</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row inputDesign">
                        <div class="">
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <h4>Please use this enquiry form to send us an enquiry.</h4>
                            <h5 style="color: #337ab7">Tell us your Service Requirement</h5>
                            <label>Subject</label>
                            <input type="text" [maxLength]="200" id="Enquirysubject" [(ngModel)]="subjectModal" placeholder="Enter Subject" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Comments</label>
                            <textarea rows="6" [maxLength]="1000" id="Enquirycomments" [(ngModel)]="commentsModal" placeholder="Enter Comments"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="sendEnquiry()">Send</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>
</body>