<div class="row">
  <div class="col-xs-12  text-right">
    <p class="enquiryLinkInfo">
      <b>All prices are in US Dollars </b>
      <span style="color:red">(*Prices vary across different lab locations **Exclusive of Shipping Charges)</span>
    </p>
    <span style="float:right" *ngIf="data?.entitledOfferList" (click) ="displayApplyButton(false)">
      <p style="color:red" *ngFor="let offer of data?.entitledOfferList;let p=index">
        <b *ngIf="p==0">{{offer.OfferTitle}}
            <span class="pointer text-color" *ngIf="data?.entitledOfferList?.length>0" title="" data-toggle="tooltip" data-toggle="modal" data-target="#OfferForm">See Offer</span>
          <!-- <i class="fa fa-eye eye-cl cursor-pointer" *ngIf="data?.entitledOfferList.length>0" title="View All Offer" data-toggle="tooltip" data-toggle="modal" data-target="#OfferForm"></i> -->
        </b>
      </p>
    </span>
  </div>
</div>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title noCollapse">
      <a (click)="selectGroup(group)" class="noCollapse">
        <!--[ngClass]="{'collapsed':!group.isSelected}"   data-toggle="collapse" data-parent="#accordion" href="#{{group.id}}"
      [attr.aria-expanded]="group.isSelected"-->
        {{group.name}}</a>
    </h2>
  </div>

  <div id="{{group.id}}">
    <!--[ngClass]="{'panel-collapse':true,'collapse':true,'in':group.isSelected}"-->
    <div class="panel-body">
      <ul class="serviceContent">
        <li class="serviceCard" *ngFor="let service of group.services">
          <app-service [data]="data" [mtsService]="service"  ></app-service>
        </li>
      </ul>
    </div>
  </div>
  
</div>

<!-- <div id="ViewOfferForm" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 600px;">
   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <span></span>View All Offers</h4>
      </div>
      <div class="modal-body">
        <div class="row inputDesign">
          <div class="">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <h4>Our Ecommerce Platform for Testing Services and Inspection Services had launched!</h4>
              
              <div class="coupon zoom" *ngFor="let offer of entitledOfferList">
                  <div class="container" style="background-color:white">
                    <b style="word-wrap: break-word;">{{offer.OfferName}}</b> 
                    <p>{{offer.OfferDescription}}</p>
                    <span>Valid on Min Transaction <strong>${{offer.MinTransactionAmount}}</strong></span>
                  </div>
                  <div class="container-div">
                    <p  class="expire text-center">Expires: {{offer.ValidTo| date: 'MMM d, y, h:mm a'}}</p>
                  </div>
                </div>


            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->