<header *ngIf="userDetail && userCredential">
    <div class="dropdown searchMob">
        <a class="mobileSearchBtn" id="dLabel" data-toggle="dropdown">
            <i class="fa fa-search"></i>
        </a>
        <div class="dropdown-menu mobileSearchDropdown" aria-labelledby="dLabel">
            <form class="searchGroup" (submit)="globalSearch(search)">
                <input type="" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="search....." alt="" />
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
    <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
    </div>
    <div class="dashTopNav ">
        <div class="">
            <div class="logo">
                <div style="float:left">
                    <img src="asset/img/logo1.jpg" class="img-responsive" alt="" /> </div>
                <div *ngIf="BusinessCategoryId==5" style="margin-top:15px;">
                    <span class="heading_green">GREEN PRODUCT ASSURANCE </span>
                </div>
            </div>
            <div class="navRight">

                <div class="dropdown myAccount">
                    <a id="dLabel" data-toggle="dropdown">
                        <span class="img">
                            <img src="{{UserProfileimg}}" class="img-responsive" alt="" />
                        </span>
                        <span class="user">{{userDetail.FirstName}} {{userDetail.LastName}}
                            <br>{{userCredential.UserType}}
                            <br>
                            <span *ngIf="BusinessCategoryId==1" style="color:#983121d9">
                                <strong>Testing Service</strong>
                            </span>
                            <span *ngIf="BusinessCategoryId==2" style="color:#983121d9">
                                <strong>Inspection Service</strong>
                            </span>
                            <span *ngIf="BusinessCategoryId==3" style="color:#983121d9">
                                <strong>Audit</strong>
                            </span>
                            <span *ngIf="BusinessCategoryId==5" style="color:#983121d9">
                                <strong>Green Product</strong>
                            </span>
                        </span>
                    </a>

                    <ul class="dropdown-menu myAccountList" aria-labelledby="dLabel">
                        <li>Email ID: {{userDetail.EmailId}}</li>
                        <li>
                            <a (click)="openCustom()">Client: {{userCredential.CompanyName}}</a>
                        </li>
                        <li class="active">
                            <a (click)="logOut()" class="active">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="searchContainer">
                    <form class="search" (submit)="globalSearch(search)">
                        <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" type="search" class="" placeholder="Search..." />
                        <i class="fa fa-search"></i>
                    </form>
                </div> -->
                <div class="searchContainer" style="float:left">
                    <form class="search" (submit)="globalSearch(search)">
                        <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" type="search" class="" placeholder="Search..." />
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <div class="logo" style="width:17%!important;float:right">
                    <img src="{{userCredential.CompanyLogo}}" style="max-height:40px!important;" class="img-responsive" alt="" /> </div>



            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top dashNav" role="navigation">
        <div class="">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle menuIcon" data-toggle="collapse" data-target="#navbar">
                    <img src="asset/img/menuIcon.png" class="closed" alt="" />
                    <img src="asset/img/closeMenu.png" class="opened" alt="" />
                </button>
                <!--
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
      -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!--Header For testing -->
            <div *ngIf="BusinessCategoryId==1" class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-left top_nav ">
                    <li *ngIf="userCredential.UserPermission.ViewDashboard" class="first">
                        <a href="" [routerLink]=" ['/dashboard']">DASHBOARD </a>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewOrderTracking || userCredential.UserPermission.ViewOrderCommunication || userCredential.UserPermission.ViewProductDisposition">
                        <a class="dropdown-toggle" data-toggle="dropdown">MY ORDER
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewOrderTracking">
                                <a href="" [routerLink]=" ['/my-order/order-tracking']">ORDER TRACKING </a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewOrderCommunication">
                                <a href="" [routerLink]=" ['/my-order/order-communication']">ORDER COMMUNICATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewProductDisposition">
                                <a href="" [routerLink]=" ['/my-order/product-disposition']">PRODUCT DISPOSITION </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="userCredential.UserPermission.ViewETRF">
                        <a href="" [routerLink]=" ['/online-etrf']">Online e-TRF </a>
                    </li>
                    <li *ngIf="userCredential.UserPermission.ViewOrderAnalysis">
                        <a href="" [routerLink]=" ['/order-analysis']">ORDER ANALYSIS </a>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewThirdPartyReportList || userCredential.UserPermission.ViewReport || userCredential.UserPermission.ViewTechnicalDocument">
                        <a class="dropdown-toggle" data-toggle="dropdown">MANAGE DOCUMENT
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewTechnicalDocument">
                                <a href="" [routerLink]=" ['/manage-document/technical-document-upload']">TECHNICAL DOCUMENT UPLOAD</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewReport">
                                <a href="" [routerLink]="['/manage-document/report-upload']">REPORT UPLOAD</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewThirdPartyReportList">
                                <a href="" [routerLink]="['/manage-document/other-report-upload']">OTHER REPORT UPLOAD</a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="userCredential.UserPermission.ViewProductionDashboard">
                        <a href="" [routerLink]=" ['/production-dashboard/dashboard']">Production Dashboard  </a>
                    </li>
                    
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewRole || userCredential.UserPermission.ViewUserList || userCredential.UserPermission.ViewOrderTrackingConfiguration || userCredential.UserPermission.EditCompanyMapping">
                        <a class="dropdown-toggle" data-toggle="dropdown">ADMIN
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewRole">
                                <a href="" [routerLink]=" ['/admin/manage-roles']">MANAGE ROLES</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewUserList">
                                <a href="" [routerLink]=" ['/admin/manage-users']">MANAGE USERS</a>
                            </li>
                            <li>
                                <a *ngIf="userCredential.UserPermission.ViewOrderTrackingConfiguration" href="" [routerLink]=" ['/admin/my-order-configuration']">MY ORDERS CONFIGURATION</a>
                            </li>
                            <li>
                                <a *ngIf="userCredential.UserPermission.EditCompanyMapping" href="" [routerLink]=" ['/admin/company-mapping']">COMPANY MAPPING</a>
                            </li>
                            <li>
                                <a href="" *ngIf="userCredential.UserPermission.ViewOrderAnalysisconfiguration" [routerLink]=" ['/admin/order-analysis-configuration']">ORDER-ANALYSIS CONFIGURATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewETRFconfiguration == true">
                                <a href="" [routerLink]=" ['/admin/etrf-configuration'] ">e-Trf CONFIGURATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewConfiguredClientList">
                                <a href="" [routerLink]=" ['/admin/client-configuartion-list']">Configured Client List</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewManagePromoOffer">
                                <a href="" [routerLink]=" ['/admin/manage-promooffer'] ">Manage Promo Offer</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewEcommerceUser">
                                <a href="" [routerLink]=" ['/admin/ecommerce-user'] "> Ecommerce User</a>
                            </li>
                            <li>
                                <a href="" [routerLink]=" ['/admin/etrf-listing-configuartion'] "> ETRF Listing Configuration</a>
                            </li>
                            <!-- <li *ngIf="userCredential.UserPermission.ViewManageOrderConfigurationType">
                                <a href="" [routerLink]=" ['/admin/manage-order-configuration-type'] "> Manage ORDER CONFIGURATION Type</a>
                            </li> -->
                            <li  *ngIf="userCredential.UserPermission.ViewBaseTarget">
                                <a href="" [routerLink]=" ['/production-dashboard/admin/manage-base-target'] "> Manage Base Target (PD)</a>
                            </li>
                            <!-- <li>
                                <a href="" [routerLink]=" ['/managePopups'] "> POPUP CONFIGURATION</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewUserGuide">
                        <a class="dropdown-toggle" data-toggle="dropdown">Supporting TOOLS
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewUserGuide">
                                <a href="" [routerLink]=" ['/supporting-tool/user-guide']">USER GUIDE</a>
                            </li>
                            <!-- <li *ngIf="userCredential.UserPermission.ViewPOSummary">
                                <a href="" [routerLink]=" ['/supporting-tool/po-summary']">PO SUMMARY</a>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewEDIDashboard" href="" [routerLink]=" ['/edi-dashboard']">EDI Dashboard </a>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewECommerce" href="" [routerLink]="(['/e-commerce'])">eCommerce</a>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewOrderInformation" href="" [routerLink]="['/order-information']">ORDER INFORMATION</a>
                    </li>
                    <li title="My Account" class="moShow dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">My Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li title="Email">
                                <a href="mailto:navpreet@qsstechnosoft.com">Email ID: navpreet@qsstechnosoft.com</a>
                            </li>
                            <li title="Client">
                                <a href="client.html">Client: William Sonoma</a>
                            </li>
                        </ul>
                    </li>
                    <li title="Logout" class="moShow">
                        <a href="">Logout</a>
                    </li>
                </ul>
            </div>

            <!--Header for inspection-->
            <div *ngIf="BusinessCategoryId==2 || BusinessCategoryId==3" class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-left top_nav ">
                    <li *ngIf="userCredential.UserPermission.ViewDashboard" class="first">
                        <a href="" [routerLink]=" ['/dashboard']">DASHBOARD </a>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewOrderTracking || userCredential.UserPermission.ViewOrderCommunication || userCredential.UserPermission.ViewProductDisposition">
                        <a class="dropdown-toggle" data-toggle="dropdown">MY ORDER
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewOrderTracking">
                                <a href="" [routerLink]=" ['/my-order/inspection-order-tracking']">ORDER TRACKING </a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewOrderCommunication">
                                <a href="" [routerLink]=" ['/my-order/inspection-order-communication']">ORDER COMMUNICATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewProductDisposition">
                                <a href="" [routerLink]=" ['/my-order/inspection-product-disposition']">PRODUCT DISPOSITION </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="userCredential.UserPermission.ViewETRF">
                        <a href="" [routerLink]=" ['/online-etrf']">Online e-TRF </a>
                    </li>
                    <li *ngIf="userCredential.UserPermission.ViewOrderAnalysis">
                        <a href="" [routerLink]=" ['/order-analysis']">ORDER ANALYSIS </a>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewThirdPartyReportList || userCredential.UserPermission.ViewReport || userCredential.UserPermission.ViewTechnicalDocument">
                        <a class="dropdown-toggle" data-toggle="dropdown">MANAGE DOCUMENT
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewTechnicalDocument">
                                <a href="" [routerLink]=" ['/manage-document/technical-document-upload']">TECHNICAL DOCUMENT UPLOAD</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewReport">
                                <a href="" [routerLink]="['/manage-document/report-upload']">REPORT UPLOAD</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewThirdPartyReportList">
                                <a href="" [routerLink]="['/manage-document/other-report-upload']">OTHER REPORT UPLOAD</a>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="userCredential.UserPermission.ViewProductionDashboard">
                        <a href="" [routerLink]=" ['/production-dashboard/dashboard']">Production Dashboard</a>
                    </li>

                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewRole || userCredential.UserPermission.ViewUserList || userCredential.UserPermission.ViewOrderTrackingConfiguration || userCredential.UserPermission.EditCompanyMapping">
                        <a class="dropdown-toggle" data-toggle="dropdown">ADMIN
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewRole">
                                <a href="" [routerLink]=" ['/admin/manage-roles']">MANAGE ROLES</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewUserList">
                                <a href="" [routerLink]=" ['/admin/manage-users']">MANAGE USERS</a>
                            </li>
                            <li>
                                <a *ngIf="userCredential.UserPermission.ViewOrderTrackingConfiguration" href="" [routerLink]=" ['/admin/my-order-configuration']">MY ORDERS CONFIGURATION</a>
                            </li>
                            <li>
                                <a *ngIf="userCredential.UserPermission.EditCompanyMapping" href="" [routerLink]=" ['/admin/company-mapping']">COMPANY MAPPING</a>
                            </li>
                            <li>
                                <a href="" *ngIf="userCredential.UserPermission.ViewOrderAnalysisconfiguration" [routerLink]=" ['/admin/order-analysis-configuration']">ORDER-ANALYSIS CONFIGURATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewETRFconfiguration == true">
                                <a href="" [routerLink]=" ['/admin/etrf-configuration'] ">e-Trf CONFIGURATION</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewConfiguredClientList">
                                <a href="" [routerLink]=" ['/admin/client-configuartion-list']">Configured Client List</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewManagePromoOffer">
                                <a href="" [routerLink]=" ['/admin/manage-promooffer'] ">Manage Promo Offer</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.ViewProductDisposition">
                                <a href="" [routerLink]=" ['/admin/ecommerce-user'] "> Ecommerce User</a>
                            </li>
                            <li>
                                <a href="" [routerLink]=" ['/admin/etrf-listing-configuartion'] "> ETRF Listing Configuration</a>
                            </li>
                            <!-- <li *ngIf="userCredential.UserPermission.ViewManageOrderConfigurationType">
                                <a href="" [routerLink]=" ['/admin/manage-order-configuration-type'] "> Manage ORDER CONFIGURATION TYPE</a>
                            </li> -->
                            <li  *ngIf="userCredential.UserPermission.ViewBaseTarget">
                                <a href="" [routerLink]=" ['/production-dashboard/admin/manage-base-target'] "> Manage Base Target (PD)</a>
                            </li>
                            <!-- <li>
                                <a href="" [routerLink]=" ['/managePopups'] "> POPUP CONFIGURATION</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="dropdown" *ngIf="userCredential.UserPermission.ViewUserGuide">
                        <a class="dropdown-toggle" data-toggle="dropdown">Supporting TOOLS
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.ViewUserGuide">
                                <a href="" [routerLink]=" ['/supporting-tool/user-guide']">USER GUIDE</a>
                            </li>
                            <!-- <li *ngIf="userCredential.UserPermission.ViewPOSummary">
                                <a href="" [routerLink]=" ['/supporting-tool/po-summary']">PO SUMMARY</a>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewEDIDashboard" href="" [routerLink]=" ['/edi-dashboard']">EDI Dashboard </a>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewECommerce" href="" [routerLink]="(['/e-commerce'])">eCommerce</a>
                    </li>
                    <li>
                        <a *ngIf="userCredential.UserPermission.ViewOrderInformation" href="" [routerLink]="['/order-information']">ORDER INFORMATION</a>
                    </li>
                    <li title="My Account" class="moShow dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">My Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li title="Email">
                                <a href="mailto:navpreet@qsstechnosoft.com">Email ID: navpreet@qsstechnosoft.com</a>
                            </li>
                            <li title="Client">
                                <a href="client.html">Client: William Sonoma</a>
                            </li>
                        </ul>
                    </li>
                    <li title="Logout" class="moShow">
                        <a href="">Logout</a>
                    </li>
                </ul>
            </div>

            <!-- Header For Green-Product-Assurance -->
            <div *ngIf="BusinessCategoryId==5" class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-left top_nav ">
                    <li class="dropdown" *ngIf="userCredential.UserPermission.CreateGPApplication || userCredential.UserPermission.GPInternalReview || userCredential.UserPermission.GPPublicReview || userCredential.UserPermission.GPVendorView ">
                        <a class="dropdown-toggle" data-toggle="dropdown">Green Product
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="userCredential.UserPermission.CreateGPApplication">
                                <a href="" [routerLink]=" ['/green-product-assurance/new-application']">New Application
                                </a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.GPInternalReview">
                                <a href="" [routerLink]=" ['/green-product-assurance/internal-view']">Internal View</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.GPPublicReview">
                                <a href="" [routerLink]=" ['/green-product-assurance/public-view']">Public View</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.GPVendorView">
                                <a href="" [routerLink]=" ['/green-product-assurance/vendor-view']">Vendor View</a>
                            </li>
                            <li *ngIf="userCredential.UserPermission.GPCertificateManagementView">
                                <a href="" [routerLink]=" ['/green-product-assurance/certificate-management']">Certificate Management</a>
                            </li>
                        </ul>
                    </li>

                    <li title="My Account" class="moShow dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">My Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li title="Email">
                                <a href="mailto:navpreet@qsstechnosoft.com">Email ID: navpreet@qsstechnosoft.com</a>
                            </li>
                            <li title="Client">
                                <a href="client.html">Client: William Sonoma</a>
                            </li>
                        </ul>
                    </li>
                    <li title="Logout" class="moShow">
                        <a href="">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="modal fade" id="companyChange" role="dialog">
        <div class="modal-dialog modal-md clientChangeModel">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Business Category & Company</h4>
                </div>
                <div class="modal-body">
                    <div class="modelInput">
                        <label for="UserName">Business Category</label>
                        <select name=" " class="SlectBox" [(ngModel)]="selectedCategory" (change)="categoryChange()">
                            <option [ngValue]="category.BusinessCategoryId" *ngFor="let category of categoryList">{{category.BusinessCategoryName|formatBusinessCategory}} </option>
                        </select>
                    </div>
                    <!-- <div class="modelInput">
                                    <label for="UserName">Company </label>
                                    <select name=" " class="SlectBox" [(ngModel)]="selectedCompany">
                                        <option [ngValue]="company.CompanyId" *ngFor="let company of companyList">{{company.CompanyName}} </option>
                                    </select>
                                </div> -->
                    <div class="modelInput  inputDesign autoComplete">
                        <label for="UserName">Company</label>
                        <input auto-complete [(ngModel)]="selectedClientCompany" [source]="companyList" [disabled]="!companyList" placeholder="Select Company"
                            display-property-name="CompanyName" value-property-name=null style="margin-bottom: 0px;" [list-formatter]="renderCompany"
                            close-on-focusout="true" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="setClientAndCategory()" [disabled]="selectedCategory == 0">Go</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            
                </div>
            </div>
        </div>
    </div>
</header>