@media (max-width: 750px) and (min-width: 240px) {
    .heading_green{color:#7cca2c;font-weight: bold;margin-top:15px;font-size:9px;text-shadow: 1px 1px #000000;height:30px; }
}
.heading_green{color:#7cca2c;margin-top:15px;font-size:14px;text-shadow: 1px 1px #000000;}

.dashTopNav .navRight .searchContainer {
    width: 47%;
}

.dashTopNav .navRight {
    width: 60%;
}

.dashTopNav .logo {
    width: 40%;
}