<footer class="footer">
  <p>
    <span>Copyright © 2017 Modern Testing Services (Global) Ltd. All rights reserved</span>
    <a (click)="openPrivacyPolicy()">Privacy Policy</a>
    <a (click)="openTermsOfUse()">Terms Of Use</a>
  </p>
</footer>
<div class="modal fade" id="termsOfUse" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md uploadReportModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms Of Use</h4>
      </div>
      <div class="footer-modal-body">
        <section class="filter dashboardfilter padding">
          <div>
            <b class="background"> Terms and Conditions</b>
          </div>
          <br>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">1 - INTRODUCTION</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color"> 6 - INDEMNIFICATION</span>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color"> 2 - USE OF CONTENT</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">7 - AMENDMENT</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">3 - THIRD-PARTY CONTENT AND SERVICES</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color"> 8 - GOVERNING LAW</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color"> 4 - DISCLAIMER OF WARRANTY/ACCURACY OF CONTENT</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">9 - SEVERABILITY</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">5 - DISCLAIMER OF LIABILITY</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">10 - WAIVER</span>
            </div>
          </div>

          <br>
          <div style="margin-top: 100px;" id="1">
            <b class="background">1. INTRODUCTION</b>
            <p> Welcome to the Internet site (“Site”) of Modern Testing Services (Global) Limited and its affiliates (collectively,
              “MTS”). Please read these terms of use ("Terms") in detail as they create a contract between you and MTS that
              governs your use of the Site provided by MTS. BY USING THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU
              DO NOT AGREE TO BE BOUND BY THESE TERMS, YOU MUST NOT USE THIS SITE. Please note that special terms apply to
              some services offered on this Site, like ProCompliance and Online FCAI Booking. These terms are posted in connection
              with the applicable service. Any such terms are in addition to these Terms, and in the event of a conflict,
              prevail over these Terms. You acknowledge that these Terms are supported by reasonable and valuable consideration,
              the receipt and adequacy of which are hereby acknowledged. Without limiting the generality of the foregoing,
              you acknowledge that such consideration includes your use of the Site and receipt of data, materials and information
              available at or through the Site.
            </p>
          </div>
          <br>

          <div id="2">
            <b class="background"> 2. USE OF CONTENT</b>
            <p> All information, materials, functions and other content (collectively, “Content”) contained in the Site are MTS’
              copyrighted property or the copyrighted property of MTS’ licensors or licensees. All trademarks, services marks,
              trade names, and trade dress are proprietary to MTS and/or MTS’ licensors or licensees. MTS may change the
              Site or delete Content or features at any time, in any way, for any or no reason. Unless MTS specifically agrees
              in writing, no Content from the Site may be used, reproduced, transmitted, distributed or otherwise exploited
              in any way other than as part of the Site, except that where the Site is configured to enable the download
              of particular Content, you may download such Content for your business use with MTS only, provided that you
              (1) keep intact all copyright and other proprietary notices, and (2) make no modifications to the Content.
              In the event that MTS offers downloads of software on the Site and you download such software, the software,
              including any files, images incorporated in or generated by the software, and data accompanying the software
              (collectively, the “Software”) are licensed to you by MTS or third-party licensors for your business use with
              MTS only. MTS does not transfer title to the Software to you. You may not distribute or otherwise exploit the
              Software or decompile, reverse engineer, disassemble or otherwise reduce the Software to a human-readable form.
            </p>
          </div>
          <br>

          <div id="3">
            <b class="background">3. THIRD-PARTY CONTENT AND SERVICES </b>
            <p>The Site may contain features and functionalities linking you or providing you with certain functionality and
              access to third-party Content, including systems, information and databases, applications, programs, and products
              or services; you acknowledge that MTS is not responsible for such Content or services. MTS is not an agent
              of any third-party. Any such transactions or activities associated with third-party Content, and any terms
              and conditions associated with such third-party Content, are solely between you and the applicable third-party.
              Similarly, MTS is not responsible for any third-party Content you access with the Site, and you irrevocably
              waive any claim against MTS with respect to such third-party Content. MTS shall have no liability, obligation
              or responsibility for any transactions and activities between you and any such third-party. You should make
              whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction
              with any of these third-parties.
            </p>
          </div>
          <br>

          <div id="4">
            <b class="background">4. DISCLAIMER OF WARRANTY/ACCURACY OF CONTENT</b>
            <p>Although an effort is made to assure the accuracy and completeness of the Content provided on the Site, MTS makes
              no express or implied warranty as to the accuracy, adequacy, completeness, legality, reliability or usefulness
              of the Site's Content. While there may be changes to the Content covered on the Site, these changes may or
              may not be made available on the Site. If you have obtained information from the Site from a Web server source
              other than the MTS host server, be aware that Site Content or services can be altered or changed after they
              are first made available on the Site. MTS PROVIDES THE SITE AND SERVICES "AS IS". TO THE MAXIMUM EXTENT PERMITTED
              BY APPLICABLE LAW, MTS MAKES NO (AND SPECIFICALLY DISCLAIMS ALL) REPRESENTATIONS OR WARRANTIES OF ANY KIND,
              WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY THAT THE SITE
              WILL BE UNINTERRUPTED, ERROR-FREE OR FREE OF HARMFUL COMPONENTS, THAT THE CONTENT WILL BE SECURE OR NOT OTHERWISE
              LOST OR DAMAGED, OR ANY IMPLIED WARRANTY OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR
              PURPOSE, OR NON-INFRINGEMENT, AND ANY WARRANTY ARISING OUT OF ANY COURSE OF PERFORMANCE, COURSE OF DEALING
              OR USAGE OF TRADE. SOME JURISDICTIONS DO NOT ALLOW THE FOREGOING EXCLUSIONS. IN SUCH AN EVENT SUCH EXCLUSION
              WILL NOT APPLY SOLELY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.</p>
          </div>
          <br>

          <div id="5">
            <b class="background">5. DISCLAIMER OF LIABILITY</b>
            <p> MTS shall be not held liable for any improper or incorrect use of the Content on the Site and assume no responsibility
              for anyone's use of the Content on the Site. MTS shall not be held liable for any direct or indirect damages
              caused in any way through the use of Content on the Site. TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT
              WILL MTS, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT,
              INCIDENTAL, SPECIAL, PUNITIVE, COVER OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST
              PROFITS, REVENUE, GOODWILL, USE OR CONTENT) HOWEVER CAUSED, UNDER ANY THEORY OF LIABILITY, EVEN IF MTS HAS
              BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE
              AGGREGATE LIABILITY OF MTS AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS, RELATING
              TO THE PLATFORM WILL BE LIMITED TO AN AMOUNT EQUAL TO ONE YEAR OF YOUR SUBSCRIPTION FEE FOR THE SITE. THE LIMITATIONS
              AND EXCLUSIONS ALSO APPLY IF THIS REMEDY DOES NOT FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL
              PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES. IN SUCH
              AN EVENT THIS LIMITATION WILL NOT APPLY TO YOU TO THE EXTENT PROHIBITED BY LAW.
            </p>
          </div>
          <br>

          <div id="6">
            <b class="background">6. INDEMNIFICATION</b>
            <p> To the extent permitted by law, you will defend MTS against any cost, loss, damage, or other liability arising
              from any third-party demand or claim from your use of the Site. MTS will reasonably notify you of any such
              claim or demand that is subject to your indemnification obligation.
            </p>
          </div>
          <br>

          <div id="7">
            <b class="background">7. AMENDMENT</b>
            <p> MTS reserves the right to modify or replace these Terms at any time in its sole discretion. MTS will indicate
              at the top of these Terms the date these Terms were last updated. Any changes will be effective upon posting
              the revised version of these Terms on the Site (or such later effective date as may be indicated at the top
              of the revised Terms). Therefore, MTS encourages you to check the date of these Terms whenever you use the
              Site to see if these Terms have been updated. Your continued access or use of any portion of the Site constitutes
              your acceptance of such changes. If you don't agree to any of the changes, MTS is not obligated to keep providing
              access to the Site, and you must stop using the Site.
            </p>
          </div>
          <br>

          <div id="8">
            <b class="background">8. GOVERNING LAW</b>
            <p> These Terms are governed by the laws of the Commonwealth of Massachusetts. Any dispute arising from these Terms
              and the use of the Site will be governed by the laws of the Commonwealth of Massachusetts.
            </p>
          </div>
          <br>

          <div id="9">
            <b class="background">9. SEVERABILITY </b>
            <p>These Terms apply to the maximum extent permitted by relevant law. If a court holds that we cannot enforce a
              part of these Terms as written, you and MTS will replace those terms with similar terms to the extent enforceable
              under the relevant law, but the rest of these Terms will remain in effect. This is the entire contract between
              you and MTS regarding the Site. The Terms supersede any prior contract or oral or written statements regarding
              your use of the Site.
            </p>
          </div>
          <br>

          <div id="10">
            <b class="background">10. WAIVER </b>
            <p> failure of either party to insist upon or enforce strict performance of any of the provisions of these Terms
              or to exercise any rights or remedies under these Terms will not be construed as a waiver or relinquishment
              to any extent of such party's right to assert or rely upon any such provision, right or remedy in that or any
              other instance; rather, the same will remain in full force and effect.
            </p>
          </div>
          <br>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="privacyPolicy" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md uploadReportModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>
      <div class="footer-modal-body">

        <section class="filter dashboardfilter padding">
          <div>
            <b class="background"> Privacy Policy</b>
          </div>
          <br>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">1 - What information do we collect?</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">6 - Children’s Online Privacy Protection Act Compliance</span>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">2 - What do we use your information for?</span>

            </div>
            <div class="col-lg-4">
              <span class="text-color">7 - Online Privacy Policy Only</span>

            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">3 - Do we use cookies? </span>

            </div>
            <div class="col-lg-4">
              <span class="text-color">8 - Your Consent</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">4 - Do we disclose any information to outside parties?</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">9 - Changes to our Privacy Policy</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">5 - California Online Privacy Protection Act Compliance</span>
            </div>
          </div>

          <br>
          <div style="margin-top: 100px;" id="1">
            <b class="background">1. What information do we collect?</b>
            <p> We collect information from you when you register on our site, place an order or fill out a form. When ordering
              or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address,
              phone number, credit card information or social security number. You may, however, visit our site anonymously.
            </p>
          </div>
          <br>

          <div id="2">
            <b class="background"> 2. What do we use your information for?</b>
            <p> Any of the information we collect from you may be used in one of the following ways: - To personalize your experience
              (your information helps us to better respond to your individual needs) - To improve our website (we continually
              strive to improve our website offerings based on the information and feedback we receive from you) - To improve
              customer service (your information helps us to more effectively respond to your customer service requests and
              support needs) - To process transactions Your information, whether public or private, will not be sold, exchanged,
              transferred, or given to any other company for any reason whatsoever, without your consent, other than for
              the express purpose of delivering the purchased product or service requested. - To send periodic emails The
              email address you provide for order processing, may be used to send you information and updates pertaining
              to your order, in addition to receiving occasional company news, updates, related product or service information,
              etc.
            </p>
          </div>
          <br>

          <div id="3">
            <b class="background">3. Do we use cookies? </b>
            <p>We do not use cookies.
            </p>
          </div>
          <br>

          <div id="4">
            <b class="background">4. Do we disclose any information to outside parties?</b>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This
              does not include trusted third parties who assist us in operating our website, conducting our business, or
              servicing you, so long as those parties agree to keep this information confidential. We may also release your
              information when we believe release is appropriate to comply with the law, enforce our site policies, or protect
              ours or others rights, property, or safety. However, non-personally identifiable visitor information may be
              provided to other parties for marketing, advertising, or other uses.</p>
          </div>
          <br>

          <div id="5">
            <b class="background">5. California Online Privacy Protection Act Compliance</b>
            <p> Because we value your privacy we have taken the necessary precautions to be in compliance with the California
              Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties
              without your consent. As part of the California Online Privacy Protection Act, all users of our site may make
              any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile'
              page.
            </p>
          </div>
          <br>


          <div id="6">
            <b class="background">6. Children’s Online Privacy Protection Act Compliance</b>
            <p> We are in compliance with the requirements of COPPA (Children’s Online Privacy Protection Act), we do not collect
              any information from anyone under 13 years of age. Our website, products and services are all directed to people
              who are at least 13 years old or older.
            </p>
          </div>
          <br>

          <div id="7">
            <b class="background">7. Online Privacy Policy Only</b>
            <p> This online privacy policy applies only to information collected through our website and not to information collected
              offline.
            </p>
          </div>
          <br>

          <div id="8">
            <b class="background">8. Your Consent</b>
            <p> By using our site, you consent to our Privacy Policy.
            </p>
          </div>
          <br>

          <div id="9">
            <b class="background">9. Changes to our Privacy Policy </b>
            <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you
              of any changes, and/or update the Privacy Policy modification date below. This policy was last modified on
              January 22nd, 2013.
            </p>
          </div>
          <br>
        </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>