<body *ngIf="userCredential && userDetail">

  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a> <img src="asset/img/angle-right.png" />
            <span *ngIf="!userCredential?.UserPermission?.ViewECommerce">Online e-TRF</span>
            <span *ngIf="userCredential?.UserPermission?.ViewECommerce">Online e-TRF/ Booking Form</span>
            <span *ngIf="companyName">({{ companyName }})</span>
          </p>
        </div>
        <div *ngIf="isLoader">
          <div class="loading-dialog"></div>
        </div>
      </section>
      <div *ngIf="
                  userCredential.BusinessCategoryId == 2 && userDetail.IsFCAI;
                  else otherDiv
                ">
        <app-fcai-online-etrf></app-fcai-online-etrf>
      </div>
      <ng-template #otherDiv>
        <section id="etrf-filter" class="filter">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 ">
                <h3>Search</h3>
                <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                <form id="Filterbtn" class="collapse in">
                  <div class="row form inputMatrial">
                    <div class="col-md-2 date-owl">
                      <label>Date From</label>
                      <owl-date-time [(ngModel)]="dateFrom" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'"
                        [dateFormat]="'MM-DD-YYYY'" (ngModelChange)="searchModelChange('dateFrom')" [ngModelOptions]="{ standalone: true }"
                        [locale]="en" [autoClose]="true" [type]="'calendar'">
                      </owl-date-time>
                    </div>
                    <div class="col-md-2 date-owl">
                      <label>Date To</label>
                      <owl-date-time [(ngModel)]="dateTo" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM-DD-YYYY'"
                        (ngModelChange)="searchModelChange('dateTo')" [ngModelOptions]="{ standalone: true }" [locale]="en"
                        [autoClose]="true" [type]="'calendar'">
                      </owl-date-time>
                    </div>
                    <div class="col-md-2">
                      <md-input-container>
                        <input mdInput placeholder="SKU Number" [(ngModel)]="skuNumber" [ngModelOptions]="{ standalone: true }"
                          (change)="searchModelChange('skuNumber')" />
                      </md-input-container>
                    </div>
                    <div class="col-md-2">
                      <md-input-container>
                        <input mdInput placeholder="PO Number" [(ngModel)]="poNumber" [ngModelOptions]="{ standalone: true }"
                          (change)="searchModelChange('poNumber')" />
                      </md-input-container>
                    </div>
                  
                    <div class="col-md-2" *ngIf="userCredential?.UserPermission?.ViewECommerce">
                      <md-input-container>
                        <input mdInput placeholder="e-TRF No./ Booking Form No." [(ngModel)]="etrfNumber"
                          [ngModelOptions]="{ standalone: true }" (change)="searchModelChange('etrfNumber')" />
                      </md-input-container>
                    </div>
                    <div class="col-md-2" *ngIf="!userCredential?.UserPermission?.ViewECommerce">
                      <md-input-container>
                        <input mdInput placeholder="e-TRF Number" [(ngModel)]="etrfNumber" [ngModelOptions]="{ standalone: true }"
                          (change)="searchModelChange('etrfNumber')" />
                      </md-input-container>
                    </div>
                    <div class="col-md-2"  >
                      <md-input-container>
                        <input mdInput placeholder="Report No" [(ngModel)]="sampleReportNo" [ngModelOptions]="{ standalone: true }"
                          (change)="searchModelChange('sampleReportNo')" />
                      </md-input-container>
                    </div>
                    <div class="col-md-2" style="margin-top: 10px;">
                      <md-select placeholder="Select Category" [(ngModel)]="etrfTypeId" [ngModelOptions]="{ standalone: true }"
                        (change)="searchModelChange('Status')">
                        <md-option *ngFor="let type of etrfTypes" [value]="type.Id">{{ type.Value }}</md-option>
                      </md-select>
                    </div>
                    <!-- <div style="width: 100%;clear: both; float: left;"></div> -->

                    <div class="col-md-2" style="margin-top: 10px;">
                      <md-select placeholder="Select Status" [(ngModel)]="Status" [ngModelOptions]="{ standalone: true }"
                        (change)="searchModelChange('Status')">
                        <md-option value="Placed">Placed</md-option>
                        <md-option value="Received">Received</md-option>
                        <md-option value="Processing">Processing</md-option>
                        <md-option value="Report Issued">Report Issued</md-option>
                      </md-select>
                    </div>
                    <div class="col-md-2"  >
                      <md-input-container>
                        <input mdInput placeholder="Comment" [(ngModel)]="comment" [ngModelOptions]="{ standalone: true }"
                          (change)="searchModelChange('comment')" />
                      </md-input-container>
                    </div>
                    <div class="col-md-12" style="text-align: right; margin-bottom: 10px;">
                      <button class="btn btn-success" style="line-height: 22px;margin-bottom: 0px;width: 100px;"
                        (click)="search()">
                        Search
                      </button>
                      <button class="btn btn-primary" style="width:100px;" (click)="reset()">
                        Reset
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="DataGrid config">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 pl-0 pr-0">
                <div class="col-md-12" class="textRight addLink">
                  <span *ngIf="userCredential.UserPermission.ViewECommerce" [routerLink]="['/e-commerce']">
                    <button class="btn btn-primary">{{ buttonText }}</button>
                  </span>
                  <span *ngIf="userCredential.UserPermission.AddNewETRF">
                    <button *ngIf="userCredential.BusinessCategoryId == 1" (click)="addNewETRF($event)" class="btn btn-primary">
                      Add New Test Request
                    </button>
                    <button *ngIf="userCredential.BusinessCategoryId == 2" (click)="addNewETRF($event)" class="btn btn-primary">
                      Add New Booking Request
                    </button>
                  </span>
                </div>
              </div>
              <!-- STARTTTTTTTTTTT -->
              <div class="col-md-12 nodadding">

                <div class="table-responsive">
                  <table class="table e-trfOnline">
                    <thead class="head">
                      <tr>
                        <!-- <th class="textLeft" *ngIf="
                                        !userCredential?.UserPermission?.ViewECommerce
                                      ">
                          e-TRF Number
                        </th>
                        <th class="textLeft" *ngIf="
                                        userCredential?.UserPermission?.ViewECommerce
                                      ">
                          e-TRF Number/ Booking Form Number
                        </th>
                        <th class="textLeft">Reference e-TRF No</th>
                        <th class="textLeft">Report no</th>
                        <th class="textLeft">Date</th>
                        <th class="textLeft">Factory Name</th>
                        <th class="textLeft">SKU Number</th>
                        <th class="textLeft">PO Number</th>

                        <th class="textLeft" *ngIf="userCredential.BusinessCompanyId==528">Sample Description</th>
                        <th class="textLeft" *ngIf="userCredential.BusinessCompanyId==528">Item Number</th>
                        <th class="textLeft" *ngIf="userCredential.BusinessCompanyId==528">Vendor</th>

                        <th class="textLeft">Order Status</th>
                        <th class="textLeft" *ngIf="userCredential.UserCompanyId!=10000">Test Report</th>
                        <th class="textLeft" *ngIf="userCredential.UserCompanyId!=10000">Invoice</th>
                        <th class="textLeft" *ngIf="userCredential.UserCompanyId!=10000">e-TRF </th> -->
                        <th class="textLeft" *ngFor="let gridColumn of selectedGridColumns">{{gridColumn.ColumnDataValue}}</th>
                        <th class="textLeft" *ngIf="userCredential.CompanyId !=10000">E-TRF </th>
                        <th class="textLeft">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="savedETRFList.length == 0">
                        <td colspan="6" style="text-align: center;">
                          No Record Found
                        </td>
                      </tr>

                      <tr *ngFor=" let data of (savedETRFList | paginate : {id: 'server',itemsPerPage: itemPerPage, currentPage: p, totalItems: totalItem })">
                        <td *ngFor="let gridColumn of selectedGridColumns">
                          <div *ngIf="gridColumn.ColumnName!='Report' && gridColumn.ColumnName!='Invoice'">{{data[gridColumn.ColumnName]}}
                          </div>
                          <div *ngIf="gridColumn.ColumnName=='Report' && data[gridColumn.ColumnName]?.length>0">
                            <span class="pdfUploadIcon" *ngFor="let doc of data[gridColumn.ColumnName]?.split('ÿ')">
                              <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o"
                                (click)="download(doc,gridColumn.ColumnName,data.SampleReportNo)"></i>
                              <tooltip-content #myTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{doc}}</div>
                              </tooltip-content>
                            </span>
                          </div>

                          <div *ngIf="gridColumn.ColumnName=='Invoice' && data[gridColumn.ColumnName]?.length>0">
                              <span class="pdfUploadIcon" *ngFor="let doc of data[gridColumn.ColumnName]?.split('ÿ')">
                                <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o"
                                  (click)="download(doc,gridColumn.ColumnName,data.SampleReportNo)"></i>
                                <tooltip-content #myTooltip [animation]="true" placement="left">
                                  <div style="word-wrap:break-word">{{doc}}</div>
                                </tooltip-content>
                              </span>
                            </div>
                        </td>
                        <!-- TRF td -->
                        <td *ngIf="userCredential.CompanyId !=10000">
                          <div *ngIf="(userCredential.UserPermission.PrintETrfPDF ||
                          userDetail.Status == 'Pending') &&
                          data.ClientID!=10000">
                            <span class="pdfUploadIcon">
                              <i class="fa fa-file-pdf-o" [tooltip]="trfTooltip" tooltipPlacement="top" (click)="GetPDFList(data.E_TRFID)"></i>
                              <tooltip-content #trfTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{data.E_TRFID+".pdf"}} </div>
                              </tooltip-content>
                            </span>
                          </div>
                        </td>
                        <!-- Action Td -->
                        <td>
                          <span *ngIf="userCredential.UserPermission.EditETRF">
                            <button class="btn btn-warning btn-sm" *ngIf="
                                         data.OldStatus != 'old' &&
                                         data.ClientID != '10000' &&
                                         data.Status != 'Canceled'"
                              [routerLink]="['/online-etrf/edit-etrf',data.E_TRFID]">
                              Edit
                            </button>
                          </span>

                          <span *ngIf="userCredential.UserPermission.CopyETRF">
                            <button class="btn btn-success btn-sm" *ngIf="data.OldStatus!='old' && data.ClientID!='10000' && data.Status != 'Canceled'"
                              (click)="CopyEtrf(data.E_TRFID)">Copy</button>
                          </span>
                          <span *ngIf="userCredential.UserPermission.CancelETRF">
                            <button class="btn btn-danger btn-sm" *ngIf=" data.WorkingStatus!='C'" (click)="CancelEtrf(data.E_TRFID)">Cancel </button>
                          </span>


                          <span>
                            <button class="btn btn-primary btn-sm" *ngIf="(userCredential.UserPermission.PrintETrfPDF || userDetail.Status == 'Pending') &&  data.ClientID == '10000'"
                              (click)="GetPDFList(data.E_TRFID)">
                              Print TRF
                            </button>

                          </span>

                          <span>
                            <button class="btn btn-primary btn-sm" *ngIf="data.ClientID == '10000'" (click)="PrintInvoice(data.E_TRFID)">
                              Print Invoice
                            </button>
                          </span>
                          <span>
                            <button class="btn btn-primary btn-sm" style="background-color: blueviolet;" *ngIf="data.ClientID == 386"
                              (click)="retestEtrf(data.E_TRFID)">Re-Test</button>
                          </span>
                        </td>

                      </tr>




                    </tbody>
                  </table>
                </div>
                <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
              </div>
              <!-- ENDDDDDDDDDDDD -->
            </div>
          </div>
        </section>
        <div><img id="result" src="" /></div>
        <div id="etrfList" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Select e-TRF</h4>
              </div>

              <div class="modal-body">
                <ul class="etrf-listing" *ngIf="etrfList.length > 0">
                  <li *ngFor="let list of etrfList">
                    <a href="" (click)="clickETRF(list.FormId, $event)">
                      {{ list.FormName }}
                    </a>
                  </li>
                </ul>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="invoiceList" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Select Invoice</h4>
              </div>

              <div class="modal-body">
                <ul class="etrf-listing" *ngIf="invoiceList.length > 0">
                  <div *ngFor="let invoice of invoiceList; let i = index">
                    <input type="radio" name="{{ i }}" [value]="i" [(ngModel)]="selectedIndex" />
                    {{ invoice }}
                    <!-- <a href="" (click)="downloadInvoice(i)">
                                                {{invoice}}
                                            </a> -->
                  </div>
                  <!-- <li *ngFor="let invoice of invoiceList;let i=index">
                                            <input type="radio" name="{{i}}" [value]="i" [(ngModel)]="selectedIndex" /> {{selectedIndex}}
                                            <a href="" (click)="downloadInvoice(i)">
                                                {{invoice}}
                                            </a>
                                        </li> -->
                </ul>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="downloadInvoice()">
                  Download
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>


  <div id="sfPopup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 75%;margin-top: 30px;">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Test Request Selection</h4>
        </div>

        <div class="modal-body" style="min-height: 260px;max-height: 80%;">
          <div>
            <div class="col-md-12 mrg-bottom">
              <div class="col-md-12 text-center "><span class="header-style">TEST REQUEST TYPE:</span>


              </div>


            </div>

            <div class="col-md-12 mrg-bottom">
              <div class="col-md-3">
                <input type="radio" name="test" class="col-md-2" [value]="1" [(ngModel)]="sfTestRequest.TestRequestType"
                  [checked]="sfTestRequest.TestRequestType == 1" (change)="changeTestRequestType(1)"><span class="radio-style">Garment</span>
              </div>
              <div class="col-md-3">
                <input type="radio" name="test" class="col-md-2" [value]="2" [(ngModel)]="sfTestRequest.TestRequestType"
                  [checked]="sfTestRequest.TestRequestType == 2" (change)="changeTestRequestType(2)"><span class="radio-style">Fabric</span>
              </div>
              <div class="col-md-4">
                <input type="radio" name="test" class="col-md-2" [value]="3" [(ngModel)]="sfTestRequest.TestRequestType"
                  [checked]="sfTestRequest.TestRequestType == 3" (change)="changeTestRequestType(3)"><span class="radio-style">Garment
                  & Fabric</span>
              </div>
              <div class="col-md-2">
                <input type="radio" name="test" class="col-md-2" [value]="4" [(ngModel)]="sfTestRequest.TestRequestType"
                  [checked]="sfTestRequest.TestRequestType == 4" (change)="changeTestRequestType(4)"><span class="radio-style">Ink</span>
              </div>
            </div>

            <br>
            <hr>

            <div *ngIf="sfTestRequest.TestRequestType == 1 || sfTestRequest.TestRequestType == 3">
              <div>
                <div class="col-md-12">
                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Business Line:</span>
                    <div class="modelSelect">
                      <select name="" [(ngModel)]="sfTestRequest.BusinessLine" class="SlectBox" placeholder="Select Business Line"
                        [ngModelOptions]="{standalone: true}" (change)="updateAutocomplete('businessLine')">
                        <option value="">Select Business Line</option>
                        <option *ngFor="let businessLine of BusinessLines;let i=index" value="{{businessLine.Index}}">{{businessLine.Name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Brand SKU: </span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.BrandSKU" [source]="BrandSKUList"
                        [ngModelOptions]="{standalone: true}" display-property-name="BrandSKU" value-property-name=null
                        (ngModelChange)="updateAutocomplete('sku')" [list-formatter]="renderData" placeholder="Select Brand SKU"
                        close-on-focusout="true" />
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Color :</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.Garment_Color" [source]="ColorList"
                        [ngModelOptions]="{standalone: true}" display-property-name="Color" value-property-name=null
                        (ngModelChange)="updateAutocomplete('color')" [list-formatter]="renderData" placeholder="Select Color" />
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> PO Number :</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.PONumber" [source]="PONumberList"
                        [ngModelOptions]="{standalone: true}" display-property-name="PONumber" value-property-name=null
                        placeholder="Select PO Number" [list-formatter]="renderData" (ngModelChange)="updateAutocomplete('PO')" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mrg-bottom hand-cursor-trf">
                  <a *ngIf="Selected_EDI_Data_List?.length>0" (click)="viewSelectedSKU()">Review
                    selected SKU's</a>
                </div>
                <div class="col-md-12 nodadding" *ngIf="Filtered_EDI_Data_List.length>0 && displayTable==true">
                  <div class="table-responsive">
                    <table class="table e-trfOnline">
                      <thead class="tbl-head ">
                        <tr>
                          <th class="left-align  "></th>
                          <th class="left-align">Business Line</th>
                          <th class="left-align">Brand SKU</th>
                          <th class="left-align">Garment Color</th>
                          <th class="left-align">Fabric Color</th>
                          <th class="left-align">PO Number</th>
                          <th class="left-align">Season</th>
                          <th class="left-align">Style Variant Id</th>
                          <th class="left-align">Category Class</th>
                          <th class="left-align">Product Type Department</th>
                          <th class="left-align">Item Description</th>
                          <th class="left-align">Brand Name</th>
                          <th class="left-align" style="text-align: left!important">Ship Date</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ediData of Filtered_EDI_Data_List  | paginate: { id: 'SF_EDI_DATA_ID', itemsPerPage: 10, currentPage: page }| ediDataManipulationPipe ">
                          <td class="left-align"><input type="checkbox" [(ngModel)]="ediData.IsSelected" (change)="validateCheckbox(ediData,$event)">
                          </td>
                          <td class="left-align">{{ediData.Business_Line}}</td>
                          <td class="left-align">{{ediData.Brand_Sku}}</td>
                          <td class="left-align">{{ediData.Garment_Color}}</td>
                          <td class="left-align">{{ediData.Fabric_Color}}</td>
                          <td class="left-align">{{ediData.PO_Number}}</td>
                          <td class="left-align">{{ediData.Season}}</td>
                          <td class="left-align">{{ediData.Style_Variant_ID}}</td>
                          <td class="left-align">{{ediData.Product_Category_Class}}</td>
                          <td class="left-align">{{ediData.Product_Type_Department}}</td>
                          <td class="left-align">{{ediData.Item_Description}}</td>
                          <td class="left-align">{{ediData.Brand_Name}}</td>
                          <td class="left-align" style="text-align: left!important">{{ediData.Shipment_Date | date}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="page = $event" id="SF_EDI_DATA_ID"></pagination-controls>
                </div>
                <div class="model-footer-cs">

                  <button class="btn btn-primary" (click)="submitSFPopupForm()" [disabled]="isValidated">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFilterEDIDataList()">Close</button>
                </div>
              </div>
            </div>

            <div *ngIf="sfTestRequest.TestRequestType == 2">
              <div>
                <div class="col-md-12">
                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Business Line:</span>
                    <div class="modelSelect">
                      <select name="" [(ngModel)]="sfTestRequest.BusinessLine" class="SlectBox" placeholder="Select Business Line"
                        [ngModelOptions]="{standalone: true}" (change)="updateAutocomplete('businessLine')">
                        <option value="">Select Business Line</option>
                        <option *ngFor="let businessLine of BusinessLines;let i=index" value="{{businessLine.Index}}">{{businessLine.Name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Brand SKU:</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.BrandSKU" [source]="BrandSKUList"
                        [ngModelOptions]="{standalone: true}" display-property-name="BrandSKU" value-property-name=null
                        (ngModelChange)="updateAutocomplete('sku')" [list-formatter]="renderData" placeholder="Select Brand SKU" />
                    </div>
                  </div>
                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Color:</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.Garment_Color" [source]="ColorList"
                        [ngModelOptions]="{standalone: true}" display-property-name="Color" value-property-name=null
                        (ngModelChange)="updateAutocomplete('color')" [list-formatter]="renderData" placeholder="Select Color" />
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-3">
                    <span class="radio-style-form"> Fabric Id:</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.FabricId" [source]="FabricIds" [ngModelOptions]="{standalone: true}"
                        [list-formatter]="renderData" display-property-name="FabricId" value-property-name=null
                        placeholder="Select Fabric Id" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mrg-bottom hand-cursor-trf">
                  <a *ngIf="Selected_EDI_Data_List?.length>0" (click)="viewSelectedSKU()">Review
                    selected SKU's</a>
                </div>
                <div class="col-md-12 nodadding" *ngIf="Filtered_EDI_Data_List.length>0 &&  displayTable==true">
                  <div class="table-responsive">
                    <table class="table e-trfOnline">
                      <thead class="tbl-head ">
                        <tr>
                          <th class="left-align  "></th>
                          <th class="left-align">Business Line</th>
                          <th class="left-align">Brand SKU</th>
                          <th class="left-align">Garment Color</th>
                          <th class="left-align">Fabric Color</th>
                          <th class="left-align">Fabric Id</th>
                          <th class="left-align">Season</th>
                          <th class="left-align">Style Variant Id</th>
                          <th class="left-align">Category Class</th>
                          <th class="left-align">Product Type Department</th>
                          <th class="left-align">Item Description</th>
                          <th class="left-align">Brand Name</th>
                          <th class="left-align" style="text-align: left!important">Ship Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ediData of Filtered_EDI_Data_List  | paginate: { id: 'SF_EDI_DATA_ID', itemsPerPage: 10, currentPage: page }| ediDataManipulationPipe ">
                          <td class="left-align"><input type="checkbox" [(ngModel)]="ediData.IsSelected" (change)="validateCheckbox(ediData,$event)">

                          </td>
                          <td class="left-align">{{ediData.Business_Line}}</td>
                          <td class="left-align">{{ediData.Brand_Sku}}</td>
                          <td class="left-align">{{ediData.Garment_Color}}</td>
                          <td class="left-align">{{ediData.Fabric_Color}}</td>
                          <td class="left-align">{{ediData.Fabric_ID}}</td>
                          <td class="left-align">{{ediData.Season}}</td>
                          <td class="left-align">{{ediData.Style_Variant_ID}}</td>
                          <td class="left-align">{{ediData.Product_Category_Class}}</td>
                          <td class="left-align">{{ediData.Product_Type_Department}}</td>
                          <td class="left-align">{{ediData.Item_Description}}</td>
                          <td class="left-align">{{ediData.Brand_Name}}</td>
                          <td class="left-align" style="text-align: left!important">{{ediData.Shipment_Date | date}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="page = $event" id="SF_EDI_DATA_ID"></pagination-controls>
                </div>
                <div class="model-footer-cs">

                  <button class="btn btn-primary" (click)="submitSFPopupForm()" [disabled]="isValidated">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFilterEDIDataList()">Close</button>
                </div>
              </div>
            </div>

            <div *ngIf="sfTestRequest.TestRequestType == 4">
              <div>
                <div class="col-md-12">
                  <div class="inputDesign modelInput autoComplete col-md-6">
                    <span class="radio-style-form"> Business Line:</span>
                    <div class="modelSelect">
                      <select name="" [(ngModel)]="sfTestRequest.BusinessLine" class="SlectBox" placeholder="Select Business Line"
                        [ngModelOptions]="{standalone: true}" (change)="updateAutocomplete('businessLine')">
                        <option value="">Select Business Line</option>
                        <option *ngFor="let kidsBusinessLine of KidsBusinessLines;let i=index" value="{{kidsBusinessLine.Index}}">{{kidsBusinessLine.Name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="inputDesign modelInput autoComplete col-md-6">
                    <span class="radio-style-form"> Brand SKU:</span>
                    <div class="modelSelect">
                      <input auto-complete [(ngModel)]="sfTestRequest.BrandSKU" [source]="BrandSKUList"
                        [ngModelOptions]="{standalone: true}" [list-formatter]="renderData" display-property-name="BrandSKU"
                        value-property-name=null (ngModelChange)="updateAutocomplete('sku')" placeholder="Select Brand SKU" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mrg-bottom hand-cursor-trf">
                  <a *ngIf="Selected_EDI_Data_List?.length>0" (click)="viewSelectedSKU()">Review
                    selected SKU's</a>
                </div>
                <div class="col-md-12 nodadding" *ngIf="Filtered_EDI_Data_List.length>0 && displayTable==true">
                  <div class="table-responsive">
                    <table class="table e-trfOnline">
                      <thead class="tbl-head ">
                        <tr>
                          <th class="left-align  "></th>
                          <th class="left-align">Business Line</th>
                          <th class="left-align">Brand SKU</th>
                          <th class="left-align">Garment Color</th>
                          <th class="left-align">Fabric Color</th>
                          <th class="left-align">PO Number</th>
                          <th class="left-align">Fabric Id</th>
                          <th class="left-align">Season</th>
                          <th class="left-align">Style Variant Id</th>
                          <th class="left-align">Category Class</th>
                          <th class="left-align">Product Type Department</th>
                          <th class="left-align">Item Description</th>
                          <th class="left-align">Brand Name</th>
                          <th class="left-align" style="text-align: left!important">Ship Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ediData of Filtered_EDI_Data_List  | paginate: { id: 'SF_EDI_DATA_ID', itemsPerPage: 10, currentPage: page }| ediDataManipulationPipe ">
                          <td class="left-align"><input type="checkbox" [(ngModel)]="ediData.IsSelected" (change)="validateCheckbox(ediData,$event)">

                          </td>
                          <td class="left-align">{{ediData.Business_Line}}</td>
                          <td class="left-align">{{ediData.Brand_Sku}}</td>
                          <td class="left-align">{{ediData.Garment_Color}}</td>
                          <td class="left-align">{{ediData.Fabric_Color}}</td>
                          <td class="left-align">{{ediData.PO_Number}}</td>
                          <td class="left-align">{{ediData.Fabric_ID}}</td>
                          <td class="left-align">{{ediData.Season}}</td>
                          <td class="left-align">{{ediData.Style_Variant_ID}}</td>
                          <td class="left-align">{{ediData.Product_Category_Class}}</td>
                          <td class="left-align">{{ediData.Product_Type_Department}}</td>
                          <td class="left-align">{{ediData.Item_Description}}</td>
                          <td class="left-align">{{ediData.Brand_Name}}</td>
                          <td class="left-align" style="text-align: left!important">{{ediData.Shipment_Date | date}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="page = $event" id="SF_EDI_DATA_ID"></pagination-controls>
                </div>
                <div class="model-footer-cs">

                  <button class="btn btn-primary" (click)="submitSFPopupForm()" [disabled]="isValidated">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFilterEDIDataList()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="selectedSku" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 90%;margin-top: 10%;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="md-header-custom">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Selected SKU's</h4>
        </div>

        <div class="modal-body">
          <div>
            <div class="col-md-12 nodadding mrg-bottom" *ngIf="Selected_EDI_Data_List?.length>0">
              <div class="table-responsive">
                <table class="table e-trfOnline">
                  <thead class="md-tbl-custom">
                    <tr>

                      <th class="left-align">Business Line</th>
                      <th class="left-align">Brand SKU</th>
                      <th class="left-align">Garment Color</th>
                      <th class="left-align">Fabric Color</th>
                      <th class="left-align">PO Number</th>
                      <th class="left-align">Fabric Id</th>
                      <th class="left-align">Season</th>
                      <th class="left-align">Style Variant Id</th>
                      <th class="left-align">Category Class</th>
                      <th class="left-align">Product Type Department</th>
                      <th class="left-align">Item Description</th>
                      <th class="left-align">Brand Name</th>
                      <th class="left-align" style="text-align: left!important">Ship Date</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ediData of Selected_EDI_Data_List  |  ediDataManipulationPipe ">
                      <td class="left-align">{{ediData.Business_Line}}</td>
                      <td class="left-align">{{ediData.Brand_Sku}}</td>
                      <td class="left-align">{{ediData.Garment_Color}}</td>
                      <td class="left-align">{{ediData.Fabric_Color}}</td>
                      <td class="left-align">{{ediData.PO_Number}}</td>
                      <td class="left-align">{{ediData.Fabric_ID}}</td>
                      <td class="left-align">{{ediData.Season}}</td>
                      <td class="left-align">{{ediData.Style_Variant_ID}}</td>
                      <td class="left-align">{{ediData.Product_Category_Class}}</td>
                      <td class="left-align">{{ediData.Product_Type_Department}}</td>
                      <td class="left-align">{{ediData.Item_Description}}</td>
                      <td class="left-align">{{ediData.Brand_Name}}</td>
                      <td class="left-align" style="text-align: left!important">{{ediData.Shipment_Date | date}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div>
              <div class="modal-footer" style="border-top:0px solid!important">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <custom-footer></custom-footer>

</body>