.radio-style {
    font-size: 16px;
    font-weight: bold;
    color: #ac2c25;
}

.header-style {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    color: #337ab7;
}

.radio-style-form {
    font-size: 14px;
    font-weight: bold;
    color: #032f54;
}

.model-footer-cs {
    padding: 5px 15px;
    text-align: right;
    /* border-top: 1px solid #e5e5e5; */
    /* color: #fff; */
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px;*/
}

.tbl-head {
    background: #68cd00;
    color: #fff;
    border-radius: 10px !important;
    border: 1px solid #68cd00;
}

.mrg-bottom{
    margin-bottom: 15px;
}

.left-align{
    text-align: left;
    border-right-color: grey;
    border:1px solid;
}
.opt-color{
    color: #ac2c25!important;
}

.modal-body .nodadding .table tr td {
    max-width: 300px;
    white-space: normal!important;
    word-break: normal!important;
    border: 1px solid #ddd !important;
}

.modal-body .nodadding .table tr th {
   max-width: 300px;
   white-space:nowrap!important;
   word-break: normal!important;
   border: 1px solid #ddd !important;
}

 
.md-header-custom{
    padding: 9px 15px 0px 15px;
    border-bottom: 1px solid #0066aa;
    background: #0066aa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}


.md-tbl-custom {
    background: #0065aa;
    color: #fff;
    border-radius: 10px !important;
    border: 1px solid #0065aa;
}
 

.hand-cursor-trf{
    cursor: pointer;
}