
.InputFieldStyle{
    box-shadow: none;
    width: auto;
    margin-bottom: -8px
}

.EmailIdSpan {
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 6px 0px;
    width:95%;    
}

.CommoninputStyle{
    font-size: 14px;
    color: #666;
    border: 0px;
    background: transparent;
}
.email-list{
    min-height:20px;
    border-bottom: 1px solid #C6C6C6;
}

.textBorder{
    border: 1px solid #C6C6C6;
}

.email-span{
    max-height: 30px;
    background: #d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
}
.error-Email{
    font-size: 13px;
    color: red;
    margin-left: 12px;
    margin-bottom: 10px;
}
 