<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <label style="float: right;padding-right: 15px;width: 100%;padding-top: 10px;font-size: 13px;text-align: right;">*Note:- Add more Email IDs with comma separated.</label>
    <div>
        <div class="row">
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <b>To : </b>
            </div>
        </div>
        <div class="row">
            <div class="EmailIdSpan CommoninputStyle email-list">
                <div>
                    <span class="textBorder email-span " *ngFor="let to of EmailObject.ClientEmailTo?.split(',')">{{to}}
                        <i (click)="removedEmailFromTo(to)" class="fa fa-times"></i>
                    </span>
                    <input size="35" type="text" (change)="getToEmail($event);" [(ngModel)]="EmailObject.EmailTo" name="toemail" (keyup)="handleToinputfeild($event)"
                        class="CommoninputStyle InputFieldStyle">
                    <span style="clear:both"></span>
                </div>
            </div>
            <div class="error-Email" *ngIf="EmailObject.errorEmailTo">Invalid Email</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-3col-sm-3 col-xs-3">
            <b>Cc (Optional)</b>
        </div>
    </div>
    <div class="row">
        <div class="EmailIdSpan CommoninputStyle email-list">
            <div>
                <span class="textBorder email-span " *ngFor="let cc of EmailObject.ClientEmailCC?.split(',')">{{cc}}
                    <i (click)="removedEmailFromCC(cc)" class="fa fa-times"></i>
                </span>
                <input size="35" type="text" (change)="getCCEmail($event);" [(ngModel)]="EmailObject.ccField" name="ccemail" (keyup)="handleCCinputfeild($event)"
                    class="CommoninputStyle InputFieldStyle">
                <span style="clear:both"></span>
            </div>
        </div>
        <div class="error-Email" *ngIf="EmailObject.errorEmailCC">Invalid Email</div>
    </div>

    <div>
        <b>Remark (Optional) : </b>
        <span>
            <textarea name="remark-bulkEmail" [(ngModel)]="EmailObject.clientremarks[0]" id="CCRemark" rows="5" cols="50" (change)="addRemark($event)"
                [ngModelOptions]="{standalone: true}"></textarea>
        </span>
    </div>
</div>