<div class="cardTitle">
  <!--{{mtsService.URL}}-->
  <img src="{{mtsService.URL}}">
  <h3>{{mtsService.name}} </h3>
  <!-- <span *ngIf="mtsService?.OfferActive" style="color:red; float:right">
    <img src="../../../../asset/img/offer.gif" alt=”animated” /> </span> -->
</div>
<div class="cardBody">
  <!--<img src="smiley.gif" alt="Smiley face" height="42" width="42">-->

  <p>{{mtsService.body}}</p>
  <button class="btn btn-default continueBtn" data-target="SelectPackages" (click)="FilterPackage(mtsService)" data-hide="SelectService">Next</button>
  <!--<button class="btn btn-default "  (click)="FilterPackage(mtsService)"   >Next</button>-->
</div>