body {
    font-size: 12px;
    background: #e8ebf1;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .heading_green{color:#7cca2c;margin:15px;font-size:20px;text-shadow: 1px 1px #000000;}
  .filter h4{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;}
    .div_add{padding: 20px;width:98%;background: white;margin: 12px 0px 0px 14px;}
    .imgDiv{width:100%;height:350px;}
    .MarginClass{margin-left: 28px;}
    .TextContainer{margin-left:10px;width:100%;float:left;font-size:14px}
    .cleartag{width: 100%;clear: both;overflow: hidden}
    .HeaderText{color: #6488d0;max-width:100%;font-weight: bold;font-size:18px;}
    .smallImg{display: inline-flex; height: 20%; max-width:50%;margin-top: 10px;}
  
    .img_div{width:98%;height:350px;border: 1px solid #ccc;overflow: hidden;display:block;box-shadow:2px 2px 5px #000000;padding:1%;text-align: center}
    .breadcrum_bg {       
      background: #0067aa;
      color: #ffffff;   
  }
  .breadcrum_bg p {
      color: #ffffff;
      margin-bottom: 0px;
  }
  
  .breadcrum_bg p a{
      color: #ffffff;
      margin-bottom: 0px;
  }
  .DataGrid {
    margin: 15px;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.DataGrid .table>thead>tr>th {
    padding: 8px!important;    
    text-transform: capitalize;
    font-size: 12px;
}

.DataGrid .table>tbody>tr>td {
    font-size: 11px;
    padding:2px 6px 2px 6px !important;

}

.DataGrid .table-responsive {
    overflow: auto !important;
    
    max-height: 270px;
    
}
/* .SealLogo{
    width:"455px";
    height:"184px"
}
   */
    
  
    @media (min-width: 600px) {
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
      {
        float: left;
      }
     
  }
  
  @media (max-width: 750px) and (min-width: 240px) {
      .heading_green{color:#7cca2c;font-weight: bold;margin:15px;font-size:14px;text-shadow: 1px 1px #000000;height:30px; }
      /*****.col-xs-8{width:82%!important; float:right;}****/
      .breadcrum_bg p {
          font-size: 8px;
          padding: 0px;
          padding-bottom:5px;
      }
      .TextContainer{margin-left:3px;margin-top:20px;}
    }
  

    @media (max-width: 750px) {
        .SealLogo{
            width:55%;
        }
      }
    


    .MoreImage {
        display: inline-block;
        float: left;
        width: 90px;
        margin-top: 10px;
        height: 85px;
    }
    .img-responsive{max-width:100%;display:inline-block;height: 100%;vertical-align:middle;}
    
    
