<body>

  <div class="warpper-inner">
<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
  <div class="logo1 navbar" style="background:#ffffff;">
      <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
      <span class="heading_green">GREEN PRODUCT ASSURANCE </span>
    </div>

  
    <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Green product Assurance </a>
            <img src="asset/img/angle-right.png" />Product Assurance
            <img src="asset/img/angle-right.png" />Product Details
          </p>
        </div>
      </section>

      <section class="filter">  
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
      <div class="img_div">      
      <img src="{{selectedImage}}" class="img-responsive" height="100%">
    </div>
    <div>
      <div *ngFor="let image of ProductsImages;let i=index">
        <img src="{{sealLogoUrl + activeApplication.ApplicationReferenceNo +'/Products/'+productDetail.ProductFolderName +'/ProductImage/' +image.DocumentName}}" 
         alt="HTML5 Icon"  class="MoreImage"  (click)="imageSelecton(i);">
      </div>
    </div>
  
  </div>

  <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
  <div class="TextContainer">
    <p>
      <b> Company Name:&nbsp;&nbsp;</b> {{activeApplication?.VendorName}}</p>
      <p>
          <b>Product Name:&nbsp;&nbsp;</b>{{productDetail.ProductName}}</p>
        <p>
          <b>Product Type:&nbsp;&nbsp;</b>{{productDetail.ProductType}}</p>
        <p>
          <b>Product Weight:&nbsp;&nbsp;</b>{{productDetail.ProductWeight}}</p>
        <p>
          <b>Model Number:&nbsp;&nbsp;</b>{{productDetail.ProductModelNo}}</p>
    <p>
      <b>Certificate Number:&nbsp;&nbsp;</b>{{activeApplication?.CertificateNumber}}</p>
    <p>
      <b>Seal Number:&nbsp;&nbsp;</b>{{productDetail.ProductSealNo}}</p>
    <p>
      <b>Expiry Date (YYYY-MM-DD):&nbsp;&nbsp;</b>{{activeApplication?.CertificateExpiryDate | date:'yyyy-MM-dd'}}</p>
    <p>
      <b>Validity:&nbsp;&nbsp;</b> Valid<span> ( </span>{{activeApplication?.ValidityTime}}<span> )</span>
      <!-- <span *ngIf="activeApplication?.Validity">Valid</span>
      <span *ngIf="!activeApplication?.Validity">Expired</span> -->
    </p>
    <div class="clearfix"></div>
    <div>
        <div style="width:100%;" *ngIf="productDetail?.ProductSealLogoName">
            <!-- <img src="{{sealLogoUrl + 'SealLogo/' + productDetail.ProductSealLogoName}}" width="550px" height="279px" style="margin-left: -24px;margin-top: -20px;"> -->
            <!-- <img src="{{sealLogoUrl + 'SealLogo/' + productDetail.ProductSealLogoName}}"  width="100%" class="SealLogo"> -->
            <img src="{{sealLogoUrl + 'SealLogo/' + productDetail.ProductSealLogoName}}" class="SealLogo"> 
          </div>
      </div>
  </div>
  </div>
<div class="clearfix"></div>
</section>
</div>


</body>