/*****************CSS NEW CODE**************************/
body {
    font-size: 12px;
    background: #e8ebf1;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

        
.logo {
    padding: 10px 5px;
    text-align: center;
}
.logo img {margin: 0 auto;}
.w3-input{
    padding:5px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%;
    /* line-height:25px; */
    padding-bottom: 5px;
    margin-top: 10px;
}

.FormTittle {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    color: #066ba1;
}

.leftSignBox {
    width: 100%;
    padding: 0 30px;
    height: calc(82% - 15%);
    position: relative;
}

.alert-danger{margin:0px;padding:2px;background:none;border:none; height:12px;font-size:11px;color:#ff0000; }
.DataGrid {
    margin: 15px;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.DataGrid .table>thead>tr>th {
    padding: 8px!important;    
    text-transform: capitalize;
    font-size: 12px;
}

.DataGrid .table>tbody>tr>td {
    font-size: 11px;
    padding:2px 6px 2px 6px !important;
    white-space:nowrap!important;
}

.DataGrid .table-responsive {
    overflow: auto !important;
    min-height: 270px;
    max-height: 270px;
    
}
.dataSliderBox {
    float: left;
    width: 100%;
    background: #FFF;
    top: 5px;
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 0;
    width: auto;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


.footerSignBox {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
}

.footerSignBox .btn {
width: auto;
padding: 10px 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
font-size: 16px;
text-align: center;
}


#ApplicantDetails {
    z-index: 4;
}

#ApplicantType {
    z-index: 0;
}

#FactoryDetails {
    z-index: 2;
}

#ProductDetails {
    z-index: 3;
}


.color_blue{
    color:#2e6da4
}

.color67aa{
    color: #0067aa
}

.font_size18{
    font-size: 18px;
}

.float_right{
    float: right;
}

.marginTop10{
    margin-top: 10px;
}




.heading{
    font-weight: 500;
    font-size: 15px;
    color: white;
}
.model_uploadtext{margin-top: 5px;font-size: 14px;}

/* ************************************* */

@media screen and (max-width: 400px) {
    .signUpBox .progressBar1 {
        display: none;
    }

.dataScoller{height:160px;}

    }

.signUpBox h4{border-bottom: solid 1px #0067aa;line-height: 35px;}
.signUpBox .progressBar1 {
    background: #63bb4b;
    width: 100%;
    height: 75px;
    text-align: center;
}

.signUpBox .progressBar1 ul {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0px 0;
    padding: 35px 0;
    height: 100%;
    position: relative;
}

.signUpBox .progressBar1 ul li {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 9;
}

.signUpBox .progressBar1 ul li.active {
    z-index: 99;
}

.signUpBox .progressBar1 ul li:first-child {
    height: auto;
    position: absolute;
    top: 14%;
    width: calc(100% - 63%);
}

.signUpBox .progressBar1 ul li:nth-child(2) {
    position: absolute;
    top: 14%;
    width: calc(100% - 21%);
}

.signUpBox .progressBar1 ul li:nth-child(3) {
    position: absolute;
    top: 14%;
    width: calc(100% - -15%);
}


.signUpBox .progressBar1 ul li:last-child {
    position: absolute;
    top: 14%;
    width: calc(100% - -59%);
}

.signUpBox .progressBar1 ul li:before {
    content: "";
    width: calc(100% - 50%);
    height: 1px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 11px;
}

.signUpBox .progressBar1 ul li:first-child:before {
    display: none;
}

.signUpBox .progressBar1 ul li:nth-child(2):before {
    width: calc(76% - 51.1%);
    left: 23.9%;
}

.signUpBox .progressBar1 ul li:nth-child(3):before {
    width: calc(76% - 61.7%);
    left: 34.9%;
}

.signUpBox .progressBar1 ul li:last-child:before {
    width: calc(76% - 63%);
    left: 36.5%;
}

.signUpBox .progressBar1 ul li a {
    width: 21px;
    height: 22px;
    display: block;
    background: #82c96f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.signUpBox .progressBar1 ul li.active a {
    background: rgba(255, 255, 255, 1);
    color: #034A6D;
    border: 1px solid #19ca19;
}

.signUpBox .progressBar1 ul li.active:before {
    background: rgba(255, 255, 255, 1);
}

.signUpBox .progressBar1 ul li a {
    left: 50%;
}

.email-span{
    max-height: 30px;
    background: #d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
}

.textBorder{
    border: 1px solid #C6C6C6;
}

/* *************************************** */

.addremovebtn{
    border-radius: 36px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.addbtn{
    background: #68cd00;
    color:#fff;    
}

.btn-file {
    overflow: hidden;
    cursor: pointer;
}

.btn-file input[type=file] {
    position: absolute;
    top: 11px;
    right: 46px;
    max-width: 33%;
    min-width: 10%;
    min-height: 7%;
    max-height: 65%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.other-file[type=file] {
    position: absolute;
    top: 11px;
    right: 128px;
    max-width: 17%;
    min-width: 10%;
    min-height: 7%;
    max-height: 65%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.product-file111{
    overflow: hidden;
    cursor: pointer;
}

.product-file{
    position: absolute;
    top: 12px;
    right:7px;
    max-width: 77%;
    min-width: 16%;
    min-height: 7%;
    max-height: 59%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
}

.product-filexx{
    position: absolute;
    top:12px;
    left: 15px;
    min-width: 7%;
    max-width: 14%;
    min-height: 7%;
    max-height: 59%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
}

.uploadIcon{
    color: #337ab7;
    margin-top: 12px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 7px;
    cursor: pointer;
}

.uploadIcon11{
    color: #337ab7;
    margin-top: 5px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 7px;
    cursor: pointer;
}

.Pointer {
    cursor: pointer;
}



