<body>
  <div class="warpper-inner">
    <div class="content-inside">
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class=" ">
        <div class="container">
          <div id="row">
            <div class="signUpBox">
              <div class="logo">
                <img alt="" class="img-responsive" src="asset/img/logo.jpg">
                <p class="FormTittle">New Application</p>
              </div>

              <div class="clearfix"></div>

              <div class="progressBar1">
                <ul>
                  <li class="active" id="AppliantDetail">
                    <a href="javascript:void(0)">1</a>
                    <p class="heading">Applicant Detail</p>
                  </li>

                  <li class="" id="Products">
                    <a href="javascript:void(0)">2</a>
                    <p class="heading">Product Detail</p>
                  </li>

                  <li class="" id="Factoreis">
                    <a href="javascript:void(0)">3</a>
                    <p class="heading">Factory Detail</p>
                  </li>

                  <li class="" id="AditionalDetail">
                    <a href="javascript:void(0)">4</a>
                    <p class="heading">Additional Detail</p>
                  </li>
                </ul>
              </div>

              <div class="leftSignBox">

                <div class="dataSliderBox  animated" id="ApplicantDetails">
                  <h4 class="color_blue">Applicant Detail</h4>
                  <div class="dataScoller">
                    <form id="applicantDetailForm" name="applicantDetailForm" #applicantDetailForm="ngForm" autocomplete="off">
                      <div class="">
                        <div class="row">
                          <div class="col-md-6">
                            <p class="color67aa">English
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p class="color67aa">Chinese
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 ">
                            <input class="w3-input" placeholder="Applicant Name" type="text" [(ngModel)]="applicationInformation.VendorName" required
                              name="vendorName" #vendorName="ngModel" [ngModelOptions]="{standalone: true}">
                            <div *ngIf="applicantDetailFormSubmitted && !vendorName.valid" class="alert alert-danger">
                              <div *ngIf="vendorName?.errors.required">Applicant Name is required.</div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Applicant Name" type="text" [(ngModel)]="applicationInformation.VendorName_Chinese"
                              required [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Address" type="text" [(ngModel)]="applicationInformation.Address"
                              required [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Address" [(ngModel)]="applicationInformation.Address_Chinese"
                              type="text" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" placeholder="Applicant VAT#" type="text" [(ngModel)]="applicationInformation.VendorCode" name="vendorCode"
                              #vendorCode="ngModel" required [ngModelOptions]="{standalone: true}">
                            <div *ngIf="applicantDetailFormSubmitted && !vendorCode.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                              <div *ngIf="vendorCode?.errors.required">Applicant VAT# is required.</div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Applicant VAT#" type="text" required [(ngModel)]="applicationInformation.VendorCode_Chinese"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Contact Person" type="text" [(ngModel)]="applicationInformation.ContactPerson"
                              required [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Contact Person" type="text" [(ngModel)]="applicationInformation.ContactPerson_Chinese"
                              required [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Title" type="text" required [(ngModel)]="applicationInformation.Title"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Title" type="text" required [(ngModel)]="applicationInformation.Title_Chinese"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" (keydown)="restrictEKey($event)" type="number" step="1" min="0"
                              name="Telephone" [(ngModel)]="applicationInformation.Telephone" placeholder="Telephone" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-sm-6">
                            <input class="w3-input" autocomplete="doNotAutoComplete" (keydown)="restrictEKey($event)" type="number" step="1" min="0"
                              name="Telephone" [(ngModel)]="applicationInformation.Telephone_Chinese" placeholder="Telephone"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input class="w3-input" placeholder="Email" type="email" pattern="^[a-zA-Z0-9.!#$%&’*(+)/=?^_`{|}~-]+@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}$"
                              [(ngModel)]="applicationInformation.Email" required name="vendorEmail" #vendorEmail="ngModel"
                              [ngModelOptions]="{standalone: true}">
                            <div *ngIf="applicantDetailFormSubmitted && !vendorEmail.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                              <div *ngIf="vendorEmail?.errors.required">Email is required.</div>
                              <div *ngIf="vendorEmail?.errors?.pattern"> Please enter a valid email </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <input autocomplete="doNotAutoComplete" class="w3-input" placeholder="Email" type="email" [(ngModel)]="applicationInformation.Email_Chinese"
                              required [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>
                  <div class="footerSignBox">
                    <button type="submit" id="detailContinueBtn" (click)="ContinueApplicantDetail()" form="applicantDetailForm" class="btn btn-primary btn-block loginBtn"
                      style="float: right; margin:0px; ">Continue</button>
                  </div>
                </div>


                <div class="dataSliderBox SlideOut  animated" id="ProductDetails">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="color_blue">Product Detail
                        <button id="test1" class="btn btn-primary" (click)="addNewProductDetails()" style="float:right">Add New Product</button>
                      </h4>
                    </div>
                  </div>




                  <section class="DataGrid">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 nodadding">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="head">
                                <tr>
                                  <th>Product Type</th>
                                  <th>Product Name</th>
                                  <th>product Model No.</th>
                                  <th>Product Weight</th>
                                  <th>Product Image</th>
                                  <th>Brochure</th>
                                  <th>Bill OF Materials</th>
                                  <th>Materials Test Reports</th>
                                  <th>CAP</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let product of applicationInformation.Products;let j = index; let last = last ">
                                  <td class="textLeft">{{product.ProductType}}</td>
                                  <td class="textLeft">{{product.ProductName}}</td>
                                  <td class="textLeft">{{product.ProductModelNo }}</td>
                                  <td class="textLeft">{{product.ProductWeight }}</td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of product.ProductDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='ProductImage'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of product.ProductDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='Brochure'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of product.ProductDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='BillOfMaterial'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of product.ProductDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='MaterialTestReport'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of product.ProductDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='CAP'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                                    <button type="button" class="btn-primary addremovebtn"  (click)="EditProductDetail(j)">
                                      <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn-danger addremovebtn" (click)="deleteProductDetail(j);">
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>


                  <div class="footerSignBox">
                    <button id="" style="float: left;" class="btn btn-primary btn-block loginBtn" (click)="Productback()">Back</button>
                    <button id="test2" class="btn btn-primary btn-block loginBtn" (click)="ContinueProduct()" style="float: right; margin:0px;">Continue</button>
                  </div>
                </div>

                <div class="dataSliderBox SlideOut  animated" id="FactoryDetails">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="color_blue">Factory Detail
                        <button id="test3" class="btn btn-primary" (click)="addNewFactoryDetail()" style="float:right">Add New Factory</button>
                      </h4>
                    </div>
                  </div>

                  <section class="DataGrid">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12 nodadding">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="head">
                                <tr>
                                  <th>Factory Name</th>
                                  <th>factory Address</th>
                                  <th>Factory Code</th>
                                  <th>Production Process</th>
                                  <th>HeadCounts</th>
                                  <th>Area</th>
                                  <th>Contact Person</th>
                                  <th>Title</th>
                                  <th>Telephone</th>
                                  <th>Email</th>
                                  <th>Factory Flow Chart</th>
                                  <th>Other document</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let factory  of this.applicationInformation.Factories;let i = index; let last = last ">
                                  <td class="textLeft">{{factory.FactoryName}}</td>
                                  <td class="textLeft">{{factory.FactoryAddress}}</td>
                                  <td class="textLeft">{{factory.FactoryCode}}</td>
                                  <td class="textLeft">{{factory.ProductionProcess}}</td>
                                  <td class="textLeft">{{factory.HeadCounts}}</td>
                                  <td class="textLeft">{{factory.Area}}</td>
                                  <td class="textLeft">{{factory.FactoryContactPerson}}</td>
                                  <td class="textLeft">{{factory.Title}}</td>
                                  <td class="textLeft">{{factory.FactoryTelephone}}</td>
                                  <td class="textLeft">{{factory.FactoryEmail}}</td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of factory.FactoryDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='FlowChart'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft">
                                    <div *ngFor="let doc  of factory.FactoryDocuments;let i = index;">
                                      <span *ngIf="doc.DocumentType=='OtherDocument'">{{doc.DocumentName}}</span>
                                    </div>
                                  </td>
                                  <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                                    <button type="button" class="btn-primary addremovebtn" (click)="EditFactoryDetail(i)">
                                      <i class="fa fa-pencil" ></i>
                                    </button>
                                    <button type="button" class="btn-danger addremovebtn" (click)="deleteFactoryDetail(i)">
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>


                  <div class="footerSignBox">
                    <button id="" style="float: left;" class="btn btn-primary btn-block loginBtn" (click)="Factoryback()">Back</button>
                    <button id="test4" class="btn btn-primary btn-block loginBtn" (click)="ContinueFactory()" style="float: right; margin:0px;">Continue</button>
                  </div>
                </div>

                <div class="dataSliderBox SlideOut  animated" id="AditionalDetails">
                  <h4 class="color_blue">Additional Detail</h4>
                  <div class="dataScoller">
                    <div class="row form inputDesign">
                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <textarea rows="4" maxlength="200" class="resetInput" name="" [(ngModel)]="applicationInformation.AdditionalComment" [ngModelOptions]="{standalone: true}"
                          placeholder="Additional Information (Optional)"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <label style="margin-top: 5px;font-size: 14px;">Upload Application Documents</label>
                      </div>
                      <div class="col-sm-1">
                        <div class="input-group inputFile" id="uploadFile">
                          <i class="fa fa-upload uploadIcon11"></i>
                          <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UplaodFilledApplicationForm($event)">
                        </div>
                      </div>
                      <div class="col-sm-8" *ngIf="applicationInformation.FilledApplicationForm">
                        <span *ngFor="let Doc of applicationInformation.FilledApplicationForm?.split('ÿ')">
                          <span class="textBorder email-span">{{Doc}}
                            <i class="fa fa-times Pointer" (click)="removedfilledApplicationForm(Doc)"></i>
                          </span>
                        </span>
                      </div>
                    </div>

                    <div class="row inputDesign modalInput">
                      <div class="col-sm-12">
                        <label style="margin-top: 15px;margin-bottom: 2px;font-size: 14px;"> Please Select Seal Logo Type</label>
                      </div>
                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <div class="modelRedioCheck">
                          <label class="control control-radio modelLabel">With QR Code
                            <input type="radio" id="WithQR" [value]="true" name="SealLogoType" [(ngModel)]="applicationInformation.IsWithQRCode" checked>
                            <div class="control__indicator_radio" style="top: 0px;"></div>
                          </label>
                          <label class="control control-radio modelLabel">Without QR Code
                            <input type="radio" id="WithOutQR" [value]="false" name="SealLogoType" [(ngModel)]="applicationInformation.IsWithQRCode">
                            <div class="control__indicator_radio" style="top: 0px;"></div>
                          </label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="footerSignBox">
                    <button id="" style="float: left;" class="btn btn-primary btn-block loginBtn" (click)="additionalback()">Back</button>
                    <button id="test5" class="btn btn-primary btn-block loginBtn" style="float: right; margin:0px;" (click)="saveApplicantInformation()">Submit</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

<!-- Modal Popup-->

<div class="modal fade" id="productDetailModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" style="width:80%;margin:0 auto;margin-top:5%">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" (click)="ResetProductForm()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Product Detail </h4>
      </div>
      <div class="modal-body">
        <form id="productDetailForm"  autocomplete="off" name="productDetailForm" #productDetailForm="ngForm">
          <div class="">
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" type="text" #productType="ngModel" name="productType" [(ngModel)]="productInformation.ProductType"
                  placeholder="Product Type" required [ngModelOptions]="{standalone: true}">
                <div *ngIf="productDetailFormSubmitted  && !productType.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                  <div *ngIf="productType?.errors.required">Product type is required.</div>
                </div>
              </div>
              <div class="col-sm-4">
                <input class="w3-input" name="productName" #productName="ngModel" [(ngModel)]="productInformation.ProductName" placeholder="Product Name"
                type="text" required [ngModelOptions]="{standalone: true}">
                <div *ngIf="productDetailFormSubmitted && !productName.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                  <div *ngIf="productName?.errors.required">Product name is required.</div>
                </div>
              </div>
              <div class="col-sm-4">
                <input class="w3-input" type="text" name="modelNo" #modelNo="ngModel" [(ngModel)]="productInformation.ProductModelNo" placeholder="Product Model No"
                pattern="^[a-zA-Z0-9,{}.+=^&*()%$#@_+?!\//-|/-\s]*$" (ngModelChange)="validateSpace('Product')" [disabled]="disableProductModelNo" required [ngModelOptions]="{standalone: true}">
                <div *ngIf="!modelNo?.errors?.required && validateProductModelNo && productDetailFormSubmitted " class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">Product Model No is already exist</div>
                <div *ngIf="!modelNo?.valid && !disableProductModelNo" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                  <div *ngIf="modelNo?.errors?.required && productDetailFormSubmitted ">Product model no is required.</div>
                  <div *ngIf="modelNo?.errors?.pattern"> Single/Double quotes (',") are not allowed</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" type="text" name="productWeight" #productWeight="ngModel" [(ngModel)]="productInformation.ProductWeight"
                  placeholder="Product Weight" required [ngModelOptions]="{standalone: true}">
                <div *ngIf="productDetailFormSubmitted  && !productWeight.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                  <div *ngIf="productWeight?.errors.required">Product weight is required.</div>
                </div>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label>Upload product Image </label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadProductDocumnets($event,'ProductImage')">
                </div>
              </div>
              <div>
                <div class="col-sm-8">
                  <span *ngFor=" let product of productInformation.ProductDocuments;let k=index;">
                    <span *ngIf="product.DocumentType=='ProductImage'" class="textBorder email-span ">{{product.DocumentName}}
                      <i class="fa fa-times Pointer" (click)="deleteProductDocument(k,product.DocumentType)"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label class="model_uploadtext">Upload Brochure</label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadProductDocumnets($event,'Brochure')">
                </div>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let product of productInformation.ProductDocuments;let l=index;">
                  <span *ngIf="product.DocumentType=='Brochure'" class="textBorder email-span ">{{product.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteProductDocument(l,product.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label class="model_uploadtext">Upload Bill of materials </label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadProductDocumnets($event,'BillOfMaterial')">
                </div>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let product of productInformation.ProductDocuments;let m=index;">
                  <span *ngIf="product.DocumentType=='BillOfMaterial'" class="textBorder email-span ">{{product.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteProductDocument(m,product.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label class="model_uploadtext">Upload Materials test report </label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadProductDocumnets($event,'MaterialTestReport')">
                </div>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let product of productInformation.ProductDocuments;let n=index;">
                  <span *ngIf="product.DocumentType=='MaterialTestReport'" class="textBorder email-span ">{{product.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteProductDocument(n,product.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label class="model_uploadtext">Upload CAP for Materials test report </label>
              </div>
              <div class="col-sm-1">
                <span name="prbtn" id="prbtn" class="">
                  <i class="fa fa-upload uploadIcon"></i>
                  <input type="file" #ProductUpload class="product-filexx" name="btnpr{{i}}" id="btnpr{{i}}" (change)="UploadProductDocumnets($event,'CAP')">
                </span>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let product of productInformation.ProductDocuments;let o=index;">
                  <span *ngIf="product.DocumentType=='CAP'" class="textBorder email-span ">{{product.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteProductDocument(o,product.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" id="productDetailFormButton" *ngIf="editProduct" (click)="addProduct()" form="productDetailForm" class="btn btn-primary">Update Product</button>
        <button form="productDetailForm" id="productDetailFormButton111" type="submit" (click)="addProduct()" *ngIf="!editProduct" class="btn btn-primary">Add Product</button>
        <button type="button" class="btn btn-default" (click)="ResetProductForm()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FactoryDetailModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" style="width:80%;margin:0 auto;margin-top:5%">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" (click)="ResetFactoryForm()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Factory Detail </h4>
      </div>
      <div class="modal-body">
        <form id="factoryForm" autocomplete="off" name="factoryForm" #factoryForm="ngForm">
          <div class="">
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Factory Name" type="text" required [(ngModel)]="factoryInformation.FactoryName" name="FactoryName"
                    #FactoryName="ngModel" [ngModelOptions]="{standalone: true}">
                <div *ngIf="factoryDetailFormSubmitted && !FactoryName.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                    <div *ngIf="FactoryName?.errors.required">Factory Name is required.</div>
                </div>
            </div>
              <div class="col-sm-4">
                <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Factory Address" name="FactoryAddress" type="text" [(ngModel)]="factoryInformation.FactoryAddress"
                  required [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Factory Code" type="text" [(ngModel)]="factoryInformation.FactoryCode" name="FactoryCode"
                (ngModelChange)="validateSpace('Factory')" [disabled]="disablefactoryCode" #FactoryCode="ngModel" [ngModelOptions]="{standalone: true}"
                    required>
                <div *ngIf="!FactoryCode?.errors?.required &&  validateFactoryName && factoryDetailFormSubmitted" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">Factory code is already exist</div>
                <div *ngIf="!FactoryCode.valid && !disablefactoryCode" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                    <div *ngIf="FactoryCode?.errors?.required && factoryDetailFormSubmitted">Factory Code is required.</div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Production Process" name="ProductionProcess" type="text" [(ngModel)]="factoryInformation.ProductionProcess"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-4">
                <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="HeadCounts" (keydown)="restrictEKey($event)" type="number" step="1" min="0" name="HeadCounts"
                  [(ngModel)]="factoryInformation.HeadCounts" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Area" type="text" name="Area" [(ngModel)]="factoryInformation.Area" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Factory Contact Person" type="text" name="FactoryContactPerson" [(ngModel)]="factoryInformation.FactoryContactPerson"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Title" type="text" name="Title" [(ngModel)]="factoryInformation.Title" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-4">
                <input class="w3-input" autocomplete="doNotAutoComplete" placeholder="Factory Telephone" type="text" name="FactoryTelephone" [(ngModel)]="factoryInformation.FactoryTelephone"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input class="w3-input" placeholder="Factory Email" type="email" name="FactoryEmail" [(ngModel)]="factoryInformation.FactoryEmail"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label style="margin-top: 5px;font-size: 14px;">Upload Factory Flow-Chart</label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadFactoryDocument($event,'FlowChart')">
                </div>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let factory of factoryInformation.FactoryDocuments ;let i=index;">
                  <span *ngIf="factory.DocumentType=='FlowChart'" class="textBorder email-span ">{{factory.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteFactoryDocument(i,factory.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="row" style="min-height:42px;">
              <div class="col-sm-3">
                <label style="margin-top: 5px;font-size: 14px;">Upload Other Document </label>
              </div>
              <div class="col-sm-1">
                <div class="input-group inputFile" id="uploadFile">
                  <i class="fa fa-upload uploadIcon11"></i>
                  <input type="file" class="product-file" id="uploadFile{{i}}" name="uploadFile{{i}}" #fileUpload (change)="UploadFactoryDocument($event,'OtherDocument')">
                </div>
              </div>
              <div class="col-sm-8">
                <span *ngFor=" let factory of factoryInformation.FactoryDocuments ;let i=index;">
                  <span *ngIf="factory.DocumentType=='OtherDocument'" class="textBorder email-span ">{{factory.DocumentName}}
                    <i class="fa fa-times Pointer" (click)="deleteFactoryDocument(i,factory.DocumentType)"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" *ngIf="editFactory" (click)="addFactory()"  form="factoryForm" class="btn btn-primary">Update Factory</button>
        <button form="factoryForm" type="submit" (click)="addFactory()"  *ngIf="!editFactory" class="btn btn-primary">Add Factory</button>
        <button type="button" class="btn btn-default" (click)="ResetFactoryForm()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
