<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>

<div class="field-label" *ngIf="fieldType != 14">
  <span *ngIf="isRequired">*</span> {{fieldLabel}}
</div>
<div class="field-label" *ngIf="fieldType == 14">
  <b [style.color]="fieldLabel.includes('***') ? fieldLabel.split('***')[1].trim() : ''">{{fieldLabel.includes('***') ? fieldLabel.split('***')[2].trim() : fieldLabel}}</b>
</div>

<!-- Fields -->

<!-- Textbox -->
<div class="field" *ngIf="fieldType == 1">
  <input id={{fieldId}} type={{inputType}} class="form-control" [ngClass]="[Required]" style="width: 100%" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    required={{Required}} [readonly]="ReadOnly" minlength={{minRange}} maxlength={{maxRange}} (blur)="numericRange(modelVal ? modelVal : fieldObj.Value, minRange, maxRange, inputType)"
    (change)="tableChange(index, innerIndex, $event)" />
</div>

<!-- Textarea -->
<div class="field" *ngIf="fieldType == 2">
  <textarea id={{fieldId}}{{innerIndex}} class="form-control" style="width: 100%" [ngClass]="[Required]" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    required={{Required}} readonly={{ReadOnly}} (keyup)="textareaChange($event, fieldId, innerIndex)" (change)="tableChange(index, innerIndex, $event)"></textarea>
</div>

<!-- Dropdown -->
<div class="field" *ngIf="fieldType == 3">
  <select id={{fieldId}} class="form-control" style="width: 100%" [ngClass]="[Required]" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    [disabled]="ReadOnly ? true : false" (change)="tableChange(index, innerIndex, $event)">
    <option value="" selected>Please select</option>
    <option *ngFor="let option of optionList">{{option}}</option>
  </select>
</div>

<!-- Dropdown with Multi-Select -->
<div class="field" *ngIf="fieldType == 4">
  <ss-multiselect-dropdown class="SlectBox" [options]="optionList" [texts]="defaultText" [(ngModel)]="multiSelectModel" (ngModelChange)="multiSelectChange(fieldObj)"
    (change)="tableChange(index, innerIndex, $event)">

  </ss-multiselect-dropdown>
</div>

<!-- Dropdown with Auto-Complete -->
<!--<div class="field" *ngIf="fieldType == 5">
	<input class="form-control" auto-complete [source]="optionList" [ngClass]="[Required]" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
	 (change)="tableChange(index, innerIndex, $event)" />
</div>-->
<div class="field" *ngIf="fieldType == 5">
  <select id={{fieldId}} class="form-control" style="width: 100%" [ngClass]="[Required]" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    [disabled]="ReadOnly ? true : false" (change)="tableChange(index, innerIndex, $event)">
    <!--<option value="" selected>Please select</option>-->
    <option *ngFor="let option of optionList" value="">{{option}}</option>
  </select>
</div>

<!-- Radio button -->
<div class="field" *ngIf="fieldType == 6">
  <span id={{fieldId}}>
    <span *ngFor="let option of optionList; let i = index" class="radio-container">
      <input type="radio" [disabled]="ReadOnly ? true: false" [ngClass]="[Required]" [attr.data-loc]="fieldId" id={{fieldId}}-{{i}}
        [name]="fieldId" value={{option}} [(ngModel)]="modelVal ? modelVal : fieldObj.Value" (change)="tableChange(index, innerIndex, $event)"
        (click)="checkDependent(radioDependentIds[i], option,fieldId, fieldObj, $event)">
      <span>{{option}}</span>
    </span>
  </span>
  <span class="text-radioList" *ngIf="radioOther == true">
    <input type="text" class="form-control" [(ngModel)]="fieldObj.Value1" />
  </span>
</div>

<!-- Radio Button with Text -->
<div class="field" *ngIf="fieldType == 7">
</div>

<!-- Checkbox -->
<div class="field checkbox" *ngIf="fieldType == 8">

  <!-- If option = null & label present -->
  <span *ngIf="optionList.length == 0" class="checkbox-container">
    <input type="checkbox" class="check" name={{fieldId}} id={{fieldId}} (click)="Checkbox(fieldId, fieldObj, null, null, $event)"
      [disabled]="ReadOnly ? true: false" [ngClass]="[Required]" />
    <label class="checkbox-label" for={{fieldId}}> </label>
  </span>

  <!-- If only 1 option is there -->
  <span *ngIf="optionList.length == 1" class="checkbox-container">
    <span *ngFor="let option of optionList; let i = index">
      <input type="checkbox" class="check" id={{fieldId}} name={{fieldId}} (click)="Checkbox(fieldId, fieldObj, option, null, $event)"
        [disabled]="ReadOnly ? true: false" [ngClass]="[Required]" />
      <label class="checkbox-label" for={{fieldId}}> {{option}} </label>
    </span>
  </span>

  <!-- If more than 1 options are there -->
  <span id={{fieldId}} *ngIf="optionList.length > 1" class="checkbox-container">
    <span *ngFor="let option of optionList; let i = index">
      <input type="checkbox" class="check" id={{fieldId}}-{{i}} name={{fieldId}} (click)="Checkbox(fieldId, fieldObj, option, i, $event)"
        [disabled]="ReadOnly ? true: false" [ngClass]="[Required]" />
      <label class="checkbox-label" for={{fieldId}}-{{i}}> {{option}} </label>
    </span>
  </span>
  <span class="text-checkboxList" *ngIf="checkboxOther == true">
    <input type="text" class="form-control" [(ngModel)]="fieldObj.Value1" />
  </span>
</div>

<!-- Checkbox with Text -->
<div class="field" *ngIf="fieldType == 9">
  <input type="checkbox" class="check" id={{fieldId}} [ngClass]="[Required]" [disabled]="ReadOnly ? true: false" (click)="checkBoxWithText(fieldId, fieldObj)"
    required={{Required}} readonly={{ReadOnly}}/>
  <label class="checkbox-text" for={{fieldId}}> {{fieldObj.option}}</label>
  <span *ngIf="checkboxWithText == true">
    <span class="checkbox-text">
      <input type="text" class="form-control" [(ngModel)]="fieldObj.Value1" />
    </span>
  </span>
</div>

<!-- Date -->
<div class="field" *ngIf="fieldType == 10">
  <!-- <input id={{fieldId}} type="date" class="form-control" [ngClass]="Required" style="width: 100%;" required={{Required}} readonly={{ReadOnly}} [(ngModel)]="modelVal ? modelVal : fieldObj.Value"  (change)="tableChange(index, innerIndex, $event)"/> -->
  <owl-date-time [inputId]="fieldId" [dataType]="'string'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM-DD-YYYY'" [disabled]="ReadOnly ? true : false"
    [type]="'calendar'" [required]="Required ? true : false" [ngClass]="[Required, ReadOnly ? 'readonlydate' : '']" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    (change)="tableChange(index, innerIndex, $event)" [autoClose]="true"></owl-date-time>
</div>

<!-- Date Time -->
<div class="field" *ngIf="fieldType == 11">
  <!-- <owl-date-time [inputId]="'fieldId'" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy HH:MM'" [dateFormat]="'MM-DD-YYYY HH:mm'" [disabled]="ReadOnly ? true : false" [required]="Required ? true : false"  [(ngModel)]="modelVal ? modelVal : fieldObj.Value"  (change)="tableChange(index, innerIndex, $event)" [ngClass]="[Required, ReadOnly]" [locale]="en"></owl-date-time> -->
  <owl-date-time [inputId]="fieldId" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM-DD-YYYY'" [disabled]="ReadOnly ? true : false"
    [required]="Required ? true : false" [ngClass]="[Required, ReadOnly ? 'readonlydate' : '']" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    (change)="tableChange(index, innerIndex, $event)" [locale]="en" [autoClose]="true"></owl-date-time>
</div>

<!-- Radio Button with List -->
<div class="field" *ngIf="fieldType == 13">
  <span *ngFor="let option of optionList; let i = index" class="radio-container radioList">
    <input type="radio" id={{fieldId}}-{{i}} name={{fieldId}} [attr.data-loc]="fieldId" value={{option}} [ngClass]="[Required]"
      (click)="checkDependent(radioDependentIds[i], option)" [(ngModel)]="modelVal ? modelVal : fieldObj.Value" [disabled]="ReadOnly ? true: false"
      (change)="tableChange(index, innerIndex, $event)">
    <span>{{option}}</span>
  </span>
  <span class="text-radioList" *ngIf="radioOther == true">
    <input type="text" class="form-control" [(ngModel)]="fieldObj.Value1" />
  </span>
</div>

<!-- Label -->
<div class="field" *ngIf="fieldType == 14">

</div>

<!-- Checkbox with List -->
<div class="field" *ngIf="fieldType == 15">
  <span id={{fieldId}} class="checkboxList-container" *ngFor="let option of optionList; let i = index">
    <input type="checkbox" class="check" id={{fieldId}}-{{i}} (click)="checkBoxListText(fieldId, option, i, fieldObj)" [ngClass]="[Required]"
      [disabled]="ReadOnly ? true: false" required={{Required}} readonly={{ReadOnly}}/>
    <label class="checkbox-list-text" for={{fieldId}}-{{i}}> {{option}} </label>
  </span>
  <span class="text-checkboxList" *ngIf="checkboxListOther == true">
    <input type="text" class="form-control" [(ngModel)]="fieldObj.Value1" />
  </span>
</div>

<!-- Image -->
<div class="field inputDesign" *ngIf="fieldType == 16">
  <div id={{fieldId}}-{{container}} [ngClass]="{'image-collection': !dataService?.imageSizeForEcommEtrf, 'image-collection-ecommerce' : dataService?.imageSizeForEcommEtrf}">
    <img class="file-img" [src]="imageURL" />
  </div>
  <span class="file-container">
    <label class="fileContainer">
      Choose Image to Upload
      <input id={{fieldId}} [ngClass]="[Required]" type="file" (change)="fileChangeEvent($event, fieldObj, tableObj)" />
    </label>
  </span>
</div>


<!-- Files -->
<div class="field inputDesign" *ngIf="fieldType == 17">
  <div id={{fieldId}}-{{containerFile}} class="File-collection UploadFileInsp" style="text-align: center;">
    <!--style="display:none">-->
    <!--style="display:none">-->
    <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer; color:red;font:bold;" class="fa fa fa-file-pdf-o"></i>
    <tooltip-content #myTooltip [animation]="true" placement="left">
      <div style="word-wrap:break-word" id="{{tooltip}}">{{tooltip}}</div>
    </tooltip-content>
  </div>
  <span class="file-container">
    <label class="fileContainer">
      Choose File to Upload
      <input id={{fieldId}} [ngClass]="[Required]" type="file" (change)="UploadFiles($event, fieldObj, tableObj)" />
    </label>
  </span>
</div>

<!-- Label -->
<div class="field" *ngIf="fieldType == 18">
  <!--<input id={{fieldId}} type={{inputType}} class="form-control" [ngClass]="[Required]" style="width: 100%" 
	[(ngModel)]="modelVal ? modelVal : fieldObj.Value"
	 required={{Required}} [readonly]="ReadOnly" min={{minRange}} max={{maxRange}} 
	 (blur)="numericRange(modelVal ? modelVal : fieldObj.Value, minRange, maxRange, inputType)"
	 (change)="tableChange(index, innerIndex, $event)" />-->
  <a id={{fieldId}} target="_blank" href={{fieldhref}}>{{fieldanchorLabel}}</a>
</div>

<!-- CheckBox with text Area -->
<div class="field" *ngIf="fieldType == 19">
    <!-- CheckBox -->
    <input type="checkbox" class="check" id={{fieldId}} [ngClass]="[Required]" [disabled]="ReadOnly ? true: false" (click)="checkBoxWithTextArea(fieldId, fieldObj)"
      required={{Required}} readonly={{ReadOnly}}/>
    <label class="checkbox-text" for={{fieldId}} style="float: left;width:25%;"> {{fieldObj.option}}</label>

    <!-- TextArea -->
    <div *ngIf="checkboxWithTextArea" style="float: left;width:75%;">
      <div style="float: left;width:100%;">
          <textarea id={{fieldId}}-1 class="form-control" style="width: 100%;" [ngClass]="[Required]" [(ngModel)]="fieldObj.Value1"
          required={{Required}} readonly={{ReadOnly}}></textarea>
      </div>
    </div>
</div>

<!-- Dropdown For SF -->
<div class="field" *ngIf="fieldType == 21">
  <select id={{fieldId}} class="form-control" style="width: 100%" [ngClass]="[Required]" [(ngModel)]="modelVal ? modelVal : fieldObj.Value"
    [disabled]="ReadOnly ? true : false" (change)="tableChangeForMappingDropdown(index, innerIndex, $event, fieldObj)">
    <option value="" selected>Please select</option>
    <option *ngFor="let option of optionList">{{option}}</option>
    <option *ngIf="optionList.length==0" value="NA">NA</option>
  </select>
</div>

<div class="field" id={{fieldId}} *ngIf="fieldType == 22 && fieldObj?.Value.length>0">
  
    <table id={{fieldId}} style="width: 100%" class="table" >
      <tr>
        <th class="left-align td1 hd1">Business Line</th>
        <th class="left-align td1 hd1">Brand SKU</th>
        <th class="left-align td1 hd1">Garment Color</th>
        <th class="left-align td1 hd1">Fabric Color</th>
        <th class="left-align td1 hd1">PO Number</th>
        <th class="left-align td1 hd1">Fabric Id</th>
        <th class="left-align td1 hd1">Season</th>
        <th class="left-align td1 hd1">Style Variant Id</th>
        <th class="left-align td1 hd1">Category Class</th>
        <th class="left-align td1 hd1">Product Type Department</th>
        <th class="left-align td1 hd1">Item Description</th>
        <th class="left-align td1 hd1">Brand Name</th>
        <th class="left-align td1 hd1">Ship Date</th>
        
      </tr>
      <!-- <tr *ngFor="let ediData of getArr(fieldObj?.Value)"></tr> -->
      <tr *ngFor="let ediData of ediDataList1;let k=index">
        <td class="left-align td1">{{ediData.Business_Line}}</td>
        <td class="left-align td1">{{ediData.Brand_Sku}}</td>
        <td class="left-align td1">{{ediData.Garment_Color}} </td>
        <td class="left-align td1 hand-cursor" *ngIf="ediData?.Fabric_Color?.trim()" (click)="update(ediData,'Fabric_Color', 'Fabric Color',k)" >{{ediData.Fabric_Color}}</td>
        <td class="left-align td1 hand-cursor" *ngIf="!ediData?.Fabric_Color?.trim()" (click)="update(ediData,'Fabric_Color', 'Fabric Color',k)" ><span style="color:red!important">**</span></td>
        <td class="left-align td1">{{ediData.PO_Number}}</td>
        <td class="left-align td1">{{ediData.Fabric_ID}}</td>
        <td class="left-align td1">{{ediData.Season}}</td>
        <td class="left-align td1">{{ediData.Style_Variant_ID}}</td>
        <td class="left-align td1">{{ediData.Product_Category_Class}}</td>
        <td class="left-align td1">{{ediData.Product_Type_Department}}</td>
        <td class="left-align td1">{{ediData.Item_Description}}</td>
        <td class="left-align td1">{{ediData.Brand_Name}}</td>
        <td class="left-align td1">{{ediData.Shipment_Date |date}}</td>
      </tr>   
    </table>
 </div>

  <!-- <td class="left-align td1">{{ediData.Business_Line}}</td>
  <td class="left-align td1" >{{ediData.Brand_Sku}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Garment_Color', 'Garment Color')">{{ediData.Garment_Color}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Fabric_Color', 'Fabric Color')">{{ediData.Fabric_Color}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'PO_Number', 'PO Number')">{{ediData.PO_Number}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Season', 'Season')">{{ediData.Season}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Style_Variant_ID', 'Style Variant ID')">{{ediData.Style_Variant_ID}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Product_Category_Class', 'Product Category Class')">{{ediData.Product_Category_Class}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Product_Type_Department', 'Product Type Department')">{{ediData.Product_Type_Department}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Item_Description', 'Item Description')">{{ediData.Item_Description}}</td>
  <td class="left-align td1 hand-cursor" (click)="update(ediData,'Brand_Name', 'Brand Name')">{{ediData.Brand_Name}}</td>
  <td class="left-align td1">{{ediData.Shipment_Date |date}}</td> -->
 