
.poSummary-Container{
    margin: 6% auto;
    width: 34%;
    padding: 39px 56px 1px !important;
    background: #fff;
    border: 1px solid #cecccc;
    min-height: 227px;
}

.btnDiv-margin{
    margin-top: 33px;
    margin-left: -17px;
}

.progressLoader{
    color: #138000;
    background: #32323233;
    font-size: 2em;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transition: opacity .15s linear;
    width: 100%;
}
