<body class="">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog">
        </div>
      </div>
      <section class="breadcrum_bg wBg">
        <div class="container-fluid">
          <p>
            <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
            <img src="asset/img/angle-right.png">
            <a> Supporting Tool</a>
            <img src="asset/img/angle-right.png"> Po Summary
          </p>
        </div>
      </section>

      <section class="poSummary-Container">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 " style="margin-left: -16px;">
            <label class="control control-radio modelLabel">
              <strong>DateRange</strong>
              <input type="radio" id="DateRange" (click)="changeRadioselection('DateRange')" [checked]="DateSelection == 'DateRange'" name="SelectDateRange">
              <div class="control__indicator_radio"></div>
            </label>
          </div>
          <div *ngIf="showdatePicker" class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
            <div class="custom_Date" style="margin-top: -15px;margin-left: 22px;">
              <my-date-range-picker [placeholder]="'date range'" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
            </div>
          </div>
        </div>
        <div class="row " style="margin-top: 20px">
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 " style="margin-left: -16px;">
            <label class="control control-radio modelLabel">
              <strong>Daily</strong>
              <input type="radio" id="Daily" (click)="changeRadioselection('Daily')" [checked]="DateSelection == 'Daily'" name="SelectDateRange">
              <div class="control__indicator_radio"></div>
            </label>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12  " style="margin-left: -16px;">
            <label class="control control-radio modelLabel">
              <strong>Weekly</strong>
              <input type="radio" id="Weekly" (click)="changeRadioselection('Weekly')" [checked]="DateSelection == 'Weekly'" name="SelectDateRange">
              <div class="control__indicator_radio"></div>
            </label>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 " style="margin-left: -16px;">
            <label class="control control-radio modelLabel">
              <strong>Monthly</strong>
              <input type="radio" id="Monthly" (click)="changeRadioselection('Monthly')" [checked]="DateSelection == 'Monthly'" name="SelectDateRange">
              <div class="control__indicator_radio"></div>
            </label>
          </div>
        </div>
        <div class="btnDiv-margin">
          <button type="button" class="btn btn-primary" (click)="SendMail()">Send</button>
          <button type="button" class="btn btn-primary" (click)="generatePoSummary()">Generate</button>
          <button type="button" class="btn btn-default" (click)="Reset()">Reset</button>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>

  <div class="modal fade" id="DownloadFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <button *ngIf="progressLoader" class="progressLoader">
                <span *ngIf="Generating">Generating
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
                <span *ngIf="!Generating">Sending Mail
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
              <div>
                <app-bulk-email [clientEmail]="userDetail" [checkedReportNo]="''" [ccEmails]="ccEmails" [remarks]="remarks">
                </app-bulk-email>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadFile()">{{showDownloadFiles ? 'Send' : 'Download'}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">No</button>
        </div>
      </div>
    </div>
  </div>
</body>