.mail-icon-red{
    color: #7b3e39;font-size: 1.8em;margin-left: 2px;cursor: pointer;
}

.mail-icon-green{
    color: #68cd00;font-size: 1.8em;margin-left: 2px;cursor: pointer;
}


.active-offer{
    cursor: pointer; color: #68cd00;font-size: 1.8em;margin-left: 2px;
}

.deactive-offer{
    cursor: pointer;color: #7d7b7b;font-size: 1.8em;margin-left: 2px;
}

.delete-offer{
    cursor: pointer; color: red;font-size: 1.8em;margin-left: 2px;
}

.edit-offer{
    color: #337ab7;font-size: 1.8em;margin-left: 2px;cursor: pointer;
}

/* Other Recipient CSS */
.EmailIdSpan {
    margin-bottom: 15px;
    padding: 6px 0px;
}

.CommoninputStyle{
    font-size: 14px;
    color: #666;
    border: 0px;
    background: transparent;
}

.inputBorder{
    height: 30px;
    border-bottom: 1px solid #C6C6C6;
}

.textBorder{
    border: 1px solid #C6C6C6;
}

.email-span{
    max-height: 30px;
    background: #d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
}
 
.email-list{
    min-height:20px;
    border-bottom: 1px solid #C6C6C6;
}

.mail-preview{
    margin: 5px;
    padding: 10px;
    border: solid 1px;
}

.mail-subject{
    margin: 5px;
    padding: 10px;
    font-weight: 600;
}

.recepient-list{
    min-height: 20px;
    max-height: 200px;
    overflow: auto;    
}

.pointer{
    cursor: pointer;
}