<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> ADMIN </a>
            <img src="asset/img/angle-right.png"> Manage PromoOffer </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row  inputDesign autoComplete">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <select name="" [(ngModel)]="offerSearchRequest.OfferTypeId" class="SlectBox">
                      <option value="0">--Select Offer Type--</option>
                      <option *ngFor="let offer of offerTypeList;" [value]="offer.OfferTypeId">{{offer.OfferTypeName}}</option>
                    </select>
                  </div>
                
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <input type="text" placeholder="Offer Name" [(ngModel)]="offerSearchRequest.OfferName" />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <select id="Company" [(ngModel)]="offerSearchRequest.BusinessCategoryId" [ngModelOptions]="{standalone: true}" class="SlectBox">
                      <option value="0">--Select Category--</option>
                      <option *ngFor="let category of bussinessCategories" [value]="category.Id">{{category.Value}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <!-- <button type="button" class="btn btn-success searchBtn" (click)="getPromoOffer()"> Search</button> -->
                    <button type="button" class="btn btn-primary-one searchBtn" (click)="resetSearchForm()"> Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="DataGrid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="textRight addLink">
                <a (click)="openPromotionalOfferMail(-1,2)" style="margin:100px">
                  <i class="fa fa-bell"></i> Notified Ecom User </a>

                <a [routerLink]=" ['./add-offer']">
                  <i class="fa fa-plus-circle"></i> Add New Offer </a>

              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="head">
                    <tr>
                      <th class="textLeft">Offer Name</th>
                      <th class="textLeft">Busseniss Category</th>
                      <th class="textLeft">Offer Type</th>
                      <th class="textLeft">Minimum Amount</th>
                      <th class="textLeft">Maximum Amount</th>
                      <th class="textLeft">Discount %</th>
                      <th class="textLeft">Valid From</th>
                      <th class="textLeft">Valid To</th>
                      <th class="textLeft">Short Description</th>
                      <th class="textLeft">Offer Description</th>
                      <th class="textLeft" style="width:10px">Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let PromoOffer of (ecomPromoOfferList | filterArray : offerSearchRequest.BusinessCategoryId : offerSearchRequest.OfferName :offerSearchRequest.OfferTypeId )">
                      <td class="textLeft" style="min-width: 150px">{{PromoOffer.OfferName}}</td>
                      <td class="textLeft" style="min-width: 100px">{{PromoOffer.BusinessCategoryName}}</td>
                      <td class="textLeft" style="min-width: 100px;">{{PromoOffer.OfferType}}</td>
                      <td class="textLeft" style="min-width: 100px">{{PromoOffer.MinTransactionAmount}}</td>
                      <td class="textLeft" style="min-width: 100px">{{PromoOffer.MaxTransactionAmount}}</td>
                      <td class="textLeft" style="min-width: 60px">{{PromoOffer.OfferPercentDiscount}} </td>
                      <td class="textLeft" style="min-width: 100px;">{{PromoOffer.ValidFrom|formatDate| date:'MMM dd, y'}}</td>
                      <td class="textLeft" style="min-width: 100px;">{{PromoOffer.ValidTo|formatDate | date:'MMM dd, y'}}</td>
                      <td class="textLeft" style="min-width: 100px;">{{PromoOffer.OfferShortDescription}}</td>
                      <td class="textLeft" style="min-width: 100px;">{{PromoOffer.OfferDescription}}</td>
                      <td class="textCenter" align="center" style="min-width: 100px;">
                        <span>
                          <i [routerLink]="['./edit-offer',PromoOffer.OfferDetailId]" class="fa fa-pencil edit-offer"></i>
                        </span>
                        <span>
                          <i (click)="openPromotionalOfferMail(PromoOffer.OfferDetailId,1)" class="fa fa-envelope" [ngClass]="{'mail-icon-red': !PromoOffer.IsEmailSend, 'mail-icon-green': PromoOffer.IsEmailSend, 'third': false}"></i>
                        </span>
                        <span *ngIf="PromoOffer.Active">
                          <i class="fa fa-toggle-on active-offer" (click)="EnableDisablePromoOffer(PromoOffer.OfferDetailId,false)"></i>
                        </span>
                        <span *ngIf="!PromoOffer.Active">
                          <i class="fa fa-toggle-off deactive-offer" (click)="EnableDisablePromoOffer(PromoOffer.OfferDetailId,true)"></i>
                        </span>
                        <span>
                          <i class="fa fa-trash delete-offer" (click)="DeletePromoOffer(PromoOffer.OfferDetailId)"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>
</body>

<div class="modal fade" id="OfferAvailableFor" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Available Client List</h4>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <div class="table-responsive_iiji">
              <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                <thead class="head">
                  <tr>
                    <th class="textCenter" style="min-width:100px;">Client Name</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Company Email</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Company Address</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Labority Email</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Contact No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Williams-Sonama</td>
                    <td>abc@Williams-Sonama.com</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Costco Wholesale</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>StitchFix</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PrmotionalOfferMail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ResetMailValues();" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mail Template</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
            <input type="radio" name="mode" [value]="true" [(ngModel)]="promotionalMail.Once" /> Once
          </div>

          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
            <input type="checkbox" name="chkEmailSend" checked={{promotionalMail.IsEmailSend}} [(ngModel)]="promotionalMail.IsEmailSend"
              (change)="validateCheckbox($event)" [disabled]="promotionalMail.EmailType==2" /> Send Email
          </div>
        </div>


        <div class="row" style="margin-top: 24px;">
          <div class="inputDesign col-md-2 col-lg-2 col-sm-2 col-xs-12">
            <label style="font-weight: 550;">Recipient</label>
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
            <div class="EmailIdSpan CommoninputStyle email-list">
              <div class="recepient-list">
                <span class="textBorder email-span" *ngFor="let other of otherRecipientsEmailIds">{{other}}
                  <i (click)="removeEmail(other)" class="fa fa-times pointer"></i>
                </span>
                <input size="35" style="margin-bottom: -5px;" type="text" [placeholder]="otherRecipientsEmailIds.length > 0 ? '' : 'Enter email'"
                  [(ngModel)]="otherRecipientEmail" name="otherRecipient" (keyup)="handleOtherRecipientinputfeild($event)"
                  (blur)="addOtherRecipient()" class="CommoninputStyle">
                <span style="clear:both"></span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
            <input type="text" placeholder="Enter any email" [(ngModel)]="promotionalMail.OtherRecipient" />
          </div> -->
        </div>

        <div class="row inputDesign">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
            <label style="margin-top: 20px;
                font-weight: 550;">Subject</label>
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
            <input type="text" placeholder="Subject" [(ngModel)]="promotionalMail.Subject" />
          </div>
        </div>

        <div class="row inputDesign">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <textarea style="margin-top: 20px;" rows="10" [(ngModel)]="promotionalMail.Body" [maxLength]="10000" placeholder="Email body"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="SendEmail();" class="btn btn-primary">Submit</button>
        <button type="button" (click)="GetEmailDataTemplate();" class="btn btn-primary">Preview</button>
        <button type="button" (click)="ResetMailValues();" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PreviewMail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closePreviewMail()">&times;</button>
        <h4 class="modal-title">Preview</h4>
      </div>
      <div class="modal-body">

        <div class="row mail-subject">
          Subject : {{previewMailTemplate.Subject}}
        </div>

        <div class="row mail-preview"  [innerHtml]="previewMailTemplate.Body">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="closePreviewMail();" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>