<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div class="row">
  <div class="col-sm-3 col-xs-6">
    <input type="checkbox" class="check" id="0" value="0" (change)="checkedStudents(0)" name="users" />
    <label for="0">Internal Users</label>
  </div>
  <div class="col-sm-3 col-xs-6">
    <input type="checkbox" class="check" id="externalUsers" (change)="ExternalShow()" name="users" />
    <label for="externalUsers">External Users</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr />
  </div>
</div>

<div class="row" *ngIf="DivShow == true">
  <div class="col-sm-6 col-xs-12">
    <label>Select Company</label>
    <ul class="companyList">
      <li *ngFor='let Company of companyList'>
        <input type="checkbox" class="check" id="{{Company.CompanyId}}" (change)="checkedStudents(Company.CompanyId)" value="{{Company.CompanyId}}"
          name="{{Company.CompanyName}}" />
        <label for="{{Company.CompanyId}}">{{Company.CompanyName}}</label>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr />
  </div>
</div>

<div class="row" style="margin-top: 25px;">
  <div class="col-md-3 col-xs-6 inputDesign">
    <button class="btn btn-warning" (click)="showPrevTab()">Prev</button>
  </div>
  <div class="col-md-3 col-xs-6 inputDesign" align="right">
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>