<body class="" *ngIf="userCredentials && userDetails">
  <div id="test" class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Online e-TRF ({{companyName}})</a>
            <img src="asset/img/angle-right.png" /> {{breedcrumbName}}
          </p>
        </div>
      </section>
      <section class="addNew-e-TRF">
        <div class="container-fluid">
          <div class="row" style="overflow: visible;">
            <div id="form-wrapper" class="col-md-12 nodadding" style="background: #ffffff;">

              <div id="Form-Header" class="">
                <!--<div class="mts-logo" *ngIf="EcomStatus"><img class="" src="../../../asset/img/mts-logo.jpg"></div>-->
                <div class="mts-logo" *ngIf="EcomStatus">
                  <img class="" src="../../../asset/img/Logo/{{companyLogo}}.jpg">
                </div>
                <div class="mts-logo" *ngIf="!EcomStatus">
                  <img class="" src="../../../asset/img/e-commerce/{{ServiceName}}.png">
                </div>
                <div class="form-name" *ngIf="EcomStatus">{{formName}}{{EcommETRFtitle}}</div>
                <div class="form-name" *ngIf="!EcomStatus">{{formName}}</div>
              </div>
              <!--<div class="section-etrf etrf-no" *ngIf="ETRFID != '' && EcomStatus" >-->
              <div class="section-etrf etrf-no" *ngIf="ETRFID != '' && ETRFType!=4">
                <!-- <div *ngIf="Ref_ETRF_ID && !dataService?.imageSizeForEcommEtrf" style="float:left;font-size: medium;"><b>Reference e-TRF No. : {{Ref_ETRF_ID}}</b></div> -->
                <div *ngIf="BusinessId != 4" style="float:right;font-size: medium;"><b>e-TRF No. : {{ETRFID}}</b></div>
                <div *ngIf="BusinessId == 4" style="float:right;font-size: medium;"><b>Form Booking No. : {{ETRFID}}</b></div>
              </div>

              <div class="section-etrf etrf-no" style="font-size: medium;" *ngIf="ETRFID != '' && ETRFType==4 ">
                <b>Booking Form No. : {{ETRFID}}</b>
              </div>
              <div *ngFor="let section of ETRFsection; let i = index " id={{section.uniqueId}} class="section-etrf" [ngClass]="getClass(section)">
                <div *ngIf="section.SectionName" class="section-header-etrf">
                  {{section.SectionName}}
                </div>

                <div *ngIf="section.subSectionArr.length > 0">
                  <div id="container-{{section.uniqueId}}" class="sectionContainer-etrf">
                    <app-show-subsection *ngFor="let subsection of section.subSectionArr" id={{subsection.uniqueId}} class="sub-section-etrf"
                      [subSectionObj]="subsection">
                    </app-show-subsection>
                  </div>
                </div>

                <div *ngIf="section.addTableArr.length > 0">
                  <app-show-table *ngFor="let table of section.addTableArr; let i = index " id={{table.uniqueId}} class="table-etrf" [tableArrObj]="table"
                    [sectionObj]="section" [tableIndex]="i">

                  </app-show-table>
                </div>

                <div *ngIf="section.addFieldsArr.length > 0">
                  <div id="container-{{fieldObj.uniqueId}}" class="field-container" *ngFor="let fieldObj of section.addFieldsArr">
                    <app-show-field [fieldObj]="fieldObj" [ediDataList1]="ediDataList" (bindDataFromShowFields)="bindDataFromShowFields(obj)"></app-show-field>
                  </div>
                </div>
              </div>
              <div id="additionalNote" class="section-etrf">
                <div class="section-header-etrf">
                  <span>Terms and Conditions</span>
                </div>
                <div class="sectionContainer-etrf">
                  <!-- <p>{{AdditionalNote}}</p> -->
                </div>
              </div>

              <div class="etrf-save hide-pdf">
                <!-- <button id="getpdf" class="btn btn-primary" (click)="getPDF('save', null)">Print PDF</button> -->
                <button class="btn btn-success" (click)="saveETRF()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="result-wrap">
        <img id="result" src="" />
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 300px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ETRF Saved Successfully</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="BusinessId != 4" class="">ETRF ID : {{etrfIdOnSave}}</div>
          <div *ngIf="BusinessId == 4" class="">Form Booking No. : {{etrfIdOnSave}}</div>
          <div class="">
            <button class="btn btn-primary" (click)="getPDFModal()">Get PDF</button>
            <button class="btn btn-success" (click)="proceed()">Proceed</button>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div id="SendEmail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 300px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Do you want attachment</h4>
        </div>
        <div class="modal-body">
          <!--<div class="">ETRF ID : {{etrfIdOnSave}}</div>-->
          <div class="">
            <button class="btn btn-primary" (click)="SendEmailcancel()">No</button>
            <button class="btn btn-success" (click)="SendEmail()">Yes</button>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="modal fade" id="UpdateData" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update {{dataService.caption}}</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <!--<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl"><span><b>Report # : </b>{{this.ReportNo}}</span></div>-->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div>
                <input type="text"   id="fieldValueId" [(ngModel)]="dataService.fieldValue"  />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="updateData()">Update
          </button>
        </div>
      </div>

    </div>
  </div>


  <custom-footer></custom-footer>
</body>