<div class="preview-holder">
  <div class="preview-wrapper" [ngClass]="graphSummaryWrapper">
    <div class="preview-graph" [ngClass]="graphClass">
      <div class="table-responsive">
        <table class="table" id="">
          <thead class="head">
            <tr>
              <th>{{graphTitle}} of {{graphName}}</th>
            </tr>
          </thead>
          <tbody>
            <div class="table-responsive">
              <div id="preview-graph">
                <img src="../../../../asset/img/quadone.gif" width="50%" height="100%" />
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
    <div class="preview-summary" [ngClass]="summaryClass">
      <table class="table" id="">
        <thead class="head">
          <tr>
            <th colspan="4">{{summaryTitle}} of {{graphName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
          </tr>
          <tr>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
          </tr>
          <tr>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
          </tr>
          <tr>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
            <td style="min-width: 50px;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="preview-additional-summary" [ngClass]="additionalSummaryClass">
    <table class="table" id="">
      <thead class="head">
        <tr>
          <th colspan="4">{{additionalSummaryTitle}} of {{graphName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
        </tr>
        <tr>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
        </tr>
        <tr>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
        </tr>
        <tr>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
          <td style="min-width: 50px;"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>