<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> ADMIN </a>
            <img src="asset/img/angle-right.png">
            <a href="" [routerLink]=" ['/admin/manage-roles']">Manage ROLES</a>
            <img src="asset/img/angle-right.png" /> {{viewName}} Role
          </p>
        </div>
      </section>
      <section *ngIf="!onlyView" class="filter">
        <div  class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row form inputDesign">
                  <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
                    <label for="RoleName">Role Name</label>
                    <input type="text" [(ngModel)]="permission.RoleName" name="RoleName" placeholder="Select Role" />
                     
                  </div>
                  <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 ">
                    <label for="RolesFor">Roles For</label>
                    <div class="RolesFor">
                      <label class="control control-radio " id="AllCompanies">All Companies
                        <input (click)="radioChecked='AllCompanies'" [(ngModel)]="radioChecked" value="AllCompanies" type="radio" name="RolesFor">
                        <div class="control__indicator_radio"></div>
                      </label>
                      <label class="control control-radio " id="CompanySpecific">Company Specific
                        <input (click)="radioChecked='companySpecific'" [(ngModel)]="radioChecked" value="companySpecific" type="radio" name="RolesFor">
                        <div class="control__indicator_radio"></div>
                      </label>
                    </div>
                  </div>
                  <div [hidden]="radioChecked=='AllCompanies'" class="col-md-6 col-lg-5 col-sm-6 col-xs-12 multiselectcheck">
                    <label for="RoleName">Select Company</label>
                    <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="selectedCompany" [options]="companyList" [texts]="selectCompanyText"></ss-multiselect-dropdown>
                    <!--<select name=" " class="SlectBox" [(ngModel)]="selectedCompany">
              <option [ngValue]="company.CompanyId" *ngFor="let company of companyList">{{company.CompanyName}} </option>
            </select>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="DataGrid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <h3 *ngIf="!onlyView"> ASSIGN PERMIssions</h3>
              <h3 *ngIf="onlyView"> View Permissions</h3>
              <div class="table-responsive">
                <table class="table manageRole">
                  <thead class="head">
                    <tr>
                      <th width="30%" style="min-width:100px;" class="dashbord"></th>
                      <th width="8%" *ngFor="let permission of permissionList" style=" min-width:55px; text-align:center !important;">{{permission.PermissionTypeName}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let perm of permission.CategoryPermissionList">
                      <td *ngIf="perm.ParentId==-1" colspan="18" class="dashbord catName" width="100%"> {{perm.CategoryName}}</td>
                      <td *ngIf="perm.ParentId!=-1" class="dashbord" width="30%" style="min-width:100px;"> {{perm.CategoryName}}</td>
                      <td [hidden]="perm.ParentId==-1" width="8%" *ngFor="let item of perm.PermissionList" style=" min-width:55px; text-align:center !important;">
                        <!--<label *ngIf="item.PermissionExist" class="control control-checkbox "><input type="checkbox" id="" [(ngModel)]="item.AssignToUser" name="" checked><div class="control__indicator_checkbox"></div></label>-->
                        <label *ngIf="!onlyView" class="control control-checkbox ">
                          <input [disabled]="!item.PermissionExist" type="checkbox" id="" [(ngModel)]="item.AssignToRole" name="" checked>
                          <div class="control__indicator_checkbox"></div>
                        </label>
                        <label *ngIf="onlyView" class="control control-checkbox ">
                          <input [disabled]="true" type="checkbox" id="" [(ngModel)]="item.AssignToRole" name="" checked>
                          <div class="control__indicator_checkbox"></div>
                        </label>
                      </td>
                      <!-- <td style="font-size: 17px;background-color: #cac7c4;" [hidden]="!perm.ParentId==-1" width="8%" *ngFor="let item of perm.PermissionList"></td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div *ngIf="!onlyView" class="assignRoleSaveBtn">
        <button type="button" class="btn btn-success savebtn" (click)="saveRole()"> Save </button>
        <button type="button" class="btn btn-default cancelbtn" [routerLink]=" ['/admin/manage-roles']">Cancel</button>
      </div>
    </div>
  </div>

  <custom-footer></custom-footer>

  <!-- Modal -->


</body>