<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> Manage Document </a>
            <img src="asset/img/angle-right.png" /> Technical Document
          </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3 class="">Search</h3>

              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row form inputDesign">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <select name=" " class="SlectBox resetSelect" [(ngModel)]="ddocumentcategory" (ngModelChange)="getDocumentSubCategory($event)">
                      <option [ngValue]="category.DocumentCategoryId" *ngFor="let category of documentCategoryList">
                        {{category.DocumentCategoryName}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <select name=" " class="SlectBox resetSelect" [(ngModel)]="ddocumentsubcategory">{{ddDocumentSubCategory}}
                      <option [ngValue]="subcategory.DocumentSubCategoryId" *ngFor="let subcategory of subdocumentCategorylist">
                        {{subcategory.DocumentSubCategoryName}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">

                    <div class="custom_Date">
                      <my-date-range-picker placeholder="Created date" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
                      <!--<input type="text" id="order-dateRange" name="daterange" placeholder="Login Date Range"  />-->
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <input class="resetInput" type="text" name="" placeholder="Document Name" [(ngModel)]="DocumentName" />
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-success searchBtn " (click)="search('search')">
                      Search
                    </button>
                    <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="exportcontainer">
        <button type="button" class="btn btn-success export-excel " (click)="search('excel')">Export To Excel</button>
        <span class="textRight addLink " *ngIf="userCredential.UserPermission.UploadTechnicalDocument">
          <i class="fa fa-paperclip"></i>
          <a (click)="technicalDocumentUpload()" class="underline"> UPLOAD DOCUMENT </a>
        </span>
      </div>


      <section class="DataGrid technicalDocument">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-12 nodadding">


              <div class="table-responsive">
                <table class="table">
                  <thead class="head">
                    <tr>
                      <th class="textCenter" (click)="sorting('DocumentCategoryName')">Category</th>
                      <th class="textCenter" (click)="sorting('DocumentSubCategoryName')">Sub category
                      </th>
                      <th class="textCenter" (click)="sorting('DocumentName')">Document Name</th>
                      <th class="textCenter" (click)="sorting('TechnicalSpecification')">Technical Specification
                      </th>
                      <th class="textCenter" (click)="sorting('Description')">Description</th>
                      <th class="textCenter" style="min-width: 20px; width: 17px; word-break: break-all;  word-wrap: break-word; overflow: hidden;"
                        *ngIf="userCredential.UserPermission.DownloadTechnicalDocument">download
                      </th>
                      <th class="textCenter" style="min-width: 20px; width: 17px; word-break: break-all;  word-wrap: break-word; overflow: hidden;"
                        *ngIf="userCredential.UserPermission.DeleteTechnicalDocument">Delete
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Document of documentList | paginate: {id: 'server',itemsPerPage: itemPerPage, currentPage: p, totalItems: totalItem }">
                      <td class="textCenter tech">{{Document.DocumentCategoryName}}</td>
                      <td class="textCenter tech">{{Document.DocumentSubCategoryName}}</td>
                      <td class="textCenter tech">{{Document.DocumentName}}</td>
                      <td class="textCenter tech">{{Document.TechnicalSpecification}}</td>
                      <td class="textCenter tech">{{Document.Description}}</td>
                      <td class="pdfUploadIcon textCenter" *ngIf="userCredential.UserPermission.DownloadTechnicalDocument">
                        <i class="fa fa-file-pdf-o" [tooltip]="myTooltip" tooltipPlacement="top" (click)="downLoad(Document.FileName,'TDOC')"></i>
                        <tooltip-content #myTooltip [animation]="true" placement="left">
                          <div style="word-wrap:break-word">{{Document.FileName}}</div>
                        </tooltip-content>
                      </td>
                      <td *ngIf="userCredential.UserPermission.DeleteTechnicalDocument" class="textCenter tech">
                        <button (click)="deleteRole(Document.UploadDocumentID)" type="button" class="btn btn-danger btn-sm">Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!documentList" (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>

        </div>

      </section>
    </div>
  </div>
  <custom-footer></custom-footer>

  <!-- Modal -->
  <div data-backdrop="static" data-keyboard="false" class="modal fade" id="uploadTechnicalDocument" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Technical Document </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="input-group inputFile" id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" #fileUpload class="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" id="inputValue" (click)="reset()" value=""
                  (change)="fileupload($event)">

                <p class="inputValueShow">{{technicalDocumentObj.FileName}} </p>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <select name=" " class="SlectBox" [(ngModel)]="technicalDocumentObj.CategoryId" (ngModelChange)="getDocumentSubCategory(technicalDocumentObj.CategoryId)">
                <option [ngValue]="category.DocumentCategoryId" *ngFor="let category of documentCategoryList">{{category.DocumentCategoryName}}
                </option>
              </select>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <select name=" " class="SlectBox" [(ngModel)]="technicalDocumentObj.SubCategoryId">
                <option [ngValue]="subcategory.DocumentSubCategoryId" *ngFor="let subcategory of subdocumentCategorylist">
                  {{subcategory.DocumentSubCategoryName}}
                </option>
              </select>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="Document Name" [maxLength]="100" [(ngModel)]="technicalDocumentObj.DocumentName"
              />
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <textarea rows="4" placeholder="Technical Specification" [maxLength]="300" [(ngModel)]="technicalDocumentObj.TechnicalSpecification"></textarea>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <textarea rows="6" placeholder="Descriptions" [maxLength]="500" [(ngModel)]="technicalDocumentObj.Description"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="upload()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</body>