<body class="" *ngIf="userDetail && userCredential">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> Manage Document </a>
            <img src="asset/img/angle-right.png" /> Other Report Upload
          </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3 class="">Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row form inputDesign">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">

                    <div class="custom_Date">
                      <my-date-range-picker placeholder="Login Date" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <input type="text" class="resetInput" name="" placeholder="Report No" [(ngModel)]="model.SearchText[0].ColumnValue" />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <input type="text" class="resetInput" name="" placeholder="Style No" [(ngModel)]="model.SearchText[1].ColumnValue" />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <input type="text" class="resetInput" name="" placeholder="Sku No" [(ngModel)]="model.SearchText[2].ColumnValue" />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-success searchBtn " (click)="search()"> Search</button>
                    <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="DataGrid technicalDocument">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="DataGrid">
                <div class="row">

                  <button (click)="batchUploadBtnClick()" class="btn btn-primary btn-sm ">Batch Upload
                  </button>
                  <button type="button" style="margin-bottom: 0px;line-height: normal" class="btn btn-success export-excel " (click)="ExportToexcel()">Export To Excel</button>
                  <button type="button" style="margin-bottom: 0px;line-height: normal" class="btn btn-success export-excel" (click)="UploadExcel()">Upload Excel</button>
                  <div style="display: inline-block;padding-left: 10px; ">
                    <i class="fa fa-paperclip"></i>
                    <a (click)="DownloadSampleExcel()" style="cursor:pointer" class="underline">DOWNLOAD SAMPLE EXCEL FILE</a>
                  </div>
                  <div class="" style="float: right;margin-top: 10px;" *ngIf="userCredential.UserPermission.UploadThirdpartyReport">
                    <i class="fa fa-paperclip"></i>
                    <a (click)="technicalDocumentUpload()" class="underline" style="cursor:pointer"> UPLOAD REPORT </a>

                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table">
                  <thead class="head">
                    <tr>
                      <th class="textCenter"></th>
                      <th class="textCenter" (click)="sorting('ReportNo')" style="min-width:100px;">Report#</th>
                      <th class="textCenter" (click)="sorting('StyleNo')" style="min-width:100px;">Style#</th>
                      <th class="textCenter" (click)="sorting('SkuNo')" style="min-width:100px;">SKU#</th>
                      <th class="textCenter" (click)="sorting('UPCCode')" style="min-width:100px;">UPC Code</th>
                      <th class="textCenter" (click)="sorting('LoginDate')" style="min-width:100px;">Login</th>
                      <th class="textCenter" (click)="sorting('LogoutDate')" style="min-width:100px;">Logout</th>
                      <th class="textCenter" (click)="sorting('AgentName')" style="min-width:100px;">Agent Name</th>
                      <th class="textCenter" (click)="sorting('VendorName')" style="min-width:100px;">Vendor Name</th>
                      <th class="textCenter" (click)="sorting('FactoryName')" style="min-width:100px;">Factory Name</th>
                      <th class="textCenter" (click)="sorting('Gender')" style="min-width:100px;">Gender</th>
                      <th class="textCenter" (click)="sorting('Program')" style="min-width:100px;">Program</th>
                      <th class="textCenter" (click)="sorting('Rating')" style="min-width:100px;">Rating</th>
                      <th class="textCenter" (click)="sorting('FileName')" style="min-width: 20px; width: 17px; word-break: break-all;  word-wrap: break-word; overflow: hidden;">Download</th>
                      <th class="textCenter" *ngIf="userCredential.UserPermission.DeleteThirdPartyReport" style="min-width: 20px; width: 17px; word-break: break-all;  word-wrap: break-word; overflow: hidden;">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Document of documentList | paginate: {id: 'server',itemsPerPage: itemPerPage, currentPage: p, totalItems: totalItem }; let i=index">
                      <td class="textCenter ">
                        <input type="checkbox" name="reportSelect" class="FileCheck" value="{{Document.ReportNo}}" id={{i}} [checked]="this.checkedReportArr.indexOf(Document.ReportNo) >= 0"
                          (change)="handleCheckboxCheck($event, Document)">
                      </td>
                      <td class="textCenter tech">{{Document.ReportNo}}</td>
                      <td class="textCenter tech">{{Document.StyleNo}}</td>
                      <td class="textCenter tech">{{Document.SkuNo}}</td>
                      <td class="textCenter tech">{{Document.UPCCode}}</td>
                      <td class="textCenter">{{Document.LoginDate}}</td>
                      <td class=" textCenter">{{Document.LogoutDate}}</td>
                      <td class="textCenter tech">{{Document.AgentName}}</td>
                      <td class="textCenter tech">{{Document.VendorName}}</td>
                      <td class="textCenter tech">{{Document.FactoryName}}</td>
                      <td class="textCenter tech">{{Document.Gender}}</td>
                      <td class="textCenter tech">{{Document.Program}}</td>
                      <td class="textCenter tech">{{Document.Rating}}</td>

                      <td class="pdfUploadIcon textCenter">
                        <div *ngIf="Document.FileName">
                          <span class="pdfUploadIcon" *ngFor="let reportFile of Document.FileName.split(',')">
                            <i class="fa fa-file-pdf-o" [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer; word-wrap:break-word" (click)="download(reportFile,'ODOC',Document.ReportNo)"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{reportFile}}</div>
                            </tooltip-content>
                          </span>
                        </div>
                      </td>
                      <td *ngIf="userCredential.UserPermission.DeleteThirdPartyReport" class="textCenter tech">
                        <button (click)="deleteRole(Document.ID)" type="button" class="btn btn-danger btn-sm">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!documentList" (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>

      </section>
      <div id="import">
        <importExcel (RestAfterUpload)="resetSearchForm()"></importExcel>
      </div>
    </div>
  </div>
  <custom-footer></custom-footer>



  <div class="modal fade" id="uploadTechnicalDocument" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md uploadReportModel">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Test Report Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputMatrial">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <md-input placeholder="Report Number" rows="2" maxLength="100" [(ngModel)]="techncalDocumentObj.ReportNo"></md-input>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <md-input placeholder="Vendor Name" type="text" name="" maxLength="200" [(ngModel)]="techncalDocumentObj.VendorName"></md-input>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <md-input placeholder="Factory Name" type="text" name="" maxLength="200" [(ngModel)]="techncalDocumentObj.FactoryName"></md-input>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">

              <md-input placeholder="Agent Name" type="text" name="" maxLength="200" [(ngModel)]="techncalDocumentObj.AgentName"></md-input>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <md-input placeholder="Test Phase" maxLength="100" type="text" name="" [(ngModel)]="techncalDocumentObj.TestPhase"></md-input>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <md-input placeholder="Rating" type="text" maxLength="100" name="" [(ngModel)]="techncalDocumentObj.Rating"></md-input>
            </div>
          </div>
          <div class="row inputDesign">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <label>Style Number </label>
              <textarea rows="1" [maxLength]="100" [(ngModel)]="techncalDocumentObj.StyleNo"></textarea>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <label>SKU</label>

              <textarea rows="1" [maxLength]="200" [(ngModel)]="techncalDocumentObj.SKUNo"></textarea>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <label>PO Number</label>
              <textarea rows="1" [maxLength]="200" [(ngModel)]="techncalDocumentObj.PONumber"></textarea>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <label>Brand</label>
              <textarea rows="1" [maxLength]="50" [(ngModel)]="techncalDocumentObj.Brand"></textarea>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <label>UPC Code</label>
              <textarea rows="1" [maxLength]="200" [(ngModel)]="techncalDocumentObj.UPCCode"></textarea>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <label>Sample Description </label>
              <textarea rows="1" [maxLength]="1000" [(ngModel)]="techncalDocumentObj.SampleDescription"></textarea>
            </div>

          </div>

          <div class="row inputDesign">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <div class="custom_Date">
                <my-date-picker class="date-pick" [placeholder]="'Date in'" [options]="myDatePickerOptions" [(ngModel)]="techncalDocumentObj.LoginDate"
                  (dateChanged)="onDateInChanged($event)">

                </my-date-picker>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <div class="custom_Date">
                <my-date-picker class="date-pick" [placeholder]="'Date Out'" [options]="myDatePickerOptions" [(ngModel)]="techncalDocumentObj.LogoutDate"
                  (dateChanged)="onDateOutChanged($event)">

                </my-date-picker>
              </div>

              <!--<md2-datepicker class="md2DatePicker" type="date" placeholder="Date Out"  [(ngModel)]="techncalDocumentObj.LogoutDate"></md2-datepicker>-->
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <div class="custom_Date">
                <my-date-picker class="date-pick" [placeholder]="'Due Date'" [options]="myDatePickerOptions" [(ngModel)]="techncalDocumentObj.DueDate"
                  (dateChanged)="onDueDateChanged($event)">

                </my-date-picker>
              </div>

              <!--<md2-datepicker class="md2DatePicker" type="date" placeholder="Due Date"  [(ngModel)]="techncalDocumentObj.DueDate"></md2-datepicker>-->
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 " style="padding-top:22px;">
              <!--<label>Location</label>-->
              <select [(ngModel)]="techncalDocumentObj.LabLocationId">
                <option *ngFor="let location of labLocationList" [value]="location.LabLocationId">{{location.LabLocationName}} </option>
              </select>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 " style="padding-top:22px;">
              <select [(ngModel)]="techncalDocumentObj.Gender">
                <option value="">Select Gender</option>
                <option *ngFor="let gen of Gender" [value]="gen">{{gen}} </option>
              </select>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 " style="padding-top:22px;">
              <select [(ngModel)]="techncalDocumentObj.Program">
                <option value="">Select Program</option>
                <option *ngFor="let pro of Program" [value]="pro">{{pro}} </option>
              </select>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
              <div class="modelRedioCheck" style="height: 56px; padding-top:22px;">
                <label class="control control-checkbox ">ReTest
                  <input type="checkbox" [checked]="techncalDocumentObj.IsRetest" id="checkPop123" name="">
                  <div class="control__indicator_checkbox"></div>
                </label>
              </div>
            </div>
          </div>
          <div class="row inputDesign">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-top:10px;">
              <label>Choose File </label>
              <div class="input-group inputFile " id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" #fileUpload class="inputValue" id="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" (click)="reset()" value=""
                  (change)="fileupload($event)">
                <p class="inputValueShow" style="z-index:0;">{{techncalDocumentObj.FileName}} </p>
              </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="modelRedioCheck" style="height: 56px; padding-top:22px;">
                <label class="control control-checkbox ">Send Email
                  <input type="checkbox" (click)="showDownload()" id="checkPop" name="">

                  <div class="control__indicator_checkbox"></div>
                </label>
              </div>
            </div>

            <div class="col-md-12" *ngIf="showDownloadFiles">
              <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="techncalDocumentObj.ReportNo" [ccEmails]="this.ccEmails"
                [remarks]="this.remarks"></app-bulk-email>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="upload()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancelUpload()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="DownloadFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div>
                <input type="checkbox" class="check CheckPop" id="showDownload" (change)="showDownload()" />
                <label for="showDownload">Send Mail</label>
              </div>

              <div *ngIf="showDownloadFiles">
                <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                </app-bulk-email>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadFile()">{{showDownloadFiles ? 'Send' : 'Download'}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="batchUpload" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          <h4 class="modal-title">Upload Report File </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="">
                <table class="table bachUploadfiletable">
                  <thead class="head">
                    <tr>
                      <th>ReportNo</th>
                      <th colspan="2">Choose File</th>
                      <th>Selected Files</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let batchreport of checkedReportArr; let i=index">
                      <td> {{batchreport.ReportNo}}</td>
                      <td>
                        <div class="fileUploadSection">
                          <div class="input-group inputFile " id="'uploadFile' + i " style="margin-bottom: 0px">
                            <span class="input-group-addon btn">
                              <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                            <input [disabled]="batchreport.isUploadDisabled" [id]="'uploadreport-'+ i " type="file" #fileUpload class="inputValue" value=""
                              accept=".pdf,.doc,.docx,.xls,.xlsx,.pptx" (click)="resetBatchFile($event)" (change)="fileChangeEvent($event,i)"
                              multiple>

                            <p class="inputValueShow">{{batchreport.filenames}}</p>
                          </div>
                          <div class="upload-msg" *ngIf="batchreport.uploadedReportCount >= 15"> Note: You already uploaded 15 files.
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="fileUploadSection">
                          <div class="addBtnContainer">
                            <span id="add-report" (click)="addUploadReport(i)">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </td>
                      <td style="width:300px">
                        <div class="pdf-list">
                          <ul>
                            <li *ngFor="let file of batchreport.filereportArray; let iD = index ">
                              {{file.fileObj.name}}
                              <span class="delete-report" (click)="deleteReportFile(i,iD)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitUploadValidate(0)">Submit</button>
          <button type="button" class="btn btn-default" (click)="resetFile(i,$event)" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>


</body>