<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a href="" [routerLink]=" ['/admin']">Admin </a>
            <img src="asset/img/angle-right.png" />My Order Configuration </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Select Company</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <form id="Filterbtn" class="collapse in">
                <div class="row form inputDesign autoComplete">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 ">
                    <select id="Company" [(ngModel)]="selectedBussinessCategory" [ngModelOptions]="{standalone: true}" class="SlectBox" (ngModelChange)="getCompanyList()">
                      <option *ngFor="let category of bussinessCategories" [value]="category.Id">{{category.Value}} </option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 ">
                 
                    <div class="custom_box modelSelect">
                      <input auto-complete [(ngModel)]="inputCompany" [ngModelOptions]="{standalone: true}" [source]="companyList" placeholder="Company Name"
                        display-property-name="CompanyName" value-property-name=null  [list-formatter]="renderCompany" close-on-focusout="true"/>
                    </div>
                  </div>
               
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 ">
                    <button type="button" class="btn btn-success searchBtn " (click)="search()"> Submit</button>
                    <button type="button" class="btn btn-success searchBtn " style="margin-left: 5px;" (click)="dateFormat()"> Date Format</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <Section *ngIf="showsetting" class="mt-20">

 
       
        <!-------------------------------------------- OrderGrid Config    --------------------------- -->

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="container-fluid">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">ETRF Grid Configuration</h3>
                  </div>
                  <div class="panel-body">
                    <div id="pickList">
                      <div class="row">
                        <div class="col-sm-5">
                          <select [(ngModel)]="tempSelectedGridC" class="form-control pickListSelect" id="G_pickData" size="8">
                            <option [ngValue]="column.ColumnId" *ngFor="let column of availableGridColumns">{{column.ColumnName}} </option>
                          </select>
                        </div>
                        <div class="col-sm-1 pickListButtons">
                          <div class="row">
                            <button id="pAdd" class="btn btn-primary btn-sm" (click)="add(2)">
                              <i class="fa fa-arrow-right"></i>
                            </button>
                          </div>
                          <div class="row">
                            <button id="pRemove" class="btn btn-primary btn-sm" (click)="remove(2)">
                              <i class="fa fa-arrow-left"></i>
                            </button>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <select [(ngModel)]="tempselectedAvailG" class="form-control pickListSelect" id="pickListResult" size="8" multiple="">
                            <!-- <option *ngIf="MyOrder!=4"> Report No</option>
                            <option *ngIf="MyOrder!=4"> LogIn Time</option>
                            <option *ngIf="MyOrder!=4">Report Rating</option> -->
                            <option [ngValue]="column.ColumnId" *ngFor="let column of selectedGridColumns">{{column.ColumnName}} As {{column.ColumnDataValue}} </option>
                          </select>
                        </div>
                        <div class="col-sm-1 pickListButtons">
                          <div class="row">
                            <button id="pAdd" class="btn btn-primary btn-sm" (click)="up(2)">
                              <i class="fa fa-arrow-up"></i>
                            </button>
                          </div>
                          <div class="row">
                            <button id="pRemove" class="btn btn-primary btn-sm" (click)="down(2)">
                              <i class="fa fa-arrow-down"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row config">
            <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-success" (click)="SaveSearchConfig()"> Save Configuration</button>
            </div>
          </div>
        </div>
      </Section>
    </div>
  </div>
  <div class="modal fade" id="myModalOne" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideModel()">&times;</button>
          <h4 class="modal-title">Add Caption</h4>
        </div>
        <div class="modal-body" style="width: 200px; margin: auto;">
          <!-- <input id='AliasInput' [(ngModel)]="AliasInput"/> -->
          <md-input-container>
            <input mdInput placeholder="Caption Name" id="md-input-3" value="" [(ngModel)]="AliasInput">
          </md-input-container>
        </div>
        <div class="modal-footer">
          <button type="button" (click)='AddColumn()' class="btn btn-default">Add</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="date-format" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" style="width: 400px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModel()">&times;</button>
          <h4 class="modal-title">Date Format</h4>
        </div>
        <div class="modal-body" style="width: 400px; margin: auto;">
          <div class="form inputDesign autoComplete">

            <div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 ">
              <b>Select Category</b>
              <select id="Company" [(ngModel)]="selectedBussinessCategoryNew" [ngModelOptions]="{standalone: true}" class="SlectBox" (ngModelChange)="getCompany()">
                <option *ngFor="let category of bussinessCategories" [value]="category.Id">{{category.Value}} </option>
              </select>
            </div>
            <div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 ">
              <b>Select Company</b>
              <div class="custom_box modelSelect">
                <input auto-complete [(ngModel)]="inputCompanyNew" [ngModelOptions]="{standalone: true}" (ngModelChange)="getDateFormat()"
                  [source]="companyListNew" placeholder="Company Name" display-property-name="CompanyName" value-property-name=null [list-formatter]="renderCompany" close-on-focusout="true"
                />
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 " style="margin-top: 13px;">
              <b>Select Date Format</b>
              <select class="SlectBox" [(ngModel)]="dateFormatId" [ngModelOptions]="{standalone: true}">
                <option value=0 disabled>Select Format</option>
                <option *ngFor="let format of dateFormatData" [value]="format.id">{{format.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)='saveDateFormat()' class="btn btn-default">Submit</button>
        </div>
      </div>

    </div>
  </div>
  <custom-footer></custom-footer>

</body>