<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Admin</a>
            <img src="asset/img/angle-right.png" /> Etrf Configuration
          </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3 class=""></h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn">
              </div>
              <div id="Filterbtn" class="collapse in">
                <div class="row form autoComplete ">

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 inputDesign">
                    <select name="" [(ngModel)]="selectedBusinessCategory" class="SlectBox" placeholder="Select Business Category" (ngModelChange)="getBusinessCategory()">
                      <!--<option  [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>-->
                      <option value="0">Select Business Category</option>
                      <option value="1">Testing</option>
                      <option value="2">Inspection</option>
                      <option value="3">FCI</option>
                    </select>
                  </div>


                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <div name="" class="selectBox" *ngIf="this.clientList.length > 0">
                      <md-input-container>
                        <input mdInput placeholder="Select Client" [mdAutocomplete]="auto" [formControl]="clientCtrl" [(ngModel)]="AutoCompleteReset">
                      </md-input-container>

                      <md-autocomplete #auto="mdAutocomplete">
                        <md-option *ngFor="let client of filteredClients | async" [value]="client.name" (onSelectionChange)="selectedClient(client.id)">
                          {{ client.name }}
                        </md-option>
                      </md-autocomplete>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <md-input-container>
                      <input mdInput placeholder="e-TRF Name" value="" [(ngModel)]="searchModal.SearchText[1].ColumnValue">
                    </md-input-container>
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="inputDesign">
                      <button type="button" style="margin-top: 10px;" class="btn btn-success searchBtn " (click)="search()"> Search</button>
                      <button type="button" style="margin-top: 10px;" class="btn btn-primary-one searchBtn " (click)="reset()"> Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="DataGrid config">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="textRight addLink">
                <button data-toggle="modal" (click)="ImportEtrfLIMS()" class="btn btn-primary">
                  Import E-TRF Form LIMS
                </button>
                <button data-toggle="modal" data-target="#import-etrf" class="btn btn-primary">
                  Import E-TRF
                </button>
                <a href="" class="btn btn-primary" [routerLink]="['./add-new-etrf']">
                  Add New Form
                </a>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="head">
                    <tr>
                      <th class="textLeft" (click)="sorting('FormName')">Form Name</th>
                      <th class="textLeft" (click)="sorting('CM.[CompanyName]')">Client Name</th>
                      <th class="textLeft" (click)="sorting('Description')">Description</th>
                      <th class="textLeft" style="width: 20%;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let data of etrfList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}> -->

                    <tr *ngFor="let data of etrfList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem} ; let i = index ">

                      <td class="textLeft">{{data.FormName}}</td>
                      <td class="textLeft">{{data.ClientName}}</td>
                      <td class="textLeft">{{data.Description}}</td>

                      <td class="textLeft">
                        <button class="btn btn-warning btn-sm" [routerLink]="['./edit-etrf', data.FormId]">Edit</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['./copy-etrf', data.FormId]">Copy</button>
                        <button class="btn btn-success btn-sm etrf-list" *ngIf="data.Status == true" (click)="activeDeactiveETRF(data.FormId, i)">Active</button>
                        <button class="btn btn-danger btn-sm etrf-list" *ngIf="data.Status == false" (click)="activeDeactiveETRF(data.FormId, i)">Deactive</button>
                        <button class="btn btn-danger btn-sm etrf-list" *ngIf="dataService.showUpdateETRFButton" (click)="updateETRFToProduction(data.FormId, i)">{{dataService.updateETRFButtonText}}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="modal fade" id="import-etrf" role="dialog">
    <div class="modal-dialog" style="width: 300px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Import e-TRF</h4>
        </div>
        <div class="modal-body">
          <md-input-container>
            <input mdInput placeholder="Enter Form Id" value="" [(ngModel)]="importFormId">
          </md-input-container>
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary" (click)="submitTRF()">Submit</button>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="modal fade" id="import-etrf-LIMS" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Import e-TRF From LIMS</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <!--<div class="col-md-6">
							<md-input-container>
								<input mdInput placeholder="Enter Form Id" value="" [(ngModel)]="importFormIdLIMS">
							</md-input-container>
						</div>-->
            <div class="col-md-12">

              <div class="table-responsive" style="max-height: 350px;">
                <table class="table" id="etrfLIMSList">
                  <thead class="head" style="background: #e5e5e5;">
                    <tr>
                      <th class="textCenter" style="border-right: 1px solid #ccc;"></th>
                      <th class="textCenter" style="border-right: 1px solid #ccc;">Form ID</th>
                      <th class="textCenter">Form Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let trfList of LIMSTrfList">
                      <td>
                        <!--<input type="checkbox" class="TrfId" name="TrfSelect" value="{{trfList.FormId}}"
												 (change)="handleCheckboxCheck($event, trfList.FormId)">-->
                        <input class="RadioEtrf" name="etrfFormID" ng-control="options" type="radio" [value]="trfList.FormId" [(ngModel)]="EtrfFormID">
                        <br/>
                      </td>
                      <td class="textCenter">{{trfList.FormId}}</td>
                      <td class="textCenter">{{trfList.FormName}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<md-input-container>
						<input mdInput 
							placeholder="Enter DB Id" 
							value=""
							[(ngModel)]="importsourceDbNameLIMS" >
					</md-input-container>-->
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary" (click)="submitTRFLIMS()">Submit</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <custom-footer></custom-footer>
</body>