body {
    font-size: 12px;
    background: #e8ebf1;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

.heading_green{color:#7cca2c;margin:15px;font-size:20px;text-shadow: 1px 1px #000000;}
.filter h4{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;}

.DataGrid.table > tbody> tr> td.styel_Padding {
    padding: 3px 0px 3px 7px !important;
}
.DataGrid .table>thead>tr>th {white-space: inherit !important;}
.DataGrid .table>tbody>tr>td {padding:2px 6px 2px 6px !important;}
.container-fluid {
    padding-right: 15px;
    padding-left: 13px;
    margin-right: auto;
    margin-left: auto;
}

.DataGrid .table-responsive {
    overflow: auto !important;
    /* max-height: 300px; */
    
}
/* 
.breadcrum_bg {       
    background: #0067aa;
    color: #ffffff;   
} */
/* .breadcrum_bg p {
    color: #ffffff;
    margin-bottom: 0px;
}

.breadcrum_bg p a{
    color: #ffffff;
    margin-bottom: 0px;
} */

  @media (min-width: 600px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
    {
      float: left;
    }
}

@media (max-width: 750px) and (min-width: 240px) {
    .heading_green{color:#7cca2c;font-weight: bold;margin:15px;font-size:14px;text-shadow: 1px 1px #000000;height:30px; }
    /*****.col-xs-8{width:82%!important; float:right;}****/
    .breadcrum_bg p {
        font-size: 8px;
        padding: 0px;
        padding-bottom:5px;
    }
    .TextContainer{margin-left:3px;margin-top:20px;}
  }

    .Approve{
        color: #59ab05;
        font-weight: bold;
    }

 
    .color_black{
        color:black
    }   

    .color_white{
       color: #ffffff;
    }

    .color_grey{
        color:#666
    }

    .mini_header{
       font-size: 12px;
       text-transform: uppercase;
       min-height: 30px;
       padding: 6px 0 0px !important;
       position: relative;
       background: #0067aa;
       color: #ffffff;   
    }
  