<!-- <h1>Coming Soon!</h1> -->

<body>
    <div class="warpper-inner">
            <div class="content-inside">
                    <custom-header *ngIf="userDetail && userCredential"  ></custom-header>
        <div>
            <div *ngIf="isLoader">
                <div class="loading-dialog"></div>
            </div>
            <div   *ngIf="!userDetail && !userCredential" class="logo1 navbar" style="background:#ffffff;">
                <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
                <span class="heading_green">GREEN PRODUCT ASSURANCE </span>
            </div>
        </div>

        <div>

            <section  [ngClass]="!userDetail && !userCredential ? 'mini_header' : 'breadcrum_bg'">
                    <p  [ngClass]="!userDetail && !userCredential ? 'color_white' : ''">
                        <a [ngClass]="!userDetail && !userCredential ? 'color_white' : ''">Green product Assurance </a>
                        <img src="asset/img/angle-right.png" />public view
                    </p>
            </section>
   
            <div>
                <section class="filter">
                    <div class="container-fluid">
                        <div class="row inputDesign">
                            <div class="col-md-12 ">
                                <h4>Search</h4>

                                <div id="Filterbtn" class="collapse in">
                                    <div class="row form inputDesign autoComplete">
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <input auto-complete [(ngModel)]="selectedCompany" type="text" class="resetInput" placeholder="Company Name" [source]="companyList"
                                                display-property-name="VendorName" value-property-name='' [list-formatter]="renderCompanyName" close-on-focusout="true"/>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <input auto-complete [(ngModel)]="selectedProduct"  placeholder="Product Name" [source]="productList"
                                                display-property-name="ProductName" value-property-name=null  [ngModelOptions]="{standalone:true}" [list-formatter]="renderProductName" close-on-focusout="true"/>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <input auto-complete [(ngModel)]="selectedModel" type="text" class="resetInput" [list-formatter]="renderModelNo" close-on-focusout="true" placeholder="Model Number" [source]="modelList"
                                                display-property-name="ProductModelNo" value-property-name=null />
                                        </div>
                                    </div>

                                    <div class="row form inputDesign autoComplete">
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <input auto-complete [(ngModel)]="selectedCertificate" type="text" class="resetInput" placeholder="Certificate Number"
                                                [source]="certificateList" display-property-name="CertificateNumber" [list-formatter]="renderCertificate" close-on-focusout="true" value-property-name=null
                                            />
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <input auto-complete [(ngModel)]="selectedSealNo" type="text" class="resetInput" placeholder="Product Seal Number"
                                                [source]="ProductSealNoList" display-property-name="ProductSealNo" [list-formatter]="renderSealNO" close-on-focusout="true" value-property-name=null
                                            />
                                        </div>
                                        
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                            <button type="button" class="btn btn-primary-one searchBtn" style="float:right;margin-top: 11px;" (click)="resetSearchForm()"> Reset</button>
                                            <button type="button" class="btn btn-success searchBtn" style="float:right;margin-top: 11px;margin-right:10px;" (click)="searchApplicationList()"> Search</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <section class="DataGrid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th class="textLeft">Company Name</th>
                                            <th class="textLeft">Certificate Number</th>
                                            <th class="textLeft">Seal number</th>
                                            <th class="textLeft">Product Name</th>     
                                            <th class="textLeft">Model Number</th>
                                            <th class="textLeft">Issued Date</th>
                                            <th class="textLeft">Expiry Date</th>
                                            <th class="textLeft">Status</th>

                                        </tr>
                                    </thead>

                                    <!-- <tbody *ngFor="let item of allApplicationInfo | paginate: {itemsPerPage: 10, currentPage: p };let i=index"> -->
                                            <tbody *ngFor="let item of allApplicationInfo | paginate: {itemsPerPage: applicationListSearchRequest.PageSize, currentPage: pageNumber ,totalItems:totalItem};let i=index">
                                        <tr>
                                        <td class="textLeft ColumnMargin">{{item.VendorName}}</td>
                                        <td class="textLeft ColumnMargin">{{item.CertificateNumber}}</td>
                                        <td class="textLeft ColumnMargin">
                                                <span *ngFor="let sealNo of (item.Products|greenProduct : item.Products :'ProductSealNo')?.split(',')" style="display:block"> <span *ngIf="sealNo!='null'">{{sealNo}}</span></span>
                                            </td>
                                            
                                        <td class="textLeft ColumnMargin">
                                            <span *ngFor="let productName of (item.Products|greenProduct : item.Products :'Product')?.split(',')" style="display:block">{{productName}}</span>
                                        </td>
                                       
                                        <td class="textLeft ColumnMargin">
                                            <span *ngFor="let modelNo of (item.Products|greenProduct : item.Products :'ProductModelNo')?.split('ÿ')" style="display:block">{{modelNo}}</span>
                                        </td>
                                        <td class="textLeft ColumnMargin">{{item.CertificateIssuedDate| date:'yyyy-MM-dd'}}</td>
                                        <td class="textLeft ColumnMargin">{{item.CertificateExpiryDate|date:'yyyy-MM-dd'}}</td>
                                        <td class="textLeft ColumnMargin Approve">{{item.ApplicationStatus}}</td>
                                       
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- <pagination-controls (pageChange)="p=($event)"></pagination-controls> -->
                            <pagination-controls [hidden]="!allApplicationInfo"  (pageChange)="changePageNumber($event)" ></pagination-controls>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- <footer>GREEN PRODUCT ASSURANCE</footer> -->
    </div>
    </div>
</body>