<div *ngIf="isLoader">
    <div class="loading-dialog"></div>
</div>

<body class="login loginBg">
    <div class="warpper-inner">
        <div class="content-inside">
            <!---->
            <section class=" ">
                <div class="container">
                    <div id="row">
                        <div class="signUpBox">
                            <div class="logo">
                                <img alt="" class="img-responsive" src="asset/img/logo.jpg">
                                <p>Online Self Registration</p>
                            </div>
                            <div class="rightSignBox">
                                <ul>
                                    <li class="active" id="accountNumber">
                                        <a href="javascript:void(0)">1</a>
                                    </li>
                                    <li class="" id="personalNumber">
                                        <a href="javascript:void(0)">2</a>
                                    </li>
                                    <li class="" id="companyNumber">
                                        <a href="javascript:void(0)">3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="leftSignBox">
                                <div class="dataSliderBox  animated" id="AccountDetails">
                                    <h1>Account Details</h1>
                                    <div class="dataScoller">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Email" type="email" [(ngModel)]="model.Email"
                                                        (blur)="checkValidation('required', 'email', model.Email, 'Email')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.Email == false" class="error-msg">{{emailFieldMsg}}</span>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Password" type="password" [(ngModel)]="model.Password"
                                                        (blur)="checkValidation('required', 'password', model.Password, 'Password')"
                                                        maxlength="20" required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.Password == false" class="error-msg">
                                                    {{passwordMsg}}
                                                </span>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Confirm Password" type="password"
                                                        [(ngModel)]="confirmPassword" (blur)="checkValidation('required', 'confirmPassword', confirmPassword, 'ConfirmPassword')"
                                                        maxlength="20" required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.ConfirmPassword == false" class="error-msg">{{confirmPassMsg}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of dataScoller-->
                                    <div class="footerSignBox">
                                        <button id="test" class="btn btn-primary btn-block loginBtn" (click)="click()"
                                            style="float: right; margin:0px;">Continue</button>
                                    </div>
                                </div>
                                <!-- end of dataSliderBox-->

                                <div class="dataSliderBox SlideOut animated" id="PersonalDetails">
                                    <span style="color:red"> **Person information will be used in later request /
                                        inspection form</span>
                                    <h1>Personal Details</h1>
                                    <div class="dataScoller">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="First Name" type="text" [(ngModel)]="model.FirstName"
                                                        (blur)="checkValidation('required', '', model.FirstName, 'FirstName')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.FirstName == false" class="error-msg">Required</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Middle Name" type="text" [(ngModel)]="model.MiddleName">
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Last Name" type="text" [(ngModel)]="model.LastName"
                                                        (blur)="checkValidation('required', '', model.LastName, 'LastName')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.LastName == false" class="error-msg">Required</span>
                                            </div>

                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Telephone/Mobile No" type="text"
                                                        [(ngModel)]="model.TelephoneNo" (blur)="checkValidation('required', 'telephone1', model.TelephoneNo, 'telephone1')"
                                                        maxlength="20" required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.telephone1 == false" class="error-msg">{{telephoneFieldMsg}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of dataScoller-->
                                    <div class="footerSignBox">
                                        <button id="" style="float: left;" class="btn btn-primary btn-block loginBtn"
                                            (click)="back()">Back</button>
                                        <button id="test" style="float: right;margin:0px;" class="btn btn-primary btn-block loginBtn"
                                            (click)="click2()">Continue</button>

                                    </div>
                                </div>
                                <!-- end of dataSliderBox-->

                                <div class="dataSliderBox SlideOut animated" id="CompanyDetails">
                                    <span style="color:red">**Company information will be used in later request /
                                        inspection form</span>
                                    <div class="dataScrollerModified">
                                    <!-- <div class="row"> -->
                                        <div class="col-sm-6">
                                            <h1>Company Details</h1>
                                            <div>
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Company Name" type="text" [(ngModel)]="model.CompanyName"
                                                        (blur)="checkValidation('required', '', model.CompanyName, 'CompanyName')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.CompanyName == false" class="error-msg">Required</span>
                                            </div>

                                            <div>
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Address 1" type="text" [(ngModel)]="model.Address1"
                                                        (blur)="checkValidation('required', '', model.Address1, 'Address1')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.Address1 == false" class="error-msg">Required</span>
                                            </div>
                                            <div>
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Address 2" type="text" [(ngModel)]="model.Address2">
                                                </md-input-container>
                                            </div>
                                            <div>
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Street" type="text" [(ngModel)]="model.Street">
                                                </md-input-container>
                                            </div>
                                            <div class="row inputDesign autoComplete">
                                                <div class="col-sm-6">
                                                    <div class="custom_box modelSelect">
                                                        <input auto-complete [(ngModel)]="ctrList" (ngModelChange)="onCountryChange(ctrList)"
                                                            [source]="countryList" placeholder="Country"
                                                            display-property-name="CountryName" value-property-name=null
                                                            style="margin-bottom: 14px;" [list-formatter]="renderCountry"
                                                            close-on-focusout="true" required>
                                                    </div>
                                                    <span *ngIf="validationObj.Country == false && !ctrList " class="error-msg">
                                                        Required</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="custom_box modelSelect">
                                                        <input auto-complete [(ngModel)]="sList" (ngModelChange)="onStateChange(sList)"
                                                            [source]="stateList" placeholder="State/Province"
                                                            display-property-name="StateName" value-property-name=null
                                                            style="margin-bottom: 14px;" [list-formatter]="renderState"
                                                            close-on-focusout="true" required>
                                                    </div>
                                                    <span *ngIf="validationObj.State == false && !sList" class="error-msg">Required
                                                        {{sList}}</span>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-sm-6 inputDesign autoComplete">
                                                    <div class="custom_box modelSelect">
                                                        <input auto-complete [(ngModel)]="cList" (ngModelChange)="onCityChange(cList)"
                                                            [source]="cityList" placeholder="City"
                                                            display-property-name="CityName" value-property-name=null
                                                            [list-formatter]="renderCity" close-on-focusout="true"
                                                            required>
                                                    </div>
                                                    <span *ngIf="validationObj.City == false && !cList" class="error-msg"
                                                        style="top: 5px!important;">Required
                                                        {{cList}}</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <md-input-container class="example-full-width">
                                                        <input mdInput placeholder="ZipCode" type="text" [(ngModel)]="model.ZipCode"
                                                            (blur)="checkValidation('', 'zipCode', model.ZipCode, 'ZipCode')"
                                                            maxlength="10">
                                                    </md-input-container>
                                                    <span *ngIf="validationObj.ZipCode == false" class="error-msg">{{zipCode}}</span>
                                                </div>

                                            </div>

                                            <div>
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Telephone/Mobile No" type="text"
                                                        [(ngModel)]="model.CompanyTelephoneNo" (blur)="checkValidation('required', 'telephone2', model.CompanyTelephoneNo, 'telephone2')"
                                                        maxlength="20" required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.telephone2 == false" class="error-msg">{{telephoneFieldMsg2}}</span>
                                            </div>

                                            <!-- </div> -->
                                        </div>

                                        <div class="col-sm-6">
                                            <h1>Requested Service Type</h1>
                                            <div>
                                                <div style="margin-top:10px">
                                                    <md-radio-group [(ngModel)]="model.RequestedServiceType"
                                                        (ngModelChange)="getCompanyList()" (blur)="checkValidation('required', 'RequestedServiceType', model.RequestedServiceType, 'RequestedServiceType')">
                                                        <md-radio-button [value]="1"><span style="color: #3479B6;">Testing
                                                            </span></md-radio-button>
                                                        <md-radio-button [value]="2"><span style="color: #3479B6;">Inspection</span></md-radio-button>
                                                    </md-radio-group>
                                                    <span *ngIf="validationObj.RequestedServiceType == false" class="error-msg">Required</span>
                                                </div>

                                                <div style="margin-top:20px">
                                                    <md-select placeholder="Client Working For" [(ngModel)]="model.ClientsWorkingFor"
                                                        (ngModelChange)="checkValidation('', 'ClientWorkingFor', model.ClientsWorkingFor, 'ClientWorkingFor')"
                                                        required>
                                                        <md-option *ngFor="let company of companyList" value={{company.CompanyId}}>
                                                            {{company.CompanyName}}
                                                        </md-option>
                                                    </md-select>
                                                    <span *ngIf="validationObj.ClientWorkingFor == false" class="error-msg">Required</span>
                                                </div>

                                                <div *ngIf="model.ClientsWorkingFor == 386 && model.RequestedServiceType==1">
                                                    <h1>User Type:</h1>
                                                    <div>
                                                        <md-radio-group [(ngModel)]="model.ApplicantId" (blur)="checkValidation('required', 'ApplicantId', model.ApplicantId, 'ApplicantId')">
                                                            <md-radio-button *ngFor="let applicant of applicantTypeList | slice:1: applicantTypeList.length"
                                                                [value]="applicant.ApplicantId"><span style="color: #3479B6;">{{applicant.ApplicantDescription}}</span></md-radio-button>
                                                        </md-radio-group>
                                                        <span *ngIf="validationObj.ApplicantId == false" class="error-msg"
                                                            style="top: 5px!important;">Required</span>
                                                    </div>
                                                </div>
                                                <div *ngIf="model.ClientsWorkingFor == 386 && model.RequestedServiceType==1">
                                                    <md-input-container class="example-full-width">
                                                        <input mdInput placeholder="Vendor Id" type="text" [(ngModel)]="model.VendorId"
                                                            (blur)="checkValidation('required', 'VendorId', model.VendorId, 'VendorId')"
                                                            [required]="model.ClientsWorkingFor == 386">
                                                    </md-input-container>
                                                    <span *ngIf="!validationObj.VendorId" class="error-msg">{{vendorIdMsg}}</span>
                                                </div>

                                                <div>
                                                    <div class="captcha-box">

                                                        <div class="captcha-value">
                                                            <input placeholder="Enter Captcha" type="text" [(ngModel)]="captchaVal"
                                                                (blur)="checkCaptcha()" required />
                                                        </div>

                                                        <div id="captcha-img" class="captcha-text">
                                                            <span id="cap-text">
                                                                <em></em>{{captchaText}}</span>
                                                        </div>
                                                    </div>
                                                    <span class="error-msg" *ngIf="validationObj.captcha == false"
                                                        style="position: static;">{{captchaMsg}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <!-- <div class="dataScoller">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Company Name" type="text" [(ngModel)]="model.CompanyName"
                                                        (blur)="checkValidation('required', '', model.CompanyName, 'CompanyName')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.CompanyName == false" class="error-msg">Required</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Address 1" type="text" [(ngModel)]="model.Address1"
                                                        (blur)="checkValidation('required', '', model.Address1, 'Address1')"
                                                        required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.Address1 == false" class="error-msg">Required</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Address 2" type="text" [(ngModel)]="model.Address2">
                                                </md-input-container>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Street" type="text" [(ngModel)]="model.Street">
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row  inputDesign autoComplete">
                                            <div class="col-sm-4">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="ctrList" (ngModelChange)="onCountryChange(ctrList)"
                                                        [source]="countryList" placeholder="Country"
                                                        display-property-name="CountryName" value-property-name=null
                                                        style="margin-bottom: 14px;" [list-formatter]="renderCountry"
                                                        close-on-focusout="true" required>
                                                </div>
                                                <span *ngIf="validationObj.Country == false && !ctrList " class="error-msg"> Required</span>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="sList" (ngModelChange)="onStateChange(sList)"
                                                        [source]="stateList" placeholder="State/Province"
                                                        display-property-name="StateName" value-property-name=null
                                                        style="margin-bottom: 14px;" [list-formatter]="renderState"
                                                        close-on-focusout="true" required>
                                                </div>
                                                <span *ngIf="validationObj.State == false && !sList" class="error-msg">Required {{sList}}</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="custom_box modelSelect">
                                                    <input auto-complete [(ngModel)]="cList" (ngModelChange)="onCityChange(cList)"
                                                        [source]="cityList" placeholder="City" display-property-name="CityName"
                                                        value-property-name=null [list-formatter]="renderCity"
                                                        close-on-focusout="true" required>
                                                </div>
                                                <span *ngIf="validationObj.City == false && !cList" class="error-msg">Required {{cList}}</span>
                                            </div>

                                        </div>
                                        <div class="row  ">
                                            <div class="col-sm-3">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="ZipCode" type="text" [(ngModel)]="model.ZipCode"
                                                        (blur)="checkValidation('', 'zipCode', model.ZipCode, 'ZipCode')"
                                                        maxlength="10">
                                                </md-input-container>
                                                <span *ngIf="validationObj.ZipCode == false" class="error-msg">{{zipCode}}</span>
                                            </div>

                                            <div class="col-sm-3">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Telephone/Mobile No" type="text"
                                                        [(ngModel)]="model.CompanyTelephoneNo" (blur)="checkValidation('required', 'telephone2', model.CompanyTelephoneNo, 'telephone2')"
                                                        maxlength="20" required>
                                                </md-input-container>
                                                <span *ngIf="validationObj.telephone2 == false" class="error-msg">{{telephoneFieldMsg2}}</span>
                                            </div>

                                            <div class="col-sm-6" style="margin-top:10px">

                                                <md-radio-group [(ngModel)]="model.ServiceTypeId" (ngModelChange)="getCompanyList()" (blur)="checkValidation('required', 'ServiceTypeId', model.ServiceTypeId, 'ServiceTypeId')">
                                                    <md-radio-button [value]="1"><span style="color: #3479B6;" >Testing</span></md-radio-button>
                                                    <md-radio-button [value]="2"><span style="color: #3479B6;" >Inspection</span></md-radio-button>
                                                    <md-radio-button [value]="1"><span style="color: #3479B6;" >E-Commerce</span></md-radio-button>
                                                    <md-radio-button [value]="2"><span style="color: #3479B6;" >Green Product</span></md-radio-button>
                                                </md-radio-group>
                                                <span *ngIf="validationObj.ServiceTypeId == false" class="error-msg">Required</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <md-select placeholder="Client Working For" [(ngModel)]="model.ClientsWorkingFor"
                                                    (ngModelChange)="checkValidation('', 'ClientWorkingFor', model.ClientsWorkingFor, 'ClientWorkingFor')"
                                                    required>
                                                    <md-option *ngFor="let company of companyList" value={{company.CompanyId}}>
                                                        {{company.CompanyName}}
                                                    </md-option>
                                                </md-select>
                                                <span *ngIf="validationObj.ClientWorkingFor == false" class="error-msg">Required</span>
                                            </div>

                                            <div class="col-sm-4" style="margin-top:10px">
                                                <md-radio-group [(ngModel)]="model.ApplicantId" (blur)="checkValidation('required', 'ApplicantId', model.ApplicantId, 'ApplicantId')">
                                                    <md-radio-button *ngFor="let applicant of applicantTypeList | slice:1: applicantTypeList.length"
                                                        [value]="applicant.ApplicantId"><span style="color: #3479B6;">{{applicant.ApplicantDescription}}</span></md-radio-button>
                                                </md-radio-group>
                                                <span *ngIf="validationObj.ApplicantId == false" class="error-msg">Required</span>
                                            </div>

                                            <div class="col-sm-4">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput placeholder="Vendor Id" type="text" [(ngModel)]="model.VendorId"
                                                        (blur)="checkValidation('required', 'VendorId', model.VendorId, 'VendorId')"
                                                        [required]="model.ClientsWorkingFor == 386">
                                                </md-input-container>
                                                <span *ngIf="!validationObj.VendorId" class="error-msg">{{vendorIdMsg}}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="captcha-box">

                                                    <div class="captcha-value">
                                                        <input placeholder="Enter Captcha" type="text" [(ngModel)]="captchaVal"
                                                            (blur)="checkCaptcha()" required />
                                                    </div>

                                                    <div id="captcha-img" class="captcha-text">
                                                        <span id="cap-text">
                                                            <em></em>{{captchaText}}</span>
                                                    </div>
                                                </div>
                                                <span class="error-msg" *ngIf="validationObj.captcha == false" style="position: static;">{{captchaMsg}}</span>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- end of dataScoller-->
                                    <div class="footerSignBox">
                                        <button id="test" style="float: left;" (click)="back2()" class="btn btn-primary btn-block loginBtn">Back</button>
                                        <button id="test" style="float: right;margin:0px;" (click)="signUp()" class="btn btn-primary btn-block loginBtn">Sign
                                            Up</button>

                                    </div>
                                </div>
                                <!-- end of dataSliderBox-->

                            </div>
                            <!-- end of leftSignBox-->
                            <!-- end of rightSignBo -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>