<body class="" *ngIf="userDetail && userCredential">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> Manage Document </a>
            <img src="asset/img/angle-right.png" /> Report Upload
          </p>
        </div>
      </section>
      <div *ngIf="this.userCredential.BusinessCategoryId ==1">
        <section class="filter">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 ">
                <h3>Search</h3>

                <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                <div id="Filterbtn" class="collapse in">
                  <div class="row form inputMatrial">
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                      <div class="custom_Date">
                        <!--<md-input type="text" id="order-dateRange" name="daterange" placeholder="Login Date Range "  [(ngModel)]="DateRange"></md-input>-->
                        <my-date-range-picker [options]="myDateRangePickerOptions" placeholder="Login Date Range" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                      <md-input class="resetInput" type="text" name="" placeholder="Report #" [(ngModel)]="searchParam.SearchText[0].ColumnValue"></md-input>
                    </div>


                    <div class="inputDesign col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                      <select [(ngModel)]="searchParam.SearchText[1].ColumnValue">
                        <option *ngFor="let location of labLocationList" [value]="location.LabLocationId">
                          {{location.LabLocationName}} </option>
                      </select>
                      <!--<md-input class="resetInput" type="text" name="" placeholder="SKU NO"
                                            [(ngModel)]="searchParam.SearchText[1].ColumnValue"></md-input>-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                      <div class="custom_Date">

                        <my-date-range-picker [options]="myDateRangePickerOptions" placeholder="Logout Date Range" (dateRangeChanged)="onDueDateRangeChanged($event)">
                        </my-date-range-picker>

                        <!--<md-input type="text" id="order-dateRange" name="daterange" placeholder="Login Date Range "  [(ngModel)]="DateRange"></md-input>-->
                        <!--<my-date-picker [options]="myDatePickerOptions"
                                                                    [(ngModel)]="searchParam.SearchText[2].ColumnValue" [placeholder]="'Due Date'"
                                                                    (dateChanged)="onDueDateChanged($event)"></my-date-picker>-->
                      </div>

                      <!-- <div class="custom_Date">
                                          <my-date-picker class="date-pick"  [options]="myDatePickerOptions" [(ngModel)]="searchParam.SearchText[2].ColumnValue"
                                              (dateChanged)="onDueDateChanged($event)">

                                          </my-date-picker>
                                      </div>-->

                      <!--<md-input class="resetInput" type="text" name="" placeholder="Style No" [(ngModel)]="searchParam.SearchText[2].ColumnValue"></md-input>-->
                    </div>
                    <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input class="resetInput" type="text" name="" placeholder="Description" [(ngModel)]="searchParam.SearchText[3].ColumnValue"></md-input>
                                  </div>-->
                    <div style="clear: both;  display: block;">
                      <div class="inputDesign col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                        <select [(ngModel)]="searchParam.SearchText[3].ColumnValue">
                          <option *ngFor="let Division of DivisionName" [value]="Division.Id">
                            {{Division.DivisionName}} </option>
                        </select>
                      </div>
                      <div id="reportSearchBtn" class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                        <button type="button" class="btn btn-success searchBtn " style="line-height: 0px;" (click)="searchReport()"> Search
                        </button>
                        <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset
                        </button>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="exportcontainer">
          <button (click)="batchUploadBtnClick()" class="btn btn-primary btn-sm ">Batch Upload
          </button>
        </div>
        <section class="DataGrid technicalDocument">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="head">
                      <tr>
                        <th class="textCenter"></th>
                        <th class="textCenter " (click)="sorting( 'ReportNo') " style="min-width:100px; ">
                          Report #
                        </th>
                        <!-- <th class="textCenter " (click)="sorting( 'StyleNo') "style="min-width:100px; ">Style #</th> -->
                        <th class="textCenter noPointer " style="min-width:100px; ">Style #</th>
                        <!-- <th class="textCenter " (click)="sorting( 'SKUNo') "style="min-width:100px; ">SKU #</th> -->
                        <th class="textCenter noPointer " style="min-width:100px; ">SKU #</th>
                        <th class="textCenter " (click)="sorting( 'LoginTime') " style="min-width:100px; ">
                          Login
                        </th>
                        <th class="textCenter " (click)="sorting( 'DueDate') " style="min-width:100px; ">Due Date
                        </th>
                        <th class="textCenter " (click)="sorting( 'LogoutTime') " style="min-width:100px; ">
                          Logout
                        </th>
                        <th class="textCenter " (click)="sorting( 'ReportStatus') " style="min-width:100px; ">Status
                        </th>

                        <th class="textCenter " *ngIf="userCredential.UserPermission.ReportTestReportDownload || userCredential.UserPermission.ReportUploadReport "
                          style="min-width:130px; ">Test Report
                        </th>
                        <!-- <th class="textCenter " *ngIf="userCredential.UserPermission.ReportTRFDownload || userCredential.UserPermission.ReportUploadTRF "
                          style="min-width:100px; ">TRF
                        </th> -->
                        <th class="textCenter " *ngIf="userCredential.UserPermission.ReportInvoiceDownload || userCredential.UserPermission.ReportUploadInvoice "
                          style="min-width:100px; ">Invoice
                        </th>

                        <th class="textCenter " style="min-width:100px; ">Supporting Documents
                        </th>
                        <th class="textCenter " style="min-width:100px; ">GCC
                        </th>

                      </tr>
                    </thead>
                    <tbody class="report-table ">
                      <tr *ngFor="let reportObj of reportList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: currentPageNumber,totalItems: totalItem}; let i=index ">
                        <td class="textCenter ">
                          <input type="checkbox" name="reportSelect" value="{{reportObj.ReportNo}}" id={{i}} [checked]="this.checkedReportArr.indexOf(reportObj.ReportNo) >= 0"
                            (change)="handleCheckboxCheck($event, reportObj)">
                        </td>
                        <td class="textCenter">{{reportObj.ReportNo}}</td>
                        <td class="textCenter">{{reportObj.StyleNo}}</td>
                        <td class="textCenter">{{reportObj.SKUNo}}</td>
                        <td class="textCenter">{{reportObj.LogInTime }}</td>
                        <td class="textCenter">{{reportObj.DueDate }}</td>
                        <td class="textCenter">{{reportObj.LogoutTime}}</td>
                        <td class="logoutColor textCenter">{{reportObj.ReportStatus}}</td>


                        <td *ngIf="userCredential.UserPermission.ReportTestReportDownload || userCredential.UserPermission.ReportUploadReport" class="pdfUploadIcon textCenter">
                          <div *ngIf="userCredential.UserPermission.ReportTestReportDownload  && reportObj.Report[0]">
                            <span class="pdfUploadIcon" *ngFor="let report of reportObj.Report">
                              <i class="fa fa-file-pdf-o" [tooltip]="myTooltip" tooltipPlacement="top" (click)="download(reportObj,'Report',report)"></i>
                              <tooltip-content #myTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{report}}</div>
                              </tooltip-content>
                            </span>
                          </div>
                          <a *ngIf="userCredential.UserPermission.ReportUploadReport" href="" data-toggle="modal" class=" textCenter" data-target="#uploadReport"
                            (click)="uploadReport(reportObj)">Upload Report</a>
                          <!--  <button *ngIf="userCredential.UserPermission.ReportUploadReport" class="btn-small btn-link replace-report" (click)="uploadReport(reportObj)">Upload Report</button> -->
                          <!--  <a *ngIf="!reportObj.Report && userCredential.UserPermission.ReportUploadReport" href="" data-toggle="modal" class=" textCenter" data-target="#uploadReport" (click)="uploadReport(reportObj)">Upload Report</a> -->
                        </td>
                        <!-- <td *ngIf="userCredential.UserPermission.ReportTRFDownload || userCredential.UserPermission.ReportUploadTRF" class="pdfUploadIcon textCenter">
                          <span *ngIf="userCredential.UserPermission.ReportTRFDownload && reportObj.TRF" class="pdfUploadIcon">
                            <i class="fa fa-file-pdf-o" [tooltip]="myTooltip" tooltipPlacement="top" (click)="download(reportObj,'TRF')"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{reportObj.TRF}}</div>
                            </tooltip-content>
                          </span>
                          <a *ngIf="userCredential.UserPermission.ReportUploadTRF" href="" data-toggle="modal" class="replace-report textCenter" data-target="#uploadTRF"
                            (click)="uploadTRF(reportObj)">Upload TRF</a>
                        </td> -->


                        <td *ngIf="userCredential.UserPermission.ReportInvoiceDownload || userCredential.UserPermission.ReportUploadInvoice" class="pdfUploadIcon textCenter">
                          <div *ngIf="userCredential.UserPermission.ReportInvoiceDownload && reportObj.Invoice[0]">
                            <span class="pdfUploadIcon" *ngFor="let invoice of reportObj.Invoice">

                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-pdf-o " (click)="download(reportObj,'Invoice',invoice)">
                              </i>&nbsp;
                              <tooltip-content #myTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{invoice}}</div>
                              </tooltip-content>
                            </span>
                          </div>
                          <a *ngIf="userCredential.UserPermission.ReportUploadInvoice && reportObj.Invoice.length < 4" href="" data-toggle="modal"
                            class=" textCenter test" data-target="#uploadInvoice" (click)="uploadInvoice(reportObj)">Upload Invoice
                          </a>
                        </td>
                        <td class="pdfUploadIcon textCenter">
                          <div>
                            <span class="pdfUploadIcon" *ngFor="let supprtingFile of reportObj.SupportingDocuments">

                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-pdf-o " *ngIf="supprtingFile.DocumentType=='pdf'" (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">
                              </i>
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-excel-o excel" *ngIf="supprtingFile.DocumentType=='xls' || supprtingFile.DocumentType=='xlsx'"
                                (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">

                              </i>
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-word-o excel" *ngIf="supprtingFile.DocumentType=='doc' || supprtingFile.DocumentType=='docx'"
                                (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">
                              </i>
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-archive-o zip" *ngIf="supprtingFile.DocumentType=='zip'"
                                (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">
                              </i>
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-alt-o excel" *ngIf="supprtingFile.DocumentType=='txt'"
                                (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">
                              </i>
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-exclamation-triangle zip" *ngIf="supprtingFile.DocumentType=='other'"
                                (click)="download(reportObj,'SUP',supprtingFile.DocumentName)">
                              </i>
                              <tooltip-content #myTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{supprtingFile.DocumentName}}</div>
                              </tooltip-content>
                            </span>
                          </div>
                          <a href="" data-toggle="modal" class=" textCenter test" data-target="#uploadSupportingFile" (click)="uploadSupportingDocument(reportObj)">Upload Supporting Document
                          </a>
                        </td>
                        <td class="pdfUploadIcon textCenter">
                          <div>
                            <span class="pdfUploadIcon" *ngFor="let gcc of reportObj.GCC">
                              <!-- {{gcc.substring(gcc.lastIndexOf(".")+1)}} -->
                              <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-pdf-o " (click)="download(reportObj,'GCC',gcc)">
                              </i>&nbsp;
                              <tooltip-content #myTooltip [animation]="true" placement="left">
                                <div style="word-wrap:break-word">{{gcc}}</div>
                              </tooltip-content>
                            </span>
                          </div>
                          <a href="" data-toggle="modal" class=" textCenter test" data-target="#uploadGCCFile" (click)="uploadGCC(reportObj)">Upload GCC
                          </a>
                        </td>


                      </tr>

                    </tbody>
                  </table>
                </div>
                <pagination-controls [hidden]="!reportList" (pageChange)="getPage($event)" id="server"></pagination-controls>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div *ngIf="this.userCredential.BusinessCategoryId ==2">
        <app-inspection-report-upload></app-inspection-report-upload>
      </div>

    </div>
  </div>
  <custom-footer></custom-footer>


  <!-- Modal -->
  <div class="modal fade" id="batchUpload" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width: 1000px;">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closeBatchUpload()">&times;</button>
          <h4 class="modal-title">Upload Report File :</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <span class="upload-text">Upload Type</span>
              <div class="col-md-3">
                <select class="model-dropdown" [(ngModel)]="uploadType" (ngModelChange)="uploadTypeChange()">
                  <option value="">Select Upload Type</option>
                  <!-- <option value="trf">TRF</option> -->
                  <option value="invoice">INVOICE</option>
                  <option value="report">TEST REPORT</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="uploadType != ''">
              <div class="">
                <table class="table bachUploadfiletable">
                  <thead class="head">
                    <tr>
                      <th>ReportNo</th>
                      <th *ngIf="uploadType == 'invoice'">Invoice No.</th>
                      <th colspan="2">Choose File</th>
                      <th>Selected Files</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let batchreport of checkedReportArr; let i=index ">
                      <td> {{batchreport.ReportNo}}</td>
                      <td *ngIf="uploadType == 'invoice'" style="width: 150px;">
                        <input type="text" placeholder="Enter Invoice No" (change)="bulkInvoiceChange(i, $event)" />
                      </td>
                      <td style="max-width: 200px">
                        <div *ngIf="uploadType == 'report'">
                          <div class="fileUploadSection">
                            <div class="input-group inputFile " id="'uploadFile-' + i " style="margin-bottom: 0px !important">
                              <span class="input-group-addon btn">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                Choose File
                              </span>
                              <input id="uploadreport" type="file" #fileUpload class="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" value="" [disabled]="batchreport.Report.length == 15 ? true : false"
                                (click)="resetBatchFile($event)" (change)="bulkFileChangeEvent($event, 'REPORT', batchreport.Report.length, i, batchreport.ReportNo)"
                                multiple>

                              <p class="inputValueShow">{{this.bulkFileUpload[i]}} </p>

                            </div>
                            <div class="upload-msg" *ngIf="batchreport.Report.length == 15">
                              Note: You already uploaded 15 files.
                            </div>
                          </div>
                        </div>
                        <div *ngIf="uploadType == 'trf'">
                          <div class="fileUploadSection">
                            <div class="input-group inputFile " id="'uploadFile-' +id" style="margin-bottom: 0px !important">
                              <span class="input-group-addon btn">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                Choose File
                              </span>
                              <input id="uploadreport" type="file" #fileUpload class="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" value="" [disabled]="batchreport.TRF != '' ? true : false"
                                (click)="resetBatchFile($event)" (change)="bulkFileChangeEvent($event, 'TRF', batchreport.TRF != '' ? 1 : 0, i, batchreport.ReportNo)">

                              <p class="inputValueShow">{{this.bulkFileUpload[i]}} </p>

                            </div>
                            <div class="upload-msg" *ngIf="batchreport.TRF.length">
                              Note: You already uploaded 1 files.
                            </div>
                          </div>
                        </div>
                        <div *ngIf="uploadType == 'invoice'">
                          <div class="fileUploadSection">
                            <div class="input-group inputFile " [id]="'uploadFile-'+i" style="margin-bottom: 0px !important">
                              <span class="input-group-addon btn">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                Choose File
                              </span>
                              <input id="uploadreport" type="file" #fileUpload class="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" value="" [disabled]="batchreport.Invoice.length == 4 ? true : false"
                                (click)="resetBatchFile($event)" (change)="bulkFileChangeEvent($event, 'INVOICE', batchreport.Invoice.length, i, batchreport.ReportNo)">

                              <p class="inputValueShow">{{this.bulkFileUpload[i]}} </p>

                            </div>
                            <div class="upload-msg" *ngIf="batchreport.Invoice.length == 4">
                              Note: You already uploaded 4 files.
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="fileUploadSection" *ngIf="uploadType == 'report'">
                          <div class="addBtnContainer">
                            <span id="add-report" (click)="bulkAddFiles($event, i, batchreport.Report.length, 'REPORT')" style="cursor: pointer;">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                        <div class="fileUploadSection" *ngIf="uploadType == 'trf'">
                          <div class="addBtnContainer">
                            <span id="add-report" (click)="bulkAddFiles($event, i, batchreport.TRF != '' ? 1 : 0, 'TRF')" style="cursor: pointer;">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                        <div class="fileUploadSection" *ngIf="uploadType == 'invoice'">
                          <div class="addBtnContainer">
                            <span id="add-report" (click)="bulkAddFiles($event, i, batchreport.Invoice.length, 'INVOICE')" style="cursor: pointer;">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                      </td>
                      <td style="width:300px;">
                        <div class="pdf-list">
                          <ul>
                            <li *ngFor="let file of bulkFileDisplay[i]; let innerIndex = index ">
                              {{file}}
                              <span class="delete-report" (click)="deleteBatchReportFile(i, innerIndex)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>


          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitBatchUploadFile(uploadType)">Submit</button>
          <button type="button" class="btn btn-default" (click)="closeBatchUpload()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="uploadInvoice" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          <h4 class="modal-title">Invoice Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b>{{this.ReportNo}} </span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Invoice # :
                  <input type="text" class="inputValue" id="PopupInput" value="" [maxLength]="20" [(ngModel)]="invoiceNumber" placeholder="Invoice No."
                    style="max-width: 71%;float: right;height: 20px;margin: 0px;padding: 0px;">
                </b>
              </span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>File Upload</label>

              <div class="input-group inputFile " id="uploadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input id="uploadInvoice" type="file" #fileUpload class="inputValue" value="" accept=".pdf,.doc,.docx,.xls,.xlsx" (click)="reset()"
                  (change)="fileChangeEvent($event, 'INVOICE')">

                <p class="inputValueShow">{{this.fileName}}</p>

              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <input type="checkbox" class="check CheckPop" id="showInvoicePop" (change)="showInvoicePop()" />
              <label for="showInvoicePop" style="padding-left:30px">Send Mail</label>
            </div>
            <div *ngIf="InvoicePop">

              <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
              </app-bulk-email>

            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitUploadInvoice()">Submit</button>
          <button type="button" class="btn btn-default" (click)="resetFile()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="uploadReport" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md uploadReportModel">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Test Report Upload </h4>
        </div>
        <div class="modal-body modalHeight">

          <div class="row inputDesign">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading modalBackColor">
                  <h4 class="panel-title panelTitleC">
                    <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                      Report Details</div>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <b>Report # :</b> {{this.ReportNo}}
                      <div class="modelRedioCheck border-bottom">
                        <label class="control control-checkbox ">ReTest
                          <input type="checkbox" [checked]="report.IsRetest" id="" name="" disabled>

                          <div class="control__indicator_checkbox"></div>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Vendor Name</label>
                      <input type="text" name="" disabled [ngModel]="report.VendorName" />
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Factory Name</label>
                      <input type="text" name="" disabled [ngModel]="report.FactoryName" />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Agent Name</label>
                      <input type="text" name="" disabled [ngModel]="report.AgentName" />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Test Phase</label>
                      <input type="text" name="" disabled [ngModel]="report.TestPhase" />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Rating </label>
                      <input type="text" name="" disabled [ngModel]="report.Rating" />
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                      <label>Date In </label>

                      <div class="custom_Date">
                        <input type="text" name="" class="date" disabled [ngModel]="report.LoginDate" />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                      <label>Date Out </label>

                      <div class="custom_Date">
                        <input type="text" name="" class="date" disabled [ngModel]="report.LogoutDate" />
                      </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>Sample Description </label>
                      <textarea rows="2" [ngModel]="report.SampleDescription" disabled></textarea>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>UPC Code</label>
                      <textarea rows="2" disabled [ngModel]="report.UPCCode"></textarea>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                      <label>SKU</label>
                      <textarea rows="2" [ngModel]="report.SKUNo" disabled></textarea>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
                      <label>Style Number </label>
                      <textarea rows="2" [ngModel]="report.StyleNo" disabled></textarea>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                      <label>Po Number</label>
                      <textarea rows="2" disabled [ngModel]="report.PoNumber"></textarea>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 fileUploadSection">
                      <label>Choose File </label>

                      <div class="input-group inputFile " id="uploadFile">
                        <span class="input-group-addon btn">
                          <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                        <input [disabled]="uploadedReportCount == 15 ? 'disabled': ''" id="uploadreport" type="file" #fileUpload class="inputValue"
                          accept=".pdf,.doc,.docx,.xls,.xlsx" value="" (click)="reset()" (change)="fileChangeEvent($event, 'REPORT')"
                          multiple>

                        <p class="inputValueShow">{{this.fileName}} </p>
                      </div>
                      <div class="addBtnContainer">
                        <span id="add-report" (click)="addUploadReport()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="upload-msg" *ngIf="uploadedReportCount == 15"> Note: You already uploaded 15 files.
                      </div>

                      <div class="pdf-list">
                        <ul>
                          <li *ngFor="let file of reportFilesUpload; let i = index ">
                            {{file.name}}
                            <span class="delete-report" (click)="deleteReportFile(i)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                      <input type="checkbox" class="check CheckPop" id="showReportPop" (change)="showReportPop()" />
                      <label for="showReportPop" style="padding-left:30px;">Send Mail</label>
                    </div>
                  </div>

                </div>
              </div>

              <!--  <div class="col-md-10 col-lg-10 col-sm-10 col-xs-9 "> <label>Choose File </label>
                          <div class="input-group inputFile " id="uploadFile">
                              <span class="input-group-addon btn">
                             <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                              <input [disabled]="uploadedReportCount == 15 ? 'disabled': ''" id="uploadreport" type="file" #fileUpload class="inputValue" accept=".pdf,.doc,.docx,.xls,.xlsx" value="" (click)="reset()" (change)="fileChangeEvent($event, 'REPORT')" multiple>
                              <p class="inputValueShow">{{this.fileName}} </p>
                          </div>
                          <div class="upload-msg" *ngIf="uploadedReportCount == 15"> Note: You already uploaded 15 files.</div>
                          <div class="pdf-list">
                              <ul>
                                  <li *ngFor="let file of reportFilesUpload; let i = index ">
                                      {{file.name}}
                                      <span class="delete-report" (click)="deleteReportFile(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3  addBtnContainer">
                          <span id="add-report" (click)="addUploadReport()"><i class="fa fa-plus" aria-hidden="true"></i></span>
                      </div> -->


              <div class="panel panel-default" *ngIf="ReportPop">
                <div class="panel-heading modalBackColor">
                  <h4 class="panel-title panelTitleC ">
                    <div data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                      Email Details</div>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div>

                      <div class="">
                        <div class="">
                          <label style="float: right;padding-right: 15px;">*Note:- Add more email IDs with comma separated.</label>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>To </label>
                            <input type="text" [disabled]="false" [(ngModel)]="emailObj.VendorEmailId" placeholder="Enter Email Address" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <label>CC</label>
                            <input type="text" [disabled]="false" [(ngModel)]="emailObj.CC" placeholder="Enter CC Email Address" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Subject</label>
                            <input type="text" [maxLength]="200" [(ngModel)]="emailObj.Subject" placeholder="Enter Subject" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Web Link</label>
                            <input type="text" [maxLength]="200" [(ngModel)]="emailObj.WebLink" placeholder="Enter Web Link" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Comments</label>
                            <textarea rows="4" [maxLength]="1000" [(ngModel)]="emailObj.Comments" placeholder="Enter Comments"></textarea>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " *ngIf="ReportPop">-->

            <!--<app-bulk-email [clientEmail]="this.userDetail.EmailId" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">-->
            <!--</app-bulk-email>-->

            <!--</div>-->

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitUploadReport(ReportNo)">Submit</button>
          <button type="button" class="btn btn-default" (click)="resetFile()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="uploadTRF" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload TRF </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b>{{this.ReportNo}}</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>File Upload</label>

              <div class="input-group inputFile " id="fileUpload">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" #fileUpload class="inputValue" id="inputfileValue" accept=".pdf,.doc,.docx,.xls,.xlsx" (click)="reset()"
                  value="" (change)="fileChangeEvent($event, 'TRF')">

                <p class="inputValueShow" id="inputFileTRF">{{this.fileName}}</p>

              </div>
              <div>
                <input type="checkbox" class="check CheckPop" id="showTrfPop" (change)="showTrfPop()" />
                <label for="showTrfPop" style="padding-left:30px">Send Mail</label>
              </div>

              <div *ngIf="TrfPop">

                <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                </app-bulk-email>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitUploadTRF()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <!-- GK: GCC Uplaod Popup -->
  <div class="modal fade" id="uploadGCCFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          <h4 class="modal-title">GCC File Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b>{{ReportNo}} </span>
            </div>
            <!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
                          <span>
                              <b>Invoice # :
                                  <input type="text" class="inputValue" id="PopupInput" value="" [maxLength]="20" [(ngModel)]="invoiceNumber" placeholder="Invoice No."
                                      style="max-width: 71%;float: right;height: 20px;margin: 0px;padding: 0px;">
                              </b>
                          </span>
                      </div> -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 fileUploadSection GCCSUP">
              <label>File Upload</label>

              <div class="input-group inputFile " id="uploadGCCFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input id="uploadGCC" [disabled]="uploadedGCCCount == 5 ? 'disabled': ''" type="file" #uploadGCCFile class="inputValue" value=""
                  accept=".pdf,.doc,.docx,.xls,.xlsx" (click)="reset()" (change)="fileChangeEvent($event, 'GCC')" multiple>

                <p class="inputValueShow">{{this.fileName}}</p>

              </div>

              <div class="addBtnContainer">
                <span id="add-report" (click)="addGCCFile()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              </div>
              <div class="upload-msg" *ngIf="uploadedGCCCount == 5"> Note: You already uploaded 5 files.
              </div>

              <div class="pdf-list">
                <ul>
                  <li *ngFor="let file of gccFilesUpload; let i = index ">
                    {{file.name}}
                    <span class="delete-report" (click)="deleteGCCFile(i)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                          <input type="checkbox" class="check CheckPop" id="showInvoicePop" (change)="showInvoicePop()" />
                          <label for="showInvoicePop" style="padding-left:30px">Send Mail</label>
                      </div> -->
            <!-- <div *ngIf="InvoicePop">

                          <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                          </app-bulk-email>

                      </div> -->
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="uploadGCCReportFile()">Submit</button>
          <button type="button" class="btn btn-default" (click)="resetFile()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <!-- GK: GCC Uplaod Popup -->
  <div class="modal fade" id="uploadSupportingFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
          <h4 class="modal-title">Supporting File Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b>{{ReportNo}} </span>
            </div>
            <!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
                          <span>
                              <b>Invoice # :
                                  <input type="text" class="inputValue" id="PopupInput" value="" [maxLength]="20" [(ngModel)]="invoiceNumber" placeholder="Invoice No."
                                      style="max-width: 71%;float: right;height: 20px;margin: 0px;padding: 0px;">
                              </b>
                          </span>
                      </div> -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 fileUploadSection GCCSUP">
              <label>File Upload</label>

              <div class="input-group inputFile" id="uploadSupportingFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input id="uploadSUP" type="file" #uploadSupportingFile class="inputValue" value="" accept="*" (click)="reset()" (change)="fileChangeEvent($event, 'SUP')"
                  multiple>

                <p class="inputValueShow">{{this.fileName}}</p>

              </div>

              <div class="addBtnContainer">
                <span id="add-report" (click)="addSupportingFile()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
              </div>
              <!-- <div class="upload-msg" *ngIf="uploadedGCCCount == 5"> Note: You already uploaded 5 files.
                          </div> -->

              <div class="pdf-list">
                <ul>
                  <li *ngFor="let file of supportingFilesUpload; let i = index ">
                    {{file.name}}
                    <span class="delete-report" (click)="deleteSupportingFile(i)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                          <input type="checkbox" class="check CheckPop" id="showInvoicePop" (change)="showInvoicePop()" />
                          <label for="showInvoicePop" style="padding-left:30px">Send Mail</label>
                      </div> -->
            <!-- <div *ngIf="InvoicePop">

                          <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                          </app-bulk-email>

                      </div> -->
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="uploadSUPFile()">Submit</button>
          <button type="button" class="btn btn-default" (click)="resetFile()" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="DownloadFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <!--<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl"><span><b>Report # : </b>{{this.ReportNo}}</span></div>-->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div>
                <input type="checkbox" class="check CheckPop" id="showDownload" (change)="showDownload()" />
                <label for="showDownload">Send Mail</label>
              </div>

              <div *ngIf="showDownloadFiles">

                <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                </app-bulk-email>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadFile()">{{showDownloadFiles ? 'Send' : 'Download'}}
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">No</button>
        </div>
      </div>

    </div>
  </div>

  <app-vendor-email *ngIf="testFlag1.flag" [clientId]="Model.ClientId" [vendorId]="vendorId" [vendorEmailId]="emailObj" [testFlag1]="testFlag1"></app-vendor-email>

</body>