<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
      <div class="content-inside">
          <custom-header></custom-header>
          <div *ngIf="isLoader">
              <div class="loading-dialog"></div>
          </div>
          <section class="breadcrum_bg">
              <div class="container-fluid">
                  <p>
                      <a>Dashboard </a>
                      <img src="asset/img/angle-right.png" />
                      <a> ADMIN </a>
                      <img src="asset/img/angle-right.png">Ecommerce User</p>
              </div>
          </section>
          <section class="filter">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 ">
                          <h3 class="">Search</h3>
                          <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                          <div id="Filterbtn" class="collapse in">
                              <div class="row inputDesign">
                                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                    <input type="text" placeholder="User Name" [(ngModel)]="searhUserRequest.Username"/>
                                  </div>
                                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <input type="text" placeholder="Company Name" [(ngModel)]="searhUserRequest.CompanyName"/>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                        <input type="text" placeholder="Country Name" [(ngModel)]="searhUserRequest.CountryName"/>
                                      </div>
                                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                      <div class="inputDesign">
                                          <button type="button" class="btn btn-success searchBtn " (click)="getUserList()"> Search</button>
                                          <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <div class="exportcontainer">
              <button type="button" (click)="exportToExcel()" class="btn btn-success export-excel ">Export To Excel</button>
            </div>

          <section class="DataGrid">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 nodadding">
                          <div class="table-responsive">
                              <table class="table">
                                <thead class="head">
                                  <tr>
                                    <th class="textLeft">User Name</th>
                                    <th class="textLeft">Name</th>
                                    <th class="textLeft">Company Name</th>
                                    <th class="textLeft">Company Address</th>
                                    <th class="textLeft">Country Name</th>
                                    <th class="textLeft">State Name</th>
                                    <th class="textLeft">City Name</th>
                                    <th class="textLeft">Telephone No</th>
                                    <th class="textLeft">Email</th>
                                    <th class="textLeft">Mobile No</th>
                                    <th class="textLeft">Created Date</th>
                                    <th class="textLeft">No Of Order Placed</th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="ecommerceUserList && ecommerceUserList.length>0 ">
                                  <tr *ngFor="let User of ecommerceUserList;let i=index">
                                    <td class="textLeft" style="min-width: 150px">{{User.UserName}}</td>
                                    <td class="textLeft" style="min-width: 100px">{{User.Name}}</td>
                                    <td class="textLeft" style="min-width: 100px">{{User.CompanyName}}</td>
                                    <td class="textLeft" style="min-width: 60px">{{User.CompanyAddress}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.CountryName}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.StateName}}</td>
                                    <td class="textLeft" style="min-width: 80px;">{{User.CityName}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.Telephone}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.Email}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.Mobile}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.CreatedDate |date:'medium'}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{User.PlacedOrder}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>

  <custom-footer></custom-footer>

</body>