<body class="" *ngIf="userCredential && userDetail">
    <div class="warpper-inner">
        <div class="content-inside">
            <custom-header></custom-header>
            <div *ngIf="isLoader">
                <div class="loading-dialog"></div>
            </div>
            <section class="breadcrum_bg">
                <div class="container-fluid">
                    <p>
                        <a>Dashboard </a>
                        <img src="asset/img/angle-right.png" />
                        <a> ADMIN </a>
                        <img src="asset/img/angle-right.png">Manage ROLES </p>
                </div>
            </section>
            <section class="filter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="">Search</h3>
                            <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                            <div id="Filterbtn" class="collapse in">
                                <div class="row form autoComplete">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                        <div name=" " class="selectBox">
                                            <md2-autocomplete id="role-auto" class="autoComplete" [items]="roleDropdown" item-text="RoleName" item-value="RoleName" [(ngModel)]="selectedRole"
                                                placeholder="Select Role Name">
                                            </md2-autocomplete>

                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                        <div class="inputDesign">
                                            <button type="button" class="btn btn-success searchBtn " (click)="search()"> Search</button>
                                            <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="exportcontainer">
                    <button type="button" (click)="ViewRoleDetail()" class="btn btn-success export-excel" *ngIf="userCredential.UserPermission.EditRole">View Roles</button>
                    <div class="textRight addLink" *ngIf="userCredential.UserPermission.NewRole">
                            <a href="" [routerLink]=" ['./add-role']">
                                <i class="fa fa-plus-circle"></i> Add New Role </a>
                        </div>
                </div>
            <section class="DataGrid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                     

                            <div class="table-responsive">
                                <table class="table manageRoleTable">
                                    <thead class="head">
                                        <tr>
                                            <th width="90%" (click)="sorting('RoleName')">Role Name</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let role of roleList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                                            <td>{{role.RoleName}}</td>
                                            <td>
                                                <button [disabled]="!userCredential.UserPermission.EditRole" (click)="editRole(role.RoleId)" type="button" class="btn btn-warning btn-sm">Edit</button>
                                                <button [disabled]="!userCredential.UserPermission.DeleteRole" (click)="deleteRole(role.RoleId)" type="button" class="btn btn-danger btn-sm">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls [hidden]="!roleList" (pageChange)="getPage($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <custom-footer></custom-footer>

    <!-- Modal -->
</body>


<!-- modal for Role List -->
<div id="RoleDetail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:98%;margin-top: 15px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Role Details</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div>
                            <div class="col-md-12 nodadding">
                                <div class="table-responsive">
                                    <table *ngIf="permission" class="table">
                                        <thead class="tbl-head ">
                                            <tr *ngIf="permission">
                                                <th class="left-align" style="max-width:100px !important"> Role Mame </th>
                                                <th class="left-align "> Category Name </th>
                                                <th class="left-align "> Permission Name </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="permission">
                                            <ng-container *ngFor="let permission of permission | paginate: { id: 'server1111', itemsPerPage:RoleDetailPageSize, currentPage: RoleDetailCurrentPage ,totalItems: TotalRoles}  ; let permissionIndex = index; let Permlast = last ">
                                                <!-- <ng-container  *ngIf="permission.RoleName!='Administrator'"> -->
                                                <tr *ngFor="let caty of permission.CategoryPermissionList ; let catyIndex = index;" style="text-align: center;">
                                                    <th style="vertical-align: middle;text-align: center;max-width:100px !important;" *ngIf="catyIndex==0" [attr.rowspan]="permission.CategoryPermissionList.length">{{permission.RoleName}}
                                                    </th>
                                                    <td style="max-width:50px !important">
                                                        <span>
                                                            <span>{{caty.CategoryName}}</span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span *ngFor="let item of caty.PermissionList ;let i = index; let last = last ">
                                                            <span style="font-weight:600">
                                                                {{item.PermissionTypeName}}
                                                            </span>
                                                            <span *ngIf="!last"> / </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <!-- </ng-container> -->
                                            </ng-container>
                                        </tbody>
                                        </table>
                                </div>
                                <pagination-controls [hidden]="!permission" (pageChange)="getPermissionPage($event)" id="server1111"></pagination-controls>
                            </div>
                            <div class="model-footer-cs">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>