
.model-footer-cs {
    padding: 5px 15px;
    text-align: right;
}

.tbl-head {
    background: #337ab7;
    color: #fff;
    border-radius: 10px !important;
    border: 1px solid #2e6da4;
}

.mrg-bottom{
    margin-bottom: 15px;
}

.left-align{
    text-align: center;
    border-right-color: grey;
    border:1px solid;

}
.opt-color{
    color: #ac2c25!important;
}

.modal-body .nodadding .table tr td {
    /* max-width: 300px; */
    white-space: normal!important;
    word-break: normal!important;
    border: 1px solid #ddd !important;
    padding: 4px !important;
}

.modal-body .nodadding .table tr th {
   /* max-width: 300px; */
   white-space:normal!important;
   word-break: normal!important;
   border: 1px solid #ddd !important;
}


