<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <md-input-container>
      <input mdInput placeholder="Graph Title" value="" [(ngModel)]="model.GraphTitle" required>
    </md-input-container>
  </div>
  <div class="col-md-3 col-xs-6">
    <md-select style="margin-top: 13px;width: 100%;" [(ngModel)]="selectedCategory" placeholder="Select Category" required>
      <md-option *ngFor="let category of bussinessCategories" [value]="category.Id">{{ category.Value }}</md-option>
    </md-select>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12" style="border-bottom: 1px solid #ccc;">
    <input type="checkbox" class="check" id="showMultiple" (change)="showMultipleGraph()" />
    <label for="showMultiple">Show Multiple Graph</label>
  </div>
</div>

<div class="col-md-6 left-graph">
  <div class="">

    <div class="row radioGrp">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="radio" checked name="graphs" id="graph" value="1" [(ngModel)]="model.GraphType" (ngModelChange)="graphTypeChange()"
        />
        <label for="graph">Graph</label>
        <input type="radio" name="graphs" id="summary" value="2" [(ngModel)]="model.GraphType" (ngModelChange)="graphTypeChange()"
        />
        <label for="summary">Summary</label>
        <input type="radio" name="graphs" id="graph-n-summary" value="3" [(ngModel)]="model.GraphType" (ngModelChange)="graphTypeChange()"
        />
        <label for="graph-n-summary">Graph & Summary</label>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType != 2">
      <div class="col-sm-5 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="Graph Name" value="" [(ngModel)]="model.GraphName" required>
        </md-input-container>
      </div>
    </div>

    <div class="" *ngIf="model.GraphType != 1">
      <div class="col-md-4">
        <div class="row">
          <input type="checkbox" class="check" id="showRatio" (change)="showRatio()" />
          <label for="showRatio">Show Ratio</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <input type="checkbox" class="check" id="showTotal" (change)="showTotal()" />
          <label for="showTotal">Show Total</label>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType != 2">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="X Axis" value="" [(ngModel)]="model.GraphJsons.GraphXAxis" required />
        </md-input-container>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="Y Axis" value="" [(ngModel)]="model.GraphJsons.GraphYAxis" required />
        </md-input-container>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType != 2" style="margin-top: 15px;">
      <div class="col-sm-12 col-xs-12 inputDesign">
        <label style="font-size: 16px; text-transform: uppercase;">Select Chart</label>
      </div>
      <div class="col-sm-12 col-xs-12">
        <ul class="radioTbs">
          <li>
            <input type="radio" name="charts" id="bar" value="1" [(ngModel)]="model.ChartType" />

            <label for="bar" class="bar">
              <img src="../../asset/img/barChart.png" width="73" height="68" alt="" />Bar
            </label>
          </li>
          <li>
            <input type="radio" name="charts" id="barStack" value="2" [(ngModel)]="model.ChartType" />
            <label for="barStack" class="stacked">
              <img src="../../asset/img/barStacked.png" width="73" height="68" alt="" />Bar Stack
            </label>
          </li>

          <li>
            <input type="radio" name="charts" id="pie" value="3" [(ngModel)]="model.ChartType" />
            <label for="pie" class="pie">
              <img src="../../asset/img/pieChart.png" width="73" height="68" alt="" />Pie
            </label>
          </li>
          <li>
            <input type="radio" name="charts" id="donut" value="4" [(ngModel)]="model.ChartType" />
            <label for="donut" class="donut">
              <img src="../../asset/img/donutChart.png" width="73" height="68" alt="" />Donut
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="model.GraphType != 2">
      <div class="col-sm-12 col-xs-12 bottom-space">
        <h3>Style</h3>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-select placeholder="Appearance" [(ngModel)]="model.GraphJsons.GraphAppearance">
          <md-option value="2D">2D</md-option>
          <md-option value="3D">3D</md-option>
        </md-select>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-select placeholder="Legend Position" [(ngModel)]="model.GraphJsons.GraphLegendPosition">
          <md-option value="Top">Top</md-option>
          <md-option value="Left">Left</md-option>
          <md-option value="Right">Right</md-option>
          <md-option value="Bottom">Bottom</md-option>
        </md-select>
      </div>
    </div>

    <div class="col-md-12" style="margin-top: 30px;" *ngIf="model.GraphType != 2">
      <div class="row">
        <h3>Others Include</h3>
      </div>
    </div>
    <div class="col-md-12" *ngIf="model.GraphType != 2">
      <div class="row">
        <textarea [(ngModel)]="model.GraphJsons.othersInclude" class="form-control" rows="5" cols="" style="resize: none;"></textarea>
      </div>
    </div>

  </div>
</div>

<!-- Second Graph Details -->

<div class="col-md-6 right-graph" *ngIf="showMultiGraph == true">
  <div class="rightgraph">

    <div class="row radioGrp">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="radio" checked name="graphs2" id="graph-1" value="1" [(ngModel)]="model.GraphType2" (ngModelChange)="graphType2Change()"
        />
        <label for="graph-1">Graph</label>
        <input type="radio" name="graphs2" id="summary-1" value="2" [(ngModel)]="model.GraphType2" (ngModelChange)="graphType2Change()"
        />
        <label for="summary-1">Summary</label>
        <input type="radio" name="graphs2" id="graph-n-summary-1" value="3" [(ngModel)]="model.GraphType2" (ngModelChange)="graphType2Change()"
        />
        <label for="graph-n-summary-1">Graph & Summary</label>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType2 != 2">
      <div class="col-sm-5 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="Graph Name" value="" [(ngModel)]="model.GraphName2" required>
        </md-input-container>
      </div>
    </div>

    <div class="" *ngIf="model.GraphType2 != 1">
      <div class="col-md-4">
        <div class="row">
          <input type="checkbox" class="check" id="showRatio1" (change)="showRatio1()" />
          <label for="showRatio1">Show Ratio</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <input type="checkbox" class="check" id="showTotal1" (change)="showTotal1()" />
          <label for="showTotal1">Show Total</label>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType2 != 2">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="X Axis" value="" [(ngModel)]="model.GraphJsons2.GraphXAxis" required />
        </md-input-container>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-input-container>
          <input mdInput placeholder="Y Axis" value="" [(ngModel)]="model.GraphJsons2.GraphYAxis" required />
        </md-input-container>
      </div>
    </div>

    <div class="row" *ngIf="model.GraphType2 != 2" style="margin-top: 15px;">
      <div class="col-sm-12 col-xs-12 inputDesign">
        <label style="font-size: 16px; text-transform: uppercase;">Select Chart</label>
      </div>
      <div class="col-sm-12 col-xs-12">
        <ul class="radioTbs">
          <li>
            <input type="radio" name="charts2" id="bar-1" value="1" [(ngModel)]="model.ChartType2" />

            <label for="bar-1" class="bar">
              <img src="../../asset/img/barChart.png" width="73" height="68" alt="" />Bar
            </label>
          </li>
          <li>
            <input type="radio" name="charts2" id="barStack-1" value="2" [(ngModel)]="model.ChartType2" />
            <label for="barStack-1" class="stacked">
              <img src="../../asset/img/barStacked.png" width="73" height="68" alt="" />Bar Stack
            </label>
          </li>

          <li>
            <input type="radio" name="charts2" id="pie-1" value="3" [(ngModel)]="model.ChartType2" />
            <label for="pie-1" class="pie">
              <img src="../../asset/img/pieChart.png" width="73" height="68" alt="" />Pie
            </label>
          </li>
          <li>
            <input type="radio" name="charts2" id="donut-1" value="4" [(ngModel)]="model.ChartType2" />
            <label for="donut-1" class="donut">
              <img src="../../asset/img/donutChart.png" width="73" height="68" alt="" />Donut
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="model.GraphType2 != 2">
      <div class="col-sm-12 col-xs-12 bottom-space">
        <h3>Style</h3>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-select placeholder="Appearance" [(ngModel)]="model.GraphJsons2.GraphAppearance">
          <md-option value="2D">2D</md-option>
          <md-option value="3D">3D</md-option>
        </md-select>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <md-select placeholder="Legend Position" [(ngModel)]="model.GraphJsons2.GraphLegendPosition">
          <md-option value="Top">Top</md-option>
          <md-option value="Left">Left</md-option>
          <md-option value="Right">Right</md-option>
          <md-option value="Bottom">Bottom</md-option>
        </md-select>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 30px;" *ngIf="model.GraphType2 != 2">
      <div class="row">
        <h3>Others Include</h3>
      </div>
    </div>
    <div class="col-md-12" *ngIf="model.GraphType2 != 2">
      <div class="row">
        <textarea [(ngModel)]="model.GraphJsons2.othersInclude" class="form-control" rows="5" cols="" style="resize: none;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12" style="border-top: 1px solid #ccc; padding-top: 20px;">
  <div class="row">
    <div class="" *ngIf="model.GraphType == 3 || model.GraphType2 == 3">
      <div class="col-sm-12 col-xs-12 inputDesign">
        <label style="font-size: 16px; text-transform: uppercase;letter-spacing: 1px;">Select Graph & Summary Structure</label>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="radioTbs">
          <li>
            <input type="radio" name="structure" id="top-bottom" value="1" [(ngModel)]="model.GraphPosition" />

            <label for="top-bottom" class="bar">
              <img src="../../asset/img/left-right.png" width="135" height="85" alt="" />
            </label>
          </li>
          <li>
            <input type="radio" name="structure" id="bottom-top" value="2" [(ngModel)]="model.GraphPosition" />
            <label for="bottom-top" class="stacked">
              <img src="../../asset/img/right-left.png" width="135" height="85" alt="" />
            </label>
          </li>

          <li>
            <input type="radio" name="structure" id="left-right" value="3" [(ngModel)]="model.GraphPosition" />
            <label for="left-right" class="pie">
              <img src="../../asset/img/top-bottom.png" width="135" height="85" alt="" />
            </label>
          </li>
          <li>
            <input type="radio" name="structure" id="right-left" value="4" [(ngModel)]="model.GraphPosition" />
            <label for="right-left" class="donut">
              <img src="../../asset/img/bottom-top.png" width="135" height="85" alt="" />
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 10px;">
  <div class="col-xs-12">
    <hr />
  </div>
</div>
<!-- <div class="row save-next-wrap" *ngIf="showMultiGraph == false">
 	<div class="col-sm-6 col-xs-12 inputDesign" align="right">
 		<button class="btn btn-warning" (click)="showNextTab()">Next</button>  
 		<button class="btn btn-primary" (click)="save()">Save</button>
	</div>
</div> -->
<div class="row save-next-wrap design-full">
  <div class="col-md-12 col-sm-12 col-xs-12 inputDesign" align="right">
    <button class="btn btn-warning" (click)="showNextTab()">Next</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>