<div *ngIf="subSectionName" class="sub-sectionHeader-etrf">
  {{subSectionName}}
</div>
<div id="container-{{fieldObj.uniqueId}}" class="field-container" *ngFor="let fieldObj of addFieldsArr">
  <app-show-field [fieldObj]="fieldObj"></app-show-field>
</div>