<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" class="check alwaysChecked" id="union-checked-{{index}}" (click)="removeUnion(index)" checked/>
    <label for="union-checked-{{index}}">Union</label>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <md-input-container style="position:relative; bottom: 0px;">
      <input mdInput placeholder="Column Names" value="" [(ngModel)]="dynamicCol[index]" (change)="changeDynamicCol($event, index)"
      />
    </md-input-container>
  </div>
  <div class="col-md-3">
    <md-input-container style="position:relative; bottom: 0px;">
      <input mdInput placeholder="As" value="" [(ngModel)]="dynamicColAlias[index]" (change)="dynamicColAliasChange($event, index)"
      />
    </md-input-container>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3 col-sm-4 col-xs-9" *ngIf='showClauseField == true'>
    <md-select placeholder="Select Clause" [(ngModel)]="unionObj.clause">
      <md-option [value]="'AND'">AND</md-option>
      <md-option [value]="'OR'">OR</md-option>
    </md-select>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 autocomp">
    <!-- <md-select placeholder="Select Column" [(ngModel)]="unionObj.column">
          <md-option style="text-transform: none !important;" *ngFor="let data of leftlist" [value] = "data.ColumnName">{{data.ColumnName}}</md-option>
    </md-select> -->
    <md-input-container>
      <input placeholder="Select Column" type="text" mdInput [formControl]="unionControl" [mdAutocomplete]="auto" [(ngModel)]="unionObj.column">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let option of filteredUnionOptions | async" [value]="option">
        {{ option }}
      </md-option>
    </md-autocomplete>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-9">
    <md-select placeholder="Select Operator" [(ngModel)]="unionObj.operator" (ngModelChange)="operatorChange()">
      <md-option [value]="'Equal'">Equal</md-option>
      <md-option [value]="'Not Equal'">Not Equal</md-option>
      <md-option [value]="'Less Then'">Less Than</md-option>
      <md-option [value]="'Greater Then'">Greater Than</md-option>
      <md-option [value]="'Like'">Like</md-option>
      <md-option [value]="'Between'">Between</md-option>
      <md-option [value]="'In'">In</md-option>
    </md-select>
  </div>
  <div class="col-md-2 col-sm-2" *ngIf="isBetween == false">
    <md-input-container style="position:relative; bottom: 11px;">
      <input mdInput placeholder="Enter Value" value="" [(ngModel)]="unionObj.value" />
    </md-input-container>
  </div>
  <div class="col-md-1 col-sm-1" *ngIf="isBetween == true">
    <md-input-container style="position:relative; bottom: 11px;">
      <input mdInput placeholder="Value 1" value="" [(ngModel)]="unionObj.value1" />
    </md-input-container>
  </div>
  <div class="col-md-1 col-sm-1" *ngIf="isBetween == true">
    <md-input-container style="position:relative; bottom: 11px;">
      <input mdInput placeholder="Value 2" value="" [(ngModel)]="unionObj.value2" />
    </md-input-container>
  </div>

  <div class="col-md-1 col-sm-5 col-xs-3">
    <button class="btn btn-primary" (click)="addUnion(index)">
      <i class="fa fa-plus"></i>
    </button>
  </div>

</div>

<div class="table-responsive">
  <table class="table">
    <thead class="head">
      <tr>
        <th class="textLeft">Clause</th>
        <th class="textLeft">Column Name</th>
        <th class="textLeft">Operator</th>
        <th class="textLeft">Value</th>
        <th class="textLeft">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of unionlistarr[index]; let i=index">
        <td class="textLeft">{{data.clause}}</td>
        <td class="textLeft">{{data.column}} </td>
        <td class="textLeft">{{data.operator}}</td>
        <td class="textLeft">{{data.value ? data.value : data.value1 }}{{data.value1 ? ", " : "" }}{{data.value2 ? data.value2 : data.value2 }}</td>
        <td class="textLeft">
          <a href="#" class="btn btn-warning btn-sm" (click)="editUnion($event, i, index)">Edit</a>

          <a href="#" class="btn btn-danger btn-sm" (click)="deleteUnion($event, i, index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>