<body class="login loginBg">
	<div class="warpper-inner">
		<div class="content-inside">
			<div *ngIf="isLoader">
				<div class="loading-dialog"></div>
			</div>
			<section class=" ">
				<div class="container">
					<div id="row">
						<div class="loginBox">
							<div class="logo"> <img src="asset/img/logo.jpg" class="img-responsive" alt="" /> </div>
							<form (ngSubmit)="emailId.valid && password.valid && login()" #loginForm="ngForm" id="userLogin" method="post" class="pddn-20-top inputMatrial">
								<div class="form-group userId">
									<md-input placeholder="Email ID" [(ngModel)]="user.userName" maxlength="50" [ngModelOptions]="{standalone: true}"
									 type="email" required #emailId="ngModel"></md-input>
									<div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger" style="padding: 3px;">
										<div *ngIf="emailId?.errors.required">
											Email is required.
										</div>
									</div>
								</div>
								<div class="form-group userPass">
									<md-input type="password" [(ngModel)]="user.password" maxlength="30" [ngModelOptions]="{standalone: true}"
									 placeholder="Password" required #password="ngModel"></md-input>
									 <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" style="padding: 3px;">
										<div *ngIf="password?.errors.required">
											Password is required.
										</div>
									</div>
								</div>
								<!-- <div class="rememberMe">
								     <label class="control control-checkbox ">Remember me
										<input type="checkbox" id=""  name=""><div class="control__indicator_checkbox"></div>
									</label>
								   </div> -->
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block loginBtn">Login</button>
									<span><a href="" [routerLink]=" ['/registration-page']" class="forgetPass">Sign Up</a></span>
									<span>|</span>
									<span><a href="" [routerLink]=" ['/forget-password']" class="forgetPass">Forgot Password ?</a></span>
								</div>

							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>