<body>
    <div class="warpper-inner">
        <div class="content-inside">
            <custom-header></custom-header>
            <section class="breadcrum_bg">
                <div class="container-fluid">
                    <p>
                        <a>Dashboard </a> <img src="asset/img/angle-right.png" /> Manage Popups
                    </p>
                </div>
                <div *ngIf="isLoader">
                    <div class="loading-dialog"></div>
                </div>
            </section>
            <section class="filter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div> 
                            <h3>MANAGE POPUPS </h3>
                            <div class="row form inputDesign collapse in" id="Filterbtn">
                                <!--------------->
                                <form class="col-md-12 ">                                   
                                    <div class="col-md-3 col-xs-12">
                                        <select class="SlectBox ">
                                            <option value="">Select Client</option>
                                            <option value="OWN Submission">OWN Submission</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <select class="SlectBox ">
                                            <option value="">Select Popus</option>
                                            <option value="Share Comments">Share Comments</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pull-right">
                                        <button class="btn btn-success searchBtn">Submit</button>
                                    </div>
                                </form>

                                <!--------------->

                                <form id="" class="">
                                    <div class="col-md-12 ">
                                        <div class="col-md-3 col-xs-12">
                                            <input class="inputField " name="" placeholder="Enter Label " type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">                                            
                                        <div class="col-md-3 col-xs-12">
                                            <input class="inputField " name="" placeholder="Add Static Text" type="text">
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <select class="SlectBox ">
                                                <option value="">Map Fields</option>
                                                <option value="RegisterdUser Email">RegisterdUser Email </option>
                                                <option value="Vendor Email ">Vendor Email </option>
                                                <option value="Laborartory Email">Laborartory Email </option>
                                                <option value="Report No ">Report No </option>
                                                <option value="PoNO">Po. NO.</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <select class="SlectBox ">
                                                <option value="">Separated By</option>
                                                <option value="Comma">Comma</option>
                                                <option value="Space">Space</option>
                                                <option value="Hyper">Hyper</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <input class="inputField " name="" placeholder="Add Static Text " type="text">
                                        </div>
                                        <div class="col-md-12 col-xs-12"><label>Condition :- </label> </div>
                                    </div>

                                    <!-----Add-Condition-Section------->

                                    <div class="col-md-12">
                                        <div class="col-md-3 col-xs-12">
                                            <select class="SlectBox ">
                                                <option value="">Report Rating</option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <select class="SlectBox">
                                                <option value="">Equal</option>
                                                <option value=""> </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <input class="inputField " name="" placeholder="Fail" type="text">
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <button class="btn btn-danger searchBtnIcon" type="button" disabled> <i class="fa fa-minus"></i></button>
                                            <button class="btn btn-primary searchBtnIcon"> <i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>

                                    <!-----Add-And- Reset-Section------->

                                    <div class="col-md-12 col-xs-12">
                                        <div class="m-15">
                                            <button class="btn btn-success searchBtn " type="submit">+ Add</button>
                                            <button class="btn btn-warning-one searchBtn " type="reset">Reset</button>
                                        </div>

                                    </div>

                                </form>  
                            </div>
                        </div>                        
                     </div>
                    </div>
            </section>
            <section class="DataGrid config">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th>Label</th>
                                            <th>Text</th>
                                            <th>Conditions</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TO</td>
                                            <td>RegisteredUser Email</td>
                                            <td> </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                                <button class="btn btn-info btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sublect</td>
                                            <td>MTS- @ReportNo @PoNo @VendorName</td>
                                            <td> </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                                <button class="btn btn-primary btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                                <button class="btn btn-info btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fail Report Copy Person</td>
                                            <td>Vendor Email</td>
                                            <td>Report Rating = Fail </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                                <button class="btn btn-primary btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                                <button class="btn btn-info btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lab</td>
                                            <td>Laborartory Email</td>
                                            <td> </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                                <button class="btn btn-primary btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>	
    </div>
</body>