<div class="modal fade vendorEmailModal" id="vendorEmail" role="dialog" data-backdrop="static" data-keyboard="false">
  <div [hidden]="previousComments" class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeVendor()">&times;</button>
        <h4 class="modal-title">Vendor EmailId</h4>
      </div>
      <div class="modal-body">
        <div class="row inputDesign modalInput">
          <div *ngIf="testFlag2" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 multiselectcheck">
            <label>Select Vendor's EmailId</label>
            <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="vendorListArr" [options]="vendorList" [texts]="selectVendorText">
            </ss-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitVendorEmails()">Done</button>
        <button type="button" class="btn btn-default" (click)="closeVendor()">Close</button>
      </div>
    </div>
  </div>
</div>