<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div role="tabpanel" class="tab-pane" id="searchCriteria">
  <div id="design" class="row">
    <div class="col-md-3">
      <!-- <md-select placeholder="Select Column" [(ngModel)]="searchObj.ColumnName">
				<md-option *ngFor="let Column of getcolumnlist" [value]="Column.ColumnName">
					{{Column.ColumnName}}
				</md-option>
			</md-select> -->
      <md-input-container>
        <input placeholder="Select Column" type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" [(ngModel)]="searchObj.ColumnName">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </md-option>
      </md-autocomplete>
    </div>
    <div class="col-md-2">
      <md-input-container>
        <input mdInput placeholder="Caption" value="" [(ngModel)]="searchObj.Caption" />
      </md-input-container>
    </div>
    <div class="col-md-4 radioGrp">
      <input type="radio" name="choose" id="textbox" value="2" [(ngModel)]="searchObj.FieldType" />
      <label for="textbox">Textbox</label>

      <input type="radio" checked name="choose" id="dropdown" value="1" [(ngModel)]="searchObj.FieldType" />
      <label for="dropdown">Dropdown</label>

      <input type="radio" name="choose" id="daterange" value="3" [(ngModel)]="searchObj.FieldType" />
      <label for="daterange">Date Range</label>
    </div>
    <div class="col-md-2">
      <div *ngIf='searchObj.FieldType == "1"'>
        <select style="width: 100%;" placeholder="Select Master Table" [(ngModel)]="searchObj.TableName">
          <option *ngFor="let data of selectFieldArr" [value]="data.TAbleName">{{data.TAbleName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="addToTable()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="">
    <div class="table-responsive">
      <table class="table">
        <thead class="head">
          <tr>
            <th class="textLeft">Column Name</th>
            <th class="textLeft">Caption</th>
            <th class="textLeft">Field Type</th>
            <th class="textLeft">Table Name</th>
            <th class="textLeft">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of searchCriteriaArr; let i=index">
            <td class="textLeft">{{data.ColumnName}}</td>
            <td class="textLeft">{{data.Caption}} </td>
            <td class="textLeft">{{data.FieldType}}</td>
            <td class="textLeft">{{data.TableName}}</td>
            <td class="textLeft">
              <a href="#" class="btn btn-warning btn-sm" (click)="editToTable($event, i)">Edit</a>

              <a href="#" class="btn btn-danger btn-sm" (click)="deleteFromTable($event, i)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <br>
  <br>
  <div class="col-sm-6 col-xs-2 inputDesign">
    <button class="btn btn-warning" (click)="showPrevTab()">Prev</button>
  </div>
  <div class="col-sm-6 col-xs-10 inputDesign" align="right">
    <button class="btn btn-warning" (click)="showNextTab()">Next</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>