<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Supporting Tools </a>
            <img src="asset/img/angle-right.png" />
            <a>User Guide</a>
          </p>
        </div>
      </section>

      <section class="addNew-e-TRF userGuid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 ">
                  <p>User Guide and Videos online for Client Portal system.</p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 textRight addLink">
                  <a href class="" data-toggle="modal" data-target="#addUserGuide" *ngIf="userCredential.UserPermission.NewUserGuide" (click)="close()">
                    <i class="fa fa-plus-circle"></i> Upload Manual</a>
                  <!--<a href="javascript:void(0)" (click)="open_in_new_window('abc.mp4','Video' );">Open New Window</a>-->

                </div>
              </div>
              <div *ngIf="flagMenu">
                <p class="textDeco">No documents available.</p>
              </div>
              <div class="accordion" id="eTRFAdd">
                <div class="accordion-group" *ngFor="let menu of documentArray; let i=index" [hidden]="menu.SubMenu.length==0">
                  <div class="accordion-heading eTRFAddHeading " data-toggle="collapse" data-parent="#eTRFAdd" [attr.data-target]="'#myOrders' + i ">
                    <span class="accordion-toggle">{{menu.MenuName}}</span>
                  </div>
                  <div [attr.id]="'myOrders' + i " class="accordion-body collapse in" [hidden]="menu.SubMenu.length==0">
                    <div class="accordion-inner">
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr *ngFor="let submenu of menu.SubMenu; let i=index">
                                  <td class="textLeft">{{submenu.SubMenuName}}</td>

                                  <td class="text-justify ">{{submenu.Description}}</td>
                                  <td class="text-center">
                                    <a href="javascript:void(0)" (click)="redirect(submenu.DocumentFileName,'Doc')">{{submenu.DocumentName}} </a>
                                    <span class="downloadIcon" [hidden]="!submenu.DocumentName">
                                      <i (click)="Download(submenu.DocumentFileName,'Doc')" class="fa fa-download" style="cursor: pointer"></i>
                                    </span>
                                  </td>
                                  <td class="textLeft">
                                    <a href="javascript:void(0)" (click)="redirect(submenu.VideoFileName,'video')">{{submenu.VideoName}}</a>
                                    <span class="downloadIcon" [hidden]="!submenu.VideoName">
                                      <i class="fa fa-download" style="cursor: pointer" (click)="Download(submenu.VideoFileName,'video')"></i>
                                    </span>
                                  </td>
                                  <td class="textLeft" style="text-align:right">
                                    <button type="button" data-toggle="modal" data-target="#addUserGuide" (click)="edit(submenu)" class="btn btn-warning btn-sm"
                                      *ngIf="userCredential.UserPermission.EditUserGuide">
                                      Edit
                                    </button>

                                    <button type="button" (click)="delete(submenu)" class="btn btn-danger btn-sm" *ngIf="userCredential.UserPermission.DeleteUserGuide">
                                      Delete
                                    </button>
                                  </td>
                                </tr>


                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
  <div class="modal fade" id="addUserGuide" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
          <h4 class="modal-title">Upload Documents</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign modalInput">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <label>Select Menu</label>
              <select class="SlectBox " [disabled]="disableMenu" (change)="onMenuChange($event)" [(ngModel)]="uploadobj.MenuId">
                <option value="">Select Menu</option>
                <option *ngFor="let menuL of menuList; let i=index" value={{menuL.PermissionCategoryId}}>
                  {{menuL.CategoryName}}
                </option>
              </select>

              <p class="errorUpload">{{this.Menu_error_text}}</p>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <label>Select Sub Menu</label>
              <select class="SlectBox" [disabled]="disableMenu" [(ngModel)]="uploadobj.SubMenuId" (change)="subMenuChange()">
                <option value="">Select SubMenu</option>
                <option *ngFor="let submenuL of submenuList; let i=index" value={{submenuL.PermissionCategoryId}}>{{submenuL.CategoryName}}
                </option>
              </select>

              <p class="errorUpload">{{this.SubMenu_error_text}}</p>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <label>Choose Document</label>

              <div class="input-group inputFile" id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" class="inputValue" id="docUpload" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx " (click)="resetDoc($event)"
                  value="" (change)="fileuploadDoc($event)">

                <p id="docShow" class="docUpload" data-toggle="tooltip" title="{{uploadobj.DocumentFileName}}">{{uploadobj.DocumentFileName}} </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <label>Choose Video</label>

              <div class="input-group inputFile" id="upliadFile1">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" class="inputValue" id="videoUpload" value="" (click)="resetVideo($event)" (change)="fileuploadVideo($event)">

                <p id="videoShow" class="videoUpload" data-toggle="tooltip" title="{{uploadobj.VideoFileName}}">{{uploadobj.VideoFileName}}</p>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>Description</label>
              <textarea rows="4" [maxLength]="500" placeholder="Description" [(ngModel)]="uploadobj.Description"></textarea>

              <p class="errorUpload"></p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="upload()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
        </div>
      </div>

    </div>
  </div>

  <custom-footer></custom-footer>

  <!-- Modal -->
</body>