<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" class="check" id="writequery" (change)="writeQuery()" />
    <label for="writequery">Write Query</label>
  </div>
</div>

<div *ngIf="writequery == false">
  <div class="row" data-toggle="collapse" data-target="#selectTable">
    <div class="col-xs-12">
      <h3>Select Table</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="selectTable" class="collapse in">
        <br>
        <br>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-sm-3 col-xs-12">
            <md-select placeholder="Select Table" [(ngModel)]="selectedTable" (ngModelChange)="getColumnList()" required>
              <md-option value="1" *ngIf="tableShow == 1">Order</md-option>
              <md-option value="2" *ngIf="tableShow == 1">Order Testing</md-option>
              <md-option value="3" *ngIf="tableShow == 1">Order Substance</md-option>
              <md-option value="4" *ngIf="tableShow == 2">Inspection Booking Details</md-option>
            </md-select>
          </div>
          <div class="col-sm-3 col-xs-12">
            <md-input-container style="position:relative; bottom: 11px;">
              <input type="number" min="1" max="100" mdInput placeholder="Top" value="" [(ngModel)]="top" (ngModelChange)="topChange()"
              />
            </md-input-container>
          </div>
        </div>

        <div class="row marT15">
          <div class="col-md-6 col-xs-12">
            <div id="S_pickList2">
              <div class="row">
                <div class="col-xs-12">
                  <label>Select Columns</label>
                </div>
                <div class="col-sm-5">
                  <select [(ngModel)]="tempSelectedGridC" class="form-control pickListSelect" id="S_pickData2" size="3">
                    <option *ngFor="let Column of GetGraphColumns" [ngValue]="Column.ColumnName">{{Column.ColumnName}}</option>
                  </select>
                </div>
                <div class="col-sm-2 pickListButtons pickListButtons2">
                  <div class="row">
                    <button id="pAdd" (click)="showModel()" class="btn btn-primary btn-sm">
                      <i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                  <div class="row">
                    <button id="pRemove" (click)='Remove()' class="btn btn-primary btn-sm">
                      <i class="fa fa-arrow-left"></i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-5">
                  <select [(ngModel)]="tempselectedAvailG" class="form-control pickListSelect" id="S_pickListResult2" size="3" multiple="">
                    <option [ngValue]="column.ColumnName" *ngFor="let column of selectedSearchColumns">{{column.ColumnName}} </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div id="" class="query-fxn col-md-5 col-xs-12" style="float:right;">
            <div class="col-md-6" style="margin-top:20px;margin-left: -15px;">
              <md-input-container style="position:relative; bottom: 11px;">
                <input mdInput placeholder="Column Names" value="" [(ngModel)]="dynamicColumn" (change)="dynamicColumnChange()" />
              </md-input-container>
            </div>
            <div class="col-md-6" style="margin-top:20px;margin-left: 15px;">
              <md-input-container style="position:relative; bottom: 11px;">
                <input mdInput placeholder="As" value="" [(ngModel)]="model.GraphQueryJson.selectColumnAlias" />
              </md-input-container>
            </div>
          </div>
          <div id="" class="query-fxn col-md-5 col-xs-12" style="float:right;">
            <div class="row" style="margin-top:20px;">
              <div class="col-xs-12"></div>
              <div class="col-sm-4">
                <md-select placeholder="Select Function" [(ngModel)]="selectedFuction" (ngModelChange)="selectFunctionChange($event)">
                  <md-option>None</md-option>
                  <md-option [value]="'Count'">Count</md-option>
                  <md-option [value]="'Sum'">Sum</md-option>
                  <md-option [value]="'Min'">Min</md-option>
                  <md-option [value]="'Max'">Max</md-option>
                </md-select>
              </div>
              <div class="col-sm-3">
                <md-input-container style="position:relative; bottom: 11px;">
                  <input mdInput placeholder="As" value="" [(ngModel)]="model.GraphQueryJson.selectFunctionAlias" (change)="selectFunctionAliasChange($event)"
                  />
                </md-input-container>
              </div>
              <div class="col-sm-1">
                <p class="center">on</p>
              </div>
              <div class="col-sm-4">
                <md-select placeholder="Select Column" [(ngModel)]="selectedColumn">
                  <md-option>None</md-option>
                  <md-option style="text-transform: none !important;" *ngFor="let column of rightSelectColumn" [value]="column">{{column}}</md-option>
                </md-select>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>

  <div class="row collapsed" data-toggle="collapse" data-target="#whereCondition">
    <div class="col-xs-12">
      <h3>Where Condition</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="whereCondition" class="collapse">
        <br>
        <br>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-9" *ngIf="whereRound > 0 && (addWhereIndex === '' || addWhereIndex > 0)">
            <md-select placeholder="Select Clause" [(ngModel)]="whereConditonObj.clause">
              <md-option [value]="'AND'">AND</md-option>
              <md-option [value]="'OR'">OR</md-option>
            </md-select>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 autocomp">
            <!-- <md-select placeholder="Select Column" [(ngModel)]="whereConditonObj.column">
					    <md-option style="text-transform: none !important;" *ngFor="let data of leftList" [value] = "data">{{data}}</md-option>
					</md-select> -->
            <!-- <md-input-container>
					   <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
					</md-input-container>

					<md-autocomplete #auto="mdAutocomplete">
					   <md-option *ngFor="let option of leftList | async" [value]="option">
					      {{ option }}
					   </md-option>
					</md-autocomplete> -->
            <md-input-container>
              <input placeholder="Select Column" type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto" [(ngModel)]="whereConditonObj.column">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </md-option>
            </md-autocomplete>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-9">
            <md-select placeholder="Select Operator" [(ngModel)]="whereConditonObj.operator" (ngModelChange)="operatorChange()">
              <md-option [value]="'Equal'">Equal</md-option>
              <md-option [value]="'Not Equal'">Not Equal</md-option>
              <md-option [value]="'Less Then'">Less Than</md-option>
              <md-option [value]="'Greater Then'">Greater Than</md-option>
              <md-option [value]="'Like'">Like</md-option>
              <md-option [value]="'Between'">Between</md-option>
              <md-option [value]="'In'">In</md-option>
            </md-select>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-3" *ngIf="isBetween == false">
            <md-input-container style="position:relative; bottom: 11px;">
              <input mdInput placeholder="Enter Value" value="" [(ngModel)]="whereConditonObj.value" />
            </md-input-container>
          </div>
          <div class="col-md-1 col-sm-1" *ngIf="isBetween == true">
            <md-input-container style="position:relative; bottom: 11px;">
              <input mdInput placeholder="Value 1" value="" [(ngModel)]="whereConditonObj.value1" />
            </md-input-container>
          </div>
          <div class="col-md-1 col-sm-1" *ngIf="isBetween == true">
            <md-input-container style="position:relative; bottom: 11px;">
              <input mdInput placeholder="Value 2" value="" [(ngModel)]="whereConditonObj.value2" />
            </md-input-container>
          </div>
          <div class="col-md-1 col-sm-5 col-xs-3">
            <button class="btn btn-primary" (click)="addWhereCondition()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class="head">
              <tr>
                <th class="textLeft">Clause</th>
                <th class="textLeft">Column Name</th>
                <th class="textLeft">Operator</th>
                <th class="textLeft">Value</th>
                <th class="textLeft">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of whereConditionArr; let i=index">
                <td class="textLeft">{{data.clause}}</td>
                <td class="textLeft">{{data.column}} </td>
                <td class="textLeft">{{data.operator}}</td>
                <td class="textLeft">
                  {{data.value ? data.value : data.value1 }}{{data.value1 ? ", " : "" }}{{data.value2 ? data.value2 : data.value2 }}</td>
                <td class="textLeft">
                  <a href="#" class="btn btn-warning btn-sm" (click)="editWhereCondition($event, i)">Edit</a>
                  <a href="#" class="btn btn-danger btn-sm" (click)="deleteWhereConditon($event, i)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <div *ngFor="let data of unionListArr; let i = index">
            <app-union [index]="i" [leftlist]="whereList" [unionlistarr]="unionListArr" (removeParentUnion)="removeUnion(i)" [dynamiccolarr]="dynamicColArr">
            </app-union>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <input type="checkbox" class="check" id="union" (change)="checkClick()" />
            <label for="union">Union</label>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>

  <div class="row collapsed" data-toggle="collapse" data-target="#orderBy">
    <div class="col-xs-12">
      <h3>Order By</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="orderBy" class="collapse">
        <br>
        <br>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <md-select placeholder="Select Order By" [(ngModel)]="orderByObj.orderBySelect">
              <md-option [value]="'Asc'">Accending</md-option>
              <md-option [value]="'Desc'">Descending</md-option>
            </md-select>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-9">
            <md-select placeholder="Select Column" [(ngModel)]="orderByObj.orderByColumn">
              <md-option style="text-transform: none !important;" *ngFor="let column of orderByAlias" [value]="column">{{column}}</md-option>
            </md-select>
          </div>

          <div class="col-md-1 col-sm-5 col-xs-3">
            <button class="btn btn-primary" (click)="addOrderBy()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class="head">
              <tr>
                <th class="textLeft">Order By</th>
                <th class="textLeft">Column Name</th>
                <th class="textLeft">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of orderByArr; let i=index">
                <td class="textLeft">{{data.orderBySelect}} </td>
                <td class="textLeft">{{data.orderByColumn}}</td>
                <td class="textLeft">
                  <a href="#" class="btn btn-warning btn-sm" (click)="editOrderBy($event, i)">Edit</a>

                  <a href="#" class="btn btn-danger btn-sm" (click)="deleteOrderBy($event, i)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>
</div>
<div *ngIf="writequery == true">
  <div class="row" data-toggle="collapse" data-target="#selectTable">
    <div id="" class="query-textarea">
      <div class="form-group">
        <textarea [(ngModel)]="queryData" class="form-control" rows="5" id="query-write"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" class="check" id="additionalSummary" (change)="additionalSummary()" />
    <label for="additionalSummary">Graph Additional Summary</label>
  </div>
</div>
<div class="row" *ngIf="graphAdditionalQuery == true">
  <div class="col-md-12">
    <textarea [(ngModel)]="model.GrpahAdditionalSummary" (ngModelChange)="additionalSummayChange()" name="" rows="4" cols=""
      class="form-control additionalSummary" style="resize: vertical;">
		</textarea>
  </div>
  <div class="col-sm-6 col-xs-10 inputDesign" align="left" style="margin-top: 10px;">
    <span>
      <button class="btn btn-primary" (click)="validateQuery('additionalQuery')">Validate Query</button>
    </span>
  </div>

  <div class="col-md-12" style="padding-top: 20px;">
    <div class="row">
      <div class="" *ngIf="graphType == '1'">
        <div class="col-sm-12 col-xs-12 inputDesign">
          <label style="font-size: 16px; text-transform: uppercase;letter-spacing: 1px;">Select Graph & Additional Summary Structure</label>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="radioTbs">
            <li>
              <input type="radio" name="structure-pos" id="top-bottom-pos" value="1" [(ngModel)]="model.GraphAdditionalSummaryPosition"
              />

              <label for="top-bottom-pos" class="bar">
                <img src="../../asset/img/left-right.png" width="135" height="85" alt="" />
              </label>
            </li>
            <li>
              <input type="radio" name="structure-pos" id="bottom-top-pos" value="2" [(ngModel)]="model.GraphAdditionalSummaryPosition"
              />
              <label for="bottom-top-pos" class="stacked">
                <img src="../../asset/img/right-left.png" width="135" height="85" alt="" />
              </label>
            </li>

            <li>
              <input type="radio" name="structure-pos" id="left-right-pos" value="3" [(ngModel)]="model.GraphAdditionalSummaryPosition"
              />
              <label for="left-right-pos" class="pie">
                <img src="../../asset/img/top-bottom.png" width="135" height="85" alt="" />
              </label>
            </li>
            <li>
              <input type="radio" name="structure-pos" id="right-left-pos" value="4" [(ngModel)]="model.GraphAdditionalSummaryPosition"
              />
              <label for="right-left-pos" class="donut">
                <img src="../../asset/img/bottom-top.png" width="135" height="85" alt="" />
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <br>
  <br>
  <div class="col-sm-6 col-xs-2 inputDesign">
    <button class="btn btn-warning" (click)="showPrevTab()">Prev</button>
  </div>
  <div class="col-sm-6 col-xs-10 inputDesign" align="right">
    <span *ngIf="writequery == false">
      <button class="btn btn-warning" (click)="veiwAndNext()">Next</button>
    </span>
    <span *ngIf="writequery == true">
      <button class="btn btn-warning" (click)="validateQuery('writeQuery')">Next</button>
    </span>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>


<div class="modal fade" id="myModalOne" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideModel()">&times;</button>
        <h4 class="modal-title">Add Alias</h4>
      </div>
      <div class="modal-body" style="width: 200px; margin: auto;">
        <md-input-container>
          <input mdInput placeholder="Add Alias" value="" [(ngModel)]="AliasInput">
        </md-input-container>
      </div>
      <div class="modal-footer">
        <button type="button" (click)='Add()' class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showQueryModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Query</h4>
      </div>
      <div class="modal-body">
        <textarea name="" rows="10" style="width:100%" readonly>{{query}}</textarea>

        <div class="modal-footer">
          <button class="btn btn-info" (click)="validateQuery('makeQuery')">Validate Query</button>
        </div>
      </div>
    </div>
  </div>
</div>