<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<section class="DataGrid" id={{ETRFsection[sectionIndex].subSectionArr[subSectionIndex].uniqueId}}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="col-md-8">
            <md-input-container>
              <input mdInput placeholder="Enter Sub Section Name" [(ngModel)]="ETRFsection[sectionIndex].subSectionArr[subSectionIndex].SubSectionName">
            </md-input-container>
          </div>
          <div class="col-md-4 section-width">
            <md-select placeholder="Width" [(ngModel)]="this.ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].width">
              <md-option value="100%">Full (100%)</md-option>
              <md-option value="90%">90%</md-option>
              <md-option value="80%">80%</md-option>
              <md-option value="75%">Three Fourth (75%)</md-option>
              <md-option value="70%">70%</md-option>
              <md-option value="60%">60%</md-option>
              <md-option value="50%">One Half (50%)</md-option>
              <md-option value="40%">40%</md-option>
              <md-option value="33%">One Third (33%)</md-option>
              <md-option value="30%">30%</md-option>
              <md-option value="25%">One Fourth (25%)</md-option>
              <md-option value="20%">20%</md-option>
              <md-option value="10%">10%</md-option>
            </md-select>
          </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <div class="col-md-6">
            <md-input-container>
              <input mdInput placeholder="Unique ID" [(ngModel)]="ETRFsection[sectionIndex].subSectionArr[subSectionIndex].uniqueId" disabled="true">
            </md-input-container>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success move" (click)="moveUp(subSectionIndex)">
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </button>
            <button class="btn btn-success move" (click)="moveDown(subSectionIndex)">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </button>
            <!-- <button *ngIf="showFields == 1 || showFields == null" class="btn btn-primary" (click)="addTable(subSectionIndex)">Add Table</button> -->
            <button *ngIf="showFields == 2 || showFields == null" class="btn btn-primary" (click)="addFields(subSectionIndex)">Add Fields</button>
            <button class="btn btn-danger" (click)="remove(subSectionIndex, ETRFsection[sectionIndex].subSectionArr[subSectionIndex].uniqueId)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="ETRFsection[sectionIndex].subSectionArr[subSectionIndex].addFieldsArr">
        <div *ngFor="let data of ETRFsection[this.sectionIndex].subSectionArr[subSectionIndex].addFieldsArr; let i = index ">
          <add-fields [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [addFieldsIndex]="i" [subSectionIndex]="subSectionIndex"
            [calledFrom]="'sub-section'" [addTableIndex]="" [editCase]="editCase" [TableList]="TableList" [ComponentList]="ComponentList"
            [MasterTableList]="MasterTableList"></add-fields>
        </div>
      </div>
      <!-- <div class="col-md-12" *ngIf="ETRFsection[sectionIndex].subSectionArr[index].addTableArr">
				<div *ngFor="let data of ETRFsection[sectionIndex].subSectionArr[index].addTableArr; let i = index ">
					<add-table [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [subSectionIndex]="subSectionIndex" [addTableIndex]="i"></add-table>
				</div>
			</div> -->
    </div>
  </div>
</section>