<body class="dashboard" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoading">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> EDI Dashboard </a>
          </p>
        </div>
      </section>
      <section class="ediGraph">
        <h3>Graph View</h3>

        <div class="ediGraphBtn open_in" data-toggle="collapse" data-target="#ediGraphBtn"></div>
        <div class="collapse in" id="ediGraphBtn">
          <!--<img src="asset/img/edigraph.png" alt=""/>-->
          <div id="ediChart"></div>

        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>

              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <form id="Filterbtn" class="collapse in">
                <div class="row form inputMatrial">
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 date-wrapper">-->
                  <!--&lt;!&ndash;<span class="custom-material">Login Date range</span>&ndash;&gt;-->
                  <!--<div class="date-owl">-->
                  <!--<owl-date-time [(ngModel)]="dateFrom"-->
                  <!--[dataType]="'date'"-->
                  <!--[placeHolder]="'Date From'"-->
                  <!--[dateFormat]="'MM/DD/YYYY'"-->
                  <!--(ngModelChange)="dateChange('dateFrom')"-->
                  <!--[locale]="en"-->
                  <!--[ngModelOptions]="{standalone: true}"-->
                  <!--[autoClose]="true"-->
                  <!--[type]="'calendar'">-->
                  <!--</owl-date-time>-->

                  <!--</div>-->

                  <!--</div>-->
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">-->
                  <!--<div class="date-owl">-->
                  <!--<owl-date-time [(ngModel)]="dateTo" [dataType]="'date'"-->
                  <!--[placeHolder]="'Date To'" [dateFormat]="'MM/DD/YYYY'"-->
                  <!--(ngModelChange)="dateChange('dateTo')" [locale]="en" [ngModelOptions]="{standalone: true}"-->
                  <!--[autoClose]="true" [type]="'calendar'">-->
                  <!--</owl-date-time>-->

                  <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">-->

                  <!--<md-input type="text" [(ngModel)]="searchParam.SearchText[0].ColumnValue" [ngModelOptions]="{standalone: true}"-->
                  <!--placeholder="SKU No"></md-input>-->
                  <!--</div>-->

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 inputDesign ">
                    <select class="SlectBox resetSelect" [(ngModel)]="searchParam.SearchText[0].ColumnValue" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Status</option>
                      <option value="Placed">Placed</option>
                      <option value="Received">Received</option>
                      <option value="Out">Out</option>

                    </select>

                    <!--<md-input type="text" [(ngModel)]="searchParam.SearchText[2].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Sample Description"></md-input>-->
                  </div>

                  <div *ngFor="let dColumns of dynamicSearchColumns" class="col-md-3 col-lg-3 col-sm-3 col-xs-12 test">
                    <md-input type="text" [(ngModel)]="dColumns.ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="{{dColumns.ColumnDataValue}}"></md-input>
                  </div>


                </div>

                <div class="row form inputDesign inputMatrial" *ngFor="let searchC of additionalSearch;let i = index; let last = last ">
                  <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" *ngIf="i > 0">
                    <select name="" class="SlectBox resetSelect" [(ngModel)]="searchC.LogicalOperator" [ngModelOptions]="{standalone: true}">
                      <option value="">Select LogicalOperator</option>
                      <option value="AND">And</option>
                      <option value="OR">Or</option>
                    </select>
                  </div>
                  <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                    <select class="SlectBox resetSelect" [(ngModel)]="searchC.ColumnName" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Column</option>
                      <option [value]="column.ColumnName" *ngFor="let column of columnList">
                        {{column.ColumnDataValue}}
                      </option>
                    </select>

                  </div>
                  <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                    <select class="SlectBox resetSelect" [(ngModel)]="searchC.Operator" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Operator</option>
                      <option value="1">Equal</option>
                      <option value="2">Not Equal</option>
                      <option value="3">Starts With</option>
                      <option value="4">Ends With</option>
                      <option value="5">Contains</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">

                    <!--<md-input  type="text" placeholder="Keyword"-->
                    <!--[(ngModel)]="searchC.ColumnValue" [ngModelOptions]="{standalone: true}" >-->
                    <!--</md-input>-->

                    <input class="resetDynamicInput" type="text" placeholder="Keyword" [(ngModel)]="searchC.ColumnValue" [ngModelOptions]="{standalone: true}"
                    />
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-danger searchBtnIcon" (click)="removeSearch(i)">
                      <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" style="margin-right: 10px;" *ngIf="last" class="btn btn-primary searchBtnIcon" (click)="addSearch()">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" *ngIf="last" class="btn btn-success searchBtn " (click)="search(1)"> Search
                    </button>
                    <button type="button" *ngIf="last" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset
                    </button>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </section>
      <!--<section id="etrf-filter" class="filter">-->
      <!--<div class="container-fluid">-->
      <!--<div class="row">-->
      <!--<div class="col-md-12 ">-->
      <!--<h3>Search</h3>-->
      <!--<div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>-->
      <!--<form id="Filterbtn" class="collapse in">-->
      <!--<div class="row form inputMatrial">-->
      <!--<div class="col-md-2 date-owl">-->
      <!--<label>Date From</label>-->
      <!--<owl-date-time [(ngModel)]="dateFrom" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM/DD/YYYY'" (change)="searchModelChange($event,'dateFrom')" [ngModelOptions]="{standalone: true}" [locale]="en" [autoClose]="true" [type]="'calendar'">-->

      <!--</owl-date-time>-->
      <!--</div>-->
      <!--<div class="col-md-2 date-owl">-->
      <!--<label>Date To</label>-->
      <!--<owl-date-time [(ngModel)]="dateTo" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'" [dateFormat]="'MM/DD/YYYY'" (change)="searchModelChange($event,'dateTo')" [ngModelOptions]="{standalone: true}" [locale]="en" [autoClose]="true" [type]="'calendar'">-->

      <!--</owl-date-time>-->
      <!--</div>-->
      <!--<div class="col-md-2">-->
      <!--<md-input-container>-->
      <!--<input mdInput placeholder="SKU Number" [(ngModel)]="skuNumber" [ngModelOptions]="{standalone: true}" (change)="searchModelChange('skuNumber')">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--<div class="col-md-2" style="margin-top: 10px;">-->
      <!--<md-select placeholder="Select Status" [(ngModel)]="Status" [ngModelOptions]="{standalone: true}" (change)="searchModelChange('Status')">-->
      <!--<md-option value="Placed">Placed</md-option>-->
      <!--<md-option value="Received">Received</md-option>-->
      <!--<md-option value="Processing">Processing</md-option>-->
      <!--</md-select>-->
      <!--</div>-->
      <!--<div class="col-md-4" style="margin-top: 10px;">-->
      <!--<button class="btn btn-success" style="line-height: 22px;margin-bottom: 0px;width: 100px;" (click)="search()">Search</button>-->
      <!--<button class="btn btn-primary" style="width:100px;" (click)="reset()">Reset</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</section>-->
      <div class="ediDashbord">
        <!--<div class="ediDashbordLeft">-->
        <!--<h3 class="client" (click)="sidebarbtn()"> Clients <i class="fa fa-angle-right" aria-hidden="true">-->
        <!--</i>-->
        <!--</h3>-->
        <!--<ul>-->
        <!--<li><a href="javascript:void(0)"> Own Submission </a></li>-->
        <!--<li><a href="javascript:void(0)"> VF Asia</a> </li>-->
        <!--<li><a href="javascript:void(0)"> WILLIAMS-SONOMA </a></li>-->
        <!--<li><a href="javascript:void(0)"> Pandora Production Co. LTD.</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="">
          <section class="DataGrid config ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 nodadding">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="head">
                        <tr>
                          <th style="width:200px !important" class="textCenter" *ngFor="let dColumns of dynamicGridColumns" (click)="sorting(dColumns.ColumnName)">{{dColumns.ColumnDataValue}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orderList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                          <td class="textCenter" *ngFor="let dColumns of dynamicGridColumns">{{order[dColumns.ColumnName]}} </td>

                        </tr>

                      </tbody>

                    </table>
                    <pagination-controls [hidden]="!orderList" (pageChange)="getPage($event)" id="server"></pagination-controls>

                  </div>

                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>
  <custom-footer></custom-footer>
</body>