<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Admin</a>
            <img src="asset/img/angle-right.png" /> Order Analysis Configuration </p>
        </div>
      </section>

      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3 class=""></h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row form autoComplete">
                  <!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 "> -->
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 ">
                    <md-select style="margin-top: 13px;width: 100%;" [(ngModel)]="searchModal.businessCategoryId" placeholder="Select Category"
                      (ngModelChange)="getCountries()">
                      <md-option *ngFor="let category of bussinessCategories" [value]="category.Id">{{ category.Value }}</md-option>
                    </md-select>
                  </div>
                  <div name="" class="col-md-3 col-lg-3 col-sm-3 col-xs-6" *ngIf="this.clientList.length > 0">
                    <md-input-container>
                      <input mdInput placeholder="Select Client" [mdAutocomplete]="auto" [formControl]="clientCtrl" [(ngModel)]="AutoCompleteReset">
                    </md-input-container>

                    <md-autocomplete #auto="mdAutocomplete">
                      <md-option *ngFor="let client of filteredClients | async" [value]="client.name" (onSelectionChange)="selectedClient(client.id)">
                        {{ client.name }}
                      </md-option>
                    </md-autocomplete>

                    <!-- </div> -->
                  </div>

                  <!-- <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12"> -->
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 inputDesign">
                    <button type="button" style="margin-top: 10px;" class="btn btn-success searchBtn " (click)="search()"> Search</button>
                    <button type="button" style="margin-top: 10px;" class="btn btn-primary-one searchBtn " (click)="reset()"> Reset</button>
                    <!--<button type="button" class="btn btn-success searchBtn " [routerLink]=" ['/addNewChart']" > Add New Chart</button>-->
                  </div>
                  <!-- </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="DataGrid config">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="textRight addLink" *ngIf="userCredential.UserPermission.EditOrderAnalysisconfiguration">
                <a href="" [routerLink]=" ['./add-new-analysis', 0]">
                  <i class="fa fa-plus-circle"></i> Add New Chart </a>
              </div>
              <div class="table-responsive">
                <table class="table orderAnalysisConfig">
                  <thead class="head">
                    <tr>
                      <!--<th class="textLeft" (click)="sorting('ClientId')">Client Name</th>											-->
                      <th class="textLeft" (click)="sorting('GraphName')">Chart Name</th>
                      <th class="textLeft" (click)="sorting('GraphType')">Chart Type</th>
                      <th class="textLeft">Status</th>
                      <th *ngIf="userCredential.UserPermission.EditOrderAnalysisconfiguration || userCredential.UserPermission.DeleteOrderAnalysisconfiguration"
                        class="textLeft">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of GraphData | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                      <!--<td class="textLeft">{{data.ClientName}}</td>						-->
                      <td class="textLeft">{{data.GraphName}}</td>
                      <td class="textLeft">{{graphType[data.GraphType]}}</td>
                      <td class="textLeft">{{data.Status ? "Complete" : "Incomplete"}}</td>
                      <td *ngIf="userCredential.UserPermission.EditOrderAnalysisconfiguration || userCredential.UserPermission.DeleteOrderAnalysisconfiguration"
                        class="textLeft">
                        <!--<a href="#" class="btn btn-warning btn-sm">Edit</a> -->
                        <!--<a href="#" class="btn btn-danger btn-sm">Delete me</a>-->
                        <button *ngIf="userCredential.UserPermission.EditOrderAnalysisconfiguration" (click)="EditRole(data.GraphId)" type="button"
                          class="btn btn-warning btn-sm">Edit</button>
                        <button *ngIf="userCredential.UserPermission.DeleteOrderAnalysisconfiguration" (click)="deleteRole(data.GraphId)" type="button"
                          class="btn btn-danger btn-sm">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!GraphData" (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>

  <!-- Modal -->
  <div class="modal fade" id="clientChange" role="dialog">
    <div class="modal-dialog modal-md clientChangeModel">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Business Category & Company</h4>
        </div>
        <div class="modal-body">
          <div class="modelInput">
            <label for="UserName">Business Category</label>
            <select name=" " class="SlectBox">
              <option value="">Select Business Category </option>
              <option value="">Category 1 </option>
              <option value="">Category 2 </option>
              <option value="">Category 3 </option>
            </select>
          </div>
          <div class="modelInput">
            <label for="UserName">Company </label>
            <select name=" " class="SlectBox">
              <option value="">Select Company </option>
              <option value="">Company 1 </option>
              <option value="">Company 2 </option>
              <option value="">Company 3 </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Go</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="uploadInvoice" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Invoice Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign ">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b> 123 - 123</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Invoice # : </b> 1234536</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Vendor Name : </b> 1- Tex LTD</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Factory Name : </b> XYZ</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Package Name : </b> XYZ</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Protocol Name: </b> XYZ</span>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Test Name : </b> Test 1 </span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>File Upload</label>
              <div class="input-group inputFile " id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" class="inputValue" id="inputValue" value="">
                <p id="inputValueShow"> </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="uploadReport" role="dialog">
    <div class="modal-dialog modal-md uploadReportModel">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Test Report Upload </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <span>
                <b>Report # :</b> 123 - 123</span>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="ReTest " />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="Vendor Name " />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="Fectory Name " />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <div class="modelRedioCheck">
                <label class="control control-checkbox ">Li & Fung
                  <input type="checkbox" id="" name="">
                  <div class="control__indicator_checkbox"></div>
                </label>
              </div>
            </div>
            <span class="clearfix"></span>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="Agent Name " />
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <input type="text" name="" placeholder="Test Phase " />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <div class="custom_Date">
                <input type="text" name="" class="date" placeholder="Date In " />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <div class="custom_Date">
                <input type="text" name="" class="date" placeholder="Date Out" />
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <textarea rows="2" placeholder="Sample Description"></textarea>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <textarea rows="2" placeholder="UPC Code"></textarea>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <textarea rows="2" placeholder="SKU"></textarea>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <textarea rows="2" placeholder="Style Number"></textarea>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <textarea rows="2" placeholder="Po Number"></textarea>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <select name=" " class="SlectBox">
                <option value="">Ratting </option>
                <option value="">Ratting 1 </option>
                <option value="">Ratting 2 </option>
                <option value="">Ratting 3 </option>
              </select>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
              <div class="input-group inputFile " id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" class="inputValue" id="inputValue" value="">
                <p id="inputValueShow"> </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="uploadTRF" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload TRF </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl">
              <span>
                <b>Report # : </b> 123 - 123</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <label>File Upload</label>
              <div class="input-group inputFile " id="upliadFile">
                <span class="input-group-addon btn">
                  <i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                <input type="file" class="inputValue" id="inputValue" value="">
                <p id="inputValueShow"> </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</body>