<header *ngIf="userDetail && userCredential">

  <div *ngIf="isLoader">
    <div class="loading-dialog"></div>
  </div>
  <div class="dashTopNav ">
    <div class="">
      <div class="logo">
        <img src="asset/img/logo1.jpg" class="img-responsive" alt="" /> </div>
      <div class="navRight">

        <div class="dropdown myAccount" *ngIf="!!userDetail">
          <a id="dLabel" data-toggle="dropdown">
            <!--<span class="img"><img src="asset/img/profile_image-avtar.jpg" class="img-responsive" alt="" /></span>-->
            <span class="img">
              <img src="{{UserProfileimg}}" class="img-responsive" alt="" />
            </span>
            <span class="user">{{userDetail.FirstName}} {{userDetail.LastName}}
              <br>{{userCredential.UserType}}</span>
          </a>

          <ul class="dropdown-menu myAccountList" aria-labelledby="dLabel">
            <li>Email ID: {{userDetail.EmailId}}</li>
            <li>
              <a (click)="openCustom()">Client: {{userCredential.CompanyName}}</a>
              <!-- <a>Client: {{userCredential.CompanyName}}</a> -->
            </li>
            <li class="active">
              <a (click)="logOut()" class="active">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="companyChange" role="dialog">
    <div class="modal-dialog modal-md clientChangeModel">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Business Category & Company</h4>
        </div>
        <div class="modal-body">
          <div class="modelInput">
            <label for="UserName">Business Category</label>
            <select name=" " class="SlectBox" [(ngModel)]="selectedCategory" (change)="categoryChange()">
              <option [ngValue]="category.BusinessCategoryId" *ngFor="let category of categoryList">{{category.BusinessCategoryName}} </option>
            </select>
          </div>
          <div class="modelInput">
            <label for="UserName">Company </label>
            <select name=" " class="SlectBox" [(ngModel)]="selectedCompany">
              <option [ngValue]="company.CompanyId" *ngFor="let company of companyList">{{company.CompanyName}} </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="setClientAndCategory()" [disabled]="selectedCategory == 0">Go</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

        </div>
      </div>
    </div>
  </div>
</header>