<!-- <div name="SLChart" id="SLChart"   style="background-color: white;" [style.width.%]="100" [style.height.px]="150"></div>
<div name="HLChart" id="HLChart"   style="background-color: white;" [style.width.%]="100" [style.height.px]="150"></div> 
 <div name="UTChart" id="UTChart"   style="background-color: white;" [style.width.%]="100" [style.height.px]="150"></div>
<div name="FTChart" id="FTChart"   style="background-color: white;" [style.width.%]="100" [style.height.px]="150"></div>
<div name="ANChart" id="ANChart"   style="background-color: white;" [style.width.%]="100" [style.height.px]="150"></div>
-->

<div *ngIf="testingLab.DivisionType=='SL'">
    <div name="SLChart" id="SLChart" class="chart-ui"></div>
</div>
<div *ngIf="testingLab.DivisionType=='HL'">
    <div name="HLChart" id="HLChart" class="chart-ui"></div>
</div>

<div *ngIf="testingLab.DivisionType=='UT'">
    <div name="UTChart" id="UTChart" class="chart-ui"></div>
</div>

<div *ngIf="testingLab.DivisionType=='FT'">
    <div name="FTChart" id="FTChart" class="chart-ui"></div>
</div>

<div *ngIf="testingLab.DivisionType=='AN'">
    <div name="ANChart" id="ANChart" class="chart-ui"></div>
</div>

<div *ngIf="testingLab.DivisionType=='FOOD'">
    <div name="FOODChart" id="FOODChart" class="chart-ui"></div>
</div>