<body class="login loginBg">
  <div class="warpper-inner">
    <div class="content-inside">
      <section class=" ">
        <div class="container">
          <div id="row">
            <div class="loginBox">
              <div class="logo">
                <img src="asset/img/logo.jpg" class="img-responsive" alt="" /> </div>
              <form autocomplete="off" id="userLogin" method="post" class="pddn-20-top inputMatrial">
                <div class="form-group userPass">
                  <md-input autocomplete="off" name="pwd" placeholder="Password" [(ngModel)]="user.pwd" [ngModelOptions]="{standalone: true}"
                    type="password" (blur)="checkValidation('password', user.pwd)" maxlength="20" required></md-input>
                  <span *ngIf="passwordValidation == false" class="reset-error-msg">{{passwordMsg}}</span>
                </div>
                <div class="form-group userPass">
                  <md-input autocomplete="off" name="confirmPwd" placeholder="Confirm Password" [(ngModel)]="user.confirmPwd" [ngModelOptions]="{standalone: true}"
                    type="password" (blur)="checkValidation('confirmPassword', user.confirmPwd)" maxlength="20" required></md-input>
                  <span *ngIf="confirmPasswordValidation == false" class="reset-error-msg">{{confirmPassMsg}}</span>
                </div>
                <div class="form-group">
                  <button [disabled]="!user.pwd && user.confirmPwd" type="submit" (click)="resetPassword()" class="btn btn-primary btn-block loginBtn">Reset Password</button>
                </div>
                <span class="error"></span>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>