<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>

<div class="stepsContentHeader row">
  <div class="col-md-3 col-xs-12 text-left">
    <a href="" class="btn btn-success trackOrderbtn" [routerLink]=" ['/online-etrf']">Track Your Orders</a>
  </div>
  <div class="col-md-6 col-xs-12 text-center">
    <h1>Order Review</h1>
    <p></p>
  </div>
  <div class="col-md-3 col-xs-12 text-right">
    <div class="btn btn-success enquiryBtn" data-toggle="tooltip" title="Need more help/ information?" data-toggle="modal" data-target="#EnquiryForm">Enquiry</div>
  </div>
</div>


<div class="row">

  <div class="col-md-8 col-xs-12 applicantDetails">
    <p>
      <b style="color:#4c7fb7;">Review your order</b>
    </p>
    <p> {{userDetails.FirstName}} {{userDetails.LastName}}</p>
    <p>{{dataService.registeredCompanyName}}</p>
    <p> {{userDetails.Address}}</p>
    <p>Mob - {{userDetails.TelephoneNo}}</p>
    <p>Email - {{userDetails.EmailId}}</p>
  </div>
  <div class="col-md-4 col-xs-12 pull-right text-left shippingAddress" *ngIf="!!data.locationInfo">
    <p>
      <b *ngIf="data?.categoryId==1">Lab Location</b>
      <b *ngIf="data?.categoryId==2">Factory Location</b>
    </p>
    <p *ngIf="data.locationInfo[0]?.CountryDescription">{{data.locationInfo[0]?.CountryDescription}}</p>
    <p *ngIf="data.locationInfo[0]?.Address1 || data.locationInfo[0]?.Address2">{{data.locationInfo[0]?.Address1}} {{ data.locationInfo[0]?.Address2}}</p>
    <p *ngIf="data.locationInfo[0]?.City || data.locationInfo[0]?.Street || data.locationInfo[0]?.State || data.locationInfo[0]?.CountryCode || data.locationInfo[0]?.ZipCode">{{data.locationInfo[0]?.City}}, {{ data.locationInfo[0]?.Street}}{{ data.locationInfo[0]?.State}}, {{data.locationInfo[0]?.CountryCode
      }}
      <span *ngIf="data.locationInfo[0]?.ZipCode"> - </span>{{ data.locationInfo[0]?.ZipCode}}
    </p>
    <p *ngIf="data.locationInfo[0]?.Phone">
      Phone - {{ data.locationInfo[0]?.Phone}}</p>
    <p *ngIf="data.locationInfo[0]?.Fax">
      Fax - {{ data.locationInfo[0]?.Fax}}</p>
    <p *ngIf="data.locationInfo[0]?.Mob">
      Mob - {{ data.locationInfo[0]?.Mob}}</p>
    <p *ngIf="data.locationInfo[0]?.Email">Email - {{ data.locationInfo[0]?.Email}}</p>
  </div>
</div>



<div class="stepsContentBody ReviewOrder">
  <div *ngIf="this.dataService.selectedPackages!=undefined ||this.dataService.selectedPackages" class="table-responsive">
    <!-- GK: Order Review Table for Testing Service -->
    <table class="table" id="ReviewOrderTable" *ngIf="data?.categoryId == 1 && !colorText">
      <thead>
        <tr>
          <th>Service</th>
          <th>{{headerText}}</th>
          <th>{{qtyText}}</th>
          <th>{{priceText}}</th>
          <th width="5%">
            <span>Remove</span>
          </th>
          <th>Price (USD)</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr class="service"><td>{{dataService.selectedService.name}} </td> <td></td> <td></td><td ></td></tr>								-->
        <tr *ngFor="let package of dataService.selectedPackages" class="package">
          <td>{{package.ServiceName}}</td>
          <td *ngIf="package.PackageType=='T'">{{package.Name}}</td>
          <td *ngIf="package.PackageType=='P'">{{package.Name}} For {{package.CountryCode}} ({{package.AgeGradeName}})</td>
          <td>
            <input *ngIf="!!package?.PackageQty" type="number" min="1" max="100" (keypress)="restrictUser($event)" (keydown)="restrictBackspace($event)"
              [(ngModel)]="package.PackageQty" (ngModelChange)="evaluateOffer()">
          </td>

          <td>${{package.Price}}</td>
          <td>
            <a class="close" (click)="deletePackage($event,package)" data-hide="package" href="javascript:void(0)"></a>
          </td>
          <td class="price">${{package.FinalPrice |number:'1.2-2'}} </td>
        </tr>
      </tbody>


      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td>
            <strong *ngIf="data?.entitledOfferList?.length>1 && dataService.selectedPackages.length>0" (click)="openOfferPopUp()">Apply Promo Code
            </strong>
          </td> -->
          <td>
            <strong *ngIf="dataService.selectedPackages.length>0" class="apply-offer" (click)="openOfferPopUp()">Apply Promo Code
            </strong>
          </td>
          <td style="text-align:right;"> Total </td>
          <td class="price"> ${{total |number:'1.2-2'}}</td>
        </tr>

        <tr class="youPay" *ngIf="data?.offerApplied && dataService.selectedPackages.length>0">
          <td></td>
          <td></td>
          <td> </td>

          <td class="bt bb" style="text-align:right;font-size: 12px;" colspan="2">Promotion code ({{data.SelectedOffer.OfferCode}}) ,{{data.SelectedOffer.OfferShortDescription}} </td>
          <td class="bt bb price">${{total/100*data.offerPercent|number:'1.2-2'}}</td>
        </tr>

        <tr class="youPay">
          <td></td>
          <td></td>
          <td></td>

          <td class="bt bb" style="text-align:right;" colspan="2"> Amount Due </td>
          <!-- <td class="bt bb">Amount Due</td> -->
          <td class="bt bb price" *ngIf="data?.offerApplied">${{total-total/100*data.offerPercent|number:'1.2-2'}}</td>
          <td class="bt bb price" *ngIf="!data?.offerApplied">${{total|number:'1.2-2'}}</td>

        </tr>

        <!-- <tr *ngIf="data?.entitledOfferList.length>0 && dataService.selectedPackages.length>0">
          <td></td>
          <td></td>
          <td></td>
          <td *ngIf="!colorText" class="bt bb" colspan="2" style="text-align:right;"> View Offer</td>
          <td class="bt bb price">${{total/100*data?.selectedServiceInfo?.OfferPercent|number:'1.2-2'}}</td>
        </tr> -->

        <!-- <tr class="youPay">
          <td></td>
          <td></td>
          <td></td>

          <td class="bt bb" style="text-align:right;" colspan="2"> Amount Due</td>
           
          <td *ngIf="data?.selectedServiceInfo?.OfferActive" class="bt bb price">${{total-total/100*data?.selectedServiceInfo?.OfferPercent|number:'1.2-2'}}</td>
          <td *ngIf="!data?.selectedServiceInfo?.OfferActive" class="bt bb price">${{total|number:'1.2-2'}}</td>
        </tr> -->
      </tfoot>
    </table>

    <table class="table" id="ReviewOrderTable" *ngIf="data?.categoryId == 1 && colorText">
      <thead>
        <tr>
          <th>Service</th>
          <th>{{headerText}}</th>
          <th>{{qtyText}}</th>
          <th>{{priceText}}</th>
          <th>{{colorText}}</th>
          <th>Remove Color</th>
          <th width="5%">
            <span>Remove</span>
          </th>
          <th>Price (USD)</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr class="service"><td>{{dataService.selectedService.name}} </td> <td></td> <td></td><td ></td></tr>								-->
        <tr *ngFor="let package of dataService.selectedPackages" class="package">
          <td>{{package.ServiceName}}</td>
          <td *ngIf="package.PackageType=='T'">{{package.Name}}</td>
          <td *ngIf="package.PackageType=='P'">{{package.Name}} For {{package.CountryCode}} ({{package.AgeGradeName}})</td>
          <td>
            <input *ngIf="!!package?.PackageQty" type="number" min="1" max="100" (keypress)="restrictUser($event)" (keydown)="restrictBackspace($event)"
              [(ngModel)]="package.PackageQty" (ngModelChange)="evaluateOffer()">
          </td>

          <td>${{package.Price}}</td>
          <td>{{(package.ColorwayQty==0)?"":package.ColorwayQty}} {{(package.ColorwayQty==0)?"":" X $" + package.ColorwayPrice}}</td>
          <td *ngIf="!!package?.ColorwayQty && package.ColorwayQty != 0">
            <a class="close" (click)="deleteColorwayQty($event,package)" data-hide="package" href="javascript:void(0)" (click)="evaluateOffer()"></a>
          </td>
          <td>
            <a class="close" (click)="deletePackage($event,package)" (click)="evaluateOffer()" data-hide="package" href="javascript:void(0)"></a>
          </td>
          <td class="price">${{package.FinalPrice |number:'1.2-2'}} </td>
        </tr>
      </tbody>


      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td>
            <strong *ngIf="data?.entitledOfferList?.length>1 && dataService.selectedPackages.length>0" (click)="openOfferPopUp()">Select Offer
            </strong>
          </td> -->
          <td>
            <strong  *ngIf="dataService.selectedPackages.length>0" class="apply-offer" (click)="openOfferPopUp()">Apply Promo Code
            </strong>
          </td>
          <td style="text-align:right;"> Total </td>
          <td class="price">${{total |number:'1.2-2'}}</td>
        </tr>


        <tr class="youPay" *ngIf="data?.offerApplied && dataService.selectedPackages.length>0">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td class="bt bb discount_caption" colspan="2">Promotion code ({{data.SelectedOffer.OfferCode}}) ,{{data.SelectedOffer.OfferShortDescription}} </td>
          <td class="bt bb price">${{total/100*data.offerPercent|number:'1.2-2'}}</td>
        </tr>


        <tr class="youPay">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bt bb" style="text-align:right;" colspan="2"> Amount Due</td>
          <!-- <td class="bt bb">Amount Due</td> -->

          <td *ngIf="data?.offerApplied" class="bt bb price">${{total-total/100*data.offerPercent|number:'1.2-2'}}</td>
          <td *ngIf="!data?.offerApplied" class="bt bb price">${{total|number:'1.2-2'}}</td>

        </tr>

        <!-- <tr class="youPay">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bt bb" style="text-align:right;" colspan="2"> Amount Due</td>
        
          <td *ngIf="data?.selectedServiceInfo?.OfferActive" class="bt bb price">${{total-total/100*data?.selectedServiceInfo?.OfferPercent|number:'1.2-2'}}</td>
          <td *ngIf="!data?.selectedServiceInfo?.OfferActive" class="bt bb price">${{total|number:'1.2-2'}}</td>
        </tr> -->
      </tfoot>
    </table>

    <!-- GK: Order Review Table for Inspection Service -->
    <table class="table" id="ReviewOrderTable" *ngIf="data?.categoryId == 2">
      <thead>
        <tr>
          <th>Service</th>
          <th>{{headerText}}</th>
          <th>{{qtyText}}</th>
          <th>Required Man Day</th>
          <th>Man Day Expense (USD)</th>
          <th>Travel Expense (USD)</th>
          <th>Accommodation Expense (USD)</th>
          <th>Price (USD)</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr class="service"><td>{{dataService.selectedService.name}} </td> <td></td> <td></td><td ></td></tr>								-->
        <tr *ngFor="let package of dataService.selectedPackages" class="package">
          <td>{{package.ServiceName}}</td>
          <td>{{package.Name}} </td>
          <td>
            <input *ngIf="!!package?.PackageQty" type="number" min="1" max="100" (keypress)="restrictUser($event)" (keydown)="restrictBackspace($event)"
              [(ngModel)]="package.PackageQty">
            <span *ngIf="!!package?.SampleSize">{{package.SampleSize}}</span>
          </td>
          <td>{{package.RequiredManday}}</td>
          <td>{{package.UpdatedMandayCost}}</td>
          <td>${{package.TravelCost}}</td>
          <td>${{package.HotelCost}}</td>
          <td class="price">${{package.FinalPrice |number:'1.2-2'}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!-- <td>
            <strong *ngIf="data?.entitledOfferList?.length>1 && dataService.selectedPackages.length>0" (click)="openOfferPopUp()">Select Offer
            </strong>
          </td> -->
          <td>
            <strong *ngIf="dataService.selectedPackages.length>0" class="apply-offer" (click)="openOfferPopUp()">Apply Promo Code
            </strong>
          </td>
          <td> Total </td>
          <td class="price">${{total |number:'1.2-2'}}</td>
        </tr>

        <tr *ngIf="data?.offerApplied && dataService.selectedPackages.length>0">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bt bb discount_caption" colspan="2">Promotion code ({{data.SelectedOffer.OfferCode}}) ,{{data.SelectedOffer.OfferShortDescription}} </td>
          <td class="bt bb price">${{total/100*data.offerPercent|number:'1.2-2'}}</td>
        </tr>

        <tr class="youPay">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bt bb">Amount Due</td>
          <td *ngIf="data?.offerApplied" class="bt bb price">${{total-total/100*data.offerPercent|number:'1.2-2'}}</td>
          <td *ngIf="!data?.offerApplied" class="bt bb price">${{total|number:'1.2-2'}}</td>
        </tr>
      </tfoot>
    </table>
  </div>



  <div *ngIf="data?.categoryId == 1" class="TermsAndConditions">
    <h2> REFUND POLICY</h2>
    <ol id="refundPolicy" style="border-right: 1px solid #ddd;">
      <li>
        <b>Refund up to 100% before sample received</b>
        <br> After an order is placed and before sample(s) received by MTS lab, the Client can ask for a refund up to 100%. Refund
        will be done through the original method of payment.
      </li>
      <li>
        <b>Refund After 60 Days</b>
        <br> Even samples are not arrived yet in Lab, the payment shall be non-refundable.
      </li>
      <li>
        <b>Refund after sample received</b>
        <br> If the sample(s) has been received and Services has been initiated by MTS, then the Client may not cancel the test
        request and the paid testing fees shall be non-refundable.
      </li>
      <p>* If the Client requests that all sample(s) for the cancelled test request be shipped back to the Client, the Client
        shall be fully responsible for any handling/shipping costs incurred by MTS.</p>
    </ol>
  </div>

  <div *ngIf="data?.categoryId == 2" class="TermsAndConditions">
    <h2> REFUND POLICY</h2>
    <ol id="refundPolicy" style="border-right: 1px solid #ddd;">
      <b>Refund Policy of Cancellation and Rescheduling for Online Audit/ Inspection Bookings</b>
      <br>
      <br>
      <p>If you book a pre purchase factory compliance audits/ product inspection service online, you are agreeing to the followings:</p>
      <li>
        MTS must be notified at least one (1) business day before the Service date for any cancellations or rescheduling of Services
        requests for Product Inspection Services and at least three (3) business days for Auditing Services. Paid audits/
        inspections fee shall be non-refundable for any failures to make timely notification of cancellations and rescheduling
        of Service requests.
      </li>
      <li>
        Refund will be done through the original method of payment. Any transaction fee incurred in the refund process shall be bearded
        by service requestor.
      </li>
    </ol>
  </div>

  <div *ngIf="data?.categoryId == 1" class="TermsAndConditions">
    <h2> ONLINE TESTING TERMS AND CONDITIONS</h2>

    <ol id="flux">
      <p>
        Modern Testing Services (Global) Limited, its subsidiaries, and its affiliates (collectively, “MTS”) will provide its testing
        services (“Services”) subject to the terms and conditions herein contained (“Terms”). The Terms are the only conditions
        upon which MTS is prepared to deal with the Client, and they shall govern this contract to the entire exclusion of
        any other expressed or implied conditions. The Terms may only be modified by a variation expressed specifically in
        writing signed by a duly authorized representative of MTS.
      </p>
      <li>
        <b> ACCEPTANCE OF SERVICES.</b> All orders for any Services are subject to acceptance by MTS, and a binding commitment
        shall not be made unless MTS accepts the order by writing or the issuance of a written test report (“Report”). The
        risk and property of the goods shall remain with the Client at all times. In the event that a sample is submitted
        with an unsigned Test Request Form (“TRF) and is accepted by MTS in writing or by the issuance of a Report, the Terms
        shall govern the contract to the entire exclusion of any other expressed or implied conditions. MTS’ acceptance of
        a sample submitted with an unsigned TRF shall in no way be treated as a waiver of the Terms, and the Client agrees
        that any Services provided by MTS shall be subject to the Terms.
      </li>
      <li>
        <b>EMAIL TRANSMISSIONS.</b> MTS acknowledges that the Client may request to access the ordered Reports by means of e-mail
        communication. If the Client requests to access its ordered Reports by e-mail transmission, the Client acknowledges
        that such transmissions will not be encrypted and will no longer be confidential. The Client further acknowledges
        that such transmissions may be intercepted by third parties and modified inadvertently. MTS disclaims any and all
        liability arising out of or in connection with e-mail transmissions of Reports.


      </li>
      <li>
        <b>REPRODUCTION OF REPORTS AND PUBLICITY.</b> Reports shall not be reproduced in full unless prior written authorization
        from MTS has been attained. Reports prepared by MTS are issued subject to the condition that they are not to be made
        public or used in connection with or for the purpose of any advertising, promotional, or publicity undertaking or
        material whatsoever without the prior expressed consent in writing of MTS thereto.


      </li>
      <li>
        <b>DISCLAIMER.</b> Any testing is carried out to the best of the knowledge and capability of MTS. The Report reflects
        the findings of MTS at the time and place of testing and does not relieve sellers or manufacturers from their contractual
        liabilities or prejudice buyers’ right for compensation for any apparent and/or hidden defects during the testing
        carried out by MTS or occurring thereafter. Any Report results are not a recommendation for any specific course of
        action.
        <br/>
        <br/> It shall be the responsibility of the Client to ascertain and notify MTS of the standards with which any sample
        submitted must comply in any country or territory in which such sample is intended to be sold. In absence of specific
        instructions, MTS will adopt the test methods and standards, which in its sole and absolute discretion, are considered
        appropriate.
        <br/>
        <br/> A Report issued by MTS shall refer only to the sample actually tested and shall not refer or be deemed to refer
        to the bulk from which such sample may be said to have been obtained. In the event that MTS is requested to survey
        and test any bulk quantity of samples against contract description or sample, MTS shall, in the absence of contrary
        written instructions, cause a random sampling of bulk for testing purposes. The Client shall notify MTS by advance
        notice in writing if they require a specific percentage of the bulk to be tested. In no circumstances shall MTS’s
        responsibility extend beyond testing and reporting upon the samples actually drawn from bulk and tested by MTS and
        any inference to be drawn from the result of such testing shall be entirely in the discretion and the responsibility
        of the Client. MTS shall have no obligation to update the Reports after its issuance.
        <br/>
        <br/> MTS will, subject to the Client’s requirements, test any sample submitted to it or sampled by MTS from bulk (the
        quantity of the bulk from which the sample shall be taken and the sample shall be agreed between the Client and MTS)
        to ascertain its conformity or otherwise with contract description or sample (such contract description or sample
        are to be provided by the client). In no circumstances will MTS render any opinion as to the description, quantity,
        or the fitness of any sample for the purpose of which it is said to be intended unless in any specific case MTS is
        required to do so and agrees to do so in writing.



      </li>
      <li>
        <b>TURNOVER TIMES.</b> Unless otherwise agreed in writing with the Client, any time periods specified by MTS on the
        face hereof for performing the Services are business estimates only and MTS will not be liable to the Client for
        any loss or damage whatsoever sustained by the Client, including but not limited to additional air freight charges
        incurred by the Client as a result of MTS’ failure to comply with such times.
      </li>
      <li>
        <b>DISCLOSURE OF REPORT.</b> In the event that any Report issued by MTS is required for use in connection with or for
        evidence in any Court or Arbitration proceeding by the Client, MTS will render all assistance and explanations reasonably
        required in connection therewith but all costs and expenses incurred by MTS in giving such assistance, including
        court appearance, expert testimony, or explanations shall be charged to the account of the Client.
      </li>
      <li>
        <b>RELATIONSHIP OF PARTIES.</b> Nothing herein shall be construed to create a partnership, joint venture, or agency
        between the parties. Neither party has the authority to bind the other or incur any obligation on the other party’s
        behalf.
      </li>
      <li>
        <b>WARRANTY.</b> MTS warrants solely to the Client that the Report will be free of any material error or omission caused
        by the negligence of MTS or its servants or agents. Any claim for breach of such warranty shall be made in writing
        to MTS within sixty (60) days after the date of issuance of the Report, and the Client waives any and all claims
        for breach of such warranty unless a timely written claim to MTS is made within the sixty (60) day period. In the
        event that a timely written claim has been made by the Client, MTS, at its sole discretion, may either redo the testing
        to fix the deficiency without charge to the Client or refund the Client in the amount of the fee paid, free of interest.
      </li>
      <li>
        <b>INDEMNIFICATION.</b> In the event that MTS shall suffer any loss or damage as a result of MTS and/or its servants
        and/or its agents carrying out or providing the Services to the Client or on goods supplied by or at the direction
        of the Client other than as a result of its error, negligence or willful default, then the Client shall indemnify
        MTS and compensate MTS for such amount of loss or damage suffered.
        <br/>
        <br/> MTS PROVIDES REPORTS, RECOMMENDATIONS, AND ADVICE RELYING ON THE INFORMATION PROVIDED BY THE CLIENT AND ITS AFFILIATES.
        MTS SHALL NOT BE HELD LIABLE FOR ANY CLAIMS DIRECTLY OR INDIRECTLY ARISING OUT OF SERVICES PERFORMED IN CONSIDERATION
        OF THE INCORRECT OR INCOMPLETE INFORMATION AND INSTRUCTIONS RECEIVED FROM THE CLIENT OR ITS AFFILIATES. IN ANY EVENT
        THAT MTS IS HELD LIABLE FOR ANY CLAIMS DIRECTLY OR INDIRECTLY ARISING OUT OF SERVICES PERFORMED IN CONSIDERATION
        OF THE INCORRECT OR INCOMPLETE INFORMATION AND INSTRUCTIONS RECEIVED FROM THE CLIENT OR ITS AFFILIATES, THE CLIENT
        SHALL FULLY GUARANTEE AND INDEMNIFY MTS FOR ANY LOSSES, DAMAGES, OR EXPENSES SUFFERED FROM SUCH CLAIMS, INCUDING
        BUT NOT LIMITED TO ATTORNEY’S FEES.

      </li>
      <li>
        <b>LIMITED LIABILITY.</b> TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL MTS, ITS AFFILIATES, OFFICERS, EMPLOYEES,
        AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, COVER OR CONSEQUENTIAL
        DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, REVENUE, GOODWILL, USE OR CONTENT) HOWEVER CAUSED,
        UNDER ANY THEORY OF LIABILITY, EVEN IF MTS HAS BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES.
        <br/>
        <br/> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE AGGREGATE LIABILITY OF MTS AND ITS AFFILIATES, OFFICERS,
        EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS, RELATING TO THE SERVICES SHALL BE LIMITED TO AN AMOUNT EQUAL TO FIVE (5)
        TIMES THE TESTING COST OF THE PARTICULAR SERVICE PERFORMED WHICH GIVES RISE TO SUCH LIABILITY. THE LIMITATIONS AND
        EXCLUSIONS ALSO APPLY IF THIS REMEDY DOES NOT FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL PURPOSE.
        <br/>
        <br/> In the event that MTS is found liable for any loss, damage, or destruction of the goods that are subject to be tested
        by MTS caused by the error, negligence, or willful default or act of MTS or its servants or agents, then, in any
        such case, the liability of MTS shall be limited to the lesser of: (i) the invoice price of the goods or (ii) five
        (5) times the fee paid in relation to the Services provided by MTS, free of any interest.

      </li>
      <li>
        <b>DISPOSAL OF SAMPLES.</b> Without prejudice to MTS’s lien and other rights under Clause 14 hereof, samples not destroyed
        in course of testing may at the sole discretion of MTS deemed abandoned and/or destroyed at the expiration of a period
        of thirty (30) days from the date of the Report unless special arrangements have been made in advance with the Client
        in writing in regards to the disposal thereof.
      </li>
      <li>
        <b> PAYMENT.</b> In the event that the payment terms are not established or negotiated between MTS and the Client, MTS’
        standard rates (which are subject to change) and all applicable taxes shall govern as the payment terms for MTS’
        services.
        <br/>
        <br/> Client agrees to make prompt payment within thirty (30) days from the invoice date or within such other period as
        may be established by MTS as the “Due Date.” In the event that the Client owes payment under any overdue invoices,
        MTS reserves the right to suspend all further performance of its Services and withhold the issuance of any Reports
        until payment of all sums owing to MTS under the aforesaid invoice(s) together with interest at the rate of 1.5%
        per month thereon. The Client agrees to reimburse MTS for any costs it incurs in collecting overdue payment, including
        but not limited to court costs and fees and attorney expenses and collection agencies. Client shall not be entitled
        to retain or defer payment of any sums due to MTS on account of dispute, counterclaim, or set off which it may allege
        against MTS.
        <br/>
        <br/> In any event that the Client requests invoices for Services to be issued to third parties, including but not limited
        to, agents, vendors, and factories, the invoiced third party must meet local credit requirements for the country
        where the invoice is issued, which may include partial or full prepayment. Payment of invoices issued to the requested
        third parties shall remain the responsibility of the Client and shall be reissued to the Client in any event that
        the invoices remain unpaid for longer than sixty (60) days. MTS reserves the right to suspend Services and/or change
        payment terms to full prepayment for Clients with overdue invoices of ninety (90) days or more.

      </li>
      <li>
        <b>ARBITRATION AND CHOICE OF LAW.</b> Any dispute, difference or claim arising out of or in connection with the Terms,
        or the breach, terminations or invalidity thereof if not settled between the parties shall be settled by arbitration.
        The parties hereto may agree to the appointment of an arbitrator or, failing agreement within fourteen (14) days
        after either party has given to the other a written request to concur in the appointment of an arbitration, either
        party may request the Hong Kong International Arbitration Centre (“HKIAC”) to appoint an arbitrator. The place of
        arbitration shall be in Hong Kong SAR at HKIAC. There shall be only one arbitrator. The language to be used in the
        arbitral proceedings shall be English.
        <br/>
        <br/> The arbitration award shall be given in writing and shall be final and binding on the parties, not subject to any
        appeal, and shall deal with the question of costs of arbitration and all matters thereto. Judgment upon the award
        rendered may be entered into any court having jurisdiction or application may be made to such court for a judicial
        recognition of the award or an order of enforcement thereof, as the case may be.
        <br/>
        <br/> The agreements and contracts to which these Terms apply shall be construed in accordance with and governed by the
        laws of Hong Kong Special Administrative Region, and for the purpose of legal proceedings, this agreement shall be
        deemed to have been executed in Hong Kong and to be performed there.


      </li>
      <li>
        <b>MTS’ RIGHTS UNDER NON-PAYMENT.</b> Without prejudice to all or any right MTS may have at Common Law, MTS has the
        following rights in the event of non-repayment or otherwise as set forth below.
        <br/>
        <br/>
        <ul style="list-style-type: none;">
          <li> (a) MTS has a general and particular lien over all samples delivered to be tested for all claims and money owing
            by the client to MTS under any contract whatsoever and in any other way whatsoever.</li>
          <li> (b) Until the contract sums together with interest has been received, during the currency of the said lien, MTS
            is entitled to be paid reasonable storage charges for samples retained in MTS’s custody.</li>
          <li> (c) In case any lien not satisfied within a reasonable time from the date upon which MTS first gave notice of the
            exercise of their lien to the client, the samples in its custody may be sold and the proceeds of sale may be
            applied to the satisfaction of every such lien and all interest, other charges and expenses in relation thereto.</li>
        </ul>
      </li>
      <li>
        <b> FORCE MAJEURE.</b> MTS shall not be liable for any loss or damage caused by delay in the performance or non-performance
        of any of its obligations hereunder where the same is occasioned by any cause whatsoever that is beyond MTS’ control
        including but not limited to an Act of God, war, civil disturbance, requisitioning, governmental or parliamentary
        restrictions of any kind, import or export regulations, strike lockout or trade dispute (whether involving its own
        employees or those of any other persons), difficulties in obtaining workmen, breakdown of machinery, and fire or
        accident. Should any such events occur, MTS may cancel or suspend the contract in question without incurring any
        liability whatsoever for any loss or damage thereby occasioned.
        <br/>
        <br/> In the event that MTS is prevented by any reason whatsoever outside MTS’ control from performing and completing
        its Services for an order made by the Client, the Client agrees to pay MTS the amount of all abortive expenditures
        incurred and a percentage of the agreed fee equal to the percentage of the service actually performed. In such event
        MTS shall be discharged from all responsibility for any and all non-performance of the ordered Services.
        <br/>
        <br/> In the event that any unforeseeable time or costs are incurred in the course of performing its services, MTS shall
        be entitled to render the additional charges to the Client to reasonably reflect the extra time and costs incurred.

      </li>
      <li>
        <b> DELEGATION OF PERFORMANCE.</b> MTS, at its discretion, shall be entitled to delegate the performance of the whole
        or any part of the Services contracted for with the Client to any agent or subcontractor.
        <li>
          <b> SEVERABILITY AND ENTIRETY.</b> These Terms apply to the maximum extent permitted by relevant law. If a court holds
          that we cannot enforce a part of these Terms as written, MTS and Client will replace those terms with similar terms
          to the extent enforceable under the relevant law, but the rest of these Terms will remain in effect. This is the
          entire contract between MTS and the Client regarding the Services. The Terms supersede any prior contract or oral
          or written statements regarding the Services.


        </li>
        <li>
          <b>WAIVER. </b> The failure of either party to insist upon or enforce strict performance of any of the provisions
          of these Terms or to exercise any rights or remedies under these Terms will not be construed as a waiver or relinquishment
          to any extent of such party's right to assert or rely upon any such provision, right or remedy in that or any other
          instance; rather, the same will remain in full force and effect.
        </li>
    </ol>
  </div>

  <div *ngIf="data?.categoryId == 2" class="TermsAndConditions">
    <h2> FACTORY COMPLIANCE AUDIT AND INSPECTION TERMS AND CONDITIONS</h2>

    <ol id="flux">
      <p>
        Modern Testing Services (International) Limited, its subsidiaries, and its affiliates (collectively, “MTS”) will provide
        its Factory Compliance Audit and Inspection services (“Services”) subject to the terms and conditions herein contained
        (“Terms”). The Terms are the only conditions upon which MTS is prepared to deal with the Client, and they shall govern
        this contract to the entire exclusion of any other expressed or implied conditions. The Terms may only be modified
        by a variation expressed specifically in writing signed by a duly authorized representative of MTS.
      </p>
      <li>
        <b> BOOKING LEAD TIME.</b> All requests for Services shall be made at a minimum of three (3) business days prior to the
        desired date of performance of Services. MTS expressly reserves the right to act its own discretion in accepting
        or declining bookings received with less than three (3) business days notice. Additional charges may apply for the
        expedited performance of Services for any accepted bookings received with less than three (3) business days notice.

      </li>
      <li>
        <b>MANDAY RATE.</b> One (1) Manday is defined as one MTS staff member performing Services on one normal working day.
        For purposes of this provision, the performance of Services shall include the travel of a MTS staff member to and
        from the location of where Services are requested. The Manday Rate shall be expressly agreed to in writing between
        MTS and the Client.
        <br/>
        <br/>The normal working days are Monday through Friday, excluding holidays subject to local customs. Any performance of
        Services on Saturdays, Sundays, or holidays shall be charged at one and a half (1.5) times the agreed Manday Rate.

      </li>
      <li>
        <b>OVERTIME WORK.</b> The standard hours for the performance of Services shall be 9:00AM to 6:00PM. Any work done outside
        of the standard hours shall be charged at an overtime rate of $40 (USD) per hour. This overtime rate only applies
        for overtime work performed on Mondays through Fridays of a standard work week, excluding holidays. Subject to Provision
        2 above, any performance of Services on Saturdays, Sundays, or holidays shall be charged at one and a half (1.5)
        times the agreed Manday Rate regardless of how many hours are performed on that Saturday, Sunday, or holiday.

      </li>
      <li>
        <b>ABORTIVE SERVICES.</b> For any Product Inspection Services that cannot be performed due to production levels that
        are incomplete or less than the required percentage for the requested Services, the originally assigned Manday cost
        will be charged to the Client along with any travel expenses incurred. For any requests for During Production Inspection
        (“DPI”), the production level must be at a minimum of twenty percent (20%) in order for MTS to perform the requested
        Service. For any requests for Final Random Inspection (“FRI”), the production level must be at a minimum of eighty
        percent (80%) in order for MTS to perform the requested Service.
        <br/>
        <br/>For any Auditing Services that cannot be performed due to the circumstance that is out of MTS control, the originally
        agreed audit fee will be charged to the Client along with any travel expenses incurred.
      </li>
      <li>
        <b>CANCELLATIONS AND RESCHEDULING.</b> MTS must be notified at least one (1) business day before the Service date for
        any cancellations or rescheduling of Service requests for Product Inspection Services and at least three (3) business
        days for Auditing Services. The originally assigned one (1) Manday cost shall be charged for any failures to make
        timely notification of cancellations and rescheduling of Service requests.
      </li>
      <li>
        <b>EXPENSES.</b> The following expenses incurred by MTS shall be charged to the Client for each Service request:
        <br/>
        <br/> i) Traveling: For all Inspections performed in Asia, the costs of travel shall be charged according to the Travel
        Cost Matrix. For all Services performed in any other locations, the costs of travel shall be agreed to between MTS
        and the Client at the time of the Service request. For all Audits performed in any locations, the cost of travel
        shall be agreed to between MTS and Client at the time of Service request.
        <br/>
        <br/> ii) Accommodation: The costs of accommodation shall be charged to the Client in the following circumstances:
        <br/>
        <br/> 1. Travel is required on the day before or after the performance of Service due to the Service location; or
        <br/>
        <br/> 2. The performance of Service requires two (2) or more days to complete.
        <br/>
        <br/>For all Services performed in Asia, the costs of accommodation shall be charged according to the Travel Cost Matrix.
        For all Services performed in any other locations, the costs of accommodation shall be agreed to between MTS and
        the Client at the time of the Service request.
        <br/>
        <br/> iii) Mailing: All costs of courier or mailing expenses incurred by MTS at the request of the Client shall be charged
        to the Client.
        <br/>
        <br/> iv) In the event that any unforeseeable time or costs are incurred in the course of performing its Services, MTS
        shall be entitled to render additional charges to the Client to reasonably reflect the extra time and costs incurred.
      </li>
      <li>
        <b>EMAIL TRANSMISSIONS.</b> MTS acknowledges that the Client may request to access the ordered Inspection Reports (“Reports”)
        by means of e-mail communication. If the Client requests to access its ordered Reports by e-mail transmission, the
        Client acknowledges that such transmissions will not be encrypted and will no longer be confidential. The Client
        further acknowledges that such transmissions may be intercepted by third parties and modified inadvertently. MTS
        disclaims any and all liability arising out of or in connection with e-mail transmissions of Reports.
      </li>
      <li>
        <b>REPRODUCTION OF REPORTS AND PUBLICITY.</b> Reports shall not be reproduced in full unless prior written authorization
        from MTS has been attained. Reports prepared by MTS are issued subject to the condition that they are not to be made
        public or used in connection with or for the purpose of any advertising, promotional, or publicity undertaking or
        material whatsoever without the prior expressed consent in writing of MTS thereto.

      </li>
      <li>
        <b>DISCLAIMER.</b> All factory compliance audits and inspections are carried out to the best of the knowledge and capability
        of MTS. The Report reflects the findings of MTS at the time and place of the Services and does not relieve sellers
        or manufacturers from their contractual liabilities or prejudice buyers’ right for compensation for any apparent
        and/or hidden defects during the Services carried out by MTS or occurring thereafter. Any Report results are not
        a recommendation for any specific course of action.
        <br/>
        <br/> The assessment results in Reports are based upon samples of records, which were available at the time of request,
        observations, and interviews of both managers and workers. MTS cannot be responsible for report omissions. MTS conducts
        all assessments according to the highest professional standards. However, it must be reminded that each assessment
        is based on a sampling approach. Therefore, there may be issues, which have not been discovered in the course of
        the assessment. It is the responsibility of the auditee to identify those issues through its own monitoring process.

      </li>
      <li>
        <b>RELATIONSHIP OF THE PARTIES.</b> Nothing herein shall be construed to create a partnership, joint venture, or agency
        between the parties. Neither party has the authority to bind the other or incur any obligation on the other party’s
        behalf.
      </li>
      <li>
        <b> WARRANTY.</b> MTS warrants solely to the Client that the Report will be free of any material error or omission caused
        by the negligence of MTS or its servants or agents. Any claim for breach of such warranty shall be made in writing
        to MTS within sixty (60) days after the date of issuance of the Report, and the Client waives any and all claims
        for breach of such warranty unless a timely written claim to MTS is made within the sixty (60) day period. In the
        event that a timely written claim has been made by the Client, MTS, at its sole discretion, may either redo the inspection
        or audit to fix the deficiency without charge to the Client or refund the Client in the amount of the fee paid, free
        of interest.

      </li>
      <li>
        <b>INDEMNIFICATION.</b> In the event that MTS shall suffer any loss or damage as a result of MTS and/or its servants
        and/or its agents carrying out or providing the Services to the Client or on goods supplied by or at the direction
        of the Client other than as a result of MTS’ own error, negligence or willful default, then the Client shall indemnify
        MTS and compensate MTS for such amount of loss or damage suffered.
        <br/>
        <br/> MTS PROVIDES REPORTS, RECOMMENDATIONS, AND ADVICE RELYING ON THE INFORMATION PROVIDED BY THE CLIENT AND ITS AFFILIATES.
        MTS SHALL NOT BE HELD LIABLE FOR ANY CLAIMS DIRECTLY OR INDIRECTLY ARISING OUT OF SERVICES PERFORMED IN CONSIDERATION
        OF THE INCORRECT OR INCOMPLETE INFORMATION AND INSTRUCTIONS RECEIVED FROM THE CLIENT OR ITS AFFILIATES. IN ANY EVENT
        THAT MTS IS HELD LIABLE FOR ANY CLAIMS DIRECTLY OR INDIRECTLY ARISING OUT OF SERVICES PERFORMED IN CONSIDERATION
        OF THE INCORRECT OR INCOMPLETE INFORMATION AND INSTRUCTIONS RECEIVED FROM THE CLIENT OR ITS AFFILIATES, THE CLIENT
        SHALL FULLY GUARANTEE AND INDEMNIFY MTS FOR ANY LOSSES, DAMAGES, OR EXPENSES SUFFERED FROM SUCH CLAIMS, INCUDING
        BUT NOT LIMITED TO ATTORNEY’S FEESe.

      </li>
      <li>
        <b>LIMITED LIABILITY.</b> TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL MTS, ITS AFFILIATES, OFFICERS, EMPLOYEES,
        AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, COVER OR CONSEQUENTIAL
        DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, REVENUE, GOODWILL, USE OR CONTENT) HOWEVER CAUSED,
        UNDER ANY THEORY OF LIABILITY, EVEN IF MTS HAS BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES.
        <br/>
        <br/>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE AGGREGATE LIABILITY OF MTS AND ITS AFFILIATES, OFFICERS, EMPLOYEES,
        AGENTS, SUPPLIERS OR LICENSORS, RELATING TO THE SERVICES SHALL BE LIMITED TO AN AMOUNT EQUAL TO FIVE (5) MANDAY FEES
        OF THE PARTICULAR SERVICE PERFORMED WHICH GIVES RISE TO SUCH LIABILITY. THE LIMITATIONS AND EXCLUSIONS ALSO APPLY
        IF THIS REMEDY DOES NOT FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL PURPOSE.
      </li>
      <li>
        <b> PAYMENT.</b> Client agrees to make prompt payment within sixty (60) days from the invoice date or within such other
        period as may be established by MTS as the “Due Date.” In the event that the Client owes payment under any overdue
        invoices, MTS reserves the right to suspend all further performance of its Services and withhold the issuance of
        any Reports until payment of all sums owing to MTS under the aforesaid invoice(s) together with interest at the rate
        of 1.5% per month thereon. The Client agrees to reimburse MTS for any costs it incurs in collecting overdue payment,
        including but not limited to court costs and fees and attorney expenses and collection agencies. Client shall not
        be entitled to retain or defer payment of any sums due to MTS on account of dispute, counterclaim, or set off which
        it may allege against MTS.
        <br/>
        <br/> In any event that the Client requests invoices for Services to be issued to third parties, including but not limited
        to, agents, vendors, and factories, the invoiced third party must meet local credit requirements for the country
        where the invoice is issued, which may include partial or full prepayment. Payment of invoices issued to the requested
        third parties shall remain the responsibility of the Client and shall be reissued to the Client in any event that
        the invoices remain unpaid for longer than sixty (60) days. MTS reserves the right to suspend Services and/or change
        payment terms to full prepayment for Clients with overdue invoices of ninety (90) days or more.

      </li>
      <li>
        <b> FORCE MAJEURE.</b> MTS shall not be liable for any loss or damage caused by delay in the performance or non-performance
        of any of its obligations hereunder where the same is occasioned by any cause whatsoever that is beyond MTS’ control
        including but not limited to an Act of God, war, civil disturbance, requisitioning, governmental or parliamentary
        restrictions of any kind, import or export regulations, strike lockout or trade dispute (whether involving its own
        employees or those of any other persons), difficulties in obtaining workmen, breakdown of machinery, and fire or
        accident. Should any such events occur, MTS may cancel or suspend the contract in question without incurring any
        liability whatsoever for any loss or damage thereby occasioned.
        <br/>
        <br/>In the event that MTS is prevented by any reason whatsoever outside MTS’ control from performing and completing its
        Services for an order made by the Client, the Client agrees to pay MTS the amount of all abortive expenditures incurred
        and a percentage of the agreed fee equal to the percentage of the service actually performed. In such event MTS shall
        be discharged from all responsibility for any and all non-performance of the ordered Services.
      </li>
      <li>
        <b>ARBITRATION AND CHOICE OF LAW.</b> Any dispute, difference or claim arising out of or in connection with the Terms,
        or the breach, terminations or invalidity thereof if not settled between the parties shall be settled by arbitration.
        The parties hereto may agree to the appointment of an arbitrator or, failing agreement within fourteen (14) days
        after either party has given to the other a written request to concur in the appointment of an arbitration, either
        party may request the Hong Kong International Arbitration Centre (“HKIAC”) to appoint an arbitrator. The place of
        arbitration shall be in Hong Kong SAR at HKIAC. There shall be only one arbitrator. The language to be used in the
        arbitral proceedings shall be English.
        <br/>
        <br/>The arbitration award shall be given in writing and shall be final and binding on the parties, not subject to any
        appeal, and shall deal with the question of costs of arbitration and all matters thereto. Judgment upon the award
        rendered may be entered into any court having jurisdiction or application may be made to such court for a judicial
        recognition of the award or an order of enforcement thereof, as the case may be.
        <br/>
        <br/>The agreements and contracts to which these Terms apply shall be construed in accordance with and governed by the
        laws of Hong Kong Special Administrative Region, and for the purpose of legal proceedings, this agreement shall be
        deemed to have been executed in Hong Kong and to be performed there.
      </li>
      <li>
        <b>SEVERABILITY AND ENTIRETY.</b> These Terms apply to the maximum extent permitted by relevant law. If a court holds
        that we cannot enforce a part of these Terms as written, you and MTS will replace those terms with similar terms
        to the extent enforceable under the relevant law, but the rest of these Terms will remain in effect. This is the
        entire contract between MTS and the Client regarding the Services. The Terms supersede any prior contract or oral
        or written statements regarding the Services.
      </li>
      <li>
        <b>WAIVER.</b> The failure of either party to insist upon or enforce strict performance of any of the provisions of
        these Terms or to exercise any rights or remedies under these Terms will not be construed as a waiver or relinquishment
        to any extent of such party's right to assert or rely upon any such provision, right or remedy in that or any other
        instance; rather, the same will remain in full force and effect.
      </li>
    </ol>
  </div>

</div>

<div class="stepsContentFooter">
  <span class="pull-left checkboxMTS checkboxMTS-primary termsConditionCheck">
    <input id="termsCondition" type="checkbox" class="textLeft" (change)="termsClick($event)" [disabled]="true">
    <label for="termsCondition" class="termsConditionLink" style="color:red!important;" (change)="termsClick($event)">Please review the entirety of the Terms and Conditions and click on the box to agree</label>
    <!-- <span style="color:red"> (*Please review the entirety of the Terms and Conditions and click on the box to agree)</span> -->
  </span>
  <!--<a href="javascript:void(0)" class="pull-left termsConditionLink" > I agree to above terms & conditions</a>-->
  <!--(click)="openTerms()"-->
  <button clickOnce id="" class="btn btn-payPal continuePayPalBtn" data-target="MakePayment" (click)="InitiatePayment()" data-hide="ReviewOrder"
    [disabled]="disablePayment"></button>
  <button (click)="backClick()" id="backReview" class="btn btn-default backBtn" data-target="RequestForm" data-hide="ReviewOrder">Back</button>
</div>

<div class="modal fade" id="termsOfUseOrder" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md uploadReportModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Terms Of Use</h4>
      </div>
      <div class="footer-modal-body">
        <section class="filter dashboardfilter padding">
          <div>
            <b class="background"> Terms and Conditions</b>
          </div>
          <br>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">1 - INTRODUCTION</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color"> 6 - INDEMNIFICATION</span>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color"> 2 - USE OF CONTENT</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">7 - AMENDMENT</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">3 - THIRD-PARTY CONTENT AND SERVICES</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color"> 8 - GOVERNING LAW</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color"> 4 - DISCLAIMER OF WARRANTY/ACCURACY OF CONTENT</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">9 - SEVERABILITY</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">5 - DISCLAIMER OF LIABILITY</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">10 - WAIVER</span>
            </div>
          </div>

          <br>
          <div style="margin-top: 100px;" id="1">
            <b class="background">1. INTRODUCTION</b>
            <p> Welcome to the Internet site (“Site”) of Modern Testing Services (Global) Limited and its affiliates (collectively,
              “MTS”). Please read these terms of use ("Terms") in detail as they create a contract between you and MTS that
              governs your use of the Site provided by MTS. BY USING THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU
              DO NOT AGREE TO BE BOUND BY THESE TERMS, YOU MUST NOT USE THIS SITE. Please note that special terms apply to
              some services offered on this Site, like ProCompliance and Online FCAI Booking. These terms are posted in connection
              with the applicable service. Any such terms are in addition to these Terms, and in the event of a conflict,
              prevail over these Terms. You acknowledge that these Terms are supported by reasonable and valuable consideration,
              the receipt and adequacy of which are hereby acknowledged. Without limiting the generality of the foregoing,
              you acknowledge that such consideration includes your use of the Site and receipt of data, materials and information
              available at or through the Site.
            </p>
          </div>
          <br>

          <div id="2">
            <b class="background"> 2. USE OF CONTENT</b>
            <p> All information, materials, functions and other content (collectively, “Content”) contained in the Site are MTS’
              copyrighted property or the copyrighted property of MTS’ licensors or licensees. All trademarks, services marks,
              trade names, and trade dress are proprietary to MTS and/or MTS’ licensors or licensees. MTS may change the
              Site or delete Content or features at any time, in any way, for any or no reason. Unless MTS specifically agrees
              in writing, no Content from the Site may be used, reproduced, transmitted, distributed or otherwise exploited
              in any way other than as part of the Site, except that where the Site is configured to enable the download
              of particular Content, you may download such Content for your business use with MTS only, provided that you
              (1) keep intact all copyright and other proprietary notices, and (2) make no modifications to the Content.
              In the event that MTS offers downloads of software on the Site and you download such software, the software,
              including any files, images incorporated in or generated by the software, and data accompanying the software
              (collectively, the “Software”) are licensed to you by MTS or third-party licensors for your business use with
              MTS only. MTS does not transfer title to the Software to you. You may not distribute or otherwise exploit the
              Software or decompile, reverse engineer, disassemble or otherwise reduce the Software to a human-readable form.
            </p>
          </div>
          <br>

          <div id="3">
            <b class="background">3. THIRD-PARTY CONTENT AND SERVICES </b>
            <p>The Site may contain features and functionalities linking you or providing you with certain functionality and
              access to third-party Content, including systems, information and databases, applications, programs, and products
              or services; you acknowledge that MTS is not responsible for such Content or services. MTS is not an agent
              of any third-party. Any such transactions or activities associated with third-party Content, and any terms
              and conditions associated with such third-party Content, are solely between you and the applicable third-party.
              Similarly, MTS is not responsible for any third-party Content you access with the Site, and you irrevocably
              waive any claim against MTS with respect to such third-party Content. MTS shall have no liability, obligation
              or responsibility for any transactions and activities between you and any such third-party. You should make
              whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction
              with any of these third-parties.
            </p>
          </div>
          <br>

          <div id="4">
            <b class="background">4. DISCLAIMER OF WARRANTY/ACCURACY OF CONTENT</b>
            <p>Although an effort is made to assure the accuracy and completeness of the Content provided on the Site, MTS makes
              no express or implied warranty as to the accuracy, adequacy, completeness, legality, reliability or usefulness
              of the Site's Content. While there may be changes to the Content covered on the Site, these changes may or
              may not be made available on the Site. If you have obtained information from the Site from a Web server source
              other than the MTS host server, be aware that Site Content or services can be altered or changed after they
              are first made available on the Site. MTS PROVIDES THE SITE AND SERVICES "AS IS". TO THE MAXIMUM EXTENT PERMITTED
              BY APPLICABLE LAW, MTS MAKES NO (AND SPECIFICALLY DISCLAIMS ALL) REPRESENTATIONS OR WARRANTIES OF ANY KIND,
              WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY THAT THE SITE
              WILL BE UNINTERRUPTED, ERROR-FREE OR FREE OF HARMFUL COMPONENTS, THAT THE CONTENT WILL BE SECURE OR NOT OTHERWISE
              LOST OR DAMAGED, OR ANY IMPLIED WARRANTY OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR
              PURPOSE, OR NON-INFRINGEMENT, AND ANY WARRANTY ARISING OUT OF ANY COURSE OF PERFORMANCE, COURSE OF DEALING
              OR USAGE OF TRADE. SOME JURISDICTIONS DO NOT ALLOW THE FOREGOING EXCLUSIONS. IN SUCH AN EVENT SUCH EXCLUSION
              WILL NOT APPLY SOLELY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.</p>
          </div>
          <br>

          <div id="5">
            <b class="background">5. DISCLAIMER OF LIABILITY</b>
            <p> MTS shall be not held liable for any improper or incorrect use of the Content on the Site and assume no responsibility
              for anyone's use of the Content on the Site. MTS shall not be held liable for any direct or indirect damages
              caused in any way through the use of Content on the Site. TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT
              WILL MTS, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A): ANY INDIRECT,
              INCIDENTAL, SPECIAL, PUNITIVE, COVER OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST
              PROFITS, REVENUE, GOODWILL, USE OR CONTENT) HOWEVER CAUSED, UNDER ANY THEORY OF LIABILITY, EVEN IF MTS HAS
              BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE
              AGGREGATE LIABILITY OF MTS AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS, RELATING
              TO THE PLATFORM WILL BE LIMITED TO AN AMOUNT EQUAL TO ONE YEAR OF YOUR SUBSCRIPTION FEE FOR THE SITE. THE LIMITATIONS
              AND EXCLUSIONS ALSO APPLY IF THIS REMEDY DOES NOT FULLY COMPENSATE YOU FOR ANY LOSSES OR FAILS OF ITS ESSENTIAL
              PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES. IN SUCH
              AN EVENT THIS LIMITATION WILL NOT APPLY TO YOU TO THE EXTENT PROHIBITED BY LAW.
            </p>
          </div>
          <br>

          <div id="6">
            <b class="background">6. INDEMNIFICATION</b>
            <p> To the extent permitted by law, you will defend MTS against any cost, loss, damage, or other liability arising
              from any third-party demand or claim from your use of the Site. MTS will reasonably notify you of any such
              claim or demand that is subject to your indemnification obligation.
            </p>
          </div>
          <br>

          <div id="7">
            <b class="background">7. AMENDMENT</b>
            <p> MTS reserves the right to modify or replace these Terms at any time in its sole discretion. MTS will indicate
              at the top of these Terms the date these Terms were last updated. Any changes will be effective upon posting
              the revised version of these Terms on the Site (or such later effective date as may be indicated at the top
              of the revised Terms). Therefore, MTS encourages you to check the date of these Terms whenever you use the
              Site to see if these Terms have been updated. Your continued access or use of any portion of the Site constitutes
              your acceptance of such changes. If you don't agree to any of the changes, MTS is not obligated to keep providing
              access to the Site, and you must stop using the Site.
            </p>
          </div>
          <br>

          <div id="8">
            <b class="background">8. GOVERNING LAW</b>
            <p> These Terms are governed by the laws of the Commonwealth of Massachusetts. Any dispute arising from these Terms
              and the use of the Site will be governed by the laws of the Commonwealth of Massachusetts.
            </p>
          </div>
          <br>

          <div id="9">
            <b class="background">9. SEVERABILITY </b>
            <p>These Terms apply to the maximum extent permitted by relevant law. If a court holds that we cannot enforce a
              part of these Terms as written, you and MTS will replace those terms with similar terms to the extent enforceable
              under the relevant law, but the rest of these Terms will remain in effect. This is the entire contract between
              you and MTS regarding the Site. The Terms supersede any prior contract or oral or written statements regarding
              your use of the Site.
            </p>
          </div>
          <br>

          <div id="10">
            <b class="background">10. WAIVER </b>
            <p> failure of either party to insist upon or enforce strict performance of any of the provisions of these Terms
              or to exercise any rights or remedies under these Terms will not be construed as a waiver or relinquishment
              to any extent of such party's right to assert or rely upon any such provision, right or remedy in that or any
              other instance; rather, the same will remain in full force and effect.
            </p>
          </div>
          <br>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="privacyPolicyOrder" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md uploadReportModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>
      <div class="footer-modal-body">

        <section class="filter dashboardfilter padding">
          <div>
            <b class="background"> Privacy Policy</b>
          </div>
          <br>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">1 - What information do we collect?</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">6 - Children’s Online Privacy Protection Act Compliance</span>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">2 - What do we use your information for?</span>

            </div>
            <div class="col-lg-4">
              <span class="text-color">7 - Online Privacy Policy Only</span>

            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">3 - Do we use cookies? </span>

            </div>
            <div class="col-lg-4">
              <span class="text-color">8 - Your Consent</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">4 - Do we disclose any information to outside parties?</span>
            </div>
            <div class="col-lg-4">
              <span class="text-color">9 - Changes to our Privacy Policy</span>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-4">
              <span class="text-color">5 - California Online Privacy Protection Act Compliance</span>
            </div>
          </div>

          <br>
          <div style="margin-top: 100px;" id="1">
            <b class="background">1. What information do we collect?</b>
            <p> We collect information from you when you register on our site, place an order or fill out a form. When ordering
              or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address,
              phone number, credit card information or social security number. You may, however, visit our site anonymously.
            </p>
          </div>
          <br>

          <div id="2">
            <b class="background"> 2. What do we use your information for?</b>
            <p> Any of the information we collect from you may be used in one of the following ways: - To personalize your experience
              (your information helps us to better respond to your individual needs) - To improve our website (we continually
              strive to improve our website offerings based on the information and feedback we receive from you) - To improve
              customer service (your information helps us to more effectively respond to your customer service requests and
              support needs) - To process transactions Your information, whether public or private, will not be sold, exchanged,
              transferred, or given to any other company for any reason whatsoever, without your consent, other than for
              the express purpose of delivering the purchased product or service requested. - To send periodic emails The
              email address you provide for order processing, may be used to send you information and updates pertaining
              to your order, in addition to receiving occasional company news, updates, related product or service information,
              etc.
            </p>
          </div>
          <br>

          <div id="3">
            <b class="background">3. Do we use cookies? </b>
            <p>We do not use cookies.
            </p>
          </div>
          <br>

          <div id="4">
            <b class="background">4. Do we disclose any information to outside parties?</b>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This
              does not include trusted third parties who assist us in operating our website, conducting our business, or
              servicing you, so long as those parties agree to keep this information confidential. We may also release your
              information when we believe release is appropriate to comply with the law, enforce our site policies, or protect
              ours or others rights, property, or safety. However, non-personally identifiable visitor information may be
              provided to other parties for marketing, advertising, or other uses.</p>
          </div>
          <br>

          <div id="5">
            <b class="background">5. California Online Privacy Protection Act Compliance</b>
            <p> Because we value your privacy we have taken the necessary precautions to be in compliance with the California
              Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties
              without your consent. As part of the California Online Privacy Protection Act, all users of our site may make
              any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile'
              page.
            </p>
          </div>
          <br>


          <div id="6">
            <b class="background">6. Children’s Online Privacy Protection Act Compliance</b>
            <p> We are in compliance with the requirements of COPPA (Children’s Online Privacy Protection Act), we do not collect
              any information from anyone under 13 years of age. Our website, products and services are all directed to people
              who are at least 13 years old or older.
            </p>
          </div>
          <br>

          <div id="7">
            <b class="background">7. Online Privacy Policy Only</b>
            <p> This online privacy policy applies only to information collected through our website and not to information collected
              offline.
            </p>
          </div>
          <br>

          <div id="8">
            <b class="background">8. Your Consent</b>
            <p> By using our site, you consent to our Privacy Policy.
            </p>
          </div>
          <br>

          <div id="9">
            <b class="background">9. Changes to our Privacy Policy </b>
            <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you
              of any changes, and/or update the Privacy Policy modification date below. This policy was last modified on
              January 22nd, 2013.
            </p>
          </div>
          <br>
        </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>