a {
    text-decoration: underline;
  }

  .text-color{
      color:#23527c;
  }


  .eye-cl{
    color: #3a7ab7;
    /* font-weight: 600; */
    font-size: 17px;
}

.offer-list{
    background-color: #3a7ab7;
    margin-bottom: 5px;
    min-height: 50px;
}
.margin-left-cs{
    margin: 15px;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 15px;
    color: white;
}

.margin-right-cs{
    margin: 15px;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 15px;
    color: white;
    text-align: end
}



.coupon {
    border: 5px dotted #bbb;
    width: 90%;
    border-radius: 15px;
    margin: 5px auto;
    max-width: 600px;
    padding: 5px;
}

.container-div {
    padding: 2px 16px;
    /* background-color: #f1f1f1; */
    background-color: #3a7ab7;
    /* margin-top: 20px; */
}

.container-header {
    padding: 2px 16px;
    background-color: #3a7ab7;
    margin-top: 20px;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: white;
}

.zoom {
    padding: 10px;
    transition: transform .2s;
    margin: 15px auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-center{
    text-align: center;
}

.span-right{
    float: right;
    margin-bottom: 5px;
}

.btn-bg{
    background: #5cb85c;
    color: white;
}

.discount_caption{
    text-align:right;font-size: 12px;
}

.apply-offer{
    cursor: pointer;
    color: #337ab7;
}