<body class="loginBg">
  <div class="warpper-inner">
    <div class="content-inside">
      <header>
        <div class="dashTopNav ">
          <div class="">
            <div class="logo">
              <a href="">
                <img src="asset/img/logo1.jpg" class="img-responsive" alt="" />
              </a>
            </div>
            <div class="navRight">
              <div class="dropdown myAccount">
                <a id="dLabel" data-toggle="dropdown">
                  <span class="img">
                    <img src="{{UserProfileimg}}" class="img-responsive" alt="" />
                  </span>
                  <span class="user">{{userDetail.FirstName}} {{userDetail.LastName}}</span>
                </a>

                <ul class="dropdown-menu myAccountList" aria-labelledby="dLabel">
                  <li>Email ID: {{userDetail.EmailId}}</li>
                  <li>
                    <a>Client: {{userDetail.CompanyName}}</a>
                  </li>
                  <li class="active">
                    <a href="" (click)="logOut()" class="active">Logout</a>
                  </li>
                </ul>
              </div>
              <!--<div class="notification"><p><span class="badge">4</span><span class="icon"></span></p></div>-->
              <div class="searchContainer">
                <div class="search">
                  <input type="search" class="" placeholder="Search..." />
                  <i class="fa fa-search"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </header>

      <section class="client">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="clientBody">
                <!--<div class="modelInput">
                  <label for="UserName">Business Category</label>
                     <select name=" " class="SlectBox" >
                      <option value="">Select Business Category </option>
                      <option value="">Category 1 </option>
                      <option value="">Category 2  </option>
                      <option value="">Category 3  </option>
                     </select>
                  </div>-->
                <!-- <div class="modelInput">
                        <label for="UserName">Company </label>
                        <select name=" " class="SlectBox" [(ngModel)]="selectedCompany">
                          <option [ngValue]="company.CompanyId" *ngFor="let company of companyList">{{company.CompanyName}}</option>
                        </select>
                      </div> -->
      
                <div class="modelInput  inputDesign autoComplete">
                  <label for="UserName">Company</label>
                  <input auto-complete [(ngModel)]="selectedClientCompany" [source]="companyList" [disabled]="!companyList" placeholder="Select Company"
                    display-property-name="CompanyName" value-property-name=null style="margin-bottom: 0px;" [list-formatter]="renderCompany"
                    close-on-focusout="true" />
                </div>
      
                <button type="button" class="btn btn-primary" (click)="goToDashboard()">Go</button>
                <!--<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>-->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="client">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 nodadding">
                          <div class="clientBody">
                              <div class="modelInput">
                                  <label for="UserName">Business Category</label>
                                  <select name=" " class="SlectBox" >
                                      <option value="">Select Business Category </option>
                                      <option value="">Category 1 </option>
                                      <option value="">Category 2  </option>
                                      <option value="">Category 3  </option>
                                  </select>
                              </div>
                              <div class="modelInput">
                                  <label for="UserName">Company </label>
                                  <select name=" " class="SlectBox" >
                                      <option value="">Select Company </option>
                                      <option value="">Company 1 </option>
                                      <option value="">Company 2  </option>
                                      <option value="">Company 3  </option>
                                  </select>
                              </div>

                              <button type="button" class="btn btn-primary" data-dismiss="modal">Go</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          </div>
                      </div>
                  </div>
              </div>
          </section>-->
    </div>
  </div>
  <custom-footer></custom-footer>
</body>