<body class="" *ngIf="userCredential && userDetail">
    <div class="warpper-inner">
        <div class="content-inside">
            <custom-header></custom-header>
            <div *ngIf="isLoader">
                <div class="loading-dialog"></div>
            </div>
            <section class="breadcrum_bg">
                <div class="container-fluid">
                    <p>
                        <a href="" [routerLink]=" ['/dashboard']">Dashboard </a>
                        <img src="asset/img/angle-right.png" />
                        <a> ADMIN </a>
                        <img src="asset/img/angle-right.png">
                        <a href="" [routerLink]=" ['/admin/manage-users']"> Manage Users </a>
                        <img src="asset/img/angle-right.png" /> Assign Roles
                    </p>
                </div>
            </section>
            <section class="filter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h3 class="filterSearchLabel wow fadeIn">Search</h3>
                            <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                            <div id="Filterbtn" class="collapse in wow fadeIn">
                                <div class="row form inputDesign">
                                    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
                                        <label for="UserName">User Name</label>
                                        <input type="" [(ngModel)]="assignedRoleListData.UserName" name="UserName" placeholder="" />
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
                                        <label for="UserEmail">User Email</label>
                                        <input type="" [(ngModel)]="assignedRoleListData.EmailId" name="UserEmail" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="assignRoleFilter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                            <div>
                                <div class="row form inputDesign">
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                        <label for="UserName">User Category </label>
                                        <select name="" [(ngModel)]="assignedRoleListData.UserCategoryId" class="SlectBox" placeholder="Select User Category">
                                            <option [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList" [disabled]="category.UserCategoryId == 0">{{category.UserCategoryName}} </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" [hidden]="assignedRoleListData.UserCategoryId==1">
                                        <label for="UserName">Business Category</label>
                                        <select name="" [(ngModel)]="selectedBusinessCategory" class="SlectBox" placeholder="Select Business Category" (ngModelChange)="getBusinessCategory()">
                                            <!--<option  [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>-->
                                            <!-- <option value="0" disabled>Select Business Category</option> -->
                                            <option value="1">Testing</option>
                                            <option value="2">Inspection</option>
                                            <option value="3">Audit</option>
                                            <option value="5">Green Product</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 " [hidden]="assignedRoleListData.UserCategoryId==1">
                                        <label for="UserName">Company Name</label>
                                        <select disabled="true" name="" [(ngModel)]="assignedRoleListData.UserCompanyId" class="SlectBox" placeholder="Select User Category">
                                            <option [ngValue]="company.CompanyId" *ngFor="let company of companyList">{{company.CompanyName}} </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                        <button type="button" *ngIf="assignedRoleListData.UserCategoryId==1" data-toggle="modal" class="btn btn-success searchBtn lableCtrlBtn"
                                            (click)="modalPopUp()" [disabled]="assignedRoleListData.UserCategoryId==0"> Assign Role</button>

                                        <button type="button" *ngIf="assignedRoleListData.UserCategoryId!=1" data-toggle="modal" class="btn btn-success searchBtn lableCtrlBtn"
                                            (click)="modalPopUp()" [disabled]="assignedRoleListData.UserCategoryId==0 || assignedRoleListData.UserCompanyId==0 ">
                                            Assign Role</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="DataGrid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                            <h3>Assigned Roles</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th width="20%">Client Name</th>
                                            <th width="20%">Business Category </th>
                                            <th width="40%">Roles </th>
                                            <th width="20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of assignedRoleListData.AssignedRoleList">  
                                            <td>{{user.AssignedCompanyName}}</td>
                                            <td>{{user.AssignedBusinessCategoryName}}</td>
                                            <td>{{user.assignedRoleStringyFy}}</td>
                                            <td>
                                                <button data-toggle="modal" type="button" class="btn btn-warning btn-sm" (click)="editRole(user)">Edit</button>
                                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteRole(user)">Delete</button>
                                                <button *ngIf="user.AssignedCompanyId ==386 && user.AssignedBusinessCategoryID==1" class="btn btn-primary-one searchBtn textcolor" (click)="openSFTRFPermissionPopup()">SF
													TRF Permission</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--<div class="assignRoleSaveBtn">
          <button type="button" class="btn btn-success savebtn" > Save </button>
          <button type="button" class="btn btn-default cancelbtn" >Cancel</button>
      </div>-->
        </div>
    </div>

    <custom-footer></custom-footer>


    <!-- Modal -->
    <div data-backdrop="static" data-keyboard="false" class="modal fade" id="assignRole" role="dialog">
        <div class="modal-dialog modal-md ">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" (click)="closeDialog()">&times;</button>
                    <h4 class="modal-title">Assign Role</h4>
                </div>
                <div class="modal-body ">

                    <div class="modelInput">
                        <label for="UserName">Category</label>
                        <select name="" [(ngModel)]="selectedCategory" class="SlectBox" placeholder="Select a Category" [disabled]="isEditRole" (change)="categoryChange()">
                            <option value="0">Select Business Category</option>
                            <option value="1">Testing</option>
                            <option value="2">Inspection</option>
                            <option value="3">Audit</option>
                            <option value="5">Green Product</option>
                            <!--<option  [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>-->
                        </select>
                    </div>

                    <!-- <div class="modelInput">
                        <label for="UserName">Client Name</label>
                        <select name="" [(ngModel)]="selectedCompany" class="SlectBox" placeholder="Select a Company" [disabled]="isEditRole">
                            <option [ngValue]="company.CompanyId" *ngFor="let company of mappedCompanyList" [disabled]="company.CompanyId == 0">{{company.CompanyName}} </option>
                        </select>
                    </div> -->

                    <div class="modelInput  inputDesign autoComplete">
                        <label for="UserName">Client Name</label>                                 
                       <input auto-complete [(ngModel)]="selectedClientCompany" [source]="mappedCompanyList" [disabled]="isEditRole || !mappedCompanyList" placeholder="Select Company" display-property-name="CompanyName"
                         value-property-name=null style="margin-bottom: 0px;"  [list-formatter]="renderCompany" close-on-focusout="true" />
                </div>

                    <div class="modelInput multiselectcheck">
                        <label for="UserName">Roles </label>
                        <ss-multiselect-dropdown class="SlectBox" [(ngModel)]="selectedRole" [options]="roleList" [texts]="selectRoleText"></ss-multiselect-dropdown>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="assignRole(assign)">Save</button>
                    <button type="button" class="btn btn-default" (click)="closeDialog()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="sfPopupPermission" role="dialog">
        <div class="modal-dialog" style="width: 450px;">
    
            <!-- Modal content-->
            <div class="modal-content" style="min-height: 270px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="resetPopup()">&times;</button>
                    <h4 class="modal-title">SF TRF Permission</h4>
                </div>
                <div class="modal-body">
                    <div class="row  inputDesign autoComplete">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
                            <label for="UserName">Select Client</label>
                            <select name="" [(ngModel)]="selectedClient" class="SlectBox" placeholder="Select Client">
                                <option value="0" selected disabled>Select Client</option>
                                <option value="1">StitchFix</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row  inputDesign autoComplete">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
                            <label for="UserName">Select TRF Type</label>
                            <div class="custom_box modelSelect">
                                <select name="" [(ngModel)]="selectedTRFPermissionType" class="SlectBox" placeholder="Select Client">
                                    <option value="0" selected disabled>Select TRF Type</option>
                                    <option value="1">Manual TRF</option>
                                    <option value="2">Automated TRF</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <button type="button" class="btn btn-primary" style="float:right;" (click)="updateSFTRFTypePermission()"
                         [disabled]="selectedClient==0 || selectedTRFPermissionType ==0">UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>