
.offer-container{
    display: flex;
    margin:auto;
    border:1px solid #cecccc;
    background: #fff;
    width: 100%;
}

.Form-Section{
    border: 1px solid #cecccc;
    margin: 16px;
    background: #fff;
    min-height: 50px;
    height: 100%;
    width: 41%;
    padding: 11px 26px 0px;
    position: relative;
}

.Offertable-container{
    border: 1px solid #cecccc;
    min-width: 60%
}
.OfferSave-btn{
    float: right; 
    color: white;
    margin:11px;
    width: 119px;
}