<body>
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> ADMIN </a>
            <img src="asset/img/angle-right.png">
            <a href="" [routerLink]=" ['/admin/manage-promooffer']">Manage PromoOffer</a>
            <span *ngIf="!this.editOfferScreen">
              <img src="asset/img/angle-right.png"> Add Offer</span>
            <span *ngIf="this.editOfferScreen">
              <img src="asset/img/angle-right.png"> Edit Offer</span>
          </p>
        </div>
      </section>

      <div class="offer-container">
        <section class="Form-Section">
          <form (ngSubmit)="addOfferForm.valid && validateValidFrom() && compareDate() && addUpdateOffer(addOfferForm)" #addOfferForm="ngForm">
            <div style="margin: 9px 0px 9px 0px;">
              <span style="margin-right: 38px;" *ngFor="let category of bussinessCategories;let i=index;">
                <!-- <input type="checkbox" id="{{i}}" [(ngModel)]="category.SelectedCategory" name="options{{i}}" value="{{category.Id}}" (change)="handleCategories($event, i)"
              /> -->
                <input id="checkbox{{i}}" (change)="selectionCheck($event,i);" [(ngModel)]="category.SelectedCategory" name="selectedCategory{{i}}"
                  type="checkbox">
                <strong> {{category.Value}}</strong>
              </span>
              <div *ngIf="addOfferForm.submitted && !validationObj.BusinessCategory" class="alert alert-danger" style="padding: 3px;margin-top: 7px;">
                {{validateMessage.BusinessCategoryMsg}}
              </div>
            </div>

            <div *ngIf="offerTypeList" class="row inputDesign CompanyMappingBody">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <select (change)="selectOfferType()" [(ngModel)]="addOfferModel.OfferTypeId" name="offerId" class="SlectBox" #offerId="ngModel">
                  <option value="0">--Select Offer Type--</option>
                  <option *ngFor="let offer of offerTypeList;" value="{{offer.OfferTypeId}}">{{offer.OfferTypeName}}
                  </option>
                </select>
                <div *ngIf="addOfferForm.submitted && (offerId.value == 0)" class="alert alert-danger" style="padding: 3px;">
                  Offer Type is required.
                </div>
              </div>
            </div>


            <div class="row inputDesign CompanyMappingBody" *ngIf="addOfferModel?.OfferTypeId==6">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <select (change)="validateSelectUseDropdown()" (change)="resetModel()" name="forNewUser" [(ngModel)]="addOfferModel.ForNewUser"
                  class="SlectBox" required #forNewUser="ngModel">
                  <option value="0">--Select User Status--</option>
                  <option value="1">For New User</option>
                  <option value="2">For All User</option>
                </select>
                <div *ngIf="addOfferForm.submitted && (forNewUser.value == 0)" class="alert alert-danger" style="padding: 3px;">
                  User Status is required.
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="margin-top: 2px;">
                <select [(ngModel)]="addOfferModel.ForOneTimeUse" class="SlectBox" name="forOneTimeUse" [disabled]="addOfferModel.ForNewUser==0 || addOfferModel.ForNewUser==1"
                  #forOneTimeUse="ngModel">
                  <option value="0">--Select Use--</option>
                  <option value="1">One Time</option>
                  <option value="2">Recurrent Use</option>

                </select>
                <div *ngIf="addOfferForm.submitted && (forOneTimeUse.value == 0)" class="alert alert-danger" style="padding: 3px;">
                  Use is required.
                </div>
              </div>
            </div>

            <div style="margin-bottom: 14px">
              <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                  <!-- <ngx-datepicker name="model" [(ngModel)]="model"></ngx-datepicker> -->
                  <angular2-date-picker [(ngModel)]="addOfferModel.ValidFrom" (onDateSelect)="onDateSelect($event, true)" name="validFrom" [settings]="validDateSelection" #validFrom="ngModel"></angular2-date-picker>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                  <angular2-date-picker [(ngModel)]="addOfferModel.ValidTo" (onDateSelect)="onDateSelect($event, false)" name="dateTo" [settings]="validDateSelection"
                    #validTo="ngModel"></angular2-date-picker>
                </div>
              </div>
              <div *ngIf="addOfferForm.submitted && (!validateValidFrom() || !compareDate())" class="alert alert-danger" style="margin-top: 12px; padding: 3px;">
                <div *ngIf="!validateValidFrom()">Offer From Date can not be less than current Date.</div>
                <div *ngIf="validateValidFrom() && !compareDate()">Offer To Date can not be less than Offer From Date.</div>
              </div>
            </div>

            <div class="row  inputDesign ">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input type="text" name="offerName" [pattern]="whiteSpace" placeholder="Offer Name" [(ngModel)]="addOfferModel.OfferName"
                  required #offerName="ngModel">
                <div *ngIf="addOfferForm.submitted && !offerName.valid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="offerName?.errors.required">Offer Name is required.</div>
                  <div *ngIf="offerName?.errors?.pattern">Offer Name is not valid.</div>
                </div>
              </div>
            </div>


            <div class="row  inputDesign ">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input type="text" name="offerTitle" [pattern]="whiteSpace" placeholder="Offer Title" [(ngModel)]="addOfferModel.OfferTitle"
                  required #offerTitle="ngModel">
                <div *ngIf="addOfferForm.submitted && offerTitle.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="offerTitle?.errors.required">Offer Title is required.</div>
                  <div *ngIf="offerTitle?.errors?.pattern">Offer Title is not valid.</div>
                </div>
              </div>
            </div>

            <div class="row  inputDesign ">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <input type="text" name="offerCode" [pattern]="whiteSpace" placeholder="Promo Code" (blur)="checkValidation('required', 'text', addOfferModel.OfferCode, 'OfferCode')"
                  [(ngModel)]="addOfferModel.OfferCode" (keydown.space)="$event.preventDefault()"  #offerCode="ngModel" required>
                <div *ngIf="addOfferForm.submitted && offerCode.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="offerCode?.errors.required">Promo Code is required.</div>
                  <div *ngIf="offerCode?.errors?.pattern">Promo Code is not valid.</div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <input type="number" step=".01" min="0.01" name="offerPercentDiscount" placeholder="Discount" [(ngModel)]="addOfferModel.OfferPercentDiscount"
                  (keydown)="restrictEKey($event)"  required #offerPercentDiscount="ngModel">
                <div *ngIf="addOfferForm.submitted && (offerPercentDiscount.invalid || offerPercentDiscount.value <= 0)" class="alert alert-danger"
                  style="padding: 3px;">
                  <div *ngIf="offerPercentDiscount?.errors?.required">Discount is required.</div>
                  <div *ngIf="!offerPercentDiscount?.errors?.required && offerPercentDiscount.value <= 0">Discount can not zero or less.</div>
                </div>
              </div>
            </div>

            <div class="row  inputDesign ">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <input type="number" step=".01" min="0.01" name="minTransactionAmount" placeholder=" Minimum Amount" [(ngModel)]="addOfferModel.MinTransactionAmount"
                  (keydown)="restrictEKey($event)" required #minTransactionAmount="ngModel">
                <div *ngIf="addOfferForm.submitted && minTransactionAmount.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="minTransactionAmount?.errors.required">Minimum Amount is required.</div>
                  <!-- <div *ngIf="minTransactionAmount?.errors?.pattern">Minimum Amount is not valid.</div> -->
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <input type="number" step=".01" min="0.01" name="maxTransactionAmount" placeholder="Maximum Amount" [(ngModel)]="addOfferModel.MaxTransactionAmount"
                  (keydown)="restrictEKey($event)" required #maxTransactionAmount="ngModel">
                <div *ngIf="addOfferForm.submitted && maxTransactionAmount.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="maxTransactionAmount?.errors.required">Maximum Amount is required.</div>
                  <!-- <div *ngIf="maxTransactionAmount?.errors?.pattern">Maximum Amount is not valid.</div> -->
                </div>
              </div>
            </div>

            <div class="row  inputDesign ">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <textarea rows="3" name="offerShortDescription" maxlength="100" [pattern]="whiteSpace" [(ngModel)]="addOfferModel.OfferShortDescription"
                  placeholder="Short Description" required #offerShortDescription="ngModel"></textarea>
                <div *ngIf="addOfferForm.submitted && offerShortDescription.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="offerShortDescription?.errors.required">Short Description is required.</div>
                  <div *ngIf="offerShortDescription?.errors.maxlength">Short Description can not be greater than 100 words.
                  </div>
                  <div *ngIf="offerShortDescription?.errors?.pattern">Short Description is not valid.</div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <textarea rows="3" name="offerDescription" maxlength="500" [pattern]="whiteSpace" [(ngModel)]="addOfferModel.OfferDescription"
                  placeholder="Description" id="OfferDescription" #OfferDescription="ngModel" required #offerDescription="ngModel"></textarea>
                <div *ngIf="addOfferForm.submitted && offerDescription.invalid" class="alert alert-danger" style="padding: 3px;">
                  <div *ngIf="offerDescription?.errors.required">Description is required.</div>
                  <div *ngIf="offerDescription?.errors.maxlength">Description can not be greater than 500 words.
                  </div>
                  <div *ngIf="offerDescription?.errors?.pattern">Description is not valid.</div>
                </div>
                <!-- </div> -->
                <!-- <span *ngIf="validationObj.OfferDescription == false" class="error-msg">{{validateMessage.OfferDescriptionMsg}}</span> -->
              </div>
            </div>

            <div class="row  inputDesign" style="float:right">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <button *ngIf="!this.editOfferScreen" type="submit" style="margin-right: 10px;" class="btn btn-primary searchBtnIcon">
                  <i class="fa fa-plus"></i>
                </button>
                <button *ngIf="!this.editOfferScreen" type="button" class="btn btn-primary-one searchBtn " (click)="ResetOffer()">
                  Reset</button>
                <button *ngIf="this.editOfferScreen" type="submit" class="btn btn-primary-one searchBtn ">
                  Update</button>
              </div>
            </div>
          </form>
        </section>
        <section class="DataGrid Offertable-container" *ngIf="!this.editOfferScreen ">
          <div class="table-responsive">
            <table class="table">
              <thead class="head">
                <tr>
                  <th class="textLeft">Offer Name</th>
                  <th class="textLeft">Offer Type</th>
                  <th class="textLeft">Min Amount</th>
                  <th class="textLeft">Max Amount</th>
                  <th class="textLeft">Discount %</th>
                  <th class="textLeft">Valid From</th>
                  <th class="textLeft">Valid To</th>
                  <th class="textLeft">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let offer of EcomPromoOfferRequestList;let i=index;">
                  <td style="max-width: 150px">{{offer.OfferName}}</td>
                  <td>{{offer.OfferTypeName}}</td>
                  <td>{{offer.MinTransactionAmount}}</td>
                  <td>{{offer.MaxTransactionAmount}}</td>
                  <td>{{offer.OfferPercentDiscount}}</td>
                  <td style="max-width: 150px">{{offer.ValidFrom | date:'MMMM d'}}</td>
                  <td style="max-width: 150px">{{offer.ValidTo | date:'MMMM d'}}</td>
                  <td>
                    <span>
                      <i style="color: red;font-size: 1.8em;margin-left: 2px;" (click)="RemoveOffer(i)" class="fa fa-times"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" *ngIf="EcomPromoOfferRequestList?.length>0" class="btn btn-primary-one searchBtn OfferSave-btn" (click)="saveOffer()">
              Save</button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <custom-footer></custom-footer>

</body>