
<body>
    <div class="warpper-inner">
            <div class="content-inside">
                    <custom-header></custom-header>
                    <div>
                            <div *ngIf="isLoader">
                                <div class="loading-dialog"></div>
                            </div>
                        </div>

        <div *ngIf="!View">

            <section class="breadcrum_bg">
                <div class="container-fluid">
                    <p>
                        <a>Green product Assurance </a>
                        <img src="asset/img/angle-right.png" />Vendor View
                    </p>
                </div>
            </section>


            <div>
                <section class="filter">
                    <div class="container-fluid">
                        <div class="row inputDesign">
                            <div class="col-md-12 ">
                                <h4>Search</h4>

                                <div id="Filterbtn" class="collapse in">
                                    <div class="row form inputDesign">
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                            <input auto-complete [(ngModel)]="selectedCompany" placeholder="Company Name" [source]="companyList"
                                                display-property-name="VendorName" value-property-name=null  [list-formatter]="renderCompanyName" close-on-focusout="true"/>
                                              
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                            <input auto-complete [(ngModel)]="selectedProduct"  placeholder="Product Name" [source]="productList"
                                                display-property-name="ProductName" value-property-name=null  [ngModelOptions]="{standalone:true}"  [list-formatter]="renderProductName" close-on-focusout="true"/>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                            <input auto-complete [(ngModel)]="selectedModel"  class="resetInput" placeholder="Model Number" [source]="modelList"
                                                display-property-name="ProductModelNo" value-property-name=null  [list-formatter]="renderModelNo" close-on-focusout="true"/>
                                        </div>
                                    </div>

                                    <div class="row form inputDesign">
                                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                            <input auto-complete [(ngModel)]="selectedCertificate"  class="resetInput" placeholder="Certificate Number"
                                                [source]="certificateList" display-property-name="CertificateNumber" value-property-name=null [list-formatter]="renderCertificate" close-on-focusout="true"/>
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                                            <button type="button" class="btn btn-primary-one searchBtn" style="float:right" (click)="resetSearchForm()"> Reset</button>
                                            <button type="button" class="btn btn-success searchBtn" style="float:right;margin-right:10px;"(click)="searchApplicationList()"> Search</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <section class="DataGrid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nodadding">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="head">
                                        <tr>
                                            <th class="textLeft">Company Name</th>
                                            <th class="textLeft">Certificate Number</th>
                                            <th class="textLeft">Seal number</th>
                                            <th class="textLeft">Product Name</th>                                           
                                            <th class="textLeft">Model Number</th>
                                            <th class="textLeft">Issued Date</th>
                                            <th class="textLeft">Expiry Date</th>
                                            <th class="textLeft">Status</th>
                                            <th class="textLeft">Details</th>
                                            
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let application of allApplicationInfo | paginate: {itemsPerPage: applicationListSearchRequest.PageSize, currentPage: pageNumber ,totalItems:totalItem};let i=index">
                                        <td class="textLeft ColumnMargin">{{application.VendorName}}</td>
                                        <td class="textLeft ColumnMargin">{{application.CertificateNumber}}</td>
                                        <td class="textLeft ColumnMargin"> 
                                            <span *ngFor="let sealNo of (application.Products|greenProduct : application.Products :'ProductSealNo')?.split(',')" style="display:block">
                                            <span *ngIf="sealNo!='null'">{{sealNo}}</span>
                                            </span>
                                        </td>
                                        
                                        <td class="textLeft ColumnMargin">
                                            <span *ngFor="let productName of (application.Products|greenProduct : application.Products :'Product')?.split(',')" style="display:block">{{productName}}</span>
                                        </td>

                                        <td class="textLeft ColumnMargin">
                                            <span *ngFor="let modelNo of (application.Products|greenProduct : application.Products :'ProductModelNo')?.split('ÿ')" style="display:block">{{modelNo}}</span>
                                        </td>
                                        <td class="textLeft ColumnMargin">{{validateMinDate(application.CertificateIssuedDate) |date:'yyyy-MM-dd'}}</td>
                                        <td class="textLeft ColumnMargin">{{validateMinDate(application.CertificateExpiryDate) |date:'yyyy-MM-dd'}}</td>
                                        <td class="textLeft ColumnMargin" [ngClass]="getClass(application.ApplicationStatus)">{{application.ApplicationStatus}}</td>
                                        <td class="textLeft">
                                            <span class="btn-small btn-link" (click)="SeeDetail(application.ApplicationInfoMasterID)" style="cursor:pointer">
                                                <strong>See Details</strong>
                                            </span>
                                        </td>
                                    </tr>

                                  
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls [hidden]="!allApplicationInfo"  (pageChange)="changePageNumber($event)" ></pagination-controls>      
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
</body>