<div *ngIf="userCredential && userDetail">
    <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
    </div>



    <section class="filter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <h3 class="">Search</h3>
                    <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn">

                    </div>
                    <form id="Filterbtn" [formGroup]="myForm" class="collapse in wow fadeIn">
                        <div class="row form inputDesign">

                            <!-- Starting of Header Fields -->
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <select name="" class="SlectBox resetSelect" [(ngModel)]="analysisMode" [ngModelOptions]="{standalone: true}">
                                    <option value="1">Quick Performance Analysis </option>
                                </select>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 t1" *ngIf="(orderAnalysisParams.UserType=='Client' || orderAnalysisParams.UserType=='MTS Internal User') && DynamicGraph">
                                <select name="" class="SlectBox resetSelect" [(ngModel)]="orderAnalysisParams.VendorId" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let info of vendorInfos" [value]="info.VendorId">{{info.VendorCompanyName}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <div class="custom_Date">
                                    <my-date-range-picker name="mydaterange" formControlName="myDateRange" placeholder="Report Issue Date Range" [options]="myDateRangePickerOptions"
                                        [(ngModel)]="dateRangeModel" (dateRangeChanged)="onDateRangeChanged($event)">
                                    </my-date-range-picker>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <input type="text" class="resetInput" placeholder="Report No" [(ngModel)]="searchParam.SearchText[0].ColumnValue" [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </div>
                        <div class="row form inputDesign" *ngFor="let searchC of additionalSearch;let i = index; let last = last ">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <select class="SlectBox resetSelect test" [(ngModel)]="searchC.ColumnName" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Column</option>
                                    <option [value]="column.ColumnName" *ngFor="let column of this.columnList">
                                        {{column.ColumnDataValue}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                <select name=" " class="SlectBox resetSelect" [(ngModel)]="searchC.Operator" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Operator</option>
                                    <option value="1">Equal </option>
                                    <option value="2">Not Equal </option>
                                    <option value="3">Starts With </option>
                                    <option value="4">Ends With </option>
                                    <option value="5">Contains</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                <input type="text" class="resetInput" name="" placeholder="Keyword" [(ngModel)]="searchC.ColumnValue" [ngModelOptions]="{standalone: true}"
                                />
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                                <button type="button" class="btn btn-danger searchBtnIcon" (click)="removeSearch(i)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" style="margin-right: 12px;" *ngIf="last" class="btn btn-primary searchBtnIcon" (click)="addSearch()">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" *ngIf="last" class="btn btn-success searchBtn " (click)="search()">
                                    Submit
                                </button>
                                <button type="button" *ngIf="last" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="DataGrid">
        <span>
            <a id="dlink" style="display:none;"></a>
            <button type="button" class="btn btn-success export-excel" (click)="getImage('QuickPerformance',['imgbase'],['quickPerformanceChart'])">Export to Excel</button>
        </span>
    </div>


    <section class="DataGrid technicalDocument">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 nodadding">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="table-responsive " style="min-height: 387px !important;">
                                <table class="table panelTable">
                                    <thead class="head">
                                        <tr>
                                            <th colspan="2"> Quick Performance Report</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Company Name</td>
                                            <td class="textRight">{{userCredential.CompanyName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Report</td>
                                            <td class="textRight">
                                                <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','',failureOrderAnalysis.totalOrder)">{{failureOrderAnalysis.totalOrder}}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Number of Report Fail:</td>
                                            <td class="textRight">
                                                <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','Non-Conformed',failureOrderAnalysis.failOrder)">{{failureOrderAnalysis.failOrder}}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Number of Report Pass:</td>
                                            <td class="textRight">
                                                <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','Conformed',failureOrderAnalysis.passOrder)">{{failureOrderAnalysis.passOrder}}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Number of Report Hold:</td>
                                            <td class="textRight">
                                                <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','Pending',failureOrderAnalysis.otherOrder)">{{failureOrderAnalysis.otherOrder}}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Failure Percentage: </td>
                                            <td class="textRight">
                                                <a style="margin-right: 10px;">{{failureOrderAnalysis.failOrder > 0 ? ((failureOrderAnalysis.failOrder*100)/failureOrderAnalysis.totalOrder).toFixed(2)
                                                    : 0}}%</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                            <!-- following div is for only in case of TAT Analysis Chart -->
                            <div class="table-responsive">
                                <table class="table" id="tatGraph">
                                    <thead class="head">
                                        <tr>
                                            <th>
                                                <span> Quick Performance Analysis</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div id="quickPerformanceAnalysis" class="chartContainer"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- for Export to excle Img  of Quick Performance Analysis -->
    <div class="DataGrid" style="display: none;">
        <table border="1px" id="QuickPerformance">
            <tr>
                <td>
                    <table border="1px" class="table panelTable">
                        <thead class="head">
                            <tr>
                                <th bgcolor="#bfbfbf" colspan="2"> Quick Performance Report</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Company Name</td>
                                <td class="textRight">{{userCredential.CompanyName}}</td>
                            </tr>
                            <tr>
                                <td>Number of Report</td>
                                <td class="textRight">
                                    <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','',failureOrderAnalysis.totalOrder)">{{failureOrderAnalysis.totalOrder}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Number of Report Fail:</td>
                                <td class="textRight">
                                    <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','FAIL',failureOrderAnalysis.failOrder)">{{failureOrderAnalysis.failOrder}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Number of Report Pass:</td>
                                <td class="textRight">
                                    <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','PASS',failureOrderAnalysis.passOrder)">{{failureOrderAnalysis.passOrder}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Number of Report Hold:</td>
                                <td class="textRight">
                                    <button type="button" class="btn-small btn-link" (click)="analysisDetails('Failure','PENDING',failureOrderAnalysis.otherOrder)">{{failureOrderAnalysis.otherOrder}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Failure Percentage: </td>
                                <td class="textRight">
                                    <a style="margin-right: 10px;">{{failureOrderAnalysis.failOrder > 0 ? ((failureOrderAnalysis.failOrder*100)/failureOrderAnalysis.totalOrder).toFixed(2)
                                        : 0}}%</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td></td>
                <td colspan="12">
                    <table border="1px">
                        <thead>
                            <th bgcolor="#bfbfbf" colspan="12" style="border: solid">QUICK PERFORMANCE ANALYSIS</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="15">
                                    <img id="imgbase" src="" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <div class="modal fade" id="analysisDetails" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg analysisDetailsModel">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Analysis Details </h4>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <div class="table-responsive_iiji">
                                <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                                    <thead class="head">
                                        <tr>
                                            <th class="textCenter" style="min-width:100px;">Report #</th>
                                            <th class="textCenter minwidth" style="min-width:100px !important;">Report Issue Date</th>
                                            <th class="textCenter" *ngFor="let dColumns of dynamicGridColumns">{{dColumns.ColumnDataValue}}</th>
                                            <th class="textCenter">Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of orderList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                                            <td class="textCenter">{{order.Reportno}}</td>
                                            <td class="textCenter">{{order.ReportIssueDate}}</td>
                                            <td class="textCenter" *ngFor="let dColumns of dynamicGridColumns">{{order[dColumns.ColumnName]}} </td>
                                            <td class="colorRed textCenter">
                                                <label style="text-transform: uppercase; white-space: nowrap !important;    font-weight: 100;" *ngIf="order.Result" class="btn-small {{order.ReportRating}}">
                                                    {{order.Result|formatRating}}</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                    <button type="button" class="btn btn-default" (click)=reset(); data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>