<div class="warpper-inner">
  <div class="content-inside">
    <custom-header></custom-header>
    <div>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
    </div>

    <div *ngIf="!View">
      <section class="breadcrum_bg">

        <p>
          <a>Green product Assurance </a>
          <img src="asset/img/angle-right.png" />Certificate Management
        </p>

      </section>

      <div>
        <section class="filter">
          <div class="container-fluid">
            <div class="row inputDesign">
              <div class="col-md-12 ">
                <h4>Search</h4>
                <div id="Filterbtn" class="collapse in">
                  <div class="row form inputDesign">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <input type="text" class="resetInput" [(ngModel)]="applicationListSearchRequest.ApplicationReferenceNo " placeholder="Applicant Reference No."
                      />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <input type="text" class="resetInput" [(ngModel)]="applicationListSearchRequest.VendorName " placeholder="Applicant Name"
                      />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <input type="text" class="resetInput" [(ngModel)]="applicationListSearchRequest.ProductModelNo " placeholder="Product Model Number"
                      />
                    </div>
                  </div>
                  <div class="row form inputDesign">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <input type="text" class="resetInput" [(ngModel)]="applicationListSearchRequest.FactoryName " placeholder="Factory Name"
                      />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <input type="text" class="resetInput" [(ngModel)]="applicationListSearchRequest.CertificateNumber " placeholder="Certificate Number"
                      />
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <button type="button" class="btn btn-primary-one searchBtn" style="float:right" (click)="resetSearchParam();"> Reset</button>
                      <button type="button" class="btn btn-success searchBtn" style="float:right;margin-right:10px;" (click)="searchApplicationList();">
                        Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      
      
      <section class="DataGrid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="table-responsive">
                <table class="table">
                  <thead class="head">
                    <tr>
                      <th>Applicant Ref. No</th>
                      <th>Applicant Name</th>
                      <th>Product Name</th>
                      <th>Model No.</th>
                      <th>Factory Name</th>
                      <th>Submitted Date</th>
                      <th>Certificate Number</th>
                      <th>Issued date</th>
                      <th>Expiry Date</th>
                      <th>Application Type</th>
                      <th>Application Status</th>
                      <th style="min-width:120px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let application of allApplicationInfo | paginate: {itemsPerPage: applicationListSearchRequest.PageSize, currentPage: pageNumber ,totalItems:totalItem};let i=index">
                      <td class="textLeft ColumnMargin">
                        <span *ngIf="!application.BaseReferenceNo || application.BaseReferenceNo==''">{{application.ApplicationReferenceNo}}</span>
                        <span *ngIf="application.BaseReferenceNo && application.BaseReferenceNo!=''" (click)="ViewCertificateHistory(application.ApplicationReferenceNo);" style="cursor:pointer;text-decoration: underline;color:blue">{{application.ApplicationReferenceNo}}</span>
                      </td>
                      <td class="textLeft ColumnMargin">{{application.VendorName}}</td>
                      <td class="textLeft ColumnMargin">
                        <span *ngFor="let productName of (application.Products|greenProduct : application.Products :'Product')?.split(',')" style="display:block">{{productName}}</span>
                      </td>
                      <td class="textLeft ColumnMargin">
                        <span *ngFor="let modelNo of (application.Products|greenProduct : application.Products :'ProductModelNo')?.split('ÿ')" style="display:block">{{modelNo}}</span>
                      </td>
                      <td class="textLeft ColumnMargin">
                        <span *ngFor="let factoryName of (application.Factories|greenProduct : application.Factories :'Factory' )?.split(',')" style="display:block">{{factoryName}}</span>
                      </td>
                      <td class="textLeft ColumnMargin">{{application.CreatedDate| date:'yyyy-MM-dd'}}</td>
                      <td class="textLeft ColumnMargin">{{application.CertificateNumber}}</td>
                      <td class="textLeft ColumnMargin">
                        <span>{{validateMinDate(application.CertificateIssuedDate) |date:'yyyy-MM-dd'}}</span>
                      </td>
                      <td class="textLeft ColumnMargin">
                        <span>{{validateMinDate(application.CertificateExpiryDate) |date:'yyyy-MM-dd'}}</span>
                      </td>
                      <td class="textLeft ColumnMargin"> {{application.ApplicationType}} </td>
                      <td class="textLeft ColumnMargin" [ngClass]="getClass(application.ApplicationStatus)" style="padding:3px 8px 3px 8px !important">
                        {{application.ApplicationStatus}} </td>
      
      
                      <td class="textLeft ColumnMargin" style="padding:3px 8px 3px 8px !important;min-width: 106Px;">
                        <span *ngIf="enableButton('Renewed',application)">
                          <button class="btn btn-primary btn-sm" (click)="CreateReviseApplication(application.ApplicationReferenceNo,'Renewed')">Re-New </button>
                        </span>
                        <span *ngIf="enableButton('Revised',application)">
                          <button class="btn btn-success btn-sm" (click)="CreateReviseApplication(application.ApplicationReferenceNo,'Revised')">Revise </button>
                        </span>
                      </td>
                    </tr>
      
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!allApplicationInfo" (pageChange)="changePageNumber($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
      </div>
    
<div *ngIf="View">
  <section class="breadcrum_bg">
    <div class="container-fluid">
      <p>
        <a>Green product Assurance </a>
        <img src="asset/img/angle-right.png" />
        <span class="detail_link" (click)="searchApplicationList()">Certificate Management</span>
        <img src="asset/img/angle-right.png" />Application Detail</p>
    </div>
  </section>
  <div class="ApplicantSection">
    <h4>Applicant Detail

      <span class="float_right">Applicant Reference No:
        <span style="color:#d9534f;margin-left: 10px;">{{applicationInformation.ApplicationReferenceNo}}</span>
      </span>
    </h4>
    <div>
      <div class="ProductContainer">

        <label class="fontSize12 color67aa">English</label>
        <div class="row form inputDesign">
          <div class="col-md-3">
            <label class="fontSize12">Applicant Name</label>
            <input class="w3-input" placeholder="Applicant Name" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="applicationInformation.VendorName" name="vendorName"
            readonly #vendorName="ngModel"  [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-md-3">
            <label class="fontSize12">Address</label>
            <input type="text" [(ngModel)]="applicationInformation.Address" [ngModelOptions]="{standalone: true}" readonly/>
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Applicant VAT#</label>
            <input class="w3-input" placeholder="Applicant VAT#" type="text" [(ngModel)]="applicationInformation.VendorCode" name="vendorCode"
              readonly [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Contact Person</label>
            <input type="text" [(ngModel)]="applicationInformation.ContactPerson" [ngModelOptions]="{standalone: true}" readonly />
          </div>
        </div>
        <div class="row form inputDesign">
          <div class="col-md-3">
            <label class="fontSize12">Title</label>
            <input type="text" [(ngModel)]="applicationInformation.Title" [ngModelOptions]="{standalone: true}" readonly />
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Telephone</label>
            <input class="w3-input" type="number" name="Telephone" [(ngModel)]="applicationInformation.Telephone" [ngModelOptions]="{standalone: true}"
              readonly>
          </div>

          <div class="col-sm-3">
            <label class="fontSize12">Email</label>
            <input class="w3-input" placeholder="Email" type="email" [(ngModel)]="applicationInformation.Email" readonly [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Application Status</label>
            <input readonly type="text" [(ngModel)]="applicationInformation.ApplicationStatus" [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>
        <div class="row form inputDesign">
          <div class="col-md-3">
            <label class="fontSize12">Submitted Date</label>
            <input type="text" readonly [ngModel]="applicationInformation.CreatedDate | date:'yyyy-MM-dd' " [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="col-sm-3">
            <label class="fontSize12">Upload Application Documents</label>
          </div>
          <div class="col-sm-6" *ngIf="applicationInformation.FilledApplicationForm">
            <span *ngFor="let Doc of applicationInformation.FilledApplicationForm?.split('ÿ')">
              <span class="textBorder email-span">{{Doc}}
                <i class="fa fa-download" *ngIf="userCredential.UserPermission.DownloadGPDoc" style="cursor:pointer;color:blue" (click)="downloadFilledApplicationDocument(Doc, applicationInformation.ApplicationReferenceNo)"></i>
              </span>
            </span>
          </div>
        </div>

        <label class="fontSize12 color67aa">Chinese</label>
        <div class="row form inputDesign">
          <div class="col-md-3">
            <label class="fontSize12">Applicant Name</label>
            <input type="text" [(ngModel)]="applicationInformation.VendorName_Chinese" readonly [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Address</label>
            <input type="text" [(ngModel)]="applicationInformation.Address_Chinese" readonly [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Applicant VAT#</label>
            <input type="text" [(ngModel)]="applicationInformation.VendorCode_Chinese" readonly [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Contact Person</label>
            <input type="text" [(ngModel)]="applicationInformation.ContactPerson_Chinese" readonly [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>
        <div class="row form inputDesign">
          <div class="col-md-3">
            <label class="fontSize12">Title</label>
            <input type="text" [(ngModel)]="applicationInformation.Title_Chinese" readonly [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Telephone</label>
            <!-- <input type="text" [(ngModel)]="applicationInformation.Telephone_Chinese" [ngModelOptions]="{standalone: true}" /> -->
            <input class="w3-input" readonly type="number" name="Telephone" [(ngModel)]="applicationInformation.Telephone_Chinese" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-md-3">
            <label class="fontSize12">Email</label>
            <input type="text" [(ngModel)]="applicationInformation.Email_Chinese" [ngModelOptions]="{standalone: true}" readonly />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="fontClass" style="margin-bottom: 10px">
        <h4>Certificate Detail</h4>
      </div>
      <div class="ProductContainer">
        <div class="row form inputDesign">
          <div class="col-md-4">
            <label class="fontSize12">Certificate Number</label>
            <input readonly type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="applicationInformation.CertificateNumber"
            />
          </div>
          <div class="col-md-4 date-owl">
            <label class="fontSize12" style="margin-bottom: 6px;">Expiry Date</label>
            <owl-date-time disabled [(ngModel)]="applicationInformation.CertificateExpiryDate" [dataType]="'date'" [placeHolder]="'mm/dd/yyyy'"
              [dateFormat]="'YYYY-MM-DD'" [ngModelOptions]="{standalone: true}" [locale]="en" [autoClose]="true" [type]="'calendar'">

            </owl-date-time>
          </div>
          <div class="col-md-4">
            <label class="fontSize12">validity</label>
            <input readonly type="text" class="resetInput" name="validity" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <h4>Product Information
      </h4>
      <div class="tableContainer">
        <section class="DetailTable" style="margin:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="head">
                      <tr>
                        <th>Product Type</th>
                        <th>Product Name</th>
                        <th>Product Model No.</th>
                        <th>Product Weight</th>
                        <th>Seal Number</th>
                        <th>Product Image</th>
                        <th>Brochure</th>
                        <th>Bill OF Materials</th>
                        <th>Materials Test Reports</th>
                        <th>CAP</th>
                        <th>Document Status</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let product  of applicationInformation.Products;let i = index; let last = last ">
                      <tr>
                        <td class="textLeft">{{product.ProductType}}</td>
                        <td class="textLeft">{{product.ProductName}}</td>
                        <td class="textLeft">{{product.ProductModelNo}}</td>
                        <td class="textLeft">{{product.ProductWeight}}</td>
                        <td class="textLeft">{{product.ProductSealNo}}</td>
                        <td class="textLeft">
                          <table>
                            <tbody *ngFor="let productDocument  of product.ProductDocuments |gpdocumentFilterArray :'ProductImage';let a = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(productDocument.DocumentName,productDocument.DocumentType,'Products', product.ProductFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="STDocument" tooltipPlacement="top"></i>
                                  <tooltip-content #STDocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{productDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">

                          <table>
                            <tbody *ngFor="let productDocument  of product.ProductDocuments|gpdocumentFilterArray :'Brochure';let b = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(productDocument.DocumentName,productDocument.DocumentType,'Products', product.ProductFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="STDocument" tooltipPlacement="top"></i>
                                  <tooltip-content #STDocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{productDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">
                          <table>
                            <tbody *ngFor="let productDocument  of product.ProductDocuments |gpdocumentFilterArray :'BillOfMaterial';let c = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(productDocument.DocumentName,productDocument.DocumentType,'Products', product.ProductFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="STDocument" tooltipPlacement="top"></i>
                                  <tooltip-content #STDocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{productDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">
                          <table>
                            <tbody *ngFor="let productDocument  of product.ProductDocuments  |gpdocumentFilterArray :'MaterialTestReport';let d = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(productDocument.DocumentName,productDocument.DocumentType,'Products', product.ProductFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="STDocument" tooltipPlacement="top"></i>
                                  <tooltip-content #STDocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{productDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">
                          <table>
                            <tbody *ngFor="let productDocument  of product.ProductDocuments  |gpdocumentFilterArray :'CAP';let e = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(productDocument.DocumentName,productDocument.DocumentType,'Products', product.ProductFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="STDocument" tooltipPlacement="top"></i>
                                  <tooltip-content #STDocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{productDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="product.IsVerified" class="Approve">Verified</span>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="product.IsRejected"  class="Rejected">Rejected</span>
                          <span *ngIf="product.IsApproved"  class="Approve">Approved</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div>
      <h4>Factory Detail </h4>
      <div class="tableContainer">
        <section class="DetailTable" style="margin:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="head">
                      <tr>
                        <th>Factory Name</th>
                        <th>Factory Address</th>
                        <th>Factory Code</th>
                        <th>Production Process</th>
                        <th>HeadCounts</th>
                        <th>Area</th>
                        <th>Contact Person</th>
                        <th>Title</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Factory Flow Chart</th>
                        <th>Other document</th>
                        <th>Document Status</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let factory  of applicationInformation.Factories;let m = index; let last = last ">
                      <tr>
                        <td class="textLeft">{{factory.FactoryName}}</td>
                        <td class="textLeft">{{factory.FactoryAddress}}</td>
                        <td class="textLeft">{{factory.FactoryCode}}</td>
                        <td class="textLeft">{{factory.ProductionProcess}}</td>
                        <td class="textLeft">{{factory.HeadCounts}}</td>
                        <td class="textLeft">{{factory.Area}}</td>
                        <td class="textLeft">{{factory.FactoryContactPerson}}</td>
                        <td class="textLeft">{{factory.Title}}</td>
                        <td class="textLeft">{{factory.FactoryTelephone}}</td>
                        <td class="textLeft">{{factory.FactoryEmail}}</td>
                        <td class="textLeft">
                          <table>
                            <tbody *ngFor="let factoryDocument  of factory.FactoryDocuments|gpdocumentFilterArray :'FlowChart';let y = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(factoryDocument.DocumentName,factoryDocument.DocumentType,'Factories', factory.FactoryFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="FADocument" tooltipPlacement="top"></i>
                                  <tooltip-content #FADocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{factoryDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">

                          <table>
                            <tbody *ngFor="let factoryDocument  of factory.FactoryDocuments|gpdocumentFilterArray :'OtherDocument';let x = index;">
                              <tr class="border_td">
                                <td class="border_td" (click)="downloadDocument(factoryDocument.DocumentName,factoryDocument.DocumentType,'Factories', factory.FactoryFolderName)">
                                  <i class="fa fa-file-pdf-o pdfUploadIcon" [tooltip]="FADocument" tooltipPlacement="top"></i>
                                  <tooltip-content #FADocument [animation]="true" placement="left">
                                    <div style="word-wrap:break-word">{{factoryDocument.DocumentName}} </div>
                                  </tooltip-content>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="factory.IsVerified" class="Approve">Verified</span>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="factory.IsRejected"  class="Rejected">Rejected</span>
                          <span *ngIf="factory.IsApproved"  class="Approve">Approved</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- for product Review Progress -->
    <div>
      <h4>MTS Intial Testing Review (ST)</h4>
      <div class="tableContainer">
        <section class="DetailTable" style="margin:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive" style="min-height: 108px !important">
                  <table class="table">
                    <thead class="head">
                      <tr>
                        <th>Product Name</th>
                        <th>Product Model No.</th>
                        <th>Test Report</th>
                        <th>Re-test Report</th>
                        <th>CAP Report</th>
                        <th>Supporting Report</th>
                        <th>Progress Result</th>
                        <th>Log History</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let product  of applicationInformation.Products;let i = index; let last = last ">
                      <tr *ngIf="!product.IsRejected">
                        <td class="textLeft">{{product.ProductName}}</td>
                        <td class="textLeft">{{product.ProductModelNo}}</td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of product.ReviewReports |gpdocumentFilterArray :'ST':'TestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of product.ReviewReports |gpdocumentFilterArray :'ST':'ReTestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of product.ReviewReports |gpdocumentFilterArray :'ST':'CAPReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                        </td>
                        <td class="textLeft">
                          <span *ngFor="let Report  of product.ReviewReports |gpdocumentFilterArray :'ST';let a = index;let last = last;">
                            <span *ngIf="last">{{Report.Result}}</span>
                          </span>
                        </td>
                        <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                          <button type="button" style="background: #337ab7;color: #fff;" class="btn-danger addremovebtn" (click)="ViewReportLog('Testing',product,'ST',i)">
                            <i [tooltip]="myTooltip4" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye" ></i>
                            <tooltip-content #myTooltip4 [animation]="true" placement="left">
                              <div class="wordwrap">Review</div>
                            </tooltip-content>
                          </button>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="product.IsSTRejected"  class="Rejected">Rejected</span>
                          <span *ngIf="product.IsSTApproved"  class="Approve">Approved</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- for Factory Review Progress -->
    <div>
      <h4>MTS Intial Audit Review (FA)</h4>
      <div class="tableContainer">
        <section class="DetailTable" style="margin:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive" style="min-height: 108px !important">
                  <table class="table">
                    <thead class="head">
                      <tr>
                        <th>Factory Name</th>
                        <th>Factory Code</th>
                        <th>Audit Report</th>
                        <th>Re-Audit Report</th>
                        <th>CAP Report</th>
                        <th>Supporting Report</th>
                        <th>Progress Result</th>
                        <th>Log History</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let factory  of applicationInformation.Factories;let m = index; let last = last ">
                      <tr *ngIf="!factory.IsRejected">
                        <td class="textLeft">{{factory.FactoryName}}</td>
                        <td class="textLeft">{{factory.FactoryCode}}</td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of factory.ReviewReports |gpdocumentFilterArray :'FA':'AuditReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of factory.ReviewReports |gpdocumentFilterArray :'FA':'ReAuditReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of factory.ReviewReports |gpdocumentFilterArray :'FA':'CAPReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                        </td>
                        <td class="textLeft">
                          <span *ngFor="let Report  of factory.ReviewReports |gpdocumentFilterArray :'FA';let a = index;let last = last;">
                            <span *ngIf="last">{{Report.Result}}</span>
                          </span>
                        </td>
                        <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                          <button type="button" style="background: #337ab7;color: #fff;" class="btn-danger addremovebtn" (click)="ViewReportLog('Audit',factory,'FA',m)">
                            <i [tooltip]="myTooltip4" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye" ></i>
                            <tooltip-content #myTooltip4 [animation]="true" placement="left">
                              <div class="wordwrap">Review</div>
                            </tooltip-content>
                          </button>
                        </td>
                        <td class="textLeft">
                          <span *ngIf="factory.IsFARejected" class="Rejected">Rejected</span>
                          <span *ngIf="factory.IsFAApproved" class="Approve">Approved</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- for Market Surveillance Testing  Review Progress -->
    <div>
      <h4>Surveillance Testing/Audit Review </h4>
      <div class="tableContainer">
        <section class="DetailTable" style="margin:0px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 nodadding">
                <div class="table-responsive" style="min-height: 108px !important">
                  <table class="table">
                    <thead class="head">
                      <tr>
                        <th></th>
                        <th>Audit / Test Report</th>
                        <th>Re-Audit / Re-Test Report</th>
                        <th>CAP Report</th>
                        <th>Supporting Report</th>
                        <th>Progress Result</th>
                        <th>Log History</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <th class="test_header">Factory Surveillance Audit (FSA)</th>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FSA':'AuditReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FSA':'ReAuditReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FSA':'CAPReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass'" class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail'" class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                        </td>
                        <td class="textLeft">
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FSA';let a = index;let last = last;">
                            <span *ngIf="last">{{Report.Result}}</span>
                          </span>
                        </td>
                        <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                          <button type="button" style="background: #337ab7;color: #fff;" class="btn-danger addremovebtn"  (click)="ViewReportLog('Audit',applicationInformation,'FSA')">
                            <i [tooltip]="myTooltip4" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye"></i>
                            <tooltip-content #myTooltip4 [animation]="true" placement="left">
                              <div class="wordwrap">Review</div>
                            </tooltip-content>
                          </button>
                        </td>
                        <td class="textLeft">
                          <span  [ngClass]="getClass(applicationInformation.FSA_Status)" class="Approve">
                          {{applicationInformation.FSA_Status}}</span>
                        </td>
                      </tr>
                      <tr>
                        <th class="test_header">Factory Surveillance Testing (FST)</th>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FST':'TestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FST':'ReTestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FST':'CAPReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                        </td>
                        <td class="textLeft">
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'FST';let a = index;let last = last;">
                            <span *ngIf="last">{{Report.Result}}</span>
                          </span>
                        </td>
                        <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                          <button type="button" style="background: #337ab7;color: #fff;" class="btn-danger addremovebtn" (click)="ViewReportLog('Testing',applicationInformation,'FST')">
                            <i [tooltip]="myTooltip4" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye" ></i>
                            <tooltip-content #myTooltip4 [animation]="true" placement="left">
                              <div class="wordwrap">Review</div>
                            </tooltip-content>
                          </button>
                        </td>
                        <td class="textLeft">
                          <span  [ngClass]="getClass(applicationInformation.FST_Status)" class="Approve">
                          {{applicationInformation.FST_Status}}</span>
                        </td>
                      </tr>

                      <tr>
                        <th class="test_header">Market Surveillance Testing (MST)</th>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'MST':'TestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'MST':'ReTestReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'MST':'CAPReport';let a = index;let last = last;">
                            <span *ngIf="last && Report?.Result=='Pass' " class="Pass_Span">P</span>
                            <span *ngIf="last && Report?.Result=='Fail' " class="Fail_Span">F</span>
                          </span>
                        </td>
                        <td class="textLeft">
                          <span class="openpopup_linkblue">Upload</span>
                        </td>
                        <td class="textLeft">
                          <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'MST';let a = index;let last = last;">
                            <span *ngIf="last">{{Report.Result}}</span>
                          </span>
                        </td>
                        <td class="textLeft" style="font-size:13px;padding:3px 8px 3px 8px !important;">
                          <button type="button" style="background: #337ab7;color: #fff;" class="btn-danger addremovebtn" (click)="ViewReportLog('Testing',applicationInformation,'MST')">
                            <i [tooltip]="myTooltip4" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye" ></i>
                            <tooltip-content #myTooltip4 [animation]="true" placement="left">
                              <div class="wordwrap">Review</div>
                            </tooltip-content>
                          </button>
                        </td>
                        <td class="textLeft">
                          <span  [ngClass]="getClass(applicationInformation.MST_Status)" class="Approve">
                          {{applicationInformation.MST_Status}}</span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div>
      <h4>Upload Reviewer Reports</h4>
      <div class="ProductContainer">
        <div class="row form inputDesign">
          <div class="col-sm-10">
            <span *ngFor="let Report  of applicationInformation.ReviewReports |gpdocumentFilterArray :'RR';let a = index;">
              <span *ngIf="!Report.IsDeleted" class="textBorder email-span">{{Report.FileName}}
                <i class="fa fa-download" *ngIf="userCredential.UserPermission.DownloadGPDoc" style="cursor:pointer;color:blue" (click)="downloadReviewReports(Report)"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div style="margin-top:25px;">
      <div class="row form inputDesign">
        <div class="col-md-12">
          <label class="fontweight">Reviewer Comment (Optional)</label>
          <textarea rows="3" class="resetInput" [(ngModel)]="applicationInformation.DocumentReviewerComment" placeholder="Reviewer Comment (Optional)"></textarea>
        </div>
        <div class="col-md-12">
          <label class="fontweight">Additional Information (Optional)</label>
          <textarea rows="2" class="resetInput" readonly [(ngModel)]="applicationInformation.AdditionalComment" placeholder="Additional Information (Optional)"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>


  </div>
</div>

<div class="modal fade" id="CertificateHistory" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel" style="width: 1156px;margin-top:130px;">
      <div class="modal-content ">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Certificate History</h4>
          </div>
          <div class="modal-body">
              <div class="row ">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                      <div class="table-responsive_iiji">
                          <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                              <thead class="head">
                                  <tr>
                                      <th class="CommentListHeader" style="min-width:100px">Applicant Ref. No</th>
                                      <th class="CommentListHeader" style="min-width:100px;">Product Name</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Certificate No.</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Seal No.</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Submitted Date</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Expiry Date</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Status</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let application of RevisedApplicationList ;let i=index">
                                
                                  <td class="textLeft ColumnMargin">{{application.ApplicationReferenceNo}}</td>
                                  <td class="textLeft ColumnMargin">
                                    <span *ngFor="let productName of (application.Products|greenProduct : application.Products :'Product')?.split(',')" style="display:block">{{productName}}</span>
                                  </td>
                                 
                                <td class="textLeft ColumnMargin">{{application.CertificateNumber}}</td>
                                <td class="textLeft ColumnMargin"> 
                                  <span *ngFor="let sealNo of (application.Products|greenProduct : application.Products :'ProductSealNo')?.split(',')" style="display:block">
                                  <span *ngIf="sealNo!='null'">{{sealNo}}</span>
                                  </span>
                              </td>
                                  <td class="textLeft ColumnMargin">
                                    <span>{{validateMinDate(application.CertificateIssuedDate) |date:'yyyy-MM-dd'}}</span>
                                  </td>
                                  <td class="textLeft ColumnMargin">
                                    <span>{{validateMinDate(application.CertificateExpiryDate) |date:'yyyy-MM-dd'}}</span>
                                  </td>
                  
                                  <td class="textLeft ColumnMargin" [ngClass]="getClass(application.ApplicationStatus)" style="padding:3px 8px 3px 8px !important">
                                    {{application.ApplicationStatus}} </td>   
                                  <td class="textLeft ColumnMargin" style="padding:3px 8px 3px 8px !important;min-width: 106Px;">
                                    <span (click)="viewDetail(application.ApplicationInfoMasterID)">
                                      <i [tooltip]="myTooltip1" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-eye View" ></i>
                                      <tooltip-content #myTooltip1 [animation]="true" placement="left">
                                          <div class="wordwrap">Review</div>
                                      </tooltip-content>
                                  </span>
                                  </td>                                                     
                                </tr>               
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="LogRecord" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel" style="width: 1156px;margin-top:130px;">
      <div class="modal-content ">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Report Detail</h4>
          </div>
          <div class="modal-body">
              <div class="row ">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                      <div class="table-responsive_iiji">
                          <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                              <thead class="head">
                                  <tr>
                                      <th class="CommentListHeader" style="min-width:100px;vertical-align: middle;text-align: center;">Report Type</th>
                                      <th class="CommentListHeader" style="min-width:100px;">Report</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Result</th>
                                      <th class="CommentListHeader" style="min-width:70px;">Submitted Date</th>
                                  </tr>
                              </thead>
                              <tbody *ngFor="let report of reviewReportDetails; let i=index;">
                                  <tr *ngIf="!report.IsDeleted">
                                      <th class="ReportType_Header">{{report.ReportType}}</th>
                                      <td style="cursor:pointer" (click)="downloadReviewReports(report)">{{report.FileName}}</td>
                                      <td [ngStyle]="report.Result =='Fail' ? {'color': 'red'} : {'color': 'blue'}">{{report.Result}}</td>
                                      <td>{{report.CreatedDate| date:'yyyy-MM-dd'}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>