<div *ngIf="isLoader">
    <div class="loading-dialog"></div>
</div>
<div>
    <button type="button"  *ngIf="isSubstanceSelected" style="margin-left: 6px;" class="btn btn-success export-excel" (click)="exportToExcelTestSubstance(['imgbase'],['barChart'])">Export
        to Excel</button>
        <button type="button"  *ngIf="!isSubstanceSelected" style="margin-left: 6px;" class="btn btn-success export-excel" (click)="exportToExcelTestSubstance(['imgbase'],['vendorBarChart'])">Export
            to Excel</button>
</div>
<section>
    <div>
        <div class="row vendorscore-section" style="margin-right: 6px;margin-left: 6px;margin-top: 10px;margin-bottom: 10px;">
            <div class="col-md-12">
                <div class="col-md-4">
                    <b>Type of Score Card :</b>
                </div>
                <div class="col-md-4 radio-container">
                    <div class="col-md-6">
                        <input type="radio" name="mode" [checked]="isSubstanceSelected" (change)="changeSummary()">
                        <b>Scored by Substance</b>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="mode" [checked]="!isSubstanceSelected" (change)="changeSummary()">
                        <b>Scored by Vendor</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>Show Bottom</b>
                    <select name=" " class="SlectBox resetSelect sizedropdown" (change)="selectSize()" [(ngModel)]="recordDisplay" [ngModelOptions]="{standalone: true}">
                        <option value=0>All</option>
                        <option value=20>20 </option>
                        <option value=30>30 </option>
                        <option value=50>50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid dynamic-graph-holder" style="margin-bottom: 20px;">
    <div class="row">
        <div class="dynamicGraphWrapper" [ngClass]="this.dynamicGraphWrapperClass">
            <div [ngClass]="this.dynamicGraph" class="nodadding" style="margin-bottom: 20px;">
                <div class="table-responsive">
                    <table class="table" id="">
                        <thead class="head">
                            <tr>
                                <th *ngIf="isSubstanceSelected">{{graphTitle}} ANALYSIS</th>
                                <th *ngIf="!isSubstanceSelected">TEST SUBSTANCE BY VENDOR ANALYSIS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="table-responsive">
                                <div class="graph-show" style="width: 100%; height: 350px; max-height: auto;">

                                </div>
                                <div *ngIf="othersInclude">
                                    <div class="other-include">
                                        <b>Others Include :</b> {{othersInclude}}
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="isSubstanceSelected" [ngClass]="this.dynamicTable" class="" style="margin-bottom: 20px;">
                <table class="table" id="">
                    <thead class="head">
                        <tr>
                            <th [attr.colspan]="GraphSummaryLength">{{graphTitle}} REPORT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <ng-container *ngFor="let data of GraphSummaryColumn;let i=index;">
                                <td *ngIf="i!=0" style="min-width: 100px;">
                                    <b class="title">{{data}}</b>
                                </td>
                            </ng-container>
                        </tr>
                        <tr *ngIf="showTotal == true">
                            <td>Total</td>
                            <td>{{totalValue}}</td>
                            <td *ngIf="showRatio == true">100%</td>
                        </tr>
                        <tr *ngFor="let data of GraphSummaryJson;let j = index;">
                            <ng-container *ngFor="let prop of GraphSummaryColumn;let i = index;let lastIndex = last;">
                                <td *ngIf="i!=0 && !lastIndex" style="min-width: 100px;">
                                    {{data[prop]}}</td>
                                <td *ngIf="i!=0 && lastIndex" class="btn-small btn-link" style="min-width: 100px;width:500px;cursor: pointer;" (click)="showSubstanceDetail(j)">
                                    {{data[prop]}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!isSubstanceSelected" [ngClass]="this.dynamicTable" class="" style="margin-bottom: 20px;">
                <table class="table" id="">
                    <thead class="head">
                        <tr>
                            <th [attr.colspan]="GraphSummaryLength">TEST SUBSTANCE BY VENDOR REPORT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <ng-container *ngFor="let data of VendorGraphColumn;let i=index;">
                                <td *ngIf="i!=0" style="min-width: 100px;">
                                    <b class="title">{{data}}</b>
                                </td>
                            </ng-container>
                        </tr>
                        <tr *ngIf="showTotal == true">
                            <td>Total</td>
                            <td>{{totalValue}}</td>
                            <td *ngIf="showRatio == true">100%</td>
                        </tr>
                        <tr *ngFor="let data of VendorGraphSummary;let j = index;">
                            <ng-container *ngFor="let prop of VendorGraphColumn;let i = index;let lastIndex = last;">
                                <td *ngIf="i!=0 && !lastIndex" style="min-width: 100px;">
                                    {{data[prop]}}</td>
                                <td *ngIf="i!=0 && lastIndex" class="btn-small btn-link" style="min-width: 100px;width:500px;cursor: pointer;" (click)="showSubstanceDetail(j)">
                                    {{data[prop]}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div [ngClass]="additionalGraphClass" class="additionalSummary" *ngIf="isAdditionalSummary == true">
            <table class="table" id="">
                <thead class="head">
                    <tr>
                        <th [attr.colspan]="AdditionalGraphSummaryLength">Additional Summary of {{graphTitle}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let data of AdditionalGraphSummaryColumn" style="min-width: 100px;">
                            <b class="title">{{data}}</b>
                        </td>
                    </tr>
                    <tr *ngFor="let data of AdditionalGraphSummaryJson">
                        <td *ngFor="let prop of AdditionalGraphSummaryColumn" style="min-width: 100px;">
                            {{data[prop]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <div class="container-fluid dynamic-graph-holder" style="margin-bottom: 20px;">
    <div class="row">
        <div class="dynamicGraphWrapper" [ngClass]="this.dynamicGraphWrapperClass">
            <div [ngClass]="this.dynamicGraph" class="nodadding" style="margin-bottom: 20px;">
                <div class="table-responsive">
                    <table class="table" id="">
                        <thead class="head">
                            <tr>
                                <th>Graph of Vendor Failure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="table-responsive">
                                <div class="graph-show-vendor" style="width: 100%; height: 350px; max-height: auto;">

                                </div>
                                <div *ngIf="othersInclude">
                                    <div class="other-include">
                                        <b>Others Include :</b> {{othersInclude}}
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="!isSubstanceSelected" [ngClass]="this.dynamicTable" class="" style="margin-bottom: 20px;">
                <table class="table" id="">
                    <thead class="head">
                        <tr>
                            <th [attr.colspan]="GraphSummaryLength">Summary of Vendor Failure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <ng-container *ngFor="let data of VendorGraphColumn;let i=index;">
                                <td *ngIf="i!=0" style="min-width: 100px;">
                                    <b class="title">{{data}}</b>
                                </td>
                            </ng-container>
                        </tr>
                        <tr *ngIf="showTotal == true">
                            <td>Total</td>
                            <td>{{totalValue}}</td>
                            <td *ngIf="showRatio == true">100%</td>
                        </tr>
                        <tr *ngFor="let data of VendorGraphSummary;let j = index;">
                            <ng-container *ngFor="let prop of VendorGraphColumn;let i = index;let lastIndex = last;">
                                <td *ngIf="i!=0 && !lastIndex" style="min-width: 100px;">
                                    {{data[prop]}}</td>
                                <td *ngIf="i!=0 && lastIndex" class="btn-small btn-link" style="min-width: 100px;cursor: pointer;" (click)="showSubstanceDetail(j)">
                                    {{data[prop]}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div [ngClass]="additionalGraphClass" class="additionalSummary" *ngIf="isAdditionalSummary == true">
            <table class="table" id="">
                <thead class="head">
                    <tr>
                        <th [attr.colspan]="AdditionalGraphSummaryLength">Additional Summary of {{graphTitle}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let data of AdditionalGraphSummaryColumn" style="min-width: 100px;">
                            <b class="title">{{data}}</b>
                        </td>
                    </tr>
                    <tr *ngFor="let data of AdditionalGraphSummaryJson">
                        <td *ngFor="let prop of AdditionalGraphSummaryColumn" style="min-width: 100px;">
                            {{data[prop]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<!-- Substance Popup -->
<div class="modal fade" id="substanceDetails" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg analysisDetailsModel">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 *ngIf="isSubstanceSelected" class="modal-title">Substance Details </h4>
                <h4 *ngIf="!isSubstanceSelected" class="modal-title">Vendor Failure Details </h4>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <div class="table-responsive_iiji">
                            <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                                <thead class="head">
                                    <tr>
                                        <th *ngIf="!isSubstanceSelected" bgcolor="#eeeeee" class="textLeft" (click)="sorting('ReportNo')" style="min-width:100px;">Vendor
                                            Name
                                        </th>
                                        <th bgcolor="#eeeeee" class="textLeft" (click)="sorting('ReportNo')" style="min-width:100px;">Substance
                                            Name
                                        </th>
                                        <th bgcolor="#eeeeee" class="textCenter">Report #</th>
                                        <th bgcolor="#eeeeee" class="textCenter"style="min-width:100px;">Date
                                            In
                                        </th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Date
                                            Out
                                        </th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Lab
                                            Location Name</th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Test
                                            Name
                                        </th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Test
                                            Rating
                                        </th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Concentration</th>
                                        <th bgcolor="#eeeeee" class="textCenter" style="min-width:100px;">Component</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <ng-container *ngFor="let order of substanceDateList">
                                        <tr *ngFor="let ord of order;let j=index">
                                            <td class="textLeft" *ngIf="!isSubstanceSelected && j==0" [attr.rowspan]="order.length">{{ord.VendorName}}</td>
                                            <td class="textLeft" *ngIf="j==0" [attr.rowspan]="order.length">{{ord.Substance_Name}}</td>
                                            <td class="textCenter" *ngIf="j==0" [attr.rowspan]="order.length">{{ord.ReportNo}}</td>
                                            <td class="textCenter" *ngIf="j==0" [attr.rowspan]="order.length">{{ord.LogInTime
                                                | date: 'dd-MM-yyyy'}} </td>
                                            <td class="textCenter" *ngIf="j==0" [attr.rowspan]="order.length">{{ord.LogoutTime
                                                | date: 'dd-MM-yyyy'}}</td>
                                            <td class="textCenter" *ngIf="j==0" [attr.rowspan]="order.length">{{ord.LabLocationName}}</td>
                                            <td class="textCenter">{{ord.TestName}}
                                            </td>
                                            <td class="textCenter">{{ord.TestRating}} </td>
                                            <td class="textCenter">{{ord.Concentration}} </td>
                                        </tr>
                                    </ng-container> -->
                                    <tr *ngFor="let ord of substanceDateList;let j=index">
                                        <td class="textLeft" *ngIf="!isSubstanceSelected && !!ord.VendorName && ord.VendorName.Rowspan != 0" [attr.rowspan]="ord?.VendorName?.Rowspan">{{ord?.VendorName?.Value}}</td>
                                        <td class="textLeft" *ngIf="ord.SubstanceName.Rowspan != 0" [attr.rowspan]="ord.SubstanceName.Rowspan">{{ord.SubstanceName.Value}}</td>
                                        <td class="textCenter" *ngIf="ord.ReportNumber.Rowspan != 0" [attr.rowspan]="ord.ReportNumber.Rowspan">{{ord.ReportNumber.Value}}</td>
                                        <td class="textCenter" *ngIf="ord.DateIn.Rowspan != 0" [attr.rowspan]="ord.DateIn.Rowspan">{{ord.DateIn.Value
                                            | date: 'dd-MM-yyyy'}} </td>
                                        <td class="textCenter" *ngIf="ord.DateOut.Rowspan != 0" [attr.rowspan]="ord.DateOut.Rowspan">{{ord.DateOut.Value
                                            | date: 'dd-MM-yyyy'}}</td>
                                        <td class="textCenter" *ngIf="ord.LabLocationName.Rowspan != 0" [attr.rowspan]="ord.LabLocationName.Rowspan">{{ord.LabLocationName.Value}}</td>
                                        <td class="textCenter" *ngIf="ord.TestName.Rowspan != 0" [attr.rowspan]="ord.TestName.Rowspan">{{ord.TestName.Value}}
                                        </td>
                                        <td class="textCenter" *ngIf="ord.TestRating.Rowspan != 0" [attr.rowspan]="ord.TestRating.Rowspan">{{ord.TestRating.Value}}
                                        </td>
                                        <td class="textCenter" *ngIf="ord.Concentration.Rowspan != 0" [attr.rowspan]="ord.Concentration.Rowspan">{{ord.Concentration.Value}}
                                        </td>
                                        <td class="textCenter" *ngIf="ord.Component.Rowspan != 0" [attr.rowspan]="ord.Component.Rowspan">{{ord.Component.Value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> -->
                <!-- <button type="button" class="btn btn-success export-excel" (click)="ExportToExcelAnalysis()" disabled>Export to Excel</button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>