<div class="warpper-inner">
  <div class="content-inside">
    <custom-header *ngIf="labLocationId==0 && userCredential && userDetail"></custom-header>

    <div class="logo1" style="background-color: white;" *ngIf="!!labLocationId && labLocationId>0">
      <img alt="" class="img-responsive" src="asset/img/logo1.jpg">

    </div>

    <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
    </div>
    <div class="mainDiv">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav">


            <div style="width:100%;margin:0px 0px 0px 0px;" class="">

              <div class="border_shadow" style="background:white;width:100%;margin: 0px 3px 3px 3px;border-radius:5px;padding:4px">
                <table style="background: #ece6e6;height:77px" cellpadding="0" cellspacing="0" border="0" width="100%"
                  class="">
                  <tr>
                    <td class="EFG" style="font-size: 12px;;font-weight: bold">Location:</td>

                    <td class="EFG" style="font-size: 11px;">
                      <select [(ngModel)]="selectedLabLocationId" (ngModelChange)="FilterDivision()" style="width:100%;background: #ece6e6;border:white;font-size:12px;">
                        <option *ngFor="let labDivision of LabDivisions" [value]="labDivision.LabLocation_Id">{{labDivision.LabLocationShortName|
                          titlecase }}</option>
                      </select>
                    </td>
                  </tr>

                  <tr style="font-size: 12px;">
                    <td class="EFG">
                      <b>Date :</b>
                    </td>
                    <td>
                      <!-- <div class="inputDesign">                        -->
                      <!-- <div class="custom_Date"> -->
                      <my-date-picker class="date-pick" [placeholder]="'Date'" [options]="myDatePickerOptions"
                        [(ngModel)]="PickerDate" (dateChanged)="onDateSelect($event, true)">
                      </my-date-picker>
                      <!-- </div> -->
                      <!-- </div> -->

                    </td>
                  </tr>
                  <tr style="font-size: 12px;">
                    <td class="EFG">
                      <b>Division :</b>
                    </td>

                    <td class="EFG">
                      <select style="width:100%;background: #ece6e6;border:white" [(ngModel)]="selectedDivisionId"
                        (ngModelChange)="GetDashboardFilterData()">
                        <option *ngFor="let division of selectedLab.Divisions" [value]="division.Division_Id">{{division.DivisionName|
                          titlecase }}</option>
                      </select>
                    </td>

                  </tr>
                </table>
              </div>


              <div class="border_shadow font_styleclass css_upperleftdiv" style="width:100%;margin: 0px 3px 3px 3px;">
                <table style="height:90px" cellpadding="0" cellspacing="0" border="0" width="100%" class="">
                  <tr>
                    <td colspan="2" class="header_lineheight left_tableheader">
                      Number of report
                    </td>
                  </tr>
                  <tr class="td_lineheight" style="background: #e4f2f9;">
                    <td class="EFG" width="15%;">
                      In
                    </td>
                    <td class="EFG" [ngClass]="(loginSummaryData?.LDM_No_of_Sample_IN>0)? 'link': '' " width="15%;">
                      <span (click)="ViewReportDetail('Report Data (IN)','Reports','IN','',loginSummaryData?.LDM_No_of_Sample_IN)">{{loginSummaryData?.LDM_No_of_Sample_IN}}</span>
                    </td>
                  </tr>
                  <tr style="background: #e4f2f9;" class="td_lineheight">
                    <td class="EFG" width="20%;">
                      Out
                    </td>
                    <td class="EFG" width="20%;" [ngClass]="(loginSummaryData?.LDM_No_of_Sample_Out>0)? 'link': '' ">
                      <span (click)="ViewReportDetail('Report Data (Out)','Reports','Out', '',loginSummaryData?.LDM_No_of_Sample_Out)">{{loginSummaryData?.LDM_No_of_Sample_Out}}</span></td>
                  </tr>
                  <tr style="background: #e4f2f9;" class="td_lineheight">
                    <td class="EFG" width="20%;">
                      On hold
                    </td>
                    <td class="EFG" width="20%;" [ngClass]="(loginSummaryData?.LDM_No_of_Sample_Hold>0)? 'link': '' ">
                      <span (click)="ViewReportDetail('Report Data (On Hold)','Reports','OnHold', '',loginSummaryData?.LDM_No_of_Sample_Hold)">{{loginSummaryData?.LDM_No_of_Sample_Hold}}</span></td>
                  </tr>
                </table>

              </div>

              <div class="border_shadow font_styleclass css_upperleftdiv" style="width:100%;margin:0px 3px 3px 3px;">
                <table cellpadding="0" style="height:123px" cellspacing="0" border="0" width="100%" class="">
                  <tr>
                    <td colspan="2" class="header_lineheight left_tableheader">
                      <b>Overdue Summary:</b>
                    </td>
                  </tr>
                  <tr style="background: #fff2cc;" class="td_lineheight">
                    <td class="EFG">1 Day:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_1_day}}</td>
                  </tr>
                  <tr style="background: #ffe699;" class="td_lineheight">
                    <td class="EFG">2 Days:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_2_day}}</td>
                  </tr>
                  <tr style="background: #ffd966;" class="td_lineheight">
                    <td class="EFG">3 Days:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_3_day}}</td>
                  </tr>
                  <tr style="background: #f8cbad;" class="td_lineheight">
                    <td class="EFG">4 Days:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_4_day}}</td>
                  </tr>
                  <tr style="background: #f4b084;" class="td_lineheight">
                    <td class="EFG">5 Days:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_5_day}}</td>
                  </tr>
                  <tr style="background: #f4b084;" class="td_lineheight">
                    <td class="EFG"> More Than 5 Days:</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Overdue_Summary_Morethan5_day}}</td>
                  </tr>

                </table>
              </div>

              <div class="border_shadow font_styleclass css_upperleftdiv" style="width:100%;margin: 0px 3px 3px 3px;">
                <table style="height:90px" cellpadding="0" cellspacing="0" border="0" width="100%" class="">
                  <tr>
                    <td colspan="3" class="left_tableheader">
                      <b>History record reference</b>
                    </td>
                  </tr>
                  <tr style="background: #d0cece;">

                    <td class="EFG" colspan="2" align="right">No. of report out</td>
                    <td class="EFG" align="right">No. of Staff</td>
                  </tr>
                  <tr class="td_lineheight" style="background: #b4dafb;">
                    <td class="EFG">{{previousMOnthAndCurrentYear |date :'MMM - y'}} </td>
                    <td class="EFG" style="text-align:center">{{loginSummaryData?.NoOfReport_Out_PrevMonthCurrentYear}}</td>
                    <td class="EFG" style="text-align:center">{{loginSummaryData?.NoOfStaff_PrevMonthCurrentYear}}</td>
                  </tr>
                  <tr class="td_lineheight" style="background: #b4dafb;">
                    <td class="EFG">{{currrentMonthAndPrevYear|date :'MMM - y'}}</td>
                    <td class="EFG" style="text-align:center">{{loginSummaryData?.NoOfReport_Out_CurrentMonthPrevYear}}</td>
                    <td class="EFG" style="text-align:center">{{loginSummaryData?.NoOfStaff_CurrentMonthPrevYear}}</td>
                  </tr>
                </table>
              </div>

              <div class="border_shadow font_styleclass css_upperleftdiv" style="width:100%;margin: 0px 3px 3px 3px;">
                <table style="height:90px" cellpadding="0" cellspacing="0" border="0" width="100%" class="">
                  <tr>
                    <td colspan="2" class=" left_tableheader">
                      <b>Report out Performance:</b>
                    </td>
                  </tr>
                  <tr style="background: #d0cece;" class="td_lineheight">
                    <td class="EFG">Early</td>
                    <td class="EFG" [ngClass]="(loginSummaryData?.LDM_Report_Out_Early>0)? 'link': '' ">
                      <span (click)="ViewReportDetail('Report Performance Data (Early)','Performance','Early','',loginSummaryData?.LDM_Report_Out_Early)">{{loginSummaryData?.LDM_Report_Out_Early}}</span></td>
                  </tr>
                  <tr style="background: #70ad47;" class="td_lineheight">
                    <td class="EFG">On Time</td>
                    <td class="EFG" [ngClass]="(loginSummaryData?.LDM_Report_Out_OnTime>0)? 'link': '' ">
                      <span (click)="ViewReportDetail('Report Performance Data (On Time)','Performance','OnTime','',loginSummaryData?.LDM_Report_Out_OnTime)">{{loginSummaryData?.LDM_Report_Out_OnTime}}</span></td>
                  </tr>
                  <tr style="background: #ffc000;" class="td_lineheight">
                    <td class="EFG">Late</td>
                    <td class="EFG" [ngClass]="(loginSummaryData?.LDM_Report_Out_Late>0)? 'link': '' ">
                      <span (click)="ViewReportDetail('Report Performance Data (Late)','Performance','Late','',loginSummaryData?.LDM_Report_Out_Late)">{{loginSummaryData?.LDM_Report_Out_Late}}</span></td>
                  </tr>
                  <tr style="background: #b0cae2;" class="td_lineheight">
                    <td class="EFG">Total Sample Processed</td>
                    <td class="EFG">{{loginSummaryData?.LDM_Total_Report_Processed}}</td>
                  </tr>

                </table>
              </div>
              <div class="border_shadow css_upperleftdiv" style="width:100%;margin: 0px 3px 3px 3px ;text-align: center;">
                  <b style="color: blue;cursor: pointer" (click)="GetDashboardFilterData()">Refresh</b>
              </div>
            </div>

          </div>
          <div class="col-sm-10 sidenav">
            <div style="float:left;width:100%">
              <div class="border_shadow font_styleclass css_upperleftdiv" style="width:100%;margin:0px;">

                <div>
                  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse">
                    <tr>
                      <th colspan="3" style="background: #5b9bd5;color: #fff;text-align:left;line-height: 16px;">
                        Reports Due:
                      </th>
                      <th class="ABC" rowspan="7" style="background: #0067aa; width: 1%; color: #fff; border: solid 1px #4472c4; font-size: 12px;text-align:center;vertical-align:top;line-height:35px;">
                      </th>
                      <th colspan="6" style="background: #999; color: #fff; text-align: left; line-height: 16px;">
                        Reports Due per service level:
                      </th>
                   
                    </tr>
                    <tr style="text-align:center">
                      <td class="ABC" style="background: #d0cece"></td>
                      <td class="ABC" style="background: #d0cece;">
                        <b>Total</b>
                      </td>
                      <td class="ABC" style="background: #d0cece;">
                        <b>Outstanding</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Regular</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Outstanding</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Express</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Outstanding</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Shuttle</b>
                      </td>
                      <td class="ABC" style="background: #d0cece">
                        <b>Outstanding</b>
                      </td>

                    </tr>

                    <tr style="background: #ffc000;text-align:center">
                      <td class="ABC" style="text-align:left">
                        <b>Overdue</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Overdue_Today>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Overdue Data','OverDue','','',loginSummaryData?.LDM_Report_Overdue_Today)">{{loginSummaryData?.LDM_Report_Overdue_Today}}</span></td>
                      <td class="ABC" colspan="8"></td>
                    </tr>
                    <tr style="text-align:center">
                      <td class="ABC" style="background: #d0cece;text-align:left" [ngClass]="loginSummaryDataResponse.isTodayDateHoliday ? 'RedDamask':'' ">
                        <b>Today</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Today>0)? 'link': '' " style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Total (Today)','Total','Today','',loginSummaryData?.LDM_Report_Due_Total_Today)">{{loginSummaryData?.LDM_Report_Due_Total_Today}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Today && (loginSummaryData?.LDM_Report_Due_Outstanding_Today>=(loginSummaryData?.LDM_Report_Due_Total_Today/2)))? 'dyn-class': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due OutStanding (Today)','OutStanding','Today','',loginSummaryData?.LDM_Report_Due_Outstanding_Today)">{{loginSummaryData?.LDM_Report_Due_Outstanding_Today}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Today>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Regular (Today)','Regular','Today','',loginSummaryData?.LDM_Report_Due_Total_Regular_Today)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Today}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Today && (loginSummaryData?.LDM_Report_Due_Regular_Outstanding_Today>=(loginSummaryData?.LDM_Report_Due_Total_Regular_Today/2)))? 'dyn-class': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Regular OutStanding (Today)','RegularOutStanding','Today','',loginSummaryData?.LDM_Report_Due_Regular_Outstanding_Today)">{{loginSummaryData?.LDM_Report_Due_Regular_Outstanding_Today}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Today>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Express (Today)','Express','Today','',loginSummaryData?.LDM_Report_Due_Total_Express_Today)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Today}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Today && (loginSummaryData?.LDM_Report_Due_Express_Outstanding_Today>=(loginSummaryData?.LDM_Report_Due_Total_Express_Today/2)))? 'dyn-class': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Express OutStanding (Today)','ExpressOutStanding','Today','',loginSummaryData?.LDM_Report_Due_Express_Outstanding_Today)">{{loginSummaryData?.LDM_Report_Due_Express_Outstanding_Today}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Today>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Shuttle (Today)','Shuttle','Today','',loginSummaryData?.LDM_Report_Due_Total_Shuttle_Today)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Today}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Today>0 && (loginSummaryData?.LDM_Report_Due_Shuttle_Outstanding_Today>=(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Today/2)))? 'dyn-class': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due Shuttle OutStanding (Today)','ShuttleOutStanding','Today','', loginSummaryData?.LDM_Report_Due_Shuttle_Outstanding_Today)">
                          {{loginSummaryData?.LDM_Report_Due_Shuttle_Outstanding_Today}} </span></td>

                    </tr>
                    <tr style="text-align:center">
                      <td class="ABC" style="background: #d0cece; text-align: left" [ngClass]="loginSummaryDataResponse.isTomorrowDateHoliday ? 'RedDamask':'' ">
                        <b>{{tomorrowDate | date }}</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Tomorrow>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Total ','Total','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow>0)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due OutStanding ','OutStanding','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Regular ','Regular','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Regular OutStanding ','RegularOutStanding','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Express ','Express','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Express OutStanding','ExpressOutStanding','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow)">
                          {{loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Shuttle ','Shuttle','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow>0)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due Shuttle OutStanding ','ShuttleOutStanding','Tomorrow',tomorrowDate,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow}}</span></td>


                    </tr>
                    <tr style="text-align:center">
                      <td class="ABC" style="background: #d0cece; text-align: left" [ngClass]="loginSummaryDataResponse.isTomorrowDatePlus1Holiday ? 'RedDamask':'' ">
                        <b>{{tomorrowDatePlus1 | date }}</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Total ','Total','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due OutStanding ','OutStanding','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Regular ','Regular','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Regular OutStanding ','RegularOutStanding','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Express ','Express','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Express OutStanding ','ExpressOutStanding','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_1_Day>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Shuttle ','Shuttle','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_1_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_1_Day)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due Shuttle OutStanding ','ShuttleOutStanding','Tomorrow_Plus_1',tomorrowDatePlus1,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_1_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_1_Day}}</span></td>

                    </tr>
                    <tr style="text-align:center">
                      <td class="ABC" style="background: #d0cece; text-align: left" [ngClass]="loginSummaryDataResponse.isTomorrowDatePlus2Holiday ? 'RedDamask':'' ">
                        <b>{{tomorrowDatePlus2 | date }}</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Total ','Total','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due OutStanding ','OutStanding','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Outstanding_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Regular ','Regular','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Regular OutStanding ','RegularOutStanding','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Regular_Outstanding_Tomorrow_Plus_2_Day}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #dbdbdb;">
                        <span (click)="ViewReportDetail('Report Due Express ','Express','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #bdd7ee;">
                        <span (click)="ViewReportDetail('Report Due Express OutStanding ','ExpressOutStanding','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Express_Outstanding_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #f2f2f2;">
                        <span (click)="ViewReportDetail('Report Due Shuttle ','Shuttle','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Tomorrow_Plus_2_Day}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_2_Day>0)? 'link': '' "
                        style="background: #ddebf7;">
                        <span (click)="ViewReportDetail('Report Due Shuttle OutStanding ','ShuttleOutStanding','Tomorrow_Plus_2',tomorrowDatePlus2,loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_2_Day)">{{loginSummaryData?.LDM_Report_Due_Total_Shuttle_Outstanding_Tomorrow_Plus_2_Day}}</span></td>

                    </tr>

                  </table>
                </div>

                <div class="overflow_div">
                  <div class="clr"></div>

                  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;overflow:scroll;">
                    <tr>

                      <th colspan="9" style="background: #5b9bd5;color: #fff;text-align:left;line-height:16px;"> <b>Performance
                          per workstation</b>
                      </th>
                    </tr>

                    <tr style="font-weight:bold;text-align:center">
                      <td class="ABC" width="8%"></td>
                      <td class="ABC" width="12%">Sample Login</td>
                      <td class="ABC" width="12%">Test Assignment</td>
                      <td class="ABC" width="12%">Breakdown</td>
                      <td class="ABC" width="12%">Scrapping</td>
                      <td rowspan="6" class="ABC" width="4%" style="background: #fff; border: solid 1px #fff; color: #0067aa; text-align: center; font-size: 14px;font-weight:normal ">Testing
                        Lab</td>

                      <td class="ABC" width="12%" style="text-align:center">DCD</td>
                      <td class="ABC" width="12%" style="text-align:center">Reporting</td>
                      <td class="ABC" width="12%" style="text-align:center">Logout</td>
                    </tr>

                    <tr style="background: #aeaaaa; text-align: center">
                      <td class="ABC" style="text-align:left">
                        <b>Target</b>
                      </td>
                      <td class="ABC">{{loginSummaryData?.LDM_PPW_SampleLogin_Target}}</td>
                      <td class="ABC">{{loginSummaryData?.LDM_PPW_Test_Assignment_Target}}</td>
                      <td class="ABC">{{loginSummaryData?.LDM_PPW_Breakdown_Target}}</td>
                      <td class="ABC">{{loginSummaryData?.LDM_PPW_Scrapping_Target}}</td>

                      <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_DCD_Target}}</td>
                      <!-- <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_Reporting_Target}}</td>-->
                      <td class="ABC" style="text-align:center">/</td>
                      <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_Logout_Target}}</td>
                    </tr>
                    <tr style="background: #ffc000; text-align: center">
                      <td class="ABC" style="background:#ddebf7;text-align:left">
                        <b>In Before</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_SampleLogin_InBefore)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Sample login (In Before)','SampleLogin','InBefore','',loginSummaryData?.LDM_PPW_SampleLogin_InBefore)">{{loginSummaryData?.LDM_PPW_SampleLogin_InBefore}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Test_Assignment_InBefore>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Test Assignment (In Before)','TestAssignment','InBefore','',loginSummaryData?.LDM_PPW_Test_Assignment_InBefore)">{{loginSummaryData?.LDM_PPW_Test_Assignment_InBefore}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Breakdown_InBefore>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Breakdown (In Before)','Breakdown','InBefore','',loginSummaryData?.LDM_PPW_Breakdown_InBefore)">{{loginSummaryData?.LDM_PPW_Breakdown_InBefore}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Scrapping_InBefore>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Scrapping (In Before)','Scrapping','InBefore','',loginSummaryData?.LDM_PPW_Scrapping_InBefore)">{{loginSummaryData?.LDM_PPW_Scrapping_InBefore}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_DCD_InBefore>0)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation DCD (In Before)','DCD','InBefore','',loginSummaryData?.LDM_PPW_DCD_InBefore)">{{loginSummaryData?.LDM_PPW_DCD_InBefore}}</span></td>
                      <!-- <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_Reporting_InBefore}}</td> -->
                      <td class="ABC" style="text-align:center">/</td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Logout_InBefore>0)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation Logout (In Before)','Logout','InBefore','',loginSummaryData?.LDM_PPW_Logout_InBefore)">{{loginSummaryData?.LDM_PPW_Logout_InBefore}}</span></td>
                    </tr>
                    <tr class="ABC" style="background: #ed7d31; text-align: center">
                      <td class="ABC" style="background:#ddebf7;text-align:left">
                        <b>In Today</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_SampleLogin_InToday>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Sample login (In Today)','SampleLogin','InToday','',loginSummaryData?.LDM_PPW_SampleLogin_InToday)">{{loginSummaryData?.LDM_PPW_SampleLogin_InToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Test_Assignment_InToday>0)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation  Test Assignment (In Today)','TestAssignment','InToday','',loginSummaryData?.LDM_PPW_Test_Assignment_InToday)">{{loginSummaryData?.LDM_PPW_Test_Assignment_InToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Breakdown_InToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Breakdown (In Today)','Breakdown','InToday','',loginSummaryData?.LDM_PPW_Breakdown_InToday)">
                          {{loginSummaryData?.LDM_PPW_Breakdown_InToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Scrapping_InToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Scrapping (In Today)','Scrapping','InToday','',loginSummaryData?.LDM_PPW_Scrapping_InToday)">{{loginSummaryData?.LDM_PPW_Scrapping_InToday}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_DCD_InToday)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation DCD (In Today)','DCD','InToday','',loginSummaryData?.LDM_PPW_DCD_InToday)">{{loginSummaryData?.LDM_PPW_DCD_InToday}}</span></td>
                      <!-- <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_Reporting_InToday}}</td> -->
                      <td class="ABC" style="text-align:center">/</td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Logout_InToday>0)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation Logout (In Today)','Logout','InToday','',loginSummaryData?.LDM_PPW_Logout_InToday)">{{loginSummaryData?.LDM_PPW_Logout_InToday}}</span></td>
                    </tr>
                    <tr style="background: #dbdbdb; text-align: center">
                      <td class="ABC" style="background:#ddebf7;text-align:left">
                        <b>Out Today</b>
                      </td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_SampleLogin_OutToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Sample login (Out Today)','SampleLogin','OutToday','',loginSummaryData?.LDM_PPW_SampleLogin_OutToday)">{{loginSummaryData?.LDM_PPW_SampleLogin_OutToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Test_Assignment_OutToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Test Assignment (Out Today)','TestAssignment','OutToday','',loginSummaryData?.LDM_PPW_Test_Assignment_OutToday)">{{loginSummaryData?.LDM_PPW_Test_Assignment_OutToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Breakdown_OutToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Breakdown (Out Today)','Breakdown','OutToday','',loginSummaryData?.LDM_PPW_Breakdown_OutToday)">{{loginSummaryData?.LDM_PPW_Breakdown_OutToday}}</span></td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Scrapping_OutToday)? 'link': '' ">
                        <span (click)="ViewReportDetail('Performance  Workstation Scrapping (Out Today)','Scrapping','OutToday','',loginSummaryData?.LDM_PPW_Scrapping_OutToday)">
                          {{loginSummaryData?.LDM_PPW_Scrapping_OutToday}}</span></td>

                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_DCD_OutToday)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation DCD (Out Today)','DCD','OutToday','',loginSummaryData?.LDM_PPW_DCD_OutToday)">{{loginSummaryData?.LDM_PPW_DCD_OutToday}}</span></td>
                      <!-- <td class="ABC" style="text-align:center">{{loginSummaryData?.LDM_PPW_Reporting_OutToday}}</td> -->
                      <td class="ABC" style="text-align:center">/</td>
                      <td class="ABC" [ngClass]="(loginSummaryData?.LDM_PPW_Logout_OutToday)? 'link': '' " style="text-align:center">
                        <span (click)="ViewReportDetail('Performance  Workstation Logout (Out Today)','Logout','OutToday','',loginSummaryData?.LDM_PPW_Logout_OutToday)">{{loginSummaryData?.LDM_PPW_Logout_OutToday}}</span></td>
                    </tr>
                    <tr style="background: #70ad47; text-align: center">
                      <td class="ABC" style="background:#ddebf7;text-align:left">
                        <b>Avbl. Capacity</b>
                      </td>
                      <td class="ABC" [ngClass]="GetCalulatedAC (loginSummaryData?.LDM_PPW_SampleLogin_Target,
                      loginSummaryData?.LDM_PPW_SampleLogin_InToday
                      ,loginSummaryData?.LDM_PPW_SampleLogin_InBefore,loginSummaryData?.LDM_PPW_SampleLogin_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_SampleLogin_Target,
                        loginSummaryData?.LDM_PPW_SampleLogin_InToday
                        ,loginSummaryData?.LDM_PPW_SampleLogin_InBefore,loginSummaryData?.LDM_PPW_SampleLogin_OutToday)}}</td>
                      <td class="ABC" [ngClass]="GetCalulatedAC (loginSummaryData?.LDM_PPW_Test_Assignment_Target,
                      loginSummaryData?.LDM_PPW_Test_Assignment_InToday
                      ,loginSummaryData?.LDM_PPW_Test_Assignment_InBefore,loginSummaryData?.LDM_PPW_Test_Assignment_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_Test_Assignment_Target,
                        loginSummaryData?.LDM_PPW_Test_Assignment_InToday
                        ,loginSummaryData?.LDM_PPW_Test_Assignment_InBefore,loginSummaryData?.LDM_PPW_Test_Assignment_OutToday)}}</td>
                      <td class="ABC" [ngClass]="GetCalulatedAC (loginSummaryData?.LDM_PPW_Breakdown_Target,
                      loginSummaryData?.LDM_PPW_Breakdown_InToday
                      ,loginSummaryData?.LDM_PPW_Breakdown_InBefore,loginSummaryData?.LDM_PPW_Breakdown_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_Breakdown_Target,
                        loginSummaryData?.LDM_PPW_Breakdown_InToday
                        ,loginSummaryData?.LDM_PPW_Breakdown_InBefore,loginSummaryData?.LDM_PPW_Breakdown_OutToday)}}</td>
                      <td class="ABC" [ngClass]="GetCalulatedAC (loginSummaryData?.LDM_PPW_Scrapping_Target,
                      loginSummaryData?.LDM_PPW_Scrapping_InToday
                      ,loginSummaryData?.LDM_PPW_Scrapping_InBefore,loginSummaryData?.LDM_PPW_Scrapping_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_Scrapping_Target,
                        loginSummaryData?.LDM_PPW_Scrapping_InToday
                        ,loginSummaryData?.LDM_PPW_Scrapping_InBefore,loginSummaryData?.LDM_PPW_Scrapping_OutToday)}}</td>
                      <td class="ABC" [ngClass]="GetCalulatedAC (loginSummaryData?.LDM_PPW_DCD_Target,
                      loginSummaryData?.LDM_PPW_DCD_InToday
                      ,loginSummaryData?.LDM_PPW_DCD_InBefore,loginSummaryData?.LDM_PPW_DCD_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_DCD_Target,
                        loginSummaryData?.LDM_PPW_DCD_InToday
                        ,loginSummaryData?.LDM_PPW_DCD_InBefore,loginSummaryData?.LDM_PPW_DCD_OutToday)}}</td>
                      <!-- <td class="ABC">{{GetCalulatedAC (loginSummaryData?.LDM_PPW_Reporting_Target,
                        loginSummaryData?.LDM_PPW_Reporting_InToday
                        ,loginSummaryData?.LDM_PPW_Reporting_InBefore,loginSummaryData?.LDM_PPW_Reporting_OutToday)}}</td> -->
                      <td class="ABC">/</td>
                      <td class="ABC" [ngClass]="GetCalulatedAC
                      (loginSummaryData?.LDM_PPW_Logout_Target,loginSummaryData?.LDM_PPW_Logout_InToday,loginSummaryData?.LDM_PPW_Logout_InBefore,loginSummaryData?.LDM_PPW_Logout_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC
                        (loginSummaryData?.LDM_PPW_Logout_Target,loginSummaryData?.LDM_PPW_Logout_InToday,loginSummaryData?.LDM_PPW_Logout_InBefore,loginSummaryData?.LDM_PPW_Logout_OutToday)}}</td>

                    </tr>

                    <tr>
                      <td></td>
                      <td colspan="4">
                        <!-- <img height="120px" width="100%" src="asset/production-dashboard-img/img.jpg" /> -->
                        <div class="graph-div1">
                          <div id="4chart" class="chart-ui"></div>
                        </div>
                      </td>
                      <td>
                        <div class="graph-div2">
                          <img height="90px" width="100%" src="asset/production-dashboard-img/arrow_table.jpg" />

                        </div>
                      </td>
                      <td colspan="3">
                        <div class="graph-div3">
                          <div id="3chart" class="chart-ui"></div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="font_styleclass" style="width:100%; margin:0px 10px 0px 0px">
                  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse">
                    <tr style="background: #e7e6e6;text-align:center">
                      <th colspan="12" style="background: #0067aa; color: #fff; text-align: left; line-height: 16px; text-align: center; ">
                        Testing Lab
                      </th>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-12  sidenav" style="margin-left:8px;">
                  <div class="border_shadow font_styleclass css_upperleftdiv" *ngFor="let testingLab of loginSummaryDataResponse?.TestingLabs;let i =index">
                    <div>
                      <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse">
                        <tr style="background: #e7e6e6;text-align:center">
                          <th colspan="12" style="background:#0067aa; color: #fff; text-align: left; line-height: 16px; text-align: center;">
                            {{testingLab.DivisionName}}
                          </th>
                        </tr>

                        <tr style="font-weight: bold; text-align: center;width:20%">
                          <td class="ABC" *ngIf="i==0"></td>
                          <td class="ABC">Testing</td>
                          <td class="ABC">Resulting</td>

                        </tr>
                        <tr style="background: #aeaaaa;text-align:center">
                          <td class="ABC" align="left" style="background:#ddebf7;font-weight:bold;" *ngIf="i==0">Target</td>
                          <td class="ABC" >{{testingLab?.LabTesting_Target}}</td>
                          <td class="ABC">{{testingLab?.Resulting_Target}}</td>
                        </tr>

                        <tr style="background: #ffc000; text-align: center">
                          <td class="ABC" align="left" style="background: #ddebf7; font-weight: bold" *ngIf="i==0">In Before
                          </td>
                          <td class="ABC" [ngClass]="(testingLab?.LabTesting_InBefore>0)? 'link': '' ">
                            <span (click)="ViewReportDetail('Testing lab Data LabTesting (In Before)','LabTesting','InBefore','',testingLab?.LabTesting_InBefore,testingLab.DivisionName)">{{testingLab?.LabTesting_InBefore}}</span>
                          </td>
                          <td class="ABC" [ngClass]="(testingLab?.Resulting_InBefore>0)? 'link': '' ">
                            <span (click)="ViewReportDetail('Testing lab Data Resulting (In Before)','Resulting','InBefore','',testingLab?.Resulting_InBefore,testingLab.DivisionName)">{{testingLab?.Resulting_InBefore}}</span>
                          </td>                        
                        </tr>

                        <tr style="background: #ed7d31; text-align: center">
                          <td class="ABC" align="left" style="background: #ddebf7; font-weight: bold" *ngIf="i==0">In Today
                          </td>
                          <td class="ABC" [ngClass]="(testingLab?.LabTesting_InToday>0)? 'link': '' ">
                            <span (click)="ViewReportDetail('Testing lab Data LabTesting (In Today)','LabTesting','InToday','',testingLab?.LabTesting_InToday,testingLab.DivisionName)">{{testingLab?.LabTesting_InToday}}</span>
                          </td>
                          <td class="ABC" [ngClass]="(testingLab?.Resulting_InToday>0)? 'link': '' ">
                            <span (click)="ViewReportDetail('Testing lab Data Resulting (In Today)','Resulting','InToday','',testingLab?.Resulting_InToday,testingLab.DivisionName)">{{testingLab?.Resulting_InToday}}</span>
                          </td>
                        </tr>

                        <tr style="background: #dbdbdb; text-align: center">
                          <td class="ABC" align="left" style="background: #ddebf7; font-weight: bold; " *ngIf="i==0">Out Today
                          </td>
                          <td class="ABC" [ngClass]="(testingLab?.LabTesting_OutToday>0)? 'link': '' ">
                            <span (click)="ViewReportDetail('Testing lab Data LabTesting (Out Today)','LabTesting','OutToday','',testingLab?.LabTesting_OutToday,testingLab.DivisionName)">{{testingLab?.LabTesting_OutToday}}</span>
                          </td> 
                          <td class="ABC" [ngClass]="(testingLab?.Resulting_OutToday>0)? 'link': '' ">
                              <span (click)="ViewReportDetail('Testing lab Data Resulting (Ou tToday)','Resulting','OutToday','',testingLab?.Resulting_OutToday,testingLab.DivisionName)">{{testingLab?.Resulting_OutToday}}</span>
                            </td>                                  
                        </tr>

                        <tr style="background: #70ad47; text-align: center">
                          <td class="ABC" align="left" width="100%" style="background: #ddebf7; font-weight: bold;width:100%;float:left;font-size:11px;line-height:14px;"
                            *ngIf="i==0">Avbl. Capacity</td>
                          <td class="ABC" [ngClass]="GetCalulatedAC
                          (testingLab?.LabTesting_Target,testingLab?.LabTesting_InToday,testingLab?.LabTesting_InBefore,testingLab?.LabTesting_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC
                            (testingLab?.LabTesting_Target,testingLab?.LabTesting_InToday,testingLab?.LabTesting_InBefore,testingLab?.LabTesting_OutToday)}}</td>
                          <td class="ABC" [ngClass]="GetCalulatedAC
                          (testingLab?.Resulting_Target,testingLab?.Resulting_InToday,testingLab?.Resulting_InBefore,testingLab?.Resulting_OutToday) >=0 ? '' : 'red'">{{GetCalulatedAC
                            (testingLab?.Resulting_Target,testingLab?.Resulting_InToday,testingLab?.Resulting_InBefore,testingLab?.Resulting_OutToday)}}</td>
                        </tr>

                      </table>

                    </div>
                    <app-charts [testingLab]="loginSummaryDataResponse?.TestingLabs[i]"></app-charts>
                    <div class="clr"></div>
                  </div>
                </div>
                <div class="clr"></div>
              </div>


            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <custom-footer></custom-footer>




  <div class="modal fade" id="ReportDeatil" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg ReportDeatilModal" style="width:83%;margin-top:55px;">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{popupCaption}}</h4>
        </div>
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="table-responsive_iiji">
                <table id="" class="table table-fixed  tableWrap">
                  <thead class="head">
                    <tr>
                      <th class="CommentListHeader">S.NO.</th>
                      <th class="CommentListHeader">Report Number</th>
                      <th class="CommentListHeader">Date Submitted</th>
                      <th class="CommentListHeader">Estimated Due Date</th>
                      <th class="CommentListHeader">Buyer</th>
                      <th class="CommentListHeader">Service Level</th>
                      <th class="CommentListHeader">Report Status</th>
                      <th class="CommentListHeader">Logout Date</th>
                      <th class="CommentListHeader">Overall Rating</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="PopupDataSummary?.length>0;">
                    <tr *ngFor="let data of PopupDataSummary;let i=index;">
                      <td style="border: 1px solid #ddd;">{{i+1}}</td>
                      <td style="border: 1px solid #ddd;">{{data.ReportNo}}</td>
                      <td style="border: 1px solid #ddd;">{{validateMinDate(data.LogInTime) | date}}</td>
                      <td style="border: 1px solid #ddd;">{{validateMinDate(data.DueDate) | date}}</td>
                      <td style="border: 1px solid #ddd;">{{data.ClientName}}</td>
                      <td style="border: 1px solid #ddd;">{{data.Service_Level}}</td>
                      <td style="border: 1px solid #ddd;">{{data.ReportStatus}}</td>
                      <td style="border: 1px solid #ddd;">{{validateMinDate(data.LogoutTime) | date}}</td>
                      <td style="border: 1px solid #ddd;">{{data.OverallRating}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success export-excel" (click)="ExportToExcelSummaryData()" [disabled]="hideExportToExcel">Export
                to Excel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>