body { background: #ffffff; color: #666;margin: 0;padding: 0;width: 100%; height: 100%;}
  
h2{font-family:Arial;font-size:12px;margin:0px;line-height:20px;}
h1 {font-family: Arial; font-size: 13px; margin: 0px;line-height: 18px;
    background: #5b9bd5;width: 98%;color: #fff;padding-left: 1%;padding-right: 1%;}
.clr{width:100%;clear:both;}

.warpper-inner {min-height: 100%;}
header {min-height: 60px !important;width: 100%;margin: 0px;
padding: 0px;margin-bottom: 0px;position: relative;min-height: 100px;}

header .dashTopNav {height: 60px;background: #fff;position: fixed;
top: 0px;width: 100%;z-index: 999;box-shadow: 0 1px 1px rgba(0,0,0,.2);}

header .dashTopNav .logo {float: left;padding-left: 12px;width: 30%;padding-top: 3px;}

.navbar-default {border-color: #e7e7e7;}
.navbar-fixed-top {/* top: 0; */border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;}

.navbar {position: relative; min-height: 40px;margin-bottom: 0px;border: 1px solid transparent;}

header .dashNav {clear: both;height: 40px;top: 60px;background: rgb(0, 103, 170); z-index: 9999; position: fixed;}

.container-fluid{padding:5px;}
.img-responsive { display: block;max-width: 100%; height: auto;}

.EFG{ border-top: .5px solid #ddd;font-family:Arial;}

.leftDiv{width: 16%;margin-right: 10px; margin-left: 7px;}

.tableBorder{ border: .8px solid #717171;  border-collapse:collapse;}

.imgDiv{margin-top: 3px;border: .8px solid #e2d7d7; }

.border_shadow{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* .header_lineheight{line-height: 24px;} */
.left_tableheader{background: white;font-weight: bold;font-size: 12px;}
/* .td_lineheight{line-height: 19px;} */
.margin_lefttable{margin-top:17.5px}

ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;  }
  
li {float: left;}
  
li a { display: block; color: white;  text-align: center; padding: 8px; text-decoration: none; font-size: 13px}

.mainDiv{height:80%;}

.FirstMainDiv{height:340px;display:flex;}

.SecondMainDiv{height:230px;display:flex}

.font_styleclass{font-family:sans-serif;font-size:12px;}
.css_upperleftdiv{border-radius: 7px;padding:5px;background: white;width:19.5%; margin: 0px 0px 10px 6px;float:left}
/* .css_radius_padding{border-radius: 7px;padding:5px;} */
.dyn-class{
    color: red;
    font-weight: 800;
    cursor:pointer;
}

.graph-div1{
    height: 120px;width:100%;float:left
}
.graph-div2{
    height: 120px;width:100%;float:left
}
.graph-div3{
    height: 120px;width:100%;float:left
}

.chart-ui{
    height: 120px;
    width: 100%;
    background-color: white;
}
.wc-date-container1  {
    float: left;
    width: 97%;
    height: 22px;
     border: 1px solid #fff;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    cursor: pointer;
    background: #fff;
    line-height: 22px;
}

.wc-date-container
{

    border:solid 1px #ffffff!important; height: 10px;
}



.box_res{width:16%; margin: 0px 1px 6px 4px;float:left;}
.row{margin-left: 0px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12

{padding-left:0px }
.overflow_div{width:100%;}

.footer {
    min-height: 50px;
    margin-top: 0px!important;
    clear: both;
}
@media screen and (max-width: 900px) {
  .css_upperleftdiv{border-radius: 7px;padding:5px;background: white; width:100%; margin: 0px 0px 5px 6px;float:left}
    .overflow_div{width:100%;overflow: scroll}

}

.red{
    color:red;
}

.RedDamask{
    color:#de7f41;
}

.link
{
    cursor:pointer;
    /* text-decoration: underline;
    color:blue */
}

.CommentListHeader{ color: white !important; background: #0067aa;}

.ReportDeatilModal .modal-body {
    max-height: 515px;
    overflow: auto;
}