#myBtn {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#68cd00;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #555;
  }

  .background {
    color: #68cd00;
  }

  .padding {
    padding: 15px;
  }

  header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
    min-height: 61px;
}