<body class="">
    <div class="warpper-inner">
        <div class="content-inside">
            <header>
                <div class="dashTopNav ">
                    <div class="logo">
                        <img src="./asset/img/logo1.jpg" class="img-responsive" alt="" /> </div>
                </div>
            </header>
            <section class="filter dashboardfilter padding">
                <div>
                    <b class="background"> Privacy Policy</b>
                </div>
                <br>
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <a (click)="goToSection('1')">1 - What information do we collect?</a>
                    </div>
                    <div class="col-lg-4">
                        <a (click)="goToSection('2')">2 - What do we use your information for?</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <a (click)="goToSection('3')">3 - Do we use cookies? </a>
                    </div>
                    <div class="col-lg-4">
                        <a (click)="goToSection('4')">4 - Do we disclose any information to outside parties?</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <a (click)="goToSection('5')">5 - California Online Privacy Protection Act Compliance</a>
                    </div>
                    <div class="col-lg-4">
                        <a (click)="goToSection('6')">6 - Children’s Online Privacy Protection Act Compliance</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <a (click)="goToSection('7')">7 - Online Privacy Policy Only</a>
                    </div>
                    <div class="col-lg-4">
                        <a (click)="goToSection('8')">8 - Your Consent</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <a (click)="goToSection('9')">9 - Changes to our Privacy Policy</a>
                    </div>
                </div>

                <br>
                <div style="margin-top: 100px;" id="1">
                    <b class="background">1. What information do we collect?</b>
                    <p> We collect information from you when you register on our site, place an order or fill out a form. When
                        ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail
                        address, mailing address, phone number, credit card information or social security number. You may,
                        however, visit our site anonymously.
                    </p>
                </div>
                <br>

                <div id="2">
                    <b class="background"> 2. What do we use your information for?</b>
                    <p> Any of the information we collect from you may be used in one of the following ways: - To personalize
                        your experience (your information helps us to better respond to your individual needs) - To improve
                        our website (we continually strive to improve our website offerings based on the information and
                        feedback we receive from you) - To improve customer service (your information helps us to more effectively
                        respond to your customer service requests and support needs) - To process transactions Your information,
                        whether public or private, will not be sold, exchanged, transferred, or given to any other company
                        for any reason whatsoever, without your consent, other than for the express purpose of delivering
                        the purchased product or service requested. - To send periodic emails The email address you provide
                        for order processing, may be used to send you information and updates pertaining to your order, in
                        addition to receiving occasional company news, updates, related product or service information, etc.
                    </p>
                </div>
                <br>

                <div id="3">
                    <b class="background">3. Do we use cookies? </b>
                    <p>We do not use cookies.
                    </p>
                </div>
                <br>

                <div id="4">
                    <b class="background">4. Do we disclose any information to outside parties?</b>
                    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
                        This does not include trusted third parties who assist us in operating our website, conducting our
                        business, or servicing you, so long as those parties agree to keep this information confidential.
                        We may also release your information when we believe release is appropriate to comply with the law,
                        enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally
                        identifiable visitor information may be provided to other parties for marketing, advertising, or
                        other uses.</p>
                </div>
                <br>

                <div id="5">
                    <b class="background">5. California Online Privacy Protection Act Compliance</b>
                    <p> Because we value your privacy we have taken the necessary precautions to be in compliance with the California
                        Online Privacy Protection Act. We therefore will not distribute your personal information to outside
                        parties without your consent. As part of the California Online Privacy Protection Act, all users
                        of our site may make any changes to their information at anytime by logging into their control panel
                        and going to the 'Edit Profile' page.
                    </p>
                </div>
                <br>


                <div id="6">
                    <b class="background">6. Children’s Online Privacy Protection Act Compliance</b>
                    <p> We are in compliance with the requirements of COPPA (Children’s Online Privacy Protection Act), we do
                        not collect any information from anyone under 13 years of age. Our website, products and services
                        are all directed to people who are at least 13 years old or older.
                    </p>
                </div>
                <br>

                <div id="7">
                    <b class="background">7. Online Privacy Policy Only</b>
                    <p> This online privacy policy applies only to information collected through our website and not to information
                        collected offline.
                    </p>
                </div>
                <br>

                <div id="8">
                    <b class="background">8. Your Consent</b>
                    <p> By using our site, you consent to our Privacy Policy.
                    </p>
                </div>
                <br>

                <div id="9">
                    <b class="background">9. Changes to our Privacy Policy </b>
                    <p>If we decide to change our privacy policy, we will post those changes on this page, send an email notifying
                        you of any changes, and/or update the Privacy Policy modification date below. This policy was last
                        modified on January 22nd, 2013.
                    </p>
                </div>
                <br>
                <button class="myBtn" (click)="topFunction()" id="myBtn">Top</button>
            </section>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright © 2017 Modern Testing Services (Global) Ltd. All rights reserved</p>
    </footer>
</body>