<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<section class="DataGrid addTable" id={{ETRFsection[sectionIndex].addTableArr[addTableIndex].uniqueId}}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="col-md-8">
            <md-input-container>
              <input mdInput placeholder="Enter Table Name" [(ngModel)]="ETRFsection[sectionIndex].addTableArr[addTableIndex].TableName">
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Unique ID" [(ngModel)]="ETRFsection[sectionIndex].addTableArr[addTableIndex].uniqueId" disabled="true">
            </md-input-container>
          </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button class="btn btn-success move" (click)="moveUp(addTableIndex)">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" (click)="moveDown(addTableIndex)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary" (click)="addFields(addTableIndex)">Add Fields</button>
          <button class="btn btn-danger" (click)="removeTable($event, addTableIndex, ETRFsection[sectionIndex].addTableArr[addTableIndex].uniqueId)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-md-12 sub-section" *ngIf="ETRFsection[sectionIndex].addTableArr[addTableIndex].addFieldsArr">
        <div *ngFor="let data of ETRFsection[sectionIndex].addTableArr[addTableIndex].addFieldsArr; let i = index ">
          <add-fields [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [addFieldsIndex]="i" [subSectionIndex]="" [addTableIndex]="addTableIndex"
            [calledFrom]="'table'" [editCase]="editCase" [TableList]="TableList" [ComponentList]="ComponentList" [MasterTableList]="MasterTableList">
          </add-fields>
        </div>
      </div>
    </div>
  </div>
</section>