<body class="dashboard" *ngIf="userCredential && userDetails">
  <div class="warpper-inner e-commerce">
    <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
    </div>
    <!--<div class="trackYourOrder">
    <a href="" class="enquiryLinkBtn btn btn-success" [routerLink]=" ['/eTrf']">Track Your Orders</a>
  </div>-->
    <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
    </div>
    <div class="content-inside">
      <app-e-commerce-header></app-e-commerce-header>
      <section class="steps">
        <div class="container">
          <div class="row">

            <div class="stepNavContainer">
              <div class="stepsNav">
                <ul>
                  <li class="current SlideOut" id="SelectServiceNav">
                    <a href="javascript:void(0)"></a>
                    <p>Select Service</p>
                  </li>
                  <li class=" SlideOut" id="SelectPackagesNav">
                    <a href="javascript:void(0)"></a>
                    <p>{{dataService.selectedServiceText}}</p>
                    <!-- <p *ngIf="data?.categoryId == 2">Select Inspection Service</p> -->
                  </li>
                  <li class="SlideOut" id="RequestFormNav">
                    <a href="javascript:void(0)"></a>
                    <p>Request Form</p>
                  </li>
                  <li class="SlideOut" id="ReviewOrderNav">
                    <a href="javascript:void(0)"></a>
                    <p>Order Review</p>
                  </li>
                  <li class="SlideOut" id="MakePaymentNav">
                    <a href="javascript:void(0)"></a>
                    <p>Make Payment</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-12">
              <div class="stepsContainer">
                <div class="stepsContent active" id="SelectService">
                  <app-services [data]="data"></app-services>
                </div>
                <!-- end of stepsContent-->
                <div class="stepsContent" id="SelectPackages" *ngIf="data.showSelectPackages">
                  <app-package [data]="data"></app-package>
                </div>
                <!-- end of stepsContent-->
                <div class="stepsContent" id="RequestForm">
                  <div class="stepsContentHeader row">
                    <div class="col-md-3 col-xs-12 text-left">
                      <a href="" class="btn btn-success trackOrderbtn" [routerLink]=" ['/online-etrf']">Track Your Orders</a>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                      <h1>Please Complete The Fields Below</h1>
                      <p></p>
                    </div>
                    <div class="col-md-3 col-xs-12 text-right">
                      <div class="btn btn-success enquiryBtn" data-toggle="tooltip" title="Need more help/ information?" data-toggle="modal" data-target="#EnquiryForm">Enquiry</div>
                    </div>
                  </div>
                  <div class="row" id="ETRFApplicantInfo">
                    <div class="col-md-8 col-xs-12 pull-left text-left applicantDetails">
                      <p>
                        <b>Applicant Details</b>
                      </p>
                      <p>{{userDetails.FirstName}} {{userDetails.LastName}}</p>
                      <p>{{dataService.registeredCompanyName}}</p>
                      <p>{{userDetails.Address}}</p>
                      <p>Mob - {{userDetails.TelephoneNo}}</p>
                      <p>Email - {{userDetails.EmailId}}</p>
                    </div>
                    <div class="col-md-4 col-xs-12 pull-right text-left shippingAddress" *ngIf="!!data.locationInfo">
                      <p>
                        <b *ngIf="data?.categoryId == 1">Lab Location</b>
                        <b *ngIf="data?.categoryId == 2">Factory Location</b>
                      </p>
                      <p *ngIf="data.locationInfo[0]?.CountryDescription">{{data.locationInfo[0]?.CountryDescription}}</p>
                      <p *ngIf="data.locationInfo[0]?.Address1 || data.locationInfo[0]?.Address2">{{data.locationInfo[0]?.Address1}} {{ data.locationInfo[0]?.Address2}}</p>
                      <p *ngIf="data.locationInfo[0]?.City || data.locationInfo[0]?.Street || data.locationInfo[0]?.State || data.locationInfo[0]?.CountryCode || data.locationInfo[0]?.ZipCode">{{data.locationInfo[0]?.City}}, {{ data.locationInfo[0]?.Street}}{{ data.locationInfo[0]?.State}},
                        {{data.locationInfo[0]?.CountryCode }}
                        <span *ngIf="data.locationInfo[0]?.ZipCode"> - </span>{{ data.locationInfo[0]?.ZipCode}}
                      </p>
                      <p *ngIf="data.locationInfo[0]?.Phone">
                        Phone - {{ data.locationInfo[0]?.Phone}}</p>
                      <p *ngIf="data.locationInfo[0]?.Fax">
                        Fax - {{ data.locationInfo[0]?.Fax}}</p>
                      <p *ngIf="data.locationInfo[0]?.Mob">
                        Mob - {{ data.locationInfo[0]?.Mob}}</p>
                      <p *ngIf="data.locationInfo[0]?.Email">Email - {{ data.locationInfo[0]?.Email}}</p>
                    </div>
                  </div>

                  <div class="stepsContentFooter clear">
                    <button (click)="calculateOrderTotal()" id="etrf-continue" class="btn btn-success continueBtn hidden" data-target="ReviewOrder"
                      data-hide="RequestForm">CONTINUE
                      <i class="fa fa-caret-down fa-rotate-270"></i>
                    </button>
                    <button (click)="saveEtrf()" id="" class="btn btn-success pull-right ">CONTINUE &nbsp;
                      <i class="fa fa-caret-down fa-rotate-270"></i>
                    </button>
                    <button id="" (click)="resetSelection()" class="btn btn-default   backBtn" data-target="SelectPackages" data-hide="RequestForm">Back</button>
                  </div>
                  <div class="stepsContentBody RequestForm">
                    <div class="RequestForm E-trf-Ecomm" *ngIf="data?.ready">
                      <!-- <iframe src="http://182.73.105.242:3001/#/addETRF/3080" id="IframeE-trf" width="100%" height="1000px" #myIframe (load)="onLoadFunc(iframe)"></iframe> -->
                      <app-add-etrf [data]="data" #etrf></app-add-etrf>


                    </div>
                    <div *ngIf="data?.categoryId == 1">
                      <b>
                        <b>
                          <h4>**Submitted sample size guideline.</h4>
                        </b>
                      </b>
                      <table cellpadding="5" cellspacing="10" border="1" width="100%" style="border-collapse: collapse; border-style: solid; border-color: #BFB7B6; text-align: center;"
                        *ngIf="data?.DivisionID==2">
                        <tr>
                          <th class="statictd" style="text-align: center">Product Category</th>
                          <th class="statictd" style="text-align: center">Min. Sample Size</th>
                        </tr>
                        <tr>
                          <td class="statictd">Denim Garment/Non Denim Garment/Knit Garment/Sweater/Down Garment/Costume</td>
                          <td class="statictd">
                            <b>US & Canada: </b>
                            <br/>
                            <b>Adult:</b> 3 pieces per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b> Children:</b> 4 pieces per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b>UK:</b>
                            <br/>
                            <b>Adult :</b> 3 pieces per style.
                            <br/>
                            <b>Children:</b> 4 pieces per style + 4 pieces for UK Flammability.
                            <br/>
                            <b>Au_NZ:</b>
                            <br/>
                            <b>Adult:</b> 3 pieces per style.
                            <br/>
                            <b>Chuldren:</b> 4 pieces per style.
                            <br/>
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Denim Fabric/Non Denim Fabric/Knit Fabric</td>
                          <td class="statictd">
                            <b>Adult:</b> 3 pieces per style.
                            <br/>
                            <b>Chuldren:</b> 4 pieces per style.
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Leather Garment</td>
                          <td class="statictd">
                            <b>2 yds full width </b>
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Raincoat</td>
                          <td class="statictd">
                            <b>3 pieces per style </b>
                          </td>
                        </tr>
                        <tr>
                          <td lass="statictd">Swimwear</td>
                          <td class="statictd">
                            <b>Adult:</b> 3 pieces per style.
                            <br/>
                            <b>Chuldren:</b> 4 pieces per style.
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Garment Additional Colorway</td>
                          <td class="statictd">
                            <b>Adult:</b> 1 pieces per style.
                            <br/>
                            <b>Chuldren:</b> 2 pieces per style.
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Fabric Additional Colorway</td>
                          <td class="statictd">
                            1 yd
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Gloves</td>
                          <td class="statictd">
                            <b>US & Canada: </b>
                            <br/>
                            <b>Adult:</b> 3 pairs per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b> Children:</b> 4 pairs per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b>UK, Au_NZ:</b>
                            <br/>
                            <b>Adult :</b> 3 pairs per style.
                            <br/>
                            <b>Children:</b> 4 pairs per style.
                            <br/>
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Gloves Additional Colorway</td>
                          <td class="statictd">
                            1 Pair per style
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Hat/Scraf</td>
                          <td class="statictd">
                            <b>US & Canada: </b>
                            <br/>
                            <b>Adult:</b> 3 pieces per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b> Children:</b> 4 pieces per style + 1 yd of fabric with same finishing as garment For Flammability.
                            <br/>
                            <b>UK, Au_NZ:</b>
                            <br/>
                            <b>Adult :</b> 3 pieces per style.
                            <br/>
                            <b>Children:</b> 4 pieces per style.
                            <br/>
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Hat/Scraf Additional Colorway</td>
                          <td class="statictd">
                            1 Piece per style
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Handbag/Backpack</td>
                          <td class="statictd">
                            <b>Adult :</b> 2 pieces per style.
                            <br/>
                            <b>Children:</b> 3 pieces per style.
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Handbag/Backpack Additional Colorway</td>
                          <td class="statictd">
                            1 Piece per style
                          </td>
                        </tr>
                        <tr>
                          <td class="statictd">Leather Wallet</td>
                          <td class="statictd">
                            2 pieces per style
                          </td>
                        </tr>
                      </table>

                      <table cellpadding="5" cellspacing="10" border="1" width="100%" style="border-collapse: collapse; border-style: solid; border-color: #BFB7B6; text-align: center;"
                        *ngIf="data?.DivisionID==12">
                        <tr>
                          <th class="statictd" style="text-align: center">Product Type</th>
                          <th class="statictd" style="text-align: center">Sample Size</th>
                        </tr>
                        <tr>
                          <td class="statictd">T-shirt, Shirts, Pants,Sweaters</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Coats and other outerwear</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Footwear(Excluding Slippers)</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Slippers</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Home Textiles</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Small Hard Goods </td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Hand Bags & Wallets</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Luggages</td>
                          <td>2 sets/ color </td>
                        </tr>
                        <tr>
                          <td class="statictd">T Backpacks
                          </td>
                          <td>2 sets/ color </td>
                        </tr>


                      </table>

                      <div class="staticDiv" *ngIf="data.DivisionID==6">
                        <p> Require 3 sets of complete sample size* for testing. </p>
                        <p>Require 4 sets of complete sample size* are required for US/ CA/ EU/ AUS package.</p>
                        <p>Require 6 sets of complete sample size* are required for Battery Operated Toys package.</p>

                        <p>
                          <b>"*" Denoted Component Require</b>
                        </p>
                        <p>* If sample with coating material, additional 5g of dipped coating on substrate should be provided
                          together.
                        </p>
                        <p>* if soft filled toys package, A4 size fabric are required.</p>
                        <p>* if Liquid Toys or Art Toys package, 150 ml liquid sample required.</p>

                        <p>
                          <b>Attention:</b> The minimum number of samples required for complete testing is a minimum recommendation
                          only. Sample requirements can vary from style to style. To avoid unnecessary delays during testing,
                          Submitters are encouraged to consult the testing lab to confirm the needed amount of sample testing,
                          per individual style.</p>
                      </div>

                    </div>
                  </div>

                </div>
                <!-- end of stepsContent-->

                <div class="stepsContent" id="ReviewOrder">
                  <app-order-review [data]="data"></app-order-review>
                </div>
                <!-- end of stepsContent-->


                <div class="stepsContent" id="MakePayment">
                  <div class="stepsContentHeader">
                    <h1>Thank you </h1>
                    <p>Your order has been submitted.</p>
                  </div>
                  <div class="stepsContentBody MakePayment">
                    <div class="orderSubmitted">
                      <div class="OrderDetails">
                        <h4>Order Details</h4>
                        <ul>
                          <li>Order number:</li>
                          <li class="value">77845487</li>
                          <li>Order total:</li>
                          <li class="value">$30</li>
                          <li>Order date:</li>
                          <li class="value">07/12/2017</li>
                        </ul>
                        <h5 class="printIcon">Print receipt</h5>
                      </div>
                      <div class="hr">
                        <hr/>
                      </div>
                      <div class="AccountDetails">
                        <h4>Account Details</h4>
                        <ul>
                          <li>Name:</li>
                          <li class="value">Joye Thomas</li>
                          <li>Address:</li>
                          <li class="value">1600, Amphitheatre Parkway
                            <br/> Mountains View,
                            <br/> CA 94043 United States</li>
                          <li>Contact #:</li>
                          <li class="value">9858 58 4548</li>
                        </ul>
                      </div>
                    </div>
                    <div class="needHelp">
                      <p class="text">Need help?</p>
                      <p class="moNo">+91 (0120) 65 111 60</p>
                      <p class="date">Monday to Friday, 10AM to 7PM </p>
                    </div>


                  </div>
                  <div class="stepsContentFooter">
                    <button id="" class="btn btn-success  gotoHomePage" data-target="SelectService" data-hide="MakePayment">GO TO HOME PAGE</button>
                  </div>
                </div>
                <!-- end of stepsContent-->

              </div>
              <div id="EtrfModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 300px;">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">ETRF Saved Successfully</h4>
                    </div>
                    <div class="modal-body " style="min-height:25px;">
                      <div class="">ETRF ID : {{etrfIdOnSave}}</div>
                    </div>
                    <div class="modal-footer ">
                      <!--<button class="btn btn-success" (click)="proceed()">Proceed</button>-->
                      <button (click)="calculateOrderTotal()" id="" class="btn btn-success continueBtn" data-target="ReviewOrder" data-dismiss="EtrfModal"
                        data-hide="RequestForm">CONTINUE &nbsp;
                        <i class="fa fa-caret-down fa-rotate-270"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>


              <div id="EnquiryForm" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 600px;">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        <span></span>ENQUIRY FOR SERVICES</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row inputDesign">
                        <div class="">
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <h4>Please use this enquiry form to send us an enquiry.</h4>
                            <h5 style="color: #337ab7">Tell us your Service Requirement</h5>
                            <label>Subject</label>
                            <input type="text" [maxLength]="200" id="Enquirysubject" [(ngModel)]="subjectModal" placeholder="Enter Subject" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Comments</label>
                            <textarea rows="6" [maxLength]="1000" id="Enquirycomments" [(ngModel)]="commentsModal" placeholder="Enter Comments"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="sendEnquiry()">Send</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="ApplyCodeForm" class="modal fade Enquiry " role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 300px;">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" (click)="resetModel()" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                         Apply Promo Code</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row inputDesign">
                        <div class="">
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <span> Promo Code</span>
                            <input type="text" [(ngModel)]="promoCode" style="text-transform: uppercase" (keydown.space)="$event.preventDefault()" (blur)="validatePromoOfferField($event)" name="promoCode">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" (click)="validatePromoCode()">Apply</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>
</body>