a {
    text-decoration: underline;
  }

  .text-color{
      color:#23527c;
  }


  .eye-cl{
    color: #3a7ab7;
    /* font-weight: 600; */
    font-size: 17px;
}

.offer-list{
    background-color: #3a7ab7;
    margin-bottom: 5px;
    min-height: 50px;
}
.margin-left-cs{
    margin: 15px;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 15px;
    color: white;
}

.margin-right-cs{
    margin: 15px;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 15px;
    color: white;
    text-align: end
}



.coupon {
    border: 5px dotted #bbb;
    width: 90%;
    border-radius: 15px;
    margin: 5px auto;
    max-width: 600px;
    padding: 5px;
}

.container-div {
    padding: 2px 16px;
    /* background-color: #f1f1f1; */
    background-color: #3a7ab7;
    /* margin-top: 20px; */
}

.container-header {
    padding: 2px 16px;
    background-color: #3a7ab7;
    margin-top: 20px;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: white;
}

.zoom {
    padding: 10px;
    transition: transform .2s;
    margin: 15px auto;
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-center{
    text-align: center;
}

.span-right{
    float: right;
    margin-bottom: 5px;
}

.btn-bg{
    background: #5cb85c;
    color: white;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #3a7ab7;
}

.text-red{
    color:red;
}

.default-div{
    max-height:550px;min-height: 160px; overflow: auto;
}

.coupon-code {
    color: #ffffff;
    font-size: 11px;
  }

  .exp {
    color: #f34235;
  }

  .ecom-offer-font{
      font-size: 12px;
  }