<div>

  <div *ngIf="isLoader">
      <div class="loading-dialog"></div>
  </div>
  <div class="logo1" style="background-color: white;">
      <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
      <a class="btn btn-primary" href='' [routerLink]="['/login']">Login Here</a>
  </div>
  <section class="DataGrid">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 nodadding">
                  <div class="table-responsive">
                      <table class="table" cellpadding="3" cellspacing="0" border="1" *ngIf="!!order">
                          <thead class="head">
                              <tr style="height: 10px">
                                  <td height="40" colspan="2" style="background: #68cd00; color:#fff">
                                      <strong style="font-size: 14px">Report Brief Summary</strong>
                                  </td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td width="140" class="text-bold">Report Number</td>
                                  <td>{{order.Reportno}}</td>
                              </tr>
                              <tr>
                                  <td width="140" class="text-bold">MasterJob Number</td>
                                  <td>{{order.masterjobno}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Booking Date</td>
                                  <td>{{order.bookingdate| date:"MMM d, y"}} </td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Inspection Date From</td>
                                  <td>{{order.inspectiondatefrom| date:"MMM d, y"}} </td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Inspection Date To</td>
                                  <td>{{order.Inspectiondateto| date:"MMM d, y"}} </td>
                              </tr>

                              <tr>
                                  <td class="text-bold">Inspector</td>
                                  <td>{{order.inspector}} </td>
                              </tr>
                              <tr>
                                  <td class="text-bold">ManDay</td>
                                  <td>{{order.manday}} </td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Sample Description</td>
                                  <td>{{order.description}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Service</td>
                                  <td>{{order.service}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">P.O. Number</td>
                                  <td>{{order.pono}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Item Number</td>
                                  <td>{{order.itemno}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Location</td>
                                  <td>{{order.joblocation}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Vendor</td>
                                  <td>{{order.VendorName}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Factory</td>
                                  <td>{{order.FactoryName}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Buyer</td>
                                  <td>{{order.ClientName}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Status</td>
                                  <td>{{order.status}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Result</td>
                                  <td>{{order.Result}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Invoice Number</td>
                                  <td>{{order.InvoiceNo}}</td>
                              </tr>
                              <tr>
                                  <td class="text-bold">Invoice Value</td>
                                  <td>{{order.InvoiceValue}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                  <div class="table-responsive">
                      <div>
                          <b>
                          Attention: This is only a brief summary of the inspection report, for more and complete information, please refer to the actual
                          inspection report, thank you!</b>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>