<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bulk-email-popup">
  <label style="float: right;padding-right: 15px;width: 100%;padding-top: 10px;font-size: 13px;text-align: right;">*Note:- Add more Email IDs with comma separated.</label>
  <div *ngIf="checkedReportNo != ''">
    <b>Report # : </b>{{this.checkedReportNo}}
  </div>
  <div>
    <!--<b>To :</b> {{this.clientEmail}}-->
    <b>To :</b>
    <input id="to" type="email" placeholder="Add Email" [(ngModel)]="clientEmail.EmailId" style="width: 75%" [ngModelOptions]="{standalone: true}">
  </div>
  <div>
    <div>
      <div class="row">
        <div class="col-md-10 cc-email" style="padding: 0px;">
          <b>Cc (Optional) : </b>
          <input id="cc-email-id" type="email" placeholder="Add CC Email" (change)="getCCEmail($event)" [(ngModel)]="ccField" [ngModelOptions]="{standalone: true}"
            style="width: 75%">
          <div class="err-msg" *ngIf="this.errorEmail">Invalid Email</div>
        </div>
        <div class="col-md-1">
          <div class="addCCEmail" title="Add" (click)="addCC()">+</div>
        </div>
        <div class="cc-email-wrapper">
          <ul style="padding: 0px;list-style: none;">
            <li *ngFor="let email of this.ccEmails">
              <div class="" style="padding: 0px;">{{email}}
                <span title="Remove" (click)="removeCCEmail(this.ccEmails.indexOf(email))"> X </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <b>Remark (Optional) : </b>
    <span>
      <textarea name="remark-bulkEmail" [(ngModel)]="remarks[0]" id="CCRemark" rows="5" cols="50" (change)="addRemark($event)"
        [ngModelOptions]="{standalone: true}"></textarea>
    </span>
  </div>
</div>