
       body {
        font-size: 12px;
        background: #e8ebf1;
        color: #666;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family:Arial, Helvetica, sans-serif;
    }
    .navbar {
        overflow: hidden;
        z-index: 999999;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .mapdiv {
        width:100%;
        border: 1px solid #ccc;
        padding: 3px;
        margin-bottom:10px;
        
         }
      
    .heading_green{color:#7cca2c;margin:15px;font-size:20px;text-shadow: 1px 1px #000000;}
    .filter h4{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;}
    
    .DataGrid {
        margin: 15px;
        margin-top: 10px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .DataGrid .table>thead>tr>th {
        padding: 8px!important;    
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .DataGrid .table>tbody>tr>td {
        font-size: 11px;
        padding:2px 6px 2px 6px !important;
    
    }
    
    .DataGrid .table-responsive {
        overflow: auto !important;
        max-height: 250px !important;
        min-height: 250px !important;
        
        
        
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 13px;
        margin-right: auto;
        margin-left: auto;
    }
    
 
    
    footer{background: #0067aa; color:#fff;line-height:0px;min-height:30px}
    /* .breadcrum_bg {       
        background: #0067aa;
        color: #ffffff;   
    }
    .breadcrum_bg p {
        color: #ffffff;
        margin-bottom: 0px;
    }

    .breadcrum_bg p a{
        color: #ffffff;
        margin-bottom: 0px;
    } */
    
    .btn-primary{float: right;position: unset!important;margin:15px;}
    .img_div{width:100%;height:350px;border: 1px solid #ccc;overflow: hidden;display:block;box-shadow:2px 2px 5px #000;text-align:center}
    .img-responsive{max-width:100%;max-height:100%}
    

    @media (min-width: 600px) {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
        {
          float: left;
        }
    }

    @media (max-width: 750px) and (min-width: 240px) {
        .heading_green{color:#7cca2c;font-weight: bold;margin:15px;font-size:14px;text-shadow: 1px 1px #000000;height:30px; }
        /*****.col-xs-8{width:82%!important; float:right;}****/
        .breadcrum_bg p {
            font-size: 8px;
            padding: 0px;
            padding-bottom:5px;
        }
    .logo{width:80%;margin:auto;}
    .address_div{width:80%;margin:auto;margin-top:10px;font-size: 14px;}
    .btn-primary{float: right;}
      }


      .WebLinkStyle{
        font-size:15px;margin-bottom: 15px;margin-left: 15px;float: left
      }
      .MoreImage {
        display: inline-block;
        float: left;
        width: 90px;
        margin-top: 10px;
        height: 85px;
    }
