<!-- <p>
  see-detail works!
</p> -->

<body>
  <div class="warpper-inner">
      <div class="content-inside">
          <custom-header></custom-header>
    <div>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <!-- <div class="logo1 navbar" style="background:#ffffff;">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xm-12">
          <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
          <span class="heading_green">GREEN PRODUCT ASSURANCE </span>
          <a class="btn btn-primary" href='' [routerLink]="['/green-product-assurance/vendor-view']">Back</a>
        </div>
      </div> -->
      <!-- <div class="logo1 navbar" style="background:#ffffff;">
          <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
          <span class="heading_green">GREEN PRODUCT ASSURANCE </span>
      </div> -->
    </div>

    <section class="breadcrum_bg">
      <div class="container-fluid">
        <p>
          <a>Green product Assurance </a>
          <img src="asset/img/angle-right.png" />Vendor View
          <img src="asset/img/angle-right.png" />Product Details
        </p>
      </div>
    </section>


    <section class="filter">

      <div class="col-md-2 col-lg-2 col-sm-2">

        <div class="logo">
      <span *ngIf="!activeApplication.CompanyLogo"><img src="{{sealLogoUrl +'/no_images.png' }}" class="img-responsive" alt=""></span>              
      <span *ngIf="activeApplication.CompanyLogo"><img src="{{sealLogoUrl + activeApplication.ApplicationReferenceNo +'/CompanyLogo/' +activeApplication.CompanyLogo}}" class="img-responsive" alt=""></span>    
        </div>

      </div>
      <div class="col-md-4 col-lg-4 col-sm-4" style="margin-top: 22px;">

        <div class="address_div" style="font-size: 14px;">
            <p><b>Company Name:&nbsp;&nbsp;</b>{{activeApplication.VendorName }}</p>
            <p><b>Company Address:&nbsp;&nbsp;</b>  {{activeApplication.Address }}</p>
          <p>
            <b>Phone:&nbsp;&nbsp;</b>{{activeApplication.Telephone}}</p>
          <p>
            <b>Contact:&nbsp;&nbsp;</b>{{activeApplication.ContactPerson}}</p>
          <p>
            <b>Email:&nbsp;&nbsp;</b>{{activeApplication.Email}}</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="mapdiv" *ngIf="showMap">
          <img src="asset/img/green-c/map1.png" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="clearfix"></div>


    </section>


    <section class="DataGrid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 nodadding">
            <div class="table-responsive">
              <table class="table">
                <thead class="head">
                  <tr>
                    <th class="textLeft">Certificate Number</th>
                    <th class="textLeft">Seal Number</th>
                    <th class="textLeft">Product Name</th>
                    <th class="textLeft">Model Number</th>  
                    <th class="textLeft">Expiry Date (YYYY-MM-DD)</th>
                    <th class="textLeft">Validity</th>
                    <th class="textLeft">Seal Logo</th>
                    <th class="textLeft">Certificate</th>
                    <th class="textLeft">Product Image</th>
                  </tr>
                </thead>
                <tr *ngFor="let Product of activeApplication.Products;let i=index">
                    <td class="textLeft">{{activeApplication.CertificateNumber}}</td>
                    <td class="textLeft">{{Product.ProductSealNo}}</td>
                  <td class="textLeft">{{Product.ProductName}}</td>
                  <td class="textLeft">{{Product.ProductModelNo}}</td>
                  <td class="textLeft">{{validateMinDate(activeApplication.CertificateExpiryDate) |date:'yyyy-MM-dd'}}</td>
                  <td class="textLeft">
                    <span *ngIf="activeApplication.CertificateNumber" >{{validateValidity(activeApplication.CertificateExpiryDate)}}</span>
                  </td>
                  <td class="textLeft">

                    <div *ngIf="Product.ProductSealLogoName" (click)="viewSealLogo(Product.ProductSealLogoName)" style="width:35px;display: inline-block;cursor: pointer;">
                      <img src="{{sealLogoUrl + 'SealLogo/' +Product.ProductSealLogoName}}" alt="" class="img-responsive">
                    </div>
                  </td>
                  <td class="textLeft" >
                    <i *ngIf="activeApplication.CertificateFile" (click)="downloadDocument(activeApplication.CertificateFile, 'Certificate')" class="" style="cursor: pointer;color: red;font-size: 16px;"
                      class="fa fa-file-pdf-o"></i>
                  </td>                 
                  <td class="textLeft" style="min-width: 100px;padding:3px 8px 3px 8px !important;">
                    <div style="width:25px;display: inline-block;"  *ngFor="let productDocument  of Product.ProductDocuments |gpdocumentFilterArray :'ProductImage';let a = index;">
                      <img *ngIf="a==0" src="{{sealLogoUrl + activeApplication.ApplicationReferenceNo +'/Products/'+Product.ProductFolderName +'/ProductImage/' +productDocument.DocumentName}}"alt="" class="img-responsive">
                    </div>
                    <span (click)="viewProductDetail(Product)">
                      <i class="fa fa-search-plus" style="font-size: 19px;cursor: pointer"></i>
                    </span>
                  </td>
                </tr>

                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="ViewProductDetail" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" style="width:1074px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">GREEN PRODUCT ASSURANCE</h4>
          </div>
          <div class="modal-body">
            <div class="clearfix"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
              <div class="img_div">
                <img src="{{selectedImage}}" class="img-responsive" width="" height="100%" style="height:100%;cursor:pointer;display:inline-block;">
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div>
                  <div *ngFor="let image of selectedProductsImage;let i=index">
                    <div *ngIf="image.DocumentType=='ProductImage'">
                      <img src="{{sealLogoUrl + activeApplication.ApplicationReferenceNo +'/Products/'+product.ProductFolderName +'/ProductImage/' +image.DocumentName}}"
                        class="MoreImage" alt="HTML5 Icon" (click)="imageSelecton(i);">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

              <div>
                <p>
                  <b>Company Name:&nbsp;&nbsp;</b> {{activeApplication.VendorName}}</p>
                <p>
                  <b>Product Name:&nbsp;&nbsp;</b>{{product.ProductName}}</p>
                <p>
                  <b>Product Type:&nbsp;&nbsp;</b>{{product.ProductType}}</p>
                <p>
                  <b>Product Weight:&nbsp;&nbsp;</b>{{product.ProductWeight}}</p>
                <p>
                  <b>Model Number:&nbsp;&nbsp;</b>{{product.ProductModelNo}}</p>
                <p>
                  <b>Certificate Number:&nbsp;&nbsp;</b>{{activeApplication.CertificateNumber}}</p>
                <p>
                  <b>Seal Number:&nbsp;&nbsp;</b>{{product.ProductSealNo}}</p>
                <p>
                  <b>Expiry Date (YYYY-MM-DD):&nbsp;&nbsp;</b>{{validateMinDate(activeApplication.CertificateExpiryDate) |date:'yyyy-MM-dd'}}</p>
                <p>
                  <b>Validity:&nbsp;&nbsp;</b>
                  <span *ngIf="activeApplication.CertificateNumber">{{validateValidity(activeApplication.CertificateExpiryDate)}}</span>
                </p>
                <div style="height:32%;max-width:33%;">
                  <div style="width:100%;" *ngIf="product?.ProductSealLogoName">
                    <!-- <img src="{{sealLogoUrl + 'SealLogo/' + product.ProductSealLogoName}}" width="451px" height="228px" style="margin-top: -14px;margin-left: -16px;"> -->
                    <img src="{{sealLogoUrl + 'SealLogo/' + product.ProductSealLogoName}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</body>

<div class="modal fade" id="SealLogoModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="margin-top: 60px;">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Product Seal Logo</h4>
      </div>
      <div class="modal-body"style="padding: 31px!important;">
        <div>
          <img src="{{sealLogoUrl + 'SealLogo/' +imageName}}" alt="" class="img-responsive">
        </div>
      </div>
      <div class="modal-footer" style="padding: 0px 15px !important;">
        <div class="row">
            <button type="button" class="btn btn-primary" style="Float:right"(click)="downloadDocument(imageName, 'SealLogo')">Download Logo</button>
        </div>   
      </div>
    </div>
  </div>
</div>