<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<section class="DataGrid" id={{ETRFsection[sectionIndex].uniqueId}}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 section-header">
        <div class="col-md-7">
          <div class="col-md-5">
            <label>Enter Section Name</label>
            <input type="text" [(ngModel)]="ETRFsection[sectionIndex].SectionName">
          </div>
          <div class="col-md-3">
            <label>Unique ID</label>
            <input type="text" [(ngModel)]="ETRFsection[sectionIndex].uniqueId" disabled="true">
          </div>
          <div class="col-md-4">
            <label>Dependent on Unique Id</label>
            <input [(ngModel)]="ETRFsection[sectionIndex].dependentOnUniqueID">
          </div>
        </div>
        <div class="col-md-5 btn-container" style="text-align: right;">
          <button class="btn btn-success move" title="Move Up" (click)="moveUp(sectionIndex)">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Down" (click)="moveDown(sectionIndex)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
          <button *ngIf="sectionShowButton == null || sectionShowButton == 1" class="btn btn-primary" (click)="showSubsectionModal(sectionIndex)">Add Sub Section</button>
          <button *ngIf="sectionShowButton == null || sectionShowButton == 2" class="btn btn-primary" (click)="addTable(sectionIndex)">Add Table</button>
          <button *ngIf="sectionShowButton == null || sectionShowButton == 3" class="btn btn-primary" (click)="addFields(sectionIndex)">Add Fields</button>
          <button class="btn btn-danger" title="Remove Section" (click)="delete(sectionIndex, ETRFsection[sectionIndex].uniqueId)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-md-12 sub-section" *ngIf="ETRFsection[sectionIndex].subSectionArr">
        <div *ngFor="let data of ETRFsection[sectionIndex].subSectionArr; let i = index ">
          <sub-section [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [subSectionIndex]="i" (setToDefaultSection)="setToDefaultSection($event)"
            [editCase]="editCase" [TableList]="TableList" [ComponentList]="ComponentList" [MasterTableList]="MasterTableList"></sub-section>
        </div>
      </div>
      <div class="col-md-12" *ngIf="ETRFsection[sectionIndex].addFieldsArr">
        <div *ngFor="let data of ETRFsection[sectionIndex].addFieldsArr; let i = index ">
          <add-fields [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [addFieldsIndex]="i" [subSectionIndex]="" [addTableIndex]=""
            [calledFrom]="'section'" (setToDefaultSection)="setToDefaultSection($event)" [editCase]="editCase" [TableList]="TableList"
            [ComponentList]="ComponentList" [MasterTableList]="MasterTableList"></add-fields>
        </div>
      </div>
      <div class="col-md-12" *ngIf="ETRFsection[sectionIndex].addTableArr">
        <div *ngFor="let data of ETRFsection[sectionIndex].addTableArr; let i = index ">
          <add-table [ETRFsection]="ETRFsection" [sectionIndex]="sectionIndex" [addTableIndex]="i" (setToDefaultSection)="setToDefaultSection($event)"
            [editCase]="editCase" [TableList]="TableList" [ComponentList]="ComponentList" [MasterTableList]="MasterTableList"></add-table>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="addSubSectionModal-{{sectionIndex}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modal-float">
      <div class="modal-header modal-float">
        <button type="button" class="close" (click)="hideSubSectionModal(sectionIndex)">&times;</button>
        <h4 class="modal-title">Add Sub Section</h4>
      </div>
      <div class="modal-body modal-float">

        <div *ngFor="let data of subsectionsArr; let i = index ">
          <div class="col-md-6">
            <md-input-container>
              <input mdInput placeholder="Enter Sub-Section Name" [(ngModel)]="data.SubSectionName">
            </md-input-container>
          </div>
          <!-- <div class="col-md-2" *ngIf="i > 2" style="min-height: 56px;">
				<button class="btn btn-danger" (click)="removeSubSection(i)" title="Delete Sub Section">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</button>
	        </div> -->
        </div>
        <div class="col-md-12" style="text-align: right;">
          <button type="button" class="btn btn-primary" (click)="moreSubsection()" title="Add More Sub Section">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer modal-float">
        <button type="button" class="btn btn-success" (click)="addSubSection()">Add</button>
        <button type="button" class="btn btn-default" (click)="hideSubSectionModal(sectionIndex)">Close</button>
      </div>
    </div>

  </div>
</div>