.ShareCommentInputStyle {
    margin-bottom: 15px;
    padding: 6px 0px;
    width:100%;
}

.EmailIdSpan {
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 6px 0px;
    width:88.4%;    
}

.CommoninputStyle{
    font-size: 14px;
    color: #666;
    border: 0px;
    background: transparent;
}

.inputBorder{
    height: 30px;
    border-bottom: 1px solid #C6C6C6;
}

.textBorder{
    border: 1px solid #C6C6C6;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.otherComments-left{
    width: 100%;
    background: #e8ebf1e0;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.otherComments-right{
    width: 100%;
    background: #e8ebf1e0;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}


.filediv{
    margin-bottom: 10px;
    min-height:34px;
    margin-left: 0px;
}
.email-span{
    /* margin-right:3px;
    max-height:20px;
    background:#d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 4px; */
    max-height: 30px;
    background: #d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
}
 
.email-list{
    margin-left:90px;
    min-height:20px;
    border-bottom: 1px solid #C6C6C6;
}

.font-weight{
    font-weight: 600;
}
 
.left-radius{
    border-bottom-left-radius: 25px;
}
.right-radius{
    border-bottom-right-radius: 25px;
}

.margin-div{
    width:75%;margin-bottom:10px
}