<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Admin</a>
            <img src="asset/img/angle-right.png" /> Add Order Analysis Configuration </p>
        </div>
      </section>

      <div class="DataGrid" id="config">

        <div class="row">
          <div class="col-xs-12">
            <ul id="tablist" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#design" aria-controls="design" role="tab" data-toggle="tab">Design</a>
              </li>
              <li role="presentation">
                <a href="#query" aria-controls="query" role="tab" data-toggle="tab">{{firstGraphName}} Graph Query</a>
              </li>
              <li role="presentation" *ngIf="isMultipleGraph == true">
                <a href="#querySecond" aria-controls="query" role="tab" data-toggle="tab">{{secondGraphName}} Graph Query</a>
              </li>
              <li role="presentation">
                <a href="#previewChart" aria-controls="previewChart" role="tab" data-toggle="tab">Preview Chart</a>
              </li>
              <li role="presentation">
                <a href="#searchCriteria" aria-controls="searchCriteria" role="tab" data-toggle="tab">Header</a>
              </li>
              <li role="presentation">
                <a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab">Permissions</a>
              </li>
            </ul>



            <div class="whiteBg">
              <div class="tab-content">

                <!-- -------------------------------- Design tab ------------------------------------ -->

                <div role="tabpanel" class="tab-pane active" id="design">
                  <div *ngIf="showDesignTab == true">
                    <app-design-tab (nextButtonClick)="showNextTab($event)"></app-design-tab>
                  </div>
                </div>


                <!-- ---------------------------------- Start Query tab ---------------------------------- -->

                <div role="tabpanel" class="tab-pane" id="query">
                  <div *ngIf="showQueryTab == true">
                    <app-query-tab [queryCount]="1" (nextButtonClick)="showNextTab($event)" (prevButtonClick)="showPrevTab('#design')" (sendList)="getList($event)"></app-query-tab>
                  </div>
                </div>

                <!-- ---------------------------------- Second Query tab ---------------------------------- -->

                <div role="tabpanel" class="tab-pane" id="querySecond">
                  <div *ngIf="showQueryTwoTab == true">
                    <app-query-tab [queryCount]="2" (nextButtonClick)="showNextTab('#previewChart')" (prevButtonClick)="showPrevTab($event)"></app-query-tab>
                  </div>
                </div>

                <!-- -------------------------- Start of Preview Chart --------------------- -->


                <div role="tabpanel" class="tab-pane" id="previewChart">
                  <div *ngIf="showPreviewTab == true">
                    <app-preview-tab (nextButtonClick)="showNextTab('#searchCriteria')" (prevButtonClick)="showPrevTab($event)"></app-preview-tab>
                  </div>

                </div>

                <!-- ------------------------------------ Start Search Criteria ------------------- -->

                <div role="tabpanel" class="tab-pane" id="searchCriteria">
                  <div *ngIf="showHeaderTab == true">
                    <app-search-tab (nextButtonClick)="showNextTab('#permissions')" (prevButtonClick)="showPrevTab('#previewChart')" [getcolumnlist]="GetColumnList"></app-search-tab>
                  </div>
                </div>


                <!-- ---------------------------- Start of Permission ---------------------------- -->

                <div role="tabpanel" class="tab-pane" id="permissions">
                  <div *ngIf="showPermissionTab == true">
                    <app-permission-tab (prevButtonClick)="showPrevTab('#searchCriteria')"></app-permission-tab>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>

  <custom-footer></custom-footer>
</body>