body {
    font-size: 12px;
    background: #e8ebf1;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

.Approved{cursor: pointer; color: #68cd00;font-size: 1.4em;margin-left: 2px;}
.Reject{cursor: pointer; color: red;font-size: 1.4em;margin-left: 2px;}
.View{color: #337ab7;font-size: 1.8em;margin-left: 2px;cursor: pointer;}

.filter h4{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;}
.model_heading{border-bottom: solid 1px #0067aa;line-height: 25px; color:#0067aa;font-family: Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;margin-top:0px; }
.heading_green{color:#7cca2c;font-weight: bold;margin:15px;font-size:20px;text-shadow: 1px 1px #000000;}
.openpopup_linkblue{cursor:pointer;color:#0000ff}
.new_registrationbtn{color: #ffffff; margin:5px;}

.alert-danger{margin-bottom: 11px;margin-top: -10px;padding:2px;background:none;border:none; height:12px;font-size:11px;color:#ff0000; }
.DataGrid {
    margin: 15px;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.DataGrid .table>thead>tr>th {
    padding: 8px!important;    
    text-transform: capitalize;
    font-size: 12px;
    /* white-space: inherit; */
}

.DataGrid .table>tbody>tr>td {
    font-size: 11px;
    padding:2px 6px 2px 6px !important;

}

.DataGrid .table-responsive {
    overflow: auto !important;
    /* min-height: 270px; */
    /* max-height: 270px; */
    
}
.dataSliderBox {
    float: left;
    width: 100%;
    background: #FFF;
    top: 5px;
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 0;
    width: auto;
}

  
.ApplicantSection{
    background: white;
    margin: 6px 10px;
    padding: 5px 25px;
    border: 1px solid #c7b8b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ApplicantSection h4
{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;}

.ProductContainer{
    background: white;
    margin: 6px 0px;
    padding: 5px 25px;
    border: 1px solid #c7b8b8;
}
.w3-input{
margin-bottom: 15px;
font-size: 14px;
color: #333333;
height: 34px;
padding: 6px 0px;
border: 0px;
width: 100%;
background: transparent;
box-shadow: 0 1px 0px #e7e7e7;
border-bottom: 1px solid #C6C6C6;
}

.model_uploadtext{margin-top: 5px;font-size: 14px;}
/*****.ProductContainer:hover{
    border: 1px solid #c7b8b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*****/

.MessageSection{
    border: none;
    margin: 6px 10px;
    padding: 5px 25px;
    /* border: 1px solid #c7b8b8; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),;
    background-color: #337ab7;
    color: white;
    font-weight: 500;
    
}

.TitleSection{
    border: none;
    margin: 6px 10px;
    padding: 1px 25px;
    /* border: 1px solid #c7b8b8; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),;
    background-color: #337ab7;
    color: white;
    font-weight: 600;

}

.offer-container{
    display: flex;
    margin:auto;
    border:1px solid #cecccc;
    background: #fff;
    width: 100%;
}

.Form-Section{
    border: 1px solid #cecccc;
    margin: 16px;
    background: #fff;
    min-height: 50px;
    height: 100%;
    width: 48%;
    padding: 11px 26px 11px;
    position: relative;
}

.Offertable-container{
    border: 1px solid #cecccc;
    min-width: 48%
}

.RequiredDocumnetSection{
    border: 1px solid #d8d0d0;
    margin: auto;
    /* width: 75%; */
}

.navbar {
    overflow: hidden;
    z-index: 999999;
    position: fixed;
    top: 0;
    width: 100%;
}

.fontClass{
    font-weight: 600;
    color: #0067aa
}

.fontweight{
    font-weight: 600;
}

.fontSize12{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0px;
}

.ColumnMargin{
    min-width: 100px;
}

.wordwrap{
    word-wrap:break-word
}

.lable_width{
    width: 72%;
    font-size: 13px;
}

.fac_lable_width{
    width: 63%;
}

.Content_Margin{
    margin-top:65px;
}
.detail_link{
    cursor:pointer;font-weight: 600;text-transform: uppercase;
}

.font_size18{
    font-size: 18px;
}

.float_right{
    float: right;
}

.width20{
    width: 20%;
}

.color67aa{
    color: #0067aa
}


.Doc_div{
    box-shadow: 0 1px 0px #e7e7e7;
    border-bottom: 1px solid #C6C6C6;
    padding: 5px;
    max-height: 9px;
    min-height: 36px;
}


.addbtn{
    background: #68cd00;
    color:#fff;  
    margin-right: -6px;  
}

.modal-body .table tr th {
    word-break: inherit;
}
.DetailTable{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

.DetailTable .nodadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.content-inside .DetailTable .table-responsive {
    overflow: auto !important;
    /* min-height: 260px; */
       min-height: 195px;
}

.DetailTable .table-responsive {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.DetailTable .table {
    margin-bottom: 0px;
}
.DetailTable .table>thead.head {
    background: #68cd00;
    color: #fff;
    border-radius: 10px !important;
    border: 1px solid #68cd00;
}

.DetailTable .table tr {
    min-height: 20px;
}

.DetailTable .table>thead>tr>th {
    padding: 8px 8px !important;
    border: 1px solid #e8ebf1;
    min-height: 20px;
    cursor: pointer;
    border-bottom: 0px solid #ddd;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
}

.textLeft{
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #ddd;
    font-size:13px;
    padding:3px 8px 3px 8px !important;
}



.addremovebtn{
    /* margin-top: 10px; */
    /* margin-top:  -10px; */
    border-radius: 36px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 13px;
    margin-right: auto;
    margin-left: auto;
}

.addButtonText{
    cursor: pointer;
    float: right;
    color: #0067aa;
    font-size: 13px;
    font-weight: 600;

}

.product-file{
    position: absolute;
    top: 12px;
    right:7px;
    max-width: 77%;
    min-width: 16%;
    min-height: 7%;
    max-height: 59%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;


}

.product-filexx{
    position: absolute;
    top:12px;
    left: 15px;
    min-width: 7%;
    max-width: 14%;
    min-height: 7%;
    max-height: 59%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
}

.uploadIcon{
    color: #337ab7;
    margin-top: 12px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 7px;
    cursor: pointer;
}

.uploadIcon11{
    color: #337ab7;
    margin-top: 5px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 7px;
    cursor: pointer;
}

.textBorder{
    border: 1px solid #C6C6C6;
}

.email-span{
    max-height: 30px;
    background: #d4ddefe0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    margin: 2px;
}

.DocDiv{
    display: block !important;
    margin: 2px;
    width: fit-content;
}
.download_icon{
    Cursor:Pointer;color:blue;font-size: 16px; margin-left: 10px;
}

.Approved1{
    color: #68cd00;font-size: 1.8em;margin-left: 2px;cursor: pointer;
}

.Reject1{
    color: red;font-size: 1.9em;margin-left: 2px;cursor: pointer;
}

.download_icon111{
    Cursor: Pointer;
    color: blue;
    font-size: 16px;
}

.border_td{
    border: 1px solid #cdc8c8;
    padding: 2px 5px;
}
.LinkText{
    color:#337ab7;font-weight: 600;font-size: 14px;cursor: pointer;
}

.DataGrid.table > tbody> tr> td.styel_Padding {
    padding: 3px 0px 3px 7px !important;
}

.Comapnylogo[_ngcontent-c0] {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 101%;
    min-width: 41%;
    min-height: 100%;
    max-height: 26%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
}

.color_blue{
    color:#2e6da4;
    background-color: rgb(204, 202, 202);
    padding: 5px;
}


.ApplicationFormIcon{
    color: #337ab7;
    margin-left: 5px;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
}


@media (max-width: 350px) {
    .heading_green{color:#7cca2c;font-weight: bold;margin:15px;font-size:14px;text-shadow: 1px 1px #000000;}
  }
  .disabled { cursor: not-allowed; }

  .ApplicationModal {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 31px;
    border-radius: 5px;
    border: solid 1px;
    text-align: center;
    font-size:17px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    bottom: -3px;
    max-width: 100%;
    min-width: 100%;
    min-height: 88%;
    max-height: 121%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.UploadedApplicationForm {
    position: relative;
    overflow: hidden;
}


.UploadedApplicationForm input[type=file] {
    position: absolute;
    top: 0px;
    right: -2px;
    max-width: 92%;
    min-width: 10%;
    min-height: 7%;
    max-height: 29%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.Approve{
    color: #59ab05;
    font-weight: bold;
}
.InProgress{
    color: #f5c409;
    font-weight: bold;
}
.Registered{
    color: #ff7700;
    font-weight: bold;
}
.STVerified{
    color: #3520de;
    font-weight: bold;
}
.TechVerfied{
    color: #d40e0e;
    font-weight: bold;
}

.DocVerfied{
    color: #4ba9fb;
    font-weight: bold;
}
.Rejected{
    color: red;
    font-weight: bold;
}
.Cancelled{
    color: red;
    font-weight: bold;
}

.test_header{
    padding: 8px 8px !important;
    border: 1px solid #e8ebf1;
    min-height: 20px;
    cursor: pointer;
    border-bottom: 0px solid #ddd;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    background: #68cd00;
    color: #fff;
}

 .ReportType_Header{
    border: 1px solid #e8ebf1;
    text-transform: capitalize;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
 }

 .pdfUploadIcon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
 }

 .Pass_Span {
    border-radius: 50%;
    padding: 4px;
    color: white;
    background: green;
    font-weight: 600;
    margin: 12px;
}

.Fail_Span {
    border-radius: 50%;
    padding: 4px;
    color: white;
    background: #d72626;
    font-weight: 600;
    margin: 12px;
}
 
.Approval_Comment{
    margin-bottom: 19px;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.CommentListHeader{
    color: white !important;
    background: #0067aa;
}

.Pointer {
    cursor: pointer;
}
