.category-bottom {
    margin-bottom: 14px!important;
  }

  .last-padding {
    padding-left: 6px!important;
  }

  .subcategory-botttom {
    margin-bottom: 7px!important;
  }

  .last-bottom {
    margin-bottom: 13px!important;
  }

  .left-align{
    margin-left: 15px;
  }

  .no-content {
    font-size: 34px;
    color: #0067aa;
    font-weight: 600;
    position: relative;
    padding-left: 8px;
    line-height: 34px;
  }

  .margin-header {
    margin-top:15px;
  }

  .form-control-dropdown {
    margin-top: 5px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-control-Sample {
    margin-top: 5px;
    display: block;
    height: 34px;
    width:60%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .container {
    margin:  0px auto;
    width: 1000px;
}

.container > div {
    width: 50%;
}
.col1 {
    float: left;
}
.col2 {
    float: right;
}
.col3 {
    margin: auto;
}

.select-editable {
  position:relative;
  background-color:white;
  border: none;
  width:100%;
  height: 34px;
}
.select-editable select {
  position:absolute;
  top:0px;
  left:0px;
  font-size:14px;
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
}
.select-editable input {
  position:absolute;
  top:5px;
  left:15px;
  width: 80%;
  height: 82%;
  padding:1px;
  font-size:12px;
  border:none;
}
.select-editable select:focus, .select-editable input:focus {
  outline:none;
}

.foo {
max-height: 100px;
overflow-y: hidden;
margin-left: 3px;
}

.bar {
float: left;
margin: 0.7em;
margin-top: 1px;
margin-bottom: 1px;
width: 29.5%;
}

.product-container {
max-height: 600px; padding:0px;
}

.table-format {
margin-left: 15px !important;
width: 92% !important;
margin-top: 8px !important;
}

.table {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

.table td{
padding-top: 12px;
padding-bottom: 12px;
font-size: unset;
/*background-color: #56b535;*/
color: #0067aa;
border: 1px solid #ddd;
padding: 8px;
}

.error-msg {
color: red;
font-size: smaller;
}
.b{
margin-left: 4px;
}







/* Ecom- Offer CSS */

.eye-cl{
  color: #3a7ab7;
  /* font-weight: 600; */
  font-size: 17px;
}

.offer-list{
  background-color: #3a7ab7;
  margin-bottom: 5px;
  min-height: 50px;
}
.margin-left-cs{
  margin: 15px;
  /* margin-top: 10px; */
  display: inline-block;
  font-size: 15px;
  color: white;
}

.margin-right-cs{
  margin: 15px;
  /* margin-top: 10px; */
  display: inline-block;
  font-size: 15px;
  color: white;
  text-align: end
}



.coupon {
  border: 5px dotted #bbb;
  width: 90%;
  border-radius: 15px;
  margin: 5px auto;
  max-width: 600px;
  padding: 5px;
}

.container-div {
  padding: 2px 16px;
  /* background-color: #f1f1f1; */
  background-color: #3a7ab7;
  /* margin-top: 20px; */
}

.container-header {
  padding: 2px 16px;
  background-color: #3a7ab7;
  margin-top: 20px;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: white;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  margin: 15px auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-center{
  text-align: center;
}

.text-color{
  color: #3a7ab7;
}
.pointer{
  cursor: pointer;
}