<!--<pop-over #locationPopover [content-class]="'my-pop-over-content'" [anchor-to]="true" [my]="left" [at]="right" [x-offset]="5"
  [y-offset]="5">
  <table *ngIf="activePopupPackage!==undefined && activePopupPackage.Locations!==undefined " class="table">
    <thead>
      <tr>
        <th></th>
        <th>Labs can perform the testing</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of activePopupPackage.Locations">
        <td><input type="radio" [checked]="activePopupPackage.SelectedLocation===location.GroupId" (change)="selectPackage(activePopupPackage, location.GroupId)"
            id="{{location.GroupId}}" name="rd_location" /></td>
        <td>{{location.CountryDescription}}</td>
        <td>{{location.CountryCode}}</td>
      </tr>

    </tbody>
  </table>

</pop-over>-->
<!-- <popover-content #locationPopover id="locationPopover" placement="right" [animation]="false" [closeOnClickOutside]="true">
</popover-content> -->
<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 600px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">PLEASE SELECT YOUR DESIRED MTS LAB LOCATION</h4>
      </div>
      <div class="modal-body PackageListscroll">
        <table *ngIf="activePopupPackage!==undefined && activePopupPackage.Locations!==undefined " class="table ">
          <tbody>
            <tr *ngFor="let location of activePopupPackage.Locations">
              <td align="left">
                <div class="radioMTS radioMTS-primary">
                  <input type="radio" [checked]="activePopupPackage.SelectedLocation===location.GroupId" (change)="selectPackage(activePopupPackage, location.GroupId)"
                    id="{{location.GroupId}}" name="rd_location">
                  <label for="{{location.GroupId}}">{{location.CountryCode}}</label>
                </div>
              </td>
              <td align="left">
                <label for="{{location.GroupId}}">{{location.CountryDescription}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="myModalIndividual" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 600px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">PLEASE SELECT YOUR DESIRED MTS LAB LOCATION</h4>
      </div>
      <div class="modal-body PackageListscroll">
        <table *ngIf="individualLocation!==undefined  " class="table ">
          <tbody>
            <tr *ngFor="let location of individualLocation">
              <td align="left">
                <div class="radioMTS radioMTS-primary">
                  <input type="radio" (change)="selectIndividualTest(location.GroupId,location.CountryCode)" [checked]="individualLocationId===location.GroupId"
                    id="{{location.GroupId}}Test" name="rd_locationTest">
                  <label for="{{location.GroupId}}Test">{{location.CountryCode}}</label>
                </div>
              </td>
              <td align="left">
                <label for="{{location.GroupId}}">{{location.CountryDescription}}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="stepsContentHeader row">
  <div class="col-md-3 col-xs-12 text-left">
    <a href="" class="btn btn-success trackOrderbtn" [routerLink]=" ['/online-etrf']">Track Your Orders</a>
  </div>
  <div class="col-md-6 col-xs-12 text-center">
    <h1 *ngIf="PackageType=='1'">
      <span *ngIf="ServiceName">{{ServiceName}} Packages/Individual Test Items </span> For Testing </h1>
    <h1 *ngIf="PackageType=='2'">
      <span *ngIf="ServiceName">{{ServiceName}} Packages/Individual Test Items </span> For Factory Compliance Audit</h1>
    <h1 *ngIf="categoryId == 2">
      <span *ngIf="ServiceName">{{ServiceName}} </span> For Inspection</h1>
    <p *ngIf="categoryId == 1">You can select package/individual test items for your service.</p>
    <p *ngIf="categoryId == 2">You can select any one product for your service.</p>
    <p *ngIf="categoryId == 3">You can select package/individual audit items for your service.</p>
  </div>
  <div class="col-md-3 col-xs-12 text-right">
    <div class="btn btn-success enquiryBtn" data-toggle="tooltip" title="Need more help/ information?" data-toggle="modal" data-target="#Enquiry">Enquiry</div>
  </div>
</div>

<div class="stepsContentBody SelectPackages">
  <div class="row">
    <div class="col-xs-12 text-right pr-0">
      <p class="enquiryLinkInfo">
        <b>All prices are in US Dollars </b>
        <span style="color:red">(*Prices vary across different lab locations **Exclusive of Shipping Charges)</span>
      </p>
      <!-- <span style="float:right;margin-right:15px" *ngIf="data?.selectedServiceInfo?.OfferActive">
        <p style="color:red">
          <b>{{data?.selectedServiceInfo?.OfferDescription}}</b>
        </p>
      </span> -->

      <span style="float:right" *ngIf="data?.entitledOfferList" (click)="displayApplyButton(false)">
        <p style="color:red" *ngFor="let offer of data.entitledOfferList;let p=index">
          <b *ngIf="p==0">{{offer.OfferTitle}}
            <!-- <i class="fa fa-eye eye-cl cursor-pointer" *ngIf="data.entitledOfferList.length>0" title="View All Offer" data-toggle="tooltip"
              data-toggle="modal" data-target="#OfferForm"></i> -->
            <span class="pointer text-color" *ngIf="data?.entitledOfferList?.length>0" title="" data-toggle="tooltip" data-toggle="modal"
              data-target="#OfferForm">See Offer</span>
          </b>
        </p>
      </span>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12 pr-0 ">
      <div class="radioMTS radioMTS-primary" *ngIf="categoryId==1">

        <input id="packagesId" type="radio" [(ngModel)]="packagesModal" (change)="SubmitFilter()" value="1" name="testFilter">
        <label for="packagesId" data-toggle="tooltip" title="The package contains tests that are mandatory regulatory requirements and industry standards based on your choice of product and country of destination.">Packages</label>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 ">
      <div class="radioMTS radioMTS-primary" *ngIf="categoryId==1">
        <input id="IndividualTestItemsId" type="radio" [(ngModel)]="IndividualTestItemsModal" (change)="IndividualTest()" value="2"
          name="testFilter">
        <label for="IndividualTestItemsId">Individual Test Items</label>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 ">
      <div *ngIf="individualFlag">
        <button type="button" class="btn btn-primary" (click)="individualModal()">Select Location</button>
        <!-- <span class="text-danger" *ngIf="showMessageColor">{{noteMessage}}</span> -->
        <span class="text-success" *ngIf="showcolor">{{noteMessage}}</span>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12  text-right  stepsContentFooter">
      <button *ngIf="categoryId==1" id="" class="btn btn-success continueBtn" data-target="RequestForm" [ngClass]="{disabled : !isAnyPackageSelected}"
        (click)="SaveSelectedPackages($event)" data-hide="SelectPackages" [disabled]="!isAnyPackageSelected">CONTINUE
        <i class="fa fa-caret-down fa-rotate-270"></i>
      </button>
      <button *ngIf="categoryId==2" id="" class="btn btn-success continueBtn" data-target="RequestForm" [ngClass]="{disabled : !isAnotherProductSelected}"
        (click)="SaveSelectedProduct($event)" data-hide="SelectPackages" [disabled]="!isAnotherProductSelected">CONTINUE
        <i class="fa fa-caret-down fa-rotate-270"></i>
      </button>
      <button id="" class="btn btn-default   backBtn" (click)="BackFilter()" data-target="SelectService" data-hide="SelectPackages">Back</button>

      <!--<a href="" class="enquiryLinkBtn btn btn-success" data-toggle="modal" data-target="#Enquiry">Enquiry</a>-->
    </div>
  </div>

  <div id="Enquiry" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 600px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{Enquiry.EnquiryType}} </h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <div class="">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <h4>Please use this enquiry form to send us an enquiry.</h4>
                <h5 style="color: #337ab7">Tell Us Your Product Requirement</h5>
                <label>Subject</label>
                <input type="text" [maxLength]="200" id="Enquirysubject" [(ngModel)]="subjectModal" placeholder="Enter Subject" />
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <label>Comments</label>
                <textarea rows="6" [maxLength]="1000" id="Enquirycomments" [(ngModel)]="commentsModal" placeholder="Enter Comments"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="sendEnquiry()">Send</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>





  <div class="card-Container row">
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 posRelative">
      <div class="sidebarFilter ">
        <div class="disableoverlay enable" *ngIf="individualFlag"></div>
        <div class="scroll">

          <div *ngIf="categoryId==1">
            <i class="fa fa-info-circle" style="float:right;color:#0066aa;margin-right: 10px;font-size: 15px;" data-toggle="tooltip"
              title="Country(ies) where the product will be sold."></i>
            <h4 data-toggle="collapse" data-target="#CountryOfDestination">Country of Destination</h4>
            <ul id="CountryOfDestination" class="collapse in">
              <li *ngFor="let data of CountryOfDestination">
                <div class="checkboxMTS checkboxMTS-primary">
                  <input id="Country{{data.Id}}" (change)="SubmitFilter()" type="checkbox" [(ngModel)]="data.IsSelected">
                  <label for="Country{{data.Id}}" data-toggle="tooltip" title="{{data.CountryName}}">{{data.CountryName}}</label>
                </div>
              </li>
            </ul>
            <h4 data-toggle="collapse" data-target="#ProductTypeModal" class="collapsed">Product Type</h4>
            <ul id="ProductTypeModal" class="collapse">
              <li *ngFor="let data of ProductType">
                <div class="radioMTS radioMTS-primary">
                  <input id="ProductType{{data.Id}}" type="radio" [(ngModel)]="ProductTypeModal" (change)="SubmitFilter(data)" value="ProductType{{data.Id}}"
                    name="ProductType">
                  <label for="ProductType{{data.Id}}" data-toggle="tooltip" title="{{data.ProductName}}">{{data.ProductName}}</label>
                </div>
              </li>
            </ul>
            <h4 data-toggle="collapse" data-target="#LiningModal" *ngIf="Lining.length > 0">Lining</h4>
            <ul id="LiningModal" class="collapse in" *ngIf="Lining.length > 0">
              <li *ngFor="let data of Lining">
                <div class="checkboxMTS checkboxMTS-primary">
                  <input id="Lining{{data.Id}}" (change)="SubmitFilter()" type="checkbox" [(ngModel)]="data.IsSelected">
                  <label for="Lining{{data.Id}}" data-toggle="tooltip" title="{{data.LiningName}}">{{data.LiningName}}</label>
                </div>
              </li>
            </ul>
            <h4 data-toggle="collapse" data-target="#AgeGradeModal">Age Grade</h4>
            <ul id="AgeGradeModal" class="collapse in">
              <li *ngFor="let data of AgeGrade">
                <div class="radioMTS radioMTS-primary">
                  <input id="AgeGrade{{data.Id}}" type="radio" [(ngModel)]="AgeGradeModal" (change)="SubmitFilter()" value="AgeGrade{{data.Id}}"
                    name="AgeGrade">
                  <label for="AgeGrade{{data.Id}}" data-toggle="tooltip" title="{{data.AgeGrade}}" class="AgeGrade{{data.Id}}">{{data.AgeGrade}}</label>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="(categoryId == 2 || categoryId == 3) && productCategories?.length >0">
            <h4 class="category-bottom" data-toggle="collapse" data-target="#category">Categories</h4>
            <ul id="category" class="collapse in">
              <li *ngFor="let productCategory of productCategories">
                <h4 class="subcategory-botttom" data-toggle="collapse" [attr.data-target]="'#' + productCategory.Product_CategoryID">{{productCategory.Product_Category_Name}}</h4>
                <ul id="{{productCategory.Product_CategoryID}}" class="collapse in last-bottom">
                  <li *ngFor="let productSubCategory of productCategory.SubCategories;let i = index">
                    <div class="radioMTS radioMTS-primary">
                      <input id="{{productCategory.Product_Category_Name}}{{productSubCategory.Product_SubCategory_Name}}" [checked]="selectedProduct == productCategory.Product_Category_Name+productSubCategory.Product_SubCategory_Name"
                        type="radio" (change)="filterProducts(productCategory.Product_Category_Name,productSubCategory)" value="Pro{{productCategory.Product_Category_Name}}{{productSubCategory.Product_SubCategory_Name}}"
                        name="Pro{{productCategory.Product_Category_Name}}{{productSubCategory.Product_SubCategory_Name}}">
                      <label for="{{productCategory.Product_Category_Name}}{{productSubCategory.Product_SubCategory_Name}}" data-toggle="tooltip"
                        title="{{productSubCategory.Product_SubCategory_Name}}">{{productSubCategory.Product_SubCategory_Name}}</label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 " *ngIf="individualFlag && categoryId==1">
      <!-- <div class="price-varies-text">**Prices vary across different lab locations</div> -->
      <div class="table-responsive individualPackages" style="overflow-x: hidden;">
        <table class="table ">
          <thead class="head">
            <tr>
              <th class="textLeft">Test Name</th>
              <th class="textLeft">Test Price ( $ )</th>
              <th class="textLeft">Test Quantity </th>
              <th class="textLeft">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let package of individualPackages">
              <td class="textLeft">{{package.Name}}</td>
              <td class="textLeft">{{package.Price}}</td>
              <td class="textLeft">
                <div class="p-details-link addColorLink">
                  <span style="color: #0067aa;">Additional Color ? {{(package.ColorwayQty==0)?"":": "+package.ColorwayQty}}</span>
                  <!-- <div class="radioMTS radioMTS-primary"> -->
                  <input type="radio" [checked]="package.ColorwayQty > 0" [disabled]="package.ColorwayPrice == 0" id="A{{package.Sno}}" name="{{package.Sno}}"
                    value="yes" (change)="opencolorway($event,package)"> Yes
                  <!-- <label for="A{{package.Sno}}">Yes</label> -->
                  <input type="radio" [checked]="package.ColorwayQty === 0" id="B{{package.Sno}}" name="{{package.Sno}}" value="no" (change)="opencolorway($event,package)"> No
                  <!-- <label for="B{{package.Sno}}">No</label> -->
                  <!-- </div> -->
                </div>
              </td>
              <td class="textRight">
                <div class="p-selectBtn">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox{{package.Sno}}" [(ngModel)]="package.isSelected" (change)="selectionCheck($event,package);" type="checkbox">
                    <label for="checkbox{{package.Sno}}">Select</label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="min-height: 40px;" *ngIf="individualFlag">
        <span style="float: right;font-size: 18px;margin-top: 5px;color: #0067aa;">
          <b>Total Amount: ${{getIndividualTotalCost()}}</b>
        </span>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 packageListContainer" *ngIf="packageSection && categoryId==1">
      <!-- <div class="price-varies-text">**Prices vary across different lab locations</div> -->
      <div class="row scrollPackagesList">
        <div *ngFor="let package of packages;let i=index" class="col-md-4 col-lg-4 col-sm-6 col-xs-6">

          <div class="card ">
            <!-- <i class="fa fa-info-circle" style="float:right;color:#0066aa"></i> -->
            <p class="p-name" data-toggle="tooltip" title="{{package.Name}} for {{package.CountryCode}} ( {{package.AgeGradeName}} )">{{package.Name}}
              <br/>
              <span style="color:#0066aa"> For {{package.CountryCode}} ( {{package.AgeGradeName}} )</span>
            </p>
            <!-- <p style="color:#0066aa">For {{package.CountryCode}} ( {{package.AgeGradeName}} )</p> -->
            <p class="price">{{package.Price}}</p>
            <p class="p-details-link">
              <a data-toggle="modal" data-target="#viewDetails" href="javascript:void(0);return false;" (click)="open($event,package)">View Details</a>
            </p>
            <div class="p-details-link addColorLink">
              <span style="color: #0067aa;" [ngClass]="{'disabled-class' : (isAnyPackageSelected && !package.isSelectedPacakge)}">Additional Color ? {{(package.ColorwayQty==0)?"":": "+package.ColorwayQty}}</span>
              <!-- <div class="radioMTS radioMTS-primary"> -->
              <input type="radio" [checked]="package.ColorwayQty > 0" [disabled]="package.ColorwayPrice == 0 || (isAnyPackageSelected && !package.isSelectedPacakge)"
                id="A{{package.Sno}}" name="{{package.Sno}}" value="yes" (change)="opencolorway($event,package)"> Yes
              <!-- <label for="A{{package.Sno}}">Yes</label> -->
              <input type="radio" [checked]="package.ColorwayQty === 0" [disabled]="(isAnyPackageSelected && !package.isSelectedPacakge)"
                id="B{{package.Sno}}" name="{{package.Sno}}" value="no" (change)="opencolorway($event,package)">No
              <!-- <label for="B{{package.Sno}}">No</label> -->
              <!-- </div> -->
            </div>
            <div class="p-selectBtn">
              <div class="checkbox checkbox-success">
                <input id="checkbox{{package.Sno}}" [(ngModel)]="package.isSelectedPacakge" (change)="selectionCheck($event,package);" type="checkbox"
                  [disabled]="isAnyPackageSelected && !package.isSelectedPacakge">
                <label for="checkbox{{package.Sno}}">Select</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 packageListContainer" *ngIf="(categoryId == 2 || categoryId == 3)">
      <div class="row scrollPackagesList">
        <div *ngFor="let product of productList;let i=index" class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
          <div class="card ">
            <p class="p-name-insp">{{product.Product_Name}}</p>
            <p class="price">{{product.Price}}</p>
            <p class="p-name-insp" *ngIf="product.Price == '0'">Sample Size Per Man Day - {{product.Sample_Size_Permanday}}</p>
            <p class="p-name-insp" *ngIf="product.Price != '0'">Sample Size {{product.Sample_Size_Permanday}} - {{productObject.RequiredManday}} Man Day</p>
            <!-- <p class="p-details-link"><a data-toggle="modal" data-target="#viewDetails" href="javascript:void(0);return false;" (click)="open($event,package)"
                  >View Details</a></p> -->
            <!-- <p class="p-details-link addColorLink"><a data-toggle="modal" href="javascript:void(0)" (click)="opencolorway($event,package)" [ngClass]="{'disabled-class' : (isAnyPackageSelected && !package.isSelectedPacakge)}">Add Color {{(package.ColorwayQty==0)?"":": "+package.ColorwayQty}}</a></p> -->

            <!--<div class="p-selectBtn" (click)="locationPopover.show($event)">-->
            <div class="p-selectBtn">
              <div class="checkbox checkbox-success">
                <input id="checkbox{{product.Product_Name}}" [(ngModel)]="product.IsSelected" (change)="selectionProduct(i, $event);" type="checkbox"
                  [disabled]="isAnotherProductSelected && !product.IsSelected">
                <label for="checkbox{{product.Product_Name}}">Inspection Details</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="packageToView" class="modal fade" id="viewDetails" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md e-commerceViewModel">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{packageToView.Name}} </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <ul class="PackagesList" *ngIf="!!packageToView.items && packageToView.items.length>1">
                <li *ngFor="let item of packageToView.items">
                  {{item}}
                </li>
              </ul>

              <ul class="PackagesList" *ngIf="!!packageToView.items && packageToView.items.length==1">
                <li *ngFor="let item of packageToView.items" style="width:100%">
                  {{item}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="AddColorway" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm e-commerceViewModel">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header header-success">
          <button type="button" class="close" (click)="closeColorWay()">&times;</button>
          <h4 class="modal-title">Adding number of colors</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 mb-20">Enter number of colors
              <b class="text-success">(${{ColorwayPrice}}/Quantity)</b>
            </div>
            <div class="col-xs-12 mb-20">
              <input type="number" class="form-control" placeholder="Enter Color" min="1" max="9999" [(ngModel)]="colorwayData" /> </div>
            <div class="col-xs-12 mb-20">
              <span class="text-danger">{{colorQuantityRange}}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="colorwaySubmit(colorPopUpPackage)">Submit</button>
          <button type="button" class="btn btn-danger" (click)="closeColorWay()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoader">
    <div class="loading-dialog"></div>
  </div>
  <div id="ProductDetailModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 700px;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="resetShipmentDetails()">&times;</button>
          <h4 class="modal-title">Inspection Details</h4>

        </div>
        <div class="modal-body product-container">
          <div class="container">
            <!-- <span *ngIf="isMandatoryField" class="col-xs-12" style="color:red">Please Select All Mandatory Fields.</span> -->
            <div class="col-xs-12 mb-20 margin-header col1">
              <b>Country
                <span style="color:red">*</span>
              </b>
              <select class="form-control" [(ngModel)]="productObject.SelectedCountry" (change)="setValue('country')">
                <option value=0 disabled selected>--Select Country--</option>
                <option *ngFor="let country of countryList" [value]="country.CountryID">{{country.Country_Name}}</option>
              </select>
              <span *ngIf="productObject.SelectedCountry==0 && isSubmitted" style="color:red;font-size: smaller;">Please Select Country.</span>
            </div>
            <div class="col-xs-12 mb-20 margin-header col1">
              <b>Province/State
                <span style="color:red">*</span>
              </b>
              <select class="form-control" [(ngModel)]="productObject.SelectedProvince" (change)="setValue('province')">
                <option value=0 disabled selected>--Select Province/State--</option>
                <option *ngFor="let province of provinceList" [value]="province.ProvinceID">{{province.Province}}</option>
              </select>

              <span *ngIf="(productObject.SelectedProvince=='' && isSubmitted)" style="color:red;font-size: smaller;">Please Select Province.</span>
            </div>
          </div>

          <div class="container">
            <div class="col-xs-12 mb-20 col1">
              <b>Location
                <span style="color:red">*</span>
              </b>
              <select class="form-control" [(ngModel)]="productObject.SelectedLocation" (change)="setValue('location')">
                <option value=0 disabled selected>--Select Location--</option>
                <option *ngFor="let location of locationList" [value]="location.LocationID">{{location.Location_Name}}</option>
              </select>
              <span *ngIf="productObject.SelectedLocation=='' && isSubmitted" style="color:red;font-size: smaller;">Please Select Location.</span>
            </div>
            <div class="col-xs-12 mb-20 col1">
              <b>Inspection Level
                <span style="color:red">*</span>
              </b>
              <span style="float: right">
                <a (mouseenter)="OpenSimplePlanModal()" class="underline">
                  <i class="fa fa-info-circle"></i>
                </a>
              </span>
              <br>
              <select class="form-control" [(ngModel)]="productObject.InspectionLevel" (change)="setValue('inspection')">

                <option *ngFor="let inspectionLevel of inspectionLevelList" [value]="inspectionLevel.Insp_Levels_ID">{{inspectionLevel.Insp_Levels}}</option>
              </select>
              <span *ngIf="productObject.InspectionLevel=='' && isSubmitted" style="color:red;font-size: smaller;">Please Select Inspection Level.</span>
            </div>
          </div>

          <div class="container">
            <div class="col-xs-12 mb-20 col1">
              <b>Shipment Quantity
                <span style="color:red">*</span>
              </b>
              <select class="form-control" [(ngModel)]="productObject.ShipmentQty" (change)="setValue('sampleSize')">
                <option *ngFor="let quantity of shipmentQuantity" [value]="quantity.Lotsize_ID">{{quantity.Lotsize_Range}}</option>
              </select>
            </div>
            <div class="col-xs-12 mb-20 col1">
              <b>Sample Size
                <span style="color:red">*</span>
              </b>
              <br>
              <input type="text" class="form-control" [(ngModel)]="productObject.SampleSize" disabled>
            </div>
          </div>
          <div class="col-xs-12 mb-20 foo">

            <div class="foo">
              <span class="bar">
                <b>AQL Critical</b>
                <span style="float: right">
                  <a (mouseenter)="OpenAQLModal()" class="underline">
                    <i class="fa fa-info-circle"></i>
                  </a>
                </span>
              </span>
              <span class="bar">
                <span style="float: right">
                  <a (mouseenter)="OpenAQLModal()" class="underline">
                    <i class="fa fa-info-circle"></i>
                  </a>
                </span>
                <b>AQL Major</b>
              </span>
              <span class="bar">
                <b>AQL Minor</b>
                <span style="float: right">
                  <a (mouseenter)="OpenAQLModal()" class="underline">
                    <i class="fa fa-info-circle"></i>
                  </a>
                </span>
              </span>
            </div>
            <div class="foo">
              <select class="form-control-dropdown bar" [(ngModel)]="productObject.AcceptanceLevelCritical">
                <option value=0>--Not Allowed--</option>
                <option *ngFor="let acceptanceLevel of acceptanceLevelList" [value]="acceptanceLevel.AQL_Qlty_Levels_ID">{{acceptanceLevel.AQL_Qlty_Measurement}}</option>
              </select>
              <select class="form-control-dropdown bar" [(ngModel)]="productObject.AcceptanceLevelMajor">
                <option value=0>--Not Allowed--</option>
                <option *ngFor="let acceptanceLevel of acceptanceLevelList" [value]="acceptanceLevel.AQL_Qlty_Levels_ID">{{acceptanceLevel.AQL_Qlty_Measurement}}</option>
              </select>
              <select class="form-control-dropdown bar" [(ngModel)]="productObject.AcceptanceLevelMinor">
                <option value=0>--Not Allowed--</option>
                <option *ngFor="let acceptanceLevel of acceptanceLevelList" [value]="acceptanceLevel.AQL_Qlty_Levels_ID">{{acceptanceLevel.AQL_Qlty_Measurement}}</option>
              </select>
            </div>
          </div>


          <span class="left-align">
            <b class="left-align">Inspection Summary :</b>
          </span>
          <div class="left-align">
            <table class="table table-format">
              <tbody>
                <tr>
                  <td>
                    <b>Sample Size:</b>
                  </td>
                  <td>{{ productObject?.SampleSize}}</td>
                </tr>
                <tr>
                  <td>
                    <b>Required Man Day As Per Shipment Quantity:</b>
                  </td>
                  <td>
                    <span>{{ getRequiredManday()}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Total Man Day Expense (USD): </b>
                  </td>
                  <td>
                    <span *ngIf="productObject.MandayCost !=0">{{ getManday()}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Travel Expense (USD):</b>
                  </td>
                  <td>{{ productObject?.TravelCost}}</td>
                </tr>
                <tr>
                  <td>
                    <b>Accommodation Expense (USD):</b>
                  </td>
                  <td>{{ productObject?.HotelCost}}</td>
                </tr>
                <tr>
                  <td>
                    <b>Total Expense (USD):</b>
                  </td>
                  <td>
                    <span *ngIf="(productObject?.MandayCost != 0 && productObject.SelectedLocation != 0)">{{ getTotalCost()}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitShipmentDetails()">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetShipmentDetails()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>








<div id="SimplePlanModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" (mouseleave)="CloseSimplePlanModal()" style="width: 590px;margin-top: 155px;margin-left: 700px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Single-sampling Plan (Normal)</h4>

      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <div class="table-responsive_iiji">
              <table class="table table-fixed  tableWrap">
                <thead style="background: #0067aa; border: 1px solid  #ddd;color: white;">
                  <tr>
                    <th class="text-center" style="border: 1px solid  #ddd;word-break: keep-all">Level</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">|</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">||</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">|||</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th rowspan="2" style="border: 1px solid #ddd;color: #0067aa;">Condition</th>
                    <td>It is implemented when it is evident that quality is running unusually well. </td>
                    <td> It is used at the start of inspection when there is no evidence related to the quality of product being
                      inspected.
                    </td>
                    <td>It is used when it is evident that quality of the product is deteriorating.</td>
                  </tr>
                  <tr>
                    <td>Inspecting less samples than plan II & III.</td>
                    <td>Inspecting less samples than plan III, but more than plan I.</td>
                    <td>Inspecting more samples than both plan I & I</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;" colspan="4">
                      <strong> Points of Consideration when Choosing Inspection Level:</strong>
                      <br> &nbsp; &nbsp; 1. Manufacturer’s historical background in terms of product quality & process capability.
                      <br> &nbsp; &nbsp; 2. Production status
                      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; i.Steady or not steady in term of quality.
                      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ii.First item production or repeated item production (i.e. repeated
                      orders)
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div id="AQLModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" (mouseleave)="CloseAQLModal()" style="width: 700px;margin-top:210px;margin-left:553px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Acceptance Quality Limit (AQL)</h4>

      </div>
      <div class="modal-body">
        <div class="row " style="margin: 7px;font-size: 1.4rem;">

          <p>
            <span style="color: blue;font-size: 2.4rem;">.</span> Acceptance Quality Limit (AQL) AQL is the worst tolerable process average (mean) in percentage or ratio
            that is still considered acceptable; that is, it is at an acceptable quality level.
          </p>
          <p>
            <span style="color: blue;font-size: 2.4rem;">.</span> AQL values may be expressed either in percent of nonconforming or in nonconformities per hundred units.
          </p>
          <p>
            <span style="color: blue;font-size: 2.4rem;">.</span> AQL depends and differs from product to product. For example, products related to high values or high
            safety concerns will have less AQL as compared to products related to less values or less safety concerns. Defects
            are usually categorized as Critical, Major, and Minor.
          </p>
        </div>

        <span style="color: #5fb606;font-size: 1.8rem;">AQL Recommendations</span>
        <div class="row " style="margin-top: 5px;">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <div class="table-responsive_iiji">
              <table class="table table-fixed  tableWrap">
                <thead style="background: #0067aa;color: white;">
                  <tr>
                    <th class="text-center" style=" border: 1px solid  #ddd;word-break: keep-all">Product Category</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">Critical</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">Major</th>
                    <th class="text-center" style=" border: 1px solid  #ddd;">Minor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Basic Essential</td>
                    <td>Not Allowed</td>
                    <td>2.5</td>
                    <td>4.0</td>
                  </tr>
                  <tr>
                    <td>Good Brands with Demanded Quality including Electrical & Electronic products.</td>
                    <td>Not Allowed</td>
                    <td>1.0</td>
                    <td>2.5</td>
                  </tr>
                  <tr>
                    <td>Luxury Brands Item (very expensive)</td>
                    <td>Not Allowed</td>
                    <td>0.65</td>
                    <td>1.0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>