<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<div class="row">
  <!-- <div class="col-md-12 col-xs-12 chartHere">
		<div class="chartWrap">
			<div id="chartContainer" style="height: 550px; border: 1px solid #ccc; margin: 5px 0 20px 0;">
					
			</div>
		</div>
	</div> -->
  <div class="col-md-12">
    <app-show-preview [count]="1"></app-show-preview>
  </div>
  <div class="col-md-12" *ngIf="isMultigraph == true">
    <app-show-preview [count]="2"></app-show-preview>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-6 inputDesign">
    <button class="btn btn-warning" (click)="showPrevTab()">Prev</button>
  </div>
  <div class="col-md-6 col-xs-6 inputDesign" align="right">
    <button class="btn btn-warning" (click)="showNextTab()">Next</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>