<style>
  /* div img {
  width: 100%;
  min-height: 100%;
} */
</style>


<div>

  <div *ngIf="isLoader">
    <div class="loading-dialog"></div>
  </div>
  <div class="logo1" style="background-color: white;">
    <img alt="" class="img-responsive" src="asset/img/logo1.jpg">
    <a class="btn btn-primary" href='' [routerLink]="['/login']">Login Here</a>
  </div>
  <section class="DataGrid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 nodadding">
          <div class="table-responsive">
            <!-- <table class="table" id="orderCommunication">
                          <thead class="head">
                              <tr>
                                  <th class="textCenter" (click)="sorting('ReportNo')" style="min-width:100px;">REPORT #</th>
                                  <th class="textCenter minwidth" (click)="sorting('LogInTime')" style="min-width:100px;">LOGIN</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">DATE OUT</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Lab Location</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Sample Description</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Vendor</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Factory</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">TAT</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Rating</th>
                                  <th class="textCenter minwidth" style="min-width:100px;">Status</th>
                                  <th class="textCenter">TRF</th>
                                  <th class="textCenter">Report</th>
                                  <th class="textCenter">Invoice</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let order of orderList">
                                  <td class="textCenter">{{order.ReportNo}}</td>
                                  <td class="textCenter">{{order.LogInTime | date:"MM/dd/yyyy"}} </td>
                                  <td class="textCenter">{{order.LogoutTime | date:"MM/dd/yyyy"}} </td>
                                  <td class="textCenter">{{order.LabLocationName}}</td>
                                  <td class="textCenter">{{order.SampleDescription}}</td>
                                  <td class="textCenter">{{order.ApplicantName}}</td>
                                  <td class="textCenter">{{order.ManufacturerName}}</td>
                                  <td class="textCenter">{{order.TAT}}</td>
                                  <td class="textCenter">{{order.ReportRating}}</td>
                                  <td class="textCenter">{{order.ReportStatus}}</td>

                                  <td class="pdfUploadIcon textCenter">
                                      <i tooltip={{order.TRF}} placement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" *ngIf="order.TRF" (click)="download(order.TRF)"></i>
                                  </td>
                                  <td class="pdfUploadIcon textCenter">
                                      <div *ngIf="order.Report">
                                          <span class="pdfUploadIcon" *ngFor="let report of order.Report.split(',')">
                                              <i tooltip={{report}} placement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" (click)="download(order.Report)"></i>
                                          </span>
                                      </div>
                                    
                                  </td>
                                  <td class=" pdfUploadIcon textCenter">
                                      <div *ngIf="order.Invoice">
                                          <span class="pdfUploadIcon" *ngFor="let invoice of order.Invoice.split(',')">
                                              <i tooltip={{invoice}} placement="top" class="fa fa-file-pdf-o " (click)="download(invoice)">
                                              </i>&nbsp;
                                          </span>
                                      </div>

                                  </td>
                              </tr>
                          </tbody>
                      </table> -->


            <table class="table" cellpadding="3" cellspacing="0" border="1" *ngIf="!!order">
              <thead class="head">
                <tr style="height: 10px">
                  <td height="40" colspan="2" style="background: #68cd00; color:#fff">
                    <strong style="font-size: 14px">Report Brief Summary</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="140" class="text-bold">Report Number</td>
                  <td>{{order.ReportNo}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Report Issue Date</td>
                  <td>{{order.LogoutTime | date:"MMM d, y"}} </td>
                </tr>
                <tr>
                  <td class="text-bold">Sample Description</td>
                  <td>{{order.SampleDescription}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Item Number</td>
                  <td>{{order.ItemName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">P.O. Number</td>
                  <td>{{order.PONumber}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Style Number</td>
                  <td>{{order.StyleNo}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Labelled Age Group</td>
                  <td>{{order.Intended_Labeled_Age}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Product Category</td>
                  <td>{{order.ProductCategory}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Concept</td>
                  <td>{{order.Concept}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Vendor</td>
                  <td>{{order.VendorName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Vendor Number</td>
                  <td>{{order.VendorCompanyID}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Factory</td>
                  <td>{{order.ManufacturerName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Factory ID</td>
                  <td>{{order.ManufacturerCompanyID}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Buyer</td>
                  <td>{{order.ClientName}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Country of Origin</td>
                  <td>{{order.CountryofOrigin}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Country of Destination</td>
                  <td>{{order.CountryofDestination}}</td>
                </tr>
                <tr>
                  <td class="text-bold">Rating</td>
                  <td>{{order.ReportRating}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table clr10" cellpadding="3" cellspacing="0" border="1">
              <thead class="head">
                <tr>
                  <td>
                    <strong style="font-size: 14px">Sample Images</strong>
                  </td>
                </tr>
              </thead>
              <tr>
                <td>
                  <div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="height:300px; width:350px; margin:10px;" *ngFor="let image of images">
                        <img [src]="image" alt="{{image}}" style="width: 100%;min-height: 100%;">
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <div style="margin:10px">
              <b>
                Attention: This is only a brief summary of the testing report, for more and complete information, please refer to the actual
                testing report, thank you!</b>
            </div>
          </div>

          <!-- <div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" *ngFor="let image of images">
                                  <img src="{{image}}" height="200px" width="200px">
                              </div>
                          </div>
                      </div> -->
          <!-- <img src="https://m.media-amazon.com/images/S/aplus-media/sota/14b88869-2f3c-4b23-b703-d628b1cf0ff8._CR0,0,1464,600_SX1464__.jpg"
                          height="200px" width="200px"> -->

          <!--<pagination-controls [hidden]="!orderList" (pageChange)="getPage($event)" id="server"></pagination-controls>-->
        </div>
      </div>
    </div>
  </section>
</div>