.ApplicationModal {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 31px;
    border-radius: 5px;
    border: solid 1px;
    text-align: center;
    font-size:17px;
}