<body class="" *ngIf="userCredential && userDetail">
	<div class="warpper-inner">
		<div class="content-inside">
			<custom-header></custom-header>
			<div *ngIf="isLoader">
				<div class="loading-dialog"></div>
			</div>
			<section class="breadcrum_bg">
				<div class="container-fluid">
					<p>
						<a>Dashboard </a>
						<img src="asset/img/angle-right.png" />
						<a> ADMIN </a>
						<img src="asset/img/angle-right.png">Manage Users </p>
				</div>
			</section>
			<section class="filter">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 ">
							<h3>Search</h3>
							<div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
							<div id="Filterbtn" class="collapse in">
								<div class="row  inputDesign autoComplete">

									<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
										<select name="" [(ngModel)]="selectedBusinessCategory" class="SlectBox" placeholder="Select Business Category" (ngModelChange)="getBusinessCategory()">
											<!--<option  [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>-->
											<option value="0">Select Business Category</option>
											<option value="1">Testing</option>
											<option value="2">Inspection</option>
											<option value="3">Audit</option>
										</select>
									</div>


									<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
										<!--<input type="" name="" placeholder="Company Name"  />-->


										<input auto-complete [(ngModel)]="selectedCompany" [source]="companyList" placeholder="Company Name" display-property-name="CompanyName"
										 value-property-name=null style="margin-bottom: 0px;"  [list-formatter]="renderCompany" close-on-focusout="true" />
										<!--<md2-autocomplete class="autoComplete" [items]="companyList"
                                          item-text="CompanyName"
                                          item-value="CompanyName"
                                          [(ngModel)]="selectedCompany"
                                          placeholder="Company Name">
                        </md2-autocomplete>-->
									</div>
									<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
										<input type="text" class="adminEmailSearch" [(ngModel)]="selectedEmail" placeholder="Email">
									</div>
									<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 ">
										<select name="" [(ngModel)]="selectedCategory" class="SlectBox" placeholder="Select User Category">
											<!--<option [disabled]="category.UserCategoryId==0" value="">Select User Category</option>-->
											<option [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>
										</select>

										<!--<select name="" [(ngModel)]="selectedCategory" class="SlectBox" placeholder="Select User Category">
                            <option [ngValue]="category.UserCategoryId === categoryDefaultStr.UserCategoryId ? 0 : category.UserCategoryId" *ngFor="let category of [categoryDefaultStr].concat(categoryList)">{{category.UserCategoryName}} </option>
                        </select>-->
									</div>
									<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
										<!--<input type="text" name="" placeholder="User Status"  />-->
										<select name="" [(ngModel)]="selectedStatus" class="SlectBox" placeholder="Select User Category">
											<option value="0">Select User Status</option>
											<option value="1">Pending</option>
											<option value="2">Approved</option>
											<option value="3">Rejected</option>
										</select>
									</div>
									<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
										<button type="button" class="btn btn-success searchBtn " (click)="search()"> Search</button>
										<button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
										<button data-toggle="modal" data-target="#import-client" class="btn btn-success searchBtn "> Import Client </button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="DataGrid">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 nodadding">
							<div class="table-responsive">
								<!--currentpage:{{p}}-itemperpage:{{itemPerPage}}-totalItems:{{totalItem}}-->
								<table class="table manageUserTable">
									<thead class="head">
										<tr>
											<th>S. No.</th>
											<th (click)="sorting('UserName')">Username </th>
											<th (click)="sorting('Email')">Email Address </th>
											<th (click)="sorting('CompanyName')">Company Name </th>
											<th (click)="sorting('UserCategoryName')">User Category </th>
											<th>Status</th>
											<th style="width: 20%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let user of userList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem};let i= index">
											<td>{{user.SNo}}</td>
											<td>{{user.FirstName}} {{user.LastName}} </td>
											<td>{{user.EmailId}}</td>
											<td>{{user.CompanyName}} </td>
											<td>{{user.UserCategoryName}}</td>
											<td class="pending">{{user.Status}}</td>
											<td style="text-align: left!important;">
												<button [disabled]="!userCredential.UserPermission.DeleteUser" type="button" (click)="deleteUser(user.UserId)" class="btn btn-danger btn-sm">Delete</button>
												<button *ngIf="user.Status !='Pending'" [disabled]="!userCredential.UserPermission.AssignRole" (click)="assignRole(user.UserId)"
												 class="btn btn-success btn-sm">Assign Role</button>
												<button *ngIf="user.Status =='Pending'" [disabled]="!userCredential.UserPermission.AssignRole" class="btn btn-primary-one searchBtn textcolor"
												 data-toggle="modal" data-target="#Verifiaction" (click)="openPopUp(i)">Verify User</button>
												<button *ngIf="user.Status !='Pending'" class="btn btn-primary-one searchBtn textcolor" data-toggle="modal" data-target="#inspectionPermission"
												 (click)="openManagePermissionPopup(i)">Service Permission</button>
												 <button  *ngIf="userCredential.UserPermission.GetPassword" (click)="GetPassword(user.UserId,i)"
												 class="btn btn-success btn-sm">Get Password</button>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
							<pagination-controls [hidden]="!userList" (pageChange)="getPage($event)" id="server"></pagination-controls>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<custom-footer></custom-footer>
</body>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="import-client" role="dialog">
	<div class="modal-dialog" style="width: 800px;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
				<h4 class="modal-title">Import Client</h4>
			</div>
			<div class="modal-body" style="height: 500px;">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
						<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
							<md-input-container>
								<input mdInput placeholder="Enter Client Name" value="" [(ngModel)]="clientId">
							</md-input-container>
						</div>
						<div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
							<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
								<div style="text-align: center;">
									<button type="button" class="btn btn-primary" style="margin-top: 10px;background:#68cd00;border-color: #68cd00;" [disabled]="clientId == null || clientId ==''"
									 (click)="searchClient()">Search Client</button>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
								<div style="text-align: center;">
									<button type="button" class="btn btn-primary" style="margin-top: 10px;" (click)="resetclient()">Reset Client</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-Container row" style="margin-top: 50px;">
					<div class="col-md-9 col-lg-6 col-sm-8 col-xs-12 ">
						<div class="table-responsive individualPackages" style="overflow-x: hidden;height: 300px;">
							<table class="table" style="margin-bottom: 0px !important;">
								<thead class="head" style="background: #68cd00;color: #fff;">
									<tr>
										<th *ngIf="limsCompanyList.length == 0" style="text-align: center;">LIMS Clients</th>
										<th *ngIf="limsCompanyList.length > 0" class="textLeft">&nbsp;</th>
										<th *ngIf="limsCompanyList.length > 0" style="text-align: center;">LIMS Clients</th>
										<th *ngIf="limsCompanyList.length > 0" class="textLeft">&nbsp;</th>
									</tr>
								</thead>
								<tbody style="background:white;">
									<tr *ngFor="let limsCompany of limsCompanyList;let i = index">
										<td *ngIf="limsCompanyList.length > 0" class="textLeft" style="width:25%;">{{limsCompany.CompanyId}}</td>
										<td *ngIf="limsCompanyList.length > 0" class="textLeft" style="width: 70%;">{{limsCompany.CompanyName}}</td>
										<td *ngIf="limsCompanyList.length > 0" class="textRight">
											<div class="p-selectBtn" style="padding: 4px 15px;border: 1px solid #ddd;width: 91px;border-radius: 4px;position: relative;">
												<div class="checkbox checkbox-success">
													<input id="checkbox{{i}}" (change)="selectionCheck($event,i);" type="checkbox" [disabled]="isOtherClientChecked && selectedClientIndex != i">
													<label for="checkbox{{i}}">Select</label>
												</div>
											</div>
										</td>
									</tr>
									<tr *ngIf="limsCompanyList.length == 0">
										<td class="textLeft" style="width: 100%;">No Result</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-9 col-lg-6 col-sm-8 col-xs-12 ">
						<div class="table-responsive individualPackages" style="overflow-x: hidden;height: 300px;">
							<table class="table" style="margin-bottom: 0px !important;">
								<thead class="head" style="background: #68cd00;color: #fff;">
									<tr>
										<th style="width: 70%;text-align: center;">Client Portal Clients</th>
										<!-- <th class="textLeft">&nbsp;</th> -->
									</tr>
								</thead>
								<tbody style="background:white;">
									<tr *ngFor="let clientPortalCompany of clientPortalCompanyList">
										<td class="textLeft" style="width: 100%;height: 47px;">{{clientPortalCompany.CompanyName}}</td>
										<!-- <td class="textRight">
												<div class="p-selectBtn" style="padding: 4px 15px;border: 1px solid #ddd;width: 91px;border-radius: 4px;position: relative;">
													<div class="checkbox checkbox-success">
														<input id="checkbox" (change)="selectionCheck($event,package);" type="checkbox">
														<label for="checkbox">Select</label>
													</div>
												</div>
											</td> -->
									</tr>
									<tr *ngIf="clientPortalCompanyList.length == 0">
										<td class="textLeft" style="width: 100%;">No Result</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
						<div style="text-align: center;">
							<button type="button" class="btn btn-primary" style="margin-top: 10px;background:#68cd00;border-color: #68cd00;" [disabled]="!isOtherClientChecked"
							 (click)="importClient()">Import Client</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Verifiaction" role="dialog">
	<div class="modal-dialog" style="width: 450px;">

		<!-- Modal content-->
		<div class="modal-content" style="min-height: 400px">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" (click)="resetPopup()">&times;</button>
				<h4 class="modal-title">Client Approval</h4>
			</div>
			<div class="modal-body">
				<div class="row  inputDesign autoComplete" style="margin-bottom: 14px;margin-top: 10px;">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">

						<label for="UserName">Category</label>
						<select name="" [(ngModel)]="selectedUserCategoryId" class="SlectBox" placeholder="Select User Category">
							<option [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>
						</select>
					</div>
				</div>
				<div class="row  inputDesign autoComplete">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
						<label for="UserName">Business Category</label>
						<select name="" [(ngModel)]="selectedBusinessCategoryId" class="SlectBox" (change)="CompanyListOnPopUp()" placeholder="Select a Category">
							<option value="0" selected disabled>Select Business Category</option>
							<option value="1">Testing</option>
							<option value="2">Inspection</option>
							<option value="3">Audit</option>
							<option value="5">Green Product</option>
						</select>
					</div>
				</div>
				<div class="row  inputDesign autoComplete">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
						<label for="UserName">Select Company</label>
						<div class="custom_box modelSelect">
							<input auto-complete [(ngModel)]="popUpSelectedCompanyId" [source]="popUpcompanyList" placeholder="Company Name" display-property-name="CompanyName"
							 value-property-name=null style="margin-bottom: 14px;" [list-formatter]="renderCompany" close-on-focusout="true"/>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
					<button type="button" class="btn btn-primary" (click)="clientverifiaction()">UPDATE</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="inspectionPermission" role="dialog">
	<div class="modal-dialog" style="width: 450px;">

		<!-- Modal content-->
		<div class="modal-content" style="min-height: 270px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" (click)="resetPopup()">&times;</button>
				<h4 class="modal-title">Manage Permission</h4>
			</div>
			<div class="modal-body">

				<!-- <div class="row  inputDesign autoComplete" style="margin-bottom: 14px;margin-top: 10px;">
							<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
		
								<label for="UserName">Category</label>
								<select name="" [(ngModel)]="selectedUserCategoryId" class="SlectBox" placeholder="Select User Category">
									<option [ngValue]="category.UserCategoryId" *ngFor="let category of categoryList">{{category.UserCategoryName}} </option>
								</select>
							</div>
						</div> -->
				<div class="row  inputDesign autoComplete">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
						<label for="UserName">Business Category</label>
						<select name="" [(ngModel)]="selectedBusinessCategoryId" class="SlectBox" (change)="CompanyListOnPopUp()" placeholder="Select a Category">
							<option value="0" selected disabled>Select Business Category</option>
							<option value="1">Testing</option>
							<option value="2">Inspection</option>
							<option value="3">Audit</option>
							<option value="5">Green Product</option>
						</select>
					</div>
				</div>

				<div class="row  inputDesign autoComplete">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="margin-bottom: 14px;">
						<label for="UserName">Select Company</label>
						<div class="custom_box modelSelect">
							<input auto-complete [(ngModel)]="popUpSelectedCompanyId" [source]="popUpcompanyList" placeholder="Company Name" display-property-name="CompanyName"
							 value-property-name=null style="margin-bottom: 14px;" [list-formatter]="renderCompany" close-on-focusout="true"/>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
					<button type="button" class="btn btn-primary" style="float:right;" (click)="updateCompanyInfoForInspection()" [disabled]="popUpSelectedCompanyId==null || popUpSelectedCompanyId?.CompanyId==0">UPDATE</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="PasswordModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" style="margin-top:10%">
        <div class="modal-content ">
            <div class="modal-body ApplicationModal">
                <div class="row form inputDesign">
                    <div class="col-md-12">
							<label style="font-weight: 600;">Email: </label>
							<label>{{userEmail}}</label>
                    </div>
                    <div class="col-md-12">
                        <label style="font-weight: 600;">Password: </label>
                        <label>{{userPassword}}</label>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-danger" style="margin-top: 20px;width: 12%;" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>