<body class="" *ngIf="userDetail && userCredential">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoading">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>My Order </a>
            <img src="asset/img/angle-right.png" />Order Tracking </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <form id="Filterbtn" class="collapse in">
                <div class="row form inputMatrial">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 date-wrapper">
                    <!--<span class="custom-material">Login Date range</span>-->
                    <div class="custom_Date">
                      <my-date-range-picker class="date-pick" [placeholder]="'Booking Date'" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)">
                      </my-date-range-picker>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 date-wrapper">
                    <!--<span class="custom-material">Login Date range</span>-->
                    <div class="custom_Date">
                      <my-date-range-picker class="date-pick" [placeholder]="'Report Issue Date'" [options]="myDateRangePickerOptions" (dateRangeChanged)="logoutonDateRangeChanged($event)">
                      </my-date-range-picker>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <md-input type="text" [(ngModel)]="searchParam.SearchText[0].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Report #"></md-input>
                  </div>
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[1].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Style No"></md-input>
                                  </div>-->

                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[2].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Sample Description"></md-input>
                                  </div>-->
                </div>
                <div class="row form inputMatrial">
                  <!--<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                                      <md-input type="text" [(ngModel)]="searchParam.SearchText[2].ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="Sample Description"></md-input>
                                  </div>-->
                  <div *ngFor="let dColumns of dynamicSearchColumns" class="col-md-3 col-lg-3 col-sm-3 col-xs-12 test">
                    <md-input type="text" [(ngModel)]="dColumns.ColumnValue" [ngModelOptions]="{standalone: true}" placeholder="{{dColumns.ColumnDataValue}}"></md-input>
                  </div>
                </div>
                <div class="row form inputDesign" *ngFor="let searchC of additionalSearch;let i = index; let last = last ">
                  <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" *ngIf="i > 0">
                    <select name="" class="SlectBox resetSelect" [(ngModel)]="searchC.LogicalOperator" [ngModelOptions]="{standalone: true}">
                      <option value="">Select LogicalOperator</option>
                      <option value="AND">And </option>
                      <option value="OR">Or </option>
                    </select>
                  </div>
                  <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                    <select class="SlectBox resetSelect" [(ngModel)]="searchC.ColumnName" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Column</option>
                      <option [value]="column.ColumnName" *ngFor="let column of columnList">{{column.ColumnDataValue}}</option>
                    </select>

                  </div>
                  <div [ngClass]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12' ">
                    <select class="SlectBox resetSelect" [(ngModel)]="searchC.Operator" [ngModelOptions]="{standalone: true}">
                      <option value="">Select Operator</option>
                      <option value="1">Equal </option>
                      <option value="2">Not Equal </option>
                      <option value="3">Starts With </option>
                      <option value="4">Ends With </option>
                      <option value="5">Contains</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <input class="resetDynamicInput" type="text" placeholder="Keyword" [(ngModel)]="searchC.ColumnValue" [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-danger searchBtnIcon" (click)="removeSearch(i)">
                      <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" style="margin-right: 10px;" *ngIf="last" class="btn btn-primary searchBtnIcon" (click)="addSearch()">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" *ngIf="last" class="btn btn-success searchBtn " (click)="search(1)"> Search</button>
                    <button type="button" *ngIf="last" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="exportcontainer">
        <button (click)="bulkEmailBtnClick()" class="btn btn-primary btn-sm ">Batch Email Send</button>

        <button type="button" class="btn btn-success export-excel" (click)="search(2)">Export to Excel</button>
        <div class="form-group" style="float:right">
          <label>Page Size : </label>
          <select class="SlectBox resetSelect sizedropdown" (change)="selectSize()" [(ngModel)]="PageSizeDynamic" [ngModelOptions]="{standalone: true}">
            <!-- <option value="10">Select Size</option> -->
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>

          </select>
        </div>
      </div>
      <section class="DataGrid ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="table-responsive">
                <table class="table " id="OrderTrackingMain">
                  <thead class="head">
                    <tr>
                      <th class="textCenter"></th>
                      <th class="textCenter" (click)="sorting('ReportNo')" style="min-width:100px;">Report #</th>
                      <!--<th class="textCenter minwidth" (click)="sorting('LogInTime')" style="min-width:100px;">Date In</th>-->
                      <th class="textCenter" *ngFor="let dColumns of dynamicGridColumns" (click)="sorting(dColumns.ColumnName)">
                        {{dColumns.ColumnDataValue}}</th>
                      <!--<th class="textCenter" (click)="sorting('ReportRating')">Rating</th>-->
                      <th class="textCenter" *ngFor="let dColumns of dynamicGridColumnsNew">
                        {{dColumns.ColumnDataValue}}</th>
                      <!-- <th class="textCenter">TRF</th> -->
                      <th class="textCenter">Report</th>
                      <th class="textCenter" *ngIf="userCredential.UserPermission.DownloadInvoice">Invoice</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let order of orderList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">
                      <td class="textCenter">
                        <input type="checkbox" name="orderSelect" value="{{order.ReportNo}}" [checked]="this.checkedReportNo.indexOf(order.ReportNo) >= 0"
                          (change)="handleCheckboxCheck($event, order)">
                      </td>
                      <td class="textCenter">{{order.ReportNo}}</td>
                      <!--<td class="textCenter">{{order.LoginTime | date:"MM/dd/yyyy"}}</td>-->
                      <td class="textCenter" *ngFor="let dColumns of dynamicGridColumns">
                        <div *ngIf="(dColumns.ColumnName == 'SUP' || dColumns.ColumnName == 'GCC') && order[dColumns.ColumnName] != null">
                          <span class="pdfUploadIcon" *ngFor="let supFile of order[dColumns.ColumnName].split('ÿ')">
                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" *ngIf=" supFile.substr(supFile.lastIndexOf('.') + 1)=='pdf'"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-excel-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='xlsx'||supFile.substr(supFile.lastIndexOf('.') + 1)=='xls'"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-word-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='doc'||supFile.substr(supFile.lastIndexOf('.') + 1)=='docx'"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-archive-o zip" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='zip'"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>
                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-alt-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='txt'"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-exclamation-triangle zip" *ngIf="(supFile.substr(supFile.lastIndexOf('.') + 1)!='pdf') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='xlsx')&& (supFile.substr(supFile.lastIndexOf('.') + 1)!='xls')
                                                  && (supFile.substr(supFile.lastIndexOf('.') + 1)!='doc') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='docx')
                                                   && (supFile.substr(supFile.lastIndexOf('.') + 1)!='zip') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='txt')"
                              (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{supFile}}</div>
                            </tooltip-content>
                          </span>
                        </div>
                        <div *ngIf="dColumns.ColumnName != 'SUP' && dColumns.ColumnName != 'GCC' && dColumns.ColumnName!='DueDate' && dColumns.ColumnName!='LogoutTime'">
                          {{order[dColumns.ColumnName]}}
                        </div>
                        <div *ngIf="dColumns.ColumnName == 'LogoutTime'">
                          {{order.LogoutTime}}
                        </div>

                        <div *ngIf="dColumns.ColumnName == 'DueDate'">
                          {{order.DueDate}}
                        </div>

                      </td>
                      <!--<td class="colorRed textCenter">
                                              <button type="button" style="text-transform: uppercase; white-space: nowrap !important;"
                                                  *ngIf="order.ReportRating" class="btn-small btn-link {{order.ReportRating}}"
                                                  (click)="viewRatingHistory(order)">{{order.ReportRating}}</button>
                                          </td>-->
                      <!--<td class="textCenter" *ngFor="let dColumns of dynamicGridColumnsNew">
                                              <div *ngIf="(dColumns.ColumnName == 'SUP' || dColumns.ColumnName == 'GCC') && order[dColumns.ColumnName] != null">
                                                  <span class="pdfUploadIcon" *ngFor="let supFile of order[dColumns.ColumnName].split('ÿ')">
                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" *ngIf=" supFile.substr(supFile.lastIndexOf('.') + 1)=='pdf'"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-file-excel-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='xlsx'||supFile.substr(supFile.lastIndexOf('.') + 1)=='xls'"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-file-word-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='doc'||supFile.substr(supFile.lastIndexOf('.') + 1)=='docx'"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-file-archive-o zip" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='zip'"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>
                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-file-alt-o excel" *ngIf="supFile.substr(supFile.lastIndexOf('.') + 1)=='txt'"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>

                                                      <i tooltip={{supFile}} placement="top" style="cursor: pointer;" class="fa fa-exclamation-triangle zip" *ngIf="(supFile.substr(supFile.lastIndexOf('.') + 1)!='pdf') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='xlsx')&& (supFile.substr(supFile.lastIndexOf('.') + 1)!='xls')
                                                  && (supFile.substr(supFile.lastIndexOf('.') + 1)!='doc') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='docx')
                                                   && (supFile.substr(supFile.lastIndexOf('.') + 1)!='zip') && (supFile.substr(supFile.lastIndexOf('.') + 1)!='txt')"
                                                          (click)="download(supFile,dColumns.ColumnName,order.ReportNo)"></i>
                                                  </span>
                                              </div>
                                          </td>-->



                      <!-- <td class="pdfUploadIcon textCenter">
                        <div *ngIf="order.TRF">
                          <span class="pdfUploadIcon" *ngFor="let trfFile of order.TRF.split('ÿ')">
                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" (click)="download(trfFile,'TRF',order.ReportNo)"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{trfFile}}</div>
                            </tooltip-content>
                          </span>
                        </div>
                      </td> -->

                      <td class="pdfUploadIcon textCenter">
                        <div *ngIf="order.Report">
                          <span class="pdfUploadIcon" *ngFor="let reportFile of order.Report.split('ÿ')">
                            <i [tooltip]="myTooltip" tooltipPlacement="top" style="cursor: pointer;" class="fa fa-file-pdf-o" (click)="download(reportFile,'Report',order.ReportNo)"></i>
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{reportFile}}</div>
                            </tooltip-content>
                          </span>
                        </div>
                      </td>
                      <td *ngIf="userCredential.UserPermission.DownloadInvoice" class="textCenter">
                        <div *ngIf="order.Invoice">
                          <span class="pdfUploadIcon" *ngFor="let invoice of order.Invoice.split('ÿ')">
                            <i [tooltip]="myTooltip" tooltipPlacement="top" class="fa fa-file-pdf-o " (click)="download(invoice,'Invoice',order.ReportNo)">
                            </i>&nbsp;
                            <tooltip-content #myTooltip [animation]="true" placement="left">
                              <div style="word-wrap:break-word">{{invoice}}</div>
                            </tooltip-content>
                          </span>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls [hidden]="!orderList" (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
      <div style="display: none;">
        <table class="table " id="OrderTracking">
          <thead class="head">
            <tr>

              <th bgcolor="#bfbfbf" class="textCenter" (click)="sorting('ReportNo')" style="min-width:100px;">Report #</th>
              <th bgcolor="#bfbfbf" class="textCenter minwidth" (click)="sorting('LoginTime')" style="min-width:100px;">Date In </th>
              <th bgcolor="#bfbfbf" class="textCenter" *ngFor="let dColumns of dynamicGridColumns" (click)="sorting(dColumns.ColumnName)">{{dColumns.ColumnDataValue}}</th>
              <th bgcolor="#bfbfbf" class="textCenter" (click)="sorting('ReportRating')">Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem}">

              <td class="textCenter">{{order.ReportNo}}</td>
              <td class="textCenter">{{order.LogInTime}}</td>
              <td class="textCenter" *ngFor="let dColumns of dynamicGridColumns">{{order[dColumns.ColumnName]}} </td>
              <td class="colorRed textCenter">
                <button type="button" style="text-transform: uppercase;" *ngIf="order.ReportRating" class="btn-small btn-link" (click)="viewRatingHistory(order)">{{order.ReportRating}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <custom-footer></custom-footer>
  <!-- Modal -->
  <div class="modal fade" id="ViewFail" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg ">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Test Result</h4>
        </div>
        <div class="modal-body">
          <div class="row ">

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 resultStatus">
              <span>
                <b>Report # :</b> {{reportNo}}</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="table-responsive">
                <table class="table modalTable">
                  <thead class="head">
                    <tr>
                      <th width="55%">Test Name</th>
                      <th>Test Result</th>
                      <th>Failure Code</th>
                      <!--<th>Description</th>-->
                      <th>Category</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of viewHistoryList">
                      <td>{{history.TestName}}</td>
                      <td>{{history.TestResult}}</td>
                      <td>{{history.FailCode}}</td>
                      <td>{{history.FailCategory}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="ViewHistory" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Status History </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 resultStatus textLeft">
              <span>
                <b>Report # :</b>{{reportNo}}</span>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 resultStatus textCenter">
              <span>
                <b> Login Time:</b>{{loginDate}}</span>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 resultStatus textCenter">
              <span>
                <b>Due Date:</b>{{dueDate}} </span>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 resultStatus textLeft">
              <span>
                <b>Rating:</b>{{rating}} </span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div class="table-responsive">
                <table class="table modalTable table-striped statusTable" id="exportExcelTableHistory">
                  <tbody>
                    <tr *ngFor="let history of historyList">
                      <td>
                        {{history.Status}}
                      </td>
                      <td>
                        {{history.Date}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="display: none;">
                  <table class="table modalTable table-striped statusTable" id="TableHistory">
                    <caption bgcolor="#bfbfbf">Status History</caption>
                    <caption>
                      <td colspan="4">Report # : {{reportNo}} &nbsp;&nbsp; Login Time:{{loginDate}} &nbsp;&nbsp; Due Date: {{dueDate}} &nbsp;&nbsp;
                        Rating: {{rating}}
                      </td>
                    </caption>
                    <thead>
                      <tr>
                        <th colspan="4" bgcolor="#bfbfbf">Status History</th>
                        <!--<th bgcolor="#808080"></th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="4">Report # : {{reportNo}} &nbsp;&nbsp; Login Time:{{loginDate}} &nbsp;&nbsp; Due Date: {{dueDate}}
                          &nbsp;&nbsp; Rating: {{rating}}
                        </td>

                      </tr>
                      <tr *ngFor="let history of historyList">


                        <td colspan="2">
                          {{history.Status}}
                        </td>
                        <td colspan="2">
                          {{history.Date}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success export-excel" (click)="this.dataService.fnExcelReport('TableHistory')">Export to Excel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bulkEmailSend" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="cancelBulkEmail()">&times;</button>
          <h4 class="modal-title">Batch Email</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">

            <!--<email [clientEmail] = "this.clientEmail" -->
            <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.checkedReportNo.join(', ')" [ccEmails]="this.ccEmails"
              [remarks]="this.remarks"></app-bulk-email>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitBatchEmail($event)">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelBulkEmail()">Cancel</button>
        </div>
      </div>

    </div>
  </div>



  <!--    modal for download file     -->


  <div class="modal fade" id="DownloadFile" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Mail</h4>
        </div>
        <div class="modal-body">
          <div class="row inputDesign">
            <!--<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 labelControl"><span><b>Report # : </b>{{this.ReportNo}}</span></div>-->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
              <div>
                <input type="checkbox" class="check CheckPop" id="showDownload" (change)="showDownload()" />
                <label for="showDownload">Send Mail</label>
              </div>

              <div *ngIf="showDownloadFiles">

                <app-bulk-email [clientEmail]="this.userDetail" [checkedReportNo]="this.ReportNo" [ccEmails]="this.ccEmails" [remarks]="this.remarks">
                </app-bulk-email>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadFile()">{{showDownloadFiles? 'Send' : 'Download'}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>
</body>