<div *ngIf="isLoader">
    <div class="loading-dialog"></div>
</div>

<body class="login loginBg">
    <div class="warpper-inner">
        <div class="content-inside">
            <!---->
            <section class=" ">
                <div class="container">
                    <div id="row">
                        <div class="signUpBox">
                            <div class="logo">
                                <img alt="" class="img-responsive" src="asset/img/logo.jpg">
                            </div>
                            <table class="thanku-wrapper thankuTable" width="80%" align="center">
                                <tr *ngIf="userCredential.RequestedServiceType!=2">
                                    <td align="right">
                                        <a href="" [routerLink]="['/login']">Login</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" class="trthanks">
                                        Thank you for signing up
                                    </td>
                                </tr>
                                <tr *ngIf="userCredential.RequestedServiceType!=2">
                                    <td align="center" *ngIf="userCredential.CompanyId != 10000 ">
                                        <div class="thankyou-msg">
                                            Verification is in progress. Our customer service will contact you for
                                            information verification when required. An Email will
                                            be sent to your registered email id after verification.
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="userCredential.RequestedServiceType==2">
                                    <td align="center">
                                        <div class="
                                        thankyou-msg"> <h3>Click here
                                            to <a href="" [routerLink]="['/login']">Login</a></h3>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>