<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>
<section class="DataGrid addFields">
  <div class="container-fluid">
    <div class="row">

      <!-- ADDField is different for Section, Sub-Section and Table, ie. for any change we need to change in 3 location below -->


      <!-- If AddField called from Section -->
      <div class="col-md-12" *ngIf="calledFrom === 'section'">
        <div class="col-md-2">
          <label>Select Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectTable" (click)="beforeTableChange(ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectTable)"
            (ngModelChange)="onSelectTableChange()">
            <option value="null">Select Table</option>
            <option *ngFor="let data of TableList" value={{data.TableName}}>{{data.TableName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Select Component</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectComponent" (click)="onComponentBeforeChange(ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectComponent, ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectTable)"
            (change)="onComponentChange($event)">
            <option value="null">Select Component</option>
            <option *ngFor="let data of componentList" [ngClass]="data.className ? data.className : ''" value={{data.ComponentName}}>{{data.ComponentName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Unique ID</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].uniqueId" disabled="true" />
        </div>
        <div class="col-md-2">
          <label>Select Control Type</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectControlType">
            <option value='1'>TextBox</option>
            <option value='2'>TextArea</option>
            <option value='3'>DropDown</option>
            <option value='4'>DropDownMultiSelect</option>
            <option value='5'>DropDownWithAutoComplete</option>
            <option value='6'>RadioButton</option>
            <!-- <option value = '7'>RadioButtonWithText</option> -->
            <option value='8'>CheckBox</option>
            <option value='9'>CheckBoxWithText</option>
            <option value='10'>Date</option>
            <option value='11'>DateTime</option>
            <option value='13'>RadiobuttonWithList</option>
            <option value='14'>Label</option>
            <option value='15'>CheckBoxWithList</option>
            <option value='16'>Image</option>
            <option value='17'>File</option>
            <option value='18'>Anchor</option>
            <option value='19'>CheckBoxWithTextArea</option>
            <option value='21'>MappingDropdown</option>
            <option value='22'>SF_EDI_Table</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Field Label</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].enterLabelName" />
        </div>
        <div class="col-md-2">
          <label>Column Name</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].columnName" disabled="true"
          />
        </div>
        <div class="col-md-2">
          <label>Default value</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].defaultValue" />
        </div>
        <div class="col-md-2">
          <label>Dependent on Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].dependentOnUniqueID" />
        </div>
        <div class="col-md-2">
          <label>Dependent Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].dependentUniqueID" />
        </div>
        <div class="col-md-2">
          <label>Select Master Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].TableMaster" (ngModelChange)="masterTableChange()">
            <option value="null">Select Master Table</option>
            <option *ngFor="let table of MasterTableList" value={{table.TAbleName}}>
              {{table.TAbleName}}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Select Query</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].selectQuery" />
        </div>
        <div class="col-md-2">
          <label>Options</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].option" />
        </div>


        <!--Field Add by rohit for class in Section-->
        <div class="col-md-2">
          <label>Add Class</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].className" />
        </div>



        <div class="col-md-2">
          <label>Width</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addFieldsArr[this.addFieldsIndex].width">
            <option value="100%">Full (100%)</option>
            <option value="90%">90%</option>
            <option value="80%">80%</option>
            <option value="75%">Three Fourth (75%)</option>
            <option value="70%">70%</option>
            <option value="60%">60%</option>
            <option value="50%">One Half (50%)</option>
            <option value="40%">40%</option>
            <option value="33%">One Third (33%)</option>
            <option value="30%">30%</option>
            <option value="25%">One Fourth (25%)</option>
            <option value="20%">20%</option>
            <option value="10%">10%</option>
          </select>
        </div>
        <div class="col-md-2" style="text-align: right;">
          <button class="btn btn-primary" title="Add Validations" (click)="setValidation(addFieldsIndex)">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Up" (click)="moveUp(addFieldsIndex)">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Down" (click)="moveDown(addFieldsIndex)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" title="Remove Field" (click)="removeField(addFieldsIndex)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <!-- If AddField called from Sub-Section  -->
      <div class="col-md-12" *ngIf="calledFrom === 'sub-section'">
        <div class="col-md-2">
          <label>Select Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectTable"
            (click)="beforeTableChange(ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectTable)"
            (ngModelChange)="onSelectTableChange()">
            <option value="null">Select Table</option>
            <option *ngFor="let data of TableList" value={{data.TableName}}>{{data.TableName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Select Component</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectComponent"
            (ngModelChange)="onComponentChange()" (click)="onComponentBeforeChange(ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectComponent, ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectTable)">
            <option value="null">Select Component</option>
            <option *ngFor="let data of componentList" [ngClass]="data.className ? data.className : ''" value={{data.ComponentName}}>{{data.ComponentName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Unique ID</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].uniqueId"
            disabled="true" />
        </div>
        <div class="col-md-2">
          <label>Select Control Type</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectControlType">
            <option value=1> TextBox</option>
            <option value=2>TextArea</option>
            <option value=3>DropDown</option>
            <option value=4>DropDownMultiSelect</option>
            <option value=5>DropDownWithAutoComplete</option>
            <option value=6>RadioButton</option>
            <!-- <option value = 7>RadioButtonWithText</option> -->
            <option value=8>CheckBox</option>
            <option value=9>CheckBoxWithText</option>
            <option value=10>Date</option>
            <option value=11>DateTime</option>
            <option value=13>RadiobuttonWithList</option>
            <option value=14>Label</option>
            <option value=15>CheckBoxWithList</option>
            <option value=16>Image</option>
            <option value=17>File</option>
            <option value=18>Anchor</option>
            <option value=19>CheckBoxWithTextArea</option>
            <option value=21>MappingDropdown</option>
            <option value='22'>SF_EDI_Table</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Field Label</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].enterLabelName"
          />
        </div>
        <div class="col-md-2">
          <label>Column Name</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].columnName"
            disabled="true" />
        </div>
        <div class="col-md-2">
          <label>Default value</label>
          <input value="" [(ngModel)]=" ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].defaultValue"
          />
        </div>
        <div class="col-md-2">
          <label>Dependent on Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].dependentOnUniqueID"
          />
        </div>
        <div class="col-md-2">
          <label>Dependent Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].dependentUniqueID"
          />
        </div>
        <div class="col-md-2">
          <label>Select Master Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].TableMaster"
            (ngModelChange)="masterTableChange()">
            <option value="null">Select Master Table</option>
            <option *ngFor="let table of MasterTableList">
              {{table.TAbleName}}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Select Query</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].selectQuery"
          />
        </div>
        <div class="col-md-2">
          <label>Options</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].option"
          />
        </div>


        <!--Field Add by rohit for class in Sub-Section-->
        <div class="col-md-2">
          <label>Add Class</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].className"
          />
        </div>

        <div class="col-md-2">
          <label>Width</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].subSectionArr[this.subSectionIndex].addFieldsArr[this.addFieldsIndex].width">
            <option value="100%">Full (100%)</option>
            <option value="90%">90%</option>
            <option value="80%">80%</option>
            <option value="75%">Three Fourth (75%)</option>
            <option value="70%">70%</option>
            <option value="60%">60%</option>
            <option value="50%">One Half (50%)</option>
            <option value="40%">40%</option>
            <option value="33%">One Third (33%)</option>
            <option value="30%">30%</option>
            <option value="25%">One Fourth (25%)</option>
            <option value="20%">20%</option>
            <option value="10%">10%</option>
          </select>
        </div>
        <div class="col-md-2" style="text-align: right;">
          <button class="btn btn-primary" title="Add Validations" (click)="setValidation(addFieldsIndex)">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Up" (click)="moveUp(addFieldsIndex)">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Down" (click)="moveDown(addFieldsIndex)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" title="Remove Field" (click)="removeField(addFieldsIndex)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <!-- If AddField called from Table  -->
      <div class="col-md-12" *ngIf="calledFrom === 'table'">
        <div class="col-md-2">
          <label>Select Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectTable"
            (click)="beforeTableChange(ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectTable)"
            (ngModelChange)="onSelectTableChange()">
            <option value="null">Select Table</option>
            <option *ngFor="let data of TableList" value={{data.TableName}}>{{data.TableName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Select Component</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectComponent"
            (ngModelChange)="onComponentChange()" (click)="onComponentChange(ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectComponent, ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectTable)">
            <option value="null">Select Component</option>
            <option *ngFor="let data of componentList" [ngClass]="data.className ? data.className : ''" value={{data.ComponentName}}>{{data.ComponentName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Unique ID</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].uniqueId"
            disabled="true" />
        </div>
        <div class="col-md-2">
          <label>Select Control Type</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectControlType">
            <option value=1> TextBox</option>
            <option value=2>TextArea</option>
            <option value=3>DropDown</option>
            <option value=4>DropDownMultiSelect</option>
            <option value=5>DropDownWithAutoComplete</option>
            <option value=6>RadioButton</option>
            <!-- <option value = 7>RadioButtonWithText</option> -->
            <option value=8>CheckBox</option>
            <option value=9>CheckBoxWithText</option>
            <option value=10>Date</option>
            <option value=11>DateTime</option>
            <option value=13>RadiobuttonWithList</option>
            <option value=14>Label</option>
            <option value=15>CheckBoxWithList</option>
            <option value=16>Image</option>
            <option value=17>File</option>
            <option value=18>Anchor</option>
            <option value=19>CheckBoxWithTextArea</option>
            <option value=21>MappingDropdown</option>
            <option value='22'>SF_EDI_Table</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Field Label</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].enterLabelName"
          />
        </div>
        <div class="col-md-2">
          <label>Column Name</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].columnName"
            disabled="true" />
        </div>
        <div class="col-md-2">
          <label>Default value</label>
          <input value="" [(ngModel)]=" ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].defaultValue"
          />
        </div>
        <div class="col-md-2">
          <label>Dependent on Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].dependentOnUniqueID"
          />
        </div>
        <div class="col-md-2">
          <label>Dependent Unique Id</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].dependentUniqueID"
          />
        </div>
        <div class="col-md-2">
          <label>Select Master Table</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].TableMaster"
            (ngModelChange)="masterTableChange()">
            <option value="null">Select Master Table</option>
            <option *ngFor="let table of MasterTableList" value={{table.TAbleName}}>
              {{table.TAbleName}}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Enter Select Query</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].selectQuery"
          />
        </div>
        <div class="col-md-2">
          <label>Options</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].option"
          />
        </div>



        <!--Field Add by rohit for class in Table-->
        <div class="col-md-2">
          <label>Add Class</label>
          <input value="" [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].className"
          />
        </div>


        <div class="col-md-2">
          <label>Width</label>
          <select [(ngModel)]="ETRFsection[this.sectionIndex].addTableArr[this.addTableIndex].addFieldsArr[this.addFieldsIndex].width">
            <option value="100%">Full (100%)</option>
            <option value="90%">90%</option>
            <option value="80%">80%</option>
            <option value="75%">Three Fourth (75%)</option>
            <option value="70%">70%</option>
            <option value="60%">60%</option>
            <option value="50%">One Half (50%)</option>
            <option value="40%">40%</option>
            <option value="33%">One Third (33%)</option>
            <option value="30%">30%</option>
            <option value="25%">One Fourth (25%)</option>
            <option value="20%">20%</option>
            <option value="10%">10%</option>
          </select>
        </div>
        <div class="col-md-2" style="text-align: right;">
          <button class="btn btn-primary" title="Add Validations" (click)="setValidation(addFieldsIndex)">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Up" (click)="moveUp(addFieldsIndex)">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success move" title="Move Down" (click)="moveDown(addFieldsIndex)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" title="Remove Field" (click)="removeField(addFieldsIndex)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="addValidationModal-{{sectionIndex}}-{{calledFrom}}{{subSectionIndex ? subSectionIndex : ''}}{{addTableIndex ? addTableIndex : ''}}-{{addFieldsIndex}}"
  class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modal-float etrf-table">
      <div class="modal-header modal-float">
        <button type="button" class="close" (click)="hideValidationModal(addFieldsIndex, sectionIndex)">&times;</button>
        <h4 class="modal-title">Add Field Validation</h4>
      </div>
      <div class="modal-body modal-float">
        <div class="col-md-12" style="padding-top: 20px;">
          <div class="col-md-5" style="margin-top:10px;">
            <select class="selectValidation" [(ngModel)]="validationField.validationType">
              <option value="">Select Validation</option>
              <option value="required">Required</option>
              <option value="readonly">Read Only</option>
              <option value="range">Range</option>
              <option value="number">Numeric</option>
              <option value="email">Email</option>
            </select>
          </div>
          <div class="col-md-3" *ngIf="validationField.validationType == 'range'">
            <input class="valNum" type="number" placeholder="Min" [(ngModel)]="validationField.min">
          </div>
          <div class="col-md-3" *ngIf="validationField.validationType == 'range'">
            <input class="valNum" type="number" placeholder="Max" [(ngModel)]="validationField.max">
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary" style="margin-top: 10px;text-align: right;" (click)="addValidation(validationField)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-md-12" *ngIf="fieldValidationArr.length > 0" id="ValidationDiv">
          <table>
            <thead>
              <tr>
                <th>Validation Name</th>
                <th>Range(Min)</th>
                <th>Range(Max)</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of fieldValidationArr; let i = index ">
                <td>{{data.validationType}}</td>
                <td>{{data.min}}</td>
                <td>{{data.max}}</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-danger" (click)="deleteValidation(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer modal-float">
        <button type="button" class="btn btn-success" (click)="mergeValidationToField(addFieldsIndex)">Add</button>
        <button type="button" class="btn btn-default" (click)="hideValidationModal(addFieldsIndex, sectionIndex)">Close</button>
      </div>
    </div>
  </div>
</div>