<body class="" *ngIf="userCredential && userDetail">
  <div #scrollMe class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a>Admin</a>
            <img src="asset/img/angle-right.png" /> Add New e-TRF
          </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <div class="col-md-6">
              </div>
              <div id="add-etrf-top" class="col-md-6" style="text-align: right;">
                <button class="btn btn-success" *ngIf="editCase == false || importCase == true || copyCase == true" (click)="saveETRF('save')">Save Form</button>
                <button class="btn btn-success" *ngIf="editCase == true && importCase == false && copyCase == false" (click)="saveETRF('update')">Update Form</button>
                <button class="btn btn-danger" [routerLink]="['/admin/etrf-configuration']">Cancel</button>
                <button class="btn btn-primary" (click)="addSection()">Add Section</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parent-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!--<div class="col-md-3">
								<div name="" class="selectBox">
									<md-select placeholder="Bussiness Type" [(ngModel)]="finalModel.BussinessId" (change)="OnBussinessChange(finalModel.BussinessId)">
										<md-option value='0'>Select Bussiness Type</md-option>
										<md-option *ngFor="let i of filteredBussiness" value="{{i.Id}}">{{i.Value}}</md-option>
									</md-select>
								</div>
							</div>-->



              <div class="col-md-3">
                <md-input-container>
                  <input mdInput placeholder="Form Name" [(ngModel)]="finalModel.FormName">
                </md-input-container>
              </div>


              <div class="col-md-3">
                <md-input-container>
                  <input mdInput placeholder="Client Alias" value="" [(ngModel)]="finalModel.ClientAlias" />
                </md-input-container>
              </div>

              <div class="col-md-3">
                <div name="" class="selectBox">
                  <md-select placeholder="Bussiness Type" [(ngModel)]="finalModel.BussinessId" (change)="OnBussinessChange(finalModel.BussinessId)">
                    <md-option value='0'>Select Bussiness Type</md-option>
                    <md-option *ngFor="let i of filteredBussiness" value="{{i.Id}}">{{i.Value}}</md-option>
                  </md-select>
                </div>
              </div>

              <div class="col-md-3">
                <div name="" class="selectBox" *ngIf="clientList.length == 0">
                  <label> Please select Bussiness Type First</label>
                </div>
                <div name="" class="selectBox" *ngIf="clientList.length > 0">
                  <md-input-container>
                    <input mdInput placeholder="Select Client" [mdAutocomplete]="auto" [formControl]="clientCtrl" [(ngModel)]="AutoCompleteReset">
                  </md-input-container>

                  <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let client of filteredClients | async" [value]="client.name" (onSelectionChange)="selectedClient(client.id)">
                      {{ client.name }}
                    </md-option>
                  </md-autocomplete>
                </div>
              </div>
              <!--<div class="col-md-6 desc-textarea">
								<md-input-container>
									<textarea mdInput placeholder="Enter Form Description" rows="0" [(ngModel)]="finalModel.Description"></textarea>
								</md-input-container>
							</div>-->
            </div>
            <div class="col-md-12">
              <!--<div class="col-md-3">
								<md-input-container>
									<input mdInput placeholder="Client Alias" value="" [(ngModel)]="finalModel.ClientAlias" />
								</md-input-container>
							</div>-->
              <div class="col-md-6 desc-textarea">
                <md-input-container>
                  <textarea mdInput placeholder="Enter Form Description" rows="0" [(ngModel)]="finalModel.Description"></textarea>
                </md-input-container>
              </div>

              <!--<div class="col-md-3">
								<div name="" class="selectBox">
									<md-select placeholder="Bussiness Type" [(ngModel)]="finalModel.BussinessId" (change)="OnBussinessChange(finalModel.BussinessId)">
										<md-option value='0'>Select Bussiness Type</md-option>
										<md-option *ngFor="let i of filteredBussiness" value="{{i.Id}}">{{i.Value}}</md-option>
									</md-select>
								</div>
							</div>-->
              <div class="col-md-3">
                <div name="" class="selectBox">
                  <md-select placeholder="Division Type" [(ngModel)]="finalModel.DivisionID">
                    <md-option value='0'>Select Division Type</md-option>
                    <md-option *ngFor="let i of FilteredDivision" value="{{i.Id}}">{{i.Value}}</md-option>
                  </md-select>
                </div>
              </div>
              <!--<div class="col-md-3">
								<div name="" class="selectBox" *ngIf="clientList.length > 0">
									<md-input-container>
										<input mdInput placeholder="Select Division" [mdAutocomplete]="auto" [formControl]="clientCtrl" [(ngModel)]="AutoCompleteReset">
									</md-input-container>
									<md-autocomplete #auto="mdAutocomplete">
										<md-option *ngFor="let client of filteredClients | async" [value]="client.name" (onSelectionChange)="selectedClient(client.id)">
											{{ client.name }}
										</md-option>
									</md-autocomplete>
								</div>
							</div>-->
              <div class="col-md-3">
                <input type="checkbox" class="check" id="additionalNote" (change)="additionalNoteChange()" />
                <label for="additionalNote">Add Additional Notes Section</label>
              </div>
              <!--<div class="col-md-2">
								<input type="checkbox" class="check" id="sendEmailAddEtrf" (change)="sendEmailChange()" />
								<label for="sendEmailAddEtrf">Send Email</label>
							</div>
							<div class="col-md-3">
								<div name="" class="selectBox">
									<md-select placeholder="ETRF Type" [(ngModel)]="finalModel.ETRFType">
										<md-option value='0'>Select ETRF Type</md-option>
										<md-option value='1'>WSI</md-option>
										<md-option value='2'>Ecommerce</md-option>
										<md-option value='3'>FCI</md-option>
									</md-select>
								</div>
							</div>-->
            </div>
            <div class="col-md-12">
              <div class="col-md-2">
                <input type="checkbox" class="check" id="sendEmailAddEtrf" (change)="sendEmailChange()" />
                <label for="sendEmailAddEtrf">Send Email</label>
              </div>
              <div class="col-md-3">
                <div name="" class="selectBox">
                  <md-select placeholder="ETRF Type" [(ngModel)]="finalModel.ETRFType">
                    <md-option value='0'>Select ETRF Type</md-option>
                    <md-option *ngFor="let i of typeList" value="{{i.Id}}">{{i.Value}}</md-option>
                    <!--<md-option value='1'>WSI</md-option>
										<md-option value='2'>Ecommerce</md-option>
										<md-option value='3'>FCI</md-option>-->
                  </md-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="dynamic-section" *ngIf="ETRFsection.length > 0 && TableList.length > 0 && ready == true">
        <div class="section-container" *ngFor="let length of ETRFsection; let i = index ">
          <app-add-section [ETRFsection]="ETRFsection" [sectionIndex]="i" [sectionShowButton]="length.DataSaveType" [editCase]="editCase"
            [TableList]="TableList" [ComponentList]="ComponentList" [MasterTableList]="MasterTableList"></app-add-section>
        </div>
      </div>
      <div class="DataGrid" *ngIf="finalModel.IsAdditionalNotesSection">
        <div class="container-fluid" style="text-align: center;">
          <div class="row">
            <div class="additionalsummary">
              <span>Terms and Conditions</span>
              <textarea class="form-control" name="" rows="10" [(ngModel)]="finalModel.AdditionalNote"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <custom-footer></custom-footer>
</body>