<body class="">
<div class="warpper-inner">
    <div class="content-inside">
        <custom-header></custom-header>
        <div *ngIf="isLoader">
            <div class="loading-dialog"></div>
        </div>
        <section class="breadcrum_bg ">
            <div class="container-fluid">
                <p><a href="" [routerLink]=" ['/dashboard']">Dashboard </a> <img src="asset/img/angle-right.png">
                    <a>Search.. </a>
                </p>
            </div>
        </section>
		 <section class="globalSearch">
		  <div class="container-fluid">  
		    <div class="row">
                <div class="col-md-12 nodadding">
                    <ul *ngFor="let searchObj of searchList" >
                        <li (click)="searchPage(searchObj.PageName,searchObj.PageId)"><a>{{searchObj.Description}}</a></li>
                    </ul>
                </div>
	        </div>
		  </div>
	    </section>
    </div>
    <!--<div>
        <ul>
            <li *ngFor="let searchObj of searchList" (click)="searchPage(searchObj.PageName,searchObj.PageId)"><a>{{searchObj.PageName}}?{{searchObj.PageId}}</a></li>
        </ul>
    </div>-->
</div>
<custom-footer></custom-footer>

</body>