.otherComments-left{
    width: 100%;
    background: #e8ebf1e0;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.otherComments-right{
    width: 100%;
    background: #e8ebf1e0;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

 
.left-radius{
    border-bottom-left-radius: 25px;
}
.right-radius{
    border-bottom-right-radius: 25px;
}
.margin-div{
    width:75%;margin-bottom:10px
}