<div *ngIf="isLoader">
    <div class="loading-dialog"></div>
</div>

<div class="modal fade" id="OtherReport" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
                <h4 class="modal-title">Upload Excel Data</h4>
            </div>
            <div class="modal-body">
                <!--<div>-->
                    <!--&lt;!&ndash;<p>Download sample Excel File : </p>&ndash;&gt;-->
                    <!--<i class="fa fa-paperclip"></i> <a (click)="DownloadSampleExcel()" class="underline">Download sample Excel File</a>-->
                <!--</div>-->
                <div class="inputDesign row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-top:10px;">
                        <label>Upload Excel File</label>
                        <div class="input-group inputFile " id="upliadFile">
                            <span class="input-group-addon btn">
								<i class="fa fa-folder-open" aria-hidden="true"></i> Choose File </span>
                            <input type="file" #fileUpload class="inputValue" id="inputValue" accept=".xls,.xlsx" (click)="reset($event)" value=""
                                (change)="fileupload($event)">
                            <p class="inputValueShow">{{this.UploadFileName}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="SubmitFile()" >Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>

    </div>
</div>