<body class="">
	<div class="warpper-inner">
		<div class="content-inside">
			<custom-header></custom-header>
			<div *ngIf="isLoader">
				<div class="loading-dialog"></div>
			</div>
			<section class="breadcrum_bg">
				<div class="container-fluid">
					<p>
						<a>Dashboard </a>
						<img src="asset/img/angle-right.png" />
						<a> ADMIN </a>
						<img src="asset/img/angle-right.png">Manage Order Configuration Type </p>
				</div>
			</section>
			<section class="filter">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 ">
							<h3>Search</h3>
							<div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
							<div id="Filterbtn" class="collapse in">
								<div class="row  inputDesign autoComplete">

									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
										<select id="Company" [(ngModel)]="selectedBusinessCategory" placeholder="Select Business Category" [ngModelOptions]="{standalone: true}" class="SlectBox" (ngModelChange)="getBusinessCategory()">
											<option *ngFor="let category of bussinessCategories" [value]="category.Id">{{category.Value}} </option>
										  </select>
									</div>
									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">							
										<input auto-complete [(ngModel)]="selectedCompany" [source]="companyList" placeholder="Company Name" display-property-name="CompanyName"
										 value-property-name=null style="margin-bottom: 0px;"  [list-formatter]="renderCompany" close-on-focusout="true" />
									</div>
									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
										<button type="button" class="btn btn-success searchBtn " (click)="GetCompanyConfigurationType()"> Search</button>
										<button type="button" class="btn btn-primary-one searchBtn " (click)="resetParameters()"> Reset</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="DataGrid">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 nodadding">
							<div class="table-responsive">
								<table class="table manageUserTable">
									<thead class="head">
										<tr>
											<th>S. No.</th>
											<th>Business Category </th>
											<th>Company Name </th>
											<th>Configuration Type</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let Company of companyConfigurationTypeList;let i=index;">
											<td>{{i+1}}</td>
											<td>{{Company.BusinessCategoryName}} </td>
											<td>{{Company.CompanyName}} </td>
											<td>{{Company.ConfigurationVersion}}</td>
											<td>
												<span style="color: #b72c16d9;font-weight: 600;font-size: small;" > {{GetStatus(Company)}}</span>
										   </td>
											<td>
												 <button  class="btn btn-success btn-sm" (click) ="UpdateConfigurationType(Company)">Set As Default</button>
												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<custom-footer></custom-footer>
</body>