

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{font-size: 14px; font-family: 'Open Sans', sans-serif; }
.modal-open{ overflow-x: hidden; overflow-y: auto; padding-right:0px !important; }
.mb-20{ margin-bottom: 20px;}
.mt-20{ margin-top: 20px;}
.text-left{ text-align: left;}
.text-right{text-align: right;}
.pr-0{padding-right: 0px;}
.pl-0{padding-left: 0px;}
footer{padding: 15px 0px;}
.sweet-overlay{z-index: 99999;  }
.modal-backdrop{z-index: 999;  }
.clear{clear: both;}
.show{display:block!important;}
.e-commerce * {-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.e-commerce{font-size: 14px; font-family: 'Open Sans', sans-serif;  background:#fff;}

.e-commerce .trackYourOrder{margin: 0 auto;  text-align: center;}
.e-commerce .trackYourOrder a{ text-decoration:none;font-size: 16px;background: #68cd00;border-color: #68cd00;}


.e-commerce .myAccount .user {line-height: 24px;width: 70%;font-size: 14px;float: right;padding: 7px 5px;overflow: hidden;max-height: 60px;overflow: hidden;}
.e-commerce header .dashTopNav .logo{padding-top: 5px;}
.e-commerce header .dashTopNav .logo img{max-height: 50px;}
.e-commerce header .dashTopNav .navRight .searchContainer {width: 50%;border-right: 1px solid #ccc;padding: 13px 15px;height: 60px;float: right;}
.e-commerce header .dashTopNav .navRight .searchContainer .search input {float: right;padding: 7px 15px;border-radius: 20px;border: 1px solid #ddd;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.e-commerce header .dashTopNav .navRight .searchContainer .search i {font-size: 16px;color: #9B9393;position: absolute;font-family: FontAwesome;content: "\f002 ";top: 9px;right: 11px;cursor: pointer;}

.e-commerce .steps {font-size: 13px; color: #000000;position: relative; width: 100%;margin: 0 auto; height: auto;padding: 0px;text-decoration: none;margin-bottom: 50px;}
.e-commerce .steps .container{max-width:100%;}


/* steps topNav */
.e-commerce .steps .stepNavContainer { margin:0 auto; text-align:center; width:95%;}
.e-commerce .steps .stepsNav {width: 100%;min-height: 75px;text-align: center;}
.e-commerce .steps .stepsNav ul {list-style: none;float: left;width: 119%;margin: 0px -9.5%;padding:0px 0 0;height: 100%;position: relative;}
.e-commerce .steps .stepsNav ul li {float: left;width: 20%;text-align: center;position: relative;z-index: 9;}
.e-commerce .steps .stepsNav ul li a{cursor: default; width: 17px;height: 17px;display: block;background: #81aecf;-webkit-border-radius: 50%;border-radius: 50%;line-height: 15px;text-align: center;margin: 0 auto;color: #fff;}
.e-commerce .steps .stepsNav ul li p{ color:#343434;margin-top: 10px;}
.e-commerce .steps .stepsNav ul li:before {content: "";width: calc(100% - 50%);height: 1px;background:#ededed;position: absolute;top: 9px;left: -9px;}
.e-commerce .steps .stepsNav ul li:after {content: "";width: calc(100% - 50%);height: 1px;background:#ededed;position: absolute;top: 9px;right: -8px;}
.e-commerce .steps .stepsNav ul li:first-child:before {height: 0px;}
.e-commerce .steps .stepsNav ul li:last-child:after {height: 0px;}
.e-commerce .steps .stepsNav ul li.active:after,
.e-commerce .steps .stepsNav ul li.active:before{background:#51b12b;}
.e-commerce .steps .stepsNav ul li.active a{background: #51b12b; width: 17px;height: 17px;line-height: 17px;}
.e-commerce .steps .stepsNav ul li.active a:before{font-weight:normal; content: "\f00c";font-size:10px;font-family: FontAwesome;color: #fff;position: absolute;left:0px;right: 0px;top: 0px; }
.e-commerce .steps .stepsNav ul li.current:after {right: -9px;}
.e-commerce .steps .stepsNav ul li.current:before{background:#51b12b;}
.e-commerce .steps .stepsNav ul li.current a{ background:#fff;}
.e-commerce .steps .stepsNav ul li.current a:before{font-weight:normal; content: "\f111";font-size: 8px;font-family: FontAwesome;color: #005984;position: absolute;left:0px;right: 0px;top: 1px;}
.e-commerce .steps .stepsNav ul li.current a:after{font-weight:normal; content: "\f10c";font-size: 21px;font-family: FontAwesome;color: #005984;position: absolute;left:0px;right: 0px;top: 1px;}


.e-commerce .steps .stepsContent{display:none;}
.e-commerce .steps .stepsContent.active{ display:block;}


.e-commerce .steps .stepsContent .stepsContentHeader{ text-align:center;}
.e-commerce .steps #ReviewOrder.stepsContent .stepsContentHeader,.e-commerce .steps #MakePayment.stepsContent .stepsContentHeader{ text-align:left; clear:both;}
.e-commerce .steps .stepsContent .stepsContentHeader h1{margin:0px 0 5px 0; color:#56b535; font-size:22px;font-weight: 600;}
.e-commerce .steps .stepsContent .stepsContentHeader p{ color:#4b4b4b; font-size:16px;}
.e-commerce .steps .stepsContent .stepsContentHeader .trackOrderbtn{color: #c8dec8; margin-top:15px; center; text-decoration:none;font-size: 14px;background: #656565;border-color: #656565;line-height: 22px;}
.e-commerce .steps .stepsContent .stepsContentHeader .enquiryBtn{color: #c8dec8; margin-top:15px; text-align:center; text-decoration:none;font-size: 14px;background: #656565;border-color: #656565;line-height: 22px;}
.e-commerce .steps .stepsContent .stepsContentHeader .shippingAddress,
.e-commerce .steps .stepsContent .applicantDetails{ margin-bottom: 15px;}
.e-commerce .steps .stepsContent .shippingAddress p, 
.e-commerce .steps .stepsContent .applicantDetails p { font-size: 14px; margin-bottom: 10px !important; padding-bottom:0px !important; }
.e-commerce .steps .stepsContent .shippingAddress p b, .e-commerce .steps .stepsContent .applicantDetails p b{ color:#4c7fb7;margin-bottom: 15px;}
.e-commerce .steps .stepsContent .stepsContentFooter{ text-align:center;} 
.e-commerce .steps .stepsContent .stepsContentFooter button{ text-transform:uppercase;padding: 5px 15px;  height:34px; line-height:22px;} 
.e-commerce .steps .stepsContent .stepsContentFooter .continueBtn{ float:right; background:#56b535;padding: 5px 30px; }
.e-commerce .steps .stepsContent .stepsContentFooter .backBtn{ float:right;margin-right: 10px;padding: 5px 30px;}
.e-commerce .steps .stepsContent .stepsContentFooter .gotoHomePage{margin: 0 auto;text-align: center;padding: 5px 30px; }
.e-commerce .steps .stepsContent .stepsContentFooter .continueBtn:hover,
.e-commerce .steps .stepsContent .stepsContentFooter .continueBtn:focus,
.e-commerce .steps .stepsContent .stepsContentFooter .continueBtn:active,
.e-commerce .steps .stepsContent .stepsContentFooter .gotoHomePage:hover,
.e-commerce .steps .stepsContent .stepsContentFooter .gotoHomePage:focus,
.e-commerce .steps .stepsContent .stepsContentFooter .gotoHomePage:active{border-color:#56b535;}
.e-commerce .steps .stepsContent .stepsContentFooter .btn-payPal{ position: relative;width:167px;height:40px;background:#fff;border: 1px solid #fff;float: right;}
.e-commerce .steps .stepsContent .stepsContentFooter .btn-payPal:before{content:url('../img/e-commerce/payPalBTN.png');position: absolute;top: -2px;left: 0px;}
.e-commerce .steps .stepsContent .stepsContentFooter .btn-payPal:focus,
.e-commerce .steps .stepsContent .stepsContentFooter .btn-payPal:active,
.e-commerce .steps .stepsContent .stepsContentFooter .btn-payPal:hover{border-color:#fff;opacity: 0.7;}


.e-commerce .steps .stepsContent .stepsContentBody{ min-height:100px; margin:25px 0px; clear:both;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-group .panel{ border:0px; border-radius:0px; box-shadow:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-group .panel .panel-body {padding: 15px 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading { border:0px; background:none; padding:0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title{background: #ededed;font-size: 16px;padding: 15px 15px 15px 55px;position: relative;cursor: pointer; text-decoration:none;font-weight: 600;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a:hover{color:#0067aa;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a:active,
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a:focus{ text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a.collapsed:before{content: "+";font-size: 21px;color: #fff;position: absolute;left: 8px;top: 8px;background: #0067aa;padding: 0px 10px;height: 32px;width: 32px;line-height: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a:before{content: "-";font-size: 32px;color: #fff; position: absolute;left: 8px;top: 8px;background: #0067aa;padding: 0px 11px;height: 32px;width: 32px;line-height: 25px;font-weight: 400;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a:before:hover{color:#fff;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a.noCollapse:before{content: " ";background: transparent;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title a.noCollapse.collapsed:before{content: " "; background: transparent;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .panel-default > .panel-heading .panel-title.noCollapse{padding: 15px 15px !important;}

.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent{list-style: none; float: left;margin: 0px;padding: 0px 0px 0px 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard{float: left;width: 48%;border: 1px solid #f5f3f3;margin-bottom:22px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .05); -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);box-shadow: 0 1px 6px rgba(0, 0, 0, .05);margin-left: 2%;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard:hover{-moz-box-shadow: 0px 5px 16px rgba(0, 0, 0, .05); -webkit-box-shadow: 0px 5px 16px rgba(0, 0, 0, .05);box-shadow: 0px 5px 16px rgba(0, 0, 0, .05);}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle{border-bottom: 1px solid #ddd;padding: 5px 10px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle h3{display: inline-block; margin: 0px;font-size: 14px;color: #343434; position:relative;padding-left:5px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle img{height: 40px;}
/*.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle h3:before{content:url('../img/e-commerce/shopingbag.png');position: absolute;top: -5px;left: 0px;}*/
/*.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle h3:before{position: absolute;top: -5px;left: 0px;}*/
/*.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardTitle h3.hardlines:before{content:url('../img/e-commerce/hardlines.png');position: absolute;top: -5px;left: 0px;}*/
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardBody{padding: 15px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardBody p{height:50px; overflow: auto;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardBody button{background: #5cb85c;padding: 5px 15px;margin-top: 10px;text-transform: uppercase;color: #fff;border-color: #5cb85c;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard .cardBody button:hover{color: #fff;background-color: #5cb85c;border-color: #4cae4c;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectService .enquiryLinkBtn {  line-height: 20px;}

.e-commerce .steps .stepsContent .stepsContentBody .posRelative{position: relative;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages{ }
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter{ background: #eee; -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);box-shadow: 0 1px 6px rgba(0, 0, 0, .05);padding: 10px; padding-right: 0px;-webkit-transition: all 0s ease-in-out;-moz-transition: all 0s ease-in-out;-o-transition: all 0s ease-in-out;-ms-transition: all 0s ease-in-out;transition: all 0s ease-in-out;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter.fixed{position: fixed;top: 70px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter h4{white-space: normal;padding-left: 25px; cursor:pointer; color: #56b535;font-size: 16px;font-weight: 600; position: relative;    margin-bottom: 20px;width:215px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter h4:before{content:"-";position: absolute;top: -13px;left: 02px;font-size:35px;font-weight: 600;color: #0067aa;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter h4.collapsed:before{content:"+";position: absolute; top: -4px;left: 0px;font-size: 22px;font-weight: 600;color: #0067aa;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter ul{list-style: none;padding: 0px; padding-right: 15px;padding-left:20px; margin-bottom: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter ul li{white-space: nowrap;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter ul.buttonContainer{ margin-bottom: 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter ul.buttonContainer li{white-space: nowrap;text-align: center;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter .disableoverlay{ display:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter .disableoverlay.enable{     display: block; -webkit-user-select: none;z-index: 99999; -moz-user-select: none;-ms-user-select: none;user-select: none; background: rgba(0, 0, 0, .1); height: 500px;position: absolute;top: 0px;left: 15px;width: 90%; cursor:no-drop; }
.modal-footer .continueBtn{ margin-bottom: 0px !important;line-height: 21px;}
.e-commerce .PackageListscroll {max-height: 400px; overflow: auto; padding:0px;}
.e-commerce .PackageListscroll .radioMTS {padding-left: 0px;margin: 0px !important;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter .scroll{max-height:480px; height: 480px; overflow: auto; overflow-x:hidden;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .enquiryLinkBtn{line-height: 20px;}
.e-commerce .steps .stepsContent .stepsContentBody .modal{padding-right: 0px !important;}
.e-commerce .steps .stepsContent .termsConditionLink{line-height:14px;padding-left:15px; font-weight:600;cursor: pointer;}
.e-commerce .steps .stepsContent .termsConditionCheck {}
.e-commerce .steps .stepsContent .checkboxMTS.termsConditionCheck label:hover:before { border:3px solid #005984 !important; }
.e-commerce .steps .stepsContent .checkboxMTS.termsConditionCheck label::before {width: 22px;height: 22px;border:3px solid #005984;top: -3px;}
.e-commerce .steps .stepsContent .checkboxMTS.termsConditionCheck label::after {top: -3px; width: 20px;height: 20px;padding-left: 0px;font-size: 10px;color: #fff;padding-top:0px; border:3px solid #005984; border-radius: 3px;}
.e-commerce .steps .stepsContent .modal-body .table tr td .checkboxMTS{margin-bottom: 0px; line-height: 15px;}
.e-commerce .steps .stepsContent .modal-body .table tr td{padding: 5px 8px 2px;}
.e-commerce .steps .stepsContent .modal-body .table tr td .radioMTS label{margin-bottom:5px; line-height: 16px;}
.e-commerce .steps .stepsContent .modal-body .table tr td label{margin-bottom: 0px; line-height: 20px; font-weight:normal;}
.e-commerce .steps .stepsContent .modal-body ol{ padding-right:15px; padding-left: 30px; }
.e-commerce .steps .stepsContent .modal-body ol li{ text-align:justify;padding-left: 10px; margin-bottom:15px; }
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages{max-height:500px !important; height: 500px !important; overflow: auto;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table{ border:0px solid #ddd;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td:last-child {text-align: right !important;padding-right: 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table thead {background: #68cd00;color: #fff;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table thead tr th:first-child{padding-left:10px;width: 40%;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox{text-align: center;margin: 0 auto; padding-left:0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox label {background: #fafafa;color: #5b5b5b;padding: 4px 15px; border:1px solid #ddd; width: 91px;border-radius: 4px;position: relative;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox label:hover{background: #51b12b;color: #fff;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox label:before{border: 0px !important; background-color:transparent; position: absolute;top:7px;left:30px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox label:after{width: 24px;height: 21px}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox input[type="checkbox"]:checked + label::after{content:url('../img/e-commerce/pCheck.png'); position: absolute;top:7px;left:30px; color:#fff;} 
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .individualPackages .table tr td .p-selectBtn .checkbox input[type="checkbox"]:checked + label{background: #51b12b;color: #fff;padding: 4px 5px 4px 30px; width:91px;border-radius: 4px;position: relative;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .packageListContainer{ max-width:74%;}

#AddColorway{padding-right: 0px!important;}



@media (min-width:320px) and (max-width: 1300px) {
	
}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .scrollPackagesList{max-height:500px; overflow: auto;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table-responsive{border-radius: 0px;-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);box-shadow: 0 1px 6px rgba(0, 0, 0, .05);border: 1px solid #ddd; max-height:350px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table thead{background: #ededed;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table thead tr th{line-height: 30px;font-size: 14px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table thead tr th:first-child{padding-left: 35px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table thead tr th:last-child{text-align:right; padding-right: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td:first-child{ position:relative;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td:first-child:before{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td.price{font-size:18px; color:#0067aa;font-weight: 600; position:relative; padding-left:18px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td.price:before{font-weight:normal; content: "\f155";font-size: 12px;font-family: FontAwesome;color: #0067aa;position: relative;left:8px;right: 0px;top: 8px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td .checkbox label{min-height: 13px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td a{color:#48a428; text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td a:focus,
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td a:active{outline:none; text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td:last-child{text-align:right;padding-right: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .table tbody tr td input:focus{outline:none;}

.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container{ list-style:none; padding:0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card {text-align:center; border:1px solid #ddd;margin-bottom:25px; border-radius: 4px;padding: 5px; -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .05); -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .05);box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
	max-height: 220px; overflow: auto; }
	.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card:hover{-moz-box-shadow: 0px 5px 16px rgba(0, 0, 0, .06); -webkit-box-shadow: 0px 5px 16px rgba(0, 0, 0, .06);box-shadow: 0px 5px 16px rgba(0, 0, 0, .06);}
	.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .p-name{font-size:14px; text-align:center; color:#343434; min-height:60px !important ;}
	.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .p-name-insp{font-size:14px; text-align:center; color:#343434; min-height:40px !important ;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .p-details-link a{color:#56b535;font-size: 12px;
text-decoration: none;text-decoration-color: #56b535;font-weight: 600;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .addColorLink a{color:#0067aa;font-size: 12px;
text-decoration: none;text-decoration-color: #0067aa;font-weight: 600;}

.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .p-details-link a:focus,
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .p-details-link a:active{color:#56b535; text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .price{font-size:34px; color:#0067aa;font-weight: 600; position:relative; padding-left:10px;line-height: 34px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .card-Container .card .price.price:before{font-weight:normal; content: "\f155";font-size: 20px;font-family: FontAwesome;color: #0067aa;position: relative;left:0px;right: 0px;top: -2px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn{}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox{text-align: center;margin: 0 auto; padding-left:0px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox label {background: #fafafa;color: #5b5b5b;padding: 8px 15px; border:1px solid #ddd; width: 100px;border-radius: 4px;position: relative;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox label:hover{background: #51b12b;color: #fff;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox label:before{border: 0px !important; background-color:transparent; position: absolute;top:10px;left:34px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox label:after{width: 24px;height: 21px}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox input[type="checkbox"]:checked + label::after{content:url('../img/e-commerce/pCheck.png'); position: absolute;top:10px;left: 36px; color:#fff;} 
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .p-selectBtn .checkbox input[type="checkbox"]:checked + label{background: #51b12b;color: #fff;padding: 8px 5px 8px 30px; width: 100px;border-radius: 4px;position: relative;}




.e-commerce .steps .stepsContent .stepsContentBody.RequestForm { margin-top:0px!important; padding-top:0px !important; }
.e-commerce .steps .stepsContent .stepsContentBody.RequestForm .RequestForm{ min-height:350px; background:#d5d5d5;}
.e-commerce .steps .stepsContent .stepsContentBody.RequestForm .addNew-e-TRF { margin-top:0px!important; padding-top:0px !important;}
.e-commerce .steps .stepsContent .stepsContentBody.RequestForm .addNew-e-TRF div#form-wrapper {margin-top:0px!important; padding:0px 15px !important; }
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions{ }
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions h2{padding:10px 15px;border-bottom: 1px solid #68cd00;background: #68cd00;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #fff;font-size: 18px; margin-bottom: 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions ol{padding-left: 30px; max-height:300px; overflow:auto;padding-top: 15px; border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-bottom: 20px;border-bottom-left-radius: 5px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions ol li{margin-bottom: 15px;padding-left: 15px;}


.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder{}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder #blankTable tr td{padding: 22px 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table{}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr.hide{display:none;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr.service{border-bottom: 1px solid #ddd;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr.package{}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr.youPay{ font-weight:600;font-size: 16px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr.youPay td{min-width:100px;     line-height: 40px !important;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr td.bt{ border-top:1px solid #ddd;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr td.bb{border-bottom:1px solid #ddd;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tr td.price{color:#0067aa;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table thead{background: #ededed;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table thead tr th{line-height:20px;font-size: 14px;  color:#343434;vertical-align: top;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table thead tr th:last-child{text-align:right; padding-right: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody{}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td {border-top: 0px; line-height:28px !important;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a{color:#48a428; text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a.close{opacity: 0.4; float:inherit; position:relative;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a.close:hover{opacity: 0.7;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a.close:before{content:url('../img/e-commerce/close.png');position: absolute;top: 14px;left: 0px;}

.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a:focus,
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td a:active{outline:none; text-decoration:none;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td:last-child{text-align:right;padding-right: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tbody tr td input:focus{outline:none;}

.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tfoot {border-top: 2px solid #ddd; font-weight:600;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tfoot tr td {border-top: 0px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tfoot tr td:last-child{text-align:right;padding-right: 30px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .table tfoot tr td.bb{border-bottom:1px solid #ccc;}


.e-commerce .steps .stepsContent .stepsContentBody.MakePayment{ }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .needHelp{margin-top: 15px;float: left;width: 100%;font-weight: 600;}
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .needHelp .text{margin: 5px 0px; font-weight: 600;}
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .needHelp .moNo{ color:#56b535;margin: 5px 0px; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .needHelp .moNo a{ color:#56b535; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .needHelp .date{ color:#bbbbbb; font-style:italic; margin: 5px 0px;    font-weight: 500;}

.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted{border: 1px solid #ddd;padding: 25px; float: left;width: 100%;}
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted h4{margin: 0px 0px 20px 0px;font-size: 14px;color: #343434;font-weight: 600; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted ul{ list-style:none;padding: 0px;float: left;width: 100%; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted ul li{float: left;width: 50%;margin-bottom: 10px; color:#8c8c8c }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted ul li.value{color:#343434 }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted ul li.value a{color:#343434 }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .orderSubmitted ul li.value a:hover{color:#56b535 }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .hr{float: left;width: 10%;padding: 0px;margin: 0 auto; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .hr hr{width:1px; min-height:165px;  height:100%; background:#ddd;padding: 0px;margin: 0 auto;}
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .OrderDetails{float: left;width: 45%; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .OrderDetails .printLink{ color: #343434; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .OrderDetails .printLink:hover{color: #56b535; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .OrderDetails .printIcon{ position: relative;float: left;padding-left: 30px; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .OrderDetails .printIcon:before{content:url('../img/e-commerce/printIcon.png');position: absolute;top: -2px;left: 0px; }
.e-commerce .steps .stepsContent .stepsContentBody.MakePayment .AccountDetails{float: left;width: 45%;}



/* checkbox */
.checkbox {padding-left: 20px;margin-top: 0px;margin-bottom: 0px; }
.checkbox label {display: inline-block;position: relative;padding-left: 5px;  }	
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 17px;height: 17px;left: 0;margin-left: -20px;border: 2px solid #0067aa;border-radius: 0px;background-color: #fff;-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {display: inline-block;position: absolute;width: 16px;height: 16px;left: 0;top: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;font-size: 11px;color: #555555;line-height: 16px;text-align: left; }
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus {outline:none;}
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-success input[type="checkbox"]:checked + label::before {background-color: #56b535; border-color: #56b535; }
.checkbox-success input[type="checkbox"]:checked + label::after {color: #fff; }
.checkbox input:disabled + label {cursor:not-allowed;}
/* Model */
.e-commerceViewModel{}
.e-commerceViewModel .modal-header.header-success {padding: 9px 15px 0px 15px !important;border-bottom: 1px solid #68cd00 !important;background: #68cd00 !important;border-top-left-radius: 5px !important;border-top-right-radius: 5px !important;color: #fff !important;}
.e-commerceViewModel .modal-header.header-success .modal-title{color: #fff;text-transform: capitalize;font-size: 14px;}
.e-commerceViewModel .modal-header{padding: 15px 15px 8px 15px;border-bottom: 1px solid #ddd;background: #ffffff;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #fff;}
.e-commerceViewModel .modal-header .modal-title{color: #343434;text-transform: capitalize;font-size: 14px;}
.e-commerceViewModel .modal-body ul.PackagesList{max-height: 400px;overflow: auto; list-style: none; min-height:100%; height:100%; margin-bottom: 15px; float: left; min-height:100%; height:100%;}
.e-commerceViewModel .modal-body ul.PackagesList li{float: left;width: 50%; position:relative;padding-left: 25px; padding-right: 15px; margin-bottom:10px;}
.e-commerceViewModel .modal-body ul.PackagesList li:before{content:url('../img/e-commerce/liChk.png');position: absolute;top: 0px;left: 0px;}

/* @media */
@media (min-width: 240px) and (max-width: 767px) {
	.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard{float: left;width:100%; margin-left: 0%;}
	.e-commerce .steps .stepsContent .stepsContentHeader h1{font-size: 18px;}
	.e-commerce .steps .stepsContent .stepsContentHeader p{font-size: 14px;}
	.e-commerce .steps .stepsContent{margin-top: 40px;}
	.e-commerceViewModel .modal-body ul.PackagesLis{padding:0px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard{float: left;width:49%; margin-left: 2%;}
	.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard:nth-child(odd){margin-left: 0%;}
}
@media (min-width: 1025px) and (max-width: 1500px) {
	.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard{float: left;width:49%; margin-left: 2%;}
		.e-commerce .steps .stepsContent .stepsContentBody.SelectService .serviceType .serviceContent .serviceCard:nth-child(odd){margin-left: 0%;}
	
} 
.my-pop-over-content {    padding: 5px;    border-radius: 10px;	box-shadow: 0 0 5px black;	border: 1px solid black;}
.RequestForm header, .RequestForm footer, .RequestForm .result-wrap {    display: none;}
.RequestForm .breadcrum_bg {    display: none;}
.RequestForm .container-fluid {   padding: 0px;}
.RequestForm .content-inside {	padding-bottom: 0px !important;}
#RequestForm #myModal .btn-primary {display: none !important;}
div#RequestForm .etrf-save {visibility: hidden;}
#RequestForm #myModal .btn-success {line-height: 22px;}
.E-trf-Ecomm{min-height: 50px !important;}
#RequestForm #myModal .radioMTS label{margin-bottom: 0px;}
#RequestForm #myModal .radioMTS input{margin-bottom: 0px;}

/*/ checkbox /*/
.checkboxMTS > input[type="radio"][disabled],
.checkboxMTS > input[type="checkbox"][disabled],
.checkboxMTS > input[type="radio"].disabled,
.checkboxMTS > input[type="checkbox"].disabled { opacity: 0 !important }
.checkboxMTS { padding-left:0px; margin-top: 0px; margin-bottom: 0px; min-height:20px; line-height: 14px; }
.checkboxMTS label:hover:before { border: 1px solid #005984 !important; }
.checkboxMTS label::before { content: ""; display: inline-block; position: absolute; width:15px; height:15px; left: 0; margin-left: -15px; border: 1px solid #ddd; border-radius: 2px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkboxMTS label::after { transition: all .2s; display: inline-block; position: absolute; width:15px; height:15px; left: 0; top: 0; margin-left: -15px; padding-left: 3px; font-size: 8px; color: #555555; }
.checkboxMTS input[type="checkbox"] { opacity: 0; }
.checkboxMTS label {white-space: normal; display: inline-block; position: relative; padding-left: 5px;font-weight: normal; }
.checkboxMTS [type="checkbox"]:focus + label:before { border: 1px solid #66afe9; }
.checkboxMTS input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome'; content: "\f00c"; }
.checkboxMTS input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkboxMTS input[type="checkbox"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }
.checkboxMTS.checkbox-circle label::before { border-radius: 50%; }
.checkboxMTS.checkbox-inline { margin-top: 0; }
.checkboxMTS input[type="checkbox"]:checked + label::before { }
.checkboxMTS input[type="checkbox"]:checked + label::after { color: #666; }
.checkboxMTS-primary input[type="checkbox"]:checked + label::before { background-color: #005984; border-color: #005984; }
.checkboxMTS-primary input[type="checkbox"]:checked + label::after { color: #fff; }
.checkboxMTS-danger input[type="checkbox"]:checked + label::before { background-color: #d9534f; border-color: #d9534f; }
.checkboxMTS-danger input[type="checkbox"]:checked + label::after { color: #fff; }
.checkboxMTS-info input[type="checkbox"]:checked + label::before { background-color: #5bc0de; border-color: #5bc0de; }
.checkboxMTS-info input[type="checkbox"]:checked + label::after { color: #fff; }
.checkboxMTS-warning input[type="checkbox"]:checked + label::before { background-color: #f0ad4e; border-color: #f0ad4e; }
.checkboxMTS-warning input[type="checkbox"]:checked + label::after { color: #fff; }
.checkboxMTS-success input[type="checkbox"]:checked + label::before { background-color: #5cb85c; border-color: #5cb85c; }
.checkboxMTS-success input[type="checkbox"]:checked + label::after { color: #fff; }

.radioMTS { padding-left: 0px; }
.radioMTS label {white-space: normal; display: inline-block; position: relative; padding-left: 5px; line-height:14px; font-weight: normal;}
.radioMTS label::before { content: ""; display: inline-block; position: absolute; width:15px; height: 15px; left: 0; margin-left: -15px; border: 1px solid #cccccc; border-radius: 50%; background-color: #fff; -webkit-transition: border 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out; transition: border 0.15s ease-in-out; }
.radioMTS label::after { display: inline-block; position: absolute; content: " "; width: 7px; height:7px; left: 4px; top:4px; margin-left: -15px; border-radius: 50%; background-color: #555555; -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radioMTS label:hover:before { border: 1px solid #005984 !important; }
.radioMTS input[type="radio"]:focus + label:before { border: 1px solid #66afe9; outline: none; }
.radioMTS input[type="radio"] { opacity: 0; }
.radioMTS input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.radioMTS input[type="radio"]:checked + label::after { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.radioMTS input[type="radio"]:disabled + label { opacity: 0.65; }
.radioMTS input[type="radio"]:disabled + label::before { cursor: not-allowed; }
.radioMTS.radio-inline { margin-top: 0; }
.radioMTS-primary input[type="radio"] + label::after { background-color: #005984; }
.radioMTS-primary input[type="radio"]:checked + label::before { border-color: #005984; }
.radioMTS-primary input[type="radio"]:checked + label::after { background-color: #005984; }
.radioMTS-danger input[type="radio"] + label::after { background-color: #d9534f; }
.radioMTS-danger input[type="radio"]:checked + label::before { border-color: #d9534f; }
.radioMTS-danger input[type="radio"]:checked + label::after { background-color: #d9534f; }
.radioMTS-info input[type="radio"] + label::after { background-color: #5bc0de; }
.radioMTS-info input[type="radio"]:checked + label::before { border-color: #5bc0de; }
.radioMTS-info input[type="radio"]:checked + label::after { background-color: #5bc0de; }
.radioMTS-warning input[type="radio"] + label::after { background-color: #f0ad4e; }
.radioMTS-warning input[type="radio"]:checked + label::before { border-color: #f0ad4e; }
.radioMTS-warning input[type="radio"]:checked + label::after { background-color: #f0ad4e; }
.radioMTS-success input[type="radio"] + label::after { background-color: #5cb85c; }
.radioMTS-success input[type="radio"]:checked + label::before { border-color: #5cb85c; }
.radioMTS-success input[type="radio"]:checked + label::after { background-color: #5cb85c; }
/*.RequestForm .hidden-section { display: none !important;}*/

/*.E-trf-Ecomm .addNew-e-TRF .section-etrf{ border:1px solid #ddd !important;}
.E-trf-Ecomm .field-container .field-label{border: 0px solid #ddd !important;font-weight: normal !important;}
.E-trf-Ecomm .field-container .field-label b{font-weight: normal !important;font-size: 13px;}
.E-trf-Ecomm .field-container .field input{border:1px solid #ddd !important;}
.E-trf-Ecomm #Form-Header {padding: 10px !important; border: 1px solid #ccc !important;}
.E-trf-Ecomm #Form-Header .mts-logo{ border-right: 1px solid #ccc!important;}
.E-trf-Ecomm show-table{padding: 0px;}
.E-trf-Ecomm .etrf-table tbody td {padding: 5px;}
.E-trf-Ecomm .etrf-table .fileContainer,.E-trf-Ecomm .etrf-table button { border-radius: 3px !important;}
.E-trf-Ecomm .etrf-table td.hide-pdf{display: table-cell !important;padding-top: 28px}
.E-trf-Ecomm .etrf-table .image-collection{min-height: 21px;}*/


/*.E-trf-Ecomm .loading-dialog{display: none;}*/

.enquiryLinkInfo{float: left;color: #337ab7}
.paypal .signUpBox .logo.success{ padding-top:8%; margin: 0 auto;}
.paypal .signUpBox .logo.cancel{ padding-top:10%; margin: 0 auto;}
.paypal .thankuTable.success{ margin-top: 2%;}
.paypal .thankuTable.cancel{ margin-top: 5%;}
.paypal .thankuTable tr td.trthanks{background: #ffffff;color: #fff;font-size: 40px;padding: 1%;font-weight: 600;}
.paypal .thankuTable tr td.trthanks h1{ font-size: 24px;margin: 7px 0px;color: #5cb85c;}
.paypal .thankuTable tr td.trthanks h1.text-danger{ font-size: 24px;margin: 7px 0px;color:red !important;}
.paypal .thankyou-msg {margin-bottom: 10%; }  
.paypal .thankyou-msg p b{color: #333; }  
.paypal .buttonContainer{ }   
.paypal .buttonContainer .btn{ margin-bottom:10px;margin-right: 10px;} 

@media (min-width: 240px) and (max-width: 800px) {
.e-commerce .steps .stepsNav ul {width: 100%;margin: 0px auto;padding: 20px 0 0;}
.e-commerce .steps .stepNavContainer{position:relative;}
.e-commerce .steps .stepsContent .stepsContentHeader .trackOrderbtn{margin-top:0px; display: block;width: 50%;position: absolute;top: 53px;}
.e-commerce .steps .stepsContent#SelectPackages .stepsContentHeader .trackOrderbtn{margin-top:0px; display: block;width: 50%;position: absolute;top:92px; z-index:999;}
.e-commerce .steps .stepsContent#RequestForm .stepsContentHeader .trackOrderbtn{margin-top:0px; display: block;width: 50%;position: absolute;top:30px; z-index:999;}
.e-commerce .steps .stepsContent#ReviewOrder .stepsContentHeader .trackOrderbtn{margin-top:0px; display: block;width: 50%;position: absolute;top:32px; z-index:999;}

.e-commerce .steps .stepsContent .stepsContentHeader .enquiryBtn{ margin-top:0px;}
.enquiryLinkInfo {float: none;color: #337ab7;display: block;margin: 0 auto;text-align: center;}
.modal.in .modal-dialog {width: 95% !important;}
.e-commerce .steps .stepsContent .stepsContentFooter .backBtn {float: left;  z-index:999;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter .scroll {max-height: 200px;height: 200px;overflow: auto;}
.e-commerce .steps .stepsContent .stepsContentFooter{ margin-top:10px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .packageListContainer { max-width: 100%; }
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .sidebarFilter{margin-bottom: 15px;}
.e-commerce .steps .stepsContent .stepsContentBody.SelectPackages .scrollPackagesList {border-bottom: 1px solid #ddd;}
.e-commerce .steps .stepsNav ul li p{font-size:12px;}
.e-commerce .steps .stepsContent .stepsContentBody {margin: 0px 0px;}
.e-commerce .steps .stepsContent .SelectPackages .radioMTS {padding-left: 15px;}
.e-commerce .PackageListscroll .radioMTS {padding-left: 15px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions h2{font-size:12px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions ol {padding-left: 15px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions ol li {margin-bottom: 15px;padding-left: 0px;font-size: 12px;text-align: justify;padding-right: 15px;}
.e-commerce .steps .stepsContent .stepsContentBody.ReviewOrder .TermsAndConditions ol p{padding-left: 0px;font-size: 12px;text-align: justify;padding-right: 15px;}
.e-commerce .steps .stepsContent .termsConditionCheck {margin-bottom: 15px;}
.e-commerce .steps .stepsContent .shippingAddress p, .e-commerce .steps .stepsContent .applicantDetails p {font-size: 12px;}
.e-commerce .steps .stepsContent .shippingAddress p, .e-commerce .steps .stepsContent .applicantDetails p b{font-size: 12px; text-transform: uppercase;}
.e-commerce .steps .stepsContent .modal-body .table tr td { vertical-align: middle;}

/*.E-trf-Ecomm .field-container .field-label b {font-weight: normal !important;font-size: 13px;padding-left: 10px;}
.E-trf-Ecomm .field-container .field {flex: 100%;margin-left: 8px; width:100%; display:block;}
.E-trf-Ecomm .field-container {padding:0px;display: inline-table;float: left;width: 100% !important;}
.E-trf-Ecomm .field-container .field input{ width:98.5% !important;}*/
.paypal .signUpBox .logo.success{ padding-top:40%; margin: 0 auto; max-width: 63%;}
.paypal .signUpBox .logo.cancel{ padding-top:50%; margin: 0 auto; max-width: 63%;}
.paypal .thankuTable { margin-top: 20%;}
.paypal .thankuTable tr td.trthanks{}
.paypal .thankuTable tr td.trthanks p{font-size: 12px !important;}
.paypal .thankuTable tr td.trthanks h1{margin: 7px 0px; font-size: 18px !important;}
.paypal .thankuTable tr td.trthanks h1.text-danger{ font-size: 18px !important;margin: 7px 0px;color:red !important;}
.paypal .thankyou-msg {margin-bottom: 10%; }  
.paypal .buttonContainer{ }   
.paypal .buttonContainer .btn{ margin-bottom:10px;margin-right: 10px;}  

}

.price-varies-text{
	margin-bottom: 10px;
	color: #ff0000;
	font-weight: 600;
}