.DataGrid.config .table td,.DataGrid.config .table th{padding: 3px 8px !important;}
.DataGrid.config .table td .btn{margin-right: 5px;}
.row .btn-success{line-height:28px;}
#config label{font-weight: 700; font-size: 14px;}
#config h3{font-size: 16px; font-weight: 700;}
#config .tab-content{padding:15px;}
#design .radioGrp label{display: inline-block; margin-right: 10px; margin:15px 25px 15px 0; white-space: nowrap;}
#design .radioGrp input[type=radio]{position: absolute; display: none;}
#design .radioGrp input[type=radio]+label{font-weight: normal; position: relative; padding-left: 25px; cursor: pointer; line-height: 18px; user-select:none}
#design .radioGrp input[type=radio]+label:before{content: ''; position: absolute; left: 0px; width:18px; height:18px; border: 1px solid #ccc; border-radius: 50%;}
#design .radioGrp input[type=radio]:checked+label:before{font: normal normal normal 14px/1 FontAwesome; content:"\f00c"; font-size: 10px; text-align: center; line-height: 18px; background: #0067aa; color: #fff; border-color:#0067aa}
#design .radioGrp input[type=radio]:checked+label{color: #0067aa;}
#design small{display: block; margin-bottom: 20px; font-size: 12px;}
.radioTbs{float: left; margin:10px 0 25px; padding: 0; border: 1px solid #ccc; width: 100%;}
.radioTbs li{float: left; list-style: none; margin: 0px; padding: 0; text-align: center; height: 106px; width: 25%; border-left: 1px solid #ccc;}
.radioTbs li:first-child{border: none;}
.radioTbs li img{display: block; margin:0px auto 5px;}
.radioTbs li input[type=radio]+label{display: block; margin: 0px !important; padding: 10px 0 5px; width: 100%; cursor: pointer} 
.radioTbs li input[type=radio]:checked+label{background: #0067aa; color: #fff;}
.radioTbs li input[type=radio]{position: absolute; display: none;}
/*#design .btn-primary,#query .btn-primary,#searchCriteria .btn-primary{margin-left: 10px;}*/
.pickListButtons2{padding-top: 13px !important;}
.marT25{margin-top:15px;}

#config hr{background: #000; border: 1px solid #000; opacity: 0; margin:0;}
#query p.center, #querySecond p.center{text-align: center; margin: 10px 0;}
.DataGrid#config #query .table td,.DataGrid#config #query .table th{padding:8px !important;}
.DataGrid#config #querySecond .table td,.DataGrid#config #querySecond .table th{padding:8px !important;}
.whiteBg{background: #fff;}
#query .table, #querySecond .table{min-width: 500px;}
#query h3, #querySecond h3{background: #68cd00; cursor: pointer; padding: 10px 15px; color:#fff; border-radius: 4px; margin: 1px 0;}

input[type=checkbox].check{position: absolute; display: none;}
#DownloadFile input[type=checkbox].check+label{ padding-left: 25px!important;}
input[type=checkbox].check+label{position: relative;    padding-left: 22px; padding-right: 25px; font-weight: 400 !important; margin: 15px 0; cursor: pointer;}
input[type=checkbox].check+label:before{content: ''; width:18px; height: 18px; line-height: 18px; text-align: center; display: block; border: 1px solid #ccc; position: absolute; left: 0px; top: 0px;}
input[type=checkbox].check.no-val+label:before{border: 2px solid rgb(193, 19, 19);}

.no-val+span{color: red;}



input[type=checkbox].check:checked+label:before{font: normal normal normal 14px/1 FontAwesome; content:"\f00c"; font-size: 10px; background: #0067aa; color: #fff; border-color:#0067aa; line-height: 18px;}
input[type=checkbox].check:checked+label{color: #0067aa}
.chartHere{margin-bottom: 25px;}
.companyList{margin: 0; padding: 0; list-style: none; background: #f9f9f9; overflow-x: hidden; overflow-y: auto; border-radius: 4px; border: 1px solid #ccc; max-height: 350px;}
.companyList li{margin: 0px; padding: 0px; padding: 14px 15px; border-top: 1px solid #ccc;}
.companyList li:first-child{border: none;}
.companyList li input[type=checkbox].check+label{margin: 0px !important; font-weight: 700 !important; display: block; -user-select:none; -webkit-user-select:none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#selectTable, #whereCondition, #orderBy{padding:0px 0;}
[data-toggle="collapse"].row{position: relative}
[data-toggle="collapse"].row:after{font: normal normal normal 14px/1 FontAwesome; content:"\f077"; float: right; position: absolute; right: 30px; top: 13px; color: #fff;}
[data-toggle="collapse"].row.collapsed:after{content:"\f078"; }
.right-graph{border-left: 1px solid #cccccc; padding-bottom: 30px;}
textarea { word-wrap: break-word; }


@media screen and (max-width:767px){
	#pAdd,#pAdd2{transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkittransform: rotate(-90deg);}
	#pRemove,#pRemove2{transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkittransform: rotate(-90deg);}
	.pickListButtons  .row{display: inline-block;}
	.pickListButtons  .row .btn-primary{margin: 0 15px;}
	.pickListButtons3{padding-top: 13px !important}
}

@media screen and (max-width:579px){
	.radioTbs{width: 100%; border: none;}
	.radioTbs li{width: 50%; border: 1px solid #ccc;}
	.radioTbs li label{height: 110px;}
	.radioTbs li:first-child{border: 1px solid #ccc;}
	
	.nav-tabs{border-radius: 5px; margin-bottom: 10px; background: #fff; border:none; overflow: hidden;}
	.nav-tabs.open > li{display: block; border-bottom: 1px solid #ccc;}
	.nav-tabs > li{width: 100%; display: none; margin: 0px; cursor: pointer;}
	.nav-tabs > li.active{display: block; font-weight: 700;}
	.nav-tabs > li.active:after{content:"\f107";font: normal normal normal 14px/1 FontAwesome; float: right; position: absolute; right: 10px; top: 13px;}
	.nav-tabs > li > a{margin: 0px; border: none; border-radius: 0px; cursor: pointer !important;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border:none;}
}

@media screen and (max-width:479px){
#design .radioGrp label{display:block;
}
}
	
@media screen and (max-width:360px){
	#permissions .col-sm-3.col-xs-6{width: 100%;}
}