.signUpBox {
    overflow: hidden;
    background: #fff;
    font-size: 13px;
    color: #000000;
    position: relative;
    width: 1015px;
    margin: 0 auto;
    height: auto;
    padding: 0px;
    top: 5vh;
    /*  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);  */
    text-decoration: none;
    max-width: 90%;
    height: 90vh;
}

.signUpBox .logo {
    padding: 10px 5px;
    text-align: center;
}

.signUpBox .logo img {
    margin: 0 auto;
}

.signUpBox .logo p {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    /* text-transform: uppercase; */
    color: #066ba1;
}

.signUpBox .leftSignBox {
    width: 100%;
    padding: 0 30px;
    height: calc(82% - 15%);
    position: relative;
}

.signUpBox .leftSignBox h1 {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #3479B6;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.signUpBox .leftSignBox .footerSignBox {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
}

.signUpBox .leftSignBox .footerSignBox .btn {
    width: auto;
    padding: 10px 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
}


/* topNav */

.signUpBox .rightSignBox {
    background: #63bb4b;
    width: 100%;
    height: 75px;
    text-align: center;
}

.signUpBox .rightSignBox ul {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0px 0;
    padding: 35px 0;
    height: 100%;
    position: relative;
}

.signUpBox .rightSignBox ul li {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 9;
}

.signUpBox .rightSignBox ul li.active {
    z-index: 99;
}

.signUpBox .rightSignBox ul li:first-child {
    height: auto;
    position: absolute;
    top: 25%;
    width: calc(100% - 50%);
}

.signUpBox .rightSignBox ul li:nth-child(2) {
    position: absolute;
    top: 25%;
    width: calc(100% - 0px);
}

.signUpBox .rightSignBox ul li:last-child {
    position: absolute;
    top: 25%;
    width: calc(100% - -50%);
}

.signUpBox .rightSignBox ul li:before {
    content: "";
    width: calc(100% - 50%);
    height: 1px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 21px;
}

.signUpBox .rightSignBox ul li:first-child:before {
    display: none;
}

.signUpBox .rightSignBox ul li:nth-child(2):before {
    width: calc(76% - 50%);
    left: 25%;
}

.signUpBox .rightSignBox ul li:last-child:before {
    width: calc(76% - 62%);
    left: 34.7%;
}

.signUpBox .rightSignBox ul li a {
    width: 42px;
    height: 42px;
    display: block;
    background: #82c96f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.signUpBox .rightSignBox ul li.active a {
    background: rgba(255, 255, 255, 1);
    color: #034A6D;
}

.signUpBox .rightSignBox ul li.active:before {
    background: rgba(255, 255, 255, 1);
}

.signUpBox .rightSignBox ul li:nth-child(2) a {
    position: absolute;
    left: 50%;
    margin-left: -21px;
}

.signUpBox .rightSignBox ul li:last-child a {
    position: absolute;
    left: 50%;
    margin-left: -21px;
}

.dataScoller {
    float: left;
    width: 100%;
    height: -webkit-calc(100vh - 100%);
    height: -moz-calc(100vh - 100%);
    height: -ms-calc(100vh - 100%);
    height: calc(100vh - 100%);
    overflow: auto;
    overflow-x: hidden;
}
.dataSliderBox#CompanyDetails{}
.dataSliderBox#CompanyDetails div[class*=" col-"]{position: relative}
.dataSliderBox#CompanyDetails .error-msg {bottom: 10px;}

.SlideOut {
    /* transform:translateX(-400%); */
    opcity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.dataSliderBox {
    float: left;
    width: 100%;
    background: #FFF;
    top: 5px;
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 0;
    width: auto;
}

#AccountDetails {
    z-index: 4;
}

#PersonalDetails {
    z-index: 3;
}

#CompanyDetails {
    z-index: 2px;
}

.signUpBox .example-full-width,
.signUpBox .mat-form-field {
    width: 100%;
}

.signUpBox .mat-select-value-text {
    color: #000;
}

.signUpBox .mat-form-field-placeholder {
    color: rgba(0, 0, 0, .40);
}

.signUpBox label {
    margin-bottom: 0px;
    font-weight: normal;
}

.signUpBox .RadioLabelUp {
    display: block;
    float: left;
    width: 100%;
    color: rgba(0, 0, 0, .40);
    font-weight: normal;
    margin-bottom: 10px;
}

.signUpBox .mat-radio-label-content {
    padding-right: 10px;
    font-weight: normal;
}

.signUpBox .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #337fcd;
}

.signUpBox .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #337fcd;
}

.signUpBox .AddBtn, .signUpBox .AddBtn:hover {
    padding: 5px 7px;
    cursor: pointer;
    background: #63bb4c;
    border: none !important;
    margin-top: 16px;
}

.signUpBox .mat-select {width: 100%;padding: 8px 0;}
.signUpBox .mat-input-wrapper {margin: 8px 0;}

@media screen and (max-width:767px) {
    .signUpBox .rightSignBox {
        /*  display: none; */
        margin-top: 20px;
    }
    .signUpBox .leftSignBox {
        width: 100%;
        padding: 0 10px;
    }
    .dataSliderBox {
        left: 10px;
        right: 10px;
    }
    .signUpBox .logo img {
        float: none;
    }
    .signUpBox .logo p {
        float: left;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .dataSliderBox {
        top: 0px;
    }
}

.datepick .owl-dateTime-inputWrapper input {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: none !important;
}

.datepick label {
    font-size: 13px;
    color: #b1b1b1;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.workingclientlist li {
    display: inline-block;
    width: auto;
    padding: 10px 30px 10px 10px !important;
    background: #e0e0e0;
    border-radius: 5px;
    line-height: 14px;
    margin: 5px;
}

.signUpBox .mat-select-placeholder {
    font-weight: normal;
    font-size: 13px;
}

.radiogrp {
    font-size: 13px;
}

.error-msg {
    font-size: 11px;
    color: #c11010;
    position: relative;
    bottom: 10px;
    display: block;
}

.radiogrp .error-msg {
    position: static;
}

button {
    outline: none !important;
}

.captcha-box {
    width: 100%;
    padding: 5px 10px;
    background: #f1f1f1;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
}

.captcha-text {
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 22px;
    position: relative;
    padding: 0px;
}

.captcha-value input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.captcha-value {
    float: left;
    margin-top: 6px;
}

.captcha-text {
    float: right;
}

.thankyou-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.thanku-wrapper {
    display: table;
}

.thanku-wrapper .col-sm-6 {
    display: inline-table;
    vertical-align: middle;
}

.thanku-wrapper img {
    width: 100%;
}

.thanku-wrapper .col-sm-6 {
    display: table-cell;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    height: 100%;
}

.thankuTable {}

.thankuTable tr {}

.thankuTable td {
    padding: 5% 0%;
}

.thankuTable tr td.trthanks {
    background: #30739c;
    color: #fff;
    font-size: 40px;
    padding: 2.5%;
    font-weight: 600;
}

#cap-text {
    z-index: 1;
    line-height: 37px;
    color: #666;
}

#cap-text em {
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}