.clearfix:after {visibility: hidden;	display: block;	font-size: 0;content: " ";clear: both;height: 0;}
.disable-select {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }

html, body {width: 100%; height:100%;}
body {font-size: 14px; background:#e8ebf1;  color: #666; margin: 0;padding: 0; width: 100%; height:100%;font-family: 'pangramRegular'; }
a {text-decoration: none;color: #004a98;}
a:hover{text-decoration: none;color: #0b6acf;}
.textRight{text-align:right;}
.textLeft{text-align:left;}
.textCenter{text-align:center;}
.mt-10{margin-top:10px;}
/*{-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
body > button {transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease-in-out 0s;}*/

.warpper-inner{min-height: 100%;}
.content-inside{padding-bottom: 50px;}
.footer{height: 50px;margin-top: -50px;}

/******************Globle*********************/
.inputDesign{}
::-webkit-input-placeholder{color:#666;}::-moz-placeholder{ color:#666;}:-ms-input-placeholder{color:#666;}:-moz-placeholder{color: #666;}

.inputDesign .inputFile{border:1px solid #C6C6C6;background:#e5e5e5; border-radius: 3px; position:relative; width: 100%; cursor: pointer; margin-bottom: 15px;}
.inputDesign .inputFile span{ position:absolute; top:0px; left:0px;width: 125px;height: 100%;padding: 10px;background: #fff; cursor: pointer;}
.inputDesign .inputFile input.inputValue{opacity: 0; height: 34px; cursor: pointer; color:#000; margin-bottom:0px;}
.inputDesign .inputFile #inputValueShow{position:absolute; top: 8px;left: 134px;z-index: 999;color: #000;}
.inputDesign input{ margin-bottom:15px; font-size: 16px; color: #666; height: 34px; padding:6px 0px; border:0px;  width:100%;background: none; box-shadow: 0 1px 0px #e7e7e7;border-bottom:1px solid #C6C6C6;}
.inputDesign input:focus{ outline:none;}
.inputDesign textarea{margin-bottom:15px; width:100%;  border:1px solid #C6C6C6; border-radius:3px; padding:8px; resize:none;  color: #666; box-shadow: 0 1px 0px #e7e7e7; font-size: 16px;}
.inputDesign select{margin-bottom:15px; font-size: 16px; color: #666; height: 34px; padding:6px 0px; border:0px; border-bottom:1px solid #C6C6C6; width:100%; background: none; box-shadow: 0 1px 0px #e7e7e7;}
.inputDesign select:focus{ outline:none;}
.inputDesign .selectOptions{color:#ccc;}
/*.inputDesign .custom_box select > option{ padding:10px 5px; color: #808080; min-height:30px;  width:100%; font-size: 12px; -webkit-appearance:none; }*/

.inputDesign .searchBtn{ background:#68cd00; color:#fff; border-color: #68cd00; min-width: 100px;height: 34px;font-weight: 600; margin-bottom: 15px;}
.inputDesign .searchBtn:focus{ background:#68cd00; color:#fff; border-color: #68cd00; }
.inputDesign .lableCtrlBtn{margin-top:20px;}

.custom_box{ position: relative; clear: both;}
.custom_box select {-webkit-appearance:none;  -moz-appearance: none; background: attr(data-icon) top right no-repeat; }
.custom_box:before{position: absolute;pointer-events: none;content: "\25BC";height: 1em;font-size: .725em;line-height: 1;right:0;top: 50%;margin-top: -.5em; font-family: FontAwesome;color: #999;}
.custom_Date{ position: relative; clear: both;}
.custom_Date:before{position: absolute; content: "\f073"; right:0; top: 15%; font-family: FontAwesome; color: #999999; cursor:default;}

.inputDesign .modelRedioCheck{padding: 12px 0 0 0; height: 34px;}
.inputDesign .modelRedioCheck .control__indicator_checkbox{top:2px;}
.inputDesign .modelRedioCheck .modelLabel{ float:left; margin-right:30px;}

.inputDesign .labelControl{ height:45px;}
.searchBtnIcon{margin-right:15px;height: 34px;font-weight: 600; margin-bottom: 15px;}

.modalInput input{font-size:14px !important;}

@media (min-width: 240px) and (max-width: 767px) {
	.inputDesign .searchBtn{margin-top: 0px; margin-bottom: 15px;}
	.inputDesign .lableCtrlBtn{margin-top:0px;  margin-bottom: 15px;}
}

/******************login*********************/
.loginBg{width: 100%; height:100%; background:url("../img/loginBg.jpg") #0067aa;;}
.login{width: 100%; height:100%; position:relative;}
.loginBox{background: #fff; width:400px; margin:0 auto; height:auto; padding:35px; position: absolute;
top: 50%;left: 50%;transform: translate(-50%, -50%);text-decoration: none;    max-width: 80%;}

.loginBox .logo{ margin-bottom:30px; height:60px;text-align: center;}
.loginBox .logo img{text-align: center;margin: 0 auto;}
.loginBox .form-control{border: 0px;border-bottom: 1px solid rgba(0, 0, 0, 0.36); border-radius: 0px;box-shadow: none;padding-left: 0px;}
.loginBox .form-control:focus{outline:none; box-shadow:none;}
.loginBox .loginBtn{border-radius: 2px; margin: 30px auto; text-transform:uppercase;}
.loginBox a.forgetPass{font-size:16px; color:#0067aa;text-decoration: underline; text-decoration-color: #0067aa;}
.loginBox .rememberMe label{color:#666666; font-size:16px;}
.loginBox p{text-align: center;}
.loginBox p.text{text-align: justify; font-size:16px; color:#666666; }
.loginBox .userId,.loginBox .userPass{position:relative;}
.loginBox .userId:before{font-size: 20px;color:#d0d0d0; position:absolute; top: 3px; right: 0px;margin-left: 25px;font-family: FontAwesome;content: "\f007";}
.loginBox .userPass:before{font-size: 20px;color:#d0d0d0; position:absolute; top: 3px; right: 0px;margin-left: 25px;font-family: FontAwesome;content: "\f13e";}


/******************footer*********************/
footer{text-align:center; height:50px; font-size:15.65px; color:#fff;background:#636363; padding:17px 0px; margin:0 auto;}

/******************header*********************/

header{width:100%;  margin:0px; padding:0px;  margin-bottom:0px;  position:relative; min-height:108px;}
header .dashTopNav {height:60px; background:#fff;
position: fixed;top: 0px;width: 100%;z-index: 999;
}
header .dashTopNav .logo{ float:left; padding-left:12px; width:30%;padding-top: 3px;}
header .dashTopNav .navRight{float:right; width:70%; position:relative;}
header .dashTopNav .navRight .searchContainer{ width:50%; border-right:1px solid #ccc;  padding: 10px 15px; height:60px; float:right;}
header .dashTopNav .navRight .searchContainer .search{position:relative;   }
header .dashTopNav .navRight .searchContainer .search:before{font-size: 14px;color:#d0d0d0; position:absolute; font-family: FontAwesome;content: "\f002 ";top:12px;right: 11px;}
header .dashTopNav .navRight .searchContainer .search input{float: right;padding: 10px 15px;border-radius: 20px;border: 1px solid #ddd;
-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out;
}
header .dashTopNav .navRight .searchContainer .search input:focus{width:100%; -webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
header .dashTopNav .navRight .profile{width:50%; max-width:220px; display:inline; background:#eeeeee; float:right; height: 60px; min-width:50px; cursor:pointer; }
header .dashTopNav .navRight .profile .img{ float:left; padding: 10px 10px; width:35%;}
header .dashTopNav .navRight .profile .img img{width:45px;  height:45px;  border-radius:50%; float:left;}
header .dashTopNav .navRight .profile .user{line-height: 20px; width:65%; font-size:14px; float:right; padding: 10px 5px;}

header .dashTopNav .navRight .profileDropdown{ position:absolute; top:60px; right:0px; z-index:999;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1{max-width:221px;padding: 0px; display:none; z-index: 999;list-style-type: none;background: #eeeeee;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li{padding: 8px 10px; border-bottom:1px solid #cccccc;   text-overflow: ellipsis; border-left:1px solid #ccc;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li:first-child{border-top:1px solid #cccccc; }
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li a{color:#000;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li.active{background:#4d4d4d; color:#fff !important;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li.active a{background:#4d4d4d; color:#fff !important;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li:hover{background:#4d4d4d; color:#fff !important;}
header .dashTopNav .navRight .profileDropdown .dropdown-menu1 li:hover a{background:#4d4d4d; color:#fff !important;}

.clientChangeModel{ max-width:30%;}


header .dashTopNav .navRight .notification{float:right; min-width:50px; height: 72px;padding: 20px 20px; }
header .dashTopNav .navRight .notification p{border-radius:50%; border:1px solid #ccc; position:relative;height: 32px;width: 32px; }
header .dashTopNav .navRight .notification p span.icon{ }
header .dashTopNav .navRight .notification p span.icon:before{font-size: 12px;color:#d0d0d0; position:absolute; top: 5px;right: 8px;font-family: FontAwesome;content: "\f003 ";}
header .dashTopNav .navRight .notification p span.badge{ background: #0d58d2;border-radius: 50%;min-height: 10px;min-width: 10px;position: absolute;top: -6px;right: -7px;font-size: 9px;padding: 3px 5px 4px;}

header .dashNav{clear:both; background:#0067aa;  height:50px; top: 60px;z-index: 99;}
header .dashNav .top_nav {  }
header .dashNav .top_nav  ul{ margin:0px; padding:0px;}
header .dashNav .top_nav li .last{ background-image:  url("../img/nav_right_border.png");  background-position: right; background-repeat: no-repeat; display: block; min-height:46px;height:100%;}
header .dashNav .top_nav li{color:#fff; z-index: 22; margin:0px; padding:0px; background-image:  url("../img/nav_right_border.png");  background-position: right; background-repeat: no-repeat; height:100%; padding-right: 5px;}
header .dashNav .top_nav li.first a{padding-left:23px;}
header .dashNav .top_nav li a{padding: 15px 23px; font-size: 14px; color:#fff ;margin-left: -4px; z-index: 9999;}
header .dashNav .top_nav li a:hover,.top_nav li a:focus{color:#fff !important; }
header .dashNav .top_nav li a.active{color: #0067aa !important; background: #e8ebf1;}
header .dashNav .top_nav .active{ color:#fff !important; }

header .dashNav .top_nav li ul.dropdown-menu li{ background-image:none;}
header .dashNav .top_nav li ul.dropdown-menu li{padding-right:0px; padding-left:0px; border-bottom:1px solid #ccc;}
header .dashNav .top_nav li ul.dropdown-menu li:last-child{border-bottom:0px solid #ccc;}
header .dashNav .top_nav li ul.dropdown-menu li a{color:#666; margin-left:0px;padding: 11px 23px;}
header .dashNav .navbar-toggle .icon-bar { background-color: #FFF !important;}
header .dashNav .navbar-toggle .icon-bar:hover { background-color: #666 !important;}
header .dashNav .navbar-toggle .icon-bar:focus { background-color: #666 !important;}

@media (min-width: 768px) and (max-width: 980px) {
	header .navbar .container {width:100%;}

}
@media (min-width: 869px) and (max-width: 990px) {
    header .dashNav .top_nav li a{padding: 15px 10px;font-size: 14px;}
}
@media (min-width: 768px) and (max-width: 868px) {
	header .dashNav .top_nav li a{padding: 15px 10px 15px 10px; font-size: 12.5px;}
}
@media (min-width: 240px) and (max-width: 768px) {.navRight{ display:none;}}
@media (min-width: 240px) and (max-width: 767px) {
	.navRight{ display:none;}
	 header .dashTopNav .logo{width:100%;}
     header .dashNav .top_nav li:first-child a{padding-left:15px;}
	 header .dashNav .navbar-collapse{ background: #0067aa;}
	 header .dashNav .container-fluid { padding-right: 15px;padding-left: 15px;}
     header .dashNav .top_nav li ul.dropdown-menu li a{color:#fff !important; padding-left: 20px;}
	 header .dashNav .top_nav li.first a{padding-left: 20px;}
	.clientChangeModel{ max-width:100%;}
}

@media (min-width: 767px) and (max-width: 869px) {
.navRight{ display:none;}

}


/******************breadcrum*********************/

.breadcrum_bg{ font-size:14px; text-transform:uppercase; background: #e8ebf1; color:#010101; min-height:37px; padding:11px 0;position:relative;}
.breadcrum_bg p {color:#666666;margin-bottom: 0px;}
.breadcrum_bg p i{ color:#010101; padding:0 10px;}
.breadcrum_bg p img{padding:0 10px; padding: 0px 3px 4px 3px;}
.breadcrum_bg p a{color:#000;}
/*.breadcrum_bg p a:before{content: url('../img/angle-right.png'); padding:15px 10px 10px 10px; }
.breadcrum_bg p a:before{font-size: 20px; font-family: FontAwesome;content: "\f105"; color: #010101 !important; padding:10px; position:absolute; top:0px; }*/

@media (min-width: 240px) and (max-width: 767px) {
	.breadcrum_bg {font-size: 12px;}

}

/******************Fillter*********************/
.filter{background: #fff;min-height: 50px;height: 100%; width: 100%; padding: 14px 0 5px; position:relative;}
.filter .nodadding {padding-left:0px !important; padding-right:0px !important;}
.filter h3{font-size: 16px; text-transform:uppercase; padding-top: 0px; margin-top:0px; font-weight: 600;}

.filter .form{}
.filter .inputDesign label{text-transform:uppercase; font-size: 14px;}
.filter .inputDesign .RolesFor{  box-shadow: 0 1px 0px #e7e7e7;border-bottom:1px solid #C6C6C6;  height:34px;min-width: 320px;}
.filter .inputDesign .RolesFor label{float:left; margin-top:5px; font-size:16px; text-transform:capitalize; padding-top: 0px; color:#666666;}
.filter .inputDesign .RolesFor label:first-child{margin-right:15px;}
.filter .inputDesign .lableCtrlBtn{margin-top:20px;}
.filter #selectCompany{display:none; margin-left: 15px;}
.filter .filterBtn{ position:absolute; top:0px; right:0px; cursor:pointer;}

.filter .open_in:before{content: '';display: inline-block; height: 25px;width:25px;  background-image: url('../img/filterBtnOpen.png'); background-repeat:no-repeat;  position:absolute; top:0px; right:10px;}
.filter .close_out:before{content: '';display: inline-block;height: 25px;width: 25px;  background-image: url('../img/filterBtnClose.png');background-repeat:no-repeat;position:absolute;top:0px; right:10px;}

.filter .filterBtn.collapsed{}
.filter .filterBtn i{ font-size:30px; color:#666; text-align:right;}

@media (min-width: 240px) and (max-width: 767px) {
.filter .inputDesign .lableCtrlBtn { margin-top: 0px; margin-bottom: 15px;}
.filter .inputDesign label {font-size: 12px;}
.filter .inputDesign .RolesFor label{font-size: 14px;}
.filter .inputDesign .RolesFor .control__indicator_radio { top: 1px; }
.filter .inputDesign .RolesFor{ min-width: 285px;}
.filter #selectCompany{margin-left:0px; margin-top:15px;}
}
/***************DataGrid************************/

.DataGrid{  margin:15px; font-family: pangramLight,Pangram-Light; font-weight:600;}
.DataGrid h3{font-weight: 600; font-size: 16px; text-transform:uppercase; margin: 0 0 15px 0;}
.DataGrid .table-responsive{background:#fff;border-radius: 5px;}
.DataGrid .nodadding {padding-left:0px !important; padding-right:0px !important;}
.DataGrid .table{margin-bottom:0px;}
.DataGrid .table > thead.head{ background:#68cd00; color:#fff; border-radius: 10px !important;border: 1px solid #68cd00;}
.DataGrid .table.manageRole > tbody > tr > td.innerTable{padding:0px;}

.DataGrid .table.innerTableData > thead.head{height:40px; background:#eeeeee; color:#fff; border: 0px solid #cccccc;  text-align:right;}
.DataGrid .table.innerTableData > thead.head .headText{text-align: left !important;color: #666; cursor:pointer; }
.DataGrid .table.innerTableData > thead.head .icon{text-align: right !important;color: #666; cursor:pointer;}
.DataGrid .table tr { height:40px;}
.DataGrid .table > thead > tr > th{height:40px; border-bottom:0px solid #ddd; text-transform:uppercase; vertical-align: middle; white-space:nowrap;}
.DataGrid .table > tbody > tr > td a{color:#0067aa;}
.DataGrid .table > tbody > tr > td{vertical-align:middle; white-space:nowrap;}
.DataGrid .table > tbody > tr > td.pending{ color:#ff6600;}
.DataGrid .table > tbody > tr > td.approved{ color:#00bff3;}
.DataGrid .table > tbody > tr > td button:first-child{margin-right:10px;}
.DataGrid .table > tbody > tr > td .btn-danger{ padding: 3px 10px; border-color:#ed1c24; background:#ed1c24; color:#fff; text-transform:uppercase;}
.DataGrid .table > tbody > tr > td .btn-success{padding: 3px 10px; border-color:#68cd00; background:#68cd00;color:#fff; text-transform:uppercase;}
.DataGrid .table > tbody > tr > td .btn-warning{padding: 3px 10px; border-color:#ffa800; background:#ffa800;color:#fff; text-transform:uppercase;}
.DataGrid .table > tbody > tr > td .btn-primary{padding: 3px 10px; border-color:#0067aa; background:#0067aa;color:#fff; text-transform:uppercase;}
.DataGrid .table.manageRole th ,.DataGrid .table.manageRole td{text-align:center !important;}

.DataGrid .table.manageRole .dashbord{text-align:left !important;}
.DataGrid .table.innerTableData .dashbord{text-align:left !important;}
.DataGrid .noBottomBoder td{border-top: 0px !important;}


.DataGrid .table.manageRole .control__indicator_checkbox{left: 42%; top: 0px;}
.DataGrid .table.innerTableData .control__indicator_checkbox{left: 42%; top: 0px;}
.DataGrid .control__indicator_checkbox{border: 1px solid #68cd00;}
.DataGrid .control input:checked ~ .control__indicator_checkbox {background: #fff!important; border: 5px solid #68cd00!important;}

.modal-title {text-transform: uppercase;}

/***************assignRoleFilter************************/
.assignRoleFilter{margin:15px 0px;}
.assignRoleFilter button{ float:right;}
.assignRoleFilter .inputDesign label{text-transform:uppercase; font-size: 14px;}
.assignRoleFilter button.lableCtrlBtn{margin-top:30px;}

.modelInput{margin-bottom:15px;}
.addLink{margin-bottom:10px; color:#004a98;}
.addLink i{padding-right:6px;}
.underline{ text-decoration:underline; text-decoration-color:rgba(0, 103, 170, 0.48);}

/***************ManageDocument************************/
.pdfUploadIcon{color:#ff0000; text-align:center; font-size: 20px !important; cursor:default;}
.colorRed{color:#ff0000; }
.technicalDocument{}
.technicalDocument .tech{max-width:300px; white-space: normal !important;}
.technicalDocument .desc{max-width:300px; white-space: normal !important;}
/*////////////////////////------checkbox and redio btn custom------ /////////////////////////////*/

.control {display: block;   position: relative;   padding-left: 25px;   margin-bottom: 15px;   cursor: pointer;  font-weight: 300 !important; font-size: 14px; }
.control input {  position: absolute;   z-index: -1;   opacity: 0; }

.uploadReportModel{width:55%;}

@media (min-width: 240px) and (max-width: 767px) {
.uploadReportModel{width:90%; margin:0 auto;}
}

/***************analysisDetails************************/


.analysisDetailsModel{width:85%;}
.modalTable{font-family: pangramLight,Pangram-Light; font-weight:600;}
.modalTable .head{background:#eeeeee; border-bottom:0px !important;}
.modalTable .head tr th{border-bottom:0px !important; color:#000;}
.modalTable .head tr td{border-bottom:0px !important; font-size:12px; }

.panelTable{}
.panelTable tr td{padding: 15px 10px !important;}

/***************orderTracking************************/
.table.orderTracking{}
.table.orderTracking tr td{white-space:normal !important; vertical-align:top !important;}
.resultStatus{margin-bottom:15px; }

/***************addNew-e-TRF************************/
.addNew-e-TRF{background:#fff; padding:15px 0px ;}
.addNew-e-TRF h3{font-weight: 600; font-size: 16px; text-transform:uppercase; margin: 0 0 15px 0;}



/***************Dashboard************************/
.dashboardIcon{ display:inline-block}
.dashboardIcon span{ font-size: 18px; padding-left: 15px;}
.dashboardSearchIcon{max-width: 100px;}
.dashboardTotalCounter{ margin:15px 0px;}
.dashboardTotalCounter .counter{ padding-right:0px;}
.dashboardTotalCounter .counter .totalCount{ background:#fff; border-radius:5px; float:left; width:48%; margin-bottom:15px; min-height:142px; padding:10px;}
.dashboardTotalCounter .counter .totalCount.left{margin-right:15px; }

.dashboardTotalCounter .counter .totalCount.openOrder .count{font-size:36px; font-weight:800; color:#fb9678;}
.dashboardTotalCounter .counter .totalCount.openOrder .title{font-size:18px; margin-bottom: 2px;}
.dashboardTotalCounter .counter .totalCount.openOrder .link{font-size:14px; }
.dashboardTotalCounter .counter .totalCount.openOrder .processBar{height:5px; width:100%; background:#e5e5e5;}
.dashboardTotalCounter .counter .totalCount.openOrder .processBar .progress-bar{background:#fb9678;}

.dashboardTotalCounter .counter .totalCount.holdOrder .count{font-size:36px; font-weight:800; color:#00c292;}
.dashboardTotalCounter .counter .totalCount.holdOrder .title{font-size:18px; margin-bottom: 2px;}
.dashboardTotalCounter .counter .totalCount.holdOrder .link{font-size:14px; }
.dashboardTotalCounter .counter .totalCount.holdOrder .processBar{height:5px; width:100%; background:#e5e5e5;}
.dashboardTotalCounter .counter .totalCount.holdOrder .processBar .progress-bar{background:#00c292;}

.dashboardTotalCounter .counter .totalCount.closeOrder .count{font-size:36px; font-weight:800; color:#0067aa;}
.dashboardTotalCounter .counter .totalCount.closeOrder .title{font-size:18px; margin-bottom: 2px;}
.dashboardTotalCounter .counter .totalCount.closeOrder .link{font-size:14px; }
.dashboardTotalCounter .counter .totalCount.closeOrder .processBar{height:5px; width:100%; background:#e5e5e5;}
.dashboardTotalCounter .counter .totalCount.closeOrder .processBar .progress-bar{background:#0067aa;}

.dashboardTotalCounter .counter .totalCount.failedOrder .count{font-size:36px; font-weight:800; color:#ff0000;}
.dashboardTotalCounter .counter .totalCount.failedOrder .title{font-size:18px; margin-bottom: 2px;}
.dashboardTotalCounter .counter .totalCount.failedOrder .link{font-size:14px; }
.dashboardTotalCounter .counter .totalCount.failedOrder .processBar{height:5px; width:100%; background:#e5e5e5;}
.dashboardTotalCounter .counter .totalCount.failedOrder .processBar .progress-bar{background:#ff0000;}


.dashboardTotalCounter .Chart{ background:#fff;  width:100%;border-radius:5px; padding:10px 50px 20px; }
.dashboardTotalCounter .Chart .yearFilter{width:200px; float:right; margin-bottom:0px; height: 34px;}
.dashboardFilter{top: 15px !important; clear:both;}

.FailureAnalysis{margin:15px 0px; padding:0px;background:#fff; }
.FailureAnalysis .heading{background:#68cd00; padding:15px 20px 15px; min-height:70px; margin:0px -5px;}
.FailureAnalysis .heading .yearFilter{width:200px; float:left; margin-bottom:15px}
.FailureAnalysis .heading .yearFilter .SumoSelect > .CaptionCont > span{color:#fff;}
.FailureAnalysis .heading .yearFilter .SumoSelect > .CaptionCont{border-bottom: 1px solid #fff;}
.FailureAnalysis .heading .yearFilter .SumoSelect > .CaptionCont > label > i{background: url(../Img/up-arrow.png) center no-repeat; opacity: 1;}
.FailureAnalysis .ChartContainer{background:#fff; padding:20px; clear:both; }
.FailureAnalysis h3{font-weight: 600; font-size: 20px; text-transform:uppercase; margin: 0 0 15px 0;}

.PerformanceAnalysis .ChartContainer{background:#fff; padding:20px; margin:15px 0px; border-radius:5px; }
.PerformanceAnalysis h3{font-weight: 600; font-size: 20px; text-transform:uppercase; margin: 0 0 15px 0; float:left;}
.PerformanceAnalysis .yearFilter{width:200px; float:right; margin-bottom:15px}
.faliureChart h3{float: left;}
.faliureChart .yearFilter{float: right; min-width: 200px;}
.faliureChart .yearFilter.inputDesign select, .faliureChart .yearFilter.inputDesign .SelectBox{margin:-10px 0 0 0;}



@media (min-width: 240px) and (max-width: 767px) {
.dashboardTotalCounter .counter .totalCount{width:100%;}
.dashboardTotalCounter .counter .totalCount.left{margin-right:0px; }
.dashboardTotalCounter .counter{ padding-right:15px;}
.FailureAnalysis h3{font-size: 16px;}
.PerformanceAnalysis h3{font-size: 16px;}
.dashboardTotalCounter .Chart{padding:10px 20px 20px;}
.dashboardTotalCounter .Chart .yearFilter{ margin-bottom:15px;}
}

@media (min-width: 240px) and (max-width: 560px) {
	.FailureAnalysis .heading .yearFilter{width:100%;}
	.PerformanceAnalysis .yearFilter{width:100%;}
	.dashboardTotalCounter .Chart .yearFilter {width: 100%;}
}
/*////////////////////////------ custom checkbox for index ------ /////////////////////////////*/

.control__indicator { position: absolute;   top: 0;   left: 0;   height: 22px;   width: 22px;  border-radius:50%;   background: none; border: 1px solid #fff; }
.control--radio .control__indicator {  border-radius: 50%;  }
.control:hover input ~ .control__indicator,.control input:focus ~ .control__indicator {  background:none; }
.control input:checked ~ .control__indicator {  background:none;  }
.control:hover input:not([disabled]):checked ~ .control__indicator,.control input:checked:focus ~ .control__indicator {  background:none; }
.control input:disabled ~ .control__indicator {  background: #e6e6e6;   opacity: 0.6;   pointer-events: none; }
.control__indicator:after {  content: '';   position: absolute;   display: none; }
.control input:checked ~ .control__indicator:after {  display: block;  }
.control--checkbox .control__indicator:after {  left: 10px;   top: -5px;   width: 10px;   height: 20px;   border: solid #fff;   border-width: 0 2px 2px 0;   transform: rotate(45deg);  }
.control--checkbox input:disabled ~ .control__indicator:after {  border-color: #7b7b7b; }

/*////////////////////////------custom checkbox for Dashbord ------ /////////////////////////////*/

.control__indicator_checkbox { position: absolute;   top:4px;   left: 0;   height: 16px;   width: 16px;  border-radius:0px;   background: none; border: 1px solid #0067aa; }
.control--radio .control__indicator_checkbox {  border-radius: 0%;  }
.control:hover input ~ .control__indicator_checkbox,.control input:focus ~ .control__indicator_checkbox {  background:none; }
.control input:checked ~ .control__indicator_checkbox { background: #fff; border: 4px solid #0000ff;  }
.control:hover input:not([disabled]):checked ~ .control__indicator_checkbox,.control input:checked:focus ~ .control__indicator_checkbox {  background: #fff; border: 4px solid #0000ff; }
.control input:disabled ~ .control__indicator_checkbox {  background: #e6e6e6;   opacity: 0.6;   pointer-events: none; }
.control__indicator_checkbox:after {  content: '';   position: absolute;   display: none; }
.control input:checked ~ .control__indicator_checkbox:after {  display: block;  }
.control--checkbox .control__indicator_checkbox:after {  left: 5px;   top: 5px;   width: 10px;   height: 10px;    border: solid #fff;   border-width: 0 2px 2px 0;   transform: rotate(45deg);  }
.control--checkbox input:disabled ~ .control__indicator_checkbox:after {  border-color: #7b7b7b; }

/*////////////////////////-------custom redio for Dashbord ------ /////////////////////////////*/

.control__indicator_radio { position: absolute;   top: 3px;   left: 0;   height: 16px;   width: 16px;  border-radius:50%;   background: none; border: 1px solid #0067aa; }
.control-radio .control__indicator_radio {  border-radius: 50%;  }
.control:hover input ~ .control__indicator_radio,.control input:focus ~ .control__indicator_radio {  background:none; }
.control input:checked ~ .control__indicator_radio {  background:none;  border: 2px solid #0000ff;  }
.control:hover input:not([disabled]):checked ~ .control__indicator_radio,.control input:checked:focus ~ .control__indicator_radio {  background:none;  border: 2px solid #0000ff; }
.control input:disabled ~ .control__indicator_radio {  background: #e6e6e6;   opacity: 0.6;   pointer-events: none; }
.control__indicator_radio:after {  content: '';   position: absolute;   display: none; }
.control input:checked ~ .control__indicator_radio:after {  display: block;  }
.control-radio .control__indicator_radio:after { left: 0px;top: 0px;height: 12px;width: 12px;border-radius: 50%;background: #fff;border: 2px solid #0000ff; }
.control-radio input:disabled ~ .control__indicator_radio:after { border-color: #7b7b7b; }




/*===============================================================================*/





.SumoSelect p {margin: 0;}
.SumoSelect{width:100%;}

.SelectBox {padding: 5px 8px;}

/* Filtering style */
.SumoSelect .hidden { display:none; }
.SumoSelect .search-txt{display:none;outline:none;}
.SumoSelect .no-match{display:none;padding: 6px;}
.SumoSelect.open .search-txt{display: inline-block;position: absolute;top: 0;left: 0;width: 100%;margin: 0;padding: 5px 8px;border: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-radius: 5px;}
.SumoSelect.open>.search>span, .SumoSelect.open>.search>label{visibility:hidden;}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass,.SumoUnder { position: absolute; top: 0; left: 0; right: 0; height: 100%; width: 100%; border: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
.SelectClass{z-index: 1;}

.SumoSelect > .optWrapper > .options  li.opt label, .SumoSelect > .CaptionCont,.SumoSelect .select-all > label { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; margin-bottom: 0px;}

.SumoSelect { display: inline-block; position: relative;outline:none;}
.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {box-shadow: none;border-color: #fff; border:0px; border-bottom:1px solid #C6C6C6;}
.SumoSelect > .CaptionCont { position: relative; border: 0px solid #A4A4A4; min-height: 14px; background-color: #fff;border-radius:0px;margin:0; border-bottom:1px solid #C6C6C6; width:100%; background: none; box-shadow: 0 1px 0px #e7e7e7; margin-bottom:15px; height:34px;}
 .SumoSelect > .CaptionCont > span { display: block; padding-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;cursor:default; margin-left: -9px; font-size: 16px;color: #999;}
            /*placeholder style*/
.SumoSelect > .CaptionCont > span.placeholder { color: #999; font-style: italic; }

.SumoSelect > .CaptionCont > label { position: absolute; top: 0; right: 0; bottom: 0; width: 15px;}
.SumoSelect > .CaptionCont > label > i { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
 background-position: center center; width: 16px; height: 16px; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;background-repeat: no-repeat;opacity: 0.4;}
.SumoSelect > .optWrapper {display:none; z-index: 1000; top: 30px; width: 100%; position: absolute; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11); border-radius: 3px;overflow: hidden;}
.SumoSelect.open > .optWrapper {top:35px; display:block;}
.SumoSelect.open > .optWrapper.up {top: auto;bottom: 100%;margin-bottom: 5px;}

.SumoSelect > .optWrapper ul {list-style: none; display: block; padding: 0; margin: 0; overflow: auto;}
.SumoSelect > .optWrapper > .options { border-radius: 2px;position:relative;
/*Set the height of pop up here (only for desktop mode)*/
max-height: 250px;
/*height*/ }
.SumoSelect > .optWrapper > .options li.group.disabled > label{opacity:0.5;}
.SumoSelect > .optWrapper > .options li ul li.opt{padding-left: 22px;}
.SumoSelect > .optWrapper.multiple > .options li ul li.opt{padding-left: 50px;}
.SumoSelect > .optWrapper.isFloating > .options {max-height: 100%;box-shadow: 0 0 100px #595959;}
.SumoSelect > .optWrapper > .options  li.opt { padding: 8px 6px; position: relative;border-bottom: 1px solid #f5f5f5;}
.SumoSelect > .optWrapper > .options > li.opt:first-child { border-radius: 2px 2px 0 0; }
.SumoSelect > .optWrapper > .options > li.opt:last-child {border-radius: 0 0 2px 2px; border-bottom: none;}
.SumoSelect > .optWrapper > .options li.opt:hover { background-color: #E4E4E4; }
.SumoSelect > .optWrapper > .options li.opt.sel{background-color: #E4E4E4;color: #666; border-bottom: 1px solid #E4E4E4;}

.SumoSelect > .optWrapper > .options li label { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;cursor: pointer; text-transform:capitalize;}
.SumoSelect > .optWrapper > .options li span { display: none; }
.SumoSelect > .optWrapper > .options li.group > label {cursor: default;padding: 8px 6px;font-weight: bold;}

/*Floating styles*/
.SumoSelect > .optWrapper.isFloating { position: fixed; top: 0; left: 0; right: 0; width: 90%; bottom: 0; margin: auto; max-height: 90%; }

/*disabled state*/
.SumoSelect > .optWrapper > .options li.opt.disabled { background-color: inherit;pointer-events: none;}
.SumoSelect > .optWrapper > .options li.opt.disabled * { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */ filter: alpha(opacity=50); /* Netscape */ -moz-opacity: 0.5; /* Safari 1.x */ -khtml-opacity: 0.5; /* Good browsers */ opacity: 0.5; }


/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options li.opt { padding-left: 35px;cursor: pointer;}
.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span{position:absolute;display:block;width:30px;top:0;bottom:0;margin-left:-35px;}
.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i{position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0;width: 14px;height: 14px;border: 1px solid #AEAEAE;border-radius: 2px;box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);background-color: #fff;}
.SumoSelect > .optWrapper > .MultiControls { display: none; border-top: 1px solid #ddd; background-color: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.13); border-radius: 0 0 3px 3px; }
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls { display: block; margin-top: 5px; position: absolute; bottom: 0; width: 100%; }

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls { display: block; }
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p { padding: 6px; }

.SumoSelect > .optWrapper.multiple > .MultiControls > p { display: inline-block; cursor: pointer; padding: 12px; width: 50%; box-sizing: border-box; text-align: center; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover { background-color: #f1f1f1; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { border-right: 1px solid #DBDBDB; border-radius: 0 0 0 3px; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { border-radius: 0 0 3px 0; }
/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options li.opt { padding: 12px 6px; }

/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt { padding-left: 35px; }
.SumoSelect > .optWrapper.multiple.isFloating { padding-bottom: 43px; }

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i{
	background-color:#999;box-shadow: none; border-color: transparent;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-position: center center;}
/*disabled state*/
.SumoSelect.disabled { opacity: 0.7;cursor: not-allowed;}
.SumoSelect.disabled > .CaptionCont{border-color:#999;box-shadow:none;}

/**Select all button**/
.SumoSelect .select-all{border-radius: 3px 3px 0 0;position: relative; border-bottom: 1px solid #ddd; background-color: #fff;padding: 8px 0 3px 35px;height: 20px;cursor: pointer;}
.SumoSelect .select-all > label, .SumoSelect .select-all > span i{cursor: pointer;}
.SumoSelect .select-all.partial > span i{background-color:#999;}


/*styling for optgroups*/
.SumoSelect > .optWrapper > .options li.optGroup { padding-left: 5px; text-decoration: underline; }







.inputMatrial .ng-valid{ width:100% !important;     padding-right: 20px !important;}
.inputMatrial .ng-invalid{ width:100% !important;     padding-right: 20px !important;}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset;}

.inputMatrial input.ng-valid:focus{background: none; outline:none;}
.inputMatrial input.ng-invalid:focus{background: none; outline:none;}
/*below css is added by azmat*/
.manageForm { font-size: 16px; color: #666; height: 34px; padding:6px 0px; border:0px;  width:100%; border-bottom:1px solid #C6C6C6;}




