<body class="" *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoader">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />
            <a> ADMIN </a>
            <img src="asset/img/angle-right.png">Configured Client List </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <div id="Filterbtn" class="collapse in">
                <div class="row  inputDesign autoComplete">

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <select name="" [(ngModel)]="searchModel.BusinessCategory" class="SlectBox" placeholder="Select Business Category" (ngModelChange)="getBusinessCategory()">
                      <option value="0">Select Business Category</option>
                      <option value="1">Testing</option>
                      <option value="2">Inspection</option>
                      <!-- <option value="3">FCI</option> -->
                    </select>
                  </div>


                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <input auto-complete [(ngModel)]="CompanyName" (ngModelChange)="onCompanyChange(CompanyName)" [source]="companyList"
                      placeholder="Company Name" display-property-name="CompanyName" value-property-name=null style="margin-bottom: 0px;" [list-formatter]="renderCompany" close-on-focusout="true"
                    />
                  </div>

                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <select name="" [(ngModel)]="searchModel.ReleaseStatus" class="SlectBox">
                      <option value="0">Select Configured Status</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-success searchBtn " (click)="search()"> Search</button>
                    <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="exportcontainer">
        <button type="button" (click)="exportToExcel()" class="btn btn-success export-excel ">Export To Excel</button>
      </div>

      <section class="DataGrid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 nodadding">
              <div class="table-responsive">
                <table class="table manageUserTable">
                  <thead class="head">
                    <tr>
                      <!-- <th>S.No.</th> -->
                      <th>company Name </th>
                      <th>Company Type </th>
                      <th style="min-width:115px !important;max-width:115px !important;">User Configured Status</th>
                      <th>Release Date </th>
                      <th>Business Category</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let client of configurationList.clientConfigurationList | paginate: { id: 'server', itemsPerPage: itemPerPage, currentPage: p ,totalItems: totalItem};let i= index">
                      <!-- <td>{{i+1}}</td> -->
                      <td>
                        {{client.CompanyName}}
                      </td>
                      <td>
                        <span class="btn-small btn-link" style="cursor: pointer;" (click)="viewClientList(Type,client)" *ngFor="let Type of client.CompanyType;let j=index">{{Type}}
                          <strong>{{j === client.CompanyType.length - 1 ? '' : ' / '}}</strong>
                        </span>
                      </td>
                      <td>
                        <button *ngIf="client.ReleaseStatus=='Yes'" type="button" class="btn-small btn-link" (click)="ConfiguiredClientList(client)">{{client.ReleaseStatus}}</button>
                        <span *ngIf="client.ReleaseStatus=='No'" style="padding: 6px 12px">{{client.ReleaseStatus}}</span>
                      </td>
                      <td>{{client.ReleaseDate}} </td>
                      <td>{{client.BusinessCategoryName}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>
</body>

<!-- modal for Configured user List -->
<div class="modal fade" id="CongfiguredClientList" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Configured Users Detail</h4>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <div class="table-responsive_iiji">
              <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                <thead class="head">
                  <tr>
                    <!-- <th class="textCenter" style="min-width:80px;">S.NO</th> -->
                    <th class="textCenter" style="min-width:100px;">User Name</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">User Create Date</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Country</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">City</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">User Role</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">User Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of configuredUserList | paginate: { id: 'server1', itemsPerPage: paginationPageSize, currentPage: currentPage ,totalItems: totalRecord};let i= index">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{user.UserName}}</td>
                    <td>{{user.UserCreatedDate}}</td>
                    <td>{{user.CountryName}}</td>
                    <td>{{user.CityName}}</td>
                    <td>
                      <div>
                        <ol type="1">
                          <li class="btn-small btn-link" style="cursor: pointer;" (click)="viewRole(role.RoleId)" *ngFor="let role of user.UserRoles;let j=index">{{role.RoleName}}</li>
                        </ol>
                      </div>
                    </td>
                    <td>{{user.UserCategoryName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <pagination-controls (pageChange)="getPopUpPage($event)" id="server1"></pagination-controls>
        <button type="button" class="btn btn-success export-excel" (click)="ExportToExcelUserList()" [disabled]="hideExportToExcel">Export to Excel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for Mapped Vendor,Agent,Manufacturer List  List -->
<div class="modal fade" id="MappedCompanyList" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel" style="width: 1156px;margin-top:130px;">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mapped Vendor,Agent,Manufacturer</h4>
      </div>
      <div class="modal-body">
        <section class="filter" *ngIf="vendorList && vendorList.length>0">
          <span class="Vendor open_in" data-toggle="collapse" data-target="#Vendor"></span>
          <h4 class="List-title">Vendor List</h4>
          <div id="Vendor" class="collapse ">
            <div class="row ">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <div class="table-responsive_iiji">
                  <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                    <thead class="head">
                      <tr>
                        <!-- <th class="textCenter" style="min-width:80px;">S.NO</th> -->
                        <th class="textCenter" style="min-width:100px;">Company Name</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Address</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Labority Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Contact No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let Vendor of vendorList;let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{Vendor.CompanyName}}</td>
                        <td>{{Vendor.Email}}</td>
                        <td>{{Vendor.CompanyAddress}}</td>
                        <td>{{Vendor.LaborityEmail}}</td>
                        <td>{{Vendor.ContactNo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="filter" *ngIf="agentList && agentList.length>0">
          <span class="Agent open_in" data-toggle="collapse" data-target="#Agent"></span>
          <h4 class="List-title">Agent List</h4>
          <div id="Agent" class="collapse">
            <div class="row ">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <div class="table-responsive_iiji">
                  <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                    <thead class="head">
                      <tr>
                        <!-- <th class="textCenter" style="min-width:80px;">S.NO</th> -->
                        <th class="textCenter" style="min-width:100px;">Company Name</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Address</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Labority Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Contact No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let agent of agentList;let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{agent.CompanyName}}</td>
                        <td>{{agent.Email}}</td>
                        <td>{{agent.CompanyAddress}}</td>
                        <td>{{agent.LaborityEmail}}</td>
                        <td>{{agent.ContactNo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="filter" *ngIf="manufacturerList && manufacturerList.length>0">
          <span class="Manufacture open_in" data-toggle="collapse" data-target="#Manufacture"></span>
          <h4 class="List-title">Manufacturer List</h4>
          <div id="Manufacture" class="collapse">
            <div class="row ">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <div class="table-responsive_iiji">
                  <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                    <thead class="head">
                      <tr>
                        <!-- <th class="textCenter" style="min-width:80px;">S.NO</th> -->
                        <th class="textCenter" style="min-width:100px;">Company Name</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Company Address</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Labority Email</th>
                        <th class="textCenter minwidth" style="min-width:100px !important;">Contact No</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let manufacturer of manufacturerList;let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{manufacturer.CompanyName}}</td>
                        <td>{{manufacturer.Email}}</td>
                        <td>{{manufacturer.CompanyAddress}}</td>
                        <td>{{manufacturer.LaborityEmail}}</td>
                        <td>{{manufacturer.ContactNo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="ComapnyType" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg analysisDetailsModel" style="width: 1156px;margin-top:130px;">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Client List</h4>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <div class="table-responsive_iiji">
              <table id="AnalysisDetail" class="table table-fixed  tableWrap">
                <thead class="head">
                  <tr>
                    <!-- <th class="textCenter" style="min-width:80px;">S.NO</th> -->
                    <th class="textCenter" style="min-width:100px;">Company Name</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Company Email</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Company Address</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Labority Email</th>
                    <th class="textCenter minwidth" style="min-width:100px !important;">Contact No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clientList;let i = index">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{client.CompanyName}}</td>
                    <td>{{client.Email}}</td>
                    <td>{{client.CompanyAddress}}</td>
                    <td>{{client.LaborityEmail}}</td>
                    <td>{{client.ContactNo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>