﻿<!DOCTYPE html>
<html 🆖>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../asset/img/fevicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="">

    <link rel="stylesheet" crossorigin="anonymous" type='text/css' href="asset/css/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw">

    <link href="./asset/css/signup.css" rel='stylesheet' type='text/css' />
    <link href="./asset/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="./asset/css/font.css" rel='stylesheet' type='text/css' />
    <link href="./asset/css/style.css" rel='stylesheet' type='text/css' />
    <link href="./asset/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href="./asset/css/new.css" rel="stylesheet">
    <link href="./asset/css/sweetalert.css" rel="stylesheet">
    <link href="./asset/css/indigo-pink.css" rel="stylesheet" type='text/css'>
    <!-- e-commerce CSS-->
    <link rel="stylesheet" type="text/css" id="ecommStylesheet" href="./asset/css/e-commerce.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="./asset/js/amcharts/amcharts.min.js"> </script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/exporting/amexport_combined.js"></script>
    <script src="./asset/js/brow.js"> </script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>-->
    <script src="./asset/js/html2canvas.min.js"></script>
    <!--end-->

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
            <% } %>

                <!-- base url -->
                <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>
    <app>
        <!-- <img src="./asset/img/loginImage.jpg" class="loginImages-Banner"> -->
    </app>
    <!-- <div class="serverHome">
    <img src="asset/img/warning1.png">

    <div><h2>We Apologize, the website is under maintenance</h2></div>
</div> -->

    <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
    <!--<script>
  (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
  (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
  r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71073175-1', 'auto');
  ga('send', 'pageview');
</script>-->


    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
            <script>
                $(document).ready(function () {
                    $('.nav.nav-tabs[role="tablist"] li').click(function () {
                        $(this).parent().toggleClass('open');
                    });

                    $(document).on('click', '.continueBtn', function () {
                        window.scrollTo(0, 0);

                        var dataTarget = $(this).attr('data-target');
                        var dataHide = $(this).attr('data-hide');
                        $('.stepsContainer').find('.active').removeClass('active');
                        $('.stepsContainer').find('#' + dataTarget).addClass('active');
                        //nav	
                        $('.stepsNav').find('#' + dataTarget + 'Nav').addClass('current');
                        $('.stepsNav').find('#' + dataHide + 'Nav').removeClass('current');
                        $('.stepsNav').find('#' + dataHide + 'Nav').addClass('active');

                    });

                    $(document).on('click', '.backBtn', function () {
                        var dataTarget = $(this).attr('data-target');
                        var dataHide = $(this).attr('data-hide');
                        $('.stepsContainer').find('.active').removeClass('active');
                        $('.stepsContainer').find('#' + dataTarget).addClass('active');
                        //nav	
                        $('.stepsNav').find('#' + dataTarget + 'Nav').addClass('current');
                        $('.stepsNav').find('#' + dataTarget + 'Nav').removeClass('active');
                        $('.stepsNav').find('#' + dataHide + 'Nav').removeClass('current');
                    });

                    $(document).on('click', '.gotoHomePage', function () {
                        var dataTarget = $(this).attr('data-target');
                        var dataHide = $(this).attr('data-hide');
                        $('.stepsContainer').find('.active').removeClass('active');
                        $('.stepsContainer').find('#' + dataTarget).addClass('active');
                        //nav		
                        $('.stepsNav').find('.active').removeClass('active');
                        $('.stepsNav').find('.current').removeClass('current');
                        $('.stepsNav').find('#' + dataTarget + 'Nav').addClass('current');
                    });

                    $.fn.popover.Constructor.prototype.reposition = function () {
                        var $tip = this.tip()
                        var autoPlace = true

                        var placement = typeof this.options.placement === 'function' ? this.options.placement.call(this, $tip[0], this.$element[0]) : this.options.placement

                        var pos = this.getPosition()
                        var actualWidth = $tip[0].offsetWidth
                        var actualHeight = $tip[0].offsetHeight

                        if (autoPlace) {
                            var orgPlacement = placement
                            var viewportDim = this.getPosition(this.$viewport)

                            placement = placement === 'bottom' &&
                                pos.bottom + actualHeight > viewportDim.bottom ? 'top' : placement === 'top' &&
                                    pos.top - actualHeight < viewportDim.top ? 'bottom' : placement === 'right' &&
                                        pos.right + actualWidth > viewportDim.width ? 'left' : placement === 'left' &&
                                            pos.left - actualWidth < viewportDim.left ? 'right' : placement

                            $tip
                                .removeClass(orgPlacement)
                                .addClass(placement)
                        }

                        var calculatedOffset = this.getCalculatedOffset(placement, pos, actualWidth, actualHeight)

                        this.applyPlacement(calculatedOffset, placement)
                    };

                });
            </script>


</body>

</html>