<body *ngIf="userCredential && userDetail">
  <div class="warpper-inner">
      <div class="content-inside">
          <custom-header></custom-header>
          <div *ngIf="isLoader">
              <div class="loading-dialog"></div>
          </div>
          <section class="breadcrum_bg">
              <div class="container-fluid">
                  <p>
                      <a>Dashboard </a>
                      <img src="asset/img/angle-right.png" />
                      <a> ADMIN </a>
                      <img src="asset/img/angle-right.png">Manage Base Target</p>
              </div>
          </section>
          <section class="filter">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 ">
                  <h3 class="">Search</h3>
                  <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
                  <div id="Filterbtn" class="collapse in">
                    <div class="row inputDesign">
                      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                        <div class="custom_Date">                         
                          <my-date-picker class="date-pick" [placeholder]="'Tagret Date'" [options]="myDatePickerOptions" [(ngModel)]="searchedDate"
                         (dateChanged)="onTargetDateChanged($event)">
                        </my-date-picker>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 inputDesign">
                        <select [(ngModel)]="baseTargetSearchText.labLaoctionId" [ngModelOptions]="{standalone: true}" (ngModelChange) ="getDivisionList(baseTargetSearchText.labLaoctionId)">
                          <option *ngFor="let location of labLocationList" [value]="location.LabLocationId">
                            {{location.LabLocationName}} </option>
                        </select>
                      </div>
                      <div class="inputDesign col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                        <select [(ngModel)]="baseTargetSearchText.DivisionId">
                          <option *ngFor="let Division of DivisionList" [value]="Division.DepartmentID">
                            {{Division.DepartmentDesc}} </option>
                        </select>
                      </div>
          
                      <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                        <div class="inputDesign">
                          <button type="button" class="btn btn-success searchBtn " (click)="getTargetList()"> Search</button>
                          <button type="button" class="btn btn-primary-one searchBtn " (click)="resetParameters()"> Reset</button>
                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="DataGrid config">
            <div class="container-fluid" style="float: right;margin-bottom: 14px;">
                <button class="btn btn-primary" *ngIf="userCredential.UserPermission.CopyBaseTarget" (click)="CopyPreviousTarget()">
                    Copy Previous Target
                  </button>
              <button class="btn btn-primary" *ngIf="userCredential.UserPermission.NewBaseTarget" (click)="addViewModal()">
                Add Base Target
              </button>
            </div>
          </section>

          <section class="DataGrid">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 nodadding">
                          <div class="table-responsive">
                              <table class="table">
                                <thead class="head">
                                  <tr>
                                    <th  rowspan="2">Location</th>
                                    <th  rowspan="2">Division</th>
                                    <th  rowspan="2">Sample Login</th>
                                    <th  rowspan="2">Test Assignmnet</th>
                                    <th  rowspan="2">Breakdown</th>
                                    <th  rowspan="2">Scrapping</th>
                                    <th  rowspan="2">DCD</th>
                                    <th  rowspan="2">Reporting</th>
                                    <th  rowspan="2">Logout</th>                                    
                                    <th colspan="2">Softline Target</th>
                                    <th colspan="2">HardLine Target</th>
                                    <th colspan="2">Automative Target</th>
                                    <th colspan="2">Analytical Target</th>
                                    <th colspan="2">Toys Target</th>
                                    <th colspan="2">Food Target</th>
                                    <th  rowspan="2">Target Date</th>
                                    <th class="textLeft" rowspan="2">Action</th>
                                  </tr>

                                  <tr>
                                    <th >Testing</th>
                                    <th >Resulting</th>
                                    <th >Testing</th>
                                    <th >Resulting</th>
                                    <th >Testing</th>
                                    <th >Resulting</th>
                                    <th >Testing</th>
                                    <th >Resulting</th>
                                    <th >Testing</th>
                                    <th >Resulting</th>                                    
                                    <th >Testing</th>
                                    <th >Resulting</th>                                   
                                  </tr>

                                </thead>
                                <tbody *ngFor="let target of targetInfoList | paginate: {itemsPerPage: baseTargetSearchText.PageSize, currentPage: pageNumber ,totalItems:totalItem};let i=index">
                                    <tr>
                                    <td class="textLeft" style="min-width: 150px"> {{target.LabLocation_Name}}</td>
                                    <td class="textLeft" style="min-width: 100px"> {{target.Division_Name}}</td>
                                    <td class="textLeft" style="min-width: 100px"> {{target.SampleLogin_Target}}</td>
                                    <td class="textLeft" style="min-width: 60px">  {{target.TestAssignment_Target}} </td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.Breakdown_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.Scrapping_Target}}</td>
                                    <td class="textLeft" style="min-width: 80px;"> {{target.DCD_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.Reporting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.Logout_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.SL_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.SL_LabResulting_Target}}</td> 
                                    <td class="textLeft" style="min-width: 100px;">{{target.HL_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.HL_LabResulting_Target}}</td>                                     
                                    <td class="textLeft" style="min-width: 100px;">{{target.AT_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.AT_LabResulting_Target}}</td>  
                                    <td class="textLeft" style="min-width: 100px;">{{target.AN_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.AN_LabResulting_Target}}</td>  
                                    <td class="textLeft" style="min-width: 100px;">{{target.TY_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.TY_LabResulting_Target}}</td>  
                                    <td class="textLeft" style="min-width: 100px;">{{target.FOOD_LabTesting_Target}}</td>
                                    <td class="textLeft" style="min-width: 100px;">{{target.FOOD_LabResulting_Target}}</td>  
                                    <td class="textLeft" style="min-width: 100px;">{{target.TargetDate| date:'yyyy-MM-dd' }}</td>
                                    <td class="textLeft" style="min-width: 100px;">
                                      <button  class="btn btn-primary btn-sm" *ngIf="userCredential.UserPermission.EditBaseTarget && !(target.TargetDate < target.CurrentDate)" (click)="editViewModal(i)">Edit</button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <pagination-controls [hidden]="!targetInfoList"  (pageChange)="changePageNumber($event)" ></pagination-controls>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>

  <custom-footer></custom-footer>

</body>
<div class="modal fade" id="BaseTarget" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md uploadReportModel" style="width: 78%;margin-top: 12px;">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" (click)="resetPoupModel()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Base Line Target </h4>
      </div>
      <div class="modal-body modal_Height">
        <form id="TargetDetailForm" autocomplete="off" name="TargetDetailForm" #TargetDetailForm="ngForm">
          <div class="Main_container">

            <div style="margin-bottom: 10px">
              <h4>Lab Location And Division Selection</h4>
            </div>

            <div class="container_div CompanyMappingBody">
              <div class="row form inputDesign">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                  <label class="lable_Style">Lab Location</label>
                  <select [(ngModel)]="SaveTargetInfoModel.LabLocation_Id" [disabled]="editButton" (ngModelChange)="getPopupDivisionList(SaveTargetInfoModel.LabLocation_Id)"
                    [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let location of labLocationList" [value]="location.LabLocationId">
                      {{location.LabLocationName}} </option>
                  </select>
                  <div *ngIf="TargetDetailFormSubmitted && (SaveTargetInfoModel.LabLocation_Id==0)" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                    <div>Lab Location is required.</div>
                  </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12  modelInput Modalmultiselectcheck">
                  <label class="lable_Style">Division</label>
                  <ss-multiselect-dropdown *ngIf="!editButton" class="SlectBox" [(ngModel)]="SaveTargetInfoModel.DivisionIds" [options]="popupDivisions"
                    [texts]="divisionText" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
                  <div *ngIf="TargetDetailFormSubmitted && (SaveTargetInfoModel.DivisionIds?.length ==0 || !SaveTargetInfoModel.DivisionIds)"
                    class="alert alert-danger" style="padding: 3px;margin-bottom:5px;margin-top: 10px;">
                    <div>Division is required.</div>
                  </div>

                  <select *ngIf="editButton" disabled="editButton" [(ngModel)]="SaveTargetInfoModel.Division_Id" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let Division of popupDivisionList; let DivisionIndex = index" [value]="Division.DepartmentID">
                      {{Division.DepartmentDesc}} </option>
                  </select>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                  <label class="lable_Style">Created Date</label>
                  <div class="custom_Date">
                    <input type="text" name="" disabled [ngModel]="SaveTargetInfoModel.TargetDate | date:'yyyy-MM-dd' " [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>

              </div>
            </div>

            <div style="margin-bottom: 10px">
              <h4>Input Performance Per Workstation Base Line</h4>
            </div>

            <div class="container_div">
              <div class="row inputDesign">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Sample Login</label>
                  <input class="w3-input" name="SampleLogin" #SampleLogin="ngModel" [(ngModel)]="SaveTargetInfoModel.SampleLogin_Target" placeholder="Sample Login"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Test Assignment </label>
                  <input class="w3-input" name="TestAssignment" #TestAssignment="ngModel" [(ngModel)]="SaveTargetInfoModel.TestAssignment_Target"
                    placeholder="Test Assignment" type="number" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Breakdown </label>
                  <input class="w3-input" name="Breakdown" #Breakdown="ngModel" [(ngModel)]="SaveTargetInfoModel.Breakdown_Target" placeholder="Breakdown"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Scrapping </label>
                  <input class="w3-input" name="Scrapping" #Scrapping="ngModel" [(ngModel)]="SaveTargetInfoModel.Scrapping_Target" placeholder="Scrapping"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">DCD</label>
                  <input class="w3-input" name="DCD_Target" #DCD_Target="ngModel" [(ngModel)]="SaveTargetInfoModel.DCD_Target" placeholder="DCD"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Reporting</label>
                  <input class="w3-input" name="Reporting" #Reporting="ngModel" [(ngModel)]="SaveTargetInfoModel.Reporting_Target" placeholder="Reporting"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                  <label class="lable_Style">Logout </label>
                  <input class="w3-input" name="Logout" #Logout="ngModel" [(ngModel)]="SaveTargetInfoModel.Logout_Target" placeholder="Logout"
                    type="number" required [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

            <div style="display: flex;">
              <div style="width:100%;margin-right: 10px;">
                <div style="margin-bottom: 10px">
                  <h4>Input Number of Staff</h4>
                </div>
                <div class="container_div">
                  <div class="row form inputDesign">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <label class="lable_Style">No of Staff</label>
                      <input class="w3-input" name="NoOfStaff" #NoOfStaff="ngModel" [(ngModel)]="SaveTargetInfoModel.No_Of_Staff" placeholder="No of Staff"
                        type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-bottom: 10px">
              <h4>Input Testing lab Target Base Line</h4>
            </div>

            <div style="display:inline-block;">
              <div style="margin-right:1%;float:left;width:49%">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Softline Testing Target</label>
                      <input class="w3-input" name="SLLabTesting" #SLLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.SL_LabTesting_Target"
                        placeholder="Softline Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Softline Resulting Target</label>

                      <input class="w3-input" name="SLLabResulting" #SLLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.SL_LabResulting_Target"
                        placeholder="Softline Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
              <div style="width:50%;float:left">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Hardline Testing Target</label>
                      <input class="w3-input" name="HLLabTesting" #HLLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.HL_LabTesting_Target"
                        placeholder="Hardline Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                      <!-- <div *ngIf="TargetDetailFormSubmitted && !HLLabTesting.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                        <div *ngIf="HLLabTesting?.errors?.required">Testing Target is required.</div>
                      </div> -->
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Hardline Resulting Target</label>

                      <input class="w3-input" name="HLLabResulting" #HLLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.HL_LabResulting_Target"
                        placeholder="Hardline Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                      <!-- <div *ngIf="TargetDetailFormSubmitted && !HLLabResulting.valid" class="alert alert-danger" style="padding: 3px;margin-bottom:5px;">
                        <div *ngIf="HLLabResulting?.errors?.required">Resulting Target is required.</div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="display:inline-block;">
              <div style="margin-right:1%;float:left;width:49%">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Toys Testing Target</label>
                      <input class="w3-input" name="ToyLabTesting" #ToyLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.TY_LabTesting_Target"
                        placeholder="Toys Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Toys Resulting Target</label>
                      <input class="w3-input" name="ToyLabResulting" #ToyLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.TY_LabResulting_Target"
                        placeholder="Toys Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>

              <div style="width:50%;float:left">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Analytical Testing Target</label>
                      <input class="w3-input" name="ANLabTesting" #ANLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.AN_LabTesting_Target"
                        placeholder="Analytical Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Analytical Resulting Target</label>

                      <input class="w3-input" name="ANLabResulting" #ANLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.AN_LabResulting_Target"
                        placeholder="Analytical Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="display:inline-block;">
              <div style="margin-right:1%;float:left;width:49%">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Automative Testing Target</label>
                      <input class="w3-input" name="ATLabTesting" #ATLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.AT_LabTesting_Target"
                        placeholder="Automative Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Automative Resulting Target</label>

                      <input class="w3-input" name="ATLabResulting" #ATLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.AT_LabResulting_Target"
                        placeholder="Automative Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>

              <div style="width:50%;float:left">
                <div class="container_div">
                  <div class="row inputDesign">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Food Testing Target</label>
                      <input class="w3-input" name="FoodLabTesting" #FoodLabTesting="ngModel" [(ngModel)]="SaveTargetInfoModel.FOOD_LabTesting_Target"
                        placeholder="Testing Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                      <label class="lable_Style">Food Resulting Target</label>{{SaveTargetInfoModel.FOOD_LabResulting_Target}}

                      <input class="w3-input" name="FoodLabResulting" #FoodLabResulting="ngModel" [(ngModel)]="SaveTargetInfoModel.FOOD_LabResulting_Target"
                        placeholder="Resulting Target" type="number" required [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="AddandUpdateTargetInfo()">Submit</button>
        <button type="button" class="btn btn-default" (click)="resetPoupModel()" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="DivisionAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md" style="margin-top:10%">
    <div class="modal-content ">
      <div class="modal-body ApplicationModal">
        <div class="row form inputDesign">
          <div>
            <div class="col-md-12" *ngIf="ExistDivisionlist.length>0">
              <div>Target detail for Lab location
                <span *ngFor="let d of ExistDivisionlist; let i= index;">
                  <span *ngIf="i==0"> {{d.LabLocation_Name}} : </span> {{d.Division_Name}}, </span> are already exist and detail did not updated
                and except for all divisions target info has been saved successfully</div>
            </div>
            <div class="col-md-12" *ngIf="ExistDivisionlist.length==0">
              <label>Target Info has been saved successfully</label>
            </div>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-danger" style="margin-top: 20px;width: 12%;" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>