.container_div{
    background: white;
    margin: 6px 0px;
    padding: 5px 25px;
    border: 1px solid #c7b8b8;
}
.lable_Style{
    font-weight: 600 !important;
    font-size: 13px;
    margin-bottom:2px !important;
}
.inputDesign input {
    margin-bottom: 6px;
}
.inputDesign Select { 
    margin-bottom: 8px;
}
.Main_container h4
{border-bottom: solid 1px #0067aa;line-height: 30px; color:#2e6da4;font-family: Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;}
.modal_Height {
    max-height: 520px;
    overflow: auto;
    padding:0px 15px 3px 15px !important
} 
.container_div .abc   .Modalmultiselectcheck .SlectBox .dropdown-inline {
    width: 100%!important;
}
.Modalmultiselectcheck button {
    border: 0px;
    padding: 6px 10px 6px 0px;
    width: 100%;
    text-align: left;
    box-shadow: 0 1px 0px #e7e7e7;
    border-bottom: 1px solid #C6C6C6;
    position: relative;
    background: none;
    border-radius: 0px;
}
.wc-date-container {
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    background: #fff;
    line-height: 20px;
    border-bottom: 1px solid grey;
}
.ApplicationModal {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 31px;
    border-radius: 5px;
    border: solid 1px;
    text-align: center;
    font-size:17px;
}