<div class="content-inside" *ngIf="userDetail && userCredential">
  <custom-header></custom-header>
  <section class="filter dashboardfilter">
    <div class="formBg">
      <div class="dashboardIcon" id="closeMode">
        <span> {{userCredential.CompanyName}} </span>
      </div>
      <div class="dashboardIcon height{{adhocSearch.length}}" id="collepsMode">
        <img src={{userCredential.CompanyLogo}} id="dashboardIconImg" class="wow fadeIn" alt="" />
      </div>
      <div class="filterBtnDash open_in " (click)="changeClass()"></div>
      <!--
            <div class="dashboardIcon moClient"> <img src="asset/img/dashboardIcon.png" alt=""/><span> Demo Client </span></div>
            <div class="dashboardIcon desktopClient"> <img src="asset/img/dashboardIcon.png" alt=""/><span> Demo Client </span></div>
            -->
      <div class="filterForm ">
        <h3 class="hocSearch">Ad Hoc Search </h3>
        <form class="collapse in dashFilter" id="Filterbtn ">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <h3>Ad Hoc Search </h3>
            <div class="row form inputDesign" *ngFor="let adhocSearchObj of adhocSearch;let i = index; let last = last">
              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" *ngIf="i > 0">
                <select name="" class="SlectBox resetSelect" [(ngModel)]="adhocSearchObj.LogicalOperator" [ngModelOptions]="{standalone: true}">
                  <option value="">Select LogicalOperator</option>
                  <option value="AND">And </option>
                  <option value="OR">Or </option>
                </select>
              </div>
              <div [class]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12'">
                <select class="SlectBox resetSelect" [(ngModel)]="adhocSearchObj.ColumnName" [ngModelOptions]="{standalone: true}">
                  <!--<option [value]="column.value" *ngFor="let column of columnList">{{column.name}}</option>-->
                  <option value="">Select Column</option>
                  <option [value]="column.ColumnName" *ngFor="let column of columnList">{{column.ColumnDataValue}}</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 ">
                <select name=" " [(ngModel)]="adhocSearchObj.Operator" class="SlectBox resetSelect" [ngModelOptions]="{standalone: true}">
                  <option value="">Select Operator</option>
                  <option value="1">Equal </option>
                  <option value="2">Not Equal </option>
                  <option value="3">Starts With </option>
                  <option value="4">Ends With </option>
                  <option value="5">Contains</option>
                </select>
              </div>
              <div [class]="i > 0 ? 'col-md-2 col-lg-2 col-sm-2 col-xs-12' : 'col-md-3 col-lg-3 col-sm-3 col-xs-12'">
                <input type="text" class="inputField" [(ngModel)]="adhocSearchObj.ColumnValue" [ngModelOptions]="{standalone: true}" name=""
                  placeholder="Keyword" />
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
                <button type="button" class="btn btn-danger searchBtnIcon" (click)="removeAdhocSearch(i)">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" style="margin-right: 12px;" *ngIf="last" class="btn btn-primary searchBtnIcon " (click)="addAdhocSearch()">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" *ngIf="last" class="btn btn-success searchBtn searchBtnMo " (click)="search()">
                  <i class="fa fa-search"></i>
                  <span>Search</span>
                </button>
                <button type="button" *ngIf="last" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="dashboardTotalCounter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12 counter ">
          <div class="totalCount openOrder left">
            <p class="count">{{orderStatus.OpenOrder}}</p>
            <div class="details">
              <p class="title">Open Orders</p>
              <p class="link">
                <button [disabled]="orderStatus.OpenOrder==0" type="button" class="btn-small btn-link" (click)="viewReport('Open')">View
                  Report
                </button>
              </p>
              <div class="progress processBar">
                <!--<progress-bar [value]="orderStatus.OpenOrder" [max]="orderStatus.TotalOrder"></progress-bar>-->
                <md-progress-bar mode="determinate" color="info" value="{{(orderStatus.OpenOrder*100)/orderStatus.TotalOrder}}"></md-progress-bar>
                <!-- <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:(orderStatus.OpenOrder*100)/orderStatus.TotalOrder%">
                    </div>-->
              </div>
            </div>
          </div>
          <div class="totalCount holdOrder">
            <p class="count">{{orderStatus.AbortiveOrder}}</p>
            <div class="details">
              <p class="title">Abortive Orders</p>
              <p class="link">
                <button [disabled]="orderStatus.HoldOrder==0" type="button" class="btn-small btn-link" (click)="viewReport('Abortive')">View
                  Report
                </button>
              </p>
              <div class="progress processBar">
                <!--<progress-bar [value]="orderStatus.HoldOrder" [max]="orderStatus.TotalOrder"></progress-bar>-->
                <md-progress-bar mode="determinate" color="" value="{{(orderStatus.HoldOrder*100)/orderStatus.TotalOrder}}"></md-progress-bar>
                <!--<div class="progress-bar " role="progressbar" aria-valuenow="{{orderStatus.HoldOrder}}" aria-valuemin="0" aria-valuemax="{{orderStatus.TotalOrder}}" style="width:40%">
                    </div>-->
              </div>
            </div>
          </div>
          <div class="totalCount closeOrder left">
            <p class="count">{{orderStatus.ClosedOrder}}</p>
            <div class="details">
              <p class="title">Closed Orders</p>
              <p class="link">
                <button [disabled]="orderStatus.ClosedOrder==0" type="button" class="btn-small btn-link" (click)="viewReport('Closed')">View
                  Report
                </button>
              </p>
              <div class="progress processBar">
                <!--<progress-bar [value]="orderStatus.ClosedOrder" [max]="orderStatus.TotalOrder"></progress-bar>-->
                <md-progress-bar mode="determinate" color="success" value="{{(orderStatus.ClosedOrder*100)/orderStatus.TotalOrder}}"></md-progress-bar>
                <!--<div class="progress-bar " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    </div>-->
              </div>
            </div>
          </div>
          <div class="totalCount failedOrder">
            <p class="count">{{orderStatus.ReInspectionOrder}}</p>
            <div class="details">
              <p class="title">Re-Inspection Orders</p>
              <p class="link">
                <button [disabled]="orderStatus.FailOrder==0" type="button" class="btn-small btn-link" (click)="viewReport('Reinspection')">View
                  Report
                </button>
              </p>
              <div class="progress processBar">
                <md-progress-bar mode="determinate" color="#fdd400" value="{{(orderStatus.FailOrder*100)/orderStatus.TotalOrder}}"></md-progress-bar>
                <!--<progress-bar [value]="orderStatus.FailOrder" [max]="orderStatus.TotalOrder"></progress-bar>-->

                <!--<div class="progress-bar " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-8 col-sm-12 col-xs-12 ">
          <div class="Chart">
            <!--<div id="chartdiv" style="width: 100%;  height: 212px;"></div>-->
            <div id="chartdiv"></div>
            <!--<img src="asset/img/topChart.png" alt="" class="img-responsive" />-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="chartHeading">
    <div class="container-fluid chartHeadingBg">
      <div class="row ">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="inputDesign yearFilter">
            <select name=" " class="SlectBox" (change)="changeAllCharts($event.target.value)">
              <option value="{{currentYear}}" selected>Year {{currentYear}} </option>
              <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
              <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
              <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
              <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="FailureAnalysis">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ChartContainer faliureChart">
              <h3>Failure Analysis</h3>
              <div class="inputDesign yearFilter">
                <select name="" class="SlectBox" [(ngModel)]="failureSelectedYear" (change)="changeFailureAnalysisChart($event.target.value)">
                <option value="{{currentYear}}" [selected]="failureSelectedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
                </select>
              </div>
              <div id="failureAnalysisChart" class="chartContainer"></div>
            </div>
          </div>
        </div>
      </section>-->
  <section class="PerformanceAnalysis">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
          <div class="ChartContainer left">
            <h3>Monthly Pass Fail Analysis</h3>
            <div class="inputDesign yearFilter">
              <select name="" class="SlectBox" [(ngModel)]="failureSelectedYear" (change)="changeMonthlyPassFailAnalysis($event.target.value)">
                <option value="{{currentYear}}" [selected]="failureSelectedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
              </select>
            </div>
            <div id="MonthlyPassFailAnalysis" class="chartContainer" style="height: 350px"></div>
          </div>
          <div class="ChartContainer right">
            <h3>Inspection Result</h3>
            <div class="inputDesign yearFilter">
              <select name="" class="SlectBox" [(ngModel)]="sampleReceivedYear" (change)="changePassFailHoldStatusChart($event.target.value)">
                <option value="{{currentYear}}" [selected]="sampleReceivedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
              </select>
            </div>
            <div id="SamplePassVsFailAndHold" class="chartContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="PerformanceAnalysis">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
          <div class="ChartContainer left">
            <h3>Performance Analysis</h3>
            <div class="inputDesign yearFilter">
              <select name=" " class="SlectBox" [(ngModel)]="performanceSelectedYear" (change)="changePerformanceStatusChart($event.target.value)">
                <option value="{{currentYear}}" [selected]="performanceSelectedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
              </select>
            </div>
            <div id="performanceChart" class="chartContainer"></div>
            <!--<img src="asset/img/PerformanceAnalysis.png" alt="" class="img-responsive" />-->
          </div>
          <!-- <div class="ChartContainer right">
            <h3>TAT Analysis</h3>
            <div class="inputDesign yearFilter">
              <select name="" class="SlectBox" [(ngModel)]="tatSelectedYear" (change)="changeTATAnalysisChart($event.target.value)">
                <option value="{{currentYear}}" [selected]="tatSelectedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
              </select>
            </div>
            <div id="analysisChart" class="chartContainer"></div>
          </div> -->
          <div class="ChartContainer right">
            <h3>Inspection Scheduled vs Finished</h3>
            <div class="inputDesign yearFilter">
              <select name="" class="SlectBox" [(ngModel)]="scheduledAndFinishedSelectedYear" (change)="changeScheduledAndFinishedChart($event.target.value)">
                <option value="{{currentYear}}" [selected]="scheduledAndFinishedSelectedYear==null">Year {{currentYear}} </option>
                <option value="{{currentYear-1}}"> Year {{currentYear-1}} </option>
                <option value="{{currentYear-2}}"> Year {{currentYear-2}} </option>
                <option value="{{currentYear-3}}"> Year {{currentYear-3}} </option>
                <option value="{{currentYear-4}}"> Year {{currentYear-4}}</option>
              </select>
            </div>
            <div id="ScheduledAndFinished" class="chartContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>