<!--<body class="dashboard">
    <div class="warpper-inner e-commerce">
      <div class="content-inside">
   <mini-header></mini-header>
   </div>
   <h1>{{message}}</h1>
   </div>
</body>-->




<div *ngIf="isLoader">
  <div class="loading-dialog"></div>
</div>

<body class="login loginBg">
  <div class="warpper-inner paypal">
    <!--e-commerce-->
    <div class="content-inside">
      <section class="steps">
        <div class="container">
          <div id="row">

            <!--<div class="col-md-12">
              <div class="stepsContainer show">
              <div class="stepsContent show" id="MakePayment">
                  <div class="stepsContentHeader">
                      <h1>Thank you </h1>
                      <p>{{message}}</p>
                  </div>
                  <div class="stepsContentBody MakePayment">
                      <div class="orderSubmitted">
                          <div class="OrderDetails">
                              <h4>Order Details</h4>
                              <ul>
                                  <li>e-TRF Number:</li><li class="value">{{eTRFNo}} &nbsp;</li>
                                  <li>Order total:</li><li class="value">${{Price}}</li>
                                  <li>Order date:</li><li class="value">07/12/2017</li>
                              </ul>
                              <h5 class="printIcon">Print receipt</h5>
                          </div>
                          <div class="hr"> <hr /></div>
                          <div class="AccountDetails">
                              <div class="needHelp">
                                  <p class="text">Need help?</p>
                                  <p class="moNo">+91 (0120) 65 111 60</p>
                                  <p class="date">Monday to Friday, 10AM to 7PM </p>
                              </div>
                          </div>
                      </div>
                      


                  </div>
                  <div class="stepsContentFooter">
                      <a id="" [routerLink]="['/orderPackages']"  class="btn btn-success  gotoHomePage" data-target="SelectService" data-hide="MakePayment">GO TO HOME PAGE</a>
                  </div>
              </div>
              </div>
          </div>-->

            <div class="signUpBox">
              <div class="logo success">
                <img alt="" class="img-responsive" src="asset/img/logo.jpg">
              </div>
              <table class="thanku-wrapper thankuTable success" width='80%' align="center">
                <tr>
                  <td align="center" class="trthanks">
                    <h1>{{message}}</h1>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div class="thankyou-msg">
                      <p>We received Payment of
                        <b>${{Price}}</b>.</p>
                      <p *ngIf="categoryId==1">You can track your order by ETRF No.
                        <b>{{eTRFNo}}</b> .</p>
                      <p *ngIf="categoryId==2">You can track your order by Booking Form No.
                        <b>{{eTRFNo}}</b> .</p>
                    </div>
                    <div class="buttonContainer">
                      <p>
                        <b *ngIf="categoryId==1">*Please print out the eTRF, attach it with your samples and send to the lab location address on the
                          eTRF.</b>
                      </p>
                      <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Track your order"   (click)="TrackOrder()">Track Your order <i class="fa fa-truck marginleft"></i></button>
                      <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Download TRF" (click)="PrintEtrf(eTRFNo)" *ngIf="categoryId==1">TRF <i class="fa fa-download marginleft"></i> </button>
                      <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Download Booking form" (click)="PrintEtrf(eTRFNo)" *ngIf="categoryId==2">Booking Form <i class="fa fa-download marginleft"></i> </button>
                      <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Download Invoice" (click)="PrintInvoice(invoiceFileName)">Invoice <i class="fa fa-download marginleft"></i> </button>
                      <p class="mt-20">
                        <a id="" [routerLink]="['/e-commerce-home']" data-toggle="tooltip" title="Go to home page" class="btn btn-success  gotoHomePage" target="_self">GO TO HOME PAGE <i class="fa fa-home marginleft"></i></a>
                      </p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>