<body class="" *ngIf="userCredential && userDetails">
  <div class="warpper-inner">
    <div class="content-inside">
      <custom-header></custom-header>
      <div *ngIf="isLoading">
        <div class="loading-dialog"></div>
      </div>
      <section class="breadcrum_bg">
        <div class="container-fluid">
          <p>
            <a>Dashboard </a>
            <img src="asset/img/angle-right.png" />Order Information </p>
        </div>
      </section>
      <section class="filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 ">
              <h3>Search</h3>
              <div class="filterBtn open_in" data-toggle="collapse" data-target="#Filterbtn"></div>
              <form id="Filterbtn" class="collapse in">
                <div class="row form inputMatrial">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
                    <md-input type="text" [(ngModel)]="orderInfo.Temp_TRF_ID" [ngModelOptions]="{standalone: true}" placeholder="ETRF NO."></md-input>
                  </div>

                  <div class="row form inputDesign">
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                      <button type="button" class="btn btn-success searchBtn " (click)="search(1)"> Search</button>
                      <!-- <button type="button" class="btn btn-primary-one searchBtn " (click)="resetSearchForm()"> Reset</button> -->
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid">
          <div *ngIf="isLoader">
            <div class="loading-dialog"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div>
                <div class="col-md-12" *ngIf="!!orderInformationData.TestItems?.length > 0" style="background: white;margin-top: 20px;margin-bottom: 20px;padding-top: 10px;">

                  <div class="col-md-6" *ngIf="!!orderInformationData.ApplicantInfo">
                    <p>
                      <b style="color:#4c7fb7;">Applicant Info</b>
                    </p>
                    <p> {{orderInformationData.ApplicantInfo.Name}}</p>
                    <p>{{orderInformationData.ApplicantInfo.CompanyName}}</p>
                    <p> {{orderInformationData.ApplicantInfo.Address1}}</p>
                    <p>Mob - {{orderInformationData.ApplicantInfo.Phone}}</p>
                    <p>Email - {{orderInformationData.ApplicantInfo.Email}}</p>
                  </div>

                  <div class="col-md-6 pull-right text-left" style="padding-left: 400px;" *ngIf="!!orderInformationData.LabInfo">
                    <p>
                      <b style="color:#4c7fb7;">Lab Location</b>
                    </p>
                    <p *ngIf="orderInformationData.LabInfo?.Name">{{orderInformationData.LabInfo?.Name}}</p>
                    <p *ngIf="orderInformationData.LabInfo?.Address1 || orderInformationData.LabInfo?.Address2">{{orderInformationData.LabInfo?.Address1}} {{ orderInformationData.LabInfo?.Address2}}</p>
                    <p *ngIf="orderInformationData.LabInfo?.CityStateCountry || orderInformationData.LabInfo?.CountryCode || orderInformationData.LabInfo?.ZipCode">{{orderInformationData.LabInfo?.CityStateCountry}}, {{orderInformationData.LabInfo?.CountryCode }}
                      <span *ngIf="orderInformationData.LabInfo?.ZipCode"> - </span>{{ orderInformationData.LabInfo?.ZipCode}}</p>
                    <p *ngIf="orderInformationData.LabInfo?.Phone || orderInformationData.LabInfo?.Fax || orderInformationData.LabInfo?.Mob">
                      <span *ngIf="orderInformationData.LabInfo?.Phone">Phone - </span>{{ orderInformationData.LabInfo?.Phone}}
                      <span *ngIf="orderInformationData.LabInfo?.Fax">, Fax - </span>{{ orderInformationData.LabInfo?.Fax}}
                      <span *ngIf="orderInformationData.LabInfo?.Mob">, Mob - </span>{{ orderInformationData.LabInfo?.Mob}}</p>
                    <p *ngIf="orderInformationData.LabInfo?.Email">Email - {{ orderInformationData.LabInfo?.Email}}</p>
                  </div>
                </div>

                <div *ngIf="!!orderInformationData.TestItems?.length > 0" class="card-Container row">
                  <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 " style="width: 100%;" *ngIf="!!orderInformationData?.TestItems">
                    <div class="table-responsive individualPackages">
                      <table class="table" style="margin-bottom: 0px !important;">
                        <thead class="head" style="background: #68cd00;color: #fff;">
                          <tr>
                            <th class="textLeft">Test Name</th>
                            <th class="textLeft">Test Price ( $ )</th>
                            <th class="textLeft">Test Quantity </th>
                            <th class="textLeft">Quantity </th>
                            <th class="textLeft">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody style="background:white;">
                          <tr *ngFor="let package of orderInformationData.TestItems">
                            <td class="textLeft">{{package.Name}}</td>
                            <td class="textLeft">{{package.Price}}</td>
                            <td>
                              <input type="number" min="1" max="100" (keypress)="restrictUser($event)" (keydown)="restrictBackspace($event)" [(ngModel)]="package.Quantity">
                            </td>
                            <td class="textLeft">
                              <div class="p-details-link addColorLink">
                                <span style="color: #0067aa;">Additional Color ? {{(package.ColorwayQty==0)?"":": "+package.ColorwayQty}}</span>
                                <!-- <div class="radioMTS radioMTS-primary"> -->
                                <input type="radio" [checked]="package.ColorwayQty > 0" [disabled]="package.ColorwayPrice == 0" id="A{{package.Sno}}" name="{{package.Sno}}"
                                  value="yes" (change)="opencolorway($event,package)"> Yes
                                <!-- <label for="A{{package.Sno}}">Yes</label> -->
                                <input type="radio" [checked]="package.ColorwayQty === 0" id="B{{package.Sno}}" name="{{package.Sno}}" value="no" (change)="opencolorway($event,package)"> No
                                <!-- <label for="B{{package.Sno}}">No</label> -->
                                <!-- </div> -->
                              </div>
                            </td>
                            <td class="textRight">
                              <div class="p-selectBtn" style="padding: 4px 15px;border: 1px solid #ddd;width: 91px;border-radius: 4px;position: relative;">
                                <div class="checkbox checkbox-success">
                                  <input id="checkbox{{package.Sno}}" (change)="selectionCheck($event,package);" type="checkbox">
                                  <label for="checkbox{{package.Sno}}">Select</label>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div *ngIf="!!orderInformationData.TestItems?.length > 0" class="TermsAndConditions">
                  <h2 class="manage-deisgn"> REMARKS</h2>
                  <div>
                    <textarea rows="6" [maxLength]="1000" [(ngModel)]="orderInfo.Remarks" style="width: 100%;margin-bottom: 10px;" placeholder="Enter Remarks"></textarea>
                  </div>
                </div>
                <div *ngIf="!!orderInformationData.TestItems?.length > 0">
                  <button type="button" class="btn btn-success searchBtn pull-right" [disabled]="!isAnyPackageSelected" (click)="saveInfo()">
                    Submit</button>
                </div>


              </div>


              <div id="EnquiryForm" class="modal fade Enquiry" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 600px;">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">
                        <span></span>ENQUIRY FOR SERVICES</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row inputDesign">
                        <div class="">
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <h4>Please use this enquiry form to send us an enquiry.</h4>
                            <h5 style="color: #337ab7">Tell us your Service Requirement</h5>
                            <label>Subject</label>
                            <input type="text" [maxLength]="200" id="Enquirysubject" [(ngModel)]="subjectModal" placeholder="Enter Subject" />
                          </div>
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                            <label>Comments</label>
                            <textarea rows="6" [maxLength]="1000" id="Enquirycomments" [(ngModel)]="commentsModal" placeholder="Enter Comments"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="sendEnquiry()">Send</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <custom-footer></custom-footer>
</body>
<div class="modal fade" id="AddColorway" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm e-commerceViewModel">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header header-success">
        <button type="button" class="close" (click)="closeColorWay()">&times;</button>
        <h4 class="modal-title">Adding number of colors </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mb-20">Enter number of colors
            <b class="text-success">(${{ColorwayPrice}}/Quantity)</b>
          </div>
          <div class="col-xs-12 mb-20">
            <input type="number" class="form-control" placeholder="Enter Color" min="1" max="100000" [(ngModel)]="colorwayData" /> </div>
          <div class="col-xs-12 mb-20">
            <span class="text-danger">{{colorQuantityRange}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="colorwaySubmit(colorPopUpPackage)">Submit</button>
        <button type="button" class="btn btn-danger" (click)="closeColorWay()">Close</button>
      </div>
    </div>
  </div>
</div>