.manage-deisgn {
padding: 10px 15px;
border-bottom: 1px solid #68cd00;
background: #68cd00;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: #fff;
font-size: 18px;
margin-bottom: 0px;
}