<body class="login loginBg">
  <div class="warpper-inner">
    <div class="content-inside">
      <section class=" ">
        <div class="container">
          <div id="row">
            <div class="loginBox">
              <div class="logo">
                <img src="asset/img/logo.jpg" class="img-responsive" alt="" /> </div>
              <form id="userLogin" method="post" class="pddn-20-top inputMatrial">
                <p class="text">Enter the email address assiociated with your Client Portal Account.</p>
                <div class="form-group userId">
                  <md-input placeholder="Email ID" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="email"></md-input>
                  <!--<input type="email" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" class="form-control" id="" placeholder="Email ID">-->
                  <div class="error">
                    <span></span>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" (click)="resetPassword()" class="btn btn-primary btn-block loginBtn">Submit</button>
                  <p>
                    <a href="" [routerLink]="['/login']" class="forgetPass">Login Here </a>
                  </p>

                </div>
                <!-- <p class="text">A mail has been sent to your registered email address. Please click on the link given on email and reset your password.</p> -->
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>