<table id={{tableId}} class="etrf-table">
  <thead>
    <tr>
      <th *ngFor="let field of fieldsArr" [ngStyle]="{'width': field.width}"> {{field.enterLabelName}} </th>
      <th class="hide-pdf" style="width: 50px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableArrObj.addDataArr; let i = index">
      <td *ngFor="let field of fieldsArr; let innerIndex = index ">
        <app-show-field [fieldObj]="field" [calledFrom]="'table'" [index]="i" [innerIndex]="innerIndex" [sectionObj]="sectionObj" [tableObj]="tableArrObj"
          [modelVal]="tableArrObj.addDataArr[i][innerIndex]" [tableIndex]="tableIndex">
        </app-show-field>
      </td>
      <td class="hide-pdf">
        <button class="btn btn-danger" (click)="removeToTable(i)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    <tr class="addTableRow">
      <td *ngFor="let field of fieldsArr; let i = index ">
        <app-show-field [fieldObj]="field"></app-show-field>
      </td>
      <td class="hide-pdf">
        <button class="btn btn-primary" (click)="addToTable(fieldsArr)">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>